@charset "UTF-8"

// IMPORT COMPASS AND EXTENSIONS
@import compass
@import breakpoint
@import ../../../fonts/icons/icons
@import partials/base/00-variables/all
@import partials/base/03-extend/gsb-revamp

// Follow Us
.pane-gsb-public-custom-blocks-gpcb-follow-us
  +background(image_url('cta-follow-us.jpg') no-repeat top left, #89c0c5)
  height: 144px
  position: relative
  // Header
  h2
    font-size: 0
    line-height: 0
  .social-title
    background: rgba($teal-dark, 0.85)
    color: $white
    display: block
    font-family: $font-demi
    font-size: 18px
    font-weight: normal
    line-height: 1.2
    padding: 12px $standard-padding
    +icon-after("arrow-double-right", true)
    &:after
      color: $white
      display: inline-block
      font-size: 12px
      margin-left: 3px
    &:hover
      background: rgba($text-blue, 0.85)
      color: $white
      text-decoration: underline

  // Social icons
  .icon-wrapper
    margin-top: $standard-padding
    max-width: 270px
    padding: 0 $standard-padding
