@charset "UTF-8"

// IMPORT COMPASS AND EXTENSIONS
@import compass
@import breakpoint
@import ../../../fonts/icons/icons
@import partials/base/00-variables/all
@import partials/base/03-extend/gsb-revamp

// Banner breadcrumbs - @todo remove this sheet
#block-gsb-public-custom-blocks-gpcb-breadcrumbs
  color: $white
  font-size: 14px
  +breakpoint($bp-tablet-port-max)
    display: none
  .breadcrumb
    line-height: 1
    // WP-1773
    +breakpoint($bp-mobile-min)
      // WPBQA-158
      padding-bottom: 8px
    top: 0
    margin-bottom: 0
  a
    color: $white
    &:hover
      border-bottom: 2px solid $white
      text-decoration: none
