@charset "UTF-8"

// IMPORT COMPASS AND EXTENSIONS
@import compass
@import breakpoint
@import ../../../fonts/icons/icons
@import partials/base/00-variables/all
@import partials/base/03-extend/gsb-revamp

// Mobile Insights link next to logo
#block-gsb-public-custom-blocks-gpcb-mobile-insights
  display: none
  +breakpoint($bp-mobile-max)
    border-left: 1px solid #d6d6d6
    display: inline-block
    height: 30px
    margin-top: 10px
    h2
      line-height: 0
      a
        color: $text-black
        font-family: $font-demi
        font-size: 20px
        font-weight: normal
        line-height: 1.5
        padding-left: 10px
