@charset "UTF-8"

// IMPORT COMPASS AND EXTENSIONS
@import compass
@import breakpoint
@import ../../../fonts/icons/icons
@import partials/base/00-variables/all
@import partials/base/03-extend/gsb-revamp

// Get Directions map link block
.map-link
  @extend %bg-and-box-shadow
  background: image_url('cta-map.png') repeat-x top left
  clear: both
  display: block
  overflow: hidden
  padding: 20px
  +breakpoint(480px 568px)
    background: image_url('cta-map-mobile-2015-05-26-1.jpg') repeat-x 80% 30%
  &:hover
    display: block
    overflow: hidden
    border: 2px $white solid

  .cta-body
    padding: 13px 15px
    background: rgba(30, 82, 109, 0.9)
    color: $white
    font-size: 21px
    line-height: 1.5em
    margin-bottom: 0
  &:hover .cta-body
    background: rgba(123, 130, 1, 0.8)
