@charset "UTF-8"

// IMPORT COMPASS AND EXTENSIONS
@import compass
@import breakpoint
@import ../../../fonts/icons/icons
@import partials/base/00-variables/all
@import partials/base/03-extend/gsb-revamp

// Alumni navigation in banner
#block-menu-menu-alumni-utility-nav
  position: absolute
  right: 0
  top: 8px
  +breakpoint($bp-tablet-port-max)
    display: none
  +breakpoint(1199px max-width)
    right: 140px
  li
    display: inline-block
  a
    color: $red
    font-family: $font-demi
    font-size: 16px
    line-height: 1.2
    margin: 0 8px
.page-alumni
  +breakpoint($bp-for-phone-only)
    #utility
      left: 0
      .section
        &:before
          background: url("../../../images/icons/Alumni-utility-arrow-gray-@2x.png") 0 0 no-repeat
          content: " "
          height: 15px
          position: absolute
          top: -3px
          width: 32px
          left: 40px
        .region-utility
          background-color: $grey-hp
          border: 1px solid #ccc
          padding: 5px 0 10px
          margin: 10px
        .menu
          display: flex
          justify-content: space-evenly
          height: 48px
          min-width: 54px
          text-align: center
          li:last-of-type
            display: none
          li
            min-width: 54px
            a
              padding-left: 0

              &:before
                content: " "
                display: block
                height: 36px
            a
              margin: 0 auto

    // Menu icons
    //Email
    li.menu-mlid-37611
      a
        &:before
          background: url("../../../images/icons/icon-email-36x36.png") center 0 no-repeat
    // Directory
    li.menu-mlid-37616
      a
        &:before
          background: url("../../../images/icons/icon-directory-36x36.png") center 0 no-repeat
    // Events
    li.menu-mlid-37621
      a
        &:before
          background: url("../../../images/icons/icon-calendar-36x36.png") center 0 no-repeat
    // Account
    li.menu-mlid-37626
      a
        &:before
          background: url("../../../images/icons/icon-account-36x36.png") center 0 no-repeat
    // Login
    li.menu-mlid-37631
      a
        &:before
          background: url("../../../images/icons/icon-login-36x36.png") center 0 no-repeat