// Page layouts

// Regions

// First sidebar region
#sidebar
  .sidebar
    float: left
    margin-right: 65px
    width: 235px
    +breakpoint($bp-wide-min)
      padding-top: 30px
    +breakpoint($bp-content)
      padding-left: 20px
    h2
      display: none
    +breakpoint($bp-tablet-port-max)
      float: none
      margin: 0
      width: 100%

// Main region
#main
  overflow: hidden

// Bottom spacing for items in sidebars
.inner-sidebar-wrapper
  .panel-pane
    margin-bottom: 30px !important
    +breakpoint($bp-mobile-max)
      margin-bottom: 15px !important

#quicklinks
  .panel-pane
    margin-bottom: 30px !important
    +breakpoint($bp-mobile-max)
      margin-bottom: 15px !important

// Panels layouts

// General styles
.panel-display
  .full-header,
  .inner-content-wrapper
    max-width: $max-width
    +clearfix

  // Main section
  .main-wrapper
    float: left
    margin-right: -300px
    width: 100%
    +breakpoint($bp-mobile-max)
      float: none
      margin: 0

  .inner-main-wrapper
    margin-right: 300px
    +breakpoint($bp-mobile-max)
      margin: 0

  // Right sidebar
  .inner-sidebar-wrapper
    float: right
    width: 270px
    +breakpoint($bp-mobile-max)
      float: none
      width: 100%

// Standard 2 (.gsb-standard-page-two)
.panel-display.gsb-standard-page-two
  // Specific pane spacing for this layout
  .inner-main-wrapper
    .panel-pane
      margin-bottom: 20px

// Events landing (.gsb-event-landing)
.panel-display.gsb-event-landing

  // Featured event
  .featured-event
    background: #f4f4f4
    padding: $standard-padding 0
    +breakpoint(900px max-width)
      display: none

  // Content
  #top-content,
  .content-wrapper
    margin: 0 auto
    max-width: 870px

  .content-wrapper
    padding: $standard-padding 0

  // Main section
  .main-wrapper
    float: left
    margin-right: -300px
    width: 100%
    +breakpoint($bp-mobile-max)
      float: none
      margin: 0

  .inner-main-wrapper
    margin-right: 300px
    +breakpoint($bp-mobile-max)
      margin: 0

  // Right sidebar
  .inner-sidebar-wrapper
    float: right
    width: 270px
    +breakpoint($bp-mobile-max)
      float: none
      width: 100%

// Widescreen layout
.panel-display.gsb-widescreen
  .panel-pane
    margin-bottom: 20px
    .panels-ipe-editing &
      margin-bottom: 0

  // Featured content
  .featured-content
    padding: $standard-padding 0

  // Content
  #top-content,
  .content-wrapper
    margin: 0 auto
    max-width: 1170px

  .content-wrapper
    padding: $standard-padding 0

  // Main section
  .main-wrapper
    float: left
    margin-right: -400px
    width: 100%
    +breakpoint($bp-mobile-max)
      float: none
      margin: 0

  .main-wrapper
    margin-left: 50px

  .inner-sidebar-wrapper
    margin-right: 50px

  .inner-main-wrapper
    margin-right: 500px
    +breakpoint($bp-mobile-max)
      margin: 0

  .main-middle
    +pie-clearfix
    .column-first,
    .column-second
      width: 270px
      +breakpoint(1210px max-width)
        width: 100%
    .column-first
      float: left
    .column-second
      float: right
      +breakpoint(1210px max-width)
        float: left

  // Right sidebar
  .inner-sidebar-wrapper
    float: right
    width: 270px
    +breakpoint($bp-mobile-max)
      float: none
      width: 100%

// Landing Standard 1 Page layout
.panel-display.gsb-landing-standard-page-one
  .full-header,
  .main-header,
  .main-middle,
  .main-footer
    .panel-pane
      margin-bottom: 20px
    .panels-ipe-editing &
      margin-bottom: 0
  .main-middle
    +pie-clearfix
    .column-first,
    .column-second
      width: 270px
      +breakpoint(1210px max-width)
        width: 100%
    .column-first
      float: left
    .column-second
      float: right
      +breakpoint(1210px max-width)
        float: left

// Front page panel layout
.panel-display.gsb-front-page
  .front-slider-pane
    float: left
    width: 74.35897%
  .front-sidebar-pane
    margin-left: 76.92308%
  .front-panel-feature-one
    float: left
    margin-right: -100%
    width: 48.71795%
    clear: left
  .front-panel-feature-two
    float: left
    margin-left: 51.28205%
    margin-right: -100%
    width: 23.07692%
  .front-panel-feature-three
    clear: right
    float: right
    margin-left: 76.92308%
    width: 23.07692%

// Front page responsive
.panel-display.gsb-front-page
  .front-slider-pane
    +breakpoint(850px max-width)
      float: none
      width: 100%
  .front-sidebar-pane
    +breakpoint(850px max-width)
      margin-left: 0
  +breakpoint($bp-tablet-port-max)
    .front-panel-feature-one
      clear: right
      width: 59.02307%
    .front-panel-feature-two
      clear: right
      float: right
      margin-left: 63.09362%
      margin-right: 0
      width: 36.90638%
    .front-panel-feature-three
      float: none
      margin: 0
      width: 100%
      +breakpoint($bp-nexus-portrait)
        width: 561px
      .panel-pane
        margin-bottom: 30px
        +breakpoint($bp-tablet-port-max)
          margin-bottom: 20px
        +breakpoint($bp-mobile-max)
          margin-bottom: 1px
  +breakpoint(603px 750px)
    .front-panel-feature-one
      margin: 0 0 20px 0
      width: 100%
    .front-panel-feature-two
      margin: 0
      width: 100%
  +breakpoint(605px max-width)
    .front-slider-pane,
    .front-panel-feature-one,
    .front-panel-feature-two,
    .front-panel-feature-three
      clear: both
      margin-bottom: 15px
      width: 100%
    .front-panel-feature-two
      clear: left
      float: none
      margin: 0 0 15px 0
  +breakpoint($bp-mobile)
    .front-slider-pane
      width: 292px
    .front-panel-feature-one,
    .front-panel-feature-two,
    .front-slider-pane-panel-feature-three
      width: 290px

// Bottom region
#bottom
  #block-views-gsb-idea-story-listing-block
    clear: none
    float: left
    margin-right: -100%
    width: 48.7%
    +breakpoint($bp-mobile-max)
      float: none
      margin: 0
      margin-bottom: 30px
      width: 100%

  #block-views-3d4066a27ed172aa07e6b07bf9a3bc3f
    clear: none
    float: left
    margin-left: 51.28205%
    margin-right: -100%
    width: 23.077%
    +breakpoint(999px max-width)
      margin-left: 35%

  #block-block-11
    clear: right
    float: right
    margin-bottom: 30px
    margin-left: 76.92308%
    margin-right: 0
    width: 23.077%

  #block-block-16
    clear: right
    float: right
    margin-left: 76.92308%
    margin-right: 0
    width: 23.077%

  #block-views-gsb-idea-story-listing-block,
  #block-views-3d4066a27ed172aa07e6b07bf9a3bc3f,
  #block-block-11,
  #block-block-16
    +breakpoint(999px max-width)
      width: 30%
    +breakpoint(768px max-width)
      float: none
      margin: 0
      margin-bottom: 30px
      width: 100%

// Editing layouts
.panels-ipe-editing
  .main-wrapper
    display: block
    float: left
  .panel-display
    .featured-event
      margin: 0 auto
      width: 870px
    .inner-main-wrapper
      .gsb-event-landing &
        width: 570px
    .inner-sidebar-wrapper
      margin-left: 0
  .panels-ipe-placeholder h3
    width: 50%

// Hide style button
.panels-ipe-linkbar .style
  display: none

// Insights layout A
.gsb-insights-a
  .narrow-view
    max-width: $narrow-view
    +breakpoint(1170px max-width)
      max-width: $narrow-view
    +breakpoint(605px max-width)
      max-width: $wide-view
    .panels-ipe-editing &
      width: $narrow-view

  .wide-view
    max-width: $wide-view
    min-width: $narrow-view
    +breakpoint(1170px max-width)
      max-width: $narrow-view
    +breakpoint(605px max-width)
      max-width: $wide-view
    .panels-ipe-editing &
      width: $wide-view

  .full-header,
  .wide-narrow-narrow,
  .narrow-narrow-wide,
  .narrow-wide-narrow,
  .narrow-narrow-narrow-narrow
    .panel-pane
    .panels-ipe-editing &
      margin-bottom: 0


  // NEW STUFF
  .insights-main-wrapper
    display: flex
    flex-flow: row wrap
    justify-content: space-between
    div
      margin-bottom: 20px

// Insights layout B
.gsb-insights-b
  // Wrapper for main and sidebar
  .insights-card-wrapper
    +clearfix
  // Main wrapper
  .insights-main-wrapper
    float: left
    margin-right: -320px
    padding-right: 270px
    +breakpoint(1210px max-width)
      margin-right: 0
      padding-right: 0
    +breakpoint($bp-mobile-max)
      float: none
      margin: 0

  // Right sidebar
  .insights-sidebar-wrapper
    float: right
    +breakpoint($max-width max-width)
      max-width: 570px
      float: none
      width: 100%
    .panel-pane
      margin-bottom: 30px
    .panels-ipe-editing &
      margin-bottom: 0

  .wide-view
    max-width: $wide-view
    min-width: $wide-view
    +breakpoint($max-width max-width)
      max-width: 100%
      min-width: 100%
    .panels-ipe-editing &
      width: $wide-view

  .narrow-view
    max-width: $narrow-view
    min-width: $narrow-view
    +breakpoint($max-width max-width)
      max-width: 100%
      min-width: 100%
    .panels-ipe-editing &
      width: $narrow-view

  .column.first,
  .column.second
    margin-right: 30px
    +breakpoint($max-width max-width)
      margin-right: 0

  .column
    float: left
    +breakpoint($max-width max-width)
      float: none

  .full-header,
  .wide-narrow-narrow,
  .narrow-wide,
  .narrow-narrow-narrow-narrow
    +clearfix
    .panel-pane
      margin-bottom: 30px
    .panels-ipe-editing &
      margin-bottom: 0

  .narrow-wide
    .second
      +layout-alpha-beta-gamma

  .wide-narrow-narrow
    .second
      +breakpoint($max-width max-width)
        margin-right: 0

  .narrow-narrow-narrow-narrow
    clear: both
    .third
      margin-right: 30px
      +breakpoint($max-width max-width)
        margin-right: 0

// Insights layout C
.gsb-insights-c
  .narrow-view
    max-width: $narrow-view
    min-width: $narrow-view
    +breakpoint($max-width max-width)
      max-width: 100%
    .panels-ipe-editing &
      width: $narrow-view
  .wide-view
    max-width: $wide-view
    min-width: $wide-view
    +breakpoint($max-width max-width)
      margin-right: 0
      max-width: 48%
      min-width: inherit
    +breakpoint($max-width max-width)
      max-width: 100%
      min-width: 100%
    .panels-ipe-editing &
      width: $wide-view

  .second.wide-view
    +breakpoint($max-width max-width)
      float: right

  .full-header,
  .wide-wide,
  .narrow-narrow-narrow-narrow
    +clearfix
    .panel-pane
      margin-bottom: 30px
    .panels-ipe-editing &
      margin-bottom: 0
  .wide-wide
    .column.first
      +breakpoint($max-width min-width)
        margin-right: 30px
  .narrow-narrow-narrow-narrow
    .column.first,
    .column.second,
    .column.third
      margin-right: 30px
      +breakpoint($max-width max-width)
        margin-right: 0
  .column
    float: left
    +breakpoint($max-width max-width)
      float: none

// Display Suite layouts - from ds module

// 2 Column stacked
.ds-2col-stacked
  & > .group-left
    float: left
    width: 50%
  & > .group-right
    float: right
    width: 50%
  & > .group-footer
    clear: both
