@charset "UTF-8"

// IMPORT COMPASS AND EXTENSIONS
@import compass
@import breakpoint
@import ../../../fonts/icons/icons
@import partials/base/00-variables/all
@import partials/base/03-extend/gsb-revamp

// Existing node list fpp

.pane-bundle-existing-node-list
  @extend %bg-and-box-shadow
  padding: 0 $standard-padding 14px

  // Pane title
  .field-name-field-link-single
    background: $white
    display: block
    color: $text-black
    font-family: $font-demi
    font-size: 18px
    line-height: 1.2
    margin-bottom: 12px
    padding: 0 $standard-padding
    padding-top: 12px
    position: relative
    a
      color: $text-black
      +icon-after("arrow-double-right", true)
      &:after
        color: $green-light
        font-size: 14px
        margin-left: 3px
      &:hover
        color: $link-blue
        &:after
          color: $teal-light

  .pane-content
    @extend %black-border-top
    padding: 0 $standard-padding

  // Fake the spacing
  .fieldable-panels-pane
    margin: 0 -52px

  .field-name-field-existing-node-list-ref
    // Each row
    .field-item
      border-top: 1px $border-grey solid
      padding: 22px $standard-padding
      &:first-of-type
        border-top: 0
