@charset "UTF-8"

// IMPORT COMPASS AND EXTENSIONS
@import compass
@import breakpoint
@import ../../../fonts/icons/icons
@import partials/base/00-variables/all
@import partials/base/03-extend/gsb-revamp

.pane-bundle-landing-viewport
  position: relative
  .field-name-field-homepage-image-desktop
    display: none
    +breakpoint($bp-for-desktop-up)
      display: block
  .field-name-field-homepage-image-tablet
    display: none
    +breakpoint($bp-for-tablet-range)
      display: block
  .field-name-field-homepage-image-mobile
    display: none
    +breakpoint($bp-for-phone-only)
      display: block
  .bg-text-color-blue
    .viewport-text
      span
        background: $blue-bright
        box-shadow: 25px 0 0 $blue-bright, -25px 0 0 $blue-bright /* to get padding at end of lines no matter where it breaks */
  .bg-text-color-green
    .viewport-text
      span
        background: $viewport-green
        box-shadow: 25px 0 0 $viewport-green, -25px 0 0 $viewport-green /* to get padding at end of lines no matter where it breaks */
  .bg-text-color-purple
    .viewport-text
      span
        background: $purple-bright
        box-shadow: 25px 0 0 $purple-bright, -25px 0 0 $purple-bright /* to get padding at end of lines no matter where it breaks */
  .bg-text-color-pink
    .viewport-text
      span
        background: $pink-bright
        box-shadow: 25px 0 0 $pink-bright, -25px 0 0 $pink-bright /* to get padding at end of lines no matter where it breaks */

  .viewport-text
    position: absolute
    top: 40%
    left: 10%
    text-align: left
    width: 35%
    +breakpoint($bp-for-tablet-range)
      top: 30%
      width: 80%
    +breakpoint($bp-for-phone-only)
      top: 20%
      width: 80%
    +breakpoint($bp-mobile)
      top: 0%
    span
      line-height: 2em
      font-size: 36px
      color: $white
      padding: 13px 0
      display: inline
      box-decoration-break: clone /* Fix for Firefox to get the padding on multiline */
      opacity: .8
      +breakpoint($bp-for-tablet-range)
        font-size: 30px
        line-height: 2.5em
      +breakpoint($bp-for-phone-only)
        font-size: 18px
        line-height: 3em
      +breakpoint($bp-mobile)
        font-size: 18px
        line-height: 2.8em
      &:hover
        background-color: $hover-viewport-blue
        box-shadow: 25px 0 0 $hover-viewport-blue, -25px 0 0 $hover-viewport-blue
        opacity: 1
      a
        color: $white
        +icon-after("arrow-double-right", true)
        &:after
          @extend %arrow-double-big
          color: $white
          font-weight: normal
          position: relative
          right: 0
          padding-left: 10px
          +breakpoint($bp-for-tablet-range)
            top: 2px
          +breakpoint($bp-for-phone-only)
            top: 2px
        &:hover
          text-decoration: none

  .scrollLink
    color: $white
    cursor: hand
    cursor: pointer
    font-size: 16px
    font-weight: bold
    left: 50%
    padding-bottom: 80px
    position: absolute
    transform: translate(-50%, -50%)
    +icon-after("arrow-med-down", true)
      display: block
      padding: 10px 45px
      +breakpoint($bp-mobile)
        padding: 0 45px
    +breakpoint($bp-for-phone-only)
      font-size: 12px
      padding-bottom: 40px
  video + .scrollLink
    bottom: 0
    padding-bottom: 10px

//testing
#edit-field-homepage-image-url
  #field-homepage-image-url-add-more-wrapper
    .link-field-column
      float: none
      width: 100%
    .form-item-field-homepage-image-url-und-0-title
      input#edit-field-homepage-image-url-und-0-title
        width: 585px