@charset "UTF-8"

// IMPORT COMPASS AND EXTENSIONS
@import compass
@import breakpoint
@import ../../../fonts/icons/icons
@import partials/base/00-variables/all
@import partials/base/01-mixins/custom
@import partials/base/03-extend/gsb-revamp

.pane-bundle-mission-statement
  background: $white
  padding-top: 70px
  .mission-statement
    margin: 0 auto
    max-width: $max-width
    padding: 0 20px 95px
    text-align: center
    +breakpoint(374px max-width)
      padding: 0 20px 44px
      margin-top: -19px
    +breakpoint($bp-iphone5-land)
      padding: 0 20px 44px
      margin-top: -19px
    +breakpoint($bp-iphone-range-port)
      padding: 0 20px 44px
      margin-top: -19px
    +breakpoint($bp-iphone6-7-8p-land)
      padding: 0 20px 44px
      margin-top: -19px
    +breakpoint($bp-ipad-range)
      padding: 58px 20px 65px
      margin-top: -28px

    //+breakpoint($bp-mobile-max)
    //  padding: 44px 30px 50px 30px
    //+breakpoint($bp-tablet-pot)
    //  padding: 40px 35px 65px 35px
    //+breakpoint($bp-tablet-land)
    //  padding: 40px 35px 65px 35px

    h1
      padding-bottom: 55px
      +breakpoint($bp-for-desktop-up)
        margin-top: 65px
        padding-bottom: 50px
      a
        color: $red
        border-bottom: none
        &:hover
          border-bottom: 2px solid $red
          padding-bottom: 55px
      +breakpoint($bp-mobile)
        line-height: 1.2em
        padding: 0 0 20px
      +breakpoint(321px $bp-mobile-max)
        line-height: 1.2em
        word-spacing: -2px
        padding: 0 40px 20px 40px
      +breakpoint($bp-iphone6-7-8p-land)
        padding-bottom: 16px
      +breakpoint($bp-ipad-range)
        font-size: 42px
        word-spacing: -5px
        padding-bottom: 47px
      +breakpoint($bp-for-phone-only)
        font-size: 30px
      +breakpoint($bp-mobile-land)
        font-size: 30px
      +breakpoint($bp-iphone6p-land)
        font-size: 30px
      +breakpoint($bp-iphone6-7-8p-land)
        font-size: 30px
      +breakpoint($bp-tablet-pot)
        font-size: 36px
      +breakpoint($bp-tablet-land)
        font-size: 36px
    p
      color: $mission-hp
      font-size: 32px
      +breakpoint($bp-mobile-max)
        font-size: 18px
        padding: 0 28px
        line-height: 30px
      +breakpoint($bp-tablet-pot)
        line-height: 1.6em
      +breakpoint($bp-tablet-land)
        line-height: 1.6em
      +breakpoint($bp-ipad-range)
        font-size: 25px
        word-spacing: -3px
