@charset "UTF-8"

// IMPORT COMPASS AND EXTENSIONS
@import compass
@import breakpoint
@import ../../../fonts/icons/icons
@import partials/base/00-variables/all
@import partials/base/03-extend/gsb-revamp

// Quotes FPP
.pane-bundle-quotes
  margin-left: 18px
  .quotes-title
    position: relative
  p
    line-height: 0
    margin-bottom: 0
  a
    color: $text-black
    .last-double-apostrophe
      +icon-after("arrow-double-right", true)
      &:after
        color: $green-light
        font-size: 24px
        margin-left: 8px
    &:hover
      color: $link-blue
      text-decoration: none !important
      .quote,
      .attribution,
      .attribution-title
        border-bottom: 1px solid
      .last-double-apostrophe
        &:after
          color: $teal-light

  // First quotation mark
  .first-double-apostrophe
    font-size: 34px
    position: absolute
    left: -17px
    +breakpoint($bp-mobile-max)
      font-size: 38px
      left: -22px
      top: -7px

  // Quote text
  .quote
    font-size: 34px
    line-height: 1.4em
    +breakpoint($bp-mobile-max)
      font-size: 26px

  // Second quotation mark
  .last-double-apostrophe
    font-size: 34px

  // Em dash
  .dash
    margin-right: 8px

  // Attribution of quote
  .attribution
    font-size: 18px
    line-height: 1.3em
    font-weight: normal
    +breakpoint($bp-mobile-max)
      font-size: 16px

  // Attribution of quote
  .attribution-title
    font-size: 18px
    line-height: 1.3em
    font-weight: normal
    font-style: italic
    +breakpoint($bp-mobile-max)
      font-size: 16px
