@charset "UTF-8"

// IMPORT COMPASS AND EXTENSIONS
@import compass
@import breakpoint
@import ../../../fonts/icons/icons
@import partials/base/00-variables/all
@import partials/base/03-extend/gsb-revamp

// Social Feed FPP
// For the Twitter feed on the front page, go to front.sass

.pane-bundle-social-feed
  @extend %box-shadow
  padding: $standard-padding
  +background((image_url('bg-social-feed-2015-05-26-1.png') no-repeat bottom right), #d3eaeb)
  a
    color: $red
    &:hover
      color: $link-blue
    // Override external icons
    &[target="_blank"]
      &:after
        content: ""

  .twitter-title-text,
  .twitter-search-text
    display: block

  // The source, handle and title
  .group-wrapper-twitter
    font-size: 18px
    height: 40px
    line-height: 1.2
    font-weight: bold
    margin: 0
    margin-bottom: 20px
    a
      +icon-before("twitter", true)
      &:before
        @extend %gradient-red
        +border-radius(50px)
        color: $white
        display: block
        float: right
        font-size: 21px
        line-height: 2
        width: 40px
        height: 40px
        text-align: center
      &:hover
        color: $link-blue
        &:before
          background: $link-blue

// Twitter feed in Insights
.page-insights .pane-bundle-social-feed
  @extend %box-shadow
  background: $white
  border: 0

  // Twitter name
  .twitter-title-text
    display: none

  // Twitter handle
  .twitter-search-text
    position: relative
    top: 10px

  // Icon
  .field-name-field-feed-source a
    &:before
      background: $black
      float: left
      font-size: 21px
      line-height: 2
      margin-right: 8px
      width: 40px
      height: 40px
      text-align: center
    &:hover
      color: $link-blue
      &:before
        background: $link-blue
