@charset "UTF-8"

// IMPORT COMPASS AND EXTENSIONS
@import compass
@import breakpoint
@import ../../../fonts/icons/icons
@import partials/base/00-variables/all
@import partials/base/01-mixins/custom
@import partials/base/03-extend/gsb-revamp

.panels-layout-gsb-homepage
  .pane-gsb-announcement-school-listing-panel-pane-1,
  .pane-gsb-insights-stanford-business-panel-pane-1
    margin: 0 auto
    width: 1170px
    +breakpoint(320px $max-width)
      clear: both
      margin: 0
      padding: 20px
      width: 100%
    h2,
    div.pane-title
      font-weight: normal
      font-family: $font-light
      padding: 38px 0 50px
      font-size: 36px
      &:last-of-type
        padding: 38px 0 50px
      +breakpoint($bp-mobile)
        margin-top: -5px
        padding-top: 0
        padding-bottom: 20px
        margin-bottom: -5px
        font-size: 26px
      +breakpoint(321px $max-width)
        font-size: 26px
        padding-bottom: 30px
      +breakpoint(321px $bp-for-phone-only)
        font-size: 26px
        margin-top: -5px
        padding-bottom: 16px
        padding-top: 0
      +breakpoint($bp-mobile-land)
        margin-top: -5px
        padding-top: 0
        padding-bottom: 20px
        margin-bottom: -5px
        font-size: 26px
      +breakpoint($bp-iphone6p-land)
        margin-top: -5px
        padding-top: 0
        padding-bottom: 20px
        margin-bottom: -5px
        font-size: 26px
      +breakpoint($bp-iphone6-7-8p-land)
        margin-top: -5px
        padding-top: 0
        padding-bottom: 20px
        margin-bottom: -5px
        font-size: 26px
      +breakpoint($bp-tablet-pot)
        margin-top: -16px
        margin-bottom: 9px
        font-size: 36px
      +breakpoint($bp-tablet-land)
        margin-top: -16px
        margin-bottom: 9px
        font-size: 36px

    .view-gsb-announcement-school-listing
      +breakpoint($bp-for-tablet-range)
        padding: 0 103px
      +breakpoint(1199px width)
        padding: 0 200px
      .view-content
        &:after
          clear: both
          content: ''
          display: block
          margin-bottom: 70px
        +breakpoint(320px $max-width)
          &:after
            margin-bottom: 35px
      .views-row-first
        margin-right: 45px
        +breakpoint(320px $max-width)
          margin-right: 0
      .views-row-last
        +breakpoint(320px 599px)
          margin-top: 35px
        +breakpoint($bp-for-tablet-range)
          margin-top: 50px

      .views-row
        background-color: $white
        float: left
        width: 562px
        +breakpoint($bp-for-phone-tablet-range)
          width: 100%
        +breakpoint(1199px width)
          width: 100%
        .field-type-datetime
          color: $grey-hp-7
          padding-bottom: 10px
          +breakpoint($bp-for-phone-only)
            font-size: 12px
            padding-bottom: 5px
            margin-bottom: 5px
          +breakpoint(600px 979px)
            font-size: 16px
            padding-bottom: 12px
          +breakpoint(980px 1199px)
            font-size: 16px
            padding-bottom: 17px
        .field-type-image
          background: rgba(45,98,128,0.5)
          overflow: hidden
          postion: relative
          width: auto
          img
            display: block
            height: auto
            transition: all 0.3s
            width: 100%
            &:hover
              border: none
              opacity: .6
              transform: scale(1.05)
    .view-gsb-insights-stanford-business
      +breakpoint($bp-for-tablet-range)
        padding: 0 103px
      +breakpoint(1199px width)
        padding: 0 200px
      .view-content
        &:after
          clear: both
          content: ''
          display: block
          margin-bottom: 70px
        +breakpoint(320px $max-width)
          &:after
            margin-bottom: 35px
      .views-row-1
        margin-right: 44px
        +breakpoint(320px $max-width)
          margin-right: 0
      .views-row-2
        margin-right: 46px
        +breakpoint(320px $max-width)
          margin-right: 0
          margin-top: 35px
      .views-row-3
        +breakpoint(320px $max-width)
          margin-top: 35px
          margin-right: 0

      .views-row
        background-color: $white
        float: left
        width: 360px
        +breakpoint(320px $max-width)
          width: 100%
        .field-type-datetime
          color: $grey-hp-7
          padding-bottom: 10px
          +breakpoint($bp-for-phone-only)
            font-size: 12px
            padding-bottom: 10px
          +breakpoint(600px 979px)
            font-size: 16px
            padding-bottom: 12px
          +breakpoint(980px 1199px)
            font-size: 16px
            padding-bottom: 17px
        .field-type-image
          background: rgba(45,98,128,0.5)
          overflow: hidden
          postion: relative
          width: auto
          img
            display: block
            height: auto
            transition: all 0.3s
            width: 100%
            &:hover
              border: none
              opacity: .6
              transform: scale(1.05)
    .group-news-wrapper
      border-bottom: 1px solid $listing-divider
      border-left: 1px solid $listing-divider
      border-right: 1px solid $listing-divider
      padding: 27px 30px 45px 40px
      +breakpoint($bp-iphone-port-to-land-range)
        padding: 24px 30px 39px 40px
      +breakpoint(600px 979px)
        padding: 27px 30px 39px 40px
      +breakpoint(980px 1199px)
        padding: 32px 30px 39px 40px
      &:hover
        box-shadow: 0 0 4px 2px #c4c4c4
      h3,
      span.story-title
        font-size: 20px
        font-weight: normal
        font-family: $font-sans
        a
          &:hover
            border-bottom: 2px solid $link-blue
            text-decoration: none
        +breakpoint($bp-tablet-pot)
          font-size: 26px
        +breakpoint($bp-tablet-land)
          font-size: 26px
        +breakpoint(1101px min-width)
          font-size: 26px
      .field-name-media-icon
        display: inline
        float: left
        font-size: 26px
        top: 2px
        position: relative
        +breakpoint(320px $max-width)
          top: 17px
        +breakpoint($bp-ipad-range)
          position: inherit
          padding-top: 4px
  %homepage_cta
    background-color: $red-dark
    color: $white
    font-size: 18px
    font-family: $font-demi
    min-height: 55px
    line-height: 1.2
    margin: 0 auto
    padding: 20px 20px 20px 23px
    position: relative
    width: 285px
    @extend %bg-and-box-shadow
    &:first-of-type
      border-top: 0
    &:last-of-type
      border-bottom: 0
    a
      color: $white
      +icon-after("arrow-double-right", true)
        font-size: 18px
        font-weight: normal
        line-height: 0
        margin-top: 0
        position: absolute
        right: 20px
        top: 50%
      &:hover
        color: $white
        &:after
          color: $white
  .homepage_insights-cta
    @extend %homepage_cta
    width: 205px
    margin-bottom: 35px
    &:hover
      background-color: #2D6280
      color: $white
      cursor: pointer
    +breakpoint($bp-tablet-range)
      width: 205px
      margin-top: 25px
      margin-bottom: 5px
    +breakpoint($bp-mobile)
      min-width: 280px
      margin-bottom: -20px
    +breakpoint($bp-mobile-range-375)
      min-width: 330px
      margin-bottom: -65px
    +breakpoint($bp-mobile-range-414)
      min-width: 374px
      margin-bottom: -65px
    +breakpoint(568px 736px)
      margin-bottom: -20px
  .homepage_across-cta
    @extend %homepage_cta
    padding-right: 30px
    width: 205px
    &:hover
      background-color: #2D6280
      color: $white
      cursor: pointer
    +breakpoint($bp-for-desktop-up)
      margin-bottom: 70px
    +breakpoint($bp-tablet-range)
      width: 205px
      margin-top: 25px
      margin-bottom: -5px
    +breakpoint($bp-mobile)
      min-width: 280px
      margin-bottom: -10px
    +breakpoint($bp-mobile-range-375)
      min-width: 330px
      margin-bottom: -30px
    +breakpoint($bp-mobile-range-414)
      min-width: 374px
      margin-bottom: -30px
    +breakpoint(568px 736px)
      margin-bottom: -55px
    a:after
      right: 15px
