@charset "UTF-8"

// IMPORT COMPASS AND EXTENSIONS
@import compass
@import breakpoint
@import ../../../fonts/icons/icons
@import partials/base/00-variables/all
@import partials/base/03-extend/gsb-revamp

.pane-news-by-criteria-panel-pane-1,
.pane-case-filters-panel-pane-1,
.pane-publication-filters-panel-pane-1,
.pane-working-paper-filters-working-paper-filters-pane,
.pane-book-filters-book-filters-pane,
.pane-club-filters-club-by-id-or-tag,
.pane-faculty-filters-faculty-by-criteria,
.pane-gsb-event-upcoming-events
  @extend %bg-and-box-shadow
  padding: 0 $standard-padding 14px

  // Pane title
  h2.pane-title
    @extend %black-border-top
    background: $white
    display: block
    color: $text-black
    font-family: $font-demi
    font-size: 18px
    line-height: 1.3
    margin-bottom: -10px
    padding-top: 12px
    position: relative
    a
      color: $text-black
      +icon-after("arrow-double-right", true)
      &:after
        color: $green-light
        font-size: 14px
        margin-left: 3px
      &:hover
        color: $link-blue
        &:after
          color: $teal-light

  .pane-content
    @extend %black-border-top
    padding: 0 26px

  // Fake the spacing
  .view
    margin: 0 -52px

  // Views row
  .views-row
    border-top: 1px $border-grey solid
    padding: 22px $standard-padding
    &:first-of-type
      border-top: 0

// Academic style

// Special styling for cases, publications, working papers
.pane-case-filters-panel-pane-1,
.pane-publication-filters-panel-pane-1,
.pane-working-paper-filters-working-paper-filters-pane
  background: #f4f4f4
  // Pane title
  h2.pane-title
    background: #f4f4f4
  .pane-content
    padding: 0
  // View
  .view
    margin: 0
  // Row padding
  .views-row
    padding: 18px 0
  // Title style
  .view-mode-views_content_pane h2
    font-size: 16px
  // Authors
  .gsb_field_formatter_field_collection_separator,
  .field-name-field-author
    margin-bottom: 2px

// Special styling for clubs
.pane-club-filters-club-by-id-or-tag
  background: #f4f4f4
  // Pane title
  h2.pane-title
    background: #f4f4f4
  .pane-content
    padding: 0
  // View
  .view
    margin: 0
  // Row padding
  .views-row
    padding: 18px 0
  // Title style
  .node-club.view-mode-teaser h5
    font-size: 16px
