@charset "UTF-8"

// IMPORT COMPASS AND EXTENSIONS
@import compass
@import breakpoint
@import ../../../fonts/icons/icons
@import partials/base/00-variables/all
@import partials/base/03-extend/gsb-revamp

// Announcements & School stories - mixed listing,
// Faculty insights idea story and offsite idea story - mixed listing,
// In the media offsite idea stories and offsite school stories - mixed listing,
// News by criteria,
// Rankings listing,
// Stories by title
// Alumni stories

// View mode news listing
.view-gsb-announcement-school-listing.view-display-id-entity_view_1 .view-mode-news_listing,
.view-mode-news_listing
  +clearfix

  // Layout for image
  .left.second-column
    float: left
    max-width: 65%
    +breakpoint(1212px max-width)
      max-width: 50%
    +breakpoint(999px max-width)
      max-width: 65%
    +breakpoint(825px max-width)
      max-width: 50%
    +breakpoint(768px max-width)
      max-width: 100%
  .right
    float: right
    +breakpoint(768px max-width)
      float: none

  // Date
  .field-name-field-date
    color: $text-black
    font-size: 14px
    line-height: 1.2
    margin-bottom: 12px

  // Media icons
  .media-icon.Video
    margin-right: 8px
    position: relative
    top: -1px
    +icon-after("video", true)
    &:after
      color: #bcbcbc
      font-size: 20px
      +breakpoint(850px max-width)
        font-size: 18px

  // Audio
  .media-icon.Audio
    margin-right: 8px
    position: relative
    top: 0
    +icon-after("podcast", true)
    &:after
      color: #bcbcbc
      font-size: 20px
      +breakpoint(850px max-width)
        font-size: 18px

  // Infographic
  .media-icon.Infographic
    margin-right: 6px
    &:after
      content: "Infographic:"
      font-size: 20px
      font-weight: bold
      line-height: 1.2
      +breakpoint(850px max-width)
        font-size: 18px

  // Title wrapper
  .group-wrapper-title
    margin-bottom: 8px

  // Title
  .field-name-title
    display: inline
    h3
      display: inline
      font-size: 20px
      line-height: 0
      +breakpoint(850px max-width)
        font-size: 18px
    a
      line-height: 1.2
      &[target="_blank"]
        +icon-after("arrow-external", true)
        &:after
          display: inline
          font-size: 12px
          margin-left: 3px
      &[href$=".pdf"]
        &[target="_blank"]
          &:after
            display: inline
            font-size: 14px
            margin-left: 3px

  // Publisher and Dek
  .field-name-field-publisher,
  .field-name-field-editorial-summary
    font-size: 16px
    line-height: 1.4
    margin-top: 12px

  .field-name-field-publisher
    &:after
      content: "|"
      padding-right: 5px
      padding-left: 5px

  // Image
  .field-name-field-image-key-image
    float: left
    max-width: 170px
    img
      width: 100%
    +breakpoint(768px max-width)
      display: none

// General top of list style
.view-gsb-announcement-school-listing.view-display-id-annssh_stories_list,
.view-gsb-faculty-insights-listing,
.view-gsb-in-the-media-listing,
.view-gsb-ranking-listing,
.view-display-id-alumni_stories_listing
  @extend %black-border-top-small

  .views-row
    border-top: 1px solid $text-black
    padding: 12px 0
    &:first-of-type
      border-top: 0
      padding-top: 0

// Alternate top of list styles

// Explore More listing on school story and announcement detail pages
.view-gsb-announcement-school-listing.view-display-id-entity_view_1
  @extend %black-border-top-small

  // Title
  h2.title
    color: $text-black
    font-family: $font-sans
    font-size: 26px
    font-weight: bold
    padding-top: 14px
    +breakpoint(850px max-width)
      font-size: 22px

  .views-row
    @extend %divider-top
    padding: 12px 0 12px $standard-padding
    &:first-of-type
      border-top: 0

// News by criteria listing
.view-news-by-criteria

  // Views row
  .views-row
    border-top: 1px solid #d3d3d3
    padding: 14px $standard-padding
    &:first-of-type
      border-top: 0

  .view-mode-news_listing
    // Hide image in narrow view
    .narrow-view &
      .right
        display: none
    // Wide view images
    .wide-view &
      +clearfix

// Stories by title listing
.field-name-field-story-title-ref

  // Field row
  .field-item
    border-top: 1px solid #d3d3d3
    margin: 0 -26px
    padding: 14px $standard-padding
    &:first-of-type
      border-top: 0

  .view-mode-news_listing

    // Hide image in narrow view
    .narrow-view &
      .right
        display: none

    // Wide view images
    .wide-view &
      +clearfix
