@charset "UTF-8"

// IMPORT COMPASS AND EXTENSIONS
@import compass
@import breakpoint
@import ../../../fonts/icons/icons
@import partials/base/00-variables/all
@import partials/base/03-extend/gsb-revamp

// View mode news listing

// Used on
//  1. Explore More on school story and announcement detail
//  2. Announcements & School stories (mixed list)
//  3. Ranking listing
//  4. Insights with related faculty (idea stories and offsite idea stories mixed)
//  5. News by criteria view pane

// Explore more on school story and announcement detail
.view-gsb-announcement-school-listing.view-display-id-entity_view_1
  @extend %black-border-top-small

  // Title
  h2.title
    color: $text-black
    font-family: $font-sans
    font-size: 26px
    font-weight: bold
    padding-top: 14px
    +breakpoint(850px max-width)
      font-size: 22px

  .views-row
    @extend %divider-top
    padding: 12px 0 12px $standard-padding
    &:first-of-type
      border-top: 0

  .node-school-story.view-mode-news_listing,
  .node-announcement.view-mode-news_listing
    +clearfix

    // Layout for image
    .left.second-column
      float: left
      max-width: 70%
      +breakpoint(1085px max-width)
        max-width: 50%
      +breakpoint(999px max-width)
        max-width: 70%
      +breakpoint(800px max-width)
        max-width: 50%
      +breakpoint(700px max-width)
        max-width: 70%
      +breakpoint($bp-mobile-max)
        max-width: 100%
    .right
      float: right
      +breakpoint($bp-mobile-max)
        float: none

    // Date
    .field-name-field-date
      color: $grey-6
      font-size: 14px
      line-height: 1.2
      margin-bottom: 12px
      +breakpoint(850px max-width)
        display: none

    // Media icons
    .media-icon
      &:after
        font-size: 20px !important

    .media-icon.Video
      top: -1px
    .media-icon.Audio
      top: 0

    // Title
    .field-name-title
      display: inline
      h3
        display: inline
        font-size: 20px
        line-height: 0
        +breakpoint(850px max-width)
          font-size: 18px
        a
          line-height: 1.2

    // Dek
    .field-name-field-editorial-summary
      font-size: 16px
      line-height: 1.3
      margin-top: 12px

    // Image
    .field-name-field-image-key-image
      float: left
      max-width: 125px
      +breakpoint($bp-mobile-max)
        display: none

// Announcements & School stories (mixed list)
.view-gsb-announcement-school-listing.view-display-id-annssh_stories_list
  @extend %black-border-top-small

  .views-row
    border-top: 1px solid $text-black
    padding: 12px 0
    &:first-of-type
      border-top: 0
      padding-top: 0

  .node-school-story.view-mode-news_listing,
  .node-announcement.view-mode-news_listing
    +clearfix

    // Layout for image
    .left.second-column
      float: left
      max-width: 65%
      +breakpoint(1212px max-width)
        max-width: 50%
      +breakpoint(999px max-width)
        max-width: 65%
      +breakpoint(825px max-width)
        max-width: 50%
      +breakpoint(768px max-width)
        max-width: 100%
    .right
      float: right
      +breakpoint(768px max-width)
        float: none

    // Date
    .field-name-field-date
      color: $text-black
      font-size: 14px
      line-height: 1.2
      margin-bottom: 12px

    // Media icons
    .media-icon.Video
      margin-right: 8px
      position: relative
      top: -1px
      +icon-after("video", true)
      &:after
        color: #bcbcbc
        font-size: 20px
        +breakpoint(850px max-width)
          font-size: 18px

    // Audio
    .media-icon.Audio
      margin-right: 8px
      position: relative
      top: 0
      +icon-after("podcast", true)
      &:after
        color: #bcbcbc
        font-size: 20px
        +breakpoint(850px max-width)
          font-size: 18px

    // Infographic
    .media-icon.Infographic
      margin-right: 6px
      &:after
        content: "Infographic:"
        font-size: 20px
        font-weight: bold
        line-height: 1.2
        +breakpoint(850px max-width)
          font-size: 18px

    // Title
    .field-name-title
      display: inline
      h3
        display: inline
        font-size: 20px
        line-height: 0
        +breakpoint(850px max-width)
          font-size: 18px
        a
          line-height: 1.2

    // Dek
    .field-name-field-editorial-summary
      font-size: 16px
      line-height: 1.4
      margin-top: 12px

    // Image
    .field-name-field-image-key-image
      float: left
      max-width: 170px
      img
        width: 100%
      +breakpoint(768px max-width)
        display: none

// Rankings list
.view-gsb-ranking-listing
  @extend %black-border-top-small

  .views-row
    border-top: 1px solid $text-black
    padding: 12px 0
    &:first-of-type
      border-top: 0
      padding-top: 0

  .node-ranking.view-mode-news_listing
    +clearfix

    // Date
    .field-name-field-date
      color: $text-black
      font-size: 14px
      line-height: 1.2
      margin-bottom: 12px

    // Media icons
    .media-icon.Video
      margin-right: 8px
      position: relative
      top: -1px
      +icon-after("video", true)
      &:after
        color: #bcbcbc
        font-size: 20px
        +breakpoint(850px max-width)
          font-size: 18px

    // Audio
    .media-icon.Audio
      margin-right: 8px
      position: relative
      top: 0
      +icon-after("podcast", true)
      &:after
        color: #bcbcbc
        font-size: 20px
        +breakpoint(850px max-width)
          font-size: 18px

    // Infographic
    .media-icon.Infographic
      margin-right: 6px
      &:after
        content: "Infographic:"
        font-size: 20px
        font-weight: bold
        line-height: 1.2
        +breakpoint(850px max-width)
          font-size: 18px

    // Title
    .field-name-title
      display: inline
      h3
        display: inline
        font-size: 20px
        line-height: 0
        +breakpoint(850px max-width)
          font-size: 18px
      a
        line-height: 1.2
        &[target="_blank"]
          +icon-after("arrow-external", true)
          &:after
            display: inline
            font-size: 12px
            margin-left: 3px
        &[href$=".pdf"]
          &[target="_blank"]
            &:after
              display: inline
              font-size: 14px
              margin-left: 3px

    // Publisher and Dek
    .field-name-field-publisher,
    .field-name-field-editorial-summary
      font-size: 16px
      line-height: 1.4
      margin-top: 12px

    .field-name-field-publisher
      &:after
        content: "|"
        padding-right: 5px
        padding-left: 5px

// Faculty insights idea story and offsite idea story mixed
.view-gsb-faculty-insights-listing
  @extend %black-border-top-small

  .views-row
    border-top: 1px solid $text-black
    padding: 12px 0
    &:first-of-type
      border-top: 0
      padding-top: 0

  .node-idea-story.view-mode-news_listing,
  .node-offsite-idea-story.view-mode-news_listing
    +clearfix

    // Layout for image
    .left.second-column
      float: left
      max-width: 65%
      +breakpoint(1212px max-width)
        max-width: 50%
      +breakpoint(999px max-width)
        max-width: 65%
      +breakpoint(825px max-width)
        max-width: 50%
      +breakpoint(768px max-width)
        max-width: 100%
    .right
      float: right
      +breakpoint(768px max-width)
        float: none

    // Date
    .field-name-field-date
      color: $text-black
      font-size: 14px
      line-height: 1.2
      margin-bottom: 12px

    // Media icons
    .media-icon.Video
      margin-right: 8px
      position: relative
      top: -1px
      +icon-after("video", true)
      &:after
        color: #bcbcbc
        font-size: 20px
        +breakpoint(850px max-width)
          font-size: 18px

    // Audio
    .media-icon.Audio
      margin-right: 8px
      position: relative
      top: 0
      +icon-after("podcast", true)
      &:after
        color: #bcbcbc
        font-size: 20px
        +breakpoint(850px max-width)
          font-size: 18px

    // Infographic
    .media-icon.Infographic
      margin-right: 6px
      &:after
        content: "Infographic:"
        font-size: 20px
        font-weight: bold
        line-height: 1.2
        +breakpoint(850px max-width)
          font-size: 18px

    // Title
    .field-name-title
      display: inline
      h3
        display: inline
        font-size: 20px
        line-height: 0
        +breakpoint(850px max-width)
          font-size: 18px
      a
        line-height: 1.2
        &[target="_blank"]
          +icon-after("arrow-external", true)
          &:after
            display: inline
            font-size: 12px
            margin-left: 3px
        &[href$=".pdf"]
          &[target="_blank"]
            &:after
              display: inline
              font-size: 14px
              margin-left: 3px

    // Publisher and Dek
    .field-name-field-publisher,
    .field-name-field-editorial-summary
      font-size: 16px
      line-height: 1.4
      margin-top: 12px

    .field-name-field-publisher
      &:after
        content: "|"
        padding-right: 5px
        padding-left: 5px

    // Image
    .field-name-field-image-key-image
      float: left
      max-width: 170px
      img
        width: 100%
      +breakpoint(768px max-width)
        display: none

// In the media listing offsite idea stories and offsite school stories
.view-gsb-in-the-media-listing
  @extend %black-border-top-small

  .views-row
    border-top: 1px solid $text-black
    padding: 12px 0
    &:first-of-type
      border-top: 0
      padding-top: 0

  // Layout for image
  .left.second-column
    float: left
    max-width: 65%
    +breakpoint(1212px max-width)
      max-width: 50%
    +breakpoint(999px max-width)
      max-width: 65%
    +breakpoint(825px max-width)
      max-width: 50%
    +breakpoint(768px max-width)
      max-width: 100%
  .right
    float: right
    +breakpoint(768px max-width)
      float: none

  .node-offsite-idea-story.view-mode-news_listing,
  .node-offsite-school-story.view-mode-news_listing
    +clearfix

    // Date
    .field-name-field-date
      color: $text-black
      font-size: 14px
      line-height: 1.2
      margin-bottom: 12px

    // Media icons
    .media-icon.Video
      margin-right: 8px
      position: relative
      top: -1px
      +icon-after("video", true)
      &:after
        color: #bcbcbc
        font-size: 20px
        +breakpoint(850px max-width)
          font-size: 18px

    // Audio
    .media-icon.Audio
      margin-right: 8px
      position: relative
      top: 0
      +icon-after("podcast", true)
      &:after
        color: #bcbcbc
        font-size: 20px
        +breakpoint(850px max-width)
          font-size: 18px

    // Infographic
    .media-icon.Infographic
      margin-right: 6px
      &:after
        content: "Infographic:"
        font-size: 20px
        font-weight: bold
        line-height: 1.2
        +breakpoint(850px max-width)
          font-size: 18px

    // Title
    .field-name-title
      display: inline
      h3
        display: inline
        font-size: 20px
        line-height: 0
        +breakpoint(850px max-width)
          font-size: 18px
      a
        line-height: 1.2
        &[target="_blank"]
          +icon-after("arrow-external", true)
          &:after
            display: inline
            font-size: 12px
            margin-left: 3px
        &[href$=".pdf"]
          &[target="_blank"]
            &:after
              display: inline
              font-size: 14px
              margin-left: 3px

    // Publisher and Dek
    .field-name-field-publisher,
    .field-name-field-editorial-summary
      font-size: 16px
      line-height: 1.4
      margin-top: 12px

    .field-name-field-publisher
      &:after
        content: "|"
        padding-right: 5px
        padding-left: 5px

    // Image
    .field-name-field-image-key-image
      float: left
      max-width: 170px
      img
        width: 100%
      +breakpoint(768px max-width)
        display: none

// News by criteria
.view-news-by-criteria

  // Views row
  .views-row
    border-top: 1px solid #d3d3d3
    padding: 14px $standard-padding
    &:first-of-type
      border-top: 0

  .view-mode-news_listing

    // Hide image in narrow view
    .narrow-view &
      .right
        display: none

    // Wide view images
    .wide-view &
      +clearfix

      .left.second-column
        float: left
        max-width: 65%
        +breakpoint(1212px max-width)
          max-width: 50%
        +breakpoint(999px max-width)
          max-width: 65%
        +breakpoint(825px max-width)
          max-width: 50%
        +breakpoint(768px max-width)
          max-width: 100%
      .right
        float: right
        +breakpoint(768px max-width)
          float: none

    // Date
    .field-name-field-date
      color: $text-black
      font-size: 14px
      line-height: 1.2
      margin-bottom: 12px

    // Media icons
    .media-icon.Video
      margin-right: 8px
      position: relative
      top: -1px
      +icon-after("video", true)
      &:after
        color: #bcbcbc
        font-size: 20px
        +breakpoint(850px max-width)
          font-size: 18px

    // Audio
    .media-icon.Audio
      margin-right: 8px
      position: relative
      top: 0
      +icon-after("podcast", true)
      &:after
        color: #bcbcbc
        font-size: 20px
        +breakpoint(850px max-width)
          font-size: 18px

    // Infographic
    .media-icon.Infographic
      margin-right: 6px
      &:after
        content: "Infographic:"
        font-size: 20px
        font-weight: bold
        line-height: 1.2
        +breakpoint(850px max-width)
          font-size: 18px

    // Title
    .field-name-title
      display: inline
      h3
        display: inline
        font-size: 18px
        line-height: 0
        +breakpoint(850px max-width)
          font-size: 18px
      a
        line-height: 1.3
        &[target="_blank"]
          +icon-after("arrow-external", true)
          &:after
            display: inline
            font-size: 12px
            margin-left: 3px
        &[href$=".pdf"]
          &[target="_blank"]
            &:after
              display: inline
              font-size: 14px
              margin-left: 3px

    // Publisher and Dek
    .field-name-field-publisher,
    .field-name-field-editorial-summary
      font-size: 16px
      line-height: 1.3
      margin-top: 12px

    .field-name-field-publisher
      &:after
        content: "|"
        padding-right: 5px
        padding-left: 5px

    // Image
    .field-name-field-image-key-image
      float: left
      max-width: 120px
      img
        width: 100%
      +breakpoint(768px max-width)
        display: none

// Stories by title
.field-name-field-story-title-ref

  // Field row
  .field-item
    border-top: 1px solid #d3d3d3
    margin: 0 -26px
    padding: 14px $standard-padding
    &:first-of-type
      border-top: 0

  .view-mode-news_listing

    // Hide image in narrow view
    .narrow-view &
      .right
        display: none

    // Wide view images
    .wide-view &
      +clearfix

      .left.second-column
        float: left
        max-width: 65%
        +breakpoint(1212px max-width)
          max-width: 50%
        +breakpoint(999px max-width)
          max-width: 65%
        +breakpoint(825px max-width)
          max-width: 50%
        +breakpoint(768px max-width)
          max-width: 100%
      .right
        float: right
        +breakpoint(768px max-width)
          float: none

    // Date
    .field-name-field-date
      color: $text-black
      font-size: 14px
      line-height: 1.2
      margin-bottom: 12px

    // Media icons
    .media-icon.Video
      margin-right: 8px
      position: relative
      top: -1px
      +icon-after("video", true)
      &:after
        color: #bcbcbc
        font-size: 20px
        +breakpoint(850px max-width)
          font-size: 18px

    // Audio
    .media-icon.Audio
      margin-right: 8px
      position: relative
      top: 0
      +icon-after("podcast", true)
      &:after
        color: #bcbcbc
        font-size: 20px
        +breakpoint(850px max-width)
          font-size: 18px

    // Infographic
    .media-icon.Infographic
      margin-right: 6px
      &:after
        content: "Infographic:"
        font-size: 20px
        font-weight: bold
        line-height: 1.2
        +breakpoint(850px max-width)
          font-size: 18px

    // Title
    .field-name-title
      display: inline
      h3
        display: inline
        font-size: 18px
        line-height: 0
        +breakpoint(850px max-width)
          font-size: 18px
      a
        line-height: 1.3
        &[target="_blank"]
          +icon-after("arrow-external", true)
          &:after
            display: inline
            font-size: 12px
            margin-left: 3px
        &[href$=".pdf"]
          &[target="_blank"]
            &:after
              display: inline
              font-size: 14px
              margin-left: 3px

    // Publisher and Dek
    .field-name-field-publisher,
    .field-name-field-editorial-summary
      font-size: 16px
      line-height: 1.3
      margin-top: 12px

    .field-name-field-publisher
      &:after
        content: "|"
        padding-right: 5px
        padding-left: 5px

    // Image
    .field-name-field-image-key-image
      float: left
      max-width: 120px
      img
        width: 100%
      +breakpoint(768px max-width)
        display: none
