// Webforms

.webform-client-form

  fieldset
    border: 0
    margin: 20px 0 0 0
    padding: 0

  // Label of fieldset
  legend
    @extend %divider-top
    display: block
    font-size: 20px
    font-weight: bold
    padding: 20px 0 0 0
    width: 100%

  // No border or padding on the first fieldset
  fieldset:first-of-type legend
    border-top: 0
    padding: 0

  label
    margin: 35px 0 8px 0

  .form-item .description
    margin-top: 10px

  // Fields
  input.form-text
    width: 100%

  // Radio buttons
  input[type="radio"]
    margin-left: 1px
    position: relative
    top: -1px

  // Edit button
  #edit-draft
    @extend %grey-button
    margin-right: 8px

  // Submit button
  #edit-submit
    @extend %green-button

  // Inputs
  .customSelectInner
    line-height: 1
    padding: 14px 0 6px 10px

  .webform-calendar
    position: relative
    top: 10px

  // Spacing below select items
  .webform-component-date,
  .webform-component-webform_time
    margin-bottom: 50px
