/**
 * Panopoly Modal Magic Styles
 */

/**
 * Styles for Menu Block Pane
 */
.menu-block-processed {
  border: 0;
}

@media only screen and (max-width: 480px) {
  /* Hide IPE from mobile, since it doesn't really work anyway */
  #panels-ipe-control-container {
    display: none !important;
  }
}

/**
 * Override of CTools Throbber
 */
#modal-content a.ctools-ajaxing,
#modal-content input.ctools-ajaxing,
#modal-content button.ctools-ajaxing,
#modal-content select.ctools-ajaxing {
  padding-right: 18px !important;
  background: url(../../images/status-active.gif) right center no-repeat !important;
  position: relative;
}

#modal-content div.ctools-ajaxing {
  float: left;
  width: 18px;
  background: url(../../images/status-active.gif) center center no-repeat !important;
}

#modal-content .ajax-progress .throbber {
  display: none;
}

#modal-content .ajax-progress-throbber {
  background-image: url("../../images/status-active.gif");
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 16px;
  opacity: .9;
  padding: 3px;
  position: absolute;
  width: 16px;
  vertical-align: middle;
}

#modal-content .ajax-progress-throbber .message {
  display: none;
}

/**
 * Custom styling for Changing Layout Feature
*/
div.ctools-modal-content div.form-item-categories label {
  float: left;
  font-weight: normal;
  margin-top: 2px;
  margin-right: 5px;
  width: auto;
}

#panels-layout-category-Panopoly {
  margin: 3% 6%;
}

div.ctools-modal-content .panels-choose-layout .dependent-options {
  padding-left: 0px;
}

div.modal-content-preview-button {
  padding-top: 100px;
  text-align: center;
}

#panels-layout-category-Panopoly-wrapper .panels-layouts-category,
#panels-layout-category-Panopoly-wrapper .layout-link div {
  display: none;
}

#panels-layout-category-Panopoly-wrapper .layout-link {
  float: left;
  height: 68px;
  padding: 1.25em;
  text-align: center;
  width: 68px;
}

#panels-layout-category-Panopoly-wrapper .layout-link:hover {
  background-color: #BBB;
}

#panels-layout-category-Panopoly-wrapper .current-layout {
  background-color: #DDD;
}

/**
 * Custom styling for exposed views filter options
 */
#modal-content .form-item-offset,
#modal-content .form-item-items-per-page,
#modal-content .form-item-exposed-sort-order,
#modal-content .form-item-exposed-sort-by {
  /* float: left; */
  width: 175px;
}

#modal-content .form-item-offset,
#modal-content .form-item-exposed-sort-order {
  clear: none;
}

#modal-content .form-item-exposed-sort-order label,
#modal-content .form-item-exposed-sort-by label {
  float: left;
  font-weight: normal;
  margin-right: 5px;
  width: auto;
  margin-top: 3px;
  font-size: 100%;
}

#modal-content .form-item-exposed-pager-id label {
  font-weight: normal;
}

#modal-content .general-settings-fieldset label {
  float: left;
  font-weight: normal;
  width: auto;
  margin-top: 5px;
  margin-right: 5px;
}

#modal-content .general-settings-fieldset label.option {
  float:none;
}

#modal-content #edit-context label {
  float: left;
  font-weight: normal;
  width: auto;
  margin-top: 2px;
  margin-right: 5px;
}

#modal-content #views-exposed-pane div.form-item {
  display: inline;
}

#modal-content .form-item-view-settings {
  display:inline;
  margin-left: 5px;
}

/* Handle the Header Type Setting Element */
#modal-content .form-item-header-type label {
  display:inline;
  clear: none;
  font-weight: normal;
  font-size: 12px;
  margin-top: 5px;
}

#modal-content .form-item-header-type select {
  display: inline;
  margin-left: 5px;
  margin-top: 5px;
}

#modal-content .view-settings-wrapper .field-prefix {
  padding-right: 5px;
}

#modal-content .view-settings-wrapper .form-radios {
  display: inline;
  padding-right: 5px;
}

/**
 * Custom Stylizer CSS
 */
#ctools_stylizer_color_scheme_form {
  float: none;
}

#ctools_stylizer_color_scheme_form #palette .form-item  {
  width: auto;
  padding: .5em .75em;
}

div.ctools-modal-content #ctools_stylizer_color_scheme_form .form-item label {
  width: auto;
}

#ctools_stylizer_color_scheme_form #palette .form-item label {
  float: left;
  margin-right: 10px;
  margin-top: .25em;
}

/**
 * Remove the Save as Default Option
 */
#panels-ipe-edit-control-form #panelizer-save-default {
  display: none;
}

/**
 * Modal stylings from pnopoly magic module
 */

#modal-content input.form-text {
  max-width: 98%; /* Handle fixed width form elements in the IPE */
}

#modal-content .form-item-exposed-widget-title input,
#modal-content .form-item-title input {
  font-size: 1.5em;
}

#modalContent div.ctools-modal-content {
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  border-radius: 10px 10px 0 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: none;
}

#modalContent div.ctools-modal-content .modal-header {
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  background: #666;
  background-image: linear-gradient(bottom, #333333 0%, #666666 100%);
  background-image: -o-linear-gradient(bottom, #333333 0%, #666666 100%);
  background-image: -moz-linear-gradient(bottom, #333333 0%, #666666 100%);
  background-image: -webkit-linear-gradient(bottom, #333333 0%, #666666 100%);
  background-image: -ms-linear-gradient(bottom, #333333 0%, #666666 100%);
  background-image: -webkit-gradient(
  linear,
  left bottom,
  left top,
  color-stop(0, #333333),
  color-stop(1, #666666)
  );
  color: #fff;
  font: bold 16px/50px 'Open Sans', 'Lucida Sans', 'Lucida Grande', Verdana, sans-serif;
  vertical-align: middle;
  height: 35px;
  padding: 0 14px 0 24px;
}

#modalContent div.ctools-modal-content .modal-title {
  color: #fff;
  font: bold 16px/50px 'Open Sans', 'Lucida Sans', 'Lucida Grande', Verdana, sans-serif;
  line-height: 2;
  text-shadow: none;
  padding: 0;
  vertical-align: top;
}

#modalContent div.ctools-modal-content a.close {
  display: block;
  text-indent: -99999em;
  overflow: hidden;
  outline: none;
  height: 15px;
  width: 16px;
  margin-top: 10px;
  background: url(../../images/close-popup.png) no-repeat left top;
  padding: 0;
}

#modalContent div.ctools-modal-content a.close:hover,
#modalContent div.ctools-modal-content a.close:focus {
  background-position: left -15px;
}

#modalContent .panels-add-content-modal {
  background: #FFF;
}

#modalContent .panels-add-content-modal a.panels-modal-add-category {
  background: #EAEAEC;
  background-image: linear-gradient(bottom, #DBDCDF 0%, #F6F6F7 100%);
  background-image: -o-linear-gradient(bottom, #DBDCDF 0%, #F6F6F7 100%);
  background-image: -moz-linear-gradient(bottom, #DBDCDF 0%, #F6F6F7 100%);
  background-image: -webkit-linear-gradient(bottom, #DBDCDF 0%, #F6F6F7 100%);
  background-image: -ms-linear-gradient(bottom, #DBDCDF 0%, #F6F6F7 100%);
  background-image: -webkit-gradient(
  linear,
  left bottom,
  left top,
  color-stop(0, #DBDCDF),
  color-stop(1, #F6F6F7)
  );
  border-bottom: none;
  color: #333;
  font-family: 'Open Sans', 'Lucida Sans', 'Lucida Grande', Verdana, sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.3;
  margin-left: 10px;
  padding: 8px 12px;
  text-decoration: none;
}

#modalContent .panels-add-content-modal a.panels-modal-add-category:active,
#modalContent .panels-add-content-modal a.panels-modal-add-category.active {
  border: 1px solid #CECECA;
  border-right: none;
  background: #FFF;
  margin-right: -1px;
}

#modalContent .content-type-button div,
#modalContent .content-type-button span {
  width: auto;
}

#modalContent .panels-section-column-categories .content-type-button {
  padding: 0 0 .5em 10px;
}

#modalContent .panels-section-column-categories .content-type-button a {
  display: inline-block;
  background: #EAEAEC;
  background-image: linear-gradient(bottom, #DBDCDF 0%, #F6F6F7 100%);
  background-image: -o-linear-gradient(bottom, #DBDCDF 0%, #F6F6F7 100%);
  background-image: -moz-linear-gradient(bottom, #DBDCDF 0%, #F6F6F7 100%);
  background-image: -webkit-linear-gradient(bottom, #DBDCDF 0%, #F6F6F7 100%);
  background-image: -ms-linear-gradient(bottom, #DBDCDF 0%, #F6F6F7 100%);
  background-image: -webkit-gradient(
  linear,
  left bottom,
  left top,
  color-stop(0, #DBDCDF),
  color-stop(1, #F6F6F7)
  );
  float: none;
  left: 0;
  top: 0;
  width: 85%;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin: 0 8px 0 0px;
  padding: 0;
}

#modalContent .panels-section-column-categories .content-type-button a {
  font: bold 11px/21px "Open Sans", "Lucida Grande", Tahoma, Verdana, sans-serif;
  text-decoration: none;
  color: #333;
  padding: 0 8px;
}

#modalContent .panels-section-column-categories .content-type-button span {
  display: inline-block;
  margin-top: -2px;
}

#modal-content .option-text-aligner {
  float: left;
  width: auto;
}

/**
 * Pane configuration preview styling
 *
 * Much of the fieldset-related css is ripped directly from Bartik to give
 * IPE a more consistent look
 * @see https://drupal.org/node/1717644
 */
#modal-content fieldset {
  clear: none;
  width: auto;
  position: relative;
  top: 12px; /* Offsets the negative margin of legends */
  margin-top: 10px;
  margin-bottom: 32px;
  background: #FFFFFF;
  border: 1px solid #CCCCCC;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 0 0 10px;
}

#modal-content fieldset.widget-preview {
  margin-top: 3em;
  margin-bottom: 4em;
  -webkitborder-top-right-radius: 0;
  -moz-border-topright-radius: 0;
  border-top-right-radius: 0;
}

#modal-content fieldset.widget-preview-single {
  margin-top: 10px;
  margin-bottom: 1em;
}

#modal-content fieldset.widget-preview-single .fieldset-wrapper {
  font-size: 100%;
  max-width: 100%;
  overflow-y: auto;
  min-height: 75px;
  max-height: 375px;
}

#modal-content fieldset.widget-preview-single .fieldset-wrapper .panopoly-spotlight img {
  width: 100%;
}

#modal-content fieldset legend {
  background: #dbdbdb;
  border: 1px solid #ccc;
  border-bottom: none;
  color: #3b3b3b;
  display: block;
  left: -1px; /* LTR */
  line-height: 2;
  padding: 1px 0 0;
  position: relative;
  text-indent: 10px;
  text-shadow: 0 1px 0 #fff;
  width: 100%;
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
}

#modal-content fieldset.widget-preview legend {
  -moz-border-radius-topright: 0;
  -webkit-border-top-right-radius: 0;
  border-top-right-radius: 0;
}

#modal-content .fieldset-legend {
  font: bold 12px/1.5em 'Open Sans', 'Lucida Sans', 'Lucida Grande', Verdana, sans-serif;
}

#modal-content fieldset.collapsed legend {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

#modal-content fieldset legend a {
  color: #3b3b3b;
}

#modal-content fieldset legend a:hover,
#modal-content fieldset legend a:focus,
#modal-content fieldset legend a:active {
  color: #000;
}

#modal-content .fieldset-wrapper {
  padding: 0 10px;
  margin-top: 2.25em;
  min-width: 650px;
}

#modal-content .widget-preview .fieldset-wrapper {
  max-width: 100%;
  overflow-y: auto;
  font-size: 75%;
  max-height: 200px;
  min-height: 200px;
  overflow-x: hidden;
}

#modal-content .widget-preview .fieldset-wrapper table tr.even td,
#modal-content .widget-preview .fieldset-wrapper table tr.odd td {
  padding: 3px 5px;
}

#modal-content .widget-preview .fieldset-wrapper h2 {
  font-size: 150%;
  margin-top: .25em;
}

#modal-content .widget-preview-single {
  float: right;
  margin-left: 1em;
  margin-top: 0;
  width: 48%;
}

#modal-content .form-actions {
  float: right;
  clear: right;
  width: 48%;
  margin-left: 1em;
  text-align: right;
}

#modal-content .panels-section-columns,
#modal-content .panels-categories-description {
  overflow: visible;
  border: 1px solid #CECECA;
  border-right: 0;
  border-bottom: 0;
  height: 100%;
  margin: 0;
  overflow-y: auto;
  padding-top: 10px;
}

#modal-content .panels-categories-description {
  color: #5B5B5B;
}

/**
 * Misc Modal Stylings
 */
#modal-content .form-type-textarea .form-type-select,
#modal-content .field-type-text-long .form-type-select {
  float: right;
  margin-top: 5px;
  margin-bottom: 5px;
}

#modal-content .form-type-textarea .form-type-select label,
#modal-content .field-type-text-long .form-type-select label {
  float: left;
  margin-right: .5em;
  margin-top: .5em;
  font-weight: normal;
  display: block;
  width: auto;
}

#modal-content .view-settings-wrapper .form-radios {
  display: inline;
  padding-right: 5px;
}

.panels-section-column .content-type-button {
  font-size: 1em;
  margin-bottom: 6px;
}
.panels-section-column .content-type-button a {
    width: auto;
}
#modal-content .content-type-button img {
  display: none;
}

#modal-content #edit-widget-preview {
  margin-top: 0;
}

#modalContent .panels-section-column-categories .content-type-button img:hover {
  border: none;
}

#modal-content .widget-preview .fieldset-wrapper table img,
#modal-content .widget-preview .panopoly-image-featured {
  width: 100%;
}

.pane-content .create-links,
.pane-categories .categories-links,
.pane-menus .menu-links,
.pane-users .user-links {
  float: right;
}

/**
 * Form action button styling
 */
#modal-content .form-submit {
  border: 1px solid #ccc;
  margin: 0.5em 0;
  margin-right: 1em;
  font: bold 12px/32px 'Open Sans', 'Lucida Sans', 'Lucida Grande',  Verdana, sans-serif;
  text-decoration: none;
  height: 33px;
  color: #666;
  cursor: pointer;
  outline: none;
  -moz-border-radius: 3px;
  -khtml-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: #FAFAFA;
  background-image: linear-gradient(bottom, #E9EAEC 0%, #FAFAFA 100%);
  background-image: -o-linear-gradient(bottom, #E9EAEC 0%, #FAFAFA 100%);
  background-image: -moz-linear-gradient(bottom, #E9EAEC 0%, #FAFAFA 100%);
  background-image: -webkit-linear-gradient(bottom, #E9EAEC 0%, #FAFAFA 100%);
  background-image: -ms-linear-gradient(bottom, #E9EAEC 0%, #FAFAFA 100%);
  background-image: -webkit-gradient(
  linear,
  left bottom,
  left top,
  color-stop(0, #E9EAEC),
  color-stop(1, #FAFAFA)
  );
  -webkit-box-shadow: 0 3px 3px 0 #d2d2d2;
  -moz-box-shadow: 0 3px 3px 0 #d2d2d2;
  box-shadow: 0 3px 3px 0 #d2d2d2;
  padding: 0 13px 1px;
}

#modal-content .form-submit:hover,
#modal-content .form-submit:focus {
  background: #E6E6E6;
  background-image: linear-gradient(bottom, #C5C5C5 0%, #FAFAFA 100%);
  background-image: -o-linear-gradient(bottom, #C5C5C5 0%, #FAFAFA 100%);
  background-image: -moz-linear-gradient(bottom, #C5C5C5 0%, #FAFAFA 100%);
  background-image: -webkit-linear-gradient(bottom, #C5C5C5 0%, #FAFAFA 100%);
  background-image: -ms-linear-gradient(bottom, #C5C5C5 0%, #FAFAFA 100%);
  background-image: -webkit-gradient(
  linear,
  left bottom,
  left top,
  color-stop(0, #C5C5C5),
  color-stop(1, #FAFAFA)
  );
}

#modal-content .form-submit:active {
  outline: none;
  background-image: linear-gradient(bottom, #E9EAEC 0%, #FAFAFA 100%);
  background-image: -o-linear-gradient(bottom, #E9EAEC 0%, #FAFAFA 100%);
  background-image: -moz-linear-gradient(bottom, #E9EAEC 0%, #FAFAFA 100%);
  background-image: -webkit-linear-gradient(bottom, #E9EAEC 0%, #FAFAFA 100%);
  background-image: -ms-linear-gradient(bottom, #E9EAEC 0%, #FAFAFA 100%);
  background-image: -webkit-gradient(
  linear,
  left bottom,
  left top,
  color-stop(0, #E9EAEC),
  color-stop(1, #FAFAFA)
  );
  -webkit-box-shadow: 0 0 0 0 #fff;
  -moz-box-shadow: 0 0 0 0 #fff;
  box-shadow: 0 0 0 0 #fff;
}


/* Styling for content admin ctools modals */

.modal-content .form-item-view-mode {
  clear: both;
}
.modal-content select,
.modal-content .form-text {
  width: 330px;
  line-height: 1em;
  height: auto;
  padding: 5px 5px;
}
.modal-content .form-text {
  padding-right: 25px;
}
.modal-content .form-text.form-autocomplete {
  background-position: 99% 6px;
}
#autocomplete {
  min-width: 650px !important;
}
.modal-content .form-text.throbbing {
  background-position: 99% -14px;
}
.modal-content label,
.modal-content .field-prefix {
  color: #333333;
  font-size: 15px;
  margin-top: 0;
}
.modal-content .form-item {
  margin: 10px 0;
}
.modal-content .form-item .description {
  margin: 5px 0;
}
.modal-content .date-padding {
  padding: 0;
}
.modal-content .form-type-radio {
  margin-bottom: 0;
}
.modal-content form > div > .description {
  margin-bottom: 10px;
  border-bottom: 1px #dddddd solid;
}
.modal-content a.button {
  display: inline-block;
  height: 28px;
  line-height: 28px;
  padding: 0 13px 0 10px;
  border: 1px #cccccc solid;
  margin-bottom: 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjEwMCUiIHgyPSI1MCUiIHkyPSIwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RkZGRkZCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #dddddd), color-stop(100%, #ffffff));
  background: -webkit-linear-gradient(bottom, #dddddd, #ffffff);
  background: -moz-linear-gradient(bottom, #dddddd, #ffffff);
  background: -o-linear-gradient(bottom, #dddddd, #ffffff);
  background: -ms-linear-gradient(bottom, #dddddd, #ffffff);
  background: linear-gradient(bottom, #dddddd, #ffffff);
  text-shadow: white 1px 1px 1px;
}
.modal-content a.button:hover {
  background: white;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1), -1px, -1px, 3px, 0, true;
  -moz-box-shadow: rgba(0, 0, 0, 0.1), -1px, -1px, 3px, 0, true;
  box-shadow: rgba(0, 0, 0, 0.1), -1px, -1px, 3px, 0, true;
}
.modal-content a.button:active {
  background: white;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2), 0, 0, 6px, 0, true;
  -moz-box-shadow: rgba(0, 0, 0, 0.2), 0, 0, 6px, 0, true;
  box-shadow: rgba(0, 0, 0, 0.2), 0, 0, 6px, 0, true;
}
div.modal-content a.button.edit {
  width: 73px;
  text-align: center;
}
div.modal-content a.button.remove {
  width: 73px;
}
#modal-content fieldset {
  padding-bottom: 0;
}
#modal-content .fieldset-wrapper {
  margin: 2.25em 0;
}
#modal-content .general-settings-fieldset label {
  margin-top: 1em;
}
#modal-content .general-settings-fieldset label.option {
  float: none;
}
.modal-add-content-form a,
.panels-categories-first-page a,
.panels-section-columns a {
  color: #2d6280;
}
.panels-add-content-modal .sf-menu {
  position: relative;
  margin: 0 0 0 10px;
  width: auto;
  float: none;
  border-top: none;
}
.panels-add-content-modal .sf-arrows .sf-with-ul,
.panels-add-content-modal .sf-menu ul li a {
  font: bold 11px/30px 'Open Sans', 'Lucida Sans', 'Lucida Grande', verdana sans-serif;
  color: #5b5b5b;
  padding: 0 12px;
}
.panels-add-content-modal .sf-arrows .sf-with-ul {
  background: #eaeaec;
  background-image: linear-gradient(bottom, #dbdcdf 0%, #f6f6f7 100%);
  background-image: -o-linear-gradient(bottom, #dbdcdf 0%, #f6f6f7 100%);
  background-image: -moz-linear-gradient(bottom, #dbdcdf 0%, #f6f6f7 100%);
  background-image: -webkit-linear-gradient(bottom, #dbdcdf 0%, #f6f6f7 100%);
  background-image: -ms-linear-gradient(bottom, #dbdcdf 0%, #f6f6f7 100%);
  background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, #dbdcdf), color-stop(1, #f6f6f7) );
}
.panels-add-content-modal .sf-menu ul li a {
  background: #fff;
  border: 1px solid #ccc;
  border-bottom: none;
}
.panels-add-content-modal .sf-menu ul li {
  position: relative;
}
.panels-add-content-modal .sf-menu ul li a:hover {
  color: #333;
}
.panels-add-content-modal .sf-menu ul .ajax-progress {
  position: absolute;
  top: 8px;
  right: 3px;
}
.panels-add-content-modal .widget-preview-title li {
  list-style: none;
}
.modal-add-content-form {
  padding: 1em 0 0 1.2em;
  width: 90%;
  line-height: normal;
}
.modal-add-content-form #back-link {
  position: absolute;
  right: 5px;
  top: 3px;
}
.modal-content .modal-add-content-form .launcher {
  color: #444;
}
#modal-content .modal-add-content-form fieldset {
  width: 572px;
}
.modal-content .modal-add-content-form > div > .description {
  padding-bottom: 20px;
  line-height: 13px;
  width: 572px;
}
.modal-add-content-form .counter {
  font-size: 0.85em;
}
.modal-add-content-form .field-type-field-collection,
.modal-add-content-form .field-type-link-field {
  position: relative;
}
.modal-add-content-form .field-multiple-table {
  width: 740px;
}
#modal-content .modal-add-content-form .field-type-field-collection .form-submit,
#modal-content .modal-add-content-form .field-add-more-submit {
  height: 16px;
  line-height: 16px;
  border: none;
  background: none;
  padding: 0;
  color:#0074bd;
  font-weight: normal;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.modal-add-content-form .tabledrag-toggle-weight-wrapper {
  position: absolute;
  left: 0;
  width: 630px;
  line-height: normal;
}
.modal-add-content-form .draggable {
  background: transparent;
  border: 1px solid #ccc;
}
.modal-add-content-form .draggable td {
  padding: 1em;
}
.modal-add-content-form .draggable .warning.tabledrag-changed {
  display: none;
}
.modal-add-content-form .draggable td.delta-order {
  border-left: 1px solid #ccc;
}
.modal-add-content-form .draggable .field-multiple-drag {
  width: 0;
  padding: 0;
}
.modal-add-content-form a.tabledrag-handle .handle {
  background-position-y: 7px;
  height: 22px;
  margin: 0;
  padding: 0;
  width: 22px;
}
.modal-add-content-form a.tabledrag-handle-hover .handle {
  background-position-y: -13px;
}
.modal-add-content-form .form-managed-file {
  margin-left: 10px;
}
.modal-add-content-form .form-managed-file .file {
  display: inherit;
  margin-bottom: 14px;
  position: relative;
  top: 6px;
}
.modal-add-content-form .form-managed-file .file a {
  display: inline-block;
  max-width: 300px;
}
.modal-add-content-form .draggable .delta-order .form-select {
  width: 70px;
}
#modal-content .modal-add-content-form .media-widget .form-item {
  margin-bottom: 0;
}
#modal-content .modal-add-content-form label {
  width: auto;
  float: none;
}
.modal-add-content-form .link-field-subrow {
  width: 620px;
}
.modal-add-content-form #field-diptych-right-cta-link-add-more-wrapper .form-type-link-field > label,
.modal-add-content-form #field-link-single-add-more-wrapper .form-type-link-field > label,
.modal-add-content-form #field-cta-item-und-0-field-link-single-add-more-wrapper .form-type-link-field > label {
 margin-bottom: 9px;
}
.modal-add-content-form .link-field-subrow label {
  font-weight: normal;
  line-height: 15px;
}
#modal-content .modal-add-content-form .form-type-link-field {
  margin-bottom: 0;
}
.modal-add-content-form .link-field-subrow .form-select,
.modal-add-content-form .form-type-link-field .form-text {
  width: 275px;
  max-width: 275px;
}
.modal-add-content-form .form-textarea,
.modal-add-content-form .resizable-textarea .grippie {
  width: 572px;
}
#modal-content .modal-add-content-form .form-item-reusable {
  margin-bottom: 0;
}
.modal-add-content-form .form-item-reusable .form-checkbox {
  margin-top: -4px;
}
#modal-content .modal-add-content-form .form-actions {
  text-align: left;
  margin: 0;
}
#modal-content .modal-add-content-form .form-actions,
.modal-add-content-form .form-submit,
.modal-add-content-form .form-file {
  float: left;
}
.modal-add-content-form #cancel-link {
  line-height: 36px;
}
#modal-content .modal-add-content-form .option-text-aligner,
#modal-content .modal-add-content-form .option-text-aligner .form-item,
#modal-content .modal-add-content-form .form-item-override-title-text {
  float: none;
}
#modal-content .modal-add-content-form .option-text-aligner .form-item {
  margin: 0;
  padding-left: 0;
}
#modal-content .modal-add-content-form .field-prefix {
  display: block;
  font-size: 15px;
}
.panels-categories-first-page,
.panels-categories-stock-content-page {
  border: 1px solid #ccc;
}
.panels-categories-first-page ul,
.panels-categories-stock-content-page ul {
  overflow: hidden;
  padding-left: 15px;
  margin: 0.5em 0 1em 0;
}
.panels-categories-first-page ul h3,
.panels-categories-stock-content-page ul h3 {
  font-size: 16px;
}
.panels-categories-first-page ul li,
.panels-categories-stock-content-page ul li {
  width: 30%;
  float: left;
  line-height: 16px;
  margin: 0 2% 0.6% 0.7%;
}

#modal-content fieldset legend {
  width: 100.3%;
}

#modal-content .fieldset-legend span.summary {
  display: none;
}

#modal-content .sf-vertical.sf-arrows > li > .sf-with-ul:after {
  border-left-color: #5B5B5B;
}

.modal-content .form-wrapper {
  margin-bottom: 16px;
}

#field-slideshow-slides-values .field-name-field-link-single .form-text {
  margin: 9px 0;
}

/* Prevent window scroll when modal is open */
body.panels-ipe-modal-open {
  overflow: hidden;
}

.ui-dialog.media-wrapper {
  height: 100% !important;
  overflow-y: scroll !important;
  z-index: 1003;
}

.ui-widget-overlay {
  z-index: 1002;
}

/* Vertical tabs override in modal */
#modal-content div.vertical-tabs {
  border: 0;
  margin-bottom: 26px;
  margin-left: 0;
}

#modal-content .vertical-tabs-list {
  display: none;
}

#modal-content .field-name-field-files-private-setting {
  clear: none;
  width: auto;
  position: relative;
  right: -2px;
  top: -30px;
  background: #FFFFFF;
  border: 1px solid #ccc;
  border-top-color: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 0 10px 10px;
  width: 652px;
}

/* All publications - fix checkbox interaction */
#views-content-views-panes-content-type-edit-form #views-exposed-pane {
  position: relative;
  top: 0;
}

/* Label */
#views-content-views-panes-content-type-edit-form  #views-exposed-pane label {
  margin-right: 0;
  padding-left: 16px;
}

/* Checkbox */
#views-content-views-panes-content-type-edit-form #edit-exposed-filter-field-publication-type-value-expose-to-visitor,
#views-content-views-panes-content-type-edit-form #edit-exposed-filter-field-circle-topics-tid-expose-to-visitor,
#views-content-views-panes-content-type-edit-form #edit-exposed-filter-field-industry-tid-expose-to-visitor,
#views-content-views-panes-content-type-edit-form #edit-exposed-filter-field-region-of-interest-tid-expose-to-visitor
{
  position: absolute;
  top: 2px;
}

/* Fieldset */
#views-content-views-panes-content-type-edit-form #edit-exposed-field-publication-type-value,
#views-content-views-panes-content-type-edit-form #edit-exposed-field-circle-topics-tid
{
  margin-left: 20px;
  margin-top: 10px;
}

#views-content-views-panes-content-type-edit-form .form-item-exposed-field-centers-research-programs-tid,
#views-content-views-panes-content-type-edit-form .form-item-exposed-field-tag-tid,
#views-content-views-panes-content-type-edit-form .form-item-exposed-field-person-type-tid,
#views-content-views-panes-content-type-edit-form .form-item-exposed-field-academic-area-single-tid,
#views-content-views-panes-content-type-edit-form .form-item-exposed-field-field-of-study-tid 
{
  padding-left: 16px;
}

