.panels-add-content-modal .sf-menu {
  position: relative;
  margin: 0 0 0 10px;
  width: auto;
  float: none;
  border-top: none;
}
.panels-add-content-modal .sf-arrows .sf-with-ul,
.panels-add-content-modal .sf-menu ul li a {
  font: bold 11px/30px 'Open Sans', 'Lucida Sans', 'Lucida Grande', verdana sans-serif;
  color: #5b5b5b;
  padding: 0 12px;  
}
.panels-add-content-modal .sf-arrows .sf-with-ul {
  background: #eaeaec;
  background-image: linear-gradient(bottom, #dbdcdf 0%, #f6f6f7 100%);
  background-image: -o-linear-gradient(bottom, #dbdcdf 0%, #f6f6f7 100%);
  background-image: -moz-linear-gradient(bottom, #dbdcdf 0%, #f6f6f7 100%);
  background-image: -webkit-linear-gradient(bottom, #dbdcdf 0%, #f6f6f7 100%);
  background-image: -ms-linear-gradient(bottom, #dbdcdf 0%, #f6f6f7 100%);
  background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, #dbdcdf), color-stop(1, #f6f6f7) );
}
.panels-add-content-modal .sf-menu ul li a {
  background: #fff;
  border: 1px solid #ccc;
  border-bottom: none;
}
.panels-add-content-modal .sf-menu ul li {
  position: relative;
}
.panels-add-content-modal .sf-menu ul li a:hover {
  color: #333;
}
.panels-add-content-modal .sf-menu ul .ajax-progress {
  position: absolute;
  top: 8px;
  right: 3px;
}
.panels-add-content-modal .widget-preview-title li {
  list-style: none;
}
#fieldable-panels-panes-fieldable-panels-pane-content-type-edit-form {
  padding: 0 1.2em;
}
#fieldable-panels-panes-fieldable-panels-pane-content-type-edit-form .field-multiple-table {
  width: 65%;
}
#fieldable-panels-panes-fieldable-panels-pane-content-type-edit-form .draggable {
  background: transparent;
  border: 1px solid #ccc;
}
#fieldable-panels-panes-fieldable-panels-pane-content-type-edit-form .draggable td {
  padding: 0.9em 0.7em;
}
#fieldable-panels-panes-fieldable-panels-pane-content-type-edit-form .draggable td.delta-order {
  border-left: 1px solid #ccc;
}
#fieldable-panels-panes-fieldable-panels-pane-content-type-edit-form .draggable .field-multiple-drag {
  width: 0;
  padding: 0;
}
#fieldable-panels-panes-fieldable-panels-pane-content-type-edit-form .draggable .tabledrag-handle {
  display: none;
}
#fieldable-panels-panes-fieldable-panels-pane-content-type-edit-form .draggable .delta-order .form-select {
  width: 70px;
}
#fieldable-panels-panes-fieldable-panels-pane-content-type-edit-form .form-item {
  margin-bottom: 1em;
}
#fieldable-panels-panes-fieldable-panels-pane-content-type-edit-form .delta-order label {
  width: auto;
}
#fieldable-panels-panes-fieldable-panels-pane-content-type-edit-form .link-field-subrow {
  width: 620px;
}
#fieldable-panels-panes-fieldable-panels-pane-content-type-edit-form .form-type-link-field > label {
 margin-bottom: 9px;
}
#fieldable-panels-panes-fieldable-panels-pane-content-type-edit-form .link-field-subrow label {
  font-weight: normal;
}
#fieldable-panels-panes-fieldable-panels-pane-content-type-edit-form .link-field-subrow .form-select,
#fieldable-panels-panes-fieldable-panels-pane-content-type-edit-form .form-type-link-field .form-text {
  width: 275px;
  max-width: 275px;
}
#fieldable-panels-panes-fieldable-panels-pane-content-type-edit-form .form-actions {
  margin: 0;
}
#fieldable-panels-panes-fieldable-panels-pane-content-type-edit-form .form-actions,
#fieldable-panels-panes-fieldable-panels-pane-content-type-edit-form .form-submit {
  float: left;
}