.modal-add-content-form a,
.panels-categories-first-page a {
  color:#0074bd;
}
.panels-add-content-modal .sf-menu {
  position: relative;
  margin: 0 0 0 10px;
  width: auto;
  float: none;
  border-top: none;
}
.panels-add-content-modal .sf-arrows .sf-with-ul,
.panels-add-content-modal .sf-menu ul li a {
  font: bold 11px/30px 'Open Sans', 'Lucida Sans', 'Lucida Grande', verdana sans-serif;
  color: #5b5b5b;
  padding: 0 12px;  
}
.panels-add-content-modal .sf-arrows .sf-with-ul {
  background: #eaeaec;
  background-image: linear-gradient(bottom, #dbdcdf 0%, #f6f6f7 100%);
  background-image: -o-linear-gradient(bottom, #dbdcdf 0%, #f6f6f7 100%);
  background-image: -moz-linear-gradient(bottom, #dbdcdf 0%, #f6f6f7 100%);
  background-image: -webkit-linear-gradient(bottom, #dbdcdf 0%, #f6f6f7 100%);
  background-image: -ms-linear-gradient(bottom, #dbdcdf 0%, #f6f6f7 100%);
  background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, #dbdcdf), color-stop(1, #f6f6f7) );
}
.panels-add-content-modal .sf-menu ul li a {
  background: #fff;
  border: 1px solid #ccc;
  border-bottom: none;
}
.panels-add-content-modal .sf-menu ul li {
  position: relative;
}
.panels-add-content-modal .sf-menu ul li a:hover {
  color: #333;
}
.panels-add-content-modal .sf-menu ul .ajax-progress {
  position: absolute;
  top: 8px;
  right: 3px;
}
.panels-add-content-modal .widget-preview-title li {
  list-style: none;
}
#modal-content .panels-add-content-modal  .widget-preview-title .content-type-button div > a {
  width: 60px;
}
.modal-add-content-form {
  padding: 0 0 0 1.2em;
  width: 745px;
}
.modal-add-content-form #back-link {
  position: absolute;
  right: 5px;
}
.modal-add-content-form .launcher {
  color: #444;
}
.modal-add-content-form .counter {
  font-size: 0.85em;
}
.modal-add-content-form .field-type-field-collection,
.modal-add-content-form .field-type-link-field {
  position: relative;
}
.modal-add-content-form .field-multiple-table {
  width: 740px;
}
#modal-content .modal-add-content-form .field-type-field-collection .form-submit,
#modal-content .modal-add-content-form .field-add-more-submit {
  height: 16px;
  line-height: 16px;
  border: none;
  background: none;
  padding: 0;
  color:#0074bd;
  font-weight: normal;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.modal-add-content-form .tabledrag-toggle-weight-wrapper {
  position: absolute;
  left: 0;
  width: 630px;
  line-height: normal;
}
.modal-add-content-form .draggable {
  background: transparent;
  border: 1px solid #ccc;
}
.modal-add-content-form .draggable td {
  padding: 0.9em 0.7em;
}
.modal-add-content-form .draggable td.delta-order {
  border-left: 1px solid #ccc;
}
.modal-add-content-form .draggable .field-multiple-drag {
  width: 0;
  padding: 0;
}
.modal-add-content-form .draggable .tabledrag-handle {
  display: none;
}
.modal-add-content-form .draggable .delta-order .form-select {
  width: 70px;
}
#modal-content .modal-add-content-form .form-item {
  margin-bottom: 1em;
}
#modal-content .modal-add-content-form label {
  width: auto;
  float: none;
}
.modal-add-content-form .link-field-subrow {
  width: 620px;
}
.modal-add-content-form .form-type-link-field > label {
 margin-bottom: 9px;
}
.modal-add-content-form .link-field-subrow label {
  font-weight: normal;
}
.modal-add-content-form .form-type-link-field {
  margin-bottom: 0;
}
.modal-add-content-form .link-field-subrow .form-select,
.modal-add-content-form .form-type-link-field .form-text {
  width: 275px;
  max-width: 275px;
}
.modal-add-content-form .form-textarea,
.modal-add-content-form .resizable-textarea .grippie {
  width: 572px;
}
#modal-content .modal-add-content-form .form-actions {
  text-align: left;
  margin: 0;
}
#modal-content .modal-add-content-form .form-actions,
.modal-add-content-form .form-submit {
  float: left;
}
.modal-add-content-form #cancel-link {
  line-height: 36px;
}
#modal-content .modal-add-content-form .option-text-aligner,
#modal-content .modal-add-content-form .option-text-aligner .form-item,
#modal-content .modal-add-content-form .form-item-override-title-text {
  float: none;
}
#modal-content .modal-add-content-form .option-text-aligner .form-item {
  margin: 0;
  padding-left: 0;
}
#modal-content .modal-add-content-form .field-prefix {
  display: block;
  font-size: 15px;
}
.panels-categories-first-page {
  border: 1px solid #ccc;
}
.panels-categories-first-page ul {
  overflow: hidden;
  padding-left: 15px;
  margin: 0.5em 0 1em 0;
}
.panels-categories-first-page ul h3 {
  font-size: 16px;
}
.panels-categories-first-page ul li {
  width: 30%;
  float: left;
  line-height: 16px;
  margin: 0 2% 0.6% 0.7%;
}