.page-insights #block-gsb-public-custom-blocks-gpcb-banner-title {
  display: inline-block;
  margin-right: 30px;
  padding: 14px 0 9px;
}
@media (max-width: 62.4375em) {
  .page-insights #block-gsb-public-custom-blocks-gpcb-banner-title {
    padding-top: 0;
  }
}
@media (max-width: 35.5em) {
  .page-insights #block-gsb-public-custom-blocks-gpcb-banner-title {
    display: none;
  }
}
