#block-block-31 .logo-wrapper {
  margin-bottom: 40px;
}
.svg #block-block-31 .logo-wrapper .seed-logo {
  background: url('../../../images/logo-seed-2016-03-28-1.svg') no-repeat;
  background-size: 100%;
  display: block;
  height: 90px;
}
.svg #block-block-31 .logo-wrapper .seed-logo:hover {
  text-decoration: none;
}
.svg #block-block-31 .logo-wrapper h2,
.svg #block-block-31 .logo-wrapper p {
  display: none;
}
.no-js #block-block-31 .logo-wrapper h2, .no-svg #block-block-31 .logo-wrapper h2 {
  color: #231f20;
}
#block-block-31 p {
  line-height: 1.3;
  margin-bottom: 0;
}
#block-block-31 h3 {
  color: #231f20;
  font-family: "NewsGothicBT", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.3;
  margin-bottom: 8px;
}
#block-block-31 em {
  font-size: 16px;
  line-height: 1.3;
}
#block-block-31 .seed-wrapper {
  color: #231f20;
  font-size: 15px;
  line-height: 1.3;
  margin: 12px 0 24px;
}
#block-block-31 .contact-wrapper {
  margin-bottom: 12px;
}
