#block-block-26 .cta-wrapper a:after,
#block-block-26 .cta-wrapper a[target="_blank"]:after {
  font-size: 21px;
  font-weight: normal;
  line-height: 0;
  margin-top: -10px;
  position: absolute;
  right: 12px;
  top: 50%;
}

#block-block-26 .cta-wrapper {
  background: white;
}

#block-block-26 .cta-wrapper {
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  margin: 1px;
}

#block-block-26 p {
  margin-bottom: 0;
}
#block-block-26 h2 {
  color: #231f20;
  font-family: "NewsGothicBT", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.3;
  margin-bottom: 2px;
}
#block-block-26 h3 {
  color: #231f20;
  font-family: "NewsGothicBT", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.3;
}
#block-block-26 .contact-wrapper {
  margin: 12px 0 24px;
}
#block-block-26 .phone {
  color: #231f20;
  font-size: 15px;
  line-height: 1.3;
  margin-bottom: 3px;
}
#block-block-26 .phone a {
  color: #231f20;
}
#block-block-26 .phone .label {
  font-size: 16px;
}
#block-block-26 .email a {
  font-size: 16px;
  line-height: 1.3;
}
#block-block-26 .email a:after {
  content: "\f112";
  display: inline;
  speak: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-transform: none;
  line-height: 1;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'icons';
}
#block-block-26 .email a:after {
  font-size: 12px;
  margin-left: 5px;
}
#block-block-26 .cta-wrapper {
  color: #c2b7a1;
  margin-bottom: 8px;
}
#block-block-26 .cta-wrapper a,
#block-block-26 .cta-wrapper a[target="_blank"] {
  display: block;
  font-size: 16px;
  line-height: 1.2;
  padding: 14px 44px 14px 20px;
  position: relative;
}
#block-block-26 .cta-wrapper a:after,
#block-block-26 .cta-wrapper a[target="_blank"]:after {
  content: "\f101";
  display: inline;
  speak: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-transform: none;
  line-height: 1;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'icons';
}
#block-block-26 .cta-wrapper a:after,
#block-block-26 .cta-wrapper a[target="_blank"]:after {
  color: #c2b7a1;
}
#block-block-26 .cta-wrapper a:hover:after,
#block-block-26 .cta-wrapper a[target="_blank"]:hover:after {
  color: #aac4bf;
}
