.pane-gsb-public-custom-blocks-gpcb-conducting-research a:after {
  font-size: 21px;
  font-weight: normal;
  line-height: 0;
  margin-top: -10px;
  position: absolute;
  right: 12px;
  top: 50%;
}

.pane-gsb-public-custom-blocks-gpcb-conducting-research a:after {
  font-size: 16px;
  margin-right: 14px;
  margin-top: -8px;
  right: 0;
}

.pane-gsb-public-custom-blocks-gpcb-conducting-research a {
  background: #538b80;
  color: white;
  display: block;
  font-family: "NewsGothicBT-Demi", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2;
  padding: 14px 36px 11px 26px;
  position: relative;
  text-align: left;
}
.pane-gsb-public-custom-blocks-gpcb-conducting-research a:after {
  content: "\f101";
  display: inline;
  speak: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-transform: none;
  line-height: 1;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'icons';
}
.pane-gsb-public-custom-blocks-gpcb-conducting-research a:after {
  color: white;
}
.pane-gsb-public-custom-blocks-gpcb-conducting-research a:hover {
  background: #2d6280;
  color: white;
}
.pane-gsb-public-custom-blocks-gpcb-conducting-research a:hover:after {
  color: white;
}

.pane-gsb-public-custom-blocks-gpcb-conducting-research {
  height: 200px;
  padding: 26px;
  background: -moz-linear-gradient(left, #30759c, rgba(1, 82, 128, 0)), url('../../../images/bg-library-conducting-research-2015-05-26-1.jpg') 100% 50% no-repeat;
  background: -o-linear-gradient(left, #30759c, rgba(1, 82, 128, 0)), url('../../../images/bg-library-conducting-research-2015-05-26-1.jpg') 100% 50% no-repeat;
  background: -webkit-linear-gradient(left, #30759c, rgba(1, 82, 128, 0)), url('../../../images/bg-library-conducting-research-2015-05-26-1.jpg') 100% 50% no-repeat;
  background: linear-gradient(to right, #30759c, rgba(1, 82, 128, 0)), url('../../../images/bg-library-conducting-research-2015-05-26-1.jpg') 100% 50% no-repeat;
}
.pane-gsb-public-custom-blocks-gpcb-conducting-research .description {
  color: white;
  font-size: 32px;
  line-height: 1.2;
  margin-bottom: 20px;
}
.narrow-view .pane-gsb-public-custom-blocks-gpcb-conducting-research .description {
  font-size: 24px;
}
@media (min-width: 62.5em) and (max-width: 65.625em) {
  .pane-gsb-public-custom-blocks-gpcb-conducting-research .description {
    font-size: 28px;
  }
}
@media (max-width: 46.9375em) {
  .pane-gsb-public-custom-blocks-gpcb-conducting-research .description {
    font-size: 28px;
  }
}
@media (min-width: 35.5em) and (max-width: 38em) {
  .pane-gsb-public-custom-blocks-gpcb-conducting-research .description {
    font-size: 22px;
  }
}
@media (max-width: 20em) {
  .pane-gsb-public-custom-blocks-gpcb-conducting-research .description {
    font-size: 24px;
  }
}
.pane-gsb-public-custom-blocks-gpcb-conducting-research a {
  max-width: 245px;
}
.pane-gsb-public-custom-blocks-gpcb-conducting-research a:hover:after {
  color: white;
}
