.pane-gsb-public-custom-blocks-gpcb-follow-us {
  background: url('../../../images/cta-follow-us.jpg') no-repeat top left, #89c0c5;
  height: 144px;
  position: relative;
}
.pane-gsb-public-custom-blocks-gpcb-follow-us h2 {
  font-size: 0;
  line-height: 0;
}
.pane-gsb-public-custom-blocks-gpcb-follow-us .social-title {
  background: rgba(83, 139, 128, 0.85);
  color: white;
  display: block;
  font-family: "NewsGothicBT-Demi", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
  padding: 12px 26px;
}
.pane-gsb-public-custom-blocks-gpcb-follow-us .social-title:after {
  content: "\f101";
  display: inline;
  speak: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-transform: none;
  line-height: 1;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'icons';
}
.pane-gsb-public-custom-blocks-gpcb-follow-us .social-title:after {
  color: white;
  display: inline-block;
  font-size: 12px;
  margin-left: 3px;
}
.pane-gsb-public-custom-blocks-gpcb-follow-us .social-title:hover {
  background: rgba(45, 98, 128, 0.85);
  color: white;
  text-decoration: underline;
}
.pane-gsb-public-custom-blocks-gpcb-follow-us .icon-wrapper {
  margin-top: 26px;
  max-width: 270px;
  padding: 0 26px;
}
