#block-gsb-public-custom-blocks-gpcb-insights-search {
  display: inline;
  float: left;
  height: 66px;
  position: relative;
  vertical-align: top;
}
@media (max-width: 37.25em) {
  #block-gsb-public-custom-blocks-gpcb-insights-search {
    display: inline;
    float: right;
    position: absolute;
    right: 0;
  }
}
#block-gsb-public-custom-blocks-gpcb-insights-search .form-container-insights-search {
  margin: 0;
}
#block-gsb-public-custom-blocks-gpcb-insights-search input.placeholder-text,
#block-gsb-public-custom-blocks-gpcb-insights-search textarea.placeholder-text {
  color: #666666;
  font-size: 20px;
  line-height: 1.2;
}
@media (max-width: 35.5em) {
  #block-gsb-public-custom-blocks-gpcb-insights-search input.placeholder-text,
  #block-gsb-public-custom-blocks-gpcb-insights-search textarea.placeholder-text {
    font-size: 14px;
  }
}
#block-gsb-public-custom-blocks-gpcb-insights-search ::-webkit-input-placeholder {
  color: #666666;
  font-size: 20px;
  line-height: 1.2;
}
@media (max-width: 35.5em) {
  #block-gsb-public-custom-blocks-gpcb-insights-search ::-webkit-input-placeholder {
    font-size: 14px;
  }
}
#block-gsb-public-custom-blocks-gpcb-insights-search #insights-search-block-form {
  position: relative;
  top: 0;
}
#block-gsb-public-custom-blocks-gpcb-insights-search #insights-search-touch-button {
  border-right: 1px solid #c4c4c4;
  cursor: pointer;
  display: inline-block;
  height: 66px;
}
@media (max-width: 37.25em) {
  #block-gsb-public-custom-blocks-gpcb-insights-search #insights-search-touch-button {
    border-right: 0;
    border-left: 1px solid #c4c4c4;
    float: right;
  }
}
#block-gsb-public-custom-blocks-gpcb-insights-search #insights-search-touch-button.open {
  display: none;
}
#block-gsb-public-custom-blocks-gpcb-insights-search #insights-search-touch-button:after {
  content: "\f11f";
  display: inline;
  speak: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-transform: none;
  line-height: 1;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'icons';
}
#block-gsb-public-custom-blocks-gpcb-insights-search #insights-search-touch-button:after {
  color: #231f20;
  font-size: 24px;
  padding: 0 21px;
  position: relative;
  top: 25px;
}
#block-gsb-public-custom-blocks-gpcb-insights-search #insights-search-block-form {
  display: none;
}
#block-gsb-public-custom-blocks-gpcb-insights-search #insights-search-block-form.open {
  display: inline-block;
}
#block-gsb-public-custom-blocks-gpcb-insights-search #edit-insights-search-keys {
  height: 66px;
  border: 1px lightgray solid;
  background: #f4f4f4;
  color: #666666;
  font-size: 20px;
  line-height: 1.5;
  padding: 7px 52px 6px 20px;
}
@media (min-width: 62.5em) {
  #block-gsb-public-custom-blocks-gpcb-insights-search #edit-insights-search-keys {
    width: 364px;
  }
}
@media (max-width: 35.5em) {
  #block-gsb-public-custom-blocks-gpcb-insights-search #edit-insights-search-keys {
    font-size: 14px;
  }
}
#block-gsb-public-custom-blocks-gpcb-insights-search #edit-submit-insights-toolbar-search {
  display: inline-block;
  width: 45px;
  height: 36px;
  background: transparent;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  border: none;
  text-indent: 1000px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  right: 6px;
  top: 15px;
}
.svg #block-gsb-public-custom-blocks-gpcb-insights-search #edit-submit-insights-toolbar-search {
  background: url('../../../images/search.svg') no-repeat center;
}
.svg #block-gsb-public-custom-blocks-gpcb-insights-search #edit-submit-insights-toolbar-search:hover {
  background: url('../../../images/search-hover.svg') no-repeat center;
}
.no-js #block-gsb-public-custom-blocks-gpcb-insights-search #edit-submit-insights-toolbar-search, .no-svg #block-gsb-public-custom-blocks-gpcb-insights-search #edit-submit-insights-toolbar-search {
  background: url('../../../images/search.png') no-repeat center 6px transparent;
}
.no-js #block-gsb-public-custom-blocks-gpcb-insights-search #edit-submit-insights-toolbar-search:hover, .no-svg #block-gsb-public-custom-blocks-gpcb-insights-search #edit-submit-insights-toolbar-search:hover {
  background-position: center -27px;
}
