#block-gsb-public-custom-blocks-gpcb-insights {
  float: left;
  margin-right: 20px;
  position: relative;
  top: 14px;
}
@media (max-width: 62.4375em) {
  #block-gsb-public-custom-blocks-gpcb-insights {
    padding-left: 15px;
  }
}
@media (max-width: 62.4375em) {
  #block-gsb-public-custom-blocks-gpcb-insights span {
    display: none;
  }
}
@media (max-width: 35.5em) {
  #block-gsb-public-custom-blocks-gpcb-insights {
    display: none;
  }
}
#block-gsb-public-custom-blocks-gpcb-insights a {
  color: #231f20;
  font-size: 34px;
  font-family: "NewsGothicBT", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  line-height: 1.2;
}
#block-gsb-public-custom-blocks-gpcb-insights a:hover {
  color: #231f20;
  text-decoration: none;
  border-bottom: 1px solid #231f20;
}
@media (max-width: 40.625em) {
  #block-gsb-public-custom-blocks-gpcb-insights a {
    font-size: 28px;
  }
}
