#block-gsb-public-custom-blocks-gpcb-breadcrumbs {
  color: white;
  font-size: 14px;
}
@media (max-width: 62.4375em) {
  #block-gsb-public-custom-blocks-gpcb-breadcrumbs {
    display: none;
  }
}
#block-gsb-public-custom-blocks-gpcb-breadcrumbs .breadcrumb {
  line-height: 1;
  top: 0;
  margin-bottom: 0;
}
@media (min-width: 35.5625em) {
  #block-gsb-public-custom-blocks-gpcb-breadcrumbs .breadcrumb {
    padding-bottom: 8px;
  }
}
#block-gsb-public-custom-blocks-gpcb-breadcrumbs a {
  color: white;
}
#block-gsb-public-custom-blocks-gpcb-breadcrumbs a:hover {
  border-bottom: 2px solid white;
  text-decoration: none;
}
