#block-gsb-public-custom-blocks-gpcb-mobile-insights {
  display: none;
}
@media (max-width: 35.5em) {
  #block-gsb-public-custom-blocks-gpcb-mobile-insights {
    border-left: 1px solid #d6d6d6;
    display: inline-block;
    height: 30px;
    margin-top: 10px;
  }
  #block-gsb-public-custom-blocks-gpcb-mobile-insights h2 {
    line-height: 0;
  }
  #block-gsb-public-custom-blocks-gpcb-mobile-insights h2 a {
    color: #231f20;
    font-family: "NewsGothicBT-Demi", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: normal;
    line-height: 1.5;
    padding-left: 10px;
  }
}
