.front #bottom {
  padding-top: 0;
}
.front #bottom .bottom-content .block {
  float: none;
}
.front .home-tagline {
  background: white url("../../../images/home-tagline-d.png") no-repeat center center;
  background-size: contain;
  min-height: 90px;
  margin: 110px auto;
  padding: 0 20px;
}
@media only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
  .front .home-tagline {
    background: white url("../../../images/home-tagline-d@2x.png") no-repeat center center;
    background-size: contain;
  }
}
@media (-webkit-min-device-pixel-ratio: 2) and (max-width: 1170px) and (min-width: 570px), (min-resolution: 192dpi) and (max-width: 1170px) and (min-width: 570px) {
  .front .home-tagline {
    background: white url("../../../images/home-tagline-d@2x.png") no-repeat center center;
    background-size: contain;
  }
}
@media (max-width: 570px) and (min-width: 270px) {
  .front .home-tagline {
    background: white url("../../../images/home-tagline-m.png") no-repeat center center;
    background-size: contain;
    margin: 70px auto;
  }
}
@media (-webkit-min-device-pixel-ratio: 2) and (max-width: 570px) and (min-width: 270px), (min-resolution: 192dpi) and (max-width: 570px) and (min-width: 270px) {
  .front .home-tagline {
    background: white url("../../../images/home-tagline-m@2x.png") no-repeat center center;
    background-size: contain;
    margin: 70px auto;
  }
}
