#block-menu-menu-insights-footer-bottom-menu {
  border-bottom: 1px #cccccc solid;
  padding: 20px 0;
}
#block-menu-menu-insights-footer-bottom-menu li {
  display: inline-block;
  font-family: "NewsGothicBT-Demi", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.3;
  margin-right: 36px;
}
#block-menu-menu-insights-footer-bottom-menu li:last-of-type {
  margin-right: 0;
}
@media (max-width: 37.5em) {
  #block-menu-menu-insights-footer-bottom-menu li {
    display: block;
    margin-bottom: 6px;
  }
  #block-menu-menu-insights-footer-bottom-menu li:last-of-type {
    margin-bottom: 0;
  }
}
