.map-link {
  background: white;
}

.map-link {
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  margin: 1px;
}

.map-link {
  background: url('../../../images/cta-map.png') repeat-x top left;
  clear: both;
  display: block;
  overflow: hidden;
  padding: 20px;
}
@media (min-width: 30em) and (max-width: 35.5em) {
  .map-link {
    background: url('../../../images/cta-map-mobile-2015-05-26-1.jpg') repeat-x 80% 30%;
  }
}
.map-link:hover {
  display: block;
  overflow: hidden;
  border: 2px white solid;
}
.map-link .cta-body {
  padding: 13px 15px;
  background: rgba(30, 82, 109, 0.9);
  color: white;
  font-size: 21px;
  line-height: 1.5em;
  margin-bottom: 0;
}
.map-link:hover .cta-body {
  background: rgba(123, 130, 1, 0.8);
}
