#block-menu-menu-section-menu-alumni-footer- {
  position: absolute;
  right: 0;
  bottom: 14px;
}
@media (max-width: 48em) {
  #block-menu-menu-section-menu-alumni-footer- {
    bottom: 0;
    position: relative;
    margin: 40px 0 15px 0;
  }
}
#block-menu-menu-section-menu-alumni-footer- li {
  display: inline-block;
}
#block-menu-menu-section-menu-alumni-footer- li:first-of-type:after {
  color: #656162;
  content: "|";
  margin: 0 10px 0 14px;
}
#block-menu-menu-section-menu-alumni-footer- a {
  font-family: "NewsGothicBT-Demi", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
}
