#block-menu-menu-alumni-utility-nav {
  position: absolute;
  right: 0;
  top: 8px;
}
@media (max-width: 62.4375em) {
  #block-menu-menu-alumni-utility-nav {
    display: none;
  }
}
@media (max-width: 74.9375em) {
  #block-menu-menu-alumni-utility-nav {
    right: 140px;
  }
}
#block-menu-menu-alumni-utility-nav li {
  display: inline-block;
}
#block-menu-menu-alumni-utility-nav a {
  color: #990000;
  font-family: "NewsGothicBT-Demi", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.2;
  margin: 0 8px;
}

@media (max-width: 37.4375em) {
  .page-alumni #utility {
    left: 0;
  }
  .page-alumni #utility .section:before {
    background: url("../../../images/icons/Alumni-utility-arrow-gray-@2x.png") 0 0 no-repeat;
    content: " ";
    height: 15px;
    position: absolute;
    top: -3px;
    width: 32px;
    left: 40px;
  }
  .page-alumni #utility .section .region-utility {
    background-color: #f4f4f4;
    border: 1px solid #cccccc;
    padding: 5px 0 10px;
    margin: 10px;
  }
  .page-alumni #utility .section .menu {
    display: flex;
    justify-content: space-evenly;
    height: 48px;
    min-width: 54px;
    text-align: center;
  }
  .page-alumni #utility .section .menu li:last-of-type {
    display: none;
  }
  .page-alumni #utility .section .menu li {
    min-width: 54px;
  }
  .page-alumni #utility .section .menu li a {
    padding-left: 0;
  }
  .page-alumni #utility .section .menu li a:before {
    content: " ";
    display: block;
    height: 36px;
  }
  .page-alumni #utility .section .menu li a {
    margin: 0 auto;
  }
  .page-alumni li.menu-mlid-37611 a:before {
    background: url("../../../images/icons/icon-email-36x36.png") center 0 no-repeat;
  }
  .page-alumni li.menu-mlid-37616 a:before {
    background: url("../../../images/icons/icon-directory-36x36.png") center 0 no-repeat;
  }
  .page-alumni li.menu-mlid-37621 a:before {
    background: url("../../../images/icons/icon-calendar-36x36.png") center 0 no-repeat;
  }
  .page-alumni li.menu-mlid-37626 a:before {
    background: url("../../../images/icons/icon-account-36x36.png") center 0 no-repeat;
  }
  .page-alumni li.menu-mlid-37631 a:before {
    background: url("../../../images/icons/icon-login-36x36.png") center 0 no-repeat;
  }
}
