#block-menu-menu-alumni-utility-nav {
  position: absolute;
  right: 0;
  top: 8px;
}
@media (max-width: 62.4375em) {
  #block-menu-menu-alumni-utility-nav {
    display: none;
  }
}
#block-menu-menu-alumni-utility-nav li {
  display: inline-block;
}
#block-menu-menu-alumni-utility-nav a {
  color: #990000;
  font-family: "NewsGothicBT-Demi", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.2;
  margin: 0 8px;
}

@media (max-width: 37.4375em) {
  .page-alumni #utility {
    left: 0;
    right: unset;
  }
  .page-alumni #utility .section:before {
    background: url("../../../images/icons/Alumni-utility-arrow-gray-@2x.png") 0 0 no-repeat;
    content: " ";
    height: 15px;
    position: absolute;
    top: -3px;
    width: 32px;
    left: 40px;
  }
  .page-alumni #utility .menu {
    display: table;
    margin: 10px auto 0;
  }
  .page-alumni #utility .menu li {
    display: table-cell;
    height: 48px;
    padding-bottom: 5px;
    vertical-align: bottom;
  }
  .page-alumni .region-utility .menu-mlid-37611 {
    width: 54px;
  }
  .page-alumni .region-utility .menu-mlid-37611 a:before {
    background: url("../../../images/icons/icon-email-36x36.png") 0 8px no-repeat;
    content: " ";
    display: block;
    height: 45px;
    position: absolute;
    top: 10px;
    width: 54px;
  }
  .page-alumni .region-utility .menu-mlid-37616 {
    width: 45px;
  }
  .page-alumni .region-utility .menu-mlid-37616 a:before {
    background: url("../../../images/icons/icon-directory-36x36.png") 0 8px no-repeat;
    content: " ";
    display: block;
    height: 49px;
    position: absolute;
    top: 10px;
    width: 54px;
  }
  .page-alumni .region-utility .menu-mlid-37621 {
    width: 65px;
  }
  .page-alumni .region-utility .menu-mlid-37621 a:before {
    background: url("../../../images/icons/icon-calendar-36x36.png") 13px 8px no-repeat;
    content: " ";
    display: block;
    height: 45px;
    position: absolute;
    top: 10px;
    width: 58px;
  }
  .page-alumni .region-utility .menu-mlid-37626 {
    width: 54px;
  }
  .page-alumni .region-utility .menu-mlid-37626 a:before {
    background: url("../../../images/icons/icon-account-36x36.png") 0 8px no-repeat;
    content: " ";
    display: block;
    height: 45px;
    position: absolute;
    top: 10px;
    width: 54px;
  }
  .page-alumni .region-utility .menu-mlid-37631 {
    width: 54px;
  }
  .page-alumni .region-utility .menu-mlid-37631 a:before {
    background: url("../../../images/icons/icon-login-36x36.png") 0 8px no-repeat;
    content: " ";
    display: block;
    height: 45px;
    position: absolute;
    top: 10px;
    width: 54px;
  }
}
@media (max-width: 37.4375em) and (max-width: 37.4375em) {
  .page-alumni .region-utility {
    background-color: #f4f4f4;
    border: 1px solid #cccccc;
    padding: 5px 0;
    margin: 10px;
  }
}
