#block-menu-menu-footer-3 {
  float: right;
  padding: 11px 0;
}
@media (max-width: 50em) {
  #block-menu-menu-footer-3 {
    float: none;
    position: relative;
  }
}
#block-menu-menu-footer-3 li {
  display: inline-block;
  margin-right: 26px;
}
#block-menu-menu-footer-3 li:first-of-type {
  margin-left: 5px;
}
@media (max-width: 50em) {
  #block-menu-menu-footer-3 li:first-of-type {
    margin-left: 0;
  }
}
#block-menu-menu-footer-3 li:last-of-type {
  margin-right: 0;
}
@media (max-width: 50em) {
  #block-menu-menu-footer-3 li {
    display: block;
    margin: 4px 0;
  }
}
#block-menu-menu-footer-3 a {
  color: #656162;
  font-size: 14px;
}
#block-menu-menu-footer-3 a:hover {
  color: #656162;
}
#block-menu-menu-footer-3 a:hover:after {
  color: #656162;
}
