// Default Variables

$init-type: normalize

$base-font-size: 16px
$base-line-height: $base-font-size * 1.3

// Custom variables
$top-border-interval: 3px
$max-width: 1170px
$standard-padding: 26px


// Layout classes

// .narrow-view: 270px
// .wide-view: 570px
// .full-view: 870px
// .superwide-view: 1170px

$narrow-view: 270px
$wide-view: 570px


// Global Breakpoint Variables
// +breakpoint($VARIABLE)

$breakpoint-to-ems: true

$bp-mobile-480: 480px max-width
$bp-mobile: 320px max-width
$bp-mobile-max: 568px max-width
$bp-mobile-min: 569px min-width

$bp-tablet-port-min: 569px min-width
$bp-tablet-port: 569px 999px
$bp-tablet-port-max: 999px max-width
$bp-tablet-land-max: 1024px max-width
$bp-tablet-land-min: 1000px min-width

$bp-nexus-portrait: 600px 602px
$bp-nexus-landscape: 961px 963px

$bp-wide-min: 1000px min-width
$bp-content-max: 1210px max-width
$bp-content: 1000px 1210px

$bp-top-stories: 1210px 321px
$bp-idea-story-detail: 1210px max-width
