@charset "UTF-8"

// IMPORT COMPASS AND EXTENSIONS
@import compass
@import breakpoint
@import ../../../fonts/icons/icons
@import partials/base/00-variables/all
@import partials/base/03-extend/gsb-revamp

.node-academic-calendar-event.view-mode-main_list

  // Title
  .field-name-field-academic-calendar-link h3
    font-size: 16px
    font-family: $font-demi
    font-weight: normal
    line-height: 1.2
    a
      font-size: 16px
      font-family: $font-demi
      font-weight: normal
      line-height: 1.2
