@charset "UTF-8"

// IMPORT COMPASS AND EXTENSIONS
@import compass
@import breakpoint
@import ../../../fonts/icons/icons
@import partials/base/00-variables/all
@import partials/base/03-extend/gsb-revamp

// Event - view mode main list
.node-event.view-mode-main_list
  +clearfix

  // Layout for image
  .left.second-column
    float: left
    max-width: 65%
    +breakpoint(1212px max-width)
      max-width: 49%
    +breakpoint(999px max-width)
      max-width: 65%
    +breakpoint(825px max-width)
      max-width: 50%
    +breakpoint(768px max-width)
      max-width: 100%

  .right
    float: right
    +breakpoint(768px max-width)
      float: none

  // Title
  .field-name-title h3
    font-family: $font-sans
    font-size: 20px
    font-weight: bold
    line-height: 1.3
    margin-bottom: 8px
    a
      font-family: $font-sans
      font-size: 20px
      font-weight: bold
      line-height: 1.3
    +breakpoint(768px max-width)
      font-size: 18px
      a
        font-size: 18px

  // Time
  .field-name-field-event-date
    font-family: $font-demi
    font-size: 16px
    line-height: 1.2
    margin-bottom: 8px

  // Address
  .field-name-field-event-location
    font-family: $font-demi
    font-size: 16px
    line-height: 1.3

  // Dek
  .field-name-field-editorial-summary
    font-size: 16px
    line-height: 1.3
    margin-top: 12px

  // Image
  .field-name-field-image-single-public
    max-width: 150px
    img
      width: 100%
    +breakpoint(768px max-width)
      display: none
