@charset "UTF-8"

// IMPORT COMPASS AND EXTENSIONS
@import compass
@import breakpoint
@import ../../../fonts/icons/icons
@import partials/base/00-variables/all

// Event - Featured

#block-gsb-public-custom-blocks-gsb-featured-event
  margin-bottom: 40px
  float: right
  width: 795px
  position: relative
  top: 18px
  +breakpoint($bp-tablet-port-max)
    display: none
  h2
    font-size: 24px
    color: $blue-light
    line-height: 1.2
    margin-bottom: 10px
    a
      color: inherit
      +icon-after("arrow-double-right", true)
      &:after
        color: $blue-light
        font-size: 16px
        margin-left: 4px
        display: inline-block
      &:hover
        color: $white
        &:after
          color: $white

  .group_ft_evnt_wrp
    padding-left: 180px
    padding-right: 30px
    min-height: 130px
    max-width: 570px
    overflow: hidden

  .field-name-field-image-single-public
    float: right
    width: 270px
  .group_tag_wrap
    line-height: 1.2em
    font-size: 15px
    color: $blue-light
    .separator
      display: inline
    a
      color: $blue-light
      &:hover
        color: $white

    > div
      display: inline
      > div
        display: inline
  .field-name-field-address,
  .field-name-field-editorial-summary,
  .event_calendar_featured
    color: $white

  .field-name-field-editorial-summary
    margin-top: -2px
    margin-bottom: 24px
    font-size: 16px
    line-height: 1.4

  // Featured event
  .event_calendar_featured
    position: absolute
    top: 0
    left: 0
    width: 143px
    height: 128px
    padding: 29px 5px 5px
    text-align: center
    +icon-after("calendar-blank", true)
    &:after
      font-size: 163px
      position: absolute
      line-height: 0
      top: 75px
      left: -8px
      color: $blue-light
    > div
      line-height: 31px


    &.from-to
      b
        position: relative
        top: 10px
        &:last-of-type
          top: -8px

    ins,
    b,
    span
      display: block

    span
      top: -3px
    ins
      text-decoration: none
      border: 0 none
      top: 5px
    ins, span
      font-size: 14px
      position: relative
    b
      font-size: 24px
    i
      font-style: normal
