@charset "UTF-8"

// IMPORT COMPASS AND EXTENSIONS
@import compass
@import breakpoint
@import ../../../fonts/icons/icons
@import partials/base/00-variables/all
@import partials/base/03-extend/gsb-revamp

// Main Events List, MBA and MSx Admission Events list - used on events landing
.view-display-id-main_event_list_pane,
.view-display-id-mba_admission_panel_pane,
.view-display-id-msx_admission_panel_pane

  // Day separation
  h2
    color: $text-black
    font-family: $font-sans
    font-size: 22px
    font-weight: bold
    line-height: 1.2
    margin-bottom: 18px
    padding-top: $standard-padding

  // Event per day
  .view-mode-main_list
    @extend %divider-top
    padding: $standard-padding
    &.node-academic-calendar-event
      padding: 12px $standard-padding
