@charset "UTF-8"

// IMPORT COMPASS AND EXTENSIONS
@import compass
@import breakpoint
@import partials/base/00-variables/all

// Event - Admission calendar

.view-admission-events
  table
    +box-shadow(0 1px 1px rgba($black, 0.1))
    border: 1px solid #e4e4e4 !important
    margin-bottom: 30px
    width: 100%
    tr
      &.odd,
      &.even
        background-color: transparent

      td,
      th
        &:first-of-type
          position: relative
          left: 2px
          width: 130px
        &:nth-child(2n+1)
          background-color: #f8f7f6
          &.active
            background-color: #f8f7f6

    td
      padding: 0.9em 1em 0.5em
      background-color: $white

    tbody
      a
        color: $text-green
        font-weight: bold
        &:hover
          color: $link-blue
      tr
        border-top: transparent
        border-bottom: 1px solid #e4e4e4
    thead
      th
        padding: 1.6em 1em 0.7em
        border-bottom: 1px solid #e4e4e4
        font-size: 16px

      a
        position: relative
        color: $link-green
        padding-right: 30px
        white-space: nowrap
        &:after
          width: 0
          height: 0
          display: inline-block
          position: absolute
          content: ""
          right: -2px
          border-style: solid
          border-width: 7px
          border-color: transparent
          bottom: -2px
          border-top-color: $link-green
          border-top-width: 9px
        &:hover
          color: $link-blue
          text-decoration: underline
      .active
        a
          color: $text-black
          &:hover
            color: $link-blue
        a[href*="asc"]:after
          bottom: 7px
          border-bottom-color: $link-green
          border-bottom-width: 9px
          border-top-color: transparent
          border-top-width: 7px
        img
          display: none

  .view-filters
    margin-bottom: 30px

  .event-buttons
    +clearfix
    .event-button
      +float-left
      cursor: pointer
      padding: 0.5em 1em

  .event-button
    +box-shadow(rgba($black, 0.1) 2px 2px 2px, rgba($black, 0.1) 0 0 0 1px)
    background-color: $grey-e
    +background(linear-gradient(top, $grey-e 20%, #fbfaf8 100%))
    @include filter-gradient(#fbfaf8, $grey-e, vertical)
    color: $red
    margin: 2px 7px 0 1px
    border: 2px $white solid
    border-bottom: none
    &:hover
      background: #fbfaf8
      color: $link-blue
      text-decoration: underline
    &.active
      background: #fbfaf8
      color: $text-black
      &:hover
        color: $link-blue
