// ACCORDION FPP

.pane-bundle-accordion
  @extend %bg-border-and-box-shadow
  padding: 10px 26px
  .field-name-field-body p
    color: $text-grey
    &:last-child
      margin-bottom: 5px
      
.pane-bundle-accordion 
  .field-name-field-accordion-item > div > div
    &:first-child
      .field-name-field-title
        border: 0 none
      
      

.accordion-toggle
  display: none

.content
  .acc-title, .acc-body
    position: relative
    margin-bottom: 0
    clear: both
  .accordion-body-wrap
    display: none
  .accordion-toggle
    display: block
    float: left
    position: relative
    //background: image_url("accordion-icons.png") no-repeat 0 0
    &:after
      content: 'c'
      font-family: 'gsb'
      font-size: 26px
      color: $red
      font-weight: normal
  .acc-title .accordion-toggle
    position: absolute
    top: 4px
    left: 0
    margin-top: 0

.accordion-toggle.opened, .opened .accordion-toggle
  &:after
    content: 'd'

.accordion-toggle
  &:hover
    //background-position: -15px 0
    &:after
      color: $text-blue
  &.opened:hover
    //background-position: -15px -16px

.opened .accordion-toggle:hover
  background-position: -15px -16px

.page-node #content-body .field-name-field-accordion-item .field
  margin-bottom: 0
  font-size: 18px
  line-height: 24px

.content
  .field-name-field-accordion-item .field-name-field-body
    display: none
    margin-top: 0
    padding-left: 36px
    color: $text-grey
    font-size: 18px
    padding-bottom: 12px

  .accordion-body-wrap .acc-body
    margin-top: 0
    padding-left: 30px
  .acc-body
    margin-bottom: 10px
  .field-name-field-accordion-item .field-name-field-title,
  .acc-title
    border-top: 2px #e1e5e4 solid
  // Title styling
  .field-name-field-accordion-item .field-name-field-title .field-item,
  .acc-title
    font-size: 22px
    font-family: $font-demi
    font-weight: bold
    cursor: pointer
    line-height: 1.1

  .field-name-field-accordion-item
    .entity-field-collection-item:first-of-type
      border-top: 0
    .field-name-field-title .field-items
      margin-left: 30px
      padding: 8px 8px 18px 5px
  .acc-title
    margin-left: 30px
    padding: 8px 8px 8px 5px
    margin-left: 0
    padding-left: 30px

p.acc-title + p
  margin-top: 15px

.accordion-body-wrap + p
  margin-top: 15px
  &.acc-title
    margin-top: 0

.accordion-body,
.acc-body
  color: $text-grey
  font-size: 18px
  padding-bottom: 12px
