///////////////////
// A-Z last name filter
///////////////////

.pane-lastname-az-links
  +breakpoint($bp-mobile-max)
    display: none
  @extend %bg-border-and-box-shadow
  +clearfix
  position: relative
  margin-bottom: 30px
  .item-list
    display: block
    padding: 0 75px
    height: 65px
    overflow: hidden
    +breakpoint($bp-nexus-portrait)
      padding: 0 66px
    +breakpoint($bp-nexus-landscape)
      padding: 0 66px
    ul
      margin: 0
    li
      float: left
      margin: 0
      line-height: 75px
      padding: 0
      width: 40px
      text-align: center
      +breakpoint($bp-nexus-portrait)
        width: 30px
      +breakpoint($bp-nexus-landscape)
        width: 30px
      a
        font-size: 20px
        &.active
          color: #a8a6a7
          &:hover
            color: $text-blue
        &:hover
          color: $text-blue

  .next, .prev
    -moz-user-select: none
    -webkit-user-select: none
    -ms-user-select: none
    cursor: pointer
    position: absolute
    top: 0
    width: 65px
    height: 65px
    +background(linear-gradient(top, $red-dark, $red-light))
    text-align: center
    line-height: 1
    &:before
      font-family: "gsb"
      font-size: 31px
      color: $white
      line-height: 0
      position: absolute
      top: 50%
      left: 50%
      margin-top: -5px
      margin-left: -15px
    &.disabled
      +background(linear-gradient(top, #e4e4e4, #e9e9e9))
      cursor: default
      &:hover
        +background(linear-gradient(top, #e4e4e4, #e9e9e9))
    &:hover
      +background(linear-gradient(top, #18455f, #2d6280))

  // Arrow icons
  .next
    right: 0
    &:before
      content: 'w'
  .prev
    left: 0
    &:before
      content: 'q'
