/////////////////
// BANNER REGION
/////////////////

// GENERAL
#banner
  overflow: hidden

.banner-title,
.banner-subtitle
  color: $white

.banner-title
  font-family: $font-demi
  font-size: 48px
  line-height: 1.85em

.banner-subtitle
  font-size: 42px
  line-height: 2em

.banner-content
  margin: 0 auto
  max-width: $max-width
  padding-top: 18px

// BREADCRUMBS
#block-gsb-public-custom-blocks-gpcb-breadcrumbs
  color: $grey-6
  font-size: 14px
  .breadcrumb
    line-height: 1em
    padding-bottom: 18px
  a
    color: $white

// BLACK BACKGROUND
.page-events,
.page-business-insights
  #banner
    +background(linear-gradient(bottom, #2f2f2f, #1b1b1b))

// EVENT LANDING
.page-events
  #banner .section
    background: image_url("bg-banner-events-landing.png") no-repeat 50% 0
  .banner-title
    padding-bottom: 30px

// BI LANDING
.page-business-insights
  .banner-title
    font-family: $font-sans
    font-size: 56px
    font-weight: bold
  .banner-subtitle
    margin-top: -24px
    padding-bottom: 27px
