// Slideshow

ul.slideshow-items
  list-style: none
  margin: 0
  padding: 0

// Slideshow functionality
.flex-control-nav
  display: none

.flex-direction-nav a
  width: 40px
  height: 40px
  opacity: 1
  outline: none
  .wide-view &
    top: 30%
  +breakpoint($bp-mobile-max)
    top: 37%

  &.flex-prev
    left: 28px
    background: image_url("prev-arrow-small.png") no-repeat
  &.flex-next
    right: 28px
    background: image_url("next-arrow-small.png") no-repeat


// Slideshow wrapper
.slideshow-wrapper
  @extend %box-shadow
  @extend %border
  position: relative
  top: 0

// Slide styling
.slideshow-slide
  background-color: $grey-e
  max-width: 870px
  height: 367px
  .wide-view &
    height: 500px
  position: relative
  top: 0
  a:hover
    .slide-title
      color: $text-blue
      &:after
        color: $text-blue
    .slide-cta
      background-color: $teal-dark

  .slide-text
    padding: 0 26px
    position: absolute
    top: 0
    right: 0
    height: 367px
    width: 367px
    .wide-view &
      bottom: 0
      height: auto
      padding: 26px
      position: absolute
      top: initial
      width: 100%
    z-index: 2
    .inner
      position: absolute
      bottom: 60px
      .wide-view &
        position: initial
        max-width: 510px

// Slide title
.slide-title
  color: $text-black
  font-size: 26px
  line-height: 32px
  margin-bottom: 30px
  text-transform: none
  &:after
    color: $red
    content: "\f100"
    font-family: "arrow-double"
    font-size: 36px
    position: relative
    top: 2px
    left: 5px

// Slide description
.slide-description
  color: $text-black
  font-size: 16px
  line-height: 20px
  margin-bottom: 30px

/////////////////
// CTA SLIDESHOW
/////////////////
.slideshow-cta
  .slide-title,
  .slide-description
    width: 250px
    .wide-view &
      width: 100%
  .slide-title
    font-family: $font-demi

// Slide CTA text
.slide-cta
  color: $white
  display: inline-block
  font-size: 14px
  font-weight: bold
  line-height: 18px
  padding: 10px 16px

// Color picker styling
.purple-button-on-blue
  .slide-text
    +background(linear-gradient(left, rgba(#d9e5e3, 0.6), rgba(#d9e5e3, 1) 18%, #cce0dc))
    .wide-view &
      +background(linear-gradient(top, rgba(#d9e5e3, 0.6), rgba(#d9e5e3, 1) 18%, #cce0dc))
    +breakpoint($bp-mobile-max)
      background: none
  .slide-cta
    background-color: $purple

.blue-button-on-orange
  .slide-text
    +background(linear-gradient(left, rgba(#fbe1a8, 0.6), rgba(#fbe1a8, 1) 18%))
    .wide-view &
      +background(linear-gradient(top, rgba(#fbe1a8, 0.6), rgba(#fbe1a8, 1) 18%))
    +breakpoint($bp-mobile-max)
      background: none
  .slide-cta
    background-color: $teal-dark

////////////////////
// SIMPLE SLIDESHOW
////////////////////
.slideshow-simple
  .slideshow-wrapper
    margin-right: 5px
  .slideshow-slide
    height: 262px
    +breakpoint($bp-tablet-port)
      .front &
        height: 205px
    +breakpoint($bp-mobile-max)
      .front &
        +background(linear-gradient(bottom, #ededed, #fbfaf8 20%))
        height: auto
        min-height: 425px
    &:hover
      .slide-title
        color: $red
  .slide-text
    +background(linear-gradient(left, rgba($white, 0) 25%, rgba($white, 1) 50%))
    padding: 0 25px
    position: absolute
    top: 0
    right: 0
    height: 267px
    z-index: 2
    width: 100%
    +breakpoint($bp-mobile-max)
      background: none
    .inner
      right: 30px
      top: 30px
      width: 50%
      +breakpoint($bp-mobile-max)
        background: none
        padding: 0 26px
        right: 0
        top: 270px
        width: 100%
  .slide-title
    font-size: 16px
    color: $red
    line-height: 1em
    margin-bottom: 20px
    +breakpoint($bp-tablet-port-max)
      margin-bottom: 12px
    &:after
      content: ""
  .slide-description
    font-size: 36px
    line-height: 40px
    width: 360px
    +breakpoint($bp-tablet-port-max)
      font-size: 20px
      line-height: 22px
      overflow: hidden
      width: 225px
    a
      color: $red
    &:after
      color: $green-light
      content: "\f100"
      font-family: "arrow-double"
      font-size: 38px
      position: relative
      top: 2px
      left: 5px
      +breakpoint($bp-mobile-max)
        font-size: 26px
  .slide-cta
    display: none
