// video block

.pane-bundle-video
  @extend %border-and-box-shadow
  .group_content_wrapper
    padding: 16px 26px
  h4
    margin: 0 0 -5px
    font-weight: bold
    text-transform: none
  p
    color: #444
    font-size: 14px
    line-height: 1.2em
    margin: 10px 0 0 0
  .file-video--preview
    position: relative
    float: left
  .file-video--default
    clear: both
  .video-play-icon
    display: block
    position: absolute
    top: 50%
    left: 50%
    margin-top: -30px
    margin-left: -30px
    width: 60px
    height: 60px
    background: image_url('video_play.png') no-repeat top left
    cursor: pointer

