// Upcoming events on homepage

.pane-gsb-event-frontpage
  padding: 26px
  @extend %border
  background: image_url("bg-homepage-events.png") no-repeat
  h2.pane-title
    color: $red
    font-size: 16px
    font-weight: bold
    line-height: 1
    margin-bottom: 28px
  ul
    margin: 0
    padding: 0
    list-style: none
    li
      margin-bottom: 10px
      margin-left: 0
  .views-field-field-event-date,
  .views-field-title,
  .views-field-field-address
    color: $black
    font-size: 16px
  .views-field-title a
    border: 0
    color: $black
    font-weight: bold
    &:hover
      border: 0
  .views-field-field-address
    .locality
      &:after
        content: ","
    .thoroughfare,
    .country
      display: none
