// Slideshow

ul.slideshow-items
  list-style: none
  margin: 0
  padding: 0

// Slideshow functionality
.flex-control-nav
  display: none

.flex-direction-nav a
  opacity: 1
  width: 60px
  height: 60px
  &.flex-prev
    left: 28px
    background: image_url("prev-arrow.png") no-repeat
  &.flex-next
    right: 28px
    background: image_url("next-arrow.png") no-repeat


// Slideshow wrapper
.slideshow-wrapper
  @extend %box-shadow
  @extend %border
  position: relative
  top: 0

// Slide styling
.slideshow-slide
  background-color: $grey-e
  max-width: 870px
  height: 367px
  position: relative
  top: 0
  a &:hover
    .slide-title
      color: $text-blue
      &:after
        color: $text-blue
    .slide-cta
      background-color: #739d95

  .slide-text
    padding: 0 25px
    position: absolute
    top: 0
    right: 0
    height: 367px
    width: 367px
    z-index: 2
    .inner
      position: absolute
      bottom: 60px

// Slide title
.slide-title
  color: #231f20
  font-size: 26px
  line-height: 32px
  margin-bottom: 30px
  text-transform: none
  &:after
    color: $red
    content: "\f100"
    font-family: "arrow-double"
    font-size: 36px
    position: relative
    top: 2px
    left: 5px

// Slide description
.slide-description
  color: #231f20
  font-size: 16px
  line-height: 20px
  margin-bottom: 30px

// Slide CTA text
.slide-cta
  color: $white
  font-size: 14px
  font-weight: bold
  line-height: 18px
  width: 318px
  padding: 10px 0 10px 16px

// Color picker styling
.purple-button-on-blue
  .slide-text
    +background(linear-gradient(left, rgba(#cce0dc, 0.6) 18%, rgba(#cce0dc, 1)))
  .slide-cta
    background-color: #754760

.blue-button-on-orange
  .slide-text
    +background(linear-gradient(left, rgba(#fbe1a8, 0.6) 18%, rgba(#fbe1a8, 1)))
  .slide-cta
    background-color: #739d95

////////////////////
// SIMPLE SLIDESHOW
////////////////////
.slideshow-simple,
.front
  .slideshow-slide
    height: 262px
    &:hover
      .slide-title
        color: $red
  .slide-text
    +background(linear-gradient(left, rgba($white, 0) 25%, rgba($white, 1) 50%))
    padding: 0 25px
    position: absolute
    top: 0
    right: 0
    height: 267px
    z-index: 2
    width: 100%
    .inner
      right: 30px
      top: 30px
      width: 50%
  .slide-title
    font-size: 16px
    color: $red
    line-height: 1em
    margin-bottom: 20px
    &:after
      content: ""
  .slide-description
    font-size: 36px
    line-height: 40px
    a
      color: $red
    &:after
      color: $green-light
      content: "\f100"
      font-family: "arrow-double"
      font-size: 38px
      position: relative
      top: 2px
      left: 5px
  .slide-cta
    display: none
