// Quote FPP styling

.pane-bundle-quote
  margin-bottom: 20px
  padding-left: 35px
  .field-name-field-body
    font-weight: bold
    font-size: 35px
    line-height: 1.2em
    margin: 0
    position: relative
    top: 0
    display: inline
    &:before
      color: $black
      font-weight: bold
      content: '“'
      font-size: 58px
      position: absolute
      left: -30px
      top: 7px
    &:after
      color: $black
      font-weight: bold
      content: '”'
      font-size: 38px
      position: relative
      right: 9px
  .field-name-field-link-single
    display: inline
    a
      display: inline-block
      overflow: hidden
      text-indent: 1000px
      width: 18px
      background: image_url('arrows-icons.png') no-repeat 0 -100px
      height: 21px
      position: relative
      top: -6px
      margin-left: 6px
  .group_author
    font-size: 18px
  .field-name-field-quote-author-name-title
    float: left
    margin-right: 5px
  .field-name-field-quote-link-company
    float: left
    .label-inline
      font-weight: normal
      margin-right: 7px
    a
      color: $green-light

