//////////////////
// Book detail
//////////////////

// Detail page
// Hide title on detail
.node-type-book
  #page-title
    display: none

// Layout
.node-book.view-mode-full
  // See _working-paper-detail.sass for shared layout and base styles

  // Left side
  .group-left
    .group-wrapper-meta
      +clearfix
    // Image
    .field-name-field-image-single-public
      display: inline
      float: right
      img
        max-width: 150px

  // Authors
  .field-name-field-authors
    display: inline
  // Publisher
  .group-wrapper-publisher
    font-size: 16px
    line-height: 1.2
    margin-top: 8px

  // Links
  .field-name-field-book-url-pdf-unlimited
    @extend %divider-bottom
    @extend %divider-top
    padding: 26px 0
    a
      &:after
        content: "m" !important
        @extend %doc-attached-icons
      @extend %green-button
      &:hover
        +background(linear-gradient(top, #18455f, $text-blue))
    .field-item
      display: inline-block
      vertical-align: bottom
      &:first-of-type
        margin-right: 6px

  // Selected reviews
  .field-name-field-selected-reviews
    background: $grey-e
    margin-bottom: 26px
    margin-top: 26px
    padding: 26px
    .label-above
      font-size: 18px
      font-family: $font-demi
      line-height: 1.2
      margin-bottom: 12px

  // Single review
  .field-collection-item-field-selected-reviews
    margin-top: 16px
    margin-bottom: 16px
    &:first-of-type
      margin-top: 0
    &:last-of-type
      margin-bottom: 0
  // Text
  .field-name-field-review
    font-size: 16px
    line-height: 1.2
  // Author
  .field-name-field-reviewer
    font-size: 14px
    font-style: italic
    line-height: 1.2
    margin-top: 6px

  // Right side
  // Faculty author
  .book-faculty-author-wrapper
    +author-block

  // CTA (red CTA)
  .cta-wrapper
    margin-bottom: 30px
    .cta-red .field-item a:after
      right: -46px

  // Buy book (green links)
  .field-buy-book
    @extend %bg-border-and-box-shadow
    padding: 0 22px 12px 22px
    // Title
    .label-above
      color: $text-black
      font-size: 20px
      font-weight: bold
      padding: 18px 0 11px 0
      line-height: 1.3
    // Links
    .field-item
      border-top: 1px solid #e4e4e4
      padding-top: 6px
      padding-bottom: 5px
      a
        padding-right: 10px
        color: $text-green
        &[target=_blank]
          &:after
            content: "i"
            text-transform: lowercase
            font-family: "gsb"
            font-size: 12px
            margin-left: 0.3em
        &:hover
          color: $text-blue
