//////////////////////////
// Book landing list
//////////////////////////

// View overrides
.view-display-id-book_listing
  // General filter styles are in _search-filters
  // Checkboxes in 3 columns instead of 4
  .views-exposed-form
    @extend %divider-bottom
    .form-type-select .bef-checkboxes
      -moz-column-count: 3
      -webkit-column-count: 3
      column-count: 3

  // General view mode teaser listing styles are in _view-mode-teaser-listing
  .view-content
    .views-row
      border-bottom: 1px $text-black solid
      &:last-of-type
        border-bottom: 0

      // Seperator changes
      .field-group-gsb_field_formatter_group_comma_separator
        .separator
          display: inline
          margin-right: 0

	  
// Content overrides
.node-book.view-mode-teaser_listing
  +clearfix

  // Layout for image
  .left.second-column
    float: left
    max-width: 70%
    +breakpoint(840px max-width)
      max-width: 100%

  .right
    float: right
    +breakpoint(999px 1140px)
      float: left
      margin-top: 20px
    +breakpoint(840px max-width)
      display: none

  // Image
  .field-name-field-image-single-public
    max-width: 100px

  // Authors
  .field-name-field-authors
    display: inline
