//////////////////////////
// Book landing list
//////////////////////////

.view-display-id-book_listing
  // General filter styles are in _search-filters
  // Checkboxes in 3 columns instead of 4
  .views-exposed-form
    @extend %divider-bottom
    .form-type-select .bef-checkboxes
      -moz-column-count: 3
      -webkit-column-count: 3
      column-count: 3

  // General view mode teaser listing styles are in _view-mode-teaser-listing
  .view-content
    .views-row
      border-bottom: 1px $text-black solid
      &:last-of-type
        border-bottom: 0

  // Row
  .node-book.view-mode-teaser_listing
    +clearfix
  // Image
  .field-name-field-image-single-public
    float: right
    margin-left: 12px
    max-width: 150px
  // Author wrapper
  .gsb_field_formatter_field_collection_separator
    margin-top: 6px
  // Authors
  .field-name-field-authors
    display: inline
