////////////////////
// Business Website
///////////////////

// Business Website shared styles
.view-business-websites-category-detail
  @extend %bg-border-and-box-shadow
  padding: 12px $standard-padding

// Selected Business Website Category Detail
.view-business-websites-category-detail
  position: relative
  .views-row
    a
      padding-right: 10px
      color: $link-green
      &:after
        content: "i"
        text-transform: lowercase
        font-family: "gsb"
        font-size: 12px
        margin-left: 0.3em
      &:hover
        color: $text-blue
    .views-field-title
      border-top: 1px solid #ebebeb
      padding: 6px 0 12px 0
  .views-row-first
    .views-field-title
      border-top: 0


// Selected Business Website Category listing
.view-business-website-category-listing
  .letter-group
    display: none
  .view-content
    -moz-column-count: 3
    -webkit-column-count: 3
    column-count: 3
  .views-row
    a
      padding-right: 10px
      color: $link-green
      &:hover
        color: $link-blue
    .views-field-name
      padding: 8px 0
