// BUSINESS INSIGHTS SECTION - BI OR BIZIN


// Business insight Full node
.node-business-insight.view-mode-full
  border-top: 3px solid $black
  padding-left: 30px
  position: relative
  top: 0

  // Image
  .group-wrapper-image
    float: right
    margin-left: 55px
    min-height: 285px
    .image-caption
      margin-top: 12px
      max-width: 270px

  // Date
  .field-name-field-date-published,
  .field-name-field-tag,
  .image-caption
    color: $grey-8
    font-size: 14px
    line-height: 18px
  .field-name-field-date-published
    margin-bottom: 24px
    margin-top: 16px

  // Intro Copy
  .field-name-field-body
    p:first-of-type
      font-weight: bold
      font-size: 26px
      line-height: 32px
      margin-bottom: 35px
    font-size: 18px
    line-height: 24px
    margin-top: 24px
    margin-bottom: 35px

  // Author
  .field-name-field-person-fac-staff-other
    font-size: 18px
    .label-inline,
    .field-collection-item-field-person-fac-staff-other
      display: inline-block
    .label-inline
      font-weight: normal
      margin-right: 5px
      vertical-align: top
    .field-name-field-first-name
      margin-right: 5px
    a
      color: $green-light
      font-weight: bold
