// BUSINESS INSIGHTS SECTION - BI OR BIZIN

// Business insights full node
.node-business-insight.view-mode-full
  border-top: 3px solid $black
  padding-left: 30px
  position: relative
  top: 0

  // Image
  .group-wrapper-image
    float: right
    margin-left: 55px
    .image-caption
      margin-top: 12px
      max-width: 270px

  // Date
  .field-name-field-date-published,
  .field-name-field-tag,
  .image-caption
    color: $grey-8
    font-size: 14px
    line-height: 18px
  .field-name-field-date-published
    margin-bottom: 24px
    margin-top: 16px

  // Intro copy and body
  .field-name-field-body
    font-size: 18px
    line-height: 24px
    margin-top: 24px
    margin-bottom: 35px

  // Editorial summary
  h2.editorial-summary
    color: $text-black
    font-family: $font-sans

  // Author
  .field-name-field-person-fac-staff-other
    font-size: 18px
    font-weight: bold
    .label-inline,
    .field-collection-item-field-person-fac-staff-other
      display: inline-block
    .label-inline
      font-weight: normal
      margin-right: 5px
      vertical-align: top
    .field-name-field-first-name
      margin-right: 5px
    a
      color: $green-light
      font-size: 18px
      font-weight: bold

////////////////////////
// SIDEBAR
////////////////////////
.pane-business-insights-sidebar-business-insights-menu
  position: absolute
  top: 183px
  // Editing change
  .panels-ipe-editing &
    margin-left: 0
    position: initial

.view-business-insights-sidebar
  border-left: 1px solid $white
  border-right: 1px solid $white

  // Event and video icons
  .view-header
    border-bottom: 1px solid $white
    height: 51px
    ul
      margin: 0
      padding: 0
      +clearfix
    li
      background-color: transparent
      display: inline-block
      float: left
      overflow: hidden
      padding: 13px
      width: 134px
      .panels-ipe-editing &
        background-color: #272727
        width: 129px
      &:hover
        background-color: $blue
      a
        display: inline-block
        width: 100%
        text-indent: 130%
    // Video link
    li:first-of-type
      border-right: 1px solid $grey-5
      .page-business-insights-video &
        background-color: $blue
      a
        background: image_url("icon-bizin-video.png") no-repeat 50% 50%
    // Event link
    li:last-of-type
      border-left: 1px solid $grey-5
      .page-business-insights-event &
        background-color: $blue
      a
        background: image_url("icon-bizin-cal.png") no-repeat 43% 50%

  .view-content
    background-color: #272727
  .menu_region
    display: none
  .views-row
    margin: 0
  .views-row-last
    margin-bottom: 1px

  .view-footer
    background-color: #404040

  // Menu links
  .field-content a
    color: $white
    display: block
    font-size: 14px
    line-height: 36px
    padding-left: 15px
    &:hover,
    &.active
      background: $blue

////////////////////////
// BUSINESS INSIGHT MAP
////////////////////////
.bi-map
  background: image_url('businessinsights_region_map.png') no-repeat top center
  position: relative

.bi-map__image
  opacity: 0
  position: relative
  z-index: 15

.bi-map__overlay
  background-position: 0 0
  background-repeat: no-repeat
  display: block
  position: absolute
  top: 0
  left: 17px
  width: 235px
  height: 150px
  z-index: 11
  &.americas
    background-image: url('../images/map_americas.png')
  &.africa
    background-image: url('../images/map_africa.png')
  &.asia
    background-image: url('../images/map_asia.png')
  &.europe
    background-image: url('../images/map_europe.png')
  &.oceania
    background-image: url('../images/map_oceania.png')

.bi-map__text
  background: $blue
  color: $white
  display: block
  font-size: 14px
  margin-top: -4px
  padding: 3px 20px

// Landing page content spacing
.page-business-insights
  .sidebar-inner
    margin-top: 383px
  .pane-fieldable-panels-pane
    margin-bottom: 30px
