// BUSINESS INSIGHTS SECTION - BI OR BIZIN

// Business insights full node
.node-business-insight.view-mode-full
  border-top: 3px solid $black
  padding-left: 30px
  position: relative
  top: 0

  // Image
  .group-wrapper-image
    float: right
    margin-left: 55px
    .image-caption
      margin-top: 12px
      max-width: 270px

  // Date
  .field-name-field-date-published,
  .field-name-field-tag,
  .image-caption
    color: $grey-8
    font-size: 14px
    line-height: 18px
  .field-name-field-date-published
    margin-bottom: 24px
    margin-top: 16px

  // Intro copy and body
  .field-name-field-body
    font-size: 18px
    line-height: 24px
    margin-top: 24px
    margin-bottom: 35px

  // Author
  .field-name-field-person-fac-staff-other
    font-size: 18px
    font-weight: bold
    .label-inline,
    .field-collection-item-field-person-fac-staff-other
      display: inline-block
    .label-inline
      font-weight: normal
      margin-right: 5px
      vertical-align: top
    .field-name-field-first-name
      margin-right: 5px
    a
      color: $green-light
      font-size: 18px
      font-weight: bold

////////////////////////
// SIDEBAR
////////////////////////
.view-business-insights-sidebar
  max-width: 237px
  margin-bottom: 30px
  border-left: 1px solid $white
  border-right: 1px solid $white
  position: absolute
  top: 193px
  margin-left: 33px
  // Editing change
  .panels-ipe-editing &
    margin-left: 0
    position: initial

  .view-header
    background-color: #272727
    border-bottom: 1px solid $white
    ul
      margin: 0
      padding: 0
    li
      display: inline-block
      height: 50px
      overflow: hidden
      padding: 15px
      width: 115px
      a
        display: inline-block
        width: 100%
        text-indent: 130%
    // Video link
    li:first-of-type
      border-right: 1px solid $grey-5
      a
        background: image_url("icon-bizin-video.png") no-repeat 50% 50%
    // Event link
    li:last-of-type
      a
        background: image_url("icon-bizin-cal.png") no-repeat 43% 50%
  .view-content
    background-color: #272727
  .menu_region
    display: none
  .views-row
    margin: 0
  .views-row-last
    margin-bottom: 1px

  .field-content a,
  .bi-map__tex
    display: block
    border: none
    line-height: 18px
    padding: 6px 0 6px 15px
    color: $white

////////////////////////
// BUSINESS INSIGHT MAP
////////////////////////
.view-business-insights-sidebar .field-content a:hover, .view-business-insights-sidebar .field-content a.active, .bi-map__text
  background: #607c8c

.bi-map
  position: relative
  background: image_url('businessinsights_region_map.png') no-repeat top left

.bi-map__image
  z-index: 15
  position: relative
  opacity: 0

.bi-map__overlay
  z-index: 11
  position: absolute
  top: 0
  left: 0
  width: 235px
  height: 150px
  background-position: 0 0
  background-repeat: 0
  display: block

.bi-map__overlay.americas
  background-image: url('../images/map_americas.png')

.bi-map__overlay.africa
  background-image: url('../images/map_africa.png')

.bi-map__overlay.asia
  background-image: url('../images/map_asia.png')

.bi-map__overlay.europe
  background-image: url('../images/map_europe.png')

.bi-map__overlay.oceania
  background-image: url('../images/map_oceania.png')

// LANDING BANNER
.page-business-insights
  #banner
    background-color: #272727
    height: 210px
  #page-title
    display: none
