// Case study and research paper detail theming

.node-case-study,
.node-research-paper
  &.view-mode-full
    border-top: 3px $black solid
    padding-top: 14px
    .label-inline
      font-weight: normal

    // Author names
    .field-collection-item-field-person-fac-student-other,
    .group-wrapper-name
      display: inline
      font-weight: bold
    .field-collection-item-field-person-fac-student-other,
    .separator
      float: left
    .separator,
    .label-inline,
    .name-first
      margin-right: 5px

    .field-name-field-person-fac-student-other
      +clearfix
      .label-inline
        float: left
        font-weight: bold
      a
        color: $red

    .field-collection-item-field-person-fac-student-other
      .group-wrapper-tags
        display: inline

    // Title
    .field-name-title h2
      color: $blue-dark
      font-size: 30px
      line-height: 1.15em
      margin: 0 0 10px 0
    // Date published
    .field-name-field-date-published
      color: $grey-4
      line-height: 1
    // Case number
    .field-name-field-case-study-number
      color: $grey-6
    .field-name-field-research-paper-number
      color: $grey-5
    // Tags
    .group-tags-wrapper.case-study,
    .group-tags-wrapper.research-paper,
    .green-rounded-button
      margin-bottom: 30px
    .group-tags-wrapper.research-paper
      .separator
        float: none
    // Button
    .green-rounded-button
      display: inline-block
      +clearfix
      img
        float: right
        margin-left: 2px
        position: relative
        top: -1px
      a
        width: 0px
        overflow: hidden
        font-weight: bold
      img + a
        color: transparent
        font-size: 0
        &:before
          content: 'Download Electronic Copy'
          font-size: 16px
          color: $white

// Teaser styling for case studies and research papers
.node-case-study.view-mode-teaser,
.node-research-paper.view-mode-teaser

  // Date styling
  .field-name-field-date-published
    color: $grey-6
    font-size: 14px
    margin-bottom: 18px
    text-transform: uppercase
    .label-inline
      font-weight: normal
      margin-right: 5px

  // Title
  .field-name-title
    +float-left
    line-height: 32px
    a
      color: $red

  // Paper code
  .paper-code
    color: $text-grey
    font-size: 26px
    line-height: 32px
    &:before
      content: "| "
      margin-left: 8px

  // Authors
  .field-name-field-person-fac-student-other
    +clearfix
    font-size: 18px
    font-weight: bold
    line-height: 24px
    margin: 18px 0
    .name-first
      margin-right: 5px
    a
      color: $red
      font-weight: bold
  .field-collection-item-field-person-fac-student-other,
  .separator
    float: left
  .separator
    margin-right: 5px

// Tags
.group-tags-wrapper
  +clearfix
  .field
    +float-left
