////////////////////
// Case Study detail
////////////////////

// Hide title on detail
.node-type-case
  +page-title

// .node-case.view-mode-full
  // See _working-paper-detail.sass for shared layout and base styles

// Detail page
.node-case.view-mode-full
  .field-name-field-business-insight-topic,
  .field-name-field-citation,
  .field-name-field-year,
  .field-name-field-item-id,
  .field-name-field-page-count
    line-height: 1.2
    font-size: 16px

  .field-name-field-item-id,
  .field-name-field-page-count
    &:before
      color: $text-black
      content: " | "
      display: inline
  .field-name-field-page-count
    &:after
      content: " pgs."
      color: $text-black
      display: inline
  .field-name-field-business-insight-topic
    margin-top: 6px
    font-family: $font-demi
    a
      font-weight: normal
      &:hover
        color: $text-blue

  .field-name-field-description
    @extend %p
    margin-bottom: 26px
    margin-top: 16px

  .field-name-field-learning-objective
    @extend %p
    margin-bottom: 26px
    .label-above
      font-family: $font-demi
      font-weight: normal
      padding-bottom: 4px
      font-size: 18px

  .field-name-field-tag
    .label-inline
      font-weight: bold
    font-size: 14px
    line-height: 1.2
    padding-bottom: 12px
    span
      font-weight: normal
  .field-name-field-citation
    color: $text-grey-light
    padding-bottom: 26px

  .field-name-field-link-single,
  .field-name-field-permissions-statement,
  .field-name-field-link-document,
  .field-name-field-citation
    @extend %divider-bottom

  .field-name-field-link-single,
  .field-name-field-permissions-statement,
  .field-name-field-link-document
    font-size: 18px
    line-height: 1.2
    padding: 20px 0px
    span
      font-weight: bold
  .field-name-field-link-single
    a
      font-weight: bold
      color: $text-green
      &:hover
        color: $text-blue

  .field-name-field-permissions-statement
    .label-inline
      font-weight: bold

  .field-name-field-link-document
    div
      margin-top: 22px
    a
      &:after
        content: "m" !important
        @extend %doc-attached-icons
      @extend %green-button
      &:hover
        +background(linear-gradient(top, #18455f, $text-blue))

  // Author block
  .field-name-field-author-sunet-id-reference
    +author-block
