////////////////////
// Case Study detail
////////////////////

// Hide title on detail
.node-type-case
  +page-title

// .node-case.view-mode-full
  // See _working-paper-detail.sass for shared layout and base styles

// Detail page
.node-case.view-mode-full
  // Case published informations
  .field-name-field-business-insight-topic,
  .field-name-field-year,
  .field-name-field-item-id,
  .field-name-field-page-count
    font-size: 16px
    line-height: 1.2

  .field-name-field-item-id,
  .field-name-field-page-count
    &:before
      color: $text-black
      content: " | "
      display: inline

  .field-name-field-page-count
    &:after
      content: " pgs."
      color: $text-black
      display: inline

  // Learning objective
  .field-name-field-learning-objective
    @extend %p
    margin-bottom: 26px
    .label-above
      font-family: $font-demi
      font-weight: normal
      padding-bottom: 4px
      font-size: 18px

  // Keywords
  .field-name-field-tag
    font-size: 14px
    line-height: 1.2
    padding-bottom: 12px
    .label-inline
      font-weight: bold

  // Case citation
  .field-name-field-citation
    color: $text-grey-light
    font-size: 14px
    line-height: 1.2
    padding-bottom: 26px

  // Dividing borders
  .group-wrapper-paper-copy,
  .field-name-field-permissions-statement,
  .field-name-field-link-document
    @extend %divider-top
    padding: 20px 0
    &:last-child
      @extend %divider-bottom

  // Text sizing
  // Harvard link, permission statement and document
  .field-name-field-link-single,
  .field-name-field-link-center-single,
  .field-name-field-permissions-statement,
  .field-name-field-link-document
    font-size: 18px
    line-height: 1.2
    span
      font-weight: bold

  // Paper copy
  .group-wrapper-paper-copy
    h3
      font-size: 18px
      line-height: 1.2
      margin-bottom: 12px
    .field
      margin-bottom: 6px
      padding-left: 14px
      &:last-of-type
        margin-bottom: 0
      &:before
        content: "• "
        color: $text-blue
        float: left
        position: relative
        left: -14px
        width: 0
    a[target=_blank]
      &:after
        content: " i"
        font-family: "gsb"
        font-size: 12px
        font-weight: normal

  // Link style
  // Harvard business link and center link
  .field-name-field-link-single,
  .field-name-field-link-center-single
    a
      font-weight: bold
      color: $link-green
      &:hover
        color: $link-blue

  .field-name-field-permissions-statement
    .label-inline
      font-weight: bold

  .field-name-field-link-document
    div
      margin-top: 22px
    a
      &:after
        content: "m" !important
        @extend %doc-attached-icons
        font-size: 14px
      @extend %green-button
      &:hover
        +background(linear-gradient(top, #18455f, $text-blue))
