// Case studies and Research Papers

.node-case-study.view-mode-full,
.node-research-paper.view-mode-full
  border-top: 3px $black solid
  padding-top: 14px

  // Title
  .field-name-title h2
    color: $blue-dark
    font-size: 30px
    line-height: 1.15em
    margin: 0 0 10px 0
  .field-name-field-date-published,
  .field-name-field-case-study-number,
  .field-name-field-research-paper-number
    .label-inline
      font-weight: normal
  // Date published
  .field-name-field-date-published
    color: $text-grey
  // Case number
  .field-name-field-case-study-number,
  .field-name-field-research-paper-number
    color: $text-grey-light
  // Tags
  .group-tags-wrapper.case-study,
  .group-tags-wrapper.research-paper,
  .green-rounded-button
    margin-bottom: 30px
  // Button
  .green-rounded-button
    display: inline-block
    +clearfix
    img
      float: right
      margin-left: 2px
      position: relative
      top: -1px
    a
      width: 0px
      overflow: hidden
      font-weight: bold
    img + a
      color: transparent
      font-size: 0
      &:before
        content: 'Download Electronic Copy'
        font-size: 16px
        color: $white

// Only research paper
.node-research-paper.view-mode-full
  .field-name-field-research-paper-number .label-inline
    margin-right: 5px

///////////
// TEASER
///////////
.node-case-study.view-mode-teaser,
.node-research-paper.view-mode-teaser

  // Date styling
  .field-name-field-date-published
    color: $grey-6
    font-size: 14px
    margin-bottom: 18px
    text-transform: uppercase
    .label-inline
      font-weight: normal
      margin-right: 5px

  // Title
  .field-name-title
    line-height: 32px
    margin-bottom: 18px
    h3
      display: inline
    a
      color: $red

  // Paper code
  .paper-code
    color: $text-grey
    display: inline-block
    font-size: 26px
    line-height: 32px
    margin-bottom: 18px
    &:before
      content: "| "
      margin-left: 8px

  // Body
  .field-name-field-body
    margin-top: 24px
