/////////////////
// CITATION
// BI view mode for case studies, research papers, and publications
/////////////////
.view-mode-business_insight
  +clearfix
  @extend %bg-and-box-shadow
  padding: 0 24px 24px 24px
  &:before
    content: "Citation"
    +border-label

  .group-left,
  .group-right
    margin-top: 60px

  // Authors
  .field-name-field-person-other,
  .field-name-field-person-fac-student-other
    .field-item
      margin-bottom: 18px

  // Image
  .field-name-field-image-single-public
    +float-left
    margin-right: 24px
  // Fields on right
  .group-right
    font-size: 14px
    .field,
    .field-name-field-date-published
      display: inline
      &:after
        content: ","
        display: inline
        margin-right: 5px
    // Title
    .field-name-title
      font-weight: bold
      &:before
        content: "“"
        display: inline
      &:after
        content: "”"
        display: inline

    // Pages
    .field-name-field-pages,
    .field-name-field-case-study-number,
    .field-name-field-research-paper-number
      &:after
        content: "."



  // Journal
  .field-name-field-publisher
    font-style: italic

  // Volume
  .field-name-field-volume-number
    display: inline
    .label-inline
      display: inline
      font-weight: normal
      margin-right: 5px

  // Citation
  .field.field-name-field-citation
    display: block
    margin-top: 1em
