///////////
// CLUBS
//////////


// @TODO refactor this code
.view-clubs-search .views-row
  margin-bottom: 19px
  margin-left: 20px
.view-clubs-search
  clear: both
  margin-top: 10px

.view-clubs-search .views-row .views-field-label
  font-weight: bold
  font-size: 20px
  margin-bottom: 5px
.club-row .field-content,
.view-clubs-search .views-row .views-field-ts-field-body
  font-size: 17px
  line-height: 24px
  margin-bottom: 0
  color: #383838

// Clubs filtering
#edit-field-club-category-tid-wrapper
  padding: 24px
#views-exposed-form-club-filters-club-list
  @extend %border-and-box-shadow
  legend
    padding: 0
  fieldset
    border: 0
    padding: 0
  .fieldset-wrapper
    padding: 24px

  .form-item
    font-weight: bold
    margin-bottom: 20px
    text-transform: uppercase

  .form-item label
    color: $black
    font-size: 13px
    font-weight: bold
    text-transform: uppercase

  .fieldset-title
    border: none
    font-weight: bold
    font-size: 20px
    line-height: 1em
    color: $text-grey
  .form-item.form-type-select
    margin: 0

// Filter toggle
.collapsible
  .fieldset-title
    text-indent: 20px
    padding: 0
    line-height: 10px
    position: relative
    top: 1px
    background-image: url('../images/filter-icons.png')
    background-position: -15px -15px
    background-repeat: no-repeat
    display: inline-block
    height: 1em
    width: 15px
    text-transform: none
    &:hover
      background-position: 0 -15px
  &.collapsed
    .fieldset-title
      background-position: -15px 0
      &:hover
        background-position: 0 0

fieldset.collapsible .fieldset-legend
  display: inline

.js body fieldset.collapsible .fieldset-legend
  background: none
  padding: 0

////////////////////
// Clubs search box
/////////////////////
#views-exposed-form-clubs-search-search-club
  @extend %border-and-box-shadow
  padding: 18px 24px 24px 24px
  width: 270px
  label
    color: $text-blue
    margin-bottom: 18px

//////////////////////
// Club listing
////////////////////////
.view-club-filters.view-list-teaser
  @extend %border-and-box-shadow
  .views-row
    border-bottom: none

.node-club.node-teaser
  padding: 0 24px
  position: relative
  top: 0
  h5
    margin-bottom: 18px
    padding-top: 20px
    text-transform: none
    &:before
      content: image_url("tab-club.png")
      position: absolute
      top: -8px
    a
      color: $text-green
      &:after
        content: image_url('external_link.png')
        margin-left: 5px
  .field-name-field-body
    font-size: 18px
    line-height: 24px
    margin-bottom: 24px
