// Club teaser styling
.view-club-filters
  @extend %border-and-box-shadow

.node-club.node-teaser
  padding: 0 24px
  .club-title
    margin-bottom: 24px
    padding-top: 20px
    text-transform: none
    &:first-letter
      border-top: 10px solid $blue-light
      padding-top: 12px
    a
      color: $green-light
  .field-name-field-body
    font-size: 18px
    line-height: 24px
    margin-bottom: 24px
