///////////
// CLUBS
//////////

// General
.view-display-id-club_list.view-list-teaser,
.view-display-id-club_list.view-list-search
  border-top: 0
  margin-bottom: 30px
  .view-content
    @extend %bg-border-and-box-shadow
  .views-row
    border-bottom: none
    padding: 0 24px
    position: relative
    top: 0

////////////////
// DS Listing
////////////////
.node-club.node-teaser
  position: relative
  top: 0
  h5
    margin-bottom: 18px
    padding-top: 20px
    text-transform: none
    &:before
      content: image_url("tab-club.png")
      position: absolute
      top: -8px
    a
      color: $text-green
      &:after
        content: image_url('external_link.png')
        margin-left: 5px
  .field-name-field-body
    font-size: 18px
    line-height: 24px
    margin-bottom: 24px

/////////////////
// Solr Listing
//////////////////
.view-display-id-club_list.view-list-search
  // Title
  .views-field-label
    font-size: 18px
    font-weight: bold
    line-height: 24px
    margin-bottom: 18px
    padding-top: 20px
    &:before
      content: image_url("tab-club.png")
      position: absolute
      top: -8px
    a
      color: $text-green
      &:after
        content: image_url('external_link.png')
        margin-left: 5px
  // Body
  .views-field-ts-field-body
    font-size: 18px
    line-height: 24px
    margin-bottom: 24px
