// CSS to handle the Preview and Video switching
.field-type-file
  .file-video--default
    display: none
    +breakpoint($bp-video)
      display: block
  .file-video--preview
    +breakpoint($bp-video)
      display: none

// Fix only for the landing one layout in sidebar
.sidebar-wrapper
  .field-type-file
    .file-video--default
      display: none
    .file-video--preview
      display: block
