// CALL TO ACTION STYLES - CTA

// General CTA style
.cta-wrapper
  padding: 0
  a
    display: block




.cta-title
  margin-top: -2px
  color: $red
  font-size: 18px
  line-height: 24px

a.cta-green,
a.cta-green:hover,
a.cta-green .cta-title
  color: $green-light

.cta-link
  margin-bottom: 0
  padding: 13px 22px
  b
    line-height: 1.3em
  span
    padding-right: 6px

.cta-red .cta-title
  display: block

.cta-green .cta-title
  padding-right: 3px

.cta-block .description
  margin-top: 8px

.designed-box.cta-link.cta-green
  padding-right: 22px

.cta-red
  color: $red

// Red Gradient
.separated-box
  margin-bottom: 30px

.cta-red-gradient,
.cta-red-gradient:hover
  margin-bottom: 5px
  border: 0
  background-color: $red
  +box-shadow($black, 0.45, 1px 1px 1px)
  color: $white
  font-weight: bold
  &:after
    color: $white
    content: "\f100"
    float: right
    font-family: "arrow-double"
    font-size: 28px
    font-weight: normal

.item-0.cta-red-gradient
  +background(linear-gradient(bottom, #860000, #950000))

.item-1.cta-red-gradient
  +background(linear-gradient(bottom, #950000, #b00000))

.item-2.cta-red-gradient
  +background-image(linear-gradient(bottom, #b00000, #c50000))
