//////////////////
// CUSTOM CTA FPPs
//////////////////

// Get directions
.cta-get-directions
  clear: both
  display: block
  overflow: hidden
  padding-bottom: 1px
  border: 2px $white solid
  background: image_url('cta-map.png') repeat-x top left
  +breakpoint(480px 568px)
    background: image_url('cta-map-mobile.jpg') repeat-x 80% 30%
  padding: 20px
  &:hover
    display: block
    overflow: hidden
    border: 2px $white solid
  .cta-body
    padding: 13px 15px
    background: rgba(30, 82, 109, 0.9)
    color: $white
    font-size: 21px
    line-height: 1.5em
    margin-bottom: 0
  &:hover .cta-body
    background: rgba(123, 130, 1, 0.8)

// Virtual tour
.cta-virtual-tour
  background: image_url('cta-visit-blurred.png') repeat-x 1px 0
  display: block
  overflow: hidden
  @extend %box-shadow
  padding: 26px
  +breakpoint(480px 568px)
    background: image_url('cta-tour-mobile.jpg') no-repeat 0 0
  &:hover
    display: block
    overflow: hidden
    @extend %border
    background: image_url('cta-visit.png') repeat-x top left
    +breakpoint(480px 568px)
      background: image_url('cta-tour-mobile.jpg') no-repeat 0 0
  .virtual-tour-btn
    background: $white
    display: block
    padding: 0 15px
    height: 35px
    color: $red
    font-size: 18px
    font-weight: bold
    line-height: 38px
    position: relative
    &:after
      font-family: "gsb"
      font-size: 24px
      line-height: 1.125
      content: "w"
      font-weight: normal
      text-transform: lowercase
      position: absolute
      right: 9px
      color: #cdbb93
  &:hover
    .virtual-tour-btn
      background: $red
      color: $white
      &:after
        color: $white
  .virtual-tour-cover
    display: block
    height: 120px
    border: 1px $white solid
    background: image_url('cta-visit.png') no-repeat -27px -62px
    +breakpoint(480px 568px)
      background: 0
      border: 0
  &:hover
    .virtual-tour-cover
      border: 1px transparent solid
      background: none

// Learn about Campus
.learn-about-campus
  background: image_url('cta-about-blurred.png') repeat-x 0 0
  @extend %border-and-box-shadow
  display: block
  height: 215px
  overflow: hidden
  padding: 24px
  +breakpoint(480px 568px)
    background: image_url('cta-learn-mobile.jpg') no-repeat 0 0
  &:hover
    display: block
    overflow: hidden
    background: image_url('cta-about.png') repeat-x top left
    +breakpoint(480px 568px)
      background: image_url('cta-learn-mobile.jpg') no-repeat 0 0
  .about-campus-btn
    background: $text-green
    display: block
    padding: 12px 15px
    height: 60px
    color: $white
    font-size: 18px
    font-weight: bold
    line-height: 1.2em
    margin-top: 1px
    min-width: 216px
    position: relative
    &:after
      color: $white
      content: "\f100"
      font-family: "arrow-double"
      font-size: 26px
      font-weight: normal
      position: absolute
      top: 34%
      right: 5%
    +breakpoint($bp-mobile)
      max-width: 216px
  &:hover
    .about-campus-btn
      background: $blue-dark
      +background(linear-gradient(top, #194560, #2c6180))

// Rethink CTA
.cta-rethink
  background: #c30000
  +background(linear-gradient(#860000, #c50000))
  @extend %border
  color: $white
  display: block
  padding: 26px
  &:hover
    background: #c30000
    +background(linear-gradient(#18455f, #2d6280))
  .cta-title
    margin: 0
    color: $white
    font-size: 40px
    line-height: 1em
    &:hover
      color: $white
  .cta-description
    margin: 8px 0 0
    color: $white
    font-size: 20px
    line-height: 1.5em
    &:after
      color: $white
      content: "\f100"
      font-family: "arrow-double"
      font-size: 26px
      font-weight: normal
      position: relative
      top: 2px

// Follow Us
.pane-gsb-public-custom-blocks-gpcb-follow-us
  @extend %border-and-box-shadow
  background: #c1dbd9
  background: image_url('cta-follow-us.jpg') no-repeat top left
  height: 140px
  .social-title
    background: rgba($blue, 0.7)
    color: $white
    display: block
    font-size: 18px
    line-height: 2.7
    padding: 0 26px
    width: 100%
    &:after
      color: $white
      content: "w"
      font-family: "gsb"
      position: relative
      line-height: 1
      top: 0
      left: 12px
    &:hover
      background: $red
  .icon-wrapper
    margin-top: 24px
    padding: 0 26px

// GSB Around the Globe
.cta-around-globe
  .around-globe-link
    width: 100%
    display: block
    padding: 25px
    background: rgba($black, 0.55)
    &:hover
      background: none
      .link-inner
        border: 1px solid transparent
      .link-title
        +background(linear-gradient(top, #683651, #814d69))
        +box-shadow(rgba($black, 0.25) 0 2px 2px)
    .link-inner
      background-position: -26px -26px
      height: 163px
      border: 1px solid #5c8a81
    .link-title
      position: relative
      font-size: 18px
      line-height: 20px
      font-weight: bold
      color: $white
      padding: 0.9em 0.6em 0.6em 0.6em
      +background(linear-gradient(top, #5c8a81, #739d95))
      &:after
        color: $white
        content: "\f100"
        font-family: "arrow-double"
        font-size: 26px
        font-weight: normal
        position: absolute
        top: 34%
        right: 5%

.cta-around-globe,
.link-inner
  background: image_url("gsbaroundtheglobe.jpg") no-repeat
  +breakpoint($bp-mobile-max)
    background: image_url("gsbaroundtheglobe-wide.jpg") no-repeat

// Social icons
.social-block-youtube
  &:after
    content: "p"

.social-block-twitter
  &:after
    content: "r"

.social-block-facebook
  &:after
    content: "s"

.social-block-linkedin
  &:after
    content: "n"
