//////////////////
// CUSTOM CTA FPPs
//////////////////

// Get directions
.cta-get-directions
  clear: both
  display: block
  overflow: hidden
  padding-bottom: 1px
  border: 2px $white solid
  background: image_url('cta-map.png') repeat-x top left
  +breakpoint(480px 568px)
    background: image_url('cta-map-mobile.jpg') repeat-x 80% 30%
  padding: 20px
  &:hover
    display: block
    overflow: hidden
    border: 2px $white solid
  .cta-body
    padding: 13px 15px
    background: rgba(30, 82, 109, 0.9)
    color: $white
    font-size: 21px
    line-height: 1.5em
    margin-bottom: 0
  &:hover .cta-body
    background: rgba(123, 130, 1, 0.8)

// Virtual tour
.cta-virtual-tour
  background: image_url('cta-visit-blurred.png') repeat-x 1px 0
  display: block
  overflow: hidden
  @extend %box-shadow
  padding: $standard-padding
  +breakpoint(480px 568px)
    background: image_url('cta-tour-mobile.jpg') no-repeat 0 0
  &:hover
    display: block
    overflow: hidden
    @extend %border
    background: image_url('cta-visit.png') repeat-x top left
    +breakpoint(480px 568px)
      background: image_url('cta-tour-mobile.jpg') no-repeat 0 0
  .virtual-tour-btn
    background: $white
    display: block
    padding: 0 15px
    height: 35px
    color: $red
    font-size: 18px
    font-weight: bold
    line-height: 38px
    position: relative
    +icon-after("arrow-double-right", true)
    &:after
      font-size: 21px
      line-height: 1.7
      font-weight: normal
      text-transform: lowercase
      position: absolute
      right: 9px
      color: #cdbb93
  &:hover
    .virtual-tour-btn
      background: $red
      color: $white
      &:after
        color: $white
  .virtual-tour-cover
    display: block
    height: 120px
    border: 1px $white solid
    background: image_url('cta-visit.png') no-repeat -27px -62px
    +breakpoint(480px 568px)
      background: 0
      border: 0
  &:hover
    .virtual-tour-cover
      border: 1px transparent solid
      background: none

// Learn about Campus
.learn-about-campus
  background: image_url('cta-about-blurred.png') repeat-x 0 0
  @extend %border-and-box-shadow
  display: block
  height: 215px
  overflow: hidden
  padding: 24px
  +breakpoint(480px 568px)
    background: image_url('cta-learn-mobile.jpg') no-repeat 0 0
  &:hover
    display: block
    overflow: hidden
    background: image_url('cta-about.png') repeat-x top left
    +breakpoint(480px 568px)
      background: image_url('cta-learn-mobile.jpg') no-repeat 0 0
  .about-campus-btn
    background: $text-green
    display: block
    padding: 12px 15px
    height: 60px
    color: $white
    font-size: 18px
    font-weight: bold
    line-height: 1.2
    margin-top: 1px
    min-width: 216px
    position: relative
    +icon-after("arrow-double-right", true)
    &:after
      color: $white
      font-size: 21px
      font-weight: normal
      position: absolute
      top: 34%
      right: 5%
    +breakpoint($bp-mobile)
      max-width: 216px
  &:hover
    .about-campus-btn
      background: $blue-dark
      +background(linear-gradient(top, #194560, #2c6180))

// Rethink CTA
.pane-gsb-public-custom-blocks-gpcb-rethink
  @extend %bg-border-and-box-shadow
  padding: $standard-padding
  +clearfix
  // Logo
  .rethink-logo
    +text-replacement
    background-size: 218px
    margin-bottom: 12px
    .svg &
      +background(image_url("rethink-logo.svg") no-repeat 0 50%)
      +breakpoint(568px 400px)
        background-position: 0 0
        background-size: 150px
        float: left
        margin-right: -150px
        width: 150px
    .no-js &, .no-svg &
      +background(image_url("rethink-logo.png") no-repeat 0 50%)
      +breakpoint(568px 400px)
        background-position: 0 0
        background-size: 150px
        float: left
        margin-right: -150px
        width: 150px
    .wide-view &
      background-position: 0 0
      background-size: 150px
      float: left
      margin-right: -150px
      width: 150px
      +breakpoint(569px 720px)
        background-position: 0 50%
        background-size: 218px
        float: none
        margin-right: 0
        width: auto
      +breakpoint(399px max-width)
        background-position: 0 50%
        background-size: 218px
        float: none
        margin-right: 0
        width: 100%

  .rethink-wrapper
    font-size: 18px
    line-height: 1.2
    +breakpoint(568px 400px)
      padding-left: 176px
    .wide-view &
      padding-left: 176px
      +breakpoint(569px 720px)
        padding-left: 0
      +breakpoint(399px max-width)
        padding-left: 0

  // Description
  .rethink-description
    color: $text-black
    font-family: $font-sans
    margin-bottom: 12px

  // Subscribe link
  .rethink-link
    font-family: $font-demi
    &:hover
      color: $link-blue
    +icon-after("email-stroke", true)
    &:after
      margin-left: 0.3em

// Follow Us
.pane-gsb-public-custom-blocks-gpcb-follow-us
  +background(image_url('cta-follow-us.jpg') no-repeat top left, #89c0c5)
  height: 144px
  position: relative
  // Header
  h2
    font-size: 0
    line-height: 0
  .social-title
    background: rgba($teal-dark, 0.85)
    color: $white
    display: block
    font-family: $font-demi
    font-size: 19px
    font-weight: normal
    line-height: 1.2
    padding: 14px $standard-padding
    +icon-after("arrow-double-right", true)
    &:after
      color: $white
      display: inline-block
      font-size: 19px
      font-weight: normal
      line-height: 0
      margin-left: 5px
    &:hover
      background: rgba($text-blue, 0.85)
      text-decoration: underline

  // Social icons
  .icon-wrapper
    margin-top: $standard-padding
    max-width: 270px
    padding: 0 $standard-padding

// GSB Around the Globe
.cta-around-globe
  .around-globe-link
    width: 100%
    display: block
    padding: 25px
    background: rgba($black, 0.55)
    &:hover
      background: none
      .link-inner
        border: 1px solid transparent
      .link-title
        +background(linear-gradient(top, #683651, #814d69))
        +box-shadow(rgba($black, 0.25) 0 2px 2px)
    .link-inner
      background-position: -26px -26px
      height: 163px
      border: 1px solid #5c8a81
    .link-title
      position: relative
      font-size: 18px
      line-height: 20px
      font-weight: bold
      color: $white
      padding: 0.9em 0.6em 0.6em 0.6em
      +background(linear-gradient(top, #5c8a81, $teal-dark))
      +icon-after("arrow-double-right", true)
      &:after
        color: $white
        font-size: 21px
        position: absolute
        top: 34%
        right: 5%

.cta-around-globe,
.link-inner
  background: image_url("gsbaroundtheglobe.jpg") no-repeat
  +breakpoint($bp-mobile-max)
    background: image_url("gsbaroundtheglobe-wide.jpg") no-repeat

// Social icons
.social-block-youtube
  +icon-after("youtube", true)

.social-block-twitter
  +icon-after("twitter", true)

.social-block-facebook
  +icon-after("facebook", true)

.social-block-linkedin
  +icon-after("linkedin", true)

// Conducting research
.pane-gsb-public-custom-blocks-gpcb-conducting-research
  height: 200px
  padding: $standard-padding
  +background(linear-gradient(left, rgba(#30759c, 1), rgba(#015280, 0)), image_url("bg-library-conducting-research.jpg") 100% 50% no-repeat)
  .description
    color: $white
    font-size: 32px
    .narrow-view &
      font-size: 24px
    line-height: 1.2
    margin-bottom: 20px
    +breakpoint(1000px 1050px)
      font-size: 28px
    +breakpoint(751px max-width)
      font-size: 28px
    +breakpoint(608px 568px)
      font-size: 22px
    +breakpoint($bp-mobile)
      font-size: 24px
  a
    @extend %teal-cta
    max-width: 245px
