//////////////////
// IMAGE CTA FPP
//////////////////
.pane-bundle-image-cta
  img
    display: block
  @extend %border-and-box-shadow
  max-width: 566px
  .group-left,
  .group-right
    float: none
    width: 100%
  .group-left img
    //@extend %border-and-box-shadow
  .group-right
    color: $white
    padding: 30px
    position: absolute
    +breakpoint($bp-mobile-max)
      padding: 26px
    +breakpoint($bp-mobile)
      .front &
        padding: 20px
  .image-cta-position-top .group-right
    top: 0
  .image-cta-position-bottom .group-right
    bottom: 0

  // Title
  .field-name-field-title
    color: $white
    font-size: 15px
    font-weight: normal
    line-height: 1
    text-transform: uppercase
  // Description
  .field-name-field-link-single a
    font-size: 28px
    line-height: 1.15em
    color: $white
    +breakpoint($bp-tablet-port)
      .front &
        font-size: 24px
    +breakpoint($bp-mobile)
      .front &
        font-size: 16px
  // Double arrow link
  .field-name-field-link-single
    display: inline-block
    position: relative
    top: 6px
    width: 100%
    word-wrap: break-word
    a:after
      color: $green-light
      content: "w"
      font-family: "gsb"
      font-size: 26px !important
      position: relative
      line-height: 0
      left: 5px
      +breakpoint($bp-mobile-max)
        .front &
          font-size: 26px
      +breakpoint($bp-mobile)
        .front &
          font-size: 16px
  .fieldable-panels-pane
    position: relative
    top: 0


.field-name-field-image-cta-link a
  position: relative
  display: block
  border: none
  border-top: 1px $white solid
  border-bottom: 1px $grey-e solid
  -webkit-box-shadow: none
  -moz-box-shadow: none
  box-shadow: none
  color: $red
  font-size: 18px
  line-height: 24px
  &:first-child
    border-top: 0

//////////////////
// NARROW STYLING
//////////////////
.narrow-view
  .image-cta-position-top,
  .image-cta-position-bottom
    &.image-cta-color-purple
      background: $purple
      &:hover
        background: $teal-dark
    &.image-cta-color-green
      background: $green-dark
      &:hover
        background: $blue
    &.image-cta-color-blue
      background: $blue
      &:hover
        background: $green-dark
    &.image-cta-color-dark-teal
      background: $teal-dark
      &:hover
        background: $purple

  // Top text CTA
  .image-cta-position-top
    .group-left
      display: none
    .group-right
      padding: 18px 26px
      position: relative
      .field-name-field-link-single
        width: 100%
        a
          font-size: 20px
          line-height: 1.1em
          &:after
            color: $white
  // Bottom text CTA
  .image-cta-position-bottom
    overflow: hidden
    //+box-shadow(rgba(0, 0, 0, 0.1) 2px 2px 2px)
    //border: 2px solid $white
    .group-left img
      //display: block
      //border-bottom: 0
      //vertical-align: bottom
    .field-name-field-title
      display: none
    .group-right
      //border-top: 0
      //border-bottom: 2px solid $white
      display: block
      position: absolute
      bottom: 0
      //margin-left: 2px
      padding: 15px 26px 18px
      //width: 262px
      z-index: 4
      .field-name-field-link-single
        width: 100%
        a
          font-size: 20px
          line-height: 1.1em
          &:after
            color: $white
    &.image-cta-color-purple .group-right
      background: rgba($purple, 0.8)
      &:hover
        background: rgba($teal-dark, 0.8)
    &.image-cta-color-green .group-right
      background: rgba($green-dark, 0.8)
      &:hover
        background: rgba($blue, 0.8)
    &.image-cta-color-blue .group-right
      background: rgba($blue, 0.8)
      &:hover
        background: rgba($green-dark, 0.8)
    &.image-cta-color-dark-teal .group-right
      background: rgba($teal-dark, 0.8)
      &:hover
        background: rgba($purple, 0.8)

//////////////////
// Wide view
// Gradient overlay
/////////////////
.front-panel-feature-one,
.wide-view
  .image-cta-position-top
    .group-right
      height: 393px
      +breakpoint($bp-tablet-port-max)
        height: 310px
      +breakpoint($bp-mobile)
        height: 198px
        .front &
          height: 213px
    &.image-cta-color-purple .group-right
      +background(linear-gradient(left top, rgba(#572440, 0.9), rgba(#572440, 0)))
    &.image-cta-color-green .group-right
      +background(linear-gradient(left top, rgba(#0c4a3b, 0.9), rgba(#0c4a3b, 0)))
    &.image-cta-color-blue .group-right
      +background(linear-gradient(left top, rgba(#395d72, 0.9), rgba(#395d72, 0)))
    &.image-cta-color-dark-teal .group-right
      +background(linear-gradient(left top, rgba(#378a7a, 0.9), rgba(#378a7a, 0)))
