/////////////////
// GENERIC CTA
/////////////////

// General CTA style
.cta-wrapper
  margin: 0 1px 8px 1px
  a
    display: block
  .field-item
    &:before
      content: "\f100"
      float: right
      font-family: "arrow-double"
      font-size: 36px
      font-weight: normal
      line-height: 0.5
      position: relative
      top: 16px
      right: 7px

.cta-link
  padding: 14px 35px 14px 22px
  font-size: 18px
  span, b
    line-height: 1
  span
    margin-right: 5px

.cta-action
  line-height: 1
  vertical-align: text-top

// CTA Green
.cta-green
  .field-item
    border-bottom: 1px solid $grey-c
    border-top: 1px solid $white
    a
      color: $green-light
    &:first-of-type
      border-top: 0
    &:last-of-type
      border-bottom: 0
    &:before
      color: #e3e3e3
    &:hover
      a
        color: $text-blue
      &:before
        color: $teal-light

// CTA Red
.cta-red
  .field-item
    @extend %bg-border-and-box-shadow
    margin-bottom: 5px
    &:before
      color: $grey-med
    a
      color: $red
    &:hover
      background: #edeae5
      &:before
        color: $red

// CTA Red Gradient
.cta-red-gradient
  .field-item
    margin-bottom: 5px
    border: 0
    background-color: #c60000
    +box-shadow($black, 0.45, 1px 1px 1px)
    a
      color: $white
      font-weight: bold
    &:before
      color: $white
    &:hover
      +background(linear-gradient(top, #194560, #2c6180))
      color: $white

  .item-0
    +background(linear-gradient(top, #860000, #960000))
    &:hover
      +background(linear-gradient(top, #194560, #2c6180))

  .item-1
    +background(linear-gradient(top, #960000, #aa0000))
    &:hover
      +background(linear-gradient(top, #194560, #2c6180))

  .item-2
    +background-image(linear-gradient(top, #aa0000, #c60000))
    &:hover
      +background(linear-gradient(top, #194560, #2c6180))
