.modal-content 
  .form-item-view-mode
    clear: both
  select,
  .form-text
    width: 330px
    line-height: 1em
    height: auto
    padding: 5px 5px
  .form-text 
    padding-right: 25px
    &.form-autocomplete
      background-position: 99% 6px
    &.throbbing 
      background-position: 99% -14px
  label
    font-size: 15px
    color: #333
  .form-item
    margin: 0 0 10px 0
  .date-padding
    padding: 0
  .form-type-radio
    margin-bottom: 0
  form > div > .description 
    margin-bottom: 10px
    border-bottom: 1px #ddd solid
  a.button
    float: left
    height: 28px
    line-height: 28px
    padding: 0 13px 0 10px
    border: 1px #ccc solid
    margin-bottom: 10px
    +border-radius(4px)
    +background(linear-gradient(bottom, rgb(223,230,230), rgb(255,255,255)))
    +text-shadow($white 1px 1px 1px)
    &:hover
      background: $white
      +box-shadow(rgba(0,0,0,0.1), -1px, -1px, 3px, 0, true)
    &:active
      background: #fff
      +box-shadow(rgba(0,0,0,0.2), 0, 0, 6px, 0, true)

#modal-content fieldset
  padding-bottom: 0