//////////////////
// Custom previews
//////////////////

// Body
.cp-body
  word-wrap: break-word
  font-size: 16px
  p
    color: $grey-3
    font-size: 16px
    line-height: 18px
// Title
.cp-title
  margin: 0
  a
    border-bottom: 1px transparent solid
    color: $red
    font-size: 19px
    font-weight: bold
    &:hover
      border-bottom-style: dashed
      color: #005580
// Date
.cp-date
  margin-bottom: 11px
  color: $grey-6
  span
    display: none
// Address
.cp-adress
  display: block
  margin-bottom: 5px
  color: #232332
  font-size: 13px
  font-weight: bold

.cp-body p:last-child
  margin-bottom: 0

.cp-image img
  width: 100%

.cp-image-large
  display: none
  img
    display: none
// Video
.cp-video
  position: relative
// Author
.cp-author
  display: block
  margin-bottom: 5px
  color: $grey-6
// Taxonomy
.cp-taxonomy
  display: block
  margin-top: 8px
  font-size: 14px
  line-height: 18px
  a
    border-bottom: 1px transparent solid
    color: $red
    &:hover
      border-bottom-style: dashed
// No image
.no-image .cp-title
  margin: 8px 0 5px
  a
    font-size: 130%
    line-height: 1.2em
