//////////////////
// GENERAL STYLES
//////////////////

// HEADER REGION
#header-wrapper
  +breakpoint($bp-wide-min)
    border-top: 10px $red-dark solid
  #header
    +breakpoint($bp-wide-min)
      height: 152px
    margin: 0 auto
    max-width: $max-width
    .no-js &, .no-svg &
      +breakpoint($bp-mobile-max)
        min-height: 135px

// LOGO
#logo
  display: inline-block
  margin-top: 36px
  img
    display: none
  .svg &
    height: 76px
    width: 275px
    background: image_url("logo.svg") no-repeat
    background-size: 96.8%
  .no-js &, .no-svg &
    background: image_url("logo.png") no-repeat
  +breakpoint(1210px max-width)
    margin-left: 20px
  +breakpoint($bp-tablet-port-max)
    margin-top: 30px
    margin-bottom: 30px
    .svg &
      background-size: 100%
      height: 65px
      width: 230px
    .no-js &, .no-svg &
      max-width: 230px
  +breakpoint($bp-mobile-max)
    display: block
    .svg &
      height: 36px
      margin: 15px
      width: 122px
    .no-js &, .no-svg &
      margin: 21px 0 18px 15px
      max-width: 150px

// 404 logo
.page-not-found
  #logo
    height: 81px
    width: 287px

// SITE SLOGAN
#site-slogan
  font-size: 22px
  float: right
  line-height: 60px
  +breakpoint($bp-tablet-port)
    clear: both
    font-size: 18px
    line-height: 1
    padding-right: 20px
    padding-top: 80px
  +breakpoint(705px max-width)
    max-width: 300px
  +breakpoint($bp-mobile-max)
    display: none

// CONTENT REGION
#content-wrapper
  //+box-shadow( -1px 0 5px inset)
  position: relative
  background: $white
  &:after,
  &:before
    content: "" !important
    position: absolute
    left: 0
    width: 100%
    height: 5px !important
    visibility: visible
  &:after
    +box-shadow(0px -2px 2px rgba($black, 0.3) inset)
    bottom: 0
  &:before
    +box-shadow(0px 2px 2px rgba($black, 0.3) inset)
    top: 0px
  #content
    margin: 0 auto
    padding-bottom: 12px
    max-width: $max-width
    +breakpoint($bp-mobile-max)
      padding-top: 0

// MAIN REGION
#main
  padding-top: 30px
  +breakpoint($bp-content-max)
    padding: 30px 20px 12px
  +breakpoint($bp-mobile-max)
    padding: 15px

// BOTTOM REGION
#bottom
  background: $white
  .bottom-content
    margin: 0 auto
    max-width: $max-width
    +breakpoint($bp-content-max)
      padding: 0 20px
    +breakpoint($bp-mobile-max)
      padding: 0 15px

// FOOTER REGION
#footer-wrapper
  background: $grey-f
  #footer
    margin: 0 auto
    max-width: $max-width
    +breakpoint($bp-content-max)
      padding: 0 20px
    +breakpoint($bp-mobile-max)
      padding: 0 15px

// LEGAL REGION
#legal
  .region
    border-top: 1px $grey-c solid
    margin: 0 auto
    max-width: $max-width
  +breakpoint($bp-content-max)
    padding: 0 20px
  +breakpoint($bp-mobile-max)
    padding: 0 15px

////////////////
// BACKGROUNDS
////////////////

// Front page courtyard image
.front #content-wrapper
  +breakpoint($bp-tablet-port-min)
    +background(image_url("bg-quad-home.png") top center no-repeat, linear-gradient($white, #e4e4e4))

// Inner page courtyard image
.not-front #content-wrapper
  +breakpoint($bp-tablet-port-min)
    +background(image_url("bg-quad-standard.png") bottom center no-repeat, linear-gradient($white, #f5f5f5))

// GSB Around the world
.page-stanford-gsb-experience-gsb-around-world #content-wrapper
  +breakpoint($bp-tablet-port-min)
    +background(linear-gradient(rgba(#d7e8e5, 0), rgba(#8ea9a4, 0.5)), image_url("bg-quad-standard.png") bottom center no-repeat, linear-gradient($white, #f5f5f5))

// No courtyard on BI
.page-business-insights #content-wrapper
  background-image: none

// Research and Faculty landing, faculty grid
.page-node-303566,
.page-node-300726
  #content-wrapper
    +breakpoint($bp-tablet-port-min)
      +background(image_url("bg-faculty.jpg") center top no-repeat, #f3f2f3)

// Clubs landing
.page-stanford-gsb-experience-life-stanford-activities-organizations #content-wrapper
  +breakpoint($bp-tablet-port-min)
    +background(image_url("bg-quad-standard.png") bottom center no-repeat, linear-gradient($white, #f5f5f5))

// WITL custom gradient
.page-programs-mba-student-life-week-in-the-life,
.node-type-week-in-the-life
  #content-wrapper
    +breakpoint($bp-tablet-port-min)
      +background(image_url("bg-quad-standard.png") bottom center no-repeat, linear-gradient(#f7f7f7 , #e2e2e2))

// MSx Fellows page
.page-programs-msx,
.node-type-msx-fellows
  #content-wrapper
    +breakpoint($bp-tablet-port-min)
      +background(image_url("bg-msxfellows.jpg") -290px 0 no-repeat, $white)

// Special color bg landing pages with white titles
.page-node-300216,
.page-node-300436,
.page-node-300221,
.page-node-300286,
.page-node-300291,
.page-node-301056,
.page-node-301286,
.page-node-301386,
.page-faculty-research,
.page-giving,
.page-alumni
  #content-wrapper
    +breakpoint($bp-tablet-port-min)
      +background(image_url("bg-landing-whitetitlebar.jpg") center top no-repeat, $white)
      #page-title
        background: rgba($white, 0.6)
        border: 2px $white solid
        margin-bottom: 30px
        padding: 12px 20px 10px

// Links in main content
.main-content
  a
    border-bottom: 1px dashed $green-light
    color: $green-light
    &:hover
      border-bottom: 1px solid $link-blue
      color: $link-blue

// Remove links border
a.no-border
  border: 0
  &:hover
    border: 0

//////////////////
// HIDE PAGE TITLE
/////////////////

// .node-type-publication,
// .business-insight-detail,
// .node-type-case-study,
// .node-type-research-paper,
// .page-business-insights,
.front,
.node-type-news,
.node-type-event,
.page-events,
.node-type-week-in-the-life,
.node-type-msx-fellows,
.page-node-301121,
.page-node-301356,
.page-node-303116,
.page-node-303111,
.page-node-303121,
.page-node-303126,
.page-node-303131,
.page-node-303136,
.node-type-phd-candidate,
.page-node-306331
  #page-title
    display: none

// Show page titles again for mobile
.page-events
  #page-title
    +breakpoint($bp-tablet-port-max)
      display: block

// @TODO make this better
// BI HACK for Landings titles
.page-business-insights-business--society,
.page-business-insights-consumer,
.page-business-insights-education,
.page-business-insights-energy,
.page-business-insights-entrepreneurship,
.page-business-insights-finance--economics,
.page-business-insights-global-business,
.page-business-insights-health-care,
.page-business-insights-leadership,
.page-business-insights-management--organizations,
.page-business-insights-marketing,
.page-business-insights-media--entertainment,
.page-business-insights-nonprofit,
.page-business-insights-operations,
.page-business-insights-public-sector,
.page-business-insights-technology,
.page-business-insights-transportation
  #page-title
    display: block
    max-width: 870px

/////////////////////////
// GRADIENTS AND SHADOWS
/////////////////////////

.red-button-gradient
  @extend %red-button-gradient

.shadowed-box
  @extend %bg-border-and-box-shadow
  margin-bottom: 30px
  padding: 1px
  .cp-content
    padding: 24px

.designed-box,
.person-list-view,
.pane-gsb-event-sidebar
  @extend %bg-border-and-box-shadow

// Green rounded button
.green-rounded-button
  @extend %green-button

.separated-box,
.pane-block
  margin-bottom: 30px

// Mapbox map width
.mapwrap
  width: 100%

// Social icons
.icon-wrapper
  +clearfix
  margin: 0
  padding: 0
  li
    display: block
    float: left
    &:first-of-type
      width: 22%
      .circle
        margin-left: 0
    &:nth-of-type(2n)
      width: 28%
    &:nth-of-type(3n)
      width: 28%
    &:last-of-type
      width: 22%
      .circle
        margin-right: 0

// Icon style
.circle
  @extend %circle

// Twitter feed
.tweet
  font-size: 14px
  line-height: 1.4
  margin-bottom: 20px
  word-wrap: break-word

  &:last-of-type
    margin-bottom: 0
  a
    border: none
    color: $red
    &:hover
      border: none
      color: $text-blue
      text-decoration: underline
  .time
    font-size: 13px
    margin-top: 5px
    margin-bottom: 0
