// GENERAL STYLES

#header-wrapper
  border-top: 10px $red-dark solid
  #header
    margin: 0 auto
    max-width: $max-width

#main-wrapper
  +box-shadow( -1px 0 5px inset)
  background: $white
  #main
    margin: 0 auto
    padding-top: 30px
    max-width: $max-width

// Front page courtyard image
.front #main-wrapper
  +breakpoint($bp-portrait-min)
    +background(image_url("bg-front-courtyard.png") top center no-repeat, linear-gradient(bottom, $grey-f 14%, $white 79%), $white)

// Inner page courtyard image
.not-front #main-wrapper
  +breakpoint($bp-portrait-min)
    +background(image_url("bg-notfront-courtyard.png") bottom center no-repeat)

// FOOTER
#footer-wrapper
  background: $grey-f
  #footer
    margin: 0 auto
    max-width: $max-width

// NAVIGATION
#navigation
  float: right
  position: relative
  top: -10px

// LOGO
#logo
  display: inline-block
  margin-top: 30px

// SITE SLOGAN
#site-slogan
  font-size: 22px
  text-align: right
  position: relative
  top: -19px

.main-content
  a
    border-bottom: 1px dashed $green-light
    color: $green-light
    &:hover
      border-bottom: 1px solid $link-blue
      color: $link-blue
  h2
    color: $link-blue
  .intro
    font-size: 30px

a.no-border
  border: 0
  &:hover
    border: 0

// GRADIENTS AND SHADOWS
.red-button-gradient
  @extend %red-button-gradient

.shadowed-box
  @extend %border-and-box-shadow
  margin-bottom: 30px
  padding: 1px
  .cp-content
    padding: 24px

.designed-box,
.person-list-view,
.pane-gsb-event-frontpage,
.pane-gsb-event-sidebar
  margin-bottom: 30px
  @extend %border-and-box-shadow

.group_content_wrapper
  padding: 26px

// Hard-coded class for green rounded button
a.green-rounded-button
  @extend %green-button

// h1 styling
h1.title
  font-weight: bold
  font-size: 48px
  line-height: 56px
