/////////////////
// Diptych
/////////////////

.pane-bundle-diptych
  margin-bottom: 30px
  +background(linear-gradient(top, $grey-1, $grey-27))
  position: relative
  +clearfix
  .ds-2col
    > .group-left
      width: 69%
    > .group-right
      width: 31%
      float: right

    &.diptych-blue
      .group-left
        .field-type-image .field-item
          &:after
            +background(linear-gradient(top, rgba($text-blue, 0) 0%, rgba($text-blue, 0) 35%, rgba($text-blue, 1) 85%))
            +breakpoint($bp-mobile-480)
              background: transparent
        +breakpoint($bp-mobile-480)
          +background(linear-gradient(top, rgba($text-blue, 0) 0%, rgba($text-blue, 0) 35%, rgba($text-blue, 1) 85%))

    &.diptych-purple
      .group-left
        .field-type-image .field-item
          &:after
            +background(linear-gradient(top, rgba($purple, 0) 0%, rgba($purple, 0) 35%, rgba($purple, 1) 85%))
            +breakpoint($bp-mobile-480)
              background: transparent
        +breakpoint($bp-mobile-480)
          +background(linear-gradient(top, rgba($purple, 0) 0%, rgba($purple, 0) 35%, rgba($purple, 1) 85%))

  .gsb-image-video-popup
    margin-right: 0

  .group-left, .group-right
    padding: 0 26px
    .field-type-link-field a
      color: $white
      display: block
      line-height: 1.5
      padding: 10px 35px 7px 15px
      &:after
        content: "w"
        color: $white
        display: inline
        float: right
        font-family: "gsb"
        font-size: 26px
        font-weight: normal
        line-height: 0.45
        width: 0

    .field-type-image, .field-type-file
      margin: 0 -26px

  //Right group
  .group-right
    .group-diptych-txt-block
      margin-top: 20px

    .gsb-responsive-main
      display: none
      visibility: hidden

    .gsb-responsive-preview
      .file-video
        display: block

    .field-type-text-long
      color: $white
      font-size: 18px
      line-height: 1.3
      margin-bottom: 15px
      +breakpoint($bp-mobile-480)
        margin-top: 15px

    .field-type-link-field a
      background-color: $grey-1
      color: $blue-light
      &:after
        color: $text-blue
      &:hover
        background-color: $blue-light
        color: $white
        &:after
          color: $white

  //Left group
  .group-left
    position: relative
    .field-type-image
      .field-item
        position: relative
        &:after
          content: ''
          width: 100%
          height: 100%
          position: absolute
          top: 0
          left: 0
    .diptych-txt-block
      position: absolute
      bottom: 28px
      padding-right: 26px
      +breakpoint($bp-mobile-480)
        position: inherit
        bottom: auto
        margin: 15px 0 26px 0
        padding-right: 0

    .field-type-text-long, .field-type-link-field
      color: $white
    // Text
    .field-type-text-long
      font-size: 26px
      line-height: 1.3
      margin-bottom: 15px
      +breakpoint($bp-mobile-max)
        font-size: 22px
        line-height: 1.2em
      +breakpoint($bp-mobile-480)
        font-size: 18px
        line-height: 1.3

    // Link
    .field-type-link-field a
      background-color: $teal-dark
      width: 218px
      &:hover
        background-color: $blue

// Wide view
.wide-view
  .pane-bundle-diptych .ds-2col
    > .group-left
      width: 100%
    > .group-right
      width: 100%
      padding: 26px
      .field-type-file,
      .group-diptych-txt-block
        display: block
        float: left
      .field-type-file
        margin: 0
        width: 53%
        +breakpoint($bp-tablet-port-max)
          width: auto
        +breakpoint(602px max-width)
          width: 53%
        +breakpoint($bp-mobile)
          width: 100%
      .group-diptych-txt-block
        width: 42%
        margin-left: 5%
        margin-top: 0
        +breakpoint($bp-mobile)
          width: 100%
          margin-left: 0

// Full width
.full-view
  .pane-bundle-diptych
    +breakpoint(910px 999px)
      max-width: 870px
    .group-left
      max-width: 600px
  +breakpoint(720px max-width)
    .pane-bundle-diptych
      max-width: 600px
    .ds-2col
      > .group-left
        width: 100%
      > .group-right
        width: 100%
        padding: 26px
        .field-type-file,
        .group-diptych-txt-block
          display: block
          float: left
        .field-type-file
          margin: 0
          width: 53%
          +breakpoint($bp-tablet-port-max)
            width: auto
          +breakpoint(602px max-width)
            width: 53%
          +breakpoint($bp-mobile-480)
            width: 100%
        .group-diptych-txt-block
          width: 42%
          margin-left: 5%
          margin-top: 0
          +breakpoint($bp-mobile-480)
            margin-left: 0
            width: 100%
