/////////////////////////
// e-newsletters listing
/////////////////////////

// Re:Think e-newsletters
.pane-e-newsletters-list
  @extend %bg-border-and-box-shadow
  padding: 20px 24px 24px 24px
  h2
    font-size: 20px
    font-weight: bold
    padding-bottom: 10px
    line-height: 1.2
    color: $text-black
  .display_archive .campaign
    font-size: 16px
    font-weight: normal
    line-height: 1.2
    color: $text-grey-light
    padding-bottom: 12px
    a
      font-family: NewsGothicBT-Demi
      color: $text-black
      &:after
        color: $text-green
        content: "w"
        font-family: "gsb"
        font-size: 16px
        line-height: 0
      &:hover
        color: $text-blue
        &:after
          color: $teal-light
    