/////////
// EVENT
/////////

// EVENT DETAIL
.node-event.view-mode-full
  border-top: 3px solid $black
  padding-top: 0
  padding-left: 0
  a
    border-bottom: 0
  .group-left
    padding-top: 30px
    width: auto
    h2
      font-weight: bold

    // Event Date
    .field-name-field-event-date
      font-weight: bold
      font-size: 18px
      margin-bottom: 20px

    // Title
    .field-name-title
      margin-bottom: 25px

    // Speaker name(s)
    .field-name-field-person-or-other
      display: none

    .field-name-field-person-fac-other
      margin-bottom: 25px
      position: relative
      top: 0
      +clearfix
    .field-collection-item-field-person-fac-other,
    .separator
      +float-left
      line-height: 24px
      a
        color: $green-light
    .separator,
    .name-first
      margin-right: 5px
    .name-first,
    .name-last,
    .speaker-name a
      font-size: 22px

    // Address
    .field-name-field-address
      .thoroughfare
        font-weight: bold

    // Map Link
    .field-name-field-link-map
      margin-bottom: 30px
      a
        color: $green
        font-weight: bold

    // Buttons
    .group-wrapper-buttons
      line-height: 36px
      margin: 35px 0
    .event-register-link,
    .event-ical-link
      display: inline
    // Register Link
    .event-register-link
      a
        @extend %green-button
    .event-ical-link
      margin: 0 14px

  .group-right
    max-width: 270px
  .field-name-field-image-single-public
    margin-bottom: 35px
  .field-name-field-target-audience
    font-size: 14px
    max-width: 225px

  .group-footer
    border-top: 1px solid $grey-c
    padding: 30px 0
    .field-name-field-editorial-summary,
    .field-name-field-body p
      font-size: 18px
      line-height: 28px

///////////////////
// Events landing
///////////////////
.page-events
  #main
    position: relative
  .view-filters
    margin-right: 30px
  .view-gsb-event
    +clearfix
    .view-content
      // display: inline-block
      // float: right
      margin-top: 80px
      // width: 74.4%
    .view-empty
      display: inline-block
      margin-top: 80px
  // langing page events listing
  .view-gsb-event
    .view-mode-teaser
      .field-name-title
        h2
          font-weight: normal
      .field-name-field-address
        .field-item
          font-weight: bold
      .field-name-field-editorial-summary
        line-height: 24px
      .field-name-field-address,
      .field-name-field-editorial-summary
        font-size: 18px

  // Filter styles
  div.tabs
    position: absolute
    right: 0
    text-align: right
  ul.tabs
    border: 0
    display: block
    height: 50px
    margin: 0
    padding: 0
    position: relative
    right: 0
    li
      border: 0
      display: inline-block
      margin: 0
      padding: 0
      a
        background: none
        border: 0
        font-weight: bold
        line-height: 3em
        padding: 0
        &:before
          width: 80px
          height: 50px
          display: block
          line-height: 55px
          text-align: center
          position: absolute
          +background(linear-gradient(bottom, #c50000, $red))
        &:hover,
        &.active
          color: $grey-1
          &:before
            background: $grey-1
    // List link
    li:first-of-type
      a
        position: relative
        right: 100px
        &:before
          content: image_url("icon-event-list.png")
          right: 36px
    // Event link
    li:last-of-type
      a
        &:before
          content: image_url("icon-event-cal.png")
          right: 73px
    a
      border: 0
      display: inline-block
      margin: 0
      height: 50px
      width: 80px

///////////////////
// Event listing
///////////////////
.view-gsb-event
  .view-content
    .view-mode-teaser
      padding-top: 1em
      padding-bottom: 1.5em
      +clearfix
    // Day separation
    h5
      display: block
      border-top: 1px solid $black
      padding-top: 1em
    // Event separation
    .views-row
      border-bottom: 1px solid $grey-e
    .views-row-last
      border-bottom: 0
  .views-exposed-widget
    border-bottom: 1px solid $grey-c
    padding: 0
    margin-bottom: 20px
  .views-widget label.option
    font-size: 13px
    font-weight: bold
    text-transform: uppercase

//  Fullcalendar table border
.fullcalendar table.fc-border-separate
  border-collapse: collapse
  thead
    border: 1px solid #666
  tbody td
    border: 1px solid #ccc

// New filters
.pane-views-exp-gsb-event-panel-pane-1,
.pane-views-exp-gsb-event-panel-pane-2
  @extend %black-border-top
  @extend %bg-grey-gradient
  background-color: $grey-f
  display: inline-block
  vertical-align: top
  max-width: 270px
  padding: 24px
  label
    font-size: 16px
    font-weight: normal
  // SEARCH BOX
  #edit-search-wrapper
    border-bottom: 0
    margin-bottom: 15px
    padding: 0
    .form-item
      margin: 0
    #edit-search
      width: 100%
      border: none
      border: 1px #d0d0d0 solid
      background: #e4e4e4
      height: auto
      padding: 6px 31px 6px 10px
      color: $grey-6
      font-size: 16px
    label
      display: none
  .views-exposed-widget.views-submit-button
    border-bottom: 0
    display: inline-block
    float: right
    margin-bottom: 0
    position: relative
    top: -50px

  // Submit button
  #edit-submit-gsb-event
    width: 31px
    height: 36px
    -webkit-border-radius: 0
    -moz-border-radius: 0
    -ms-border-radius: 0
    border-radius: 0
    border: none
    background: transparent url(../images/search-magnifying-glass.png) no-repeat center center
    text-indent: 1000px
    padding: 0



/*
 * Admission Events TABLE
 */
.view-admission-events
  .event-buttons
    +clearfix
    .event-button
      +float-left
      cursor: pointer
      padding: 0.5em 1em
  tbody
    a
      color: $green-light

