/////////
// EVENT
/////////

// EVENT DETAIL
.node-event.view-mode-full
  border-top: 3px solid $black
  padding-top: 0
  padding-left: 0
  a
    border-bottom: 0
  .group-left
    margin-left: 26px
    padding-top: 26px
    width: auto
    h2
      font-weight: bold

    // Event Date
    .field-name-field-event-date
      font-weight: bold
      font-size: 18px
      margin-bottom: 20px

    // Title
    .field-name-title
      margin-bottom: 25px

    // Speaker name(s)
    .field-name-field-person-or-other
      display: none

    .field-name-field-person-fac-other
      margin-bottom: 25px
      position: relative
      top: 0
      +clearfix
    .field-collection-item-field-person-fac-other,
    .separator
      +float-left
      line-height: 24px
      a
        color: $green-light
    .separator,
    .name-first
      margin-right: 5px
    .name-first,
    .name-last,
    .speaker-name a
      font-size: 22px

    // Address
    .field-name-field-address
      .thoroughfare
        font-weight: bold

    // Map Link
    .field-name-field-link-map
      margin-bottom: 30px
      a
        color: $green
        font-weight: bold

    // Buttons
    .group-wrapper-buttons
      line-height: 36px
      margin: 35px 0
    .event-register-link,
    .event-ical-link
      display: inline
    // Register Link
    .event-register-link
      a
        @extend %green-button
    .event-ical-link
      display: none
      .no-touch &
        display: inline-block
        margin: 0 14px

  .group-right
    max-width: 270px
  .field-name-field-target-audience
    font-size: 14px
    max-width: 225px
    padding-top: 26px

  .group-footer
    border-top: 1px solid $grey-c
    margin-left: 26px
    padding: 30px 0
    .field-name-field-editorial-summary,
    .field-name-field-body p
      font-size: 18px
      line-height: 28px

///////////////////
// Events landing
///////////////////
.page-events
  #main
    position: relative
  .view-filters
    margin-right: 30px
  .view-gsb-event
    +clearfix
    .view-content
      margin-top: 80px
      +breakpoint($bp-mobile-max)
        margin-top: 0
    .view-empty
      display: inline-block
      margin-top: 80px
      +breakpoint($bp-mobile-max)
        margin-top: 0
  // Landing page events listing
  .view-gsb-event
    .view-mode-teaser
      .field-name-title
        h2
          font-weight: normal
      .field-name-field-address
        .field-item
          font-weight: bold
      .field-name-field-editorial-summary
        line-height: 24px
      .field-name-field-address,
      .field-name-field-editorial-summary
        font-size: 18px

  // Filter styles
  div.tabs
    position: absolute
    right: 0


    +breakpoint($bp-mobile-max)
      display: none
  ul.tabs
    border: 0
    display: block
    margin: 0
    padding: 0
    li
      border: 0
      display: inline-block
      margin: 0
      padding: 0
      float: left
      a
        border: 0
        font-weight: normal
        font-size: 18px
        text-align: left
        height: 50px
        display: inline-block
        margin: 0
        color: white
        line-height: 50px
        padding: 0 24px 0 20px
        +background(linear-gradient(bottom, #c50000, $red))

        &:before
          display: inline-block
          text-align: left
          float: left
          font-family: "gsb"
          margin-right: 8px
          line-height: 43px
          color: white
          font-weight: normal

        &:hover
          //color: $grey-1

      &.active
        a
          +background(linear-gradient(bottom, #606060, #6f6f6f))
          cursor: default

      // List link
      &:first-of-type
        a
          &:before
            //content: image_url("icon-event-list.png")
            content: "e"
            font-size: 34px
            line-height: 32px

      // Event link
      &:last-of-type
        margin-left: 1px
        a
          &:before
            //content: image_url("icon-event-cal.png")
            content: "5"
            font-size: 28px


    a
      //border: 0
      //display: inline-block
      //margin: 0
      //height: 50px
      //width: 80px

///////////////////
// Event listing
///////////////////
.view-gsb-event
  .view-content
    .view-mode-teaser
      padding: 1em 0 1.5em 0
      margin: 0 24px
      +clearfix
    // Day separation
    h5
      display: block
      border-top: 1px solid $black
      padding-top: 1em
    // Event separation
    .page-events & .views-row .node
      border-bottom: 1px solid $grey-b8
    .page-events & .views-row-last .node
      border-bottom: 0
  .views-exposed-widget
    border-bottom: 1px solid $grey-c
    padding: 0
    margin-bottom: 20px
  .views-widget label.option
    font-size: 13px
    font-weight: bold
    text-transform: uppercase

//  Fullcalendar table border
.fullcalendar table.fc-border-separate
  border-collapse: collapse
  thead
    border: 1px solid #666
  tbody td
    border: 1px solid #ccc
.fc-content
  .fc-event-default,
  .fc-event-time
    border-color: $text-blue
    background: $text-blue

// Admission events
.view-admission-events
  table
    +box-shadow(0 1px 1px rgba($black, 0.1))
    border: 1px solid #e4e4e4 !important
    margin-bottom: 30px
    width: 100%
    tr
      &.odd,
      &.even
        background-color: transparent

      td,
      th
        &:first-of-type
          position: relative
          left: 2px
          width: 130px
        //background-color: transparent
        &:nth-child(2n+1)
          background-color: #f8f7f6
          &.active
            background-color: #f8f7f6

    td
      padding: 0.9em 1em 0.5em
      background-color: $white

    tbody
      a
        color: $text-green
        font-weight: bold
      tr
        border-top: transparent
        border-bottom: 1px solid #e4e4e4
    thead
      th
        padding: 1.6em 1em 0.7em
        border-bottom: 1px solid #e4e4e4
        font-size: 16px

      a
        color: $text-black

        &.currentFilter
          position: relative
          color: $text-green
          padding-right: 30px
          &:after
            width: 0
            height: 0
            display: inline-block
            position: absolute
            content: ''
            right: -2px
            border-style: solid
            border-width: 7px
            border-color: transparent
          &[href*='desc']:after
            bottom: -2px
            border-top-color: $text-green
            border-top-width: 9px
          &[href*='asc']:after
            bottom: 7px
            border-bottom-color: $text-green
            border-bottom-width: 9px

        img
          display: none

  .view-filters
    margin-bottom: 30px

  .event-buttons
    +clearfix
    .event-button
      +float-left
      cursor: pointer
      padding: 0.5em 1em


  .event-button
    background-color: #fbfaf8
    +box-shadow(rgba($black, 0.1) 2px 2px 2px, rgba($black, 0.1) 0 0 0 1px)
    margin: 2px 7px 0 1px
    border: 2px $white solid
    border-bottom: 0 none
    &:hover
      color: $blue-dark
      background-color: $grey-c
      +background(linear-gradient(top, #ededed 20%, #fbfaf8 100%))
      @include filter-gradient(#fbfaf8, #ededed, vertical)
      $experimental-support-for-svg: true
    &.active
      background-color: $grey-c
      +background(linear-gradient(bottom, #ededed 20%, #fbfaf8 100%))
      @include filter-gradient(#fbfaf8, #ededed, vertical)
      $experimental-support-for-svg: true
      color: $red-dark

// Academic calendar
.view-academic-calendar
  .view-content
    @extend %border-and-box-shadow
    background: $white
    margin-bottom: 30px
  table
    width: 100%
    caption
      background: #d8e7e4
      font-weight: bold
      text-align: left
      padding: 16px 23px 8px
    tr
      background-color: #fff
      border: 0 none
      &:last-of-type
        td
          border: 0 none
    td
      padding: 0.9em 1em 0.5em
      background-color: $white
      border-bottom: 1px solid #e4e4e4
      &:first-of-type
        background-color: #f8f7f6
        width: 38%

      &.views-field-field-academic-calendar-link
        font-weight: bold
  .view-footer
    overflow: hidden
    padding-top: 1px
    a
      @extend %bg-border-and-box-shadow
      +background(linear-gradient(#fbfaf8, $grey-e))
      margin-bottom: 5px
      color: $text-green
      padding-top: 14px
      padding-bottom: 11px
      position: relative
      &:after
        @extend %chevron-big
        font-weight: bold
        color: #e3e3e3
      &:hover
        color: $text-blue
        &:after
          color: $teal-light
      &.prev
        padding-left: 55px
        padding-right: 22px
        float: left
        &:after
          content: "q"
          left: 12px
          right: auto
      &.next
        float: right
        padding-left: 22px
        padding-right: 55px

#block-gsb-public-custom-blocks-gsb-featured-event
  margin-bottom: 40px
  float: right
  width: 795px
  position: relative
  top: 18px
  +breakpoint($bp-tablet-port-max)
    display: none
  h2
    font-size: 24px
    color: #63acd5
    line-height: 1.3
    margin-bottom: 5px
    a
      color: inherit
      &:after
        content: "w"
        color: #63acd5
        font-family: "gsb"
        font-size: 29px
        font-weight: bold
        margin-left: 6px
        line-height: 1
        position: relative
        top: 1px
        display: inline-block
        margin-top: -8px

      &:hover
        color: $white
        &:after
          color: $white

  .group_ft_evnt_wrp
    padding-left: 180px
    padding-right: 30px
    min-height: 130px
    max-width: 570px
    overflow: hidden

  .field-name-field-image-single-public
    float: right
    width: 270px
  .group_tag_wrap
    line-height: 1.2em
    font-size: 15px
    color: #63acd5
    .separator
      display: inline
    a
      color: #63acd5

    > div
      display: inline
      > div
        display: inline
  .field-name-field-address,
  .field-name-field-editorial-summary,
  .event_calendar_featured
    color: $white

  .field-name-field-editorial-summary
    margin-top: -2px
    margin-bottom: 4px

  //THE BOX
  .event_calendar_featured
    //background: image_url("blue_box_event_f.png") no-repeat 0 0
    position: absolute
    top: 0
    left: 0
    width: 143px
    height: 128px
    padding: 29px 5px 5px
    text-align: center
    &:after
      content: '6'
      font-family: gsb
      font-size: 163px
      position: absolute
      line-height: 0
      top: 48px
      left: -8px
      color: #63acd5
    > div
      line-height: 31px


    &.from-to
      b
        position: relative
        top: 10px
        &:last-of-type
          top: -8px


    ins,
    b,
    span
      display: block

    span
      top: -3px
    ins
      text-decoration: none
      border: 0 none
      top: 5px
    ins, span
      font-size: 14px
      position: relative
    b
      font-size: 24px
    i
      font-style: normal
