// EXISTING NODE STYLES

// Hide sections field in display
.field-name-field-sections
  .field-label,
  .field-items
    display: none

// Teaser Content styling
.group-wrapper-teaser

  // Date
  .field-name-field-date-published,
  .field-name-field-event-date
    color: $grey-6
    font-size: 14px
    margin-bottom: 20px

  // Title
  h2,
  h2 a
    color: $red
    font-size: 26px
    font-weight: bold
    line-height: 30px
    margin-bottom: 20px
    text-transform: none

  // Editorial Summary
  .field-name-field-editorial-summary
    font-size: 18px
