/////////////////////////////
// TEASER AND EXISTING NODE
/////////////////////////////

// Hide sections field in display
.field-name-field-sections
  .field-label,
  .field-items
    display: none

// Teaser Content styling
.view-mode-teaser
  padding: 30px 24px

  // Image
  .field-name-field-file-single-public,
  .field-name-field-image-single-public
    float: right
    vertical-align: top
    .full-view &,
    .wide-view &
      max-width: 170px
    .narrow-view .pane-bundle-existing-node &
      margin-left: -26px
      margin-right: -26px
      margin-top: -26px
      float: none

  // Date
  .field-name-field-date-published,
  .field-name-field-event-date
    color: $grey-6
    font-size: 14px
    margin-bottom: 1em

  // Title
  h2,
  h3
    a
      color: $red
    color: $text-black
    font-size: 26px
    font-weight: bold
    line-height: 30px
    margin-bottom: 20px
    text-transform: none

  // Hide tags labels on teasers
  .group-tags-wrapper h3
    display: none

  // Editorial Summary
  .field-name-field-editorial-summary,
  .field-name-field-body
    font-size: 18px
    margin: 12px 0
    max-width: 600px

// Event icon on landing
.page-business-insights
  .node-event.node-teaser
    .field-name-title
      &:before
        content: image_url("icon-event.png")
        display: inline
        float: left
        margin-right: 5px
        position: relative
        top: 3px

/////////////////
// EXISTING NODE
/////////////////
.pane-bundle-existing-node .view-mode-teaser
  @extend %bg-border-and-box-shadow
  .field-name-field-file-single-public,
  .field-name-field-image-single-public
    position: relative
    top: -6px

////////////
// TOP BAR
////////////
.top-bar
  background-color: $black
  position: relative
  top: 1px
  .page-business-insights &,
  .node-type-business-insight
    background-color: $red
  color: $white
  font-size: 14px
  line-height: 1em
  padding: 8px 24px
  a
    color: $white
    &:after
      color: $white
      content: "\f100"
      font-family: "arrow-double"
      font-size: 14px
      position: relative
      top: 1px
      left: 7px
