// EXISTING NODE STYLES

.panel-display.gsb-business-insights


// Teaser Content styling
.group-wrapper-teaser
  padding: 25px

  // Date
  .field-name-field-date-published
    color: $grey-6
    font-size: 14px
    margin-bottom: 20px

  // Title
  h2
    color: $red
    font-size: 26px
    margin-bottom: 20px
