//////////////////
// Faculty detail
//////////////////

// Variables
$faculty-spacing: 24px

// Extends
%faculty-headers
  color: $text-black
  font-family: $font-demi
  font-weight: normal
  line-height: 1.2
  margin: 0 0 12px 0
  padding: 0

%header-large
  @extend %faculty-headers
  font-size: 20px

%header-small
  @extend %faculty-headers
  font-size: 16px

%faculty-bullets
  ul
    margin: 0
    padding: 0
    text-indent: 0
    li
      font-size: 16px
      line-height: 1.2
      margin-bottom: 6px
      padding-left: 14px
      &:before
        content: "• "
        color: $text-blue
        float: left
        position: relative
        left: -14px
        width: 0
  a[target=_blank]
    &:after
      content: " i"
      font-family: "gsb"
      font-size: 12px
      font-weight: normal

%faculty-paragraph
  font-size: 16px
  line-height: 1.4
  margin-bottom: 18px
  &:last-of-type
    margin-bottom: 0

%faculty-link
  font-family: $font-demi
  font-size: 14px
  font-weight: normal
  line-height: 1.2
  &:after
    content: "w" !important
    font-family: "gsb"
    font-weight: normal
    font-size: 14px
    line-height: 1.1
  &[target=_blank]
    &:after
      content: " i" !important
      font-size: 12px

// Hide title on detail
.node-type-faculty
  #page-title
    display: none
    +breakpoint($bp-mobile-max)
      display: block
      font-family: $font-demi
      font-size: 28px
      font-weight: normal
      line-height: 1.2
  .group-wrapper-name
    +breakpoint($bp-mobile-max)
      display: none

// Detail page
.node-faculty.view-mode-full
  border-top: 3px solid $text-black
  padding-top: 2px
  +breakpoint($bp-mobile-max)
    border-top: 0
    padding-top: 0

  // Layout
  &.ds-2col > .group-left
    width: 270px
    +breakpoint($bp-mobile-max)
      width: 100%
    img
      display: block
    +breakpoint($bp-mobile-max)
      margin-bottom: 20px
  &.ds-2col > .group-right
    float: none
    width: auto
    padding-left: 300px
    +breakpoint($bp-mobile-max)
      float: left
      padding-left: 0

  // LEFT SIDE

  // Photo label
  .field-name-faculty-rank-academic-area
    background: $text-black
    color: $white
    margin-bottom: 20px
    padding: 14px 26px
    +breakpoint($bp-mobile-max)
      width: 270px
    p
      font-family: $font-demi
      font-size: 14px
      line-height: 1.1
      margin-bottom: 0
  // Person details block
  .group-wrapper-information
    @extend %group-wrapper-information
    > .field-group-format
      border-top: 1px solid $white
      border-bottom: 1px solid #e4e4e4
      padding-bottom: 15px
      padding-top: 15px
      &:first-of-type
        border-top: 0
        padding-top: 0
      &:last-of-type
        border-bottom: 0
        padding-bottom: 0
    .field-name-field-phone a
      .no-touch &
        color: $text-black
        font-family: $font-sans
    // Email
    .field-name-field-email
      line-height: 1.2
      a:after
        content: " o"
        font-family: "gsb-email"
        font-size: 13px
        line-height: 0

  // RIGHT SIDE
  .group-right
    > .field-group-format
      &:last-of-type
        border-bottom: 0
    // Common patterns
    h2.label-above
      @extend %header-large
    h3.label-above
      @extend %header-small
    p
      @extend %faculty-paragraph

    a
      color: $link-green
      &:hover
        color: $link-blue
    // Spacing
    .field
      margin-bottom: $faculty-spacing


  // Name
  .group-wrapper-name
    margin-top: 25px
    font-size: 28px
    font-weight: bold
    line-height: 1.2
    margin-bottom: $faculty-spacing
    span
      &:after
        content: " "

  // On Leave statement
  .field-name-field-leave-statement
    background: #f3f0eb
    color: $grey-dark
    font-style: italic
    line-height: 1.2
    margin-bottom: $faculty-spacing
    padding: 10px
    .label-inline
      font-weight: normal

  // Title and positions held
  .field-name-field-title-position-unlimited
    line-height: 1.2
    .field-item
      margin-bottom: 8px
  // Academic area
  .field-name-field-academic-area-single
    font-size: 14px
    font-weight: normal
    line-height: 1
    margin-bottom: $faculty-spacing
    padding-bottom: $faculty-spacing
    @extend %divider-bottom
    a
      color: $link-green
      &:hover
        color: $link-blue
        text-decoration: underline

  // Sections
  .group-wrapper-research,
  .group-wrapper-academic
    margin-bottom: $faculty-spacing
    @extend %divider-bottom

  // Bullets
  .field-name-field-body,
  .field-name-field-research-interests,
  .field-name-field-academic-degrees-unlimited,
  .field-name-field-academic-aptmts-unlimited,
  .field-name-field-professional-experience,
  .field-name-field-awards-honors,
  .field-name-field-teaching-materials,
  .field-name-field-conf-presentations-section,
  .field-name-field-link-video-unlimited,
  .field-name-field-link-podcast-unlimited,
  .field-name-field-stanford-gsb-affiliation,
  .field-name-field-greater-univ-aff-unlimited,
  .field-collection-item-field-service-profession-section
    @extend %faculty-bullets

  // List link style
  .field-name-field-teaching-materials a,
  .field-name-field-conf-presentations-section a,
  .field-name-field-link-video-unlimited a,
  .field-name-field-link-podcast-unlimited a
    @extend %faculty-link

  // Presentations
  .field-name-field-conf-presentations-section
    // Replace file size with pdf icon
    .field-name-field-file-conf-presentation a
      font-family: $font-sans
      &:before
        color: $black
        content: "   |   "
        display: inline
      &:after
        content: "m" !important
        @extend %doc-attached-icons

  // Videos and podcasts
  .field-name-field-link-video-unlimited,
  .field-name-field-link-podcast-unlimited
    a:after
      font-family: "gsb"
      font-size: 18px !important
      line-height: 0
  .field-name-field-link-video-unlimited
    a[target=_blank]:after
      content: " 3" !important
  .field-name-field-link-podcast-unlimited
    a[target=_blank]:after
      content: " 4" !important

  // Affiliations
  .group-wrapper-affiliation
    margin-bottom: $faculty-spacing
    h2
      @extend %header-large

  .field.field-name-field-stanford-gsb-affiliation
    margin-bottom: 16px

  .field-name-field-center-affiliations
    &:after
      content: ", "

  // Case Study, Working Paper, Book, Publications EVA
  .view-display-id-case_listing_entity_view,
  .view-display-id-entity_view_1,
  .view-display-id-publications_listing_entity_view
    margin-bottom: $faculty-spacing
    // Section title
    h2.title
      @extend %header-large
    .views-row
      margin-bottom: 6px
    // Title
    .views-field-title a,
    .views-field-title-1 a
      @extend %faculty-link
  // Authors and Publication Year
  .views-field,
  .views-field-field-body p
    font-size: 14px
    line-height: 1.1
  .views-field-field-link-document
    a:after
      content: "m" !important
      @extend %doc-attached-icons
      vertical-align: baseline

  // Authors commas
  .views-field-field-authors
    &:after
      content: "."

  // Courses
  .group-courses-taught
    // Courses header
    h2
      @extend %header-large
    // Degree header
    h2.title
      @extend %header-small
    // Date header
    h3
      font-size: 14px
      line-height: 1.2
      font-family: $font-sans
      font-weight: bold
      margin-left: 26px
      margin-bottom: 8px

    // Row indent
    .views-row
      margin-left: 26px

    // Non-degree course
    .field-name-field-non-degree-course
      // Header
      .label-above
        @extend %header-small
      // Rows
      .field-collection-item-field-non-degree-course
        margin-left: 26px
        .field
          margin-bottom: 0

      // Title
      .field-name-field-link-single a
        @extend %faculty-link
      // Description
      .field-name-field-description
        font-size: 14px
        line-height: 1.1
