#views-exposed-form-faculty-filters-faculty-list,
.facet-title-az 
  background-color: #CCC
  background: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(25%, #EDEDED), color-stop(63%, #FBFAF8))
  background: -webkit-linear-gradient(bottom, #EDEDED 25%, #FBFAF8 63%)
  background: -moz-linear-gradient(bottom, #EDEDED 25%, #FBFAF8 63%)
  background: -o-linear-gradient(bottom, #EDEDED 25%, #FBFAF8 63%)
  background: -ms-linear-gradient(bottom, #EDEDED 25%, #FBFAF8 63%)
  background: linear-gradient(bottom, #EDEDED 25%, #FBFAF8 63%)
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 2px 2px 2px, rgba(0, 0, 0, 0.1) 0 0 0 1px
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 2px 2px 2px, rgba(0, 0, 0, 0.1) 0 0 0 1px
  box-shadow: rgba(0, 0, 0, 0.1) 2px 2px 2px, rgba(0, 0, 0, 0.1) 0 0 0 1px
  border: 2px solid white
  margin-bottom: 30px
#views-exposed-form-faculty-filters-faculty-list 
  padding: 0 26px
  .form-item.form-type-select 
    margin: 0
  fieldset 
    margin: 0
    padding: 0
    float: left
    border: none
    height: auto
    max-width: 220px
    legend 
      display: block
      padding: 20px 20px 15px 26px
      border-right: 1px #ccc solid
      border-left: 1px #fff solid
      line-height: 1.15em
      min-height: 74px
  .fieldset-wrapper 
    border-right: 1px #ccc solid
    border-left: 1px #fff solid
    padding: 0 20px 20px 26px
    margin-top: -10px
  .fieldset-title 
    color: #900
    font-weight: bold
    font-size: 17px

.facet-title-az 
  overflow: hidden
  padding: 0
  height: 65px
  width: 600px
.az-facet 
  margin: 0
  padding: 0
  overflow: hidden
  position: relative
  padding-right: 65px
.scroll-left,
.scroll-right 
  width: 65px
  height: 65px
  display: block
  float: left
  background: #900
  cursor: pointer
  &:hover 
    background: #999
.scroll-left 
  margin-right: 10px
.scroll-right 
  position: absolute
  top: 0
  right: 0
.facet-title-az 
  position: relative
  li
    float: left
    list-style: none
    list-style-image: none
    padding: 0 11px
    text-align: center
    line-height: 65px
    font-size: 19px
    cursor: pointer
    color: #900
    &:hover 
      color: #000
      text-shadow: 1px 1px 0 #fff

.view-faculty-filters .views-row 
  float: left
  width: 170px
  margin-right: 30px
  word-wrap: break-word
  background: #f6f6f6
  height: 270px
  margin-bottom: 30px
  .views-field-title 
    padding: 10px 9px 2px
    color: #000
    a
      color: #900
      font-weight: bold
  .views-field-field-rank 
    padding: 0 9px

#views-exposed-form-search-faculty-panel-pane-1 .views-exposed-form 
  padding: 18px 26px 26px
  label 
    color: #2c627c
    font-weight: normal
    margin-bottom: 5px
    width: 120px
  .form-item 
    margin: 5px 0 0
    float: left
    width: 100%
    margin-right: -45px
    margin-top: 0
  .form-text 
    width: 100%
    border: none
    border: 1px #d0d0d0 solid
    background: #e4e4e4
    line-height: 1em
    height: auto
    padding: 6px 50px 6px 10px
    color: #666
    font-size: 16px
    font-family: NewsGothicBT, 'Avant Garde', Futura, 'Helvetica Neue', Helvetica, Arial, sans-serif
  .form-submit 
    float: left
    width: 45px
    height: 36px
    -webkit-border-radius: 0
    -moz-border-radius: 0
    -ms-border-radius: 0
    border-radius: 0
    border: none
    background: transparent url(../images/search-magnifying-glass.png) no-repeat center center
    text-indent: 1000px
    overflow: hidden
