///////////////////
// FACULTY SEARCH
///////////////////

// Alphabetical search
.pane-gsb-feature-faculty-display-az-list .pane-content
  @extend %bg-border-and-box-shadow
  margin-bottom: 30px

.az-facet
  margin: 0
  padding: 0
  overflow: hidden
  position: relative
  padding-right: 65px

.scroll-left,
.scroll-right
  width: 65px
  height: 65px
  display: block
  float: left
  background: #900
  &:hover
    background: #999

.scroll-left
  margin-right: 10px
.scroll-right
  position: absolute
  top: 0
  right: 0

.facet-title-az
  height: 65px
  margin: 0
  overflow: hidden
  padding: 0
  position: relative
  li
    float: left
    padding: 0 11px
    line-height: 65px
    font-size: 19px
    color: #900
    &:hover
      color: $black
      text-shadow: 1px 1px 0 $white
