// FOOTER

// Footer columns
#block-gsb-public-custom-blocks-gpcb-follow-us,
#block-menu-menu-footer-1,
#block-menu-menu-footer-2,
#block-gsb-public-custom-blocks-gpcb-enews-signup
  display: inline-block
  margin-right: 15px
  vertical-align: top
  width: 256px
  +breakpoint(1024px min-width)
    margin-right: 30px
    width: 270px
  +breakpoint($bp-tablet-port-max)
    margin-right: 16px
    width: 165px
  +breakpoint($bp-mobile-max)
    width: 100%

#block-menu-menu-footer-1,
#block-menu-menu-footer-2
  +breakpoint($bp-tablet-land-max)
    width: 100%
    max-width: 165px
  +breakpoint(601px 767px)
    max-width: 81px

#block-gsb-public-custom-blocks-gpcb-enews-signup
  margin-right: 0
  +breakpoint($bp-tablet-port-max)
    margin-bottom: 24px
  +breakpoint($bp-tablet-port)
    width: 171px

// General footer menu styles
#block-gsb-public-custom-blocks-gpcb-follow-us,
#block-menu-menu-footer-1,
#block-menu-menu-footer-2
  a
    color: $red
    display: block
    font-weight: bold
    line-height: 1.3
    max-width: 200px
    text-transform: uppercase
    &:hover
      color: $text-blue
    +breakpoint(895px max-width)
      font-size: 13px
  li
    margin-bottom: 20px
    &:last-of-type
      a
        margin-bottom: 0

#footer-wrapper
  border-top: 1px solid $white
  +background(linear-gradient(top, #f0efef, $white))

.region-footer
  padding-top: 35px
  position: relative
  top: 0

// FOLLOW US
#block-gsb-public-custom-blocks-gpcb-follow-us
  margin-right: 15px
  .cta-follow-us
    background: none
    border: none
    +box-shadow(none)
    height: auto
    padding-left: 0
    +breakpoint($bp-mobile-max)
      border-bottom: 1px $grey-c solid
      margin-bottom: 24px
    a.cta-title
      width: 270px
      background: none
      color: $red
      padding: 0
      font-size: 20px
      text-transform: none
      +breakpoint($bp-mobile-max)
        float: left
      &:after
        color: $grey-med
        font-size: 24px
      &:hover
        background: transparent
    .icon-wrapper
      border-top: 1px $grey-c solid
      padding: 27px 0 0 0
      margin-top: 38px
      +breakpoint($bp-mobile-max)
        border-top: 0
        float: right
        margin: 0
        padding: 0
        padding-bottom: 24px
    .social-block-youtube,
    .social-block-twitter,
    .social-block-facebook,
    .social-block-linkedin
      &:hover
        +breakpoint($bp-tablet-port)
          background-size: 33px 33px
    .social-block-youtube:hover
      background: image_url("icon-youtube.png") no-repeat
    .social-block-twitter:hover
      background: image_url("icon-twitter.png") no-repeat
    .social-block-facebook:hover
      background: image_url("icon-fb.png") no-repeat
    .social-block-linkedin:hover
      background: image_url("icon-linkedin.png") no-repeat
    .circle
      margin: 0 18px 0 0
      +breakpoint($bp-tablet-port-max)
        background-size: 33px 33px
        height: 33px
        margin: 0 5px
        width: 33px
        &.social-block-twitter
          margin-left: 0
        &.social-block-facebook
          margin-right: 0
#footer #block-gsb-public-custom-blocks-gpcb-follow-us
  margin-top: -5px
  .cta-title
    line-height: normal

// NEWSLETTER SIGNUP
.footer__signup__label
  color: $red
  font-weight: bold
  font-size: 16px
  margin-bottom: 3px
  line-height: 1.3

.footer__signup__description
  font-size: 15px
  line-height: 1.2
  width: 185px
  margin-bottom: 20px
  +breakpoint($bp-mobile-max)
    width: 295px

input.footer__signup__email
  border: 1px $grey-c solid
  +box-shadow(none)
  +border-radius(0)
  float: left
  height: 36px
  line-height: 1em
  width: 160px
  padding-left: 7px
  +breakpoint($bp-tablet-port)
    width: 130px
  +breakpoint($bp-mobile-max)
    width: 247px
  &:focus
    outline: none
    +box-shadow(none)
    border: 1px #900 solid

input.footer__signup__submit,
input.footer__signup__submit:hover
  margin: 0
  margin-left: -1px
  float: left
  width: 41px
  text-align: center
  line-height: 31px
  height: 36px
  background: #900
  color: $white
  border: none
  +border-radius(0 20px 20px 0)
  font-weight: bold
  font-size: 13px
  text-shadow: none

// Privacy menu
#block-menu-menu-footer-3
  float: right
  padding: 12px 0
  +breakpoint(801px max-width)
    float: none
    position: relative
    top: 24px
    +breakpoint(714px max-width)
      top: 0
    .menu
      float: right
      +breakpoint(714px max-width)
        float: none
  li
    display: inline-block
    margin-right: 44px
    +breakpoint($bp-tablet-port)
      margin-right: 18px
    +breakpoint($bp-mobile-max)
      margin-right: 25px
    a
      color: $red
      font-size: 14px

// Copyright
.gsb-copyright
  color: $grey-6
  font-size: 14px
  padding: 12px 0
  +breakpoint($bp-mobile-max)
    float: left
    padding-top: 0
