// FOOTER

// Footer columns
#block-gsb-public-custom-blocks-gpcb-follow-us,
#block-menu-menu-footer-1,
#block-menu-menu-footer-2,
#block-gsb-public-custom-blocks-gpcb-enews-signup
  display: inline-block
  margin-right: 30px
  vertical-align: top
  width: 270px
#block-menu-menu-footer-2,
#block-gsb-public-custom-blocks-gpcb-enews-signup
  margin-right: 0

// General footer menu styles
#block-gsb-public-custom-blocks-gpcb-follow-us,
#block-menu-menu-footer-1,
#block-menu-menu-footer-2
  a
    color: $red
    display: block
    font-weight: bold
    line-height: 1.3
    max-width: 200px
    text-transform: uppercase
    &:hover
      color: $text-blue
  li
    margin-bottom: 20px
    &:last-of-type
      a
        margin-bottom: 0

#footer-wrapper
  border-top: 1px solid $white
  +background(linear-gradient(top, #f0efef, $white))

.region-footer
  padding-top: 35px

// FOLLOW US
#block-gsb-public-custom-blocks-gpcb-follow-us
  .cta-follow-us
    background: none
    border: none
    +box-shadow(none)
    height: auto
    padding-left: 0
    a.cta-title
      width: 270px
      background: none
      color: $red
      padding: 0
      font-size: 20px
      text-transform: none
      &:after
        color: $grey-med
        font-size: 24px
      &:hover
        background: transparent
    .icon-wrapper
      border-top: 1px $grey-c solid
      padding: 27px 0 0 0
      margin-top: 38px

    .circle
      margin: 0 9px

    .social-block-youtube:hover
      background: image_url("icon-youtube.png") no-repeat

    .social-block-twitter:hover
      background: image_url("icon-twitter.png") no-repeat

    .social-block-facebook:hover
      background: image_url("icon-fb.png") no-repeat

    .social-block-linkedin:hover
      background: image_url("icon-linkedin.png") no-repeat


// NEWSLETTER SIGNUP
.footer__signup__label
  color: $red
  font-weight: bold
  font-size: 16px
  margin-bottom: 0

.footer__signup__description
  font-size: 15px
  line-height: 1.2
  width: 185px
  margin-bottom: 20px

input.footer__signup__email
  border: 1px $grey-c solid
  +box-shadow(none)
  +border-radius(0)
  height: 36px
  line-height: 1em
  width: 160px
  float: left
  &:focus
    outline: none
    +box-shadow(none)
    border: 1px #900 solid

input.footer__signup__submit,
input.footer__signup__submit:hover
  margin: 0
  margin-left: -1px
  float: left
  width: 41px
  text-align: center
  line-height: 31px
  height: 36px
  background: #900
  color: $white
  border: none
  +border-radius(0 20px 20px 0)
  font-weight: bold
  font-size: 13px

// Privacy menu
#block-menu-menu-footer-3
  float: right
  padding: 12px 0
  li
    display: inline-block
    margin-right: 44px
    a
      color: $red
      font-size: 14px

// Copyright
.gsb-copyright
  color: $grey-6
  font-size: 14px
  border-top: 1px $grey-c solid
  padding: 12px 0
