///////////////////////
// Featured person fpp
///////////////////////

.pane-bundle-featured-person
  @extend %bg-border-and-box-shadow
  padding: 26px
  .pane-content
    border-top: 9px solid $teal-light
    margin-top: -26px
    padding-top: 12px
  .fieldable-panels-pane
    +clearfix
  // Pane label
  .featured-person-label
    font-family: $font-demi
    font-size: 14px
    line-height: 1
    margin-bottom: 16px
  img
    float: left
    margin-right: 20px
    height: 130px
    width: 130px
    +breakpoint(999px 1210px)
      float: none
      margin-bottom: 20px
    +breakpoint($bp-mobile-480)
      float: none
      margin-bottom: 20px
    .narrow-view &
      float: none
      margin-bottom: 20px
      +breakpoint(321px 568px)
        float: left
        margin-right: 20px
        margin-bottom: 0
  // Positioning
  .group-name-wrapper,
  .group-rank-area,
  .field-name-field-body,
  .telephone,
  .email
    margin-left: 150px
    +breakpoint(999px 1210px)
      margin-left: 0
    +breakpoint($bp-mobile-480)
      margin-left: 0
    .narrow-view &
      margin-left: 0
  // Name
  .group-name-wrapper
    font-size: 20px
    font-family: $font-demi
    line-height: 1.2
    a
      color: $link-green
      font-family: $font-demi
      font-size: 20px
      line-height: 1.2
      &:hover
        color: $link-blue
      &:after
        content: "w"
        font-family: "gsb"
        font-size: 17px
        line-height: 0
  // Rank and academic area
  .group-rank-area
    font-family: $font-demi
    font-size: 20px
    line-height: 1.2
  // Text styling
  .field-name-field-body p,
  .telephone,
  .email
    font-size: 14px
    line-height: 18px
  .field-name-field-body
    margin-top: 12px
    p
      margin-bottom: 12px
  // Email link
  .email a
    color: $link-green
    &:hover
      color: $link-blue
    &:after
      content: " o"
      font-family: "gsb-email"
      font-size: 12px
      line-height: 0
