///////////////
// FRONT PAGE
///////////////

.gsb-front-page,
.front-panel-header-row
  margin-bottom: 30px
  +breakpoint($bp-tablet-port-max)
    margin-bottom: 20px

  +breakpoint($bp-mobile-max)
    margin-bottom: 0

// PROGRAM LINKS
.pane-program-links
  .cta-red-gradient a:after
    content: ""
  .cta-link
    padding: 16px 26px
    font-size: 18px
    +breakpoint($bp-tablet-port)
      padding: 13px 12px
  ul
    margin: 0
    padding: 0
  li
    line-height: 1
  li.last
    a
      margin-bottom: 0
  a
    background-color: #c60000
    +box-shadow($black, 0.45, 1px 1px 1px)
    color: $white
    display: block
    font-weight: bold
    margin-bottom: 4px
    max-height: 50px
    +breakpoint($bp-tablet-port)
      font-size: 16px
      margin-bottom: 2px
  .executive-education a
    +breakpoint(918px max-width)
      padding-top: 9px
    +breakpoint($bp-mobile-max)
      padding-top: 13px
  .all-programs a
    +breakpoint(801px max-width)
      padding-top: 9px
    +breakpoint($bp-mobile-max)
      padding-top: 13px

// Program links title
#program-links-title
  display: none
  +breakpoint($bp-mobile-max)
    color: $white
    cursor: pointer
    display: block
    font-family: $font-light
    font-size: 22px
    line-height: 1
    padding: 16px 0
    padding-left: 33px
    &:before
      color: $white
      content: "c"
      float: left
      font-family: "gsb"
      font-size: 28px
      line-height: 0
      position: relative
      top: 6px
      left: -29px

// Mobile 480 show/hide
.pane-program-links
  +breakpoint($bp-mobile-max)
    .links
      display: none
    .cta-red-gradient.open
      #program-links-title
        &:before
          content: "d"
      .links
        display: block

//////////////////////
// QUICKLINKS
// Special mobile positioning
//////////////////////
#quicklinks
  +breakpoint($bp-mobile-max)
    float: none
    margin: 0
    width: 100%
    .front &
      +background(linear-gradient($red-dark, $red-light))
      +box-shadow
      margin-bottom: 15px
      .cta-link
        background: transparent
        padding: 16px 33px
      li
        border-top: 2px solid #f10000



// TWITTER FEED
.pane-homepage-social-feed .twitter-feed
  padding: 26px
  +breakpoint($bp-mobile-max)
    +background((image_url('bg-social-feed.png') no-repeat bottom right), #c1dbd9)
  // Title
  h5
    font-size: 16px
    line-height: 1em
    +breakpoint($bp-mobile-max)
      display: inline
  .follow-us-circles
    +clearfix
    margin-bottom: 24px
    a
      display: block
      text-align: center
      float: left
      width: 41px
      height: 41px
      margin: 0 5px
      +border-radius(20px)
      background-color: #c50000
      +background(linear-gradient(bottom, #c50000 0%, #860000 100%))

      &:after
        color: $white
        font-family: 'gsb'
        font-size: 24px
        position: relative
        top: 7px
      &:hover
        background: $white !important
        filter: none
        &:after
          color: #860000

  // Tweet
  .tweet
    font-size: 14px
    line-height: 20px
    margin-top: 0

#fpp-tweets-front
  margin-top: 24px
  +breakpoint($bp-mobile-max)
    margin-top: 18px
    .tweet
      margin-bottom: 18px
      &:last-of-type
        margin-bottom: 0


// UPCOMING EVENTS
.pane-gsb-event-frontpage
  @extend %border-and-box-shadow
  background: image_url("bg-homepage-events.png") no-repeat
  height: 397px
  padding: 26px
  +breakpoint($bp-tablet-port-max)
    background: image_url("bg-homepage-events-wide.png") no-repeat
    height: 199px
    margin-right: 4px
  +breakpoint($bp-mobile-max)
    background: image_url("bg-homepage-events-narrow.png") no-repeat
    max-height: 256px
    height: auto
    max-width: 450px
  .view-gsb-event .view-content .views-row
    border-bottom: 0
  h2.pane-title
    color: $red
    font-size: 16px
    font-weight: bold
    line-height: 1
    margin-bottom: 28px
  ul
    margin: 0
    padding: 0
    list-style: none
    li
      margin-bottom: 10px
      margin-left: 0
  .views-field-field-event-date,
  .views-field-title,
  .views-field-field-address
    color: $text-black
    font-size: 16px
    +breakpoint($bp-tablet-port-max)
      & > div
        display: inline
  .views-field-title a
    border: 0
    font-weight: bold
    &:hover
      border: 0
  .views-field-field-event-date
    color: $grey-6
  .views-field-field-address
    +breakpoint($bp-tablet-port-max)
      &:after
        content: " - "

// BOTTOM
#bottom
  +clearfix
  background-color: $white
  padding-top: 30px
  .block-block
    vertical-align: top
    p
      font-size: 16px
      +breakpoint($bp-mobile-max)
        line-height: 20px

  // BOTTOM TITLES
  h2
    border-bottom: 1px solid #e5e5e5
    color: $text-black
    line-height: 1em
    margin-bottom: 12px
    padding-bottom: 12px
    font-family: $font-headline
    font-size: 20px
    font-weight: bold
    a
      color: $red
      &:after
        color: $grey-med
        content: "\f100"
        font-family: "arrow-double"
        font-size: 24px
        font-weight: normal
        position: relative
        left: 12px
  article
    +float-left
    margin-right: 30px
    width: 270px
    +breakpoint($bp-mobile-max)
      width: 100%
    &:nth-of-type(3n)
      clear: both
    &:nth-of-type(2n),
    &:last-of-type
      margin-right: 0
    h3
      font-size: 16px
      font-weight: bold
      line-height: 20px
      margin-bottom: 2px
    .author
      font-size: 14px
      color: $text-grey-light
      line-height: 18px
    p
      .date
        color: $grey-6
        font-size: 16px
        &:after
          content: "|"
          margin-right: 5px
          margin-left: 5px
