///////////////
// FRONT PAGE
///////////////


// SOCIAL PANE
.social-block-content-feed-name
  clear: both
  margin: 0
  padding: 0
  padding-top: 20px
  p
    margin: 0
    color: $red

.social-block-content-feed-name-school
  font-weight: bold

.social-block-content-item
  clear: both
  margin: 0
  padding: 0
  padding-top: 20px
  font-size: 18px
  p
    margin: 0
    padding: 0
    font-size: 17px

.social-block-content-item-text
  margin-bottom: 10px

.social-block-content-item-date
  float: left
  margin-right: 10px
  padding-right: 10px
  border-right: 1px solid
  font-size: 13px

.social-block-content-item-elapsed
  float: left
  font-size: 13px


// FOOTER
.front-panel-footer-row
  background-color: $white
  margin-top: 30px
  padding-top: 30px


// FOOTER TITLES
.pane-business-insights-by-tag-panel-pane-1 h2.pane-title,
.front-panel-footer-row .pane-bundle-text .field-name-field-title
  border-bottom: 1px solid #e5e5e5
  color: $text-black
  line-height: 1em
  margin-bottom: 12px
  padding-bottom: 12px

// LATEST ARTICLES
.pane-business-insights-by-tag-panel-pane-1
  h2.pane-title
    font-family: $font-headline
    font-size: 20px
    font-weight: bold
  .homepage-latest-articles
    margin-top: 0
    border-top: 0

// ALUMNI NEWS
.front-panel-footer-two
  h2
    margin: 0
    margin-bottom: 10px
    padding-bottom: 10px
    border-bottom: 1px solid #cdcdcd
    color: $red
    font-weight: bold
    font-size: 20px
  p, .field-content
    font-size: 15px
  .views-field-title a
    color: $black
    font-size: 16px
    font-weight: bold
  .views-field-field-date-published .date-display-single
    color: #666
    font-size: 13px
  .views-row
    float: left
    clear: none
    width: 47%
  .views-row-1, .views-row-3
    margin-right: 6%
