///////////////
// FRONT PAGE
///////////////


// SOCIAL PANE
.social-block-content-feed-name
  clear: both
  margin: 0
  padding: 0
  padding-top: 20px
  p
    margin: 0
    color: $red

.social-block-content-feed-name-school
  font-weight: bold

.social-block-content-item
  clear: both
  margin: 0
  padding: 0
  padding-top: 20px
  font-size: 18px
  p
    margin: 0
    padding: 0
    font-size: 17px

.social-block-content-item-text
  margin-bottom: 10px

.social-block-content-item-date
  float: left
  margin-right: 10px
  padding-right: 10px
  border-right: 1px solid
  font-size: 13px

.social-block-content-item-elapsed
  float: left
  font-size: 13px

// UPCOMING EVENTS
.pane-gsb-event-frontpage
  padding: 26px
  @extend %box-shadow
  background: image_url("bg-homepage-events.png") no-repeat
  height: 402px
  .view-gsb-event .view-content .views-row
    border-bottom: 0
  h2.pane-title
    color: $red
    font-size: 16px
    font-weight: bold
    line-height: 1
    margin-bottom: 28px
  ul
    margin: 0
    padding: 0
    list-style: none
    li
      margin-bottom: 10px
      margin-left: 0
  .views-field-field-event-date,
  .views-field-title,
  .views-field-field-address
    color: $text-black
    font-size: 16px
  .views-field-title a
    border: 0
    color: $black
    font-weight: bold
    &:hover
      border: 0
  .views-field-field-event-date
    color: $grey-6

// FOOTER
.front-panel-footer-row
  background-color: $white
  margin-top: 30px
  padding-top: 30px

// FOOTER TITLES
.pane-business-insights-by-tag-panel-pane-1 h2.pane-title,
.front-panel-footer-row .pane-bundle-text .field-name-field-title
  border-bottom: 1px solid #e5e5e5
  color: $text-black
  line-height: 1em
  margin-bottom: 12px
  padding-bottom: 12px

// LATEST ARTICLES
.pane-business-insights-by-tag-panel-pane-1 h2.pane-title
  font-family: $font-headline
  font-size: 20px
  font-weight: bold

.homepage-latest-articles
  margin-top: 0
  border-top: 0
  .views-row
    max-width: 270px
    margin-bottom: 27px
  .views-row-odd
    float: left
  .views-row-even
    float: right
  // Title
  .views-field-title
    font-size: 16px
    font-weight: bold
  // Date
  .views-field-field-date-published
    color: $grey-6
    font-size: 16px

