/////////////////
// Google search page results elements.
/////////////////

.google-appliance-pager
  ul.pager
    li
      margin: 0 3px
      padding: 0 3px
      &.pager-last, &.pager-first
        display: none