/////////////////
// Google search page results elements.
/////////////////

.page-gsearch
  .search-results .title a,
  .google-appliance-pager a
    color: $text-green
    &:hover
      color: $text-blue
  .google-appliance-results-control-bar
    clear: left

.google-appliance-pager
  margin-bottom: 20px
  .pager li
    margin: 0
    padding: 0 3px
    &.pager-item,
    &.pager-current,
    &.pager-ellipsis
      +breakpoint($bp-mobile-max)
        display: none
    &.first
      padding-left: 0
    &.pager-next
      padding-right: 0
    &.pager-last, &.pager-first
      display: none
    &.pager-ellipsis
      padding: 0

    +breakpoint($bp-tablet-port-max)
      font-size: 1.5em
      line-height: 2
      padding: 0 1em

ol.search-results
  +breakpoint($bp-mobile-max)
    padding: 0
