/////////////////
// Responsive grid module
/////////////////

.views-responsive-grid
  &.views-columns-3
    > div
      display: block
      +clearfix
      margin-bottom: 30px
      > div
        display: inline-block
        float: left
        width: 31.333333333%
        //min-width: 270px /*Fix WP-1419
        margin-right: 3%

        &.views-column-last
          margin-right: 0
  &.views-columns-5
    > div
      display: block
      +clearfix
      margin-bottom: 38px    
      > div
        display: inline-block 
        float: left
        width: 18.6%
        //min-width: 170px
        margin-right: 1.75%   
        
        
        &.views-column-last
          margin-right: 0 