// Styling for Event Detail Page

// @TODO preprocess this out in template.php
.node-type-gsb-event #page-title
  display: none

.node-gsb-event.view-mode-full
  padding-top: 0
  padding-left: 0
  a
    border-bottom: 0
  .group-left
    padding-top: 30px
    h1
      font-family: "newsgothicbt-bold", sans-serif
    .field-name-field-event-date
      font-family: "newsgothicbt-bold", sans-serif
      font-size: 18px
  .group-right
    max-width: 270px
    text-align: right
  .group-footer
    border-top: 1px solid #ccc
    padding: 30px 0
    .field-name-field-editorial-summary
      font-family: "newsgothicbt-bold", sans-serif
      font-size: 18px
    .field-type-taxonomy-term-reference a
      color: #990000
    .field-name-field-body p
      line-height: 28px
