// Styling for Event Detail Page

// Hide event title
.node-type-event #page-title
  display: none

.node-event.view-mode-full
  border-top: 3px solid $black
  padding-top: 0
  padding-left: 0
  a
    border-bottom: 0
  .group-left
    padding-top: 30px
    width: auto
    h2
      font-weight: bold

    // Event Date
    .field-name-field-event-date
      font-weight: bold
      font-size: 18px
      margin-bottom: 20px

    // Title
    .field-name-title
      margin-bottom: 25px

    // Speaker name(s)
    .field-name-field-person-or-other
      display: none

    .field-name-field-person-fac-other
      margin-bottom: 25px
      position: relative
      top: 0
      +clearfix
    .field-collection-item-field-person-fac-other,
    .separator
      +float-left
      line-height: 24px
      a
        color: $green-light
    .separator,
    .name-first
      margin-right: 5px
    .name-first,
    .name-last,
    .speaker-name a
      font-size: 22px

    // Address
    .field-name-field-address
      .thoroughfare
        font-weight: bold

    // Map Link
    .field-name-field-link-map
      margin-bottom: 30px
      a
        color: $green
        font-weight: bold

    // Buttons
    .group-wrapper-buttons
      line-height: 36px
      margin: 35px 0
    .event-register-link,
    .event-ical-link
      display: inline
    // Register Link
    .event-register-link
      a
        @extend %green-button
    .event-ical-link
      margin: 0 14px

  .group-right
    max-width: 270px
  .field-name-field-image-single-public
    margin-bottom: 35px
  .field-name-field-target-audience
    font-size: 14px
    max-width: 225px

  .group-footer
    border-top: 1px solid $grey-c
    padding: 30px 0
    .field-name-field-editorial-summary,
    .field-name-field-body p
      font-size: 18px
      line-height: 28px
