// spotlights

.pane-bundle-spotlight
  @extend %border-and-box-shadow
  position: relative
  .group_content_wrapper
    padding: 26px
  .spotlight-border
    position: absolute
    top: 0
    left: 25px
    display: block
    width: 95px
    height: 10px
    background: $red
  .field-name-field-spotlight-person-type
    float: left
    margin-bottom: 5px
    color: #666
    font-size: 14px
    line-height: 1em
    div
      float: right
      padding-left: 5px
  .field-name-field-file-single-public,
  .field-name-field-use-profile-img
    clear: both
    margin-bottom: 10px
  .field-name-field-first-name,
  .field-name-field-last-name
    font-size: 20px
    font-weight: bold
    display: inline
    padding-right: 4px
    color: $red
  .field-name-field-title-position-single,
  .field-name-field-year
    font-weight: bold
    margin: 0 0 4px
    font-size: 20px
    line-height: 1.2em
  .field-name-field-year
    margin-top: 3px 
  .field-name-field-body
    margin: 0
    color: #555
    overflow: hidden
    max-height: 72px
    p
      margin-bottom: 0
      font-size: 14px
      line-height: 18px
  .show-more
    display: block
    margin-top: 8px
    border: 0
    font-weight: 500
    line-height: 1em
    margin: 7px 0 0 0
    color: $green-light
    cursor: pointer
    span
      font-size: 14px 
      padding-left: 16px
      background: image_url('spotlight-arrow.png') no-repeat 0 2px
    &:hover span
      background-position: 0 -13px
    &.active
      span
        background: image_url('spotlight-arrow-reversed.png') no-repeat -1px -13px
      &:hover span
        background-position: 0 2px

  .field-name-field-gsb-spotlight-image-video
    overflow: hidden

