// Styling for the Calendar and Events Listing pages

// Lay out the filters with calendar
.page-events .pane-content
  .view-gsb-event
    .view-content
      display: inline-block
      width: 74.4%
      float: right
    .view-filters
      @extend %black-border-top
      background-color: $grey-f
      display: inline-block
      vertical-align: top
      width: 20%
      padding: 24px
      label
        font-size: 16px
        font-weight: normal
    .views-exposed-widget
      border-bottom: 1px solid $grey-c
      padding: 0
      margin-bottom: 20px
    .views-widget label.option
      font-size: 13px
      font-weight: bold
      text-transform: uppercase

  // Event teaser styling
.view-gsb-event
  .node-event.node-teaser
    border-top: 1px $text-grey solid
    padding: 24px
    +clearfix
    // Image position
    .field-name-field-image-single-public
      float: right
    // Date styling
    .field-name-field-event-date
      color: $black
      font-size: 18px
      margin-left: -24px
      font-weight: bold
    // Title
    .view-mode-teaser h2,
    .view-mode-teaser h2 a
      margin-bottom: 16px
    .field-name-field-address,
    .field-name-field-editorial-summary
      margin-bottom: 16px
    // Address
    .locality-block
      font-size: 14px
      font-weight: bold
    .locality
      &:after
        content: ","
    .street-block,
    .postal-code,
    .country
      display: none


// Calendar page
// .page-events-calendar
