// Styling for Event Detail Page

// @TODO preprocess this out in template.php
.node-event #page-title
  display: none

.node-event.view-mode-full
  padding-top: 0
  padding-left: 0
  a
    border-bottom: 0
  .group-left
    padding-top: 30px
    h1
      font-weight: bold
    .field-name-field-event-date
      font-weight: bold
      font-size: 18px
      margin-bottom: 20px
  .group-right
    max-width: 270px
    text-align: right
  .group-footer
    border-top: 1px solid $grey-c
    padding: 30px 0
    .field-type-taxonomy-term-reference
      display: inline
      a
        color: $red
        font-size: 14px
    .field-name-field-editorial-summary,
    .field-name-field-body p
      font-size: 18px
      line-height: 28px
  .group-event-wrapper
    h3
      color: $grey-8
      display: inline-block
      float: left
      font-size: 14px
      font-weight: normal
      line-height: 26px
      margin-right: 5px
      text-transform: none
