///////////////////
// SPOTLIGHT FPP
///////////////////

.pane-bundle-spotlight
  @extend %border-and-box-shadow
  position: relative
  padding: 0 26px
  .spotlight-border
    position: absolute
    top: 0
    left: 25px
    display: block
    width: 95px
    height: 10px
    background: $red
  .feature-spotlight-label
    border-top: 10px solid $red
    color: $text-grey
    font-size: 14px
    display: inline-block
    line-height: 18px
    margin-bottom: 18px
    padding-top: 5px

  // Name styling
  .group-name-wrapper
    margin: 12px 0
    .field
      +float-left
      color: $red
      font-size: 20px
      font-weight: bold
      line-height: 26px
      margin-right: 5px
  .field-name-field-first-name,
  .field-name-field-last-name
    color: $black
    display: inline
    font-size: 20px
    font-weight: bold
    padding-right: 4px
    a
      color: $red

  // Image styling
  .field-name-field-spotlight-person-fid,
  .field-name-field-use-profile-img,
  .field-name-field-file-single-public
    clear: both
    margin-bottom: 10px
    .field-items
      +float-left
    img,
    .gsb-responsive-main
      margin-right: 18px

  .field-name-field-sections
    display: none


  // Title, program and year
  .field-name-field-title-position-single,
  .field-name-field-program-single,
  .spotlight-year
    font-size: 20px
    font-weight: bold
    line-height: 26px

  .field-name-field-program-single
    display: inline
    &:after
      content: ", "

  .field-name-field-body
    margin: 12px 0
    overflow: hidden
    p
      color: $grey-5
      font-size: 14px
      line-height: 18px
      margin-bottom: 0
  .show-more
    border: 0
    color: $green-light
    cursor: pointer
    display: block
    font-weight: 500
    line-height: 1em
    margin: 7px 0 0 0

    span
      font-size: 14px
      padding-left: 16px
      background: image_url('spotlight-arrow.png') no-repeat 0 2px
    &:hover span
      background-position: 0 -13px
    &.active
      span
        background: image_url('spotlight-arrow-reversed.png') no-repeat -1px -13px
      &:hover span
        background-position: 0 2px

  .field-name-field-gsb-spotlight-image-video
    overflow: hidden

// Clearfixes in Sidebar
.inner-sidebar-wrapper
  .pane-bundle-spotlight
    .group-name-wrapper
      +pie-clearfix
    .group-name-wrapper,
    .field-name-field-body,
    .field-name-field-title-position-single
      clear: both
    .field-name-field-body
      max-height: 72px

// Clearfixes in main
.main-wrapper .pane-bundle-spotlight
  .group-name-wrapper
    +clearfix
