// Styling for the Calendar and Events Listing pages

// Event menu link
.event-and-search
  float: right
  position: relative
  right: 2px

.page-events
  .form-item label
    display: inline

// Layout the filters with calendar
.page-events
  .view-gsb-event
    .view-filters
      display: inline-block
    .view-content
      display: inline-block
      max-width: 958px
      width: 79%
    .view-filters
      vertical-align: top
      width: 20%
    .views-exposed-widget
      padding: 0
      margin-bottom: 20px
  .node-gsb-event.node-teaser
    border-top: 1px $text-grey solid
    padding: 24px
    .group-left
      width: 79%
    .group-right
      float: right
      width: auto
    .group-left a
      border-bottom: 0
      color: $red
    .group-right .field-type-image
      text-align: right
    .group-left
      .field-name-field-address, .field-name-field-editorial-summary
        margin-bottom: 18px
      .field-type-taxonomy-term-reference
        display: inline-block
        float: left
        font-size: 12px
        margin-right: 5px
