///////////////////
// House Ads
///////////////////

.pane-bundle-house-ads
  @extend %bg-border-and-box-shadow
  padding: 26px

  //COLOR STYLES
  &.taupe
    +background(linear-gradient(#faf5ec, #dcd6ca))
  &.grey
    +background(linear-gradient(#e9eff3, #cbd2d6))

  // Image
  .field-name-field-image-single-public
    margin-bottom: 12px
    > img
      vertical-align: top

  // Title
  .field-name-field-link-single a
    font-weight: bold
    font-size: 20px
    color: $text-black
    &:after
      content: "w"
      color: $text-green
      display: inline-block
      font-family: "gsb"
      font-size: 20px
      font-weight: normal
      line-height: 1
      margin-left: 2px
      margin-top: -5px
    &:hover
      color: $text-blue
      &:after
        color: $text-blue

  // Description
  .field-name-field-body
    margin: 12px 0
    overflow: hidden
    p
      font-size: 16px
      line-height: 1.2
      margin-bottom: 0

  // Show more
  .show-more
    @extend %show-more-button

// Side view styling
.wide-view
  .pane-bundle-house-ads
    +clearfix
    .field-name-field-image-single-public
      float: left
      margin-right: 26px

// Narrow view styling
.narrow-view
  .pane-bundle-house-ads
    padding: 0 0 26px 0
    .field-name-field-link-single,
    .field-name-field-body
      padding: 0 26px
    .field-name-field-image-single-public,
    .field-name-field-link-single,
    .field-name-field-body
      clear: both
      +breakpoint($bp-mobile-max)
        clear: none
    .show-more
      padding-right: 26px

//////////////////////
// Responsive
//////////////////////
.wide-view,
.narrow-view
  .pane-bundle-house-ads
    +breakpoint($bp-mobile-480)
      .field-name-field-body,
      .field-name-field-link-single
        clear: both
      .field-name-field-image-single-public
        margin-right: 0

// Image has padding
.wide-view
  .pane-bundle-house-ads
    +breakpoint($bp-tablet-port-max)
      .field-name-field-link-single,
      .field-name-field-body
        clear: both
    +breakpoint($bp-mobile-max)
      .field-name-field-link-single,
      .field-name-field-body
        clear: both

// Image fills container width
.narrow-view
  .pane-bundle-house-ads
    +breakpoint($bp-mobile-max)
      .field-name-field-image-single-public
        padding: 26px 26px 0 26px
      .field-name-field-link-single,
      .field-name-field-body
        clear: both
    +breakpoint($bp-mobile)
      width: 270px
      .field-name-field-image-single-public
        margin: -26px -26px 12px -26px
