///////////////////
// House ads
///////////////////

.pane-bundle-house-ads
  @extend %bg-border-and-box-shadow
  position: relative
  padding: 26px
  > div
    +clearfix
    
  //COLOR STYLES
  &.white
    .field-name-field-link-single a
      color: $text-green
      &:hover
        color: #2d6280
        &:after
          color: #2d6280 
      
      &:after
        color: $text-green 
    .show-more
      color: #7d8401
      span
        &:before
          color: #bac405
      &:hover
        color: #2d6280
        span 
          &:before
            color: #2d6280               
  &.taupe
    background: $grey-dark

  //&.white
  &.grey
    background: $text-black

  &.grey,
  &.taupe
    background-image: none
    .field-name-field-body
      p
        color: $white   
    .show-more
      color: $white
      &:hover
        color: #63acd5

  .field-name-field-image-single-public
    float: left
    margin-right: 26px
    width: 218px
    > img
      vertical-align: top


  .field-name-field-link-single a
    font-weight: bold
    font-size: 20px
    color: $white
    &:hover
      color: #63acd5
      &:after
        color: #63acd5
    &:after
      content: "w"
      color: $white
      font-family: "gsb"
      font-size: 24px
      font-weight: normal
      margin-left: 6px
      line-height: 1
      position: relative
      top: 1px
      display: inline-block
      margin-top: -5px

  .field-name-field-body
    font-size: 14px
    margin: 12px 0
    overflow: hidden
    p
      color: $grey-5
      font-size: 14px
      line-height: 18px
      margin-bottom: 0
  .show-more
    @extend .show-more-button


// Clearfixes in narrow
.narrow-view
  .pane-bundle-house-ads
    padding-top: 0
    +breakpoint($bp-mobile-max)
      padding-top: 26px
    > div
      overflow: visible
  .field-name-field-link-single,
  .field-name-field-image-single-public,
  .field-name-field-body
    clear: both
    +breakpoint($bp-mobile-max)
      clear: none
  .field-name-field-image-single-public
    margin: 0 -26px 20px -26px
    width: auto
    +breakpoint($bp-mobile-max)
      float: left
      margin: 0
      margin-right: 26px
      width: 218px
    img
      width: 100%

//////////////////////
// Responsive changes
//////////////////////
.full-view,
.wide-view,
.narrow-view
  .pane-bundle-house-ads
    +breakpoint($bp-mobile-480)
      .field-name-field-body,
      .field-name-field-link-single
        clear: both
    .field-name-field-image-single-public
      +breakpoint($bp-mobile)
        margin-right: 0
        width: auto

.wide-view
  .pane-bundle-house-ads
    +breakpoint($bp-tablet-port-max)
      .field-name-field-link-single,
      .field-name-field-body
        clear: both
    +breakpoint($bp-mobile-max)
      .field-name-field-link-single,
      .field-name-field-body
        clear: none
    +breakpoint($bp-mobile-480)
      .field-name-field-link-single,
      .field-name-field-body
        clear: both
