///////////////////
// House ads
///////////////////

.pane-bundle-house-ads
  @extend %bg-border-and-box-shadow
  position: relative
  padding: 26px
  > div
    +clearfix
    
  //COLOR STYLES
  &.white
    .field-name-field-link-single a
      color: $text-green  
      &:after
        color: $text-green 
  &.taupe
    background: $grey-dark

  //&.white
  &.grey
    background: $text-black

  &.grey,
  &.taupe
    background-image: none
    .field-name-field-body
      p
        color: $white   
    .show-more
      color: $white

  .field-name-field-image-single-public
    float: left
    margin-right: 26px
    width: 218px
    > img
      vertical-align: top


  .field-name-field-link-single a
    font-weight: bold
    font-size: 20px
    color: $white
    &:after
      content: "\f100"
      color: $white
      font-family: "arrow-double"
      font-size: 26px
      font-weight: normal
      margin-left: 6px
      line-height: 1
      position: relative
      top: 2px
      display: inline-block
      margin-top: -5px
    
  
  // Title, program and year
  .field-name-field-title-position-single,
  .field-name-field-program-single,
  .spotlight-year
    font-size: 20px
    font-weight: bold
    line-height: 26px

  .field-name-field-program-single
    display: inline
    margin-right: 0.3em

  .field-name-field-body
    font-size: 14px
    margin: 12px 0
    overflow: hidden
    p
      color: $grey-5
      font-size: 14px
      line-height: 18px
      margin-bottom: 0
  .show-more
    @extend .show-more-button

  .field-name-field-gsb-spotlight-image-video
    overflow: hidden


// Clearfixes in narrow and faked for middle when there is a sidebar
.sidebar-first .middle-view,
.narrow-view
  .pane-bundle-house-ads
    padding-top: 0
    > div
      overflow: visible 
  .field-name-field-link-single
    display: inline-block
    margin-top: 10px 
  .field-name-field-image-single-public
    margin: 0 -26px 0 -26px
    width: auto