/////////////
// Library
/////////////

// Today's Hour Block

.pane-agenda-2
  @extend %bg-border-and-box-shadow
  position: relative
  padding: 20px 24px 24px 24px
  .pane-title
    font-size: 20px
    font-weight: bold
    line-height: 1.2
    color: $text-black 
    font-family: $font-sans
  .pane-content
    .agenda-block
      p
        display: none
      ol
        margin: 0
        li      
          background: none
          padding: 10px 0px 0px 0px 
          .calendar_title
            font-size: 18px
            font-weight: normal
            line-height: 1.2
            color: $text-black
            &:before
              content: "!"
              color: $grey-dark
              font-family: "gsb-clock"
              font-weight: normal
              font-size: 28px
              margin-right: 4px
              vertical-align: middle
      .moreinfo
        display: none	  
    a
      @extend %teal-cta
      margin-top: 7px

	  
// Library FAQ's Block

.pane-library-faq-form
  @extend %bg-border-and-box-shadow
  position: relative
  padding: 26px
  .pane-title
    font-size: 24px
    font-weight: bold
    line-height: 1.2
    color: $text-black 
    font-family: $font-sans
  .pane-content
    //Search Field
    .hidden
      width: 82%
      float: left
      margin-right: 0px
      padding-right: 36px
      height: 36px
    // Search Button
    .submit
      float: left
      text-indent: 1000px
      -webkit-border-radius: 0
      -moz-border-radius: 0
      -ms-border-radius: 0
      border-radius: 0
      border-top-right-radius: 50%
      border-bottom-right-radius: 50%
      border: none
      width: 36px
      height: 36px
      .svg &
        +background(image_url("search-white.svg") no-repeat 60% 47%, $red)
        background-size: 60px
        &:hover
          +background(image_url("search-white.svg") no-repeat 60% 47%, $link-blue)
          background-size: 60px
      .no-js &, .no-svg &
        +background(image_url("search-white.png") no-repeat 11px 11px, $red)
        &:hover
          +background(image_url("search-white.png") no-repeat 11px 11px, $link-blue)

		  
.narrow-view
  .pane-library-faq-form
    .pane-content
      margin-bottom: 32px
      .search_text
        font-size: 18px
        line-height: 1.2
        font-weight: normal 
        padding: 12px 0px
      .hidden	
        font-size: 14px
.wide-view
  .pane-library-faq-form
    .pane-content
      margin-bottom: 36px
      .search_text
        font-size: 20px
        line-height: 1.2
        font-weight: normal 
        padding: 14px 0px

		
// Chat with Librarian Block

.pane-library-chat-form
  @extend %bg-border-and-box-shadow
  position: relative
  padding: 26px
  width: 50%
  .pane-title
    font-size: 20px
    font-weight: bold
    color: $text-black 
    margin-left: 3px
    &:before
      content: ":"
      color: #aac5c0
      font-family: "gsb-chat"
      font-weight: bold
      font-size: 52px
      margin-right: 2px
      vertical-align: top
  .pane-content
    .libraryh3lp iframe
      width: 230px !important
    .helptext
      font-size: 14px
      font-weight: normal
      margin-left: 8px
  
  