/////////////
// Library
/////////////

// Submit Buttom used in Library Forms
.pane-library-faq-form,
.pane-library-searchworks-form
  input[type=text]
    border-color: #d3d3d3
  .submit
    float: left
    text-indent: 1000px
    -webkit-border-radius: 0
    -moz-border-radius: 0
    -ms-border-radius: 0
    border-radius: 0
    border-top-right-radius: 50%
    border-bottom-right-radius: 50%
    border: none
    width: 36px
    height: 36px
    .svg &
      +background(image_url("search-white.svg") no-repeat 60% 47%, $red)
      background-size: 60px
      &:hover
        +background(image_url("search-white.svg") no-repeat 60% 47%, $link-blue)
        background-size: 60px
    .no-js &, .no-svg &
      +background(image_url("search-white.png") no-repeat 11px 11px, $red)
      &:hover
        +background(image_url("search-white.png") no-repeat 11px 11px, $link-blue)

// Today's Hour Block

.pane-agenda-2
  @extend %bg-border-and-box-shadow
  position: relative
  padding: 20px 24px 24px 24px
  .pane-title
    font-size: 20px
    font-weight: bold
    line-height: 1.2
    color: $text-black
    font-family: $font-sans
  .pane-content
    .agenda-block
      p
        display: none
      ol
        margin: 0
        li
          background: none
          padding: 10px 0 0 0
          .calendar_title
            font-size: 18px
            font-weight: normal
            line-height: 1.2
            color: $text-black
            &:before
              content: "!"
              color: $grey-dark
              font-family: "gsb-clock"
              font-weight: normal
              font-size: 28px
              margin-right: 4px
              vertical-align: middle
      .moreinfo
        display: none
    a
      @extend %teal-cta
      margin-top: 7px


// Library FAQ's Block

.pane-library-faq-form
  @extend %bg-border-and-box-shadow
  position: relative
  padding: 26px
  +breakpoint($bp-mobile-max)
    height: 194px
  .pane-title
    font-size: 24px
    font-weight: bold
    line-height: 1.2
    color: $text-black
    font-family: $font-sans
  .pane-content
    //Search Field
    .hidden
      width: 82%
      float: left
      margin-right: 0
      padding-right: 36px
      height: 36px

.narrow-view
  .pane-library-faq-form
    .pane-content
      margin-bottom: 32px
      .search_text
        font-size: 18px
        line-height: 1.2
        font-weight: normal
        padding: 12px 0
      .hidden
        font-size: 14px
.wide-view
  .pane-library-faq-form
    .pane-content
      margin-bottom: 36px
      .search_text
        font-size: 20px
        line-height: 1.2
        font-weight: normal
        padding: 14px 0


// Chat with Librarian Block

.pane-library-chat-form
  @extend %bg-border-and-box-shadow
  position: relative
  .pane-title
    font-size: 20px
    font-weight: bold
    color: $text-black
    margin-left: 3px
    &:before
      content: ":"
      color: #aac5c0
      font-family: "gsb-chat"
      font-weight: bold
      font-size: 52px
      margin-right: 2px
      vertical-align: top
  .pane-content
    .libraryh3lp iframe
      width: 230px !important
    .helptext
      font-size: 14px
      font-weight: normal
      margin-left: 8px

.wide-view
  .pane-library-chat-form
    width: 50%
    padding: 26px
.narrow-view
  .pane-library-chat-form
    padding: 22px
    .pane-content
      .libraryh3lp iframe
        width: 220px !important


// Library Blog

.pane-rss-feed-rss-feed
  @extend %bg-border-and-box-shadow
  position: relative
  padding:  2px 22px 22px 22px
  .pager
    display: none
  .pane-title
    font-size: 14px
    font-weight: normal
    color: $red
    &:after
      color: $grey-dark
      content: "w"
      font-family: "gsb"
      font-size: 14px
      line-height: 0
      margin-left: 2px
  .view-rss-feed
    .views-field-text
      a
        font-size: 20px
        font-family: $font-demi
        color: $text-black
        &:after
          color: $text-green
          content: "w"
          font-family: "gsb"
          font-size: 20px
          line-height: 0
          margin-left: 5px
        &:hover
          color: $text-blue
          &:after
            color: $text-blue

    .views-field-text
      span
        font-size: 16px
        font-weight: normal
      margin-top: 6px


// Library Search Works Block

.pane-library-searchworks-form
  .pane-title
    font-size: 24px
    font-family: $font-demi
    color: $text-black
    margin-bottom: 30px
  .tabbed_box
    margin: 0 auto
    .tabbed_area
      ul.searchworks-tabs
        margin: 0
        padding: 0
        position: relative
        top: -10px
      li
        list-style: none
        display: inline
        a
          +background(linear-gradient(#f8f6f6, #ededed))
          border: 1px solid #e4e4e4
          border-bottom: 0
          font-size: 14px
          font-weight: normal
          padding: 14px 26px
          &.active
            background: #fbfaf8
            border: 1px solid rgba($black, 0.1)
            border-bottom: 0
            color: $text-black
            padding-bottom: 15px

  // Tab panes
  .searchworks-content
    @extend %bg-border-and-box-shadow
    border: 0
    padding: 26px
    height: 102px
    +breakpoint($bp-mobile-max)
      height: 130px
    select
      float: left
    .searchworks-search
      float: left
      margin-right: 0
      height: 36px
      +breakpoint($bp-mobile-max)
        width: 82%
        margin-top: 12px
      +breakpoint($bp-tablet-port)
        width: 324px
      +breakpoint($bp-tablet-land-min)
        width: 284px
    .searchworks-ejournal
      float: left
      margin-right: 0
      padding-right: 36px
      height: 36px
      margin-left: 16px
      +breakpoint($bp-mobile-max)
        width: 184px
        margin-left: 0
      +breakpoint($bp-tablet-port)
        width: 140px
        margin-left: 4px
      +breakpoint($bp-tablet-land-min)
        width: 107px
        margin-left: 4px

  #content_1
    +breakpoint($bp-mobile-max)
      .submit
        margin-top: 12px

  #content_2
    display: none
