/////////////
// Library
/////////////

// Submit Buttom used in Library Forms
.pane-library-faq-form,
.pane-library-searchworks-form
  input[type=text]
    border-color: #d3d3d3
  .submit
    float: left
    text-indent: 1000px
    -webkit-border-radius: 0
    -moz-border-radius: 0
    -ms-border-radius: 0
    border-radius: 0
    border-top-right-radius: 50%
    border-bottom-right-radius: 50%
    border: none
    width: 36px
    height: 36px
    .svg &
      +background(image_url("search-white.svg") no-repeat 60% 47%, $red)
      background-size: 60px
      &:hover
        +background(image_url("search-white.svg") no-repeat 60% 47%, $link-blue)
        background-size: 60px
    .no-js &, .no-svg &
      +background(image_url("search-white.png") no-repeat 11px 11px, $red)
      &:hover
        +background(image_url("search-white.png") no-repeat 11px 11px, $link-blue)

// Today's Hour Block
.pane-agenda-2
  @extend %bg-border-and-box-shadow
  position: relative
  padding: $standard-padding
  padding-top: 20px
  .pane-title
    font-size: 20px
    font-weight: bold
    line-height: 1.2
    color: $text-black
    font-family: $font-sans
  .pane-content
    .agenda-block
      p
        display: none
      ol
        margin: 0
        li
          background: none
          padding: 10px 0 0 0
          .calendar_title
            font-size: 18px
            font-weight: normal
            line-height: 1.2
            color: $text-black
            &:before
              content: "!"
              color: $grey-dark
              font-family: "gsb-clock"
              font-weight: normal
              font-size: 28px
              margin-right: 4px
              vertical-align: middle
      .moreinfo
        display: none
    a
      @extend %teal-cta
      margin-top: 7px


// Library FAQ's Block
.pane-library-faq-form
  @extend %bg-border-and-box-shadow
  position: relative
  padding: $standard-padding
  +breakpoint($bp-mobile-max)
    height: 194px
  .pane-title
    font-size: 24px
    font-weight: bold
    line-height: 1.2
    color: $text-black
    font-family: $font-sans
  .pane-content
    //Search Field
    .hidden
      width: 82%
      float: left
      margin-right: 0
      padding-right: 36px
      height: 36px

.narrow-view
  .pane-library-faq-form
    .pane-content
      margin-bottom: 32px
      .search_text
        font-size: 18px
        line-height: 1.2
        font-weight: normal
        padding: 12px 0
      .hidden
        font-size: 14px
.wide-view
  .pane-library-faq-form
    .pane-content
      margin-bottom: 36px
      .search_text
        font-size: 20px
        line-height: 1.2
        font-weight: normal
        padding: 14px 0


// Chat with Librarian Block
.pane-library-chat-form
  @extend %bg-border-and-box-shadow
  position: relative
  .pane-title
    font-size: 20px
    font-weight: bold
    color: $text-black
    margin-left: 3px
    &:before
      content: ":"
      color: #aac5c0
      font-family: "gsb-chat"
      font-weight: bold
      font-size: 52px
      margin-right: 2px
      vertical-align: top
  .pane-content
    .libraryh3lp iframe
      width: 230px !important
    .helptext
      font-size: 14px
      font-weight: normal
      margin-left: 8px

.wide-view
  .pane-library-chat-form
    width: 50%
    padding: $standard-padding
.narrow-view
  .pane-library-chat-form
    padding: 22px
    .pane-content
      .libraryh3lp iframe
        width: 220px !important


// Library Blog
.pane-rss-feed-rss-feed
  @extend %bg-border-and-box-shadow
  position: relative
  padding: $standard-padding
  padding-top: 2px
  .pager
    display: none
  .pane-title
    font-size: 14px
    font-weight: normal
    color: $red
    &:after
      color: $grey-dark
      content: "w"
      font-family: "gsb"
      font-size: 14px
      line-height: 0
      margin-left: 2px

  .views-row
    margin-bottom: 20px
    &:last-of-type
      margin-bottom: 0
  // Title
  .views-field-text
    a
      font-size: 20px
      font-family: $font-demi
      color: $text-black
      line-height: 1.2
      &:after
        color: $text-green
        content: "w"
        font-family: "gsb"
        font-size: 20px
        line-height: 0
        margin-left: 5px
      &:hover
        color: $link-blue
        &:after
          color: $link-blue
  // Description text
  .views-field-text-2
    font-size: 16px
    line-height: 1.3



// Library Search Works Block
.pane-library-searchworks-form
  .pane-title
    font-size: 24px
    font-family: $font-demi
    color: $text-black
    margin-bottom: 30px
  .tabbed_box
    margin: 0 auto
    .tabbed_area
      ul.searchworks-tabs
        margin: 0
        padding: 0
        position: relative
        top: -10px
      li
        list-style: none
        display: inline
        a
          +background(linear-gradient(#f8f6f6, #ededed))
          border: 1px solid #e4e4e4
          border-bottom: 0
          font-size: 14px
          font-weight: normal
          padding: 14px $standard-padding
          &.active
            background: #fbfaf8
            border: 1px solid rgba($black, 0.1)
            border-bottom: 0
            color: $text-black
            padding-bottom: 15px

  // Tab panes
  .searchworks-content
    @extend %bg-border-and-box-shadow
    border: 0
    padding: $standard-padding
    +clearfix

    // Search field no-wrap
    #edit-search-wrapper
      float: left
      width: 100%
      margin-right: -36px
      padding-right: 36px
      input
        height: 36px
        width: 100%

  // ejournal wrapper
  // Adjustment for select box
  .searchworks-ejournal
    margin-left: -180px
    padding-left: 180px

  .searchworks-select
    float: left
    margin-right: 15px
    position: relative
    z-index: 1
    +breakpoint(1120px 999px)
      margin-bottom: 12px
    +breakpoint(820px max-width)
      margin-bottom: 12px

  .searchworks-ejournal
    +breakpoint(1120px 999px)
      margin: 0
      padding: 0
    +breakpoint(820px max-width)
      margin: 0
      padding: 0

  #content_2
    display: none
