.view-mode-teaser
  &.node-media-mention
    @extend %border-and-box-shadow
    max-width: 270px
    .field-name-title
      h2
        color: $red
        font-weight: bold
        text-transform: none
        font-size: 20px
        line-height: 26px
        display: block
        margin-top: -9px
        margin-bottom: 4px
    .field-name-field-date-published,
    .field-name-field-publisher
      color: $grey-6
      font-size: 14px
    .field-name-author
      font-weight: bold
      font-size: 14px
      color: $grey-2
    .group_tags_wrapper
      margin-top: 13px
      font-size: 14px
      color: $grey-a
      h3
        font-size: 14px
        margin: 0
        line-height: 1em
        text-transform: none
      a
        color: $red
