/////////////////
// MEDIA MENTION
/////////////////
.node-media-mention
  // Title
  .field-name-title,
  .field-name-title h2,
  .field-name-title a
    color: $red

  // Date and publisher
  .field-name-field-date-published,
  .field-name-field-publisher
    font-size: 14px

  .field-name-field-date-published
    color: $grey-6
  .field-name-field-publisher
    color: $red

  // Author
  .field-name-author
    font-weight: bold
    font-size: 14px
    color: $text-grey
    .label-inline
      margin-right: 5px
  .field-name-field-link-single
    a
      color: $red
