/////////////////////////
// MAIN MENU - MEGA MENU
////////////////////////

.qtip-wrapper
  ol,
  ul,
  ol li,
  ul li
    margin: 0
    padding: 0
    list-style: none
  ul,
  ol
    &.menu li a, li a
      display: block
      margin-top: 11px
      color: $white
      text-transform: none
      font-size: 18px
      line-height: 24px
  ul.menu .first a
    margin-top: 0
  a:hover, ul.menu li a:hover
    color: #63acd5

// Featured event
.view-mode-megamenu
  overflow: hidden
  margin: 0 0 10px
  border-top: 8px #100f0f solid
  &.node-event
    h4 a
      padding-left: 30px
      &:before
        content: "5"
        font-family: "gsb"
        font-size: 29px
        top: 6px
        position: absolute
        line-height: 0
        left: -3px
        font-weight: normal
  img
    opacity: 0.55
  &:hover
    .field-name-field-event-date,
    .field-name-field-date-published,
    .field-name-post-date
      color: $white
    .field-name-title a
      color: #63acd5
    img
      opacity: 1

  .group-right
    padding-left: 10px
  .field-name-field-event-date,
  .field-name-field-date-published,
  .field-name-post-date
    margin-top: 9px
    color: $grey-a
    font-size: 13px
    line-height: 16px
  .field-name-title a
    display: block
    margin-top: 6px
    color: $grey-a
    font-size: 20px
    font-weight: bold
    line-height: 1.3
    text-transform: none
    position: relative
    &:hover
      color: #63acd5

// Featured academic calendar event
.supermenu-pane .node-academic-calendar-event
  overflow: hidden
  margin: 0 0 10px
  border-top: 8px #100f0f solid
  padding-left: 10px
  .field-name-field-event-date
    margin-top: 9px
    color: $grey-a
    font-size: 13px
    line-height: 16px
  .field-name-field-academic-calendar-link
    padding-left: 30px
    display: block
    margin-top: 6px
    color: #aaaaaa
    font-size: 20px
    font-weight: bold
    line-height: 1.3
    text-transform: none
    position: relative
    &:before
      content: "5"
      font-family: "gsb"
      font-size: 29px
      top: 6px
      position: absolute
      line-height: 0
      left: -3px
      font-weight: normal
  &:hover
    .field-name-field-event-date
      color: $white
    .field-name-field-academic-calendar-link
      color: #63acd5

// BI MEGA MENU
// .view-display-id-bi_topic_menu_links
//   .views-row
//     float: left
//     padding: 10px
//   a
//     color: $white
//     display: block
//     font-size: 18px
//     line-height: 24px
//     margin-bottom: 11px
//     width: 193px

///////////////////////
// RESPONSIVE MEGAMENU
///////////////////////

.qtip
  +breakpoint($bp-mobile-max)
    display: none !important
  +breakpoint($bp-tablet-port)
    top: 58px !important

// MEGAMENU AT TABLET SIZE
.qtip-contentWrapper
  +breakpoint($bp-tablet-port)
    float: none
    width: 100%

.qtip-wrapper
  +breakpoint($bp-tablet-port)
    max-width: 99.9% !important

/////////////////
// Close link
////////////////
.qtip-close
  color: $white
  font-weight: bold
  position: absolute
  right: 6px
  text-transform: uppercase
  top: 6px
  +breakpoint($bp-wide-min)
    display: none
