///////////////////////////
// Menus in sidebar-first
///////////////////////////

.region-sidebar-first
  @extend %black-border-top
  @extend %bg-grey-gradient
  padding: 20px 20px 0 24px
  +breakpoint($bp-tablet-port-max)
    border-top: 0
    padding: 0
  // Menu styling
  ul li
    color: $red
    font-size: 16px
    font-weight: bold
    margin-bottom: 22px
    line-height: 1.2
    +breakpoint($bp-tablet-port-max)
      &.first
        padding-top: 22px
    &.collapsed
      +breakpoint($bp-tablet-port-max)
        &:before
          color: $red
          content: "➕"
          font-family: "entypo"
          font-size: 36px
          font-weight: normal
          position: absolute
          left: 12px
    &.active-trail
      +breakpoint($bp-tablet-port-max)
        &:before
          color: $red
          content: "➖"
          font-family: "entypo"
          font-size: 36px
          font-weight: normal
          position: absolute
          left: 12px
    a
      color: $red
      line-height: 1.2
    // Secondary children
    ul
      padding-left: 16px
      position: relative
      left: 0
      li
        color: $black
        margin: 8px 0
        text-transform: none
        +breakpoint($bp-tablet-port-max)
          &.first
            padding-top: 0
        a
          color: $black
        // Terciary children
        ul li,
        ul li a
          font-weight: normal
    a.active
      color: $text-blue
      +breakpoint($bp-wide-min)
        &:before
          color: $text-blue
          content: "\f100"
          float: left
          font-family: "arrow-double"
          font-size: 16px
          font-weight: normal
          position: relative
          width: 0
          left: -12px
