// NAVIGATION
#navigation
  +breakpoint($bp-wide-min)
    float: right
    position: relative
    top: -10px
    min-width: 688px
  .section
    border-bottom: 10px solid $red

// MAIN MENU
#block-system-main-menu
  float: left
  +breakpoint($bp-mobile-max)
    float: none
    display: block
  li
    border-right: 1px solid #FF0000
    background-color: $red-light
    +background(linear-gradient(bottom, $red-light, $red-dark))
    font-size: 18px
    float: left
    line-height: 20px
    list-style-type: none
    list-style-image: none
    margin: 0
    padding: 0
    .menu
      display: none
    &:hover,
    &.active
      background: $black
    a
      color: $white
      font-weight: bold
      display: block
      margin: 0
    // IPAD
    +breakpoint($bp-portrait)
      .menu
        display: block
      a
        background: image_url("navigation-arrow.png") no-repeat 95% 50%
        font-size: 15px
        line-height: 14px
        padding: 10px 30px 10px 9px
    // Mobile
    +breakpoint($bp-mobile-max)
      background: $white
      border: 0
      border-bottom: 1px solid #d5d5d5
      display: block
      float: none
      min-height: 50px
      width: 100%
      &:hover,
      &.active
        background: $white
      &:hover
        .menu
          display: block
      a
        color: $red
        padding: 15px 0 15px 55px
        &:before
          content: image_url("toggle-close.png")
          display: inline
          position: relative
          left: -35px
  +breakpoint($bp-mobile-max)
    li.active,
    li:hover
      a
        &:before
          content: image_url("toggle-open.png")
      li
        border-bottom: 0
        a
          font-size: 14px
          padding-left: 70px
          text-transform: uppercase
          &:before
            content: ""
        &.active,
        &:hover
          a
            &:before
              content: ""

  // FULL
  +breakpoint($bp-wide-min)
    li
      max-width: 122px
      &:first-of-type
        a
          padding: 12px 7px 18px
      a
        background: image_url("navigation-arrow.png") no-repeat 100px 60px
        min-height: 80px
        padding: 12px 8px 18px


//Search and event calendar wrapper
.se
  +breakpoint($bp-wide-min)
    float: left
    width: 200px
  +breakpoint($bp-portrait)
    float: left
  .event-calendar
    width: 100%
    +breakpoint($bp-mobile-max)
      line-height: 1
      padding: 15px 0 15px 70px

// Event calendar link
.event-calendar
  +background(linear-gradient(top, #880000, #b40000))
  color: #fff
  font-size: 18px
  display: inline-block
  font-weight: bold
  +breakpoint($bp-portrait)
    font-size: 15px
    line-height: 14px
    padding: 10px 8px
  +breakpoint($bp-wide-min)
    line-height: 40px
    padding: 0 0 0 16px
  +breakpoint($bp-mobile-max)
    +background(linear-gradient($grey-e, $white))
    border-bottom: 1px solid #d5d5d5
    color: $red
    display: block
    float: none
    padding: 18px

////////////////////////////////
// Mobile footer duplicate menu
////////////////////////////////
#menu-main-footer
  display: none
  +breakpoint($bp-mobile-max)
    +clearfix
    display: block
    +background(linear-gradient($grey-e, $white))
    padding: 24px 0 24px 70px
    .menu
      float: left
      width: 160px
    .menu-1
      margin-right: 25px
    li
      line-height: 16px
      padding-bottom: 12px
    a
      font-weight: bold
      font-size: 13px
      text-transform: uppercase

////////////////////////////
// MENU BUTTON
////////////////////////////
#nav-touch-wrapper
  display: inline
  +breakpoint($bp-mobile-max)
    display: block
  #nav-touch-button
    +breakpoint($bp-mobile-max)
      cursor: pointer
      display: inline-block
      padding: 15px 18px 9px
      vertical-align: top
    &:after
      .svg &
        content: image_url("mobile/icon-hamburger-main.png")
      .no-js &, .no-svg &
        content: image_url("mobile/icon-hamburger-main.png")

// Menu toggle functionality
#nav-touch-wrapper
  +breakpoint($bp-mobile-max)
    +background(linear-gradient(bottom, $red-light, $red-dark))
    max-height: 50px
    #navigation
      display: none
  &.open
    +breakpoint($bp-mobile-max)
      #nav-touch-button
        background: $white
        +background(linear-gradient($grey-e, $white))
        &:after
          .svg &
            content: image_url("mobile/icon-hamburger-main-red.png")
          .no-js &, .no-svg &
            content: image_url("mobile/icon-hamburger-main-red.png")
      #navigation
        display: block
        position: absolute
        width: 100%
        z-index: 11

.qtip-megamenu
  +breakpoint($bp-mobile-max)
    display: none !important
