/////////////////
// MSx Fellow Style
/////////////////

.node-msx-fellows
  border-top: 3px solid $text-black
  padding-top: 2px

  .field-name-field-title-position-unlimited,
  .field-name-field-company-organization,
  .field-name-field-location,
  .field-name-field-academic-degrees
    font-weight: bold
    font-size: 20px 
    margin-bottom: 27px
  
  .field-name-field-academic-degrees
    .field-label
      margin-bottom: 8px
    .item-list 
      > ul
        margin: 0
        li 
          margin: 0 0 7px 20px
          line-height: 1.3
          &:before
            color: $text-blue
            content: "•"
            margin-left: -20px
            padding-right: 8px

  .field-name-title
    margin-top: 25px
    margin-bottom: 25px
    
  .field-name-field-year
    background: $grey-dark
    text-transform: uppercase
    color: #fff
    font-size: 14px
    padding: 11px 25px 3px
    
    span
      &:before
        content: 'msx fellow'
        display: inline
        margin-right: 6px
        

  &.ds-2col > .group-left
    width: 270px
    img
      display: block
    
  &.ds-2col > .group-right
    float: none
    width: auto
    padding-left: 300px 