/////////////////
// MSx Fellow Style
/////////////////

.node-msx-fellows
  border-top: 3px solid $text-black
  padding-top: 2px

  .field-name-field-title-position-unlimited,
  .field-name-field-company-organization,
  .field-name-field-location,
  .field-name-field-academic-degrees
    font-weight: bold 
    font-size: 20px 
    margin-bottom: 27px
  
  .field-name-field-academic-degrees
    .field-label
      margin-bottom: 8px
    .item-list 
      > ul
        margin: 0
        li 
          margin: 0 0 7px 20px
          line-height: 1.3
          &:before
            color: $text-blue
            content: "•"
            margin-left: -20px
            padding-right: 8px

  .field-name-title
    margin-top: 25px
    margin-bottom: 25px
    
  .field-name-field-year
    background: $grey-dark
    text-transform: uppercase
    color: #fff
    font-size: 14px
    padding: 11px 25px 3px
    
    span
      &:before
        content: 'msx fellow'
        display: inline
        margin-right: 6px
        

  &.ds-2col > .group-left
    width: 270px
    img
      display: block
    
  &.ds-2col > .group-right
    float: none
    width: auto
    padding-left: 300px 
    

/*
 *Listing page 
 */

.view-msx-fellows
  .node-msx-fellows
    border: 2px solid #fff
    padding: 0 10px
    background: rgba(255,255,255,.5)
    height: 333px
    .field-name-field-image-single-public
      margin: -2px -12px 0 -12px
      float: none
    .field-name-title
      margin: 14px 0 8px 0
      h2
        font-size: 16px
        line-height: 1
        margin: 0
        a
          color: $text-green
          &:hover 
            color: $text-blue
    .field-name-field-title-position-unlimited
      line-height: 1.25
      font-size: 14px
      margin: 0 0 9px 0
    .field-name-field-location
      font-weight: normal
      font-size: 14px
      margin: 0 
