/////////////////
// MSx Fellows
/////////////////

// MSx fellows page
.node-type-msx-fellows
  #page-title
    +breakpoint($bp-mobile-max)
      display: block
      // @extend %h2
      color: $text-blue
      font-family: $font-demi
      font-size: 34px
      font-weight: normal
      line-height: 40px
  .field-name-title
    +breakpoint($bp-mobile-max)
      display: none

// MSx Fellows detail page
.node-msx-fellows
  border-top: 3px solid $text-black
  padding-top: 2px
  +breakpoint($bp-mobile-max)
    border-top: 0
    padding-top: 0
  .field-name-field-title-position-unlimited,
  .field-name-field-company-organization,
  .field-name-field-location,
  .field-name-field-academic-degrees
    font-weight: bold
    font-size: 20px
    margin-bottom: 5px
  .field-name-field-location
    font-weight: normal
  .field-name-field-academic-degrees
    margin-top: 15px
    .label-above
      margin-bottom: 5px
    .item-list ul
      margin: 0
      li
        font-size: 18px
        font-weight: normal
        margin: 0 0 0 20px
        line-height: 24px
        &:before
          color: $text-blue
          content: "•"
          margin-left: -20px
          padding-right: 8px
  .field-name-field-body
    font-size: 18px
    line-height: 1.4em
  .field-name-title
    margin-top: 25px
    margin-bottom: 25px
  .field-name-field-year
    background: $grey-dark
    color: $white
    font-size: 14px
    padding: 9px 25px 5px

  &.ds-2col > .group-left
    width: 270px
    img
      display: block
    +breakpoint($bp-mobile-max)
      margin-bottom: 20px

  &.ds-2col > .group-right
    float: none
    width: auto
    padding-left: 300px
    +breakpoint($bp-mobile-max)
      float: left
      padding-left: 0

// MSx fellows listing page
.view-msx-fellows
  .view-content
    +clearfix
  .views-row
    background: rgba($white, 0.5)
    border: 1px solid $grey-d
    display: inline-block
    float: left
    margin-right: 18px
    margin-bottom: 24px
    min-height: 370px
    width: 130px
    &:nth-of-type(6n)
      margin-right: 0
    +breakpoint(1170px max-width)
      margin-right: 10%
      width: 170px
      &:nth-of-type(6n)
        margin-right: 18px
      &:nth-of-type(3n)
        margin-right: 0
    +breakpoint(769px 937px)
      &:nth-of-type(3n)
        margin-right: 10%
      &:nth-of-type(2n)
        margin-right: 0
    +breakpoint(677px max-width)
      &:nth-of-type(3n)
        margin-right: 10%
      &:nth-of-type(2n)
        margin-right: 0
  .node-msx-fellows
    border-top: 0
    padding: 0 10px
    .field-name-field-image-single-public
      margin: -2px -11px 0 -11px
      float: none
    .field-name-title
      margin: 14px 0 8px 0
      h2
        font-size: 16px
        line-height: 1.25
        margin: 0
        a
          color: $text-green
          &:hover
            color: $text-blue
    .field-name-field-title-position-unlimited
      margin: 0 0 9px 0
    .field-name-field-location
      font-weight: normal
      margin: 0
    .field-name-field-title-position-unlimited,
    .field-name-field-company-organization,
    .field-name-field-location
      font-size: 14px
      line-height: 1.25
