//////////////////
// NEWS
// School stories
// Press releases
//////////////////

// DETAIL page
.node-news.view-mode-full
  border-top: 3px solid $black
  +clearfix
  .field-name-field-date-published
    font-size: 18px
    padding-top: 24px
    padding-bottom: 24px
  .field-name-title
    color: $text-blue

  .field-name-field-image-caption
    font-size: 14px
    color: $grey-6

  .group-left
    margin-bottom: 24px

  .field-name-field-news-byline
    margin-top: 24px
    .label-inline
      margin-right: 5px
      font-weight: normal

// Related links in sidebar
.pane-node-field-link-unlimited
  @extend %related-links
  background-color: $grey-e
  +background(linear-gradient(top, #e7e7e7, #f0f0f0))
  h2.pane-title
    +pane-title

// PR CONTACT
.view-mode-media_contact
  margin-top: 24px
  padding-top: 24px
  @extend %divider-top
  padding-bottom: 20px
  a
    color: $text-green
  // Name
  .group-wrapper-name
    // Group label
    h2
      color: $text-black
      font-size: 14px
      font-weight: normal

    .field
      margin-right: 5px
    color: $black
    font-size: 18px
    font-weight: bold

  // Email
  .field-name-field-email
    font-size: 14px
    font-weight: bold
  // Phone
  .field-name-field-phone
    color: $text-black
    font-size: 13px
    .label-inline
      margin-right: 5px
    a
      color: $text-black

//////////////////
// MEDIA TOOLKIT
//////////////////
.pane-media-toolkit
  @extend %box-shadow
  @extend %border-grey
  background: $grey-f
  padding: 0 24px 24px 24px
  h2.pane-title
    +border-label
    color: $red
  .pane-content
    margin-top: 60px
    ul
      margin: 0
      padding: 0
    li
      line-height: 30px
      border-top: 1px solid #e4e4e4
