//////////////////
// NEWS
// School stories
// Press releases
//////////////////

// DETAIL
.node-news.view-mode-full
  border-top: 3px solid $black
  +clearfix
  .field-name-field-date-published
    font-size: 18px
    padding-top: 24px
    padding-bottom: 24px
  .field-name-title
    color: $text-blue

  .field-name-field-image-single-public,
  .field-name-field-file-single-public
    float: right
    margin-bottom: 35px
  .field-name-field-image-caption
    float: right
    font-size: 14px
    color: $grey-6

  .group-left
    margin-bottom: 24px

  .field-name-field-news-byline
    margin-top: 24px
    .label-inline
      margin-right: 5px
      font-weight: normal
  .field-name-field-editorial-summary
    font-size: 25px
    line-height: 32px
    font-weight: bold

// Related links in sidebar
.pane-node-field-link-unlimited
  @extend %related-links
  background-color: $grey-e
  +background(linear-gradient(top, #e7e7e7, #f0f0f0))
  h2.pane-title
    +pane-title

// PR CONTACT
.view-mode-media_contact
  margin-top: 25px
  padding-top: 20px
  border-top: 1px $grey-b solid
  font-size: 15px
  padding-bottom: 20px
  .field-name-field-title-position-unlimited
    font-size: 14px
    margin-bottom: 12px
    .label-inline
      padding-right: 3px
      font-weight: normal
  .group_name_wrapper
    font-weight: bold
    font-size: 17px
    div
      display: inline-block
    .field-items
      padding-right: 4px
  a
    color: $green
