.page-not-found
  .panel-display .inner-main-wrapper    
    margin-right: 0 
  #content-wrapper
    box-shadow: none
    -webkit-box-shadow: none
    -moz-box-shadow: none
    background: none 
  #page-title,
  .pane-node-field-addthis,
  .tabs,
  #block-workbench-block,
  .action-links
    display: none
  .page-title
    float: left
    width: 30%
    font-weight: normal
    line-height: normal
    font-size: 76px
    span
      position: relative
      top: -20px
      font-size: 20px    
      display: block
      line-height: normal
  .not-found-wrapper
    overflow: hidden
    .larger-text
      font-size: 40px
  .field-name-field-body a
    color: $red
    border: none