//////////////
// People
//////////////

// General person name
.person-name
  color: $black
  font-size: 18px
  font-weight: bold
  line-height: 1em
  .name-first,
  .name-middle
    margin-right: 0.3em

///////////////
// People FPP List
///////////////
.person-list-view
  margin-bottom: 50px
  padding: 0 24px
  @extend %bg-border-and-box-shadow

  // Title styling
  .field-name-field-title
    border-top: 10px $teal-light solid
    border-bottom: 1px solid $grey-e
    font-size: 18px
    font-weight: bold
    line-height: 1
    margin-top: -2px
    padding-top: 16px
    padding-bottom: 24px

  .views-row
    border-bottom: 1px solid #e4e4e4
    padding: 24px 0
    min-height: 218px
    &:last-of-type
      border-bottom: 0
    +clearfix
    .field-name-field-image-single-public
      +float-left
      margin-right: 24px
  // Name
  .person-name
    margin-bottom: 8px
  // Position
  .person-position
    font-size: 18px
  span.person-position
    &:after
      content: ', '
      margin-right: 0.3em
  // Area
  .person-area
    .label-inline
      font-weight: normal
      margin-right: 0.3em
  // Quote
  .person-quote
    font-size: 16px
    line-height: 22px
    margin-top: 24px

////////////
// TEASER
///////////
.node-staff.view-mode-teaser,
.node-faculty.view-mode-teaser
  padding: 16px
  // Image
  .field-name-field-image-single-public
    float: none
    margin: -16px -16px auto -16px
  // Name
  .person-name
    font-size: 16px
    line-height: 3em

  // Rank/Title/Position and Academic Area
  .person-position,
  .person-area
    font-size: 14px
    color: $text-black
    line-height: 1em
    display: inline 
  .person-position
    &:after
      content: ", "    

// Faculty Search and People Grid layouts
.pane-faculty-filters-faculty-list,
.person-grid-view
  .view-content
    +clearfix
  .views-row
    float: left
    height: 280px
    margin-bottom: 30px
    margin-right: 30px
    width: 170px
    &:nth-of-type(3n)
      margin-right: 0

// Faculty list
.pane-faculty-filters-faculty-list
  .views-row
    background: $grey-f

// People FPP Grid
.person-grid-view
  .node-staff.view-mode-teaser,
  .node-faculty.view-mode-teaser
    padding: 0
    .field-name-field-image-single-public
      margin: auto

  .field-name-field-title
    font-size: 26px
    font-family: $font-demi
    margin-bottom: 40px
