////////////////////
// Program Finder
////////////////////

// Programs landing
.pane-program-finder
  .field-group-tab-wrapper
    @extend %border-and-box-shadow
    +background-image(linear-gradient(right, #355567, #7390a1))
    // .page-programs &
    background: image_url("bg-program-finder.png") no-repeat
    height: 476px
    padding: 10px
  div.vertical-tabs
    @extend %border
    background: linear-gradient(#f4f4f4, $grey-d)
    height: 450px
    margin: 0 0 0 15em
    fieldset.vertical-tabs-pane
      border: 0
      padding: 36px 40px
    .fieldset-wrapper
      a
        color: $text-green
        display: inline-block
        font:
          size: 16px
          weight: bold
        line-height: 20px
        margin-bottom: 14px
        &:after
          color: $grey-med
          content: "\f100"
          font-family: "arrow-double"
          font-size: 18px
          font-weight: normal
          position: relative
          left: 7px
        &:hover
          color: $text-blue
    .vertical-tabs-panes
      height: 438px
      overflow: hidden
    ul.vertical-tabs-list
      border-top: 0
      margin: -2px 0 -2px -15em
      width: 238px
      li
        +background(image_url("arrow-program-white.png") no-repeat 94% 50%, transparent)
        border-left: 0
        border-top: 1px solid #8aa5b4
        border-bottom: 1px solid #647f8f
        border-right: 1px solid $text-blue
        &:first-of-type
          border-top: 1px solid transparent
        &:last-of-type
          border-bottom: 1px solid transparent

        &.selected
          +background(image_url("arrow-program-tan.png") no-repeat 94% 50%, #f4f4f4)
          width: 240px
          &:first-of-type
            border-top: 2px solid $white
          &:last-of-type
            border-bottom: 2px solid $white
        a
          color: $white
          font-size: 20px
          line-height: 1
          padding: 17px 24px 17px 12px
          &:hover
            outline: 0
            strong
              text-decoration: none
      .selected
        @extend %border
        border-right: 1px solid transparent
        strong
          color: $grey-dark

  // Split columns
  .program-columns
    +clearfix
    .column-a,
    .column-b
      width: 221px
      float: left
    .column-a
      margin-right: 55px
    p
      font-size: 14px
      line-height: 18px
