////////////////////
// Program Finder
////////////////////

// Programs landing
.pane-program-finder
  .field-group-tab-wrapper
    @extend %border-and-box-shadow
    +background-image(linear-gradient(right, #355567, #7390a1))
    // .page-programs &
    background: image_url("bg-program-finder.png") no-repeat
    height: 476px
    padding: 10px
    +breakpoint($bp-portrait-max)
      height: auto
      +background-image(linear-gradient(right, #355567, #7390a1))
  div.vertical-tabs
    @extend %border
    background: linear-gradient(#f4f4f4, $grey-d)
    height: 450px
    margin: 0 0 0 15em
    +breakpoint($bp-portrait-max)
      height: auto
      margin: 0
      background: transparent
      border: 0
    fieldset.vertical-tabs-pane
      border: 0
      padding: 36px 40px
      +breakpoint($bp-portrait-max)
        padding: 14px
        background: linear-gradient(#f4f4f4, $grey-d)
    .fieldset-wrapper
      a
        color: $text-green
        display: inline-block
        font-size: 20px
        line-height: 24px
        margin-bottom: 14px
        &:after
          color: $grey-med
          content: "\f100"
          font-family: "arrow-double"
          font-size: 18px
          font-weight: normal
          position: relative
          left: 7px
        &:hover
          color: $text-blue
    .vertical-tabs-panes
      height: 438px
      overflow: hidden
      +breakpoint($bp-portrait-max)
        height: auto
    ul.vertical-tabs-list
      border-top: 0
      margin: -2px 0 -2px -15em
      width: 238px
      li
        +background(image_url("arrow-program-white.png") no-repeat 94% 50%, transparent)
        border-left: 0
        border-top: 1px solid #8aa5b4
        border-bottom: 1px solid #647f8f
        border-right: 1px solid $text-blue
        &:focus
          outline: 0
        &:first-of-type
          border-top: 1px solid transparent
        &:last-of-type
          border-bottom: 1px solid transparent

        &.selected
          +background(image_url("arrow-program-tan.png") no-repeat 94% 50%, #f4f4f4)
          width: 240px
          &:first-of-type
            border-top: 2px solid $white
          &:last-of-type
            border-bottom: 2px solid $white
        a
          color: $white
          font-size: 20px
          line-height: 1
          padding: 17px 24px 17px 12px
          strong
            font-weight: normal
          &:hover
            outline: 0
            strong
              text-decoration: none
      .selected
        @extend %border
        border-right: 1px solid transparent
        strong
          color: $grey-dark

  // Split columns
  .program-columns
    +clearfix
    .column-a,
    .column-b
      width: 221px
      float: left
      +breakpoint($bp-portrait-max)
        width: auto
        float: none
    .column-a
      margin-right: 55px
      +breakpoint($bp-portrait-max)
        margin-right: 0
    p
      font-size: 14px
      line-height: 18px
      +breakpoint($bp-portrait-max)
        font-size: 18px
        line-height: 24px

////////////////////////
// Reponsive behavior
///////////////////////
+breakpoint($bp-portrait-max)
  ul.vertical-tabs-list
    margin: 0px
    padding: 0px

  .vertical-tabs-list li
    display: inline-block
    padding: 14px
    margin: 0
    list-style: none
    cursor: pointer
    float: left

  .vertical-tabs-panes
    padding: 0px
    clear: left

  h2.resp-accordion
    background: image_url("arrow-down.png") no-repeat 95% 50%
    color: $white
    cursor: pointer
    margin: 0
    display: none
    font-size: 24px
    font-family: $font-sans
    border-top: 1px solid #8aa5b4
    border-bottom: 1px solid #647f8f
    padding-left: 14px
    &:first-of-type
      border-top: 0
    &:last-of-type
      border-bottom: 0
    &:hover
      +background(image_url("arrow-program-tan-down.png") no-repeat 95% 50%, #f4f4f4)
      color: $text-blue

  .resp-tab-content
    display: none
    padding: 15px

  h2.resp-tab-active
    border-bottom: none
    margin-bottom: -1px !important
    +background(image_url("arrow-program-tan-up.png") no-repeat 95% 50%, #f4f4f4)
    color: $text-blue


  .resp-content-active,
  .resp-accordion-active,
  .resp-easy-accordion  h2.resp-accordion,
  .resp-tab-content-active
    display: block

  .resp-jfit
    width: 100%
    margin: 0px

  ul.vertical-tabs-list
    display: none

  .resp-vtabs .vertical-tabs-panes
    border: none
    float: none
    width: 100%
    min-height: initial
    clear: none

  .resp-accordion-closed
    display: none !important
