////////////////////
// Publication detail
////////////////////

// Hide title on detail
.node-type-publication
  +page-title

// .node-publication.view-mode-full
  // See _working-paper-detail.sass for shared layout and base styles

// Detail page
.node-publication.view-mode-full

  // Publication information
  .group-wrapper-published
    line-height: 1.2

  // Author
  .gsb_field_formatter_field_collection_separator .label-inline
    font-family: $font-demi
    font-size: 18px

  // Citation
  .group-wrapper-published
    &:after
      content: "."
  .group-wrapper-commas
    display: inline
    h3
      display: none
  // Document links
  .group-wrapper-links
    @extend %divider-bottom
    @extend %divider-top
    margin-top: 16px
    padding: 26px 0
    a
      @extend %green-button
      &:after
        @extend %doc-attached-icons
      &:hover
        +background(linear-gradient(top, #18455f, $text-blue))
    .field
      display: inline-block
      vertical-align: bottom
      &:first-of-type
        margin-right: 6px
    // Link
    .field-name-field-link-single a
      &:after
        content: "i" !important
        font-size: 12px
        line-height: 1
    // PDF
    .field-name-field-file-single-public a
      &:after
        content: "m" !important
        font-size: 14px

  // Faculty author block
  .faculty-author-wrapper
    +author-block
