///////////////
// PUBLICATION
//////////////


// Hide publication title
.node-type-publication #page-title
  display: none

// Publication detail page
.node-publication.view-mode-full
  border-top: 3px $black solid
  .label-inline
    font-weight: normal
  // Publication image
  .field-name-field-image-single-public
    float: right

  // Title
  .field-name-title
    margin-top: 14px
    h2
      color: $blue-dark
      font-size: 30px
      line-height: 1.15em
      margin: 0 0 10px 0

  // Date published
  .field-name-field-date-published
    color: $grey-4
    line-height: 1
    margin-bottom: 30px
  // Case number
  .field-name-field-case-study-number
    color: $grey-6
  .field-name-field-research-paper-number
    color: $grey-5
  // Tags
  .group-tags-wrapper.case-study,
  .group-tags-wrapper.research-paper,
  .green-rounded-button
    margin-bottom: 30px

  // Publication details
  .group-publication-details
    +clearfix
    & > span
      +float-left
      margin-right: 5px

  // Body text
  .publication-description
    border-top: 1px $grey-c solid
    border-bottom: 1px $grey-c solid
    margin-top: 30px
    padding: 30px 0

  // Reviews
  .field-name-field-publication-reviews
    .label-above
      font-weight: bold
      margin: 30px 0
    .publication-review
      font-size: 18px
      &:before
        display: inline
        content: "“"
      &:after
        display: inline
        content: "”"
    .publication-reviewer
      font-style: italic
      font-size: 14px
  .field-collection-item-field-publication-reviews
    margin-bottom: 30px
