/////////////
// Quote FPP
/////////////

.pane-bundle-quote
  margin-bottom: 30px
  padding-left: 35px
  +clearfix
  .field-group-div
    margin-top: 5px
  // TEXT
  .field-name-field-body
    font-weight: bold
    font-size: 35px
    line-height: 1.2em
    margin: 0
    position: relative
    top: 0
    display: inline
    &:before
      color: $black
      font-weight: bold
      content: '“'
      font-size: 58px
      position: absolute
      left: -30px
      top: 7px
    &:after
      color: $black
      font-weight: bold
      content: '”'
      font-size: 38px
      position: relative
      right: -4px
  .field-name-field-link-single
    display: inline
    a
      text-indent: -1000px
      position: relative
      display: inline-block
      +icon-after("arrow-double-right", true)
      &:after
        color: $green-light
        left: 0
        line-height: 0
        font-size: 21px
        font-weight: bold
        top: 0
        position: absolute
        text-indent: 0
      &:hover
        &:after
          color: $link-blue
  // AUTHOR
  .group_author
    font-size: 18px
  .field-name-field-quote-author-name-title
    float: left
    margin-right: 5px
  .field-name-field-quote-link-company
    float: left
    .label-inline
      font-weight: normal
      margin-right: 7px
    a
      color: $green-light
      &:hover
        color: $text-blue
