//////////////////////////
// SEARCH BOX AND FILTERS
//////////////////////////

////////////////////
// Search box
/////////////////////
.gsb-views-exposed-form
  @extend %bg-border-and-box-shadow

.gsb-views-exposed-search //,#edit-search-wrapper Temporary disabled
  padding: 18px 24px 24px 24px
  width: 268px
  label
    color: $text-blue
    margin-bottom: 18px
  .views-exposed-form
    .form-item
      margin: 5px 0 0
      float: left
      width: 100%
      margin-right: -45px
      margin-top: 0
    .form-text
      width: 100%
      border: none
      border: 1px #d0d0d0 solid
      background: #e4e4e4
      line-height: 1em
      height: auto
      padding: 6px 50px 6px 10px
      color: $grey-6
      font-size: 16px
    .form-submit
      float: left
      width: 45px
      height: 36px
      -webkit-border-radius: 0
      -moz-border-radius: 0
      -ms-border-radius: 0
      border-radius: 0
      border: none
      background: transparent url(../images/search.png) no-repeat center 6px
      text-indent: 1000px
      overflow: hidden
      &:hover
        background-position: center -27px

// Main search
.grey-search-box
  +breakpoint($bp-tablet-port)
    float: right
    margin-top: 30px
    padding-right: 20px
  +breakpoint($bp-mobile-max)
    display: none
    left: 55px
    position: absolute
    width: 85%
    z-index: 1
  .form-item
    float: left
    width: 100%
    margin-right: -46px
    margin-top: 0
    margin-bottom: 0
    .form-text
      color: $grey-6
      font-size: 16px
      width: 100%
      border: none
      border: 1px #d0d0d0 solid
      background: #e4e4e4
      line-height: 1em
      padding: 7px 50px 6px 10px
      &:focus
        border-color: #d0d0d0 !important
        box-shadow: none
      .svg &
        padding-right: 40px
      +breakpoint($bp-mobile-max)
        height: 50px
        padding: 15px 50px 15px 10px
      +breakpoint($bp-tablet-port)
        width: 218px
  .form-actions
    .svg &
      &:before
        color: $red
        content: "\f100"
        font-family: "search"
        font-size: 21px
        position: relative
        top: 4px
        right: -16px
        +text-shadow($white -1px 1px)
        +breakpoint($bp-mobile-max)
          top: 10px
    &:hover
      .svg &
        &:before
          color: $text-blue
  .form-submit
    display: inline-block
    float: left
    width: 45px
    height: 36px
    background: transparent
    -webkit-border-radius: 0
    -moz-border-radius: 0
    -ms-border-radius: 0
    border-radius: 0
    border: none
    text-indent: 1000px
    overflow: hidden
    .svg &
      height: 33px
      position: relative
      right: -5px
      top: -26px
      width: 40px
      +breakpoint($bp-mobile-max)
        top: -20px
    .no-js &, .no-svg &
      background: transparent url(../images/search.png) no-repeat center 12px
    &:hover
      .no-js &, .no-svg &
        background-position: center -27px
        +breakpoint($bp-mobile-max)
          background: transparent url(../images/search.png) no-repeat center -27px

  .page-gsearch #content &
    width: 40%
    height: 33px
    .form-text
      padding-left: 0.6em
      border-color: #d6d6d6
      margin-bottom: 20px

///////////////////
// Search filters
///////////////////

// Filter toggle
.collapsible
  .fieldset-title
    padding: 0 0 0 25px
    font-weight: bold
    background: image_url('toggle-open.png') no-repeat left 2px
    display: inline-block
    &:hover
      background: image_url('toggle-open-hover.png') no-repeat left 2px
  &.collapsed
    .fieldset-title
      background: image_url('toggle-close.png') no-repeat left 1px
      &:hover
        background: image_url('toggle-close-hover.png') no-repeat left 1px

fieldset.collapsible .fieldset-legend
  display: inline

.js body fieldset.collapsible .fieldset-legend
  background: none
  padding: 0

// Filters
#edit-field-club-category-tid-wrapper,
#edit-field-business-insight-topic-tid-wrapper,
#edit-field-region-tid-wrapper
  padding: 24px

.gsb-views-exposed-filter
  legend
    margin-left: 4em
    padding: 0
  fieldset
    border: 0
    margin: 0
    padding: 0
  .fieldset-wrapper
    margin-left: 22.5%

  .form-item
    font-weight: bold
    margin-bottom: 20px
    text-transform: uppercase

  .form-item label
    color: $black
    font-size: 13px
    font-weight: bold
    text-transform: uppercase

  .fieldset-title
    border: none
    font-weight: bold
    font-size: 20px
    line-height: 1em
    color: $red

  .views-widget-filter-term_node_tid_depth_2
    display: inline-block
    float: left
    width: 32.9%
    vertical-align: top
    border-right: 1px solid #e4e4e4
    border-left: 1px solid $white
    &:first-of-type
      border-left: 0
    &:last-of-type,
    &:nth-of-type(3n)
      border-right: 0

//EXCEPTIONS
.pane-views-exp-club-filters-club-list
  .gsb-views-exposed-search
    background: none
    border: none
    box-shadow: 0 0 0 #fff
    margin: -2px




//Parent class to exposed, colapsable filter
.exposed_filter_widget
  //Reset style for case when filter and search are placed in one class
  &.exposed_filter_widget_one_column
    .ajax-progress
      display: none

    .views-exposed-widget
      border: 0 none !important
      width: 100% !important
      > label
        margin-bottom: 6px
    .bef-checkboxes
      > div
        width: 32%
        margin-right: 0
        float: none
        display: inline-block
        vertical-align: top
        padding-left: 20px
        margin-bottom: 14px
        line-height: 1.1

        input[type="checkbox"]
          margin-left: -18px


  form.gsb-views-exposed-search
    padding: 0
    width: auto
  > div
    @extend %bg-border-and-box-shadow
    padding: 3px
    margin-top: 1px !important
    position: relative
    > strong
      border-bottom: 1px solid #e4e4e4
      display: block
      width: 100%%
      font-size: 20px
      padding: 20px 20px 15px 20px

  .views-exposed-widget
    > label
      font-size: 18px
      font-weight: bold
      padding-bottom: 8px
      color: $red
      padding-left: 25px
      position: relative
      line-height: normal
      height: auto
      -moz-user-select: none
      -webkit-user-select: none
      -ms-user-select: none
      font-family: Arial
      &:before
        content: "➕"
        font-family: "entypo"
        font-size: 2.3em
        line-height: 1
        margin-left: -20px
        margin-top: 3px
        top: 3px
        position: relative
        padding-right: 5px

      &:hover
        color: $text-blue


    &.collapsed
      > label
        &:before
          content: '➖'


        &:hover
          &:before
            color: $text-blue

    .views-widget
      display: none
      padding-left: 3px

      .bef-checkboxes label
        font-weight: bold
        font-size: 13px
        text-transform: uppercase

    &:first-child,
    &:nth-child(2n+2)
      width: 50%
      float: left
      padding: 16px 20px 0
    &:first-child
      border-right: 1px solid #e4e4e4
    &:nth-child(2n+2)
      border-left: 1px solid #e4e4e4
      margin-left: -1px
    fieldset
      border: 0 none
      padding: 14px
  .fieldset-wrapper
    padding-left: 8px

  .views-submit-button
    padding: 0 !important
    position: absolute
    bottom: -30px
    left: 50%
    border: 0 none !important
    margin-left: -10px !important

/*
 *  Filter for Events page
 * */
#views-exposed-form-gsb-event-event-listing-pane, #views-exposed-form-gsb-event-event-calendar-pane
  .views-widget-filter-field_search_field_value
    .form-text
      padding: 14px 50px 15px 10px
    label
      display: none



.page-events
  .gsb-views-exposed-form
    background: none !important
    margin: 0
    -webkit-box-shadow: 0px 0px 0px white
    -moz-box-shadow:    0px 0px 0px white
    box-shadow:    0px 0px 0px white
    border: 0 none

    .form-submit
      margin-top: 7px
      +breakpoint($bp-mobile-max)
        float: right
        margin-top: 0
        position: relative
        top: -44px

  .gsb-views-exposed-search //,#edit-search-wrapper Temporary disabled
    padding: 0

.search-wrap-events
  position: relative
  @extend %bg-grey-gradient
  overflow: hidden
  display: inline-block
  padding: 0 25px 10px 25px
  margin-top: 28px
  width: 100%
  +breakpoint($bp-mobile-max)
    margin-top: 0
    padding: 0
    background: transparent
    position: relative
    top: -14px
    .views-exposed-widget
      margin-bottom: 5px

  &:before, &:after
    content: ""

  &:before
    display: block
    padding-top: 27px
    +breakpoint($bp-mobile-max)
      padding-top: 0

  &:after
    width: 100%
    height: 10px
    display: inline-block
    background-color: $text-black
    +breakpoint($bp-mobile-max)
      background-color: transparent
    position: absolute
    left: 0
    top: 0
  > div
    border-bottom: 1px solid #c4c4c4
    margin-bottom: 15px
    padding-bottom: 15px !important
    +breakpoint($bp-mobile-max)
      padding: 0 !important
      margin: 0
      border: 0
    &:last-of-type
      border: 0 none
      margin-bottom: 0
      padding-bottom: 0 !important
    > label
      color: $text-black
      font-weight: normal
      margin: 0 0 5px 0
  .form-item
    float: none !important
    margin: 0 !important
    padding-bottom: 15px
    line-height: 1.3
    &:last-of-type
      padding-bottom: 0
    input[type="checkbox"]
      float: left
      +breakpoint($bp-mobile-max)
        float: none
    > label
      text-transform: uppercase
      font-size: 13px
      color: $text-black
      margin: 0
      font-weight: bold
      display: block
      padding-left: 22px
    .bef-toggle
      margin-bottom: 10px
      display: block

//EXCEPTIONS on Clubs page
.page-stanford-gsb-experience-life-stanford-club-activities .narrow-view .pane-views-exp-club-filters-club-list .gsb-views-exposed-search
  @extend %bg-border-and-box-shadow

