//////////////////////////
// SEARCH BOX AND FILTERS
//////////////////////////

////////////////////
// Search box
/////////////////////
.gsb-views-exposed-form
  @extend %bg-border-and-box-shadow

.gsb-views-exposed-search
//,#edit-search-wrapper Temporary disabled
  padding: 18px 24px 24px 24px
  width: 268px
  label
    color: $text-blue
    margin-bottom: 18px
  .views-exposed-form
    .form-item
      margin: 5px 0 0
      float: left
      width: 100%
      margin-right: -45px
      margin-top: 0
    .form-text
      width: 100%
      border: none
      border: 1px #d0d0d0 solid
      background: #e4e4e4
      line-height: 1em
      height: auto
      padding: 6px 50px 6px 10px
      color: $grey-6
      font-size: 16px
    .form-submit
      float: left
      width: 45px
      height: 36px
      -webkit-border-radius: 0
      -moz-border-radius: 0
      -ms-border-radius: 0
      border-radius: 0
      border: none
      background: transparent url(../images/search-magnifying-glass.png) no-repeat center center
      text-indent: 1000px
      overflow: hidden

.grey-search-box
  .form-item
    margin: 5px 0 0
    float: left
    width: 100%
    margin-right: -45px
    margin-top: 0
    .form-text
      width: 100%
      border: none
      border: 1px #d0d0d0 solid
      background: #e4e4e4
      line-height: 1em
      height: auto
      padding: 6px 50px 6px 10px
      color: $grey-6
      font-size: 16px
  .form-submit
    float: left
    width: 45px
    height: 36px
    -webkit-border-radius: 0
    -moz-border-radius: 0
    -ms-border-radius: 0
    border-radius: 0
    border: none
    background: transparent url(../images/search-magnifying-glass.png) no-repeat center center
    text-indent: 1000px
    overflow: hidden

///////////////////
// Search filters
///////////////////

// Filter toggle
.collapsible
  .fieldset-title
    padding: 0 0 0 25px
    font-weight: bold
    background: image_url('toggle-open.png') no-repeat left 2px
    display: inline-block
    &:hover
      background: image_url('toggle-open-hover.png') no-repeat left 2px
  &.collapsed
    .fieldset-title
      background: image_url('toggle-close.png') no-repeat left 1px
      &:hover
        background: image_url('toggle-close-hover.png') no-repeat left 1px

fieldset.collapsible .fieldset-legend
  display: inline

.js body fieldset.collapsible .fieldset-legend
  background: none
  padding: 0

// Filters
#edit-field-club-category-tid-wrapper,
#edit-field-business-insight-topic-tid-wrapper,
#edit-field-region-tid-wrapper
  padding: 24px

.gsb-views-exposed-filter
  legend
    margin-left: 4em
    padding: 0
  fieldset
    border: 0
    margin: 0
    padding: 0
  .fieldset-wrapper
    margin-left: 22.5%

  .form-item
    font-weight: bold
    margin-bottom: 20px
    text-transform: uppercase

  .form-item label
    color: $black
    font-size: 13px
    font-weight: bold
    text-transform: uppercase

  .fieldset-title
    border: none
    font-weight: bold
    font-size: 20px
    line-height: 1em
    color: $red

  .views-widget-filter-term_node_tid_depth_2
    display: inline-block
    float: left
    width: 32.9%
    vertical-align: top
    border-right: 1px solid #e4e4e4
    border-left: 1px solid $white
    &:first-of-type
      border-left: 0
    &:last-of-type,
    &:nth-of-type(3n)
      border-right: 0

//Parent class to exposed, colapsable filter
.exposed_filter_widget
  //Reset style for case when filter and search are placed in one class
  &.exposed_filter_widget_one_column
    .ajax-progress
      display: none
    > div
      background: none
      padding: 0
      border: 0
      margin: 0
      box-shadow: 0 0 0 #fff
    .views-exposed-widget
      border: 0 none !important
      > label
        margin-bottom: 6px
  form.gsb-views-exposed-search
    padding: 0
    width: auto
  > div
    @extend %bg-border-and-box-shadow
    padding: 3px
    margin-top: 1px !important
    position: relative
    > strong
      border-bottom: 1px solid #e4e4e4
      display: block
      width: 100%%
      font-size: 20px
      padding: 20px 20px 15px 20px

  .views-exposed-widget
    > label
      font-weight: bold
      padding-bottom: 8px
      color: $red
      padding-left: 25px
      background: image_url('toggle-close.png') no-repeat left 1px
      -moz-user-select: none
      -webkit-user-select: none
      -ms-user-select: none
      &:hover
        background: image_url('toggle-close-hover.png') no-repeat left 1px
    &.collapsed
      > label
        background: image_url('toggle-open.png') no-repeat left 2px
        &:hover
          background: image_url('toggle-open-hover.png') no-repeat left 2px
    .views-widget
      display: none
      padding-left: 3px

      .bef-checkboxes label
        font-weight: bold
        font-size: 13px
        text-transform: uppercase

    &:first-child,
    &:nth-child(2n+2)
      width: 50%
      float: left
      padding: 16px 20px 0
    &:first-child
      border-right: 1px solid #e4e4e4
    &:nth-child(2n+2)
      border-left: 1px solid #e4e4e4
      margin-left: -1px
    fieldset
      border: 0 none
      padding: 14px
  .fieldset-wrapper
    padding-left: 8px

  .views-submit-button
    padding: 0 !important
    position: absolute
    bottom: -30px
    left: 50%
    border: 0 none !important
    margin-left: -10px !important
