//////////////////////////
// SEARCH BOX AND FILTERS
//////////////////////////

////////////////
// Search box
////////////////
.gsb-views-exposed-form
  @extend %bg-border-and-box-shadow

.gsb-views-exposed-search
  padding: 18px 24px 24px 24px
  width: 268px
  label
    color: $text-blue
    margin-bottom: 18px
    font-weight: normal
    strong
      display: block
  .views-exposed-form
    .form-item
      margin: 5px 0 0
      float: left
      width: 100%
      margin-right: -45px
      margin-top: 0
    .form-text
      width: 100%
      border: none
      border: 1px #d0d0d0 solid
      background: #e4e4e4
      line-height: 1em
      height: auto
      padding: 6px 50px 6px 10px
      color: $grey-6
      font-size: 16px
    .form-submit
      float: right
      width: 45px
      height: 36px
      .svg .gsb-landing-events &
        height: 48px
      -webkit-border-radius: 0
      -moz-border-radius: 0
      -ms-border-radius: 0
      border-radius: 0
      border: none
      background: transparent
      text-indent: 1000px
      overflow: hidden
      .svg &
        background: image_url("search.svg") no-repeat center
        +breakpoint($bp-tablet-port-max)
          background-size: 200%
        &:hover
          background: image_url("search-hover.svg") no-repeat center
          +breakpoint($bp-tablet-port-max)
            background-size: 200%

      .no-js &, .no-svg &
        background: image_url("search.png") no-repeat center 6px transparent
        &:hover
          background-position: center -27px

  .views-widget-filter-field_search_field_value
    label
      cursor: default

// Main search
#google-appliance-block-form
  +breakpoint($bp-tablet-port)
    float: right
    margin-top: 30px
    padding-right: 20px
  +breakpoint($bp-mobile-max)
    display: none
    left: 55px
    position: absolute
    width: 85%
    z-index: 1
  .form-item
    float: left
    width: 100%
    margin-right: -46px
    margin-top: 0
    margin-bottom: 0
    .form-text
      color: $grey-6
      font-size: 16px
      width: 100%
      border: none
      border: 1px #d0d0d0 solid
      background: #e4e4e4
      line-height: 1em
      padding: 7px 50px 6px 10px
      &:focus
        border-color: #d0d0d0 !important
        box-shadow: none
      .svg &
        padding-right: 40px
      +breakpoint($bp-mobile-max)
        height: 50px
        padding: 15px 50px 15px 10px
      +breakpoint($bp-tablet-port)
        width: 218px

  .form-submit
    display: inline-block
    float: right
    width: 45px
    height: 36px
    background: transparent
    -webkit-border-radius: 0
    -moz-border-radius: 0
    -ms-border-radius: 0
    border-radius: 0
    border: none
    text-indent: 1000px
    overflow: hidden
    .svg &
      background: image_url("search.svg") no-repeat center
      +breakpoint($bp-mobile-max)
        margin-top: 5px
      +breakpoint($bp-tablet-land-max)
        background-size: 170%
      &:hover
        background: image_url("search-hover.svg") no-repeat center
    .no-js &, .no-svg &
      background: image_url("search.png") no-repeat center 6px transparent
      &:hover
        background-position: center -27px

// General search results page search input
#google-appliance-search-form,
#google-appliance-search-form--2
  +clearfix
  max-width: 468px
  .form-item-search-keys
    float: left
    margin: 0 -36px 12px 0
    padding-right: 36px
    width: 100%
  .form-text
    background-color: $white
    border-color: #d3d3d3
    height: 36px
    padding-left: 0.6em

  .form-submit
    text-indent: 1000px
    -webkit-border-radius: 0
    -moz-border-radius: 0
    -ms-border-radius: 0
    border-radius: 0
    border-top-right-radius: 50%
    border-bottom-right-radius: 50%
    border: none
    width: 36px
    height: 36px
    .svg &
      +background(image_url("search-white.svg") no-repeat 60% 47%, $red)
      background-size: 60px
      &:hover
        +background(image_url("search-white.svg") no-repeat 60% 47%, $link-blue)
        background-size: 60px
    .no-js &, .no-svg &
      +background(image_url("search-white.png") no-repeat 11px 11px, $red)
      &:hover
        +background(image_url("search-white.png") no-repeat 11px 11px, $link-blue)

///////////////////
// Search filters
///////////////////

// Filter toggle
.collapsible
  .fieldset-title
    display: inline-block
    &:before
      color: $red
      content: "d"
      font-family: "gsb"
      font-size: 24px
      line-height: 0
      position: relative
      left: -2px
    &:hover
      &:before
        color: $link-blue
  &.collapsed
    .fieldset-title
      &:before
        content: "c"

fieldset.collapsible .fieldset-legend
  display: inline

.js body fieldset.collapsible .fieldset-legend
  background: none
  padding: 0

// Filters
#edit-field-club-category-tid-wrapper,
#edit-field-business-insight-topic-tid-wrapper,
#edit-field-region-tid-wrapper
  padding: 24px

.gsb-views-exposed-filter
  +breakpoint($bp-mobile-max)
    display: none
  legend
    margin-left: 4em
    padding: 0
  fieldset
    border: 0
    margin: 0
    padding: 0
  .fieldset-wrapper
    margin-left: 22.5%

  .form-item
    font-weight: bold
    margin-bottom: 20px
    text-transform: uppercase

  .form-item label
    color: $black
    font-size: 13px
    font-weight: bold
    text-transform: uppercase

  .fieldset-title
    border: none
    font-weight: bold
    font-size: 20px
    line-height: 1em
    color: $red

  .views-widget-filter-term_node_tid_depth_2
    display: inline-block
    float: left
    width: 32.9%
    vertical-align: top
    border-right: 1px solid #e4e4e4
    border-left: 1px solid $white
    &:first-of-type
      border-left: 0
    &:last-of-type,
    &:nth-of-type(3n)
      border-right: 0

#edit-submit-gsb-event
  position: relative
  top: -48px


// ACTIVITIES AND ORGANIZATIONS
// Prevent duplicate container on clubs filter
.inner-main-wrapper .pane-views-exp-club-filters-club-list .gsb-views-exposed-search
  background: none
  border: none
  box-shadow: 0 0 0 #fff
  margin: -2px

// Hide the filter by label in right sidebar
.inner-sidebar-wrapper .pane-views-exp-club-filters-club-list
  .filter-title
    display: none

// Parent class to exposed, collapsible filter
.exposed_filter_widget
  +breakpoint($bp-mobile-max)
    display: none
  //Reset style for case when filter and search are placed in one class
  &.exposed_filter_widget_one_column
    .ajax-progress
      display: none

    .views-exposed-widget
      border: 0 none !important
      width: 100% !important
      > label
        margin-bottom: 6px
    .bef-checkboxes
      > div
        width: 32%
        margin-right: 0
        float: none
        display: inline-block
        vertical-align: top
        padding-left: 20px
        margin-bottom: 14px
        line-height: 1.1
        +breakpoint(1088px max-width)
          width: 100%
        input[type="checkbox"]
          margin-left: -18px


  form.gsb-views-exposed-search
    padding: 0
    width: auto
  > div
    @extend %bg-border-and-box-shadow
    padding: 3px
    margin-top: 1px !important
    position: relative
    > strong,
    .filter-title
      border-bottom: 1px solid #e4e4e4
      display: block
      width: 100%%
      font-size: 20px
      padding: 20px 20px 15px 20px

  .views-exposed-widget
    > label
      font-size: 18px
      font-weight: bold
      padding-bottom: 8px
      color: $red
      padding-left: 25px
      position: relative
      line-height: normal
      height: auto
      -moz-user-select: none
      -webkit-user-select: none
      -ms-user-select: none
      font-family: $font-sans
      &:before
        content: "c"
        font-family: "gsb"
        font-size: 26px
        line-height: 1
        margin-left: -20px
        top: 0px
        position: relative
        padding-right: 5px

      &:hover
        color: $text-blue


    &.collapsed
      > label
        &:before
          content: 'd'


        &:hover
          &:before
            color: $text-blue

    .views-widget
      display: none
      padding-left: 3px

      .bef-checkboxes label
        font-weight: bold
        font-size: 13px
        text-transform: uppercase

    &:first-child,
    &:nth-child(2n+2)
      width: 50%
      float: left
      padding: 16px 20px 0
    &:first-child
      border-right: 1px solid #e4e4e4
    &:nth-child(2n+2)
      border-left: 1px solid #e4e4e4
      margin-left: -1px
    fieldset
      border: 0 none
      padding: 14px
  .fieldset-wrapper
    padding-left: 8px

  .views-submit-button
    padding: 0 !important
    position: absolute
    bottom: -30px
    left: 50%
    border: 0 none !important
    margin-left: -10px !important

// Filter for Events page
#views-exposed-form-gsb-event-event-listing-pane,
#views-exposed-form-gsb-event-event-calendar-pane
  .ajax-progress
    float: right
    position: relative
    right: -90px
    top: -30px
  .views-widget-filter-field_search_field_value
    .form-text
      padding: 14px 50px 15px 10px
    label
      display: none
  .views-exposed-search-wrap
    +breakpoint($bp-mobile-max)
      height: 48px

  .views-exposed-widgets
    position: relative
    @extend %black-border-top
    @extend %bg-grey-gradient
    overflow: hidden
    display: inline-block
    padding: 25px 25px 10px 25px
    width: 100%
    +breakpoint($bp-mobile-min)
      margin-top: -17px
    +breakpoint($bp-mobile-max)
      display: none
    > div
      border-bottom: 1px solid #c4c4c4
      margin-bottom: 15px
      padding-bottom: 15px !important
      &#edit-field-region-tid-wrapper
        padding: 0
      &:last-of-type
        border: 0 none
        margin-bottom: 0
        padding-bottom: 0 !important
      > label
        color: $text-black
        font-weight: normal
        margin: 0 0 5px 0
        cursor: default
    .form-item
      float: none !important
      margin: 0 !important
      padding-bottom: 15px
      line-height: 1.3
      &:last-of-type
        padding-bottom: 0
      input[type="checkbox"]
        float: left
      > label
        text-transform: uppercase
        font-size: 13px
        color: $text-black
        margin: 0
        font-weight: bold
        display: block
        padding-left: 22px
      .bef-toggle
        margin-bottom: 10px
        display: block
        &:hover
          color: $text-blue
          text-decoration: underline
      .not-bef-toggle
        margin-bottom: 10px
        display: block
        &:hover
          color: $text-blue
          text-decoration: underline

// Remove pane container
.page-events
  .gsb-views-exposed-form
    background: none !important
    margin: 0
    -webkit-box-shadow: 0px 0px 0px white
    -moz-box-shadow: 0px 0px 0px white
    box-shadow: 0px 0px 0px white
    border: 0 none
  .gsb-views-exposed-search
    padding: 0

//EXCEPTIONS on Clubs page
.page-stanford-gsb-experience-life-stanford-activities-organizations .narrow-view .pane-views-exp-club-filters-club-list .gsb-views-exposed-search
  @extend %bg-border-and-box-shadow
  label
    font-size: 20px
    line-height: 1.3


///////////////////
// New filter styling
//////////////////

// Faculty, working papers, case study, book listing filters
// @todo generalize this
.view-faculty-filters,
.view-display-id-working_paper_list,
.view-display-id-case_listing,
.view-display-id-book_listing,
.view-display-id-publications_listing
  position: relative
  .ajax-progress-throbber
    position: absolute
    right: 9px
    top: 25px

  // Filters container
  .view-filters
    @extend %black-border-top-small
    background: $grey-f
    margin-bottom: 30px

  // Hide a-z field
  #edit-last-name-wrapper
    display: none

  // Remove old container styling
  .gsb-views-exposed-form
    background: none
    border: 0
    @extend %black-border-top-small
    -moz-box-shadow: none
    -webkit-box-shadow: none
    box-shadow: none
    margin: 0

  // Search field
  .form-item.form-item-search
    margin-top: 0
    margin-bottom: 0
  .views-exposed-search-wrap
    @extend %divider-bottom
    padding: 18px $standard-padding
    position: relative
    +clearfix
    width: 100%
    #edit-search
      height: 36px
      width: 100%
  #edit-search-wrapper
    float: left
    width: 100%
    margin-right: -36px
    padding-right: 36px

  // Search button
  .views-submit-button
    float: left
    width: 36px
  // @todo generalize when all filters are redone
  #edit-submit-faculty-filters,
  #edit-submit-gsb-working-paper-listing,
  #edit-submit-gsb-case-listing,
  #edit-submit-gsb-book-listing,
  #edit-submit-gsb-publications-listing
    text-indent: 1000px
    -webkit-border-radius: 0
    -moz-border-radius: 0
    -ms-border-radius: 0
    border-radius: 0
    border-top-right-radius: 50%
    border-bottom-right-radius: 50%
    border: none
    width: 36px
    height: 36px
    .svg &
      +background(image_url("search-white.svg") no-repeat 60% 47%, $red)
      background-size: 60px
      &:hover
        +background(image_url("search-white.svg") no-repeat 60% 47%, $link-blue)
        background-size: 60px
    .no-js &, .no-svg &
      +background(image_url("search-white.png") no-repeat 11px 11px, $red)
      &:hover
        +background(image_url("search-white.png") no-repeat 11px 11px, $link-blue)

  // Filter section
  .views-widget-filter-secondary
    margin: 18px 0
    // Fieldset title
    legend
      line-height: 1
      margin-left: 0
    .fieldset-wrapper
      margin-left: 26px
      padding-top: 18px
    .fieldset-title
      color: $text-black
      font-family: $font-demi
      font-size: 18px
      font-weight: normal
      line-height: 1
    .form-item
      margin: 0

    #edit-secondary
      height: auto
      padding: 0 $standard-padding
    .form-type-select
      @extend %divider-bottom
      margin-bottom: 18px
      padding-bottom: 18px
      &:last-of-type
        border-bottom: 0
        margin-bottom: 0
        padding-bottom: 0
      label
        color: $text-black
        font-family: $font-demi
        font-size: 16px
        font-weight: normal
        line-height: 1
        margin-bottom: 18px
        text-transform: none
      // Checkboxes in columns
      .bef-checkboxes
        -moz-column-count: 4
        -webkit-column-count: 4
        column-count: 4
      // Checkboxes
      .form-item
        font-weight: normal
        margin-bottom: 12px
        margin-top: 0
        padding-left: 22px
        position: relative
        vertical-align: top
        +clearfix
        label
          color: $text-black
          display: inline-block
          font-family: $font-demi
          font-size: 14px
          font-weight: normal
          line-height: 1.2
          margin-bottom: 0
          margin-right: 0
          text-transform: none
          vertical-align: top
        input
          position: absolute
          left: 0
          top: 2px
