.jquery-selectbox 
  position: relative
  height: 36px
  border: 1px solid #e4e4e4
  width: 286px !important
  z-index: 0
  float: left
  display: inline
  margin: 4px 4px 4px 0
  font-size: 14px
  font-family: $font-demi
  color: #231f20
  padding: 0
  background-color: #fff

  .jquery-selectbox-currentItem 
    padding: 3px 0px 0px 3px
    white-space: nowrap
    padding-left: 12px
    display: block
    overflow: hidden

  .jquery-selectbox-list 
    @extend %box-shadow
    display: none
    position: absolute
    top: 35px
    padding: 2px
    padding-left: 12px
    left: -1px
    width: 286px !important
    height: 120px
    overflow-x: hidden
    overflow-y: auto !important
    z-index: 1000
    border: 1px solid #e4e4e4
    background-color: #fff	

  .jquery-selectbox-moreButton 
    float: right
    height: 34px
    cursor: pointer
    background-color: #fbfaf8
    border-left: 1px solid #e4e4e4
    &:after
      content: "k"
      font-family: "gsb"
      font-weight: bold
      font-size: 20px
      vertical-align: middle
      height: 34px
      padding: 6px
      color: #990000
  
  .jquery-selectbox-item.listelementhover
    background: #6a9d95
    color: #fff

  .jquery-selectbox-item 
    display: block
    cursor: default
	
.jquery-selectbox.selecthover
  //border-color: #e4e4e4
  z-index: 1700


