// Social feed

.twitter-feed
  position: relative
  background: #c1dbd9
  padding: 28px
  top: 0
  +background((image_url('bg-social-feed.png') no-repeat bottom right), #d3eaeb)
  .pane-content
    &:before, &:after
      position: absolute
      
    &:before
      display: block
      content: ''
      width: 41px
      height: 41px
      +border-radius(20px)
      background-color: #c50000
      +background(linear-gradient(bottom, #c50000 0%, #860000 100%))    
      top: 27px
      right: 20px   
    &:after
      //content: image_url("icon-twitter.png")
      color: white
      font-family: "gsb"
      font-size: 24px
      content: "r"
      top: 34px
      right: 28px
  .field-name-field-feed-source
    margin: 0
    color: $red
    font-size: 17px
    font-weight: bold
  .field-name-field-twitter-search
    margin: 0
    color: $red
    font-size: 16px
  .field-name-field-social-twitter-title
    display: none

.tweet
  margin-top: 20px
  a
    border: none
    color: $red
    &:hover
      border: none
      color: $text-blue
      text-decoration: underline
  .time
    margin-top: 7px
    font-size: 13px
    margin-bottom: 0

a
  &.social-block-link
    display: block
    padding-left: 15px
    height: 29px
    border: none
    background: #754760
    color: $white
    font-weight: bold
    line-height: 29px
    &:hover
      display: block
      padding-left: 15px
      height: 29px
      border: none
      background: #754760
      color: $white
      font-weight: bold
      line-height: 29px
  &.social-icon
    display: block
    width: 40px
    height: 41px
    border: none
    background-image: image_url('social-icons.png') no-repeat
    text-indent: -10000px
  &.twitter-icon
    background-position: 0 0
    &:hover
      border: 0
      background-position: 0 -41px

// Hide the actual count on display not edit
.field-name-field-social-display-num .field-item
  display: none
