////////////////////
// SOCIAL FEED FPP
////////////////////
// For the twitter feed on the front page, go to _front.sass

.pane-bundle-social-feed
  @extend %border-and-box-shadow
  padding: $standard-padding
  +background((image_url('bg-social-feed.png') no-repeat bottom right), #d3eaeb)
  a
    color: $red
    &:hover
      color: $text-blue
  // The source, handle and title
  .group-wrapper-twitter
    margin-bottom: 24px
    &:before
      background-color: $red-light
      +background(linear-gradient(bottom, $red-light 0%, $red-dark 100%))
      +border-radius(50px)
      color: $white
      content: "r"
      display: block
      float: right
      font-family: "gsb"
      font-size: 24px
      line-height: 1.5
      width: 40px
      height: 40px
      text-align: center

  // Name
  .field-name-field-feed-source
    font-size: 16px
    line-height: 1.3
    font-weight: bold
    margin: 0
    padding-right: 35px

// Hide the actual count on display not edit
.field-name-field-social-twitter-title,
.field-name-field-social-display-num
  .field-item
    display: none
