///////////////////
// SPOTLIGHT FPP
///////////////////

.pane-bundle-spotlight
  @extend %bg-border-and-box-shadow
  position: relative
  padding: 0 26px 20px 26px
  .spotlight-border
    position: absolute
    top: 0
    left: 25px
    display: block
    width: 95px
    height: 10px
    background: $red
  .feature-spotlight-label
    border-top: 10px solid $red
    color: $text-grey
    font-size: 14px
    display: inline-block
    line-height: 18px
    margin-bottom: 18px
    padding-top: 5px

  // Name styling
  .group-name-wrapper
    color: $black
    a
      color: $red
    .field
      +float-left
      font-size: 20px
      font-weight: bold
      line-height: 26px
      margin-right: 5px


  // Image styling
  .field-name-field-spotlight-person-fid,
  .field-name-field-use-profile-img,
  .field-name-field-file-single-public
    clear: both
    img
      padding-bottom: 12px
    .field-items
      +float-left
      max-width: 100%

  .field-name-field-sections
    display: none

  // Title, program and year
  .field-name-field-title-position-single,
  .field-name-field-program-single,
  .spotlight-year
    font-size: 20px
    line-height: 26px

  .field-name-field-program-single
    display: inline
    margin-right: 0.3em

  .field-name-field-body
    font-size: 14px
    margin: 12px 0
    overflow: hidden
    p
      color: $grey-5
      font-size: 14px
      line-height: 18px
      margin-bottom: 0
  .show-more
    @extend .show-more-button    

  .field-name-field-gsb-spotlight-image-video
    overflow: hidden


// Clearfixes in wide and middle
.full-view,
.wide-view
  .pane-bundle-spotlight
    .group-name-wrapper
      +clearfix
    .gsb-responsive-main,
    .gsb-responsive-preview .file-video,
    .field-name-field-spotlight-person-fid img
      margin-right: 18px

// Clear the image/video on full and wide modes
.full-view,
.wide-view
  .pane-bundle-spotlight
    +clearfix
    +breakpoint(480px max-width)
      .group-name-wrapper
        +pie-clearfix
      .group-name-wrapper,
      .field-name-field-body,
      .field-name-field-title-position-single
        clear: both

// Clearfixes in narrow and faked for middle when there is a sidebar
.narrow-view
  .pane-bundle-spotlight
    .group-name-wrapper
      +pie-clearfix
    .group-name-wrapper,
    .field-name-field-body,
    .field-name-field-title-position-single
      clear: both
