//////////
// VIDEO
//////////

.pane-bundle-video,
.node-gsb-video
  @extend %border-and-box-shadow
  .gsb-responsive-preview
    margin-bottom: 17px
    position: relative
    .content img
      margin: 0 auto
      display: block
  .gsb-responsive-main
    clear: both
    .content div
      margin: 0 auto

// CSS to handle the Preview and Video switching
.field-type-file
  .gsb-responsive-main .file-video
    display: none
    +breakpoint($bp-video)
      display: block
  .gsb-responsive-preview .file-video
    +breakpoint($bp-video)
      display: none

// Fix only for the landing one layout in sidebar
.narrow-view
  .field-type-file
    .gsb-responsive-main .file-video
      display: none
    .gsb-responsive-preview .file-video
      display: block


// Always hide the main video for spotlight, always show preview
.pane-bundle-spotlight
  .gsb-responsive-main .file-video
    display: none !important
  .gsb-responsive-preview .file-video
    display: block !important
  .video-play-icon
    display: none
