//////////
// VIDEO
//////////

.pane-bundle-video,
.node-gsb-video
  .gsb-responsive-preview
    margin-bottom: 17px
    position: relative
    .content img
      display: block
      +breakpoint($bp-mobile-480)
        width: 100%
  .gsb-responsive-main
    clear: both
    .content div
      margin: 0 auto

// VIDEO FPP
.pane-bundle-video
  @extend %bg-border-and-box-shadow
  padding: 24px
  .field-name-field-file-single-public
    .narrow-view &
      margin-left: -26px
      margin-right: -26px
      margin-top: -26px
      +breakpoint($bp-mobile-480)
        margin: 0
    .wide-view &
      margin-left: -24px
      margin-top: -30px
  .field-name-field-title
    color: $text-black
    font-size: 26px
    font-weight: bold
    line-height: 30px
    margin-bottom: 20px
  .field-name-field-body
    font-size: 14px
    line-height: 18px
    margin: 12px 0
    max-width: 600px

// CSS to handle the Preview and Video switching
.field-type-file
  .gsb-responsive-main .file-video
    display: none
    +breakpoint($bp-video)
      display: block
  .gsb-responsive-preview .file-video
    +breakpoint($bp-video)
      display: none

// Fix only for the landing one layout in sidebar
.narrow-view
  .field-type-file
    .gsb-responsive-main .file-video
      display: none
    .gsb-responsive-preview .file-video
      display: block

// Always hide the main video for spotlight and teaser mode of video ct, always show preview
.pane-bundle-spotlight,
.node-gsb-video.view-mode-teaser
  .gsb-responsive-main .file-video
    display: none !important
  .gsb-responsive-preview .file-video
    display: block !important
  .video-play-icon
    display: none
