// video block

.pane-bundle-video,
.node-gsb-video
  @extend %border-and-box-shadow
  .group_content_wrapper
    padding: 16px 26px
  h4
    margin: 0 0 -5px
    font-weight: bold
    text-transform: none
  p,
  .field-type-datetime
    color: $grey-3
    font-size: 15px
    line-height: 1.2em
    margin: 10px 0 0 0
  .field-type-datetime
    color: $grey-6
    font-size: 14px
  .gsb-responsive-preview
    margin-bottom: 17px
    position: relative
    .content img
      margin: 0 auto
      display: block
  .gsb-responsive-main
    clear: both
    .content div
      margin: 0 auto

// CSS to handle the Preview and Video switching
.field-type-file
  .gsb-responsive-main .file-video
    display: none
    +breakpoint($bp-video)
      display: block
  .gsb-responsive-preview .file-video
    +breakpoint($bp-video)
      display: none

// Fix only for the landing one layout in sidebar
.inner-sidebar-wrapper
  .field-type-file
    .gsb-responsive-main .file-video
      display: none
    .gsb-responsive-preview .file-video
      display: block


// Always hide the main video for spotlight, always show preview
.pane-bundle-spotlight
  .gsb-responsive-main .file-video
    display: none !important
  .gsb-responsive-preview .file-video
    display: block !important
  .video-play-icon
    display: none
