/////////////////////
// Teaser listings
// created by views
/////////////////////

// Views listing styling no background
.view-list-teaser,
.view-list-search
  .views-row
    border-bottom: 1px solid #e4e4e4
    min-height: 260px

///////////////////
// Research Paper listing
///////////////////
.view-research-paper-filters
  border-top: 3px solid $black

///////////////////
// BI listing
///////////////////
.view-business-insights-by-tag
  border-top: 3px solid $black
  margin-top: 30px
  +clearfix
  .node-business-insight.node-teaser,
  .node-event.node-teaser
    margin-bottom: 20px

/////////////////////////////////
// Listing with solr fields
/////////////////////////////////
.view-list-search
  // Date
  .views-field-sm-field-date-published-format-month-day
  // Title
  .views-field-label
  // Body
  .views-field-ts-field-body,
  .views-field-sm-field-body-apachesolr
  // Tags
  .views-field-sm-field-tags-apachesolr
