// Teaser listings created by views

// Views listing styling no background
.view-list-teaser
  .views-row
    border-bottom: 1px solid #e4e4e4
    min-height: 260px

// Views listing styling background
.view-club-filters.view-list-teaser
  .view-content
    @extend %border-and-box-shadow

// Research Paper listing
.view-research-paper-filters
  border-top: 3px solid $black

// Business Insights listing
.view-business-insights-by-tag
  border-top: 3px solid $black
  margin-top: 30px
  +clearfix
  .node-business-insight.node-teaser,
  .node-event.node-teaser
    margin-bottom: 20px

// Event listing
.view-gsb-event
  .view-content
    .page-events &
      display: inline-block
      width: 74.4%

    .view-mode-teaser
      padding-top: 1em
      padding-bottom: 1.5em
      +clearfix

    // Day separation
    h5
      display: block
      border-top: 1px solid $black
      padding-top: 1em

    // Event separation
    .views-row
      border-bottom: 1px solid $grey-e
    .views-row-last
      border-bottom: 0
  .view-filters
    @extend %black-border-top
    @extend %bg-grey-gradient
    background-color: $grey-f
    display: inline-block
    vertical-align: top
    width: 20%
    padding: 24px
    label
      font-size: 16px
      font-weight: normal
  .views-exposed-widget
    border-bottom: 1px solid $grey-c
    padding: 0
    margin-bottom: 20px
  .views-widget label.option
    font-size: 13px
    font-weight: bold
    text-transform: uppercase

/////////////////////////////////
// Listing with solr fields
/////////////////////////////////
.view-list-search
  .view-content
    @extend %border-and-box-shadow
  .views-row
    padding: 0 24px
    position: relative
    top: 0
    // Title
    .views-field-label
      font-size: 18px
      font-weight: bold
      line-height: 24px
      margin-bottom: 18px
      padding-top: 20px
      &:before
        content: image_url("tab-club.png")
        position: absolute
        top: -8px
      a
        color: $text-green
        &:after
          content: image_url('external_link.png')
          margin-left: 5px
    // Body
    .views-field-ts-field-body
      font-size: 18px
      line-height: 24px
      margin-bottom: 24px
