/////////////////
// A week in the life page
/////////////////

.group_witl_photo_info,
.group_witl_group_days
  +clearfix
  +breakpoint($bp-mobile-max)
    margin: 0 auto
    max-width: 270px


.group_witl_photo_info
  margin-bottom: 2em
  border: 1px solid $grey-e
  +box-shadow(0px 1px 2px #d4d4d4)
  +breakpoint($bp-mobile-max)
    padding-bottom: 20px
  .field-type-datetime
    margin: 0 !important

  h2
    padding: 30px 0 16px
    border: 0 none

.group_witl_photo_wrap_mba
  position: relative
  .date-display-single
    position: absolute
    bottom: 0px
    right: 0
    background-color: $grey-dark
    color: $white
    text-transform: uppercase
    font-size: 14px
    padding: 10px 27px 3px
    &:before
      content: 'MBA '

.field-name-field-witl-under-photo-facts
  +background(linear-gradient(top, $grey-1, #272727))
  color: $white
  padding: 20px
  +breakpoint($bp-mobile-max)
    margin-bottom: 15px

  .field-item
    font-size: 1em
    line-height: 1.25
    letter-spacing: 0.08em
    margin-bottom: .6em
    padding-left: 1em
    font-family: $font-light
    &:last-of-type
      margin-bottom: 0
    &:before
      content: '•'
      color: #547f97
      margin-right: 0
      position: absolute
      margin-left: -1em

.node-type-week-in-the-life
  #page-title
    display: none
    +breakpoint($bp-mobile-max)
      display: block
      color: $text-blue
      font-family: $font-demi
      font-size: 34px
      font-weight: normal
      line-height: 40px

.node-week-in-the-life
  .field-name-title
    +background(linear-gradient(top, #fbfaf8, #f3f2f2))
    border-bottom: 1px solid #e6e5e5
    margin-bottom: 18px
    +breakpoint($bp-mobile-max)
      display: none


  .field-type-text-long,
  .field-type-datetime
    padding: 0 20px
    color: $text-black

  .field-type-text-long
    margin-bottom: 20px

  .field-type-datetime
    font-weight: bold
    font-size: 18px
    margin-top: 20px

  .group_witl_photo_wrap
    float: left
    margin-right: 3.5%
    width: 31%
    +breakpoint($bp-mobile-max)
      float: none
      margin-right: 0
      width: 100%
    img
      display: block

  .witl-days
    float: left
    width: 31%
    margin-right: 3.5%
    border: 1px solid #e5e5e5
    background-color: $white
    +breakpoint($bp-mobile-max)
      float: none
      margin-bottom: 15px
      margin-right: 0
      width: 100%

    &:last-of-type
      margin-right: 0

    .field-type-list-text
      .field-item
        padding: 0.8em 1em 0.6em

    .field-collection-view
      padding: 0
      margin: 0
      border: 0 none

    .field-collection-container
      border: 0 none
      margin: 0

  .field-type-list-text
    background-color: #607c8c
    color: $white
    font-weight: bold
    text-transform: uppercase

.field-name-field-witl-facts-title
  margin-bottom: 7px
  .field-item
    font-weight: bold

.field-name-field-witl-facts-title,
.field-name-field-witl-facts
  +breakpoint($bp-mobile-max)
    padding: 0 20px

//LISTING PAGE

.group_witl_listing_wrap
  position: relative

.field-name-field-witl-post-mba-goals
  line-height: 1.3
  font-size: 18px


.view-week-in-the-life
  margin-bottom: 20px
  .field-name-title
    color: $red
    font-size: 22px
    +background(linear-gradient(top, #fbfaf8, #f3f2f2))
    border-bottom: 1px solid #e6e5e5
    padding: 23px 20px 13px    
    line-height: 1.25
    a:hover
      color: $text-blue
      
  .field-name-field-year
    font-weight: bold
    margin-top: 0
    padding: 0
    margin: 0
    
  .date-display-single
    position: absolute
    bottom: 0px
    right: -1px
    background-color: $grey-dark
    color: $white
    text-transform: uppercase
    font-size: 14px
    padding: 9px 27px 4px
    &:before
      content: 'MBA '

  .view-header
    p
      font-size: 25px
      line-height: 1.3
      > strong
        color:  $blue-dark
        
  .view-mode-teaser
    padding: 0 0 30px 0
    position: relative
    height: 600px
    background: #fff
    +box-shadow(1px 1px 0px #f3f3f3)
    margin: 0 2px 2px 2px
    border: 1px solid #e3e3e3
      
  .field-name-field-image-single-public
    margin: -1px -1px 0 -1px
    float: none
    img
      vertical-align: top
  .field-name-node-link
    position: absolute
    bottom: 0
    width: 100%
    padding: 0 20px 26px
    a
      background: $teal-dark
      display: block
      padding: 11px 16px 10px
      color: #fff
      font-weight: bold
      &:hover
        background: $purple
      &:before
        content: "\f100"
        float: right
        color: #fff
        font-family: "arrow-double"
        font-size: 26px
        font-weight: normal
        line-height: 0.5
        position: relative
        top: 4px
        right: 2px      
    
  .view-footer
    border: 1px solid #e5e5e5
    padding: 2px
    background: #fff
    p 
      margin: 0
      a
        display: block
        font-weight: bold
        +background(linear-gradient(top, #fbfaf8, #ededed))
        border: 0 none
        color: $red
        padding: 15px 20px 11px
        &:hover
          &:before
            color: $red
        &:before
          content: "\f100"
          float: right
          color: $grey-med
          font-family: "arrow-double"
          font-size: 47px
          font-weight: normal
          line-height: 0.5
          position: relative
          top: -2px
          right: 2px