/////////////////
// A week in the life page
/////////////////

.group_witl_photo_info,
.group_witl_group_days
  +clearfix

.group_witl_photo_info
  margin-bottom: 2em
  border: 1px solid $grey-e

  .field-type-datetime
    margin: 0 !important

  h2
    padding: 30px 0 16px
    border: 0 none

.group_witl_photo_wrap_mba
  position: relative
  .date-display-single
    position: absolute
    bottom: 0
    right: 0
    background-color: $grey-dark
    color: $white
    text-transform: uppercase
    font-size: 14px
    padding: 10px 27px 3px
    &:before
      content: 'MBA '

.field-name-field-witl-under-photo-facts
  +background(linear-gradient(top, $grey-1, #272727))
  color: $white
  padding: 20px

  .field-item
    font-size: .8em
    line-height: 1.25
    margin-bottom: .6em
    padding-left: 1em
    &:last-of-type
      margin-bottom: 0
    &:before
      content: '•'
      color: #547f97
      margin-right: 0
      position: absolute
      margin-left: -1em

.node-type-week-in-the-life
  h1.title
    display: none
    overflow: hidden

.node-week-in-the-life
  .field-name-title
    +background(linear-gradient(top, #fbfaf8, #f3f2f2))
    border-bottom: 1px solid #e6e5e5

  .field-type-text-long,
  .field-type-datetime
    padding: 0 20px
    color: $text-black
    margin: 10px 0

  .field-type-text-long
    //font-size: 14px

  .field-type-datetime
    font-weight: bold
    font-size: 18px
    margin-top: 0

  .group_witl_photo_wrap
    float: left
    margin-right: 3.5%
    width: 31%
    img
      display: block

  .witl-days
    float: left
    width: 31%
    margin-right: 3.5%
    border: 1px solid #e5e5e5
    background-color: $white

    &:last-of-type
      margin-right: 0

    .field-type-list-text
      .field-item
        padding: 0.8em 1em 0.6em

    .field-collection-view
      padding: 0
      margin: 0
      border: 0 none

    .field-collection-container
      border: 0 none
      margin: 0

  .field-type-list-text
    background-color: #607c8c
    color: $white
    font-weight: bold
    text-transform: uppercase

.field-name-field-witl-facts
  .field-item
    &:before
      content: '•'
      color: $text-blue
      margin-right: 5px

.field-name-field-witl-facts-title
  margin-bottom: 7px
  .field-item
    font-weight: bold

.field-name-field-witl-post-mba-goals
  .field-items
    &:before
      content: 'Post Grad Goals:'
      font-weight: bold
