// Detail page shared styles
// Case study, working paper, book and publication detail
.node-working-paper.view-mode-full,
.node-case.view-mode-full,
.node-book.view-mode-full,
.node-publication.view-mode-full
  // Layout
  &.ds-2col > .group-left
    margin-right: -300px
    width: 100%
    +breakpoint(700px max-width)
      margin-right: 0
      margin-bottom: 20px
    +breakpoint($bp-mobile-max)
      border-top: 0
      padding-top: 0
    .group-left-inner
      @extend %black-border-top-small
      margin-right: 300px
      padding-top: 2px
      +breakpoint(700px max-width)
        margin-right: 0
    img
      display: block

  &.ds-2col > .group-right
    float: right
    width: 270px
    +breakpoint(700px max-width)
      float: left

  .label-inline
    font-weight: normal
    &:after
      content: "."
      height: 0
      clear: both
      visibility: hidden

  .field-name-title h2
    color: $text-black
    font-family: $font-demi
    font-size: 28px
    font-weight: normal
    line-height: 1.2
    margin-top: 25px
    padding-bottom: 12px


  // Authors
  .gsb_field_formatter_field_collection_separator
    line-height: 0

  .field-name-field-author,
  .field-name-field-authors,
  .field-collection-item-field-authors
    font-family: $font-demi
    font-size: 18px
    line-height: 1.2
    a
      font-weight: normal
      &:hover
        color: $text-blue

  .group-wrapper-taxonomy,
  .group-wrapper-topics
    h3
      display: none
    font-size: 16px
    line-height: 1.2
    margin-top: 6px
    a
      font-weight: normal
      &:hover
        color: $text-blue

  .field-name-field-year,
  .field-name-field-item-id
    font-size: 16px
    line-height: 1.2

  .field-name-field-description,
  .field-name-field-body
    @extend %p
    margin-bottom: 26px
    margin-top: 16px

  // Faculty author block
  .faculty-author-wrapper
    +author-block

////////////////////////
// Working Paper detail
////////////////////////

// Hide title on detail
.node-type-working-paper
  +page-title

.node-working-paper.view-mode-full

  .field-name-field-item-id
    &:before
      color: $text-black
      content: " | "
      display: inline

  // Authors by inline label
  .gsb_field_formatter_field_collection_separator .label-inline
    font-family: $font-demi
    font-size: 18px
    font-weight: normal
    line-height: 1.2

  .field-name-field-tag
    @extend %divider-bottom
    font-size: 14px
    line-height: 1.2
    padding-bottom: $standard-padding
    span
      font-weight: normal

  .field-name-field-link-document
    @extend %divider-bottom
    font-size: 18px
    line-height: 1.2
    padding: $standard-padding 0
    a
      &:after
        content: "m" !important
        @extend %doc-attached-icons
        font-size: 14px
      @extend %green-button
      &:hover
        +background(linear-gradient(top, #18455f, $text-blue))
