////////////////////
// WYSIWYG Styles
////////////////////

// Intro copy
.intro-copy
  font-size: 24px !important
  line-height: 1.4 !important
  margin-bottom: 15px !important

// Captions
.caption-left
  float: left
  margin: 4px 16px 4px 0
.caption-right
  float: right
  margin: 4px 0 4px 16px

// Callout
div.callout
  float: left
  margin: 0 20px 20px 0
  max-width: 430px
  width: 60%
  color: $teal-dark
  font-size: 22px
  line-height: 28px
  .narrow-view &
    font-size: 18px
    line-height: 28px
    margin: 0
    width: 100%

  br
    line-height: 2em
    vertical-align: top

//Footnote
.footnote
  font-size: 12px
  line-height: 1.2

// WYSIWYG body text
.field-name-field-body
  ul, ol
    margin: 0 0 24px 0
    font-size: 18px
    line-height: 24px
    li
      margin-bottom: 5px
  ul
    position: relative
    left: 0
    text-indent: -1em
    padding-left: 1em
    li:before
      content: "• "
      color: $text-blue
  ol
    padding-left: 26px
  table
    ul, ol
      font-size: 14px
      line-height: 18px
  a
    border-bottom: dashed 1px $text-green
    color: $text-green
    text-decoration: none
    word-wrap: break-word
    &:hover
      color: $link-blue
      border-bottom: solid 1px $link-blue
    &:hover
      border: none
    &[href*="mailto:"]
      &:after
        content: " o"
        font-family: "gsb-email"
        font-size: 13px
        line-height: 0
  img
    vertical-align: top
  // Headers
  h2
    color: $text-black
    font-size: 24px
    line-height: 1.1
    margin: 6px 0 10px 0
  h3
    color: $black
    font-family: $font-demi
    font-size: 20px
    font-weight: normal
    line-height: 1.2
    margin: 3px 0 4px 0
  h4
    color: $black
    font-family: $font-demi
    font-size: 18px
    font-weight: normal
    line-height: 1.2
    margin-bottom: 3px
  h5
    color: $text-blue
    font-size: 17px
    line-height: 1.2
    margin-bottom: 4px
  h2, h3, h4, h5
    a
      color: $text-black
      border: none
      &:after
        color: $green-light
        content: "w"
        font-family: "gsb"
        font-size: 17px
        margin-left: 3px
      &:hover
        border: none
        &:after
          color: $text-blue
  p, ul, ol, table
    &:last-child
      margin-bottom: 0

// WYSIWYG Table
.field-name-field-body
  table
    margin: 20px 0
  caption
    color: $text-blue
    font-family: $font-demi
    font-size: 18px
    line-height: 1em
    margin-bottom: 20px
  thead
    tr th
      background: #d5e7e4
      border-top: 1px solid $teal-light
      padding: 16px 12px
  tbody
    border-bottom: 1px solid $teal-light
    tr
      background: #f5f5f5
      border-top: 1px solid $teal-light
      &:nth-of-type(odd)
        background-color: $white
    tr th
      background: $grey-d
      padding: 16px 12px
    td
      padding: 16px 12px
      a
        color: $text-green
        font-weight: bold
        border-bottom: none
      p
        font-size: 14px
        line-height: 18px

// Styles for the actual wysiwyg body
.cke_show_borders
  table
    td
      border: 1px solid $grey-c
      padding: 3px
