////////////////////
// WYSIWYG Styles
////////////////////

// Intro copy
.intro-copy
  font-size: 20px !important
  font-weight: bold
  line-height: 24px !important

// Inset images with captions
.caption-right,
.caption-left
  background: #f4eede
  display: inline-block
  margin: 2px 0 15px 0
  max-width: 100%
  img
    display: block
    line-height: 0 !important
  .caption-text
    color: $grey-dark
    font-size: 14px
    line-height: 18px
    margin-bottom: 0
    padding: 20px

.caption-left
  float: left
  margin-right: 30px
.caption-right
  float: right
  margin-left: 30px
  
.image-float-left
  float: left
  margin-right: 30px
  margin-bottom: 15px
  display: inline-block
.image-float-right
  float: right
  margin-left: 30px  
  margin-bottom: 15px
  display: inline-block  

// Callout
div.callout
  float: left
  margin: 0 20px 20px 0
  max-width: 430px
  width: 60%
  color: $teal-dark
  font-size: 22px
  line-height: 28px
  .narrow-view &
    font-size: 20px
    line-height: 24px
    width: 100%
  +breakpoint($bp-mobile-max)
    font-size: 20px
    line-height: 24px
    width: 100%
  &:after
    display: block
    content: image_url("tab-club.jpg")
  .pane-bundle-text &
    margin-top: 20px

  br
    line-height: 2em
    vertical-align: top


// Custom list
.field-name-field-body
  ul, ol
    margin: 0 0 24px 0
    font-size: 18px
    line-height: 24px
    li
      padding-bottom: 5px
  ul
    position: relative
    left: 0
    text-indent: -1em
    padding-left: 1em
    li:before
      content: "• "
      color: $text-blue
  ol
    padding-left: 26px
  table
    ul, ol
      font-size: 14px
      line-height: 18px
  a
    border-bottom: dashed 1px $text-green
    color: $text-green
    text-decoration: none
    word-wrap: break-word
    &:hover
      color: $link-blue
      border-bottom: solid 1px $link-blue
    &:hover
      border: none
  img
    vertical-align: top
  // Headers
  h2
    font-size: 28px
    line-height: 32px
    color: $text-black
    padding: 14px 0 8px 0
  h3
    font-size: 20px
    line-height: 24px
    padding-bottom: 5px
  h4
    color: $text-black
    font-size: 18px
    font-style: bold
    line-height: 1.2em
    padding-bottom: 3px
  h2 a, h3 a, h4 a
    color: $text-black
    border: none
    &:after
      color: $green-light
      content: "w"
      font-family: "gsb"
      margin-left: 3px
      font-size: 17px
    &:hover
      border: none
      &:after
        color: $text-blue
  // Clearing the float
  .pane-bundle-text &
    overflow: hidden

// WYSIWYG Table
.field-name-field-body
  table
    margin: 20px 0

  caption
    color: $text-blue
    font-family: $font-demi
    font-size: 18px
    line-height: 1em
    margin-bottom: 20px
  thead
    tr th
      padding: 16px 12px

  tbody
    border-bottom: 1px solid $teal-light
    tr
      background: #f5f5f5
      border-top: 1px solid $teal-light
      &:nth-of-type(odd)
        background-color: $white
    tr th
      background: #d5e7e4
      padding: 16px 12px
    td
      padding: 16px 12px
      a
        color: $text-green
        font-weight: bold
      p
        font-size: 14px
        line-height: 18px

// styles for the actual wysiwyg body
.cke_show_borders
  table
    td
      border: 1px solid #ccc
      padding: 3px
