.pane-bundle-accordion {
  background: white;
}

.pane-bundle-accordion h2.pane-title {
  border-bottom: 1px lightgray solid;
}

.pane-bundle-accordion {
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  margin: 1px;
}

.pane-bundle-accordion {
  padding: 10px 26px;
}
.pane-bundle-accordion h2.pane-title {
  color: #231f20;
  font-family: "NewsGothicBT", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 22px;
  font-weight: bold;
  line-height: 1.2;
  margin-top: 10px;
  padding-bottom: 18px;
}
.pane-bundle-accordion .field-collection-item-field-accordion-item:first-of-type .acc-title {
  border-top: 0;
}
