/*
Syntax error: Undefined mixin 'background'.
        on line 10 of /Users/mpalagyi/www/revamp/profiles/gsb_public/themes/gsb_theme/sass/conditionals/fpps/cta-homepage.sass, in `background'
        from line 10 of /Users/mpalagyi/www/revamp/profiles/gsb_public/themes/gsb_theme/sass/conditionals/fpps/cta-homepage.sass

Backtrace:
/Users/mpalagyi/www/revamp/profiles/gsb_public/themes/gsb_theme/sass/conditionals/fpps/cta-homepage.sass:10:in `background'
/Users/mpalagyi/www/revamp/profiles/gsb_public/themes/gsb_theme/sass/conditionals/fpps/cta-homepage.sass:10
/Users/mpalagyi/.gem/ruby/2.0.0/gems/sass-3.3.0.rc.2/lib/sass/tree/visitors/perform.rb:325:in `block in visit_mixin'
/Users/mpalagyi/.gem/ruby/2.0.0/gems/sass-3.3.0.rc.2/lib/sass/stack.rb:98:in `block in with_mixin'
/Users/mpalagyi/.gem/ruby/2.0.0/gems/sass-3.3.0.rc.2/lib/sass/stack.rb:115:in `with_frame'
/Users/mpalagyi/.gem/ruby/2.0.0/gems/sass-3.3.0.rc.2/lib/sass/stack.rb:98:in `with_mixin'
/Users/mpalagyi/.gem/ruby/2.0.0/gems/sass-3.3.0.rc.2/lib/sass/tree/visitors/perform.rb:323:in `visit_mixin'
/Users/mpalagyi/.gem/ruby/2.0.0/gems/sass-3.3.0.rc.2/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/mpalagyi/.gem/ruby/2.0.0/gems/sass-3.3.0.rc.2/lib/sass/tree/visitors/perform.rb:153:in `block in visit'
/Users/mpalagyi/.gem/ruby/2.0.0/gems/sass-3.3.0.rc.2/lib/sass/stack.rb:79:in `block in with_base'
/Users/mpalagyi/.gem/ruby/2.0.0/gems/sass-3.3.0.rc.2/lib/sass/stack.rb:115:in `with_frame'
/Users/mpalagyi/.gem/ruby/2.0.0/gems/sass-3.3.0.rc.2/lib/sass/stack.rb:79:in `with_base'
/Users/mpalagyi/.gem/ruby/2.0.0/gems/sass-3.3.0.rc.2/lib/sass/tree/visitors/perform.rb:153:in `visit'
/Users/mpalagyi/.gem/ruby/2.0.0/gems/sass-3.3.0.rc.2/lib/sass/tree/visitors/perform.rb:396:in `block (2 levels) in visit_rule'
/Users/mpalagyi/.gem/ruby/2.0.0/gems/sass-3.3.0.rc.2/lib/sass/tree/visitors/perform.rb:396:in `map'
/Users/mpalagyi/.gem/ruby/2.0.0/gems/sass-3.3.0.rc.2/lib/sass/tree/visitors/perform.rb:396:in `block in visit_rule'
/Users/mpalagyi/.gem/ruby/2.0.0/gems/sass-3.3.0.rc.2/lib/sass/tree/visitors/perform.rb:174:in `with_environment'
/Users/mpalagyi/.gem/ruby/2.0.0/gems/sass-3.3.0.rc.2/lib/sass/tree/visitors/perform.rb:394:in `visit_rule'
/Users/mpalagyi/.gem/ruby/2.0.0/gems/sass-3.3.0.rc.2/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/mpalagyi/.gem/ruby/2.0.0/gems/sass-3.3.0.rc.2/lib/sass/tree/visitors/perform.rb:153:in `block in visit'
/Users/mpalagyi/.gem/ruby/2.0.0/gems/sass-3.3.0.rc.2/lib/sass/stack.rb:79:in `block in with_base'
/Users/mpalagyi/.gem/ruby/2.0.0/gems/sass-3.3.0.rc.2/lib/sass/stack.rb:115:in `with_frame'
/Users/mpalagyi/.gem/ruby/2.0.0/gems/sass-3.3.0.rc.2/lib/sass/stack.rb:79:in `with_base'
/Users/mpalagyi/.gem/ruby/2.0.0/gems/sass-3.3.0.rc.2/lib/sass/tree/visitors/perform.rb:153:in `visit'
/Users/mpalagyi/.gem/ruby/2.0.0/gems/sass-3.3.0.rc.2/lib/sass/tree/visitors/perform.rb:396:in `block (2 levels) in visit_rule'
/Users/mpalagyi/.gem/ruby/2.0.0/gems/sass-3.3.0.rc.2/lib/sass/tree/visitors/perform.rb:396:in `map'
/Users/mpalagyi/.gem/ruby/2.0.0/gems/sass-3.3.0.rc.2/lib/sass/tree/visitors/perform.rb:396:in `block in visit_rule'
/Users/mpalagyi/.gem/ruby/2.0.0/gems/sass-3.3.0.rc.2/lib/sass/tree/visitors/perform.rb:174:in `with_environment'
/Users/mpalagyi/.gem/ruby/2.0.0/gems/sass-3.3.0.rc.2/lib/sass/tree/visitors/perform.rb:394:in `visit_rule'
/Users/mpalagyi/.gem/ruby/2.0.0/gems/sass-3.3.0.rc.2/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/mpalagyi/.gem/ruby/2.0.0/gems/sass-3.3.0.rc.2/lib/sass/tree/visitors/perform.rb:153:in `block in visit'
/Users/mpalagyi/.gem/ruby/2.0.0/gems/sass-3.3.0.rc.2/lib/sass/stack.rb:79:in `block in with_base'
/Users/mpalagyi/.gem/ruby/2.0.0/gems/sass-3.3.0.rc.2/lib/sass/stack.rb:115:in `with_frame'
/Users/mpalagyi/.gem/ruby/2.0.0/gems/sass-3.3.0.rc.2/lib/sass/stack.rb:79:in `with_base'
/Users/mpalagyi/.gem/ruby/2.0.0/gems/sass-3.3.0.rc.2/lib/sass/tree/visitors/perform.rb:153:in `visit'
/Users/mpalagyi/.gem/ruby/2.0.0/gems/sass-3.3.0.rc.2/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/mpalagyi/.gem/ruby/2.0.0/gems/sass-3.3.0.rc.2/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/mpalagyi/.gem/ruby/2.0.0/gems/sass-3.3.0.rc.2/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/mpalagyi/.gem/ruby/2.0.0/gems/sass-3.3.0.rc.2/lib/sass/tree/visitors/perform.rb:162:in `block in visit_children'
/Users/mpalagyi/.gem/ruby/2.0.0/gems/sass-3.3.0.rc.2/lib/sass/tree/visitors/perform.rb:174:in `with_environment'
/Users/mpalagyi/.gem/ruby/2.0.0/gems/sass-3.3.0.rc.2/lib/sass/tree/visitors/perform.rb:161:in `visit_children'
/Users/mpalagyi/.gem/ruby/2.0.0/gems/sass-3.3.0.rc.2/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/mpalagyi/.gem/ruby/2.0.0/gems/sass-3.3.0.rc.2/lib/sass/tree/visitors/perform.rb:181:in `visit_root'
/Users/mpalagyi/.gem/ruby/2.0.0/gems/sass-3.3.0.rc.2/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/mpalagyi/.gem/ruby/2.0.0/gems/sass-3.3.0.rc.2/lib/sass/tree/visitors/perform.rb:152:in `visit'
/Users/mpalagyi/.gem/ruby/2.0.0/gems/sass-3.3.0.rc.2/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/mpalagyi/.gem/ruby/2.0.0/gems/sass-3.3.0.rc.2/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/mpalagyi/.gem/ruby/2.0.0/gems/sass-3.3.0.rc.2/lib/sass/tree/root_node.rb:20:in `render'
/Users/mpalagyi/.gem/ruby/2.0.0/gems/sass-3.3.0.rc.2/lib/sass/engine.rb:275:in `render'
/Users/mpalagyi/.gem/ruby/2.0.0/gems/compass-1.0.0.alpha.17/lib/compass/compiler.rb:171:in `block (2 levels) in compile'
/Users/mpalagyi/.gem/ruby/2.0.0/gems/compass-1.0.0.alpha.17/lib/compass/compiler.rb:153:in `timed'
/Users/mpalagyi/.gem/ruby/2.0.0/gems/compass-1.0.0.alpha.17/lib/compass/compiler.rb:166:in `block in compile'
/Users/mpalagyi/.gem/ruby/2.0.0/gems/compass-1.0.0.alpha.17/lib/compass/logger.rb:46:in `red'
/Users/mpalagyi/.gem/ruby/2.0.0/gems/compass-1.0.0.alpha.17/lib/compass/compiler.rb:165:in `compile'
/Users/mpalagyi/.gem/ruby/2.0.0/gems/compass-1.0.0.alpha.17/lib/compass/compiler.rb:144:in `compile_if_required'
/Users/mpalagyi/.gem/ruby/2.0.0/gems/compass-1.0.0.alpha.17/lib/compass/compiler.rb:129:in `block (2 levels) in run'
/Users/mpalagyi/.gem/ruby/2.0.0/gems/compass-1.0.0.alpha.17/lib/compass/compiler.rb:127:in `each'
/Users/mpalagyi/.gem/ruby/2.0.0/gems/compass-1.0.0.alpha.17/lib/compass/compiler.rb:127:in `block in run'
/Users/mpalagyi/.gem/ruby/2.0.0/gems/compass-1.0.0.alpha.17/lib/compass/compiler.rb:153:in `timed'
/Users/mpalagyi/.gem/ruby/2.0.0/gems/compass-1.0.0.alpha.17/lib/compass/compiler.rb:126:in `run'
/Users/mpalagyi/.gem/ruby/2.0.0/gems/compass-1.0.0.alpha.17/lib/compass/watcher/compiler.rb:24:in `compile'
/Users/mpalagyi/.rubies/ruby-2.0.0-p353/lib/ruby/2.0.0/forwardable.rb:171:in `compile'
/Users/mpalagyi/.gem/ruby/2.0.0/gems/compass-1.0.0.alpha.17/lib/compass/watcher/project_watcher.rb:100:in `sass_added'
/Users/mpalagyi/.gem/ruby/2.0.0/gems/compass-1.0.0.alpha.17/lib/compass/watcher/project_watcher.rb:85:in `sass_callback'
/Users/mpalagyi/.gem/ruby/2.0.0/gems/compass-1.0.0.alpha.17/lib/compass/watcher/watch.rb:14:in `call'
/Users/mpalagyi/.gem/ruby/2.0.0/gems/compass-1.0.0.alpha.17/lib/compass/watcher/watch.rb:14:in `run_callback'
/Users/mpalagyi/.gem/ruby/2.0.0/gems/compass-1.0.0.alpha.17/lib/compass/watcher/project_watcher.rb:63:in `block in listen_callback'
/Users/mpalagyi/.gem/ruby/2.0.0/gems/compass-1.0.0.alpha.17/lib/compass/watcher/project_watcher.rb:60:in `each'
/Users/mpalagyi/.gem/ruby/2.0.0/gems/compass-1.0.0.alpha.17/lib/compass/watcher/project_watcher.rb:60:in `listen_callback'
/Users/mpalagyi/.gem/ruby/2.0.0/gems/listen-1.1.6/lib/listen/listener.rb:236:in `call'
/Users/mpalagyi/.gem/ruby/2.0.0/gems/listen-1.1.6/lib/listen/listener.rb:236:in `on_change'
/Users/mpalagyi/.gem/ruby/2.0.0/gems/listen-1.1.6/lib/listen/listener.rb:271:in `block in initialize_adapter'
/Users/mpalagyi/.gem/ruby/2.0.0/gems/listen-1.1.6/lib/listen/adapter.rb:244:in `call'
/Users/mpalagyi/.gem/ruby/2.0.0/gems/listen-1.1.6/lib/listen/adapter.rb:244:in `report_changes'
/Users/mpalagyi/.gem/ruby/2.0.0/gems/listen-1.1.6/lib/listen/adapter.rb:313:in `poll_changed_directories'
/Users/mpalagyi/.gem/ruby/2.0.0/gems/listen-1.1.6/lib/listen/adapter.rb:289:in `block in start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined mixin 'background'.\A         on line 10 of /Users/mpalagyi/www/revamp/profiles/gsb_public/themes/gsb_theme/sass/conditionals/fpps/cta-homepage.sass, in `background'\A         from line 10 of /Users/mpalagyi/www/revamp/profiles/gsb_public/themes/gsb_theme/sass/conditionals/fpps/cta-homepage.sass"; }
