.cta-red-gradient a:after, .cta-green a:after,
.cta-green a[target="_blank"]:after, .cta-red a:after,
.cta-red a[target="_blank"]:after {
  font-size: 21px;
  font-weight: normal;
  line-height: 0;
  margin-top: -10px;
  position: absolute;
  right: 12px;
  top: 50%;
}

.cta-red-gradient a:after {
  font-size: 16px;
  margin-right: 14px;
  margin-top: -8px;
  right: 0;
}

.cta-green, .cta-red .field-item {
  background: white;
}

.cta-green, .cta-red .field-item {
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  margin: 1px;
}

.pane-bundle-cta {
  margin: 0 auto;
  max-width: 408px;
  min-width: 270px;
}

.supermenu-row .cta-wrapper {
  margin-bottom: 16px;
}

.cta-wrapper {
  margin: 1px 1px 8px 1px;
}
.cta-wrapper a {
  display: block;
}

.cta-link {
  font-size: 16px;
  line-height: 1.2;
  padding: 16px 36px 16px 26px;
  position: relative;
}
.cta-link span {
  margin-right: 5px;
}

.cta-action {
  line-height: 1;
  vertical-align: text-top;
}

.cta-red-gradient .field-item,
.cta-red .field-item,
.cta-green .field-item {
  line-height: 1;
}
.cta-red-gradient a[href*="mailto:"],
.cta-red a[href*="mailto:"],
.cta-green a[href*="mailto:"] {
  padding-right: 38px;
  padding-left: 55px;
  position: relative;
}
.cta-red-gradient a[href*="mailto:"]:before,
.cta-red a[href*="mailto:"]:before,
.cta-green a[href*="mailto:"]:before {
  content: "\f111";
  display: inline;
  speak: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-transform: none;
  line-height: 1;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'icons';
}
.cta-red-gradient a[href*="mailto:"]:before,
.cta-red a[href*="mailto:"]:before,
.cta-green a[href*="mailto:"]:before {
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  color: white;
  font-size: 10px;
  height: 28px;
  line-height: 2.8;
  position: absolute;
  left: 15px;
  top: 20%;
  text-align: center;
  width: 28px;
}

.cta-red-gradient a[href*="mailto:"]:before {
  font-size: 13px;
  line-height: 2;
  width: 39px;
}

.cta-red a[href*="mailto:"]:before {
  background: #990000;
}
.cta-red a[href*="mailto:"]:hover:before {
  background: #2d6280;
}

.cta-green a[href*="mailto:"]:before {
  background: #636f00;
}
.cta-green a[href*="mailto:"]:hover:before {
  background: #2d6280;
}

.cta-green .field-item {
  border-bottom: 1px solid #cccccc;
  border-top: 1px solid white;
}
.cta-green .field-item:first-of-type {
  border-top: 0;
}
.cta-green .field-item:last-of-type {
  border-bottom: 0;
}
.cta-green a,
.cta-green a[target="_blank"] {
  color: #636f00;
  position: relative;
}
.cta-green a:after,
.cta-green a[target="_blank"]:after {
  content: "\f101";
  display: inline;
  speak: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-transform: none;
  line-height: 1;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'icons';
}
.cta-green a:after,
.cta-green a[target="_blank"]:after {
  color: #e3e3e3;
}
.cta-green a[href$=".pdf"]:after {
  color: #636f00;
}
.cta-green .field-item:hover a {
  color: #2d6280;
}
.cta-green .field-item:hover a:after {
  color: #aac4bf;
}

.cta-red .field-item {
  color: #c2b7a1;
  margin-bottom: 5px;
}
.cta-red a,
.cta-red a[target="_blank"] {
  position: relative;
}
.cta-red a:after,
.cta-red a[target="_blank"]:after {
  content: "\f101";
  display: inline;
  speak: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-transform: none;
  line-height: 1;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'icons';
}
.cta-red a:after,
.cta-red a[target="_blank"]:after {
  color: #e3e3e3;
}
.cta-red a:hover:after,
.cta-red a[target="_blank"]:hover:after {
  color: #aac4bf;
}
.cta-red a[href$=".pdf"]:after {
  color: #990000;
}
.cta-red a[href$=".pdf"]:hover:after {
  color: #aac4bf;
}

.cta-red-gradient .field-item {
  -moz-box-shadow: black, 0.45, 1px 1px 1px;
  -webkit-box-shadow: black, 0.45, 1px 1px 1px;
  box-shadow: black, 0.45, 1px 1px 1px;
  border: 0;
  color: white;
  margin-bottom: 4px;
  position: relative;
}
.cta-red-gradient a {
  color: white;
  font-family: "NewsGothicBT-Demi", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-bottom: 14px;
  position: relative;
  background: #c50000;
}
.cta-red-gradient a[target="_blank"]:after {
  font-size: 16px;
}
.cta-red-gradient a:after {
  content: "\f101";
  display: inline;
  speak: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-transform: none;
  line-height: 1;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'icons';
}
.cta-red-gradient a:after {
  color: white;
}
.cta-red-gradient a b {
  font-weight: normal;
}
.cta-red-gradient a:hover {
  color: white;
  background: #2c627c;
  background: -moz-linear-gradient(#194560, #2c6180);
  background: -o-linear-gradient(#194560, #2c6180);
  background: -webkit-linear-gradient(#194560, #2c6180);
  background: linear-gradient(#194560, #2c6180);
}
.cta-red-gradient a:hover a:after {
  color: white;
}
.cta-red-gradient .item-0 {
  background: -moz-linear-gradient(#860000, #8f0000);
  background: -o-linear-gradient(#860000, #8f0000);
  background: -webkit-linear-gradient(#860000, #8f0000);
  background: linear-gradient(#860000, #8f0000);
}
.cta-red-gradient .item-1 {
  background: -moz-linear-gradient(#900000, #9d0000);
  background: -o-linear-gradient(#900000, #9d0000);
  background: -webkit-linear-gradient(#900000, #9d0000);
  background: linear-gradient(#900000, #9d0000);
}
.cta-red-gradient .item-2 {
  background: -moz-linear-gradient(#9e0000, #ac0000);
  background: -o-linear-gradient(#9e0000, #ac0000);
  background: -webkit-linear-gradient(#9e0000, #ac0000);
  background: linear-gradient(#9e0000, #ac0000);
}
.cta-red-gradient .item-3 {
  background: -moz-linear-gradient(#ae0000, #bb0000);
  background: -o-linear-gradient(#ae0000, #bb0000);
  background: -webkit-linear-gradient(#ae0000, #bb0000);
  background: linear-gradient(#ae0000, #bb0000);
}
.cta-red-gradient .item-4 {
  background: -moz-linear-gradient(#bc0000, #c50000);
  background: -o-linear-gradient(#bc0000, #c50000);
  background: -webkit-linear-gradient(#bc0000, #c50000);
  background: linear-gradient(#bc0000, #c50000);
}
.cta-red-gradient .item-0:hover,
.cta-red-gradient .item-1:hover,
.cta-red-gradient .item-2:hover,
.cta-red-gradient .item-3:hover,
.cta-red-gradient .item-4:hover {
  background: #2c627c;
  background: -moz-linear-gradient(#194560, #2c6180);
  background: -o-linear-gradient(#194560, #2c6180);
  background: -webkit-linear-gradient(#194560, #2c6180);
  background: linear-gradient(#194560, #2c6180);
}
