.pane-bundle-diptych .group-left .field-type-link-field a:after, .pane-bundle-diptych .group-right .field-type-link-field a:after {
  font-size: 21px;
  font-weight: normal;
  line-height: 0;
  margin-top: -10px;
  position: absolute;
  right: 12px;
  top: 50%;
}

.pane-bundle-diptych .group-left .field-type-link-field a:after, .pane-bundle-diptych .group-right .field-type-link-field a:after {
  font-size: 16px;
  margin-right: 14px;
  margin-top: -8px;
  right: 0;
}

.pane-bundle-diptych .group-left .field-type-link-field a {
  background: #538b80;
  color: white;
  display: block;
  font-family: "NewsGothicBT-Demi", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2;
  padding: 14px 36px 11px 26px;
  position: relative;
  text-align: left;
}
.pane-bundle-diptych .group-left .field-type-link-field a:after {
  content: "\f101";
  display: inline;
  speak: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-transform: none;
  line-height: 1;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'icons';
}
.pane-bundle-diptych .group-left .field-type-link-field a:after {
  color: white;
}
.pane-bundle-diptych .group-left .field-type-link-field a:hover {
  background: #2d6280;
  color: white;
}
.pane-bundle-diptych .group-left .field-type-link-field a:hover:after {
  color: white;
}

.pane-bundle-diptych {
  margin-bottom: 30px;
  background: -moz-linear-gradient(top, #1b1b1b, #272727);
  background: -o-linear-gradient(top, #1b1b1b, #272727);
  background: -webkit-linear-gradient(top, #1b1b1b, #272727);
  background: linear-gradient(to bottom, #1b1b1b, #272727);
  position: relative;
  overflow: hidden;
  *zoom: 1;
}
.pane-bundle-diptych .ds-2col > .group-left {
  width: 69%;
}
.pane-bundle-diptych .ds-2col > .group-right {
  width: 31%;
  float: right;
}
.pane-bundle-diptych .ds-2col.diptych-blue .group-left .field-type-image .field-item:after {
  background: -moz-linear-gradient(top, rgba(45, 98, 128, 0) 0%, rgba(45, 98, 128, 0) 35%, #2d6280 85%);
  background: -o-linear-gradient(top, rgba(45, 98, 128, 0) 0%, rgba(45, 98, 128, 0) 35%, #2d6280 85%);
  background: -webkit-linear-gradient(top, rgba(45, 98, 128, 0) 0%, rgba(45, 98, 128, 0) 35%, #2d6280 85%);
  background: linear-gradient(to bottom, rgba(45, 98, 128, 0) 0%, rgba(45, 98, 128, 0) 35%, #2d6280 85%);
}
@media (max-width: 30em) {
  .pane-bundle-diptych .ds-2col.diptych-blue .group-left .field-type-image .field-item:after {
    background: transparent;
  }
}
@media (max-width: 30em) {
  .pane-bundle-diptych .ds-2col.diptych-blue .group-left {
    background: -moz-linear-gradient(top, rgba(45, 98, 128, 0) 0%, rgba(45, 98, 128, 0) 35%, #2d6280 85%);
    background: -o-linear-gradient(top, rgba(45, 98, 128, 0) 0%, rgba(45, 98, 128, 0) 35%, #2d6280 85%);
    background: -webkit-linear-gradient(top, rgba(45, 98, 128, 0) 0%, rgba(45, 98, 128, 0) 35%, #2d6280 85%);
    background: linear-gradient(to bottom, rgba(45, 98, 128, 0) 0%, rgba(45, 98, 128, 0) 35%, #2d6280 85%);
  }
}
.pane-bundle-diptych .ds-2col.diptych-purple .group-left .field-type-image .field-item:after {
  background: -moz-linear-gradient(top, rgba(117, 71, 96, 0) 0%, rgba(117, 71, 96, 0) 35%, #754760 85%);
  background: -o-linear-gradient(top, rgba(117, 71, 96, 0) 0%, rgba(117, 71, 96, 0) 35%, #754760 85%);
  background: -webkit-linear-gradient(top, rgba(117, 71, 96, 0) 0%, rgba(117, 71, 96, 0) 35%, #754760 85%);
  background: linear-gradient(to bottom, rgba(117, 71, 96, 0) 0%, rgba(117, 71, 96, 0) 35%, #754760 85%);
}
@media (max-width: 30em) {
  .pane-bundle-diptych .ds-2col.diptych-purple .group-left .field-type-image .field-item:after {
    background: transparent;
  }
}
@media (max-width: 30em) {
  .pane-bundle-diptych .ds-2col.diptych-purple .group-left {
    background: -moz-linear-gradient(top, rgba(117, 71, 96, 0) 0%, rgba(117, 71, 96, 0) 35%, #754760 85%);
    background: -o-linear-gradient(top, rgba(117, 71, 96, 0) 0%, rgba(117, 71, 96, 0) 35%, #754760 85%);
    background: -webkit-linear-gradient(top, rgba(117, 71, 96, 0) 0%, rgba(117, 71, 96, 0) 35%, #754760 85%);
    background: linear-gradient(to bottom, rgba(117, 71, 96, 0) 0%, rgba(117, 71, 96, 0) 35%, #754760 85%);
  }
}
.pane-bundle-diptych .gsb-image-video-popup {
  margin-right: 0;
}
.pane-bundle-diptych .group-left, .pane-bundle-diptych .group-right {
  padding: 0 26px;
}
.pane-bundle-diptych .group-left .field-type-image, .pane-bundle-diptych .group-left .field-type-file, .pane-bundle-diptych .group-right .field-type-image, .pane-bundle-diptych .group-right .field-type-file {
  margin: 0 -26px;
}
.pane-bundle-diptych .field-type-link-field a {
  display: block;
  max-width: 240px;
}
.pane-bundle-diptych .group-right .group-diptych-txt-block {
  margin-top: 20px;
}
.pane-bundle-diptych .group-right .gsb-responsive-main {
  display: none;
  visibility: hidden;
}
.pane-bundle-diptych .group-right .gsb-responsive-preview .file-video {
  display: block;
}
.pane-bundle-diptych .group-right .field-type-text-long {
  color: white;
  font-size: 18px;
  line-height: 1.3;
  margin-bottom: 15px;
}
@media (max-width: 30em) {
  .pane-bundle-diptych .group-right .field-type-text-long {
    margin-top: 15px;
  }
}
.pane-bundle-diptych .group-right .field-type-link-field a {
  background-color: #1b1b1b;
  color: #63acd5;
  display: block;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.2;
  padding: 14px 40px 14px 26px;
  position: relative;
}
.pane-bundle-diptych .group-right .field-type-link-field a:after {
  content: "\f101";
  display: inline;
  speak: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-transform: none;
  line-height: 1;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'icons';
}
.pane-bundle-diptych .group-right .field-type-link-field a:after {
  color: #2d6280;
}
.pane-bundle-diptych .group-right .field-type-link-field a:hover {
  background-color: #2d6280;
  color: white;
}
.pane-bundle-diptych .group-right .field-type-link-field a:hover:after {
  color: white;
}
.pane-bundle-diptych .group-left {
  position: relative;
}
.pane-bundle-diptych .group-left .field-type-image .field-item {
  position: relative;
}
.pane-bundle-diptych .group-left .field-type-image .field-item:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.pane-bundle-diptych .group-left .diptych-txt-block {
  position: absolute;
  bottom: 26px;
  padding-right: 26px;
}
@media (max-width: 30em) {
  .pane-bundle-diptych .group-left .diptych-txt-block {
    position: inherit;
    bottom: auto;
    margin: 15px 0 26px 0;
    padding-right: 0;
  }
}
.pane-bundle-diptych .group-left .field-type-text-long,
.pane-bundle-diptych .group-left .field-type-link-field {
  color: white;
}
.pane-bundle-diptych .group-left .field-type-text-long {
  font-size: 26px;
  line-height: 1.3;
  margin-bottom: 15px;
}
@media (max-width: 35.5em) {
  .pane-bundle-diptych .group-left .field-type-text-long {
    font-size: 22px;
  }
}
@media (max-width: 30em) {
  .pane-bundle-diptych .group-left .field-type-text-long {
    font-size: 18px;
  }
}
.pane-bundle-diptych .group-left .field-type-link-field {
  line-height: 0;
}
.pane-bundle-diptych .group-left .field-type-link-field a {
  font-weight: bold;
}

.wide-view .pane-bundle-diptych .ds-2col > .group-left {
  width: 100%;
}
.wide-view .pane-bundle-diptych .ds-2col > .group-right {
  width: 100%;
  padding: 26px;
}
.wide-view .pane-bundle-diptych .ds-2col > .group-right .field-type-file,
.wide-view .pane-bundle-diptych .ds-2col > .group-right .group-diptych-txt-block {
  display: block;
  float: left;
}
.wide-view .pane-bundle-diptych .ds-2col > .group-right .field-type-file {
  margin: 0;
  width: 53%;
}
@media (max-width: 62.4375em) {
  .wide-view .pane-bundle-diptych .ds-2col > .group-right .field-type-file {
    width: auto;
  }
}
@media (max-width: 37.625em) {
  .wide-view .pane-bundle-diptych .ds-2col > .group-right .field-type-file {
    width: 53%;
  }
}
@media (max-width: 20em) {
  .wide-view .pane-bundle-diptych .ds-2col > .group-right .field-type-file {
    width: 100%;
  }
}
.wide-view .pane-bundle-diptych .ds-2col > .group-right .group-diptych-txt-block {
  width: 42%;
  margin-left: 5%;
  margin-top: 0;
}
@media (max-width: 20em) {
  .wide-view .pane-bundle-diptych .ds-2col > .group-right .group-diptych-txt-block {
    width: 100%;
    margin-left: 0;
  }
}

@media (min-width: 56.875em) and (max-width: 62.4375em) {
  .full-view .pane-bundle-diptych {
    max-width: 870px;
  }
}
.full-view .pane-bundle-diptych .group-left {
  max-width: 600px;
}
@media (max-width: 45em) {
  .full-view .pane-bundle-diptych {
    max-width: 600px;
  }
  .full-view .ds-2col > .group-left {
    width: 100%;
  }
  .full-view .ds-2col > .group-right {
    width: 100%;
    padding: 26px;
  }
  .full-view .ds-2col > .group-right .field-type-file,
  .full-view .ds-2col > .group-right .group-diptych-txt-block {
    display: block;
    float: left;
  }
  .full-view .ds-2col > .group-right .field-type-file {
    margin: 0;
    width: 53%;
  }
  .full-view .ds-2col > .group-right .group-diptych-txt-block {
    width: 42%;
    margin-left: 5%;
    margin-top: 0;
  }
}
@media (max-width: 45em) and (max-width: 62.4375em) {
  .full-view .ds-2col > .group-right .field-type-file {
    width: auto;
  }
}
@media (max-width: 45em) and (max-width: 37.625em) {
  .full-view .ds-2col > .group-right .field-type-file {
    width: 53%;
  }
}
@media (max-width: 45em) and (max-width: 30em) {
  .full-view .ds-2col > .group-right .field-type-file {
    width: 100%;
  }
}
@media (max-width: 45em) and (max-width: 30em) {
  .full-view .ds-2col > .group-right .group-diptych-txt-block {
    margin-left: 0;
    width: 100%;
  }
}
