.pane-bundle-existing-node-list {
  background: white;
}

.pane-bundle-existing-node-list .pane-content {
  border-top: 10px #231f20 solid;
}

.pane-bundle-existing-node-list {
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  margin: 1px;
}

.pane-bundle-existing-node-list {
  padding: 0 26px 14px;
}
.pane-bundle-existing-node-list .field-name-field-link-single {
  background: white;
  display: block;
  color: #231f20;
  font-family: "NewsGothicBT-Demi", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.2;
  margin-bottom: 12px;
  padding: 0 26px;
  padding-top: 12px;
  position: relative;
}
.pane-bundle-existing-node-list .field-name-field-link-single a {
  color: #231f20;
}
.pane-bundle-existing-node-list .field-name-field-link-single a:after {
  content: "\f101";
  display: inline;
  speak: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-transform: none;
  line-height: 1;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'icons';
}
.pane-bundle-existing-node-list .field-name-field-link-single a:after {
  color: #bac405;
  font-size: 14px;
  margin-left: 3px;
}
.pane-bundle-existing-node-list .field-name-field-link-single a:hover {
  color: #2d6280;
}
.pane-bundle-existing-node-list .field-name-field-link-single a:hover:after {
  color: #aac4bf;
}
.pane-bundle-existing-node-list .pane-content {
  padding: 0 26px;
}
.pane-bundle-existing-node-list .fieldable-panels-pane {
  margin: 0 -52px;
}
.pane-bundle-existing-node-list .field-name-field-existing-node-list-ref .field-item {
  border-top: 1px lightgray solid;
  padding: 22px 26px;
}
.pane-bundle-existing-node-list .field-name-field-existing-node-list-ref .field-item:first-of-type {
  border-top: 0;
}
