.pane-bundle-featured-content {
  background: white;
}

.pane-bundle-featured-content .field-collection-item-field-featured-item, .pane-bundle-featured-content .show-more-less-toggler-wrapper {
  border-top: 1px lightgray solid;
}

.pane-bundle-featured-content {
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  margin: 1px;
}

.pane-bundle-featured-content .field-name-field-related-other-label {
  background: #231f20;
  color: white;
  display: inline-block;
  font-family: "NewsGothicBT-Demi", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2;
  margin-bottom: 26px;
  padding: 6px 8px;
  position: relative;
  z-index: 2;
}
@media (max-width: 38.125em) {
  .pane-bundle-featured-content .field-name-field-related-other-label {
    font-size: 13px;
    margin-bottom: 20px;
  }
}

.pane-bundle-featured-content {
  padding: 26px;
}
.pane-bundle-featured-content a[href$=".png"]:after, .pane-bundle-featured-content a[href$=".jpg"]:after, .pane-bundle-featured-content a[href$=".jpeg"]:after, .pane-bundle-featured-content a[href$=".gif"]:after, .pane-bundle-featured-content a[href$=".tiff"]:after, .pane-bundle-featured-content a[href$=".svg"]:after, .pane-bundle-featured-content a[href$=".odg"]:after, .pane-bundle-featured-content a[href$=".fodg"]:after {
  content: initial !important;
}
.pane-bundle-featured-content h1.field-name-field-title {
  font-family: "NewsGothicBT-Demi", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: normal;
  line-height: 1.3;
  margin-bottom: 18px;
}
@media (max-width: 29.375em) {
  .pane-bundle-featured-content h1.field-name-field-title {
    font-size: 20px;
  }
}
.narrow-view .pane-bundle-featured-content h1.field-name-field-title {
  font-size: 20px;
}
@media (min-width: 29.4375em) and (max-width: 35.5em) {
  .narrow-view .pane-bundle-featured-content h1.field-name-field-title {
    font-size: 24px;
  }
}
.pane-bundle-featured-content .left.second-column {
  float: left;
  max-width: 65%;
}
@media (max-width: 75em) {
  .pane-bundle-featured-content .left.second-column {
    float: none;
    max-width: 100%;
  }
}
.narrow-view .pane-bundle-featured-content .left.second-column {
  float: none;
  max-width: 100%;
}
.pane-bundle-featured-content .right {
  float: right;
}
@media (max-width: 75em) {
  .pane-bundle-featured-content .right {
    display: none;
    float: none;
  }
}
.narrow-view .pane-bundle-featured-content .right {
  display: none;
  float: none;
}
.pane-bundle-featured-content ul {
  margin: 0;
  padding: 0;
}
.pane-bundle-featured-content .field-name-field-related-other-label {
  margin-bottom: 18px;
}
.pane-bundle-featured-content .field-name-field-publisher {
  display: block;
  margin-bottom: 8px;
}
.pane-bundle-featured-content .field-name-field-event-date {
  font-size: 16px;
  line-height: 1.2;
  margin-bottom: 8px;
}
@media (max-width: 29.375em) {
  .pane-bundle-featured-content .field-name-field-event-date {
    font-size: 14px;
  }
}
.narrow-view .pane-bundle-featured-content .field-name-field-event-date {
  font-size: 14px;
}
@media (min-width: 29.4375em) and (max-width: 35.5em) {
  .narrow-view .pane-bundle-featured-content .field-name-field-event-date {
    font-size: 16px;
  }
}
.pane-bundle-featured-content .media-icon.Video:after,
.pane-bundle-featured-content .media-icon.Audio:after,
.pane-bundle-featured-content .media-icon.Infographic:after {
  font-size: 22px;
}
.pane-bundle-featured-content .field-name-title,
.pane-bundle-featured-content .field-collection-item-field-featured-item .field-name-field-title,
.pane-bundle-featured-content .field-name-field-link-single,
.pane-bundle-featured-content .field-name-field-featured-content-fpp-ref {
  display: inline;
  margin-bottom: 12px;
}
.pane-bundle-featured-content .field-name-title h2,
.pane-bundle-featured-content .field-collection-item-field-featured-item .field-name-field-title h2,
.pane-bundle-featured-content .field-name-field-link-single h2,
.pane-bundle-featured-content .field-name-field-featured-content-fpp-ref h2 {
  display: inline;
  line-height: 0;
}
.pane-bundle-featured-content .field-name-title h2 a,
.pane-bundle-featured-content .field-collection-item-field-featured-item .field-name-field-title h2 a,
.pane-bundle-featured-content .field-name-field-link-single h2 a,
.pane-bundle-featured-content .field-name-field-featured-content-fpp-ref h2 a {
  font-family: "NewsGothicBT", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 22px;
  font-weight: bold;
  line-height: 1.3;
}
@media (max-width: 29.375em) {
  .pane-bundle-featured-content .field-name-title h2 a,
  .pane-bundle-featured-content .field-collection-item-field-featured-item .field-name-field-title h2 a,
  .pane-bundle-featured-content .field-name-field-link-single h2 a,
  .pane-bundle-featured-content .field-name-field-featured-content-fpp-ref h2 a {
    font-size: 20px;
  }
}
.narrow-view .pane-bundle-featured-content .field-name-title h2 a, .narrow-view
.pane-bundle-featured-content .field-collection-item-field-featured-item .field-name-field-title h2 a, .narrow-view
.pane-bundle-featured-content .field-name-field-link-single h2 a, .narrow-view
.pane-bundle-featured-content .field-name-field-featured-content-fpp-ref h2 a {
  font-size: 20px;
}
@media (min-width: 29.4375em) and (max-width: 35.5em) {
  .narrow-view .pane-bundle-featured-content .field-name-title h2 a, .narrow-view
  .pane-bundle-featured-content .field-collection-item-field-featured-item .field-name-field-title h2 a, .narrow-view
  .pane-bundle-featured-content .field-name-field-link-single h2 a, .narrow-view
  .pane-bundle-featured-content .field-name-field-featured-content-fpp-ref h2 a {
    font-size: 22px;
  }
}
.pane-bundle-featured-content .field-name-title h2 a[target=_blank]:after,
.pane-bundle-featured-content .field-collection-item-field-featured-item .field-name-field-title h2 a[target=_blank]:after,
.pane-bundle-featured-content .field-name-field-link-single h2 a[target=_blank]:after,
.pane-bundle-featured-content .field-name-field-featured-content-fpp-ref h2 a[target=_blank]:after {
  font-size: 12px;
}
.pane-bundle-featured-content .field-name-field-event-location {
  margin-top: 8px;
}
.pane-bundle-featured-content .field-name-field-event-location-type,
.pane-bundle-featured-content .field-name-field-address {
  font-size: 18px;
  font-family: "NewsGothicBT-Demi", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.3;
  margin: 4px 0;
}
@media (max-width: 29.375em) {
  .pane-bundle-featured-content .field-name-field-event-location-type,
  .pane-bundle-featured-content .field-name-field-address {
    font-size: 16px;
  }
}
.narrow-view .pane-bundle-featured-content .field-name-field-event-location-type, .narrow-view
.pane-bundle-featured-content .field-name-field-address {
  font-size: 16px;
}
@media (min-width: 29.4375em) and (max-width: 35.5em) {
  .narrow-view .pane-bundle-featured-content .field-name-field-event-location-type, .narrow-view
  .pane-bundle-featured-content .field-name-field-address {
    font-size: 18px;
  }
}
.pane-bundle-featured-content .gsb_field_formatter_field_collection_separator {
  margin: 8px 0;
}
.pane-bundle-featured-content .field-name-field-authors {
  font-family: "NewsGothicBT-Demi", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.3;
  margin-bottom: 8px;
}
@media (max-width: 29.375em) {
  .pane-bundle-featured-content .field-name-field-authors {
    font-size: 16px;
  }
}
.narrow-view .pane-bundle-featured-content .field-name-field-authors {
  font-size: 16px;
}
@media (min-width: 29.4375em) and (max-width: 35.5em) {
  .narrow-view .pane-bundle-featured-content .field-name-field-authors {
    font-size: 18px;
  }
}
.pane-bundle-featured-content .field-name-field-editorial-summary {
  font-size: 18px;
  line-height: 1.3;
  margin-top: 8px;
  margin-bottom: 18px;
}
@media (max-width: 29.375em) {
  .pane-bundle-featured-content .field-name-field-editorial-summary {
    font-size: 16px;
  }
}
.narrow-view .pane-bundle-featured-content .field-name-field-editorial-summary {
  font-size: 16px;
}
@media (min-width: 29.4375em) and (max-width: 35.5em) {
  .narrow-view .pane-bundle-featured-content .field-name-field-editorial-summary {
    font-size: 18px;
  }
}
.pane-bundle-featured-content .field-name-field-image-single-public {
  max-width: 150px;
}
.pane-bundle-featured-content .field-name-field-image-single-public img {
  width: 100%;
}
.pane-bundle-featured-content .show-more-less-toggler-wrapper {
  margin-top: 10px;
}
.pane-bundle-featured-content .show-more-less-toggler {
  background: #538b80;
  color: white;
  font-size: 16px;
  font-weight: bold;
  line-height: 2.2;
  margin-left: 0;
  padding: 10px 16px;
}
.pane-bundle-featured-content .show-more-less-toggler:before {
  color: white !important;
  float: none;
  left: -6px;
  top: -1px;
}
.pane-bundle-featured-content .show-more-less-toggler:hover {
  background: #2d6280;
  text-decoration: underline;
}
