.pane-bundle-featured-program {
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  margin: 1px;
}

.pane-bundle-featured-program .field-name-field-featured-superhead {
  background: #231f20;
  color: white;
  display: inline-block;
  font-family: "NewsGothicBT-Demi", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2;
  margin-bottom: 26px;
  padding: 6px 8px;
  position: relative;
  z-index: 2;
}
@media (max-width: 38.125em) {
  .pane-bundle-featured-program .field-name-field-featured-superhead {
    font-size: 13px;
    margin-bottom: 20px;
  }
}

.pane-bundle-featured-program {
  color: white;
}
.pane-bundle-featured-program .featured-program-color- {
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), url('../../../images/bg-feature-program-2016-01-29-2016-1.jpg') no-repeat top left;
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), url('../../../images/bg-feature-program-2016-01-29-2016-1.jpg') no-repeat top left;
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), url('../../../images/bg-feature-program-2016-01-29-2016-1.jpg') no-repeat top left;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), url('../../../images/bg-feature-program-2016-01-29-2016-1.jpg') no-repeat top left;
  padding: 0 26px 26px;
}
.pane-bundle-featured-program .featured-program-color-taupe {
  background: -moz-linear-gradient(top, rgba(101, 93, 81, 0.85), rgba(101, 93, 81, 0.85)), url('../../../images/bg-feature-program-2016-01-29-2016-1.jpg') no-repeat top left;
  background: -o-linear-gradient(top, rgba(101, 93, 81, 0.85), rgba(101, 93, 81, 0.85)), url('../../../images/bg-feature-program-2016-01-29-2016-1.jpg') no-repeat top left;
  background: -webkit-linear-gradient(top, rgba(101, 93, 81, 0.85), rgba(101, 93, 81, 0.85)), url('../../../images/bg-feature-program-2016-01-29-2016-1.jpg') no-repeat top left;
  background: linear-gradient(to bottom, rgba(101, 93, 81, 0.85), rgba(101, 93, 81, 0.85)), url('../../../images/bg-feature-program-2016-01-29-2016-1.jpg') no-repeat top left;
  padding: 0 26px 26px;
}
.pane-bundle-featured-program .featured-program-color-teal {
  background: -moz-linear-gradient(top, rgba(20, 151, 131, 0.85), rgba(20, 151, 131, 0.85)), url('../../../images/bg-feature-program-2016-01-29-2016-1.jpg') no-repeat top left;
  background: -o-linear-gradient(top, rgba(20, 151, 131, 0.85), rgba(20, 151, 131, 0.85)), url('../../../images/bg-feature-program-2016-01-29-2016-1.jpg') no-repeat top left;
  background: -webkit-linear-gradient(top, rgba(20, 151, 131, 0.85), rgba(20, 151, 131, 0.85)), url('../../../images/bg-feature-program-2016-01-29-2016-1.jpg') no-repeat top left;
  background: linear-gradient(to bottom, rgba(20, 151, 131, 0.85), rgba(20, 151, 131, 0.85)), url('../../../images/bg-feature-program-2016-01-29-2016-1.jpg') no-repeat top left;
  padding: 0 26px 26px;
}
.pane-bundle-featured-program .field-name-field-featured-superhead {
  margin-bottom: 0;
  z-index: 1;
}
.pane-bundle-featured-program .field-name-field-marketing-headline {
  font-size: 26px;
  line-height: 1.3;
  padding-top: 26px;
  margin-bottom: 32px;
}
.pane-bundle-featured-program .field-name-field-program {
  font-size: 20px;
  font-weight: bold;
  line-height: 1.3;
  margin-bottom: 18px;
}
.wide-view .pane-bundle-featured-program .field-name-field-program {
  font-size: 22px;
}
@media (max-width: 35.5em) {
  .wide-view .pane-bundle-featured-program .field-name-field-program {
    font-size: 20px;
  }
}
.pane-bundle-featured-program .field-name-field-program a {
  color: white;
}
.pane-bundle-featured-program .field-name-field-program a:after {
  content: "\f101";
  display: inline;
  speak: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-transform: none;
  line-height: 1;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'icons';
}
.pane-bundle-featured-program .field-name-field-program a:after {
  color: #bac405;
  font-size: 16px;
  margin-left: 3px;
}
.pane-bundle-featured-program .field-name-field-program a:hover {
  color: white;
}
.pane-bundle-featured-program .field-name-field-program a:hover:after {
  color: white;
}
.pane-bundle-featured-program .field-name-field-program-location,
.pane-bundle-featured-program .field-name-field-instance-date,
.pane-bundle-featured-program .gsb-time-commitment {
  font-size: 16px;
  line-height: 1.3;
}
.wide-view .pane-bundle-featured-program .field-name-field-program-location, .wide-view
.pane-bundle-featured-program .field-name-field-instance-date, .wide-view
.pane-bundle-featured-program .gsb-time-commitment {
  font-size: 18px;
}
@media (max-width: 35.5em) {
  .wide-view .pane-bundle-featured-program .field-name-field-program-location, .wide-view
  .pane-bundle-featured-program .field-name-field-instance-date, .wide-view
  .pane-bundle-featured-program .gsb-time-commitment {
    font-size: 16px;
  }
}
