.pane-bundle-files .container {
  background: white;
}

.pane-bundle-files .container .field-name-field-title {
  border-top: 10px #231f20 solid;
}

.pane-bundle-files .container {
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  margin: 1px;
}

.pane-bundle-files .field-name-field-title {
  color: #231f20;
  font-family: "NewsGothicBT", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.3;
  margin-bottom: 14px;
}
.pane-bundle-files .field-name-field-file-unlimited-private div,
.pane-bundle-files .field-name-field-file-unlimited-public div {
  line-height: 0;
  margin-bottom: 8px;
}
.pane-bundle-files .field-name-field-file-unlimited-private div:last-of-type,
.pane-bundle-files .field-name-field-file-unlimited-public div:last-of-type {
  margin-bottom: 0;
}
.pane-bundle-files .field-name-field-file-unlimited-private a,
.pane-bundle-files .field-name-field-file-unlimited-public a {
  font-family: "NewsGothicBT-Demi", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.3;
}
.pane-bundle-files .field-name-field-file-unlimited-private a:after,
.pane-bundle-files .field-name-field-file-unlimited-public a:after {
  font-size: 12px;
}
.pane-bundle-files .field-name-field-file-unlimited-private a[href$=".pdf"]:after,
.pane-bundle-files .field-name-field-file-unlimited-public a[href$=".pdf"]:after {
  font-size: 14px;
}
.pane-bundle-files .field-name-field-file-unlimited-private {
  padding-top: 8px;
}
.pane-bundle-files .field-name-field-file-unlimited-private .file:before {
  content: "\f128";
  display: inline;
  speak: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-transform: none;
  line-height: 1;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'icons';
}
.pane-bundle-files .field-name-field-file-unlimited-private .file:before {
  color: #bcbcbc;
  font-size: 14px;
}
.pane-bundle-files .container {
  padding: 0 26px 20px;
}
.pane-bundle-files .container .field-name-field-title {
  padding-top: 12px;
}
.pane-bundle-files .unstyled a {
  color: #636f00;
}
.pane-bundle-files .unstyled a:hover {
  color: #2d6280;
}
.pane-bundle-files .unstyled a:after:hover {
  color: #aac4bf;
}
