.pane-bundle-homepage-cta {
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  margin: 1px;
}

.pane-bundle-homepage-cta .fieldable-panels-pane {
  position: relative;
}
.pane-bundle-homepage-cta .image-cta-color-blue .group-wrapper-content {
  background: -moz-linear-gradient(top, #03659e, rgba(3, 101, 158, 0));
  background: -o-linear-gradient(top, #03659e, rgba(3, 101, 158, 0));
  background: -webkit-linear-gradient(top, #03659e, rgba(3, 101, 158, 0));
  background: linear-gradient(to bottom, #03659e, rgba(3, 101, 158, 0));
}
.pane-bundle-homepage-cta .image-cta-color-purple .group-wrapper-content {
  background: -moz-linear-gradient(top, #97185d, rgba(87, 36, 64, 0));
  background: -o-linear-gradient(top, #97185d, rgba(87, 36, 64, 0));
  background: -webkit-linear-gradient(top, #97185d, rgba(87, 36, 64, 0));
  background: linear-gradient(to bottom, #97185d, rgba(87, 36, 64, 0));
}
.pane-bundle-homepage-cta .image-cta-color-lime .group-wrapper-content {
  background: -moz-linear-gradient(top, #919900, rgba(145, 153, 0, 0));
  background: -o-linear-gradient(top, #919900, rgba(145, 153, 0, 0));
  background: -webkit-linear-gradient(top, #919900, rgba(145, 153, 0, 0));
  background: linear-gradient(to bottom, #919900, rgba(145, 153, 0, 0));
}
.pane-bundle-homepage-cta .image-cta-color-teal .group-wrapper-content {
  background: -moz-linear-gradient(top, #009c84, rgba(0, 156, 132, 0));
  background: -o-linear-gradient(top, #009c84, rgba(0, 156, 132, 0));
  background: -webkit-linear-gradient(top, #009c84, rgba(0, 156, 132, 0));
  background: linear-gradient(to bottom, #009c84, rgba(0, 156, 132, 0));
}
.pane-bundle-homepage-cta .image-cta-color-pink .group-wrapper-content {
  background: -moz-linear-gradient(top, #e64097, rgba(230, 64, 151, 0));
  background: -o-linear-gradient(top, #e64097, rgba(230, 64, 151, 0));
  background: -webkit-linear-gradient(top, #e64097, rgba(230, 64, 151, 0));
  background: linear-gradient(to bottom, #e64097, rgba(230, 64, 151, 0));
}
.pane-bundle-homepage-cta img {
  display: block;
}
.pane-bundle-homepage-cta .group-wrapper-content {
  height: 100%;
  padding: 26px;
  position: absolute;
  top: 0;
  width: 100%;
}
@media (max-width: 20em) {
  .pane-bundle-homepage-cta .group-wrapper-content {
    padding: 20px;
  }
}
.pane-bundle-homepage-cta .group-wrapper-content.hover {
  background: -moz-linear-gradient(top, #014872, rgba(1, 72, 114, 0));
  background: -o-linear-gradient(top, #014872, rgba(1, 72, 114, 0));
  background: -webkit-linear-gradient(top, #014872, rgba(1, 72, 114, 0));
  background: linear-gradient(to bottom, #014872, rgba(1, 72, 114, 0));
}
.pane-bundle-homepage-cta .field-name-field-title {
  color: white;
  font-size: 16px;
  line-height: 1.2;
  margin-bottom: 8px;
}
.pane-bundle-homepage-cta .field-name-field-link-single {
  line-height: 0;
}
.pane-bundle-homepage-cta .field-name-field-link-single a {
  color: white;
  font-size: 40px;
  line-height: 1.2;
}
@media (max-width: 62.4375em) {
  .pane-bundle-homepage-cta .field-name-field-link-single a {
    font-size: 32px;
  }
}
@media (max-width: 50em) {
  .pane-bundle-homepage-cta .field-name-field-link-single a {
    font-size: 24px;
  }
}
@media (max-width: 46.875em) {
  .pane-bundle-homepage-cta .field-name-field-link-single a {
    font-size: 40px;
  }
}
@media (max-width: 35.5em) {
  .pane-bundle-homepage-cta .field-name-field-link-single a {
    font-size: 32px;
  }
}
@media (max-width: 30em) {
  .pane-bundle-homepage-cta .field-name-field-link-single a {
    font-size: 24px;
  }
}
@media (max-width: 35.5em) {
  .pane-bundle-homepage-cta .field-name-field-link-single a {
    font-size: 18px;
  }
}
.pane-bundle-homepage-cta .field-name-field-link-single a:after {
  content: "\f101";
  display: inline;
  speak: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-transform: none;
  line-height: 1;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'icons';
}
.pane-bundle-homepage-cta .field-name-field-link-single a:after {
  color: #bac405;
  font-size: 24px;
  position: relative;
  left: 5px;
}
@media (max-width: 62.4375em) {
  .pane-bundle-homepage-cta .field-name-field-link-single a:after {
    font-size: 20px;
  }
}
@media (max-width: 46.875em) {
  .pane-bundle-homepage-cta .field-name-field-link-single a:after {
    font-size: 18px;
  }
}
@media (max-width: 35.5em) {
  .pane-bundle-homepage-cta .field-name-field-link-single a:after {
    font-size: 12px;
  }
}
.pane-bundle-homepage-cta .field-name-field-link-single a:hover {
  border-bottom: 2px solid white;
  color: white;
  text-decoration: none;
}
.pane-bundle-homepage-cta .field-name-field-link-single a:hover:after {
  color: white;
}
