.pane-bundle-image-cta {
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  margin: 1px;
}

.pane-bundle-image-cta {
  position: relative;
  bottom: 0;
}
.pane-bundle-image-cta .field-type-image a[target=_blank]:after {
  display: none;
}
.pane-bundle-image-cta .group-right {
  position: absolute;
  bottom: 0;
}
.pane-bundle-image-cta .pane-title {
  display: none;
}
.pane-bundle-image-cta img {
  display: block;
  width: 100%;
}
.pane-bundle-image-cta .field-name-field-link-single {
  line-height: 0;
}
.pane-bundle-image-cta .field-name-field-link-single a {
  color: white;
  display: block;
  font-family: "NewsGothicBT-Demi", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.2;
  padding: 12px 26px;
  width: 100%;
}
.pane-bundle-image-cta .field-name-field-link-single a:after {
  content: "\f101";
  display: inline;
  speak: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-transform: none;
  line-height: 1;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'icons';
}
.pane-bundle-image-cta .field-name-field-link-single a:after {
  color: white;
  font-size: 12px;
  margin-left: 3px;
}

.narrow-view .pane-bundle-image-cta .image-cta-color-blue a {
  background: rgba(38, 99, 157, 0.85);
}
.narrow-view .pane-bundle-image-cta .image-cta-color-blue a:hover {
  background: rgba(1, 72, 114, 0.85) !important;
}
.narrow-view .pane-bundle-image-cta .image-cta-color-lime a {
  background: rgba(145, 153, 0, 0.85);
}
.narrow-view .pane-bundle-image-cta .image-cta-color-lime a:hover {
  background: rgba(1, 72, 114, 0.85) !important;
}
.narrow-view .pane-bundle-image-cta .image-cta-color-pink a {
  background: rgba(221, 24, 128, 0.85);
}
.narrow-view .pane-bundle-image-cta .image-cta-color-pink a:hover {
  background: rgba(1, 72, 114, 0.85) !important;
}
.narrow-view .pane-bundle-image-cta .image-cta-color-purple a {
  background: rgba(151, 24, 93, 0.85);
}
.narrow-view .pane-bundle-image-cta .image-cta-color-purple a:hover {
  background: rgba(1, 72, 114, 0.85) !important;
}
.narrow-view .pane-bundle-image-cta .image-cta-color-teal a {
  background: rgba(0, 156, 132, 0.85);
}
.narrow-view .pane-bundle-image-cta .image-cta-color-teal a:hover {
  background: rgba(1, 72, 114, 0.85) !important;
}
.narrow-view .pane-bundle-image-cta .group-left,
.narrow-view .pane-bundle-image-cta .group-right {
  float: none;
  width: 100%;
}

@media (min-width: 30em) and (max-width: 35.5em) {
  .panel-display.gsb-standard-page-two .narrow-view .pane-bundle-image-cta .ds-2col,
  .panel-display.gsb-event-landing .narrow-view .pane-bundle-image-cta .ds-2col,
  .panel-display.gsb-landing-standard-page-one .narrow-view .pane-bundle-image-cta .ds-2col,
  .panel-display.gsb-front-page .narrow-view .pane-bundle-image-cta .ds-2col,
  .gsb-insights-a .narrow-view .pane-bundle-image-cta .ds-2col,
  .gsb-insights-b .narrow-view .pane-bundle-image-cta .ds-2col,
  .gsb-insights-c .narrow-view .pane-bundle-image-cta .ds-2col {
    overflow: hidden;
    *zoom: 1;
  }
  .panel-display.gsb-standard-page-two .narrow-view .pane-bundle-image-cta .image-cta-color-blue,
  .panel-display.gsb-event-landing .narrow-view .pane-bundle-image-cta .image-cta-color-blue,
  .panel-display.gsb-landing-standard-page-one .narrow-view .pane-bundle-image-cta .image-cta-color-blue,
  .panel-display.gsb-front-page .narrow-view .pane-bundle-image-cta .image-cta-color-blue,
  .gsb-insights-a .narrow-view .pane-bundle-image-cta .image-cta-color-blue,
  .gsb-insights-b .narrow-view .pane-bundle-image-cta .image-cta-color-blue,
  .gsb-insights-c .narrow-view .pane-bundle-image-cta .image-cta-color-blue {
    background: #26639d;
  }
  .panel-display.gsb-standard-page-two .narrow-view .pane-bundle-image-cta .image-cta-color-lime,
  .panel-display.gsb-event-landing .narrow-view .pane-bundle-image-cta .image-cta-color-lime,
  .panel-display.gsb-landing-standard-page-one .narrow-view .pane-bundle-image-cta .image-cta-color-lime,
  .panel-display.gsb-front-page .narrow-view .pane-bundle-image-cta .image-cta-color-lime,
  .gsb-insights-a .narrow-view .pane-bundle-image-cta .image-cta-color-lime,
  .gsb-insights-b .narrow-view .pane-bundle-image-cta .image-cta-color-lime,
  .gsb-insights-c .narrow-view .pane-bundle-image-cta .image-cta-color-lime {
    background: #919900;
  }
  .panel-display.gsb-standard-page-two .narrow-view .pane-bundle-image-cta .image-cta-color-pink,
  .panel-display.gsb-event-landing .narrow-view .pane-bundle-image-cta .image-cta-color-pink,
  .panel-display.gsb-landing-standard-page-one .narrow-view .pane-bundle-image-cta .image-cta-color-pink,
  .panel-display.gsb-front-page .narrow-view .pane-bundle-image-cta .image-cta-color-pink,
  .gsb-insights-a .narrow-view .pane-bundle-image-cta .image-cta-color-pink,
  .gsb-insights-b .narrow-view .pane-bundle-image-cta .image-cta-color-pink,
  .gsb-insights-c .narrow-view .pane-bundle-image-cta .image-cta-color-pink {
    background: #dd1880;
  }
  .panel-display.gsb-standard-page-two .narrow-view .pane-bundle-image-cta .image-cta-color-purple,
  .panel-display.gsb-event-landing .narrow-view .pane-bundle-image-cta .image-cta-color-purple,
  .panel-display.gsb-landing-standard-page-one .narrow-view .pane-bundle-image-cta .image-cta-color-purple,
  .panel-display.gsb-front-page .narrow-view .pane-bundle-image-cta .image-cta-color-purple,
  .gsb-insights-a .narrow-view .pane-bundle-image-cta .image-cta-color-purple,
  .gsb-insights-b .narrow-view .pane-bundle-image-cta .image-cta-color-purple,
  .gsb-insights-c .narrow-view .pane-bundle-image-cta .image-cta-color-purple {
    background: #97185d;
  }
  .panel-display.gsb-standard-page-two .narrow-view .pane-bundle-image-cta .image-cta-color-teal,
  .panel-display.gsb-event-landing .narrow-view .pane-bundle-image-cta .image-cta-color-teal,
  .panel-display.gsb-landing-standard-page-one .narrow-view .pane-bundle-image-cta .image-cta-color-teal,
  .panel-display.gsb-front-page .narrow-view .pane-bundle-image-cta .image-cta-color-teal,
  .gsb-insights-a .narrow-view .pane-bundle-image-cta .image-cta-color-teal,
  .gsb-insights-b .narrow-view .pane-bundle-image-cta .image-cta-color-teal,
  .gsb-insights-c .narrow-view .pane-bundle-image-cta .image-cta-color-teal {
    background: #009c84;
  }
  .panel-display.gsb-standard-page-two .narrow-view .pane-bundle-image-cta .group-left,
  .panel-display.gsb-event-landing .narrow-view .pane-bundle-image-cta .group-left,
  .panel-display.gsb-landing-standard-page-one .narrow-view .pane-bundle-image-cta .group-left,
  .panel-display.gsb-front-page .narrow-view .pane-bundle-image-cta .group-left,
  .gsb-insights-a .narrow-view .pane-bundle-image-cta .group-left,
  .gsb-insights-b .narrow-view .pane-bundle-image-cta .group-left,
  .gsb-insights-c .narrow-view .pane-bundle-image-cta .group-left {
    float: left;
    width: 190px;
  }
  .panel-display.gsb-standard-page-two .narrow-view .pane-bundle-image-cta .group-right,
  .panel-display.gsb-event-landing .narrow-view .pane-bundle-image-cta .group-right,
  .panel-display.gsb-landing-standard-page-one .narrow-view .pane-bundle-image-cta .group-right,
  .panel-display.gsb-front-page .narrow-view .pane-bundle-image-cta .group-right,
  .gsb-insights-a .narrow-view .pane-bundle-image-cta .group-right,
  .gsb-insights-b .narrow-view .pane-bundle-image-cta .group-right,
  .gsb-insights-c .narrow-view .pane-bundle-image-cta .group-right {
    float: left;
    display: inline-block;
    margin-left: -190px;
    padding-left: 190px;
    width: 100%;
  }
  .panel-display.gsb-standard-page-two .narrow-view .pane-bundle-image-cta a,
  .panel-display.gsb-event-landing .narrow-view .pane-bundle-image-cta a,
  .panel-display.gsb-landing-standard-page-one .narrow-view .pane-bundle-image-cta a,
  .panel-display.gsb-front-page .narrow-view .pane-bundle-image-cta a,
  .gsb-insights-a .narrow-view .pane-bundle-image-cta a,
  .gsb-insights-b .narrow-view .pane-bundle-image-cta a,
  .gsb-insights-c .narrow-view .pane-bundle-image-cta a {
    background: none !important;
    font-size: 20px;
    bottom: 0;
    position: relative;
    width: 100%;
  }
  .panel-display.gsb-standard-page-two .narrow-view .pane-bundle-image-cta a:hover,
  .panel-display.gsb-event-landing .narrow-view .pane-bundle-image-cta a:hover,
  .panel-display.gsb-landing-standard-page-one .narrow-view .pane-bundle-image-cta a:hover,
  .panel-display.gsb-front-page .narrow-view .pane-bundle-image-cta a:hover,
  .gsb-insights-a .narrow-view .pane-bundle-image-cta a:hover,
  .gsb-insights-b .narrow-view .pane-bundle-image-cta a:hover,
  .gsb-insights-c .narrow-view .pane-bundle-image-cta a:hover {
    background: none !important;
  }
}

@media (min-width: 68.75em) and (max-width: 75.625em) {
  .panel-display.gsb-landing-standard-page-one .main-middle .narrow-view .pane-bundle-image-cta .ds-2col {
    overflow: hidden;
    *zoom: 1;
  }
  .panel-display.gsb-landing-standard-page-one .main-middle .narrow-view .pane-bundle-image-cta .image-cta-color-blue {
    background: #26639d;
  }
  .panel-display.gsb-landing-standard-page-one .main-middle .narrow-view .pane-bundle-image-cta .image-cta-color-lime {
    background: #919900;
  }
  .panel-display.gsb-landing-standard-page-one .main-middle .narrow-view .pane-bundle-image-cta .image-cta-color-pink {
    background: #dd1880;
  }
  .panel-display.gsb-landing-standard-page-one .main-middle .narrow-view .pane-bundle-image-cta .image-cta-color-purple {
    background: #97185d;
  }
  .panel-display.gsb-landing-standard-page-one .main-middle .narrow-view .pane-bundle-image-cta .image-cta-color-teal {
    background: #009c84;
  }
  .panel-display.gsb-landing-standard-page-one .main-middle .narrow-view .pane-bundle-image-cta .group-left {
    float: left;
    width: 190px;
  }
  .panel-display.gsb-landing-standard-page-one .main-middle .narrow-view .pane-bundle-image-cta .group-right {
    float: left;
    display: inline-block;
    margin-left: -190px;
    padding-left: 190px;
    width: 100%;
  }
  .panel-display.gsb-landing-standard-page-one .main-middle .narrow-view .pane-bundle-image-cta a {
    background: none !important;
    font-size: 20px;
    bottom: 0;
    position: relative;
    width: 100%;
  }
  .panel-display.gsb-landing-standard-page-one .main-middle .narrow-view .pane-bundle-image-cta a:hover {
    background: none !important;
  }
}
@media (min-width: 52.8125em) and (max-width: 62.4375em) {
  .panel-display.gsb-landing-standard-page-one .main-middle .narrow-view .pane-bundle-image-cta .ds-2col {
    overflow: hidden;
    *zoom: 1;
  }
  .panel-display.gsb-landing-standard-page-one .main-middle .narrow-view .pane-bundle-image-cta .image-cta-color-blue {
    background: #26639d;
  }
  .panel-display.gsb-landing-standard-page-one .main-middle .narrow-view .pane-bundle-image-cta .image-cta-color-lime {
    background: #919900;
  }
  .panel-display.gsb-landing-standard-page-one .main-middle .narrow-view .pane-bundle-image-cta .image-cta-color-pink {
    background: #dd1880;
  }
  .panel-display.gsb-landing-standard-page-one .main-middle .narrow-view .pane-bundle-image-cta .image-cta-color-purple {
    background: #97185d;
  }
  .panel-display.gsb-landing-standard-page-one .main-middle .narrow-view .pane-bundle-image-cta .image-cta-color-teal {
    background: #009c84;
  }
  .panel-display.gsb-landing-standard-page-one .main-middle .narrow-view .pane-bundle-image-cta .group-left {
    float: left;
    width: 190px;
  }
  .panel-display.gsb-landing-standard-page-one .main-middle .narrow-view .pane-bundle-image-cta .group-right {
    float: left;
    display: inline-block;
    margin-left: -190px;
    padding-left: 190px;
    width: 100%;
  }
  .panel-display.gsb-landing-standard-page-one .main-middle .narrow-view .pane-bundle-image-cta a {
    background: none !important;
    font-size: 20px;
    bottom: 0;
    position: relative;
    width: 100%;
  }
  .panel-display.gsb-landing-standard-page-one .main-middle .narrow-view .pane-bundle-image-cta a:hover {
    background: none !important;
  }
}

@media (min-width: 30em) and (max-width: 63.9375em) {
  .gsb-full-bleed-home-page .narrow-view .pane-bundle-image-cta .ds-2col {
    overflow: hidden;
    *zoom: 1;
  }
  .gsb-full-bleed-home-page .narrow-view .pane-bundle-image-cta .image-cta-color-blue {
    background: #26639d;
  }
  .gsb-full-bleed-home-page .narrow-view .pane-bundle-image-cta .image-cta-color-lime {
    background: #919900;
  }
  .gsb-full-bleed-home-page .narrow-view .pane-bundle-image-cta .image-cta-color-pink {
    background: #dd1880;
  }
  .gsb-full-bleed-home-page .narrow-view .pane-bundle-image-cta .image-cta-color-purple {
    background: #97185d;
  }
  .gsb-full-bleed-home-page .narrow-view .pane-bundle-image-cta .image-cta-color-teal {
    background: #009c84;
  }
  .gsb-full-bleed-home-page .narrow-view .pane-bundle-image-cta .group-left {
    float: left;
    width: 190px;
  }
  .gsb-full-bleed-home-page .narrow-view .pane-bundle-image-cta .group-right {
    float: left;
    display: inline-block;
    margin-left: -190px;
    padding-left: 190px;
    width: 100%;
  }
  .gsb-full-bleed-home-page .narrow-view .pane-bundle-image-cta a {
    background: none !important;
    font-size: 20px;
    bottom: 0;
    position: relative;
    width: 100%;
  }
  .gsb-full-bleed-home-page .narrow-view .pane-bundle-image-cta a:hover {
    background: none !important;
  }
}

@media (min-width: 30em) and (max-width: 62.5em) {
  .gsb-program-finder .narrow-view .pane-bundle-image-cta .ds-2col {
    overflow: hidden;
    *zoom: 1;
  }
  .gsb-program-finder .narrow-view .pane-bundle-image-cta .image-cta-color-blue {
    background: #26639d;
  }
  .gsb-program-finder .narrow-view .pane-bundle-image-cta .image-cta-color-lime {
    background: #919900;
  }
  .gsb-program-finder .narrow-view .pane-bundle-image-cta .image-cta-color-pink {
    background: #dd1880;
  }
  .gsb-program-finder .narrow-view .pane-bundle-image-cta .image-cta-color-purple {
    background: #97185d;
  }
  .gsb-program-finder .narrow-view .pane-bundle-image-cta .image-cta-color-teal {
    background: #009c84;
  }
  .gsb-program-finder .narrow-view .pane-bundle-image-cta .group-left {
    float: left;
    width: 190px;
  }
  .gsb-program-finder .narrow-view .pane-bundle-image-cta .group-right {
    float: left;
    display: inline-block;
    margin-left: -190px;
    padding-left: 190px;
    width: 100%;
  }
  .gsb-program-finder .narrow-view .pane-bundle-image-cta a {
    background: none !important;
    font-size: 20px;
    bottom: 0;
    position: relative;
    width: 100%;
  }
  .gsb-program-finder .narrow-view .pane-bundle-image-cta a:hover {
    background: none !important;
  }
}

.wide-view .pane-bundle-image-cta .ds-2col {
  overflow: hidden;
  *zoom: 1;
}
.wide-view .pane-bundle-image-cta .image-cta-color-blue {
  background: #26639d;
}
.wide-view .pane-bundle-image-cta .image-cta-color-lime {
  background: #919900;
}
.wide-view .pane-bundle-image-cta .image-cta-color-pink {
  background: #dd1880;
}
.wide-view .pane-bundle-image-cta .image-cta-color-purple {
  background: #97185d;
}
.wide-view .pane-bundle-image-cta .image-cta-color-teal {
  background: #009c84;
}
.wide-view .pane-bundle-image-cta .field-name-field-link-single {
  line-height: 0;
}
.wide-view .pane-bundle-image-cta .field-name-field-link-single a {
  font-size: 20px;
  position: relative;
  bottom: 0;
  width: 100%;
}
@media (min-width: 62.4375em) and (max-width: 68.75em) {
  .wide-view .pane-bundle-image-cta .field-name-field-link-single a {
    font-size: 18px;
    padding: 12px 26px;
  }
}
@media (min-width: 35.5625em) and (max-width: 52.8125em) {
  .wide-view .pane-bundle-image-cta .field-name-field-link-single a {
    font-size: 18px;
    padding: 12px 26px;
  }
}
@media (max-width: 29.9375em) {
  .wide-view .pane-bundle-image-cta .field-name-field-link-single a {
    font-size: 18px;
    padding: 12px 26px;
  }
}
.wide-view .pane-bundle-image-cta .group-left {
  float: left;
  width: 190px;
}
.wide-view .pane-bundle-image-cta .group-right {
  float: left;
  display: inline-block;
  margin-left: -190px;
  padding-left: 190px;
  width: 100%;
}
@media (min-width: 62.5em) and (max-width: 68.75em) {
  .wide-view .pane-bundle-image-cta {
    position: relative;
    bottom: 0;
  }
  .wide-view .pane-bundle-image-cta .image-cta-color-blue a {
    background: rgba(38, 99, 157, 0.85);
  }
  .wide-view .pane-bundle-image-cta .image-cta-color-blue a:hover {
    background: rgba(1, 72, 114, 0.85) !important;
  }
  .wide-view .pane-bundle-image-cta .image-cta-color-lime a {
    background: rgba(145, 153, 0, 0.85);
  }
  .wide-view .pane-bundle-image-cta .image-cta-color-lime a:hover {
    background: rgba(1, 72, 114, 0.85) !important;
  }
  .wide-view .pane-bundle-image-cta .image-cta-color-pink a {
    background: rgba(221, 24, 128, 0.85);
  }
  .wide-view .pane-bundle-image-cta .image-cta-color-pink a:hover {
    background: rgba(1, 72, 114, 0.85) !important;
  }
  .wide-view .pane-bundle-image-cta .image-cta-color-purple a {
    background: rgba(151, 24, 93, 0.85);
  }
  .wide-view .pane-bundle-image-cta .image-cta-color-purple a:hover {
    background: rgba(1, 72, 114, 0.85) !important;
  }
  .wide-view .pane-bundle-image-cta .image-cta-color-teal a {
    background: rgba(0, 156, 132, 0.85);
  }
  .wide-view .pane-bundle-image-cta .image-cta-color-teal a:hover {
    background: rgba(1, 72, 114, 0.85) !important;
  }
  .wide-view .pane-bundle-image-cta .fieldable-panels-pane {
    background: none !important;
  }
  .wide-view .pane-bundle-image-cta .group-left,
  .wide-view .pane-bundle-image-cta .group-right {
    float: none;
    width: 100%;
  }
  .wide-view .pane-bundle-image-cta .group-right {
    margin: 0;
    padding: 0;
  }
}
@media (min-width: 35.5625em) and (max-width: 52.8125em) {
  .wide-view .pane-bundle-image-cta {
    position: relative;
    bottom: 0;
  }
  .wide-view .pane-bundle-image-cta .image-cta-color-blue a {
    background: rgba(38, 99, 157, 0.85);
  }
  .wide-view .pane-bundle-image-cta .image-cta-color-blue a:hover {
    background: rgba(1, 72, 114, 0.85) !important;
  }
  .wide-view .pane-bundle-image-cta .image-cta-color-lime a {
    background: rgba(145, 153, 0, 0.85);
  }
  .wide-view .pane-bundle-image-cta .image-cta-color-lime a:hover {
    background: rgba(1, 72, 114, 0.85) !important;
  }
  .wide-view .pane-bundle-image-cta .image-cta-color-pink a {
    background: rgba(221, 24, 128, 0.85);
  }
  .wide-view .pane-bundle-image-cta .image-cta-color-pink a:hover {
    background: rgba(1, 72, 114, 0.85) !important;
  }
  .wide-view .pane-bundle-image-cta .image-cta-color-purple a {
    background: rgba(151, 24, 93, 0.85);
  }
  .wide-view .pane-bundle-image-cta .image-cta-color-purple a:hover {
    background: rgba(1, 72, 114, 0.85) !important;
  }
  .wide-view .pane-bundle-image-cta .image-cta-color-teal a {
    background: rgba(0, 156, 132, 0.85);
  }
  .wide-view .pane-bundle-image-cta .image-cta-color-teal a:hover {
    background: rgba(1, 72, 114, 0.85) !important;
  }
  .wide-view .pane-bundle-image-cta .fieldable-panels-pane {
    background: none !important;
  }
  .wide-view .pane-bundle-image-cta .group-left,
  .wide-view .pane-bundle-image-cta .group-right {
    float: none;
    width: 100%;
  }
  .wide-view .pane-bundle-image-cta .group-right {
    margin: 0;
    padding: 0;
  }
}
@media (max-width: 29.9375em) {
  .wide-view .pane-bundle-image-cta {
    position: relative;
    bottom: 0;
  }
  .wide-view .pane-bundle-image-cta .image-cta-color-blue a {
    background: rgba(38, 99, 157, 0.85);
  }
  .wide-view .pane-bundle-image-cta .image-cta-color-blue a:hover {
    background: rgba(1, 72, 114, 0.85) !important;
  }
  .wide-view .pane-bundle-image-cta .image-cta-color-lime a {
    background: rgba(145, 153, 0, 0.85);
  }
  .wide-view .pane-bundle-image-cta .image-cta-color-lime a:hover {
    background: rgba(1, 72, 114, 0.85) !important;
  }
  .wide-view .pane-bundle-image-cta .image-cta-color-pink a {
    background: rgba(221, 24, 128, 0.85);
  }
  .wide-view .pane-bundle-image-cta .image-cta-color-pink a:hover {
    background: rgba(1, 72, 114, 0.85) !important;
  }
  .wide-view .pane-bundle-image-cta .image-cta-color-purple a {
    background: rgba(151, 24, 93, 0.85);
  }
  .wide-view .pane-bundle-image-cta .image-cta-color-purple a:hover {
    background: rgba(1, 72, 114, 0.85) !important;
  }
  .wide-view .pane-bundle-image-cta .image-cta-color-teal a {
    background: rgba(0, 156, 132, 0.85);
  }
  .wide-view .pane-bundle-image-cta .image-cta-color-teal a:hover {
    background: rgba(1, 72, 114, 0.85) !important;
  }
  .wide-view .pane-bundle-image-cta .fieldable-panels-pane {
    background: none !important;
  }
  .wide-view .pane-bundle-image-cta .group-left,
  .wide-view .pane-bundle-image-cta .group-right {
    float: none;
    width: 100%;
  }
  .wide-view .pane-bundle-image-cta .group-right {
    margin: 0;
    padding: 0;
  }
}
