.pane-bundle-image a.image-fpp-enlarge-button {
  border: none;
  -moz-border-radius: 22px;
  -webkit-border-radius: 22px;
  border-radius: 22px;
  color: white;
  font-family: "NewsGothicBT", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.4;
  padding: 10px 20px;
}
.pane-bundle-image a.image-fpp-enlarge-button:after {
  color: white !important;
}
.pane-bundle-image a.image-fpp-enlarge-button:hover {
  background-color: #2d6280;
  border: 0;
  color: white;
}
.pane-bundle-image a.image-fpp-enlarge-button:hover:after {
  color: white !important;
}

.pane-bundle-image a.image-fpp-enlarge-button {
  background: #919900;
}

.pane-bundle-image img {
  width: 100%;
}
.pane-bundle-image figcaption {
  color: #595959;
  font-size: 14px;
  line-height: 1.2;
  margin-top: 12px;
  max-width: 570px;
}
.pane-bundle-image .file-resource-image figure {
  bottom: 0;
  position: relative;
}
.pane-bundle-image a.image-fpp-enlarge-button {
  float: right;
  margin: 12px 0;
}
.pane-bundle-image a.image-fpp-enlarge-button:after {
  content: "\f102";
  display: inline;
  speak: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-transform: none;
  line-height: 1;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'icons';
}
.pane-bundle-image a.image-fpp-enlarge-button:after {
  content: "\f102" !important;
  font-size: 12px;
}
.pane-bundle-image .image-text-equivalent {
  font-size: 16px;
  line-height: 1.3;
  margin-bottom: 8px;
  text-align: right;
}
.pane-bundle-image .image-text-equivalent a {
  color: #636f00;
  border-bottom: 0;
}
.pane-bundle-image .image-text-equivalent a:hover {
  color: #2d6280;
}
.pane-bundle-image .pane-title {
  display: none;
}
