.pane-bundle-landing-viewport .viewport-text span a:after {
  font-size: 21px;
  font-weight: normal;
  line-height: 0;
  margin-top: -10px;
  position: absolute;
  right: 12px;
  top: 50%;
}

.pane-bundle-landing-viewport {
  align-items: center;
  display: flex;
  justify-content: center;
  overflow: hidden;
  position: relative;
}
.pane-bundle-landing-viewport .field-name-field-homepage-image-desktop {
  display: none;
}
@media (min-width: 75em) {
  .pane-bundle-landing-viewport .field-name-field-homepage-image-desktop {
    display: block;
  }
}
.pane-bundle-landing-viewport .field-name-field-homepage-image-tablet {
  display: none;
}
@media (min-width: 37.5em) and (max-width: 74.9375em) {
  .pane-bundle-landing-viewport .field-name-field-homepage-image-tablet {
    display: block;
  }
}
.pane-bundle-landing-viewport .field-name-field-homepage-image-mobile {
  display: none;
}
@media (max-width: 37.4375em) {
  .pane-bundle-landing-viewport .field-name-field-homepage-image-mobile {
    display: block;
  }
}
.pane-bundle-landing-viewport .bg-text-color-blue .viewport-text span {
  background: #26639d;
  box-shadow: 25px 0 0 #26639d, -25px 0 0 #26639d;
}
.pane-bundle-landing-viewport .bg-text-color-green .viewport-text span {
  background: #175e54;
  box-shadow: 25px 0 0 #175e54, -25px 0 0 #175e54;
}
.pane-bundle-landing-viewport .bg-text-color-purple .viewport-text span {
  background: #97185d;
  box-shadow: 25px 0 0 #97185d, -25px 0 0 #97185d;
}
.pane-bundle-landing-viewport .bg-text-color-pink .viewport-text span {
  background: #dd1880;
  box-shadow: 25px 0 0 #dd1880, -25px 0 0 #dd1880;
}
.pane-bundle-landing-viewport .viewport-text {
  position: absolute;
  top: 40%;
  left: 10%;
  text-align: left;
  width: 35%;
}
@media (min-width: 37.5em) and (max-width: 74.9375em) {
  .pane-bundle-landing-viewport .viewport-text {
    top: 30%;
    width: 80%;
  }
}
@media (max-width: 37.4375em) {
  .pane-bundle-landing-viewport .viewport-text {
    top: 20%;
    width: 80%;
  }
}
@media (max-width: 20em) {
  .pane-bundle-landing-viewport .viewport-text {
    top: 0%;
  }
}
.pane-bundle-landing-viewport .viewport-text span {
  line-height: 2em;
  font-size: 36px;
  color: white;
  padding: 13px 0;
  display: inline;
  box-decoration-break: clone;
  opacity: 0.8;
}
@media (min-width: 37.5em) and (max-width: 74.9375em) {
  .pane-bundle-landing-viewport .viewport-text span {
    font-size: 30px;
    line-height: 2.5em;
  }
}
@media (max-width: 37.4375em) {
  .pane-bundle-landing-viewport .viewport-text span {
    font-size: 18px;
    line-height: 3em;
  }
}
@media (max-width: 20em) {
  .pane-bundle-landing-viewport .viewport-text span {
    font-size: 18px;
    line-height: 2.8em;
  }
}
.pane-bundle-landing-viewport .viewport-text span:hover {
  background-color: #2d6280;
  box-shadow: 25px 0 0 #2d6280, -25px 0 0 #2d6280;
  opacity: 1;
}
.pane-bundle-landing-viewport .viewport-text span a {
  color: white;
}
.pane-bundle-landing-viewport .viewport-text span a:after {
  content: "\f101";
  display: inline;
  speak: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-transform: none;
  line-height: 1;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'icons';
}
.pane-bundle-landing-viewport .viewport-text span a:after {
  color: white;
  font-weight: normal;
  position: relative;
  right: 0;
  padding-left: 10px;
}
@media (min-width: 37.5em) and (max-width: 74.9375em) {
  .pane-bundle-landing-viewport .viewport-text span a:after {
    top: 2px;
  }
}
@media (max-width: 37.4375em) {
  .pane-bundle-landing-viewport .viewport-text span a:after {
    top: 2px;
  }
}
.pane-bundle-landing-viewport .viewport-text span a:hover {
  text-decoration: none;
}
.pane-bundle-landing-viewport .scrollLink {
  color: white;
  cursor: hand;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  left: 50%;
  padding-bottom: 25%;
  position: absolute;
  transform: translate(-50%, -50%);
}
.pane-bundle-landing-viewport .scrollLink:after {
  content: "\f105";
  display: inline;
  speak: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-transform: none;
  line-height: 1;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'icons';
  display: block;
  padding: 10px 45px;
}
@media (max-width: 20em) {
  .pane-bundle-landing-viewport .scrollLink:after {
    padding: 0 45px;
  }
}
@media (max-width: 37.4375em) {
  .pane-bundle-landing-viewport .scrollLink {
    font-size: 12px;
    padding-bottom: 15%;
  }
}
@media (min-width: 37.5em) and (max-width: 74.9375em) {
  .pane-bundle-landing-viewport .scrollLink {
    padding-bottom: 15%;
  }
}

#edit-field-homepage-image-url #field-homepage-image-url-add-more-wrapper .link-field-column {
  float: none;
  width: 100%;
}
#edit-field-homepage-image-url #field-homepage-image-url-add-more-wrapper .form-item-field-homepage-image-url-und-0-title input#edit-field-homepage-image-url-und-0-title {
  width: 585px;
}

.panels-layout-gsb-homepage #content #main .panel-pane.pane-landingpage-video {
  padding-top: 0;
}
.panels-layout-gsb-homepage .pane-landingpage-video {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
}
.panels-layout-gsb-homepage .pane-landingpage-video video.splash__video__media {
  height: 100%;
  width: 100%;
}
.panels-layout-gsb-homepage .pane-landingpage-video .scrollLink {
  color: white;
  cursor: hand;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  left: 50%;
  padding-bottom: 10%;
  position: absolute;
  transform: translate(-50%, -50%);
}
.panels-layout-gsb-homepage .pane-landingpage-video .scrollLink:after {
  content: "\f105";
  display: inline;
  speak: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-transform: none;
  line-height: 1;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'icons';
  display: block;
  padding: 10px 45px;
}
@media (max-width: 20em) {
  .panels-layout-gsb-homepage .pane-landingpage-video .scrollLink:after {
    padding: 0 45px;
  }
}
@media (max-width: 37.4375em) {
  .panels-layout-gsb-homepage .pane-landingpage-video .scrollLink {
    font-size: 12px;
    padding-bottom: 15%;
  }
}
@media (min-width: 37.5em) and (max-width: 74.9375em) {
  .panels-layout-gsb-homepage .pane-landingpage-video .scrollLink {
    padding-bottom: 15%;
  }
}
.panels-layout-gsb-homepage .pane-landingpage-video video + .scrollLink {
  bottom: 0;
  padding-bottom: 10px;
}
