.pane-bundle-landing-viewport .viewport-text-wrapper .viewport-text span a:after {
  font-size: 21px;
  font-weight: normal;
  line-height: 0;
  margin-top: -10px;
  position: absolute;
  right: 12px;
  top: 50%;
}

.panels-layout-gsb-homepage #content #main .panel-pane.pane-bundle-landing-viewport {
  padding-top: 0;
}
@media (min-width: 41.6875em) and (max-width: 46em) {
  .panels-layout-gsb-homepage #content #main .panel-pane.pane-bundle-landing-viewport {
    padding-top: 50px;
  }
}

.pane-bundle-landing-viewport ~ .pane-bundle-landing-viewport.landing-image .field-name-field-homepage-image-tablet,
.pane-bundle-landing-viewport ~ .pane-bundle-landing-viewport.landing-image .field-name-field-homepage-image-desktop {
  display: none;
}
@media (min-width: 37.5em) and (max-width: 47.9375em) {
  .pane-bundle-landing-viewport ~ .pane-bundle-landing-viewport.landing-image .field-name-field-homepage-image-tablet {
    display: block;
  }
}

@media (min-width: 20em) and (max-width: 47.9375em) {
  .panels-layout-gsb-homepage .pane-bundle-landing-viewport.landing-video #landing-video {
    display: none;
  }
}

.pane-bundle-landing-viewport .field-name-field-homepage-image-desktop {
  display: none;
}
@media (min-width: 75em) {
  .pane-bundle-landing-viewport .field-name-field-homepage-image-desktop {
    display: block;
  }
}
.pane-bundle-landing-viewport .field-name-field-homepage-image-tablet {
  display: none;
}
@media (min-width: 37.5em) and (max-width: 74.9375em) {
  .pane-bundle-landing-viewport .field-name-field-homepage-image-tablet {
    display: block;
  }
}
.pane-bundle-landing-viewport .field-name-field-homepage-image-mobile {
  display: none;
}
@media (max-width: 37.4375em) {
  .pane-bundle-landing-viewport .field-name-field-homepage-image-mobile {
    display: block;
  }
}
.pane-bundle-landing-viewport .bg-text-color-blue .viewport-text span {
  background: #26639d;
  box-shadow: 25px 0 0 #26639d, -25px 0 0 #26639d;
}
.pane-bundle-landing-viewport .bg-text-color-green .viewport-text span {
  background: #175e54;
  box-shadow: 25px 0 0 #175e54, -25px 0 0 #175e54;
}
.pane-bundle-landing-viewport .bg-text-color-purple .viewport-text span {
  background: #97185d;
  box-shadow: 25px 0 0 #97185d, -25px 0 0 #97185d;
}
.pane-bundle-landing-viewport .bg-text-color-pink .viewport-text span {
  background: #dd1880;
  box-shadow: 25px 0 0 #dd1880, -25px 0 0 #dd1880;
}
.pane-bundle-landing-viewport .viewport-text-wrapper {
  margin: 0 auto;
  position: relative;
  width: 1065px;
}
@media (min-width: 37.5em) and (max-width: 74.9375em) {
  .pane-bundle-landing-viewport .viewport-text-wrapper {
    width: 100%;
    left: 40px;
  }
}
@media (max-width: 37.4375em) {
  .pane-bundle-landing-viewport .viewport-text-wrapper {
    left: 40px;
    width: 90%;
  }
}
@media (max-width: 20em) {
  .pane-bundle-landing-viewport .viewport-text-wrapper {
    left: 25px;
    width: 90%;
  }
}
.pane-bundle-landing-viewport .viewport-text-wrapper .viewport-text {
  bottom: 200px;
  max-width: 620px;
  position: absolute;
  text-align: left;
}
@media (max-width: 37.4375em) {
  .pane-bundle-landing-viewport .viewport-text-wrapper .viewport-text {
    max-width: 90%;
  }
}
@media (min-width: 35.5em) and (max-width: 41.6875em) {
  .pane-bundle-landing-viewport .viewport-text-wrapper .viewport-text {
    bottom: 100px;
  }
}
.pane-bundle-landing-viewport .viewport-text-wrapper .viewport-text span {
  line-height: 2em;
  font-size: 36px;
  color: white;
  padding: 13px 0;
  display: inline;
  box-decoration-break: clone;
  opacity: 0.8;
}
@media (min-width: 37.5em) and (max-width: 74.9375em) {
  .pane-bundle-landing-viewport .viewport-text-wrapper .viewport-text span {
    font-size: 30px;
    line-height: 2.5em;
  }
}
@media (max-width: 37.4375em) {
  .pane-bundle-landing-viewport .viewport-text-wrapper .viewport-text span {
    font-size: 18px;
    line-height: 3em;
  }
}
@media (max-width: 20em) {
  .pane-bundle-landing-viewport .viewport-text-wrapper .viewport-text span {
    font-size: 18px;
    line-height: 2.8em;
  }
}
.pane-bundle-landing-viewport .viewport-text-wrapper .viewport-text span:hover {
  background-color: #2d6280;
  box-shadow: 25px 0 0 #2d6280, -25px 0 0 #2d6280;
  opacity: 1;
}
.pane-bundle-landing-viewport .viewport-text-wrapper .viewport-text span a {
  color: white;
}
.pane-bundle-landing-viewport .viewport-text-wrapper .viewport-text span a:after {
  content: "\f101";
  display: inline;
  speak: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-transform: none;
  line-height: 1;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'icons';
}
.pane-bundle-landing-viewport .viewport-text-wrapper .viewport-text span a:after {
  color: white;
  font-weight: normal;
  position: relative;
  right: 0;
  padding-left: 10px;
}
@media (min-width: 37.5em) and (max-width: 74.9375em) {
  .pane-bundle-landing-viewport .viewport-text-wrapper .viewport-text span a:after {
    top: 2px;
  }
}
@media (max-width: 37.4375em) {
  .pane-bundle-landing-viewport .viewport-text-wrapper .viewport-text span a:after {
    top: 2px;
  }
}
.pane-bundle-landing-viewport .viewport-text-wrapper .viewport-text span a:hover {
  text-decoration: none;
}
.pane-bundle-landing-viewport .scrollLink {
  bottom: 0px;
  color: white;
  cursor: hand;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  height: 200px;
  left: 50%;
  position: absolute;
  text-align: center;
  transform: translate(-50%, 10px);
}
.pane-bundle-landing-viewport .scrollLink:after {
  content: "\f105";
  display: inline;
  speak: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-transform: none;
  line-height: 1;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'icons';
  display: block;
  padding: 10px 45px;
}
@media (max-width: 35.5em) {
  .pane-bundle-landing-viewport .scrollLink:after {
    padding: 10px 12px;
  }
}
@media (min-width: 37.5em) and (max-width: 74.9375em) {
  .pane-bundle-landing-viewport .scrollLink {
    bottom: 10px;
  }
}
@media (max-width: 37.4375em) {
  .pane-bundle-landing-viewport .scrollLink {
    bottom: 10px;
    font-size: 10px;
    height: 116px;
    text-align: center;
  }
}
.svg .pane-bundle-landing-viewport .scrollLink {
  background: url('../../../images/icons/background-scroll-explore-video.svg') no-repeat center, transparent;
  padding: 86px 18px;
  position: absolute;
  width: 150px;
}
@media (min-width: 14.375em) and (max-width: 74.9375em) {
  .svg .pane-bundle-landing-viewport .scrollLink {
    background: url('../../../images/icons/scroll-explore-video-small-mobile.svg') no-repeat center, transparent;
    padding: 40px 30px;
    height: 115px;
    font-size: 12px;
  }
}
@media (max-width: 37.4375em) {
  .svg .pane-bundle-landing-viewport .scrollLink {
    font-size: 11px;
    padding: 50px 30px;
    width: 150px;
  }
}
@media (min-width: 30em) and (max-width: 45.9375em) {
  .svg .pane-bundle-landing-viewport .scrollLink {
    bottom: 0px;
    font-size: 11px;
    padding: 45px 16px;
    width: 110px;
    height: 106px;
    left: 51%;
  }
}
@media (min-width: 46em) and (max-width: 47.9375em) {
  .svg .pane-bundle-landing-viewport .scrollLink {
    padding: 40px 30px;
    width: 108px;
    height: 115px;
    font-size: 12px;
  }
}
@media (min-width: 48em) and (max-width: 63.9375em) {
  .svg .pane-bundle-landing-viewport .scrollLink {
    padding: 57px 10px;
    width: 127px;
    height: 125px;
  }
}
@media (min-width: 60em) and (max-width: 68.75em) and (orientation: landscape) {
  .svg .pane-bundle-landing-viewport .scrollLink {
    background: url('../../../images/icons/background-scroll-explore-video.svg') no-repeat center, transparent;
    padding: 70px 15px;
    width: 148px;
    height: 170px;
  }
}
@media (min-width: 75em) {
  .svg .pane-bundle-landing-viewport .scrollLink {
    bottom: 0;
  }
}
.no-js .pane-bundle-landing-viewport .scrollLink, .no-svg .pane-bundle-landing-viewport .scrollLink {
  background: url('../../../images/icons/background-scroll-explore-video.png') no-repeat center transparent;
  padding: 86px 18px;
  position: absolute;
  width: 150px;
}
@media (max-width: 37.4375em) {
  .no-js .pane-bundle-landing-viewport .scrollLink, .no-svg .pane-bundle-landing-viewport .scrollLink {
    background: url('../../../images/icons/scroll-explore-video-small-mobile.svg') no-repeat center, transparent;
  }
}
.pane-bundle-landing-viewport video + .scrollLink {
  bottom: 0;
}
@media (min-width: 37.5em) and (max-width: 74.9375em) {
  .pane-bundle-landing-viewport video + .scrollLink {
    bottom: 0;
  }
}
@media (max-width: 37.4375em) {
  .pane-bundle-landing-viewport video + .scrollLink {
    bottom: 0;
  }
}

.pane-bundle-landing-viewport .scrollLink:hover {
  text-decoration: underline;
}
.pane-bundle-landing-viewport .scrollLink:hover:after {
  text-decoration: none;
}
.pane-bundle-landing-viewport .scrollLink:after {
  margin-bottom: -10px;
  text-decoration: none;
}
@media (min-width: 30em) and (max-width: 45.9375em) {
  .pane-bundle-landing-viewport .scrollLink:after {
    padding: 10px 33px;
  }
}
@media (min-width: 46em) and (max-width: 47.9375em) {
  .pane-bundle-landing-viewport .scrollLink:after {
    padding: 10px 15px;
  }
}
@media (min-width: 48em) and (max-width: 63.9375em) {
  .pane-bundle-landing-viewport .scrollLink:after {
    padding: 10px 20px;
  }
}
.pane-bundle-landing-viewport .scrollLink:after:hover {
  text-decoration: none;
}

#edit-field-homepage-image-url #field-homepage-image-url-add-more-wrapper .link-field-column {
  float: none;
  width: 100%;
}
#edit-field-homepage-image-url #field-homepage-image-url-add-more-wrapper .form-item-field-homepage-image-url-und-0-title input#edit-field-homepage-image-url-und-0-title {
  width: 585px;
}

.panels-layout-gsb-homepage .pane-landingpage-video,
.panels-layout-gsb-homepage .pane-bundle-landing-viewport {
  align-items: baseline;
  justify-content: center;
  overflow: hidden;
  position: relative;
}
@media (max-width: 37.4375em) {
  .panels-layout-gsb-homepage .pane-landingpage-video,
  .panels-layout-gsb-homepage .pane-bundle-landing-viewport {
    padding-top: 0;
    display: inline-block;
    max-width: 100%;
    height: 100%;
  }
}
.panels-layout-gsb-homepage .pane-landingpage-video img,
.panels-layout-gsb-homepage .pane-bundle-landing-viewport img {
  transform: scale(2, 2);
  transform-origin: 50% 10%;
}
@media (min-width: 35.5em) and (max-width: 46em) {
  .panels-layout-gsb-homepage .pane-landingpage-video img,
  .panels-layout-gsb-homepage .pane-bundle-landing-viewport img {
    transform: scale(1, 1);
    transform-origin: 50% 40%;
  }
}
@media (min-width: 48em) and (max-width: 64em) {
  .panels-layout-gsb-homepage .pane-landingpage-video img,
  .panels-layout-gsb-homepage .pane-bundle-landing-viewport img {
    transform: scale(4, 4);
    transform-origin: 48% 35%;
  }
}
@media (min-width: 64.0625em) {
  .panels-layout-gsb-homepage .pane-landingpage-video img,
  .panels-layout-gsb-homepage .pane-bundle-landing-viewport img {
    transform: scale(1.5, 1.5);
    transform-origin: 50% 50%;
  }
}
.panels-layout-gsb-homepage .pane-landingpage-video video.splash__video__media,
.panels-layout-gsb-homepage .pane-landingpage-video .field-type-image,
.panels-layout-gsb-homepage .pane-bundle-landing-viewport video.splash__video__media,
.panels-layout-gsb-homepage .pane-bundle-landing-viewport .field-type-image {
  height: auto;
  width: 100%;
}

/* Kaltura video display */
@media (max-width: 37.4375em) {
  .panels-layout-gsb-homepage .pane-bundle-landing-viewport {
    display: block;
  }
}
.panels-layout-gsb-homepage .pane-bundle-landing-viewport #landing-video {
  width: 100%;
  height: 100%;
  display: inline-block;
  position: relative;
}
.panels-layout-gsb-homepage .pane-bundle-landing-viewport #landing-video #kaltura-player1 {
  min-width: 100vw;
  min-height: 100vh;
  margin-top: 5%;
}
@media (min-height: 48em) and (max-height: 83.4375em) and (min-width: 64em) and (max-width: 83.5em) and (orientation: landscape) {
  .panels-layout-gsb-homepage .pane-bundle-landing-viewport #landing-video #kaltura-player1 {
    width: 150%;
    height: 150%;
    margin-top: -10%;
    margin-left: -20%;
  }
}
@media (min-height: 64em) and (max-height: 83.5em) and (min-width: 48em) and (max-width: 64em) and (orientation: portrait) {
  .panels-layout-gsb-homepage .pane-bundle-landing-viewport #landing-video #kaltura-player1 {
    width: 295%;
    height: 295%;
    margin-top: -145%;
    margin-left: -30%;
  }
}
@media (min-height: 83.5625em) and (min-width: 48em) and (orientation: portrait) {
  .panels-layout-gsb-homepage .pane-bundle-landing-viewport #landing-video #kaltura-player1 {
    width: 300%;
    height: 300%;
    margin-top: -150%;
    margin-left: -100%;
  }
}
@media (min-height: 0em) and (max-height: 20.5625em) and (min-width: 48em) and (max-width: 85.375em) and (orientation: landscape) {
  .panels-layout-gsb-homepage .pane-bundle-landing-viewport #landing-video #kaltura-player1 {
    width: 600vw;
    height: 600vh;
    margin-top: -30%;
    margin-left: -250%;
  }
}
@media (min-height: 20.625em) and (max-height: 47.9375em) and (min-width: 48em) and (max-width: 62.5em) and (orientation: landscape) {
  .panels-layout-gsb-homepage .pane-bundle-landing-viewport #landing-video #kaltura-player1 {
    width: 135%;
    height: 135%;
    margin-top: -10%;
    margin-left: -18%;
  }
}
@media (min-height: 20.6875em) and (max-height: 47.9375em) and (min-width: 62.5625em) and (max-width: 81.25em) and (orientation: landscape) {
  .panels-layout-gsb-homepage .pane-bundle-landing-viewport #landing-video #kaltura-player1 {
    width: 190%;
    height: 190%;
    margin-top: -10%;
    margin-left: -45%;
  }
}
@media (min-height: 20.625em) and (max-height: 47.9375em) and (min-width: 48em) and (max-width: 81.3125em) and (orientation: landscape) {
  .panels-layout-gsb-homepage .pane-bundle-landing-viewport #landing-video #kaltura-player1 {
    width: 220%;
    height: 220%;
    margin-top: -10%;
    margin-left: -60%;
  }
}
@media (min-height: 37.5em) and (max-height: 47.9375em) and (min-width: 81.3125em) and (max-width: 85.3125em) and (orientation: landscape) {
  .panels-layout-gsb-homepage .pane-bundle-landing-viewport #landing-video #kaltura-player1 {
    width: 120%;
    height: 120%;
    margin-left: -10%;
  }
}
.panels-layout-gsb-homepage .pane-bundle-landing-viewport #landing-video #kaltura-player1 #kaltura-player1_ifp {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
