.pane-bundle-landing-viewport {
  position: relative;
}
.pane-bundle-landing-viewport .bg-text-color-blue .viewport-text span {
  background: blue;
  box-shadow: 25px 0 0 blue, -25px 0 0 blue;
  opacity: 0.8;
}
.pane-bundle-landing-viewport .bg-text-color-blue .viewport-text span a {
  color: white;
}
.pane-bundle-landing-viewport .bg-text-color-teal .viewport-text span {
  background: teal;
  box-shadow: 25px 0 0 teal, -25px 0 0 teal;
  opacity: 0.8;
}
.pane-bundle-landing-viewport .bg-text-color-teal .viewport-text span a {
  color: white;
}
.pane-bundle-landing-viewport .bg-text-color-lime .viewport-text span {
  background: #006152;
  box-shadow: 25px 0 0 #006152, -25px 0 0 #006152;
  opacity: 0.8;
}
.pane-bundle-landing-viewport .bg-text-color-lime .viewport-text span a {
  color: white;
}
.pane-bundle-landing-viewport .bg-text-color-purple .viewport-text span {
  background: #97185d;
  box-shadow: 25px 0 0 #97185d, -25px 0 0 #97185d;
  opacity: 0.8;
}
.pane-bundle-landing-viewport .bg-text-color-purple .viewport-text span a {
  color: white;
}
.pane-bundle-landing-viewport .bg-text-color-pink .viewport-text span {
  background: #dd1880;
  box-shadow: 25px 0 0 #dd1880, -25px 0 0 #dd1880;
  opacity: 0.8;
}
.pane-bundle-landing-viewport .bg-text-color-pink .viewport-text span a {
  color: white;
}
.pane-bundle-landing-viewport .bg-text-color-white .viewport-text span {
  background: white;
  box-shadow: 25px 0 0 white, -25px 0 0 white;
  color: #231f20;
  opacity: 0.8;
}
.pane-bundle-landing-viewport .bg-text-color-white .viewport-text span a {
  color: #231f20;
}
.pane-bundle-landing-viewport .bg-text-color-charcoal .viewport-text span {
  background: #231f20;
  box-shadow: 25px 0 0 #231f20, -25px 0 0 #231f20;
  opacity: 0.8;
}
.pane-bundle-landing-viewport .bg-text-color-charcoal .viewport-text span a {
  color: white;
}
.pane-bundle-landing-viewport .viewport-text {
  position: absolute;
  top: 40%;
  left: 10%;
  text-align: left;
  width: 30%;
}
.pane-bundle-landing-viewport .viewport-text span {
  line-height: 2em;
  font-size: 2em;
  color: white;
  padding: 13px;
  display: inline;
}
.pane-bundle-landing-viewport .scrollLink {
  bottom: 10px;
  color: white;
  cursor: hand;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}
.pane-bundle-landing-viewport .scrollLink:after {
  content: "\f105";
  display: inline;
  speak: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-transform: none;
  line-height: 1;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'icons';
  display: block;
  padding: 20px 45px;
}
@media (max-width: 35.5em) {
  .pane-bundle-landing-viewport .scrollLink {
    font-size: 12px;
  }
}
