.pane-bundle-links .black-bar, .pane-bundle-links .green-bar {
  background: white;
}

.pane-bundle-links .black-bar .field-name-field-title {
  border-top: 10px #231f20 solid;
}

.pane-bundle-links .black-bar, .pane-bundle-links .green-bar {
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  margin: 1px;
}

.pane-bundle-links a[href*="mailto:"]:after {
  content: "\f112";
  display: inline;
  speak: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-transform: none;
  line-height: 1;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'icons';
}
.pane-bundle-links a[href*="mailto:"]:after {
  font-size: 12px;
  margin-left: 5px;
}
.pane-bundle-links .show-more-less-toggler-wrapper {
  overflow: hidden;
  *zoom: 1;
  border-top: 1px solid #e4e4e4;
  padding-top: 16px;
  width: 100%;
}
.pane-bundle-links .show-more-less-toggler {
  color: #990000;
  float: right;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.3;
  margin: 1px;
}
.pane-bundle-links .show-more-less-toggler:before {
  color: #990000;
  margin-right: 6px;
  top: 2px;
}
.pane-bundle-links .show-more-less-toggler:hover {
  color: #2d6280;
}
.pane-bundle-links .show-more-less-toggler:hover:before {
  color: #2d6280;
}
.pane-bundle-links .black-bar .field-name-field-title {
  color: #231f20;
  font-family: "NewsGothicBT", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.3;
  margin: 0 26px;
  padding-top: 12px;
}
.pane-bundle-links .black-bar .field-name-field-link-unlimited {
  padding: 10px 26px 0;
}
.pane-bundle-links .black-bar .field-name-field-link-unlimited .field-item {
  border-top: 1px solid #d6d6d6;
  line-height: 0;
  padding-bottom: 15px;
  padding-top: 15px;
}
.pane-bundle-links .black-bar .field-name-field-link-unlimited .field-item:last-of-type {
  padding-bottom: 16px;
}
.pane-bundle-links .black-bar .field-name-field-link-unlimited .field-item:first-of-type {
  border-style: none;
}
.pane-bundle-links .black-bar .field-name-field-link-unlimited a {
  font-family: "NewsGothicBT", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.2;
}
.pane-bundle-links .black-bar .field-name-field-link-unlimited a[target=_blank]:after {
  font-size: 10px;
}
.pane-bundle-links .black-bar .field-name-field-link-unlimited a[href$=".pdf"]:after {
  font-size: 14px;
}
.pane-bundle-links .black-bar .show-more-less-toggler-wrapper {
  padding-bottom: 16px;
}
.pane-bundle-links .black-bar .show-more-less-toggler-wrapper a {
  font-family: "NewsGothicBT-Demi", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
}
.pane-bundle-links .black-bar .show-more-less-toggler-wrapper.show-more-open {
  margin-top: 0;
}
.pane-bundle-links .green-bar {
  padding: 0 26px 14px;
}
.pane-bundle-links .green-bar .field-name-field-title {
  color: #231f20;
  font-size: 18px;
  font-weight: bold;
  padding: 18px 0 11px;
  line-height: 1.3;
}
.pane-bundle-links .green-bar .field-name-field-link-unlimited .field-item {
  border-top: 1px solid #e4e4e4;
  line-height: 0;
  padding-top: 6px;
  padding-bottom: 6px;
}
.pane-bundle-links .green-bar .field-name-field-link-unlimited .field-item:last-of-type {
  padding-bottom: 0;
}
.pane-bundle-links .green-bar .field-name-field-link-unlimited .field-item a {
  color: #636f00;
  font-size: 16px;
  line-height: 1.3;
}
.pane-bundle-links .green-bar .field-name-field-link-unlimited .field-item a[target=_blank]:after {
  font-size: 10px;
}
.pane-bundle-links .green-bar .field-name-field-link-unlimited .field-item a[href$=".pdf"]:after {
  font-size: 14px;
}
.pane-bundle-links .green-bar .field-name-field-link-unlimited .field-item a:hover {
  color: #2d6280;
}
.pane-bundle-links .green-bar .show-more-less-toggler {
  color: #636f00;
}
.pane-bundle-links .green-bar .show-more-less-toggler:before {
  color: #636f00;
}
.pane-bundle-links .green-bar .show-more-less-toggler:hover {
  color: #2d6280;
}
.pane-bundle-links .green-bar .show-more-less-toggler:hover:before {
  color: #2d6280;
}
.pane-bundle-links .stanford-links {
  position: relative;
  padding: 6px 26px 14px;
  background: -moz-linear-gradient(top, #e3dac7, #ebe5d9);
  background: -o-linear-gradient(top, #e3dac7, #ebe5d9);
  background: -webkit-linear-gradient(top, #e3dac7, #ebe5d9);
  background: linear-gradient(to bottom, #e3dac7, #ebe5d9);
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFEBE5D9', endColorstr='#FFE3DAC7');
  min-height: 75px;
}
.pane-bundle-links .stanford-links:before {
  background-color: #c2b7a1;
  content: "";
  display: block;
  height: 3px;
  position: relative;
  top: -6px;
  width: 100%;
}
.pane-bundle-links .stanford-links .field-name-field-link-unlimited {
  overflow: hidden;
  *zoom: 1;
  padding-top: 0;
  position: relative;
  top: 0;
}
.pane-bundle-links .stanford-links .field-name-field-link-unlimited .field-items {
  min-height: 41px;
}
.pane-bundle-links .stanford-links .field-name-field-link-unlimited .field-item {
  border-top: 1px solid #c2b7a1;
  line-height: 1;
  padding-bottom: 12px;
  padding-top: 12px;
}
.pane-bundle-links .stanford-links .field-name-field-link-unlimited .field-item:last-of-type {
  padding-bottom: 12px;
}
.pane-bundle-links .stanford-links .field-name-field-link-unlimited .field-item:first-of-type {
  border-top: none;
  padding-top: 22px;
  width: 85%;
}
.pane-bundle-links .stanford-links .field-name-field-link-unlimited .field-item:first-of-type:after {
  content: url('../../../images/stanford_logo.png');
  position: absolute;
  right: 0;
  top: 0;
}
.pane-bundle-links .stanford-links a {
  font-size: 15px;
  line-height: 1;
}
.pane-bundle-links .stanford-links a[target=_blank]:after {
  color: #949494;
  font-size: 10px;
}
.pane-bundle-links .stanford-links a[target=_blank][href$=".pdf"]:after {
  font-size: 12px;
}
.pane-bundle-links .stanford-links .show-more-less-toggler-wrapper {
  border-top: 1px #c2b7a1 solid;
}
.pane-bundle-links .stanford-links .show-more-less-toggler-wrapper a {
  font-family: "NewsGothicBT-Demi", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
}
.pane-bundle-links .stanford-links .show-more-less-toggler-wrapper a:before {
  color: #990000;
}
.pane-bundle-links .stanford-links .show-more-less-toggler-wrapper a:hover {
  color: #2d6280;
}
.pane-bundle-links .stanford-links .show-more-less-toggler-wrapper a:hover:before {
  color: #2d6280;
}
.pane-bundle-links .stanford-links .show-more-less-toggler-wrapper.show-more-open {
  margin-top: 0;
}
.pane-bundle-links .stanford-links .field-name-field-title {
  color: #231f20;
  font-family: "NewsGothicBT", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.3;
  margin: 0;
  padding-top: 8px;
  width: 85%;
}
.pane-bundle-links .stanford-links .field-name-field-title:after {
  content: url('../../../images/stanford_logo.png');
  position: absolute;
  right: 25px;
  top: 11px;
}
.pane-bundle-links .stanford-links .field-name-field-title + .field-group-div .field-item:first-of-type:after {
  content: "";
}