.pane-bundle-mission-statement {
  background: white;
  padding-top: 70px;
}
.pane-bundle-mission-statement .mission-statement {
  margin: 0 auto;
  max-width: 1170px;
  padding: 25px 20px 105px;
  text-align: center;
}
@media (min-width: 23.4375em) and (max-width: 41.6875em) and (orientation: portrait) {
  .pane-bundle-mission-statement .mission-statement {
    padding: 42px 20px 50px;
  }
}
@media (min-width: 41.6875em) and (max-width: 46em) {
  .pane-bundle-mission-statement .mission-statement {
    padding: 22px 20px 50px;
  }
}
@media (min-width: 48em) and (max-width: 64em) {
  .pane-bundle-mission-statement .mission-statement {
    padding: 0 20px 65px;
  }
}
.pane-bundle-mission-statement .mission-statement h1 {
  padding-bottom: 55px;
}
.pane-bundle-mission-statement .mission-statement h1 a {
  color: #990000;
  border-bottom: none;
}
.pane-bundle-mission-statement .mission-statement h1 a:hover {
  border-bottom: 2px solid #990000;
}
@media (max-width: 35.5em) {
  .pane-bundle-mission-statement .mission-statement h1 {
    font-size: 30px;
    padding: 0 40px 20px 40px;
  }
}
@media (min-width: 41.6875em) and (max-width: 46em) {
  .pane-bundle-mission-statement .mission-statement h1 {
    padding-bottom: 21px;
  }
}
@media (min-width: 48em) and (max-width: 64em) {
  .pane-bundle-mission-statement .mission-statement h1 {
    font-size: 42px;
    word-spacing: -5px;
    padding-bottom: 52px;
  }
}
.pane-bundle-mission-statement .mission-statement p {
  color: #231f10;
  font-size: 32px;
}
@media (max-width: 35.5em) {
  .pane-bundle-mission-statement .mission-statement p {
    font-size: 18px;
    padding: 0 28px;
    line-height: 30px;
  }
}
@media (min-width: 48em) and (max-width: 63.9375em) {
  .pane-bundle-mission-statement .mission-statement p {
    line-height: 1.6em;
  }
}
@media (min-width: 60em) and (max-width: 68.75em) and (orientation: landscape) {
  .pane-bundle-mission-statement .mission-statement p {
    line-height: 1.6em;
  }
}
@media (min-width: 48em) and (max-width: 64em) {
  .pane-bundle-mission-statement .mission-statement p {
    font-size: 25px;
  }
}
