.pane-bundle-mission-statement {
  background: white;
}
.pane-bundle-mission-statement .mission-statement {
  margin: 0 auto;
  max-width: 1170px;
  padding: 25px 20px 105px;
  text-align: center;
}
@media (max-width: 35.5em) {
  .pane-bundle-mission-statement .mission-statement {
    padding: 50px 30px;
  }
}
@media (min-width: 48em) and (max-width: 63.9375em) {
  .pane-bundle-mission-statement .mission-statement {
    padding: 40px 35px 65px 35px;
  }
}
@media (min-width: 60em) and (max-width: 68.75em) and (orientation: landscape) {
  .pane-bundle-mission-statement .mission-statement {
    padding: 40px 35px 65px 35px;
  }
}
.pane-bundle-mission-statement .mission-statement h1 {
  padding-bottom: 55px;
}
.pane-bundle-mission-statement .mission-statement h1 a {
  color: #990000;
  border-bottom: none;
}
.pane-bundle-mission-statement .mission-statement h1 a:hover {
  border-bottom: 2px solid #990000;
}
@media (max-width: 35.5em) {
  .pane-bundle-mission-statement .mission-statement h1 {
    font-size: 30px;
    padding-bottom: 25px;
  }
}
.pane-bundle-mission-statement .mission-statement p {
  color: #231f10;
  font-size: 32px;
}
@media (max-width: 35.5em) {
  .pane-bundle-mission-statement .mission-statement p {
    font-size: 18px;
  }
}
@media (min-width: 48em) and (max-width: 63.9375em) {
  .pane-bundle-mission-statement .mission-statement p {
    line-height: 1.6em;
  }
}
@media (min-width: 60em) and (max-width: 68.75em) and (orientation: landscape) {
  .pane-bundle-mission-statement .mission-statement p {
    line-height: 1.6em;
  }
}
