.pane-bundle-people .person-row {
  border-top: 1px lightgray solid;
}

.narrow-view .person-list-view, .narrow-view
.person-list-view-container, .person-list-view-container {
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  margin: 1px;
}

.pane-bundle-people .person-wrapper-name-title,
.pane-bundle-people .person-wrapper-info, .pane-bundle-people .person-description {
  color: black;
  font-size: 16px;
  line-height: 1.3;
}

.wide-view .pane-bundle-people {
  margin-top: 30px;
  margin-bottom: 30px !important;
}
.wide-view .pane-bundle-people .person-row {
  overflow: hidden;
  *zoom: 1;
}
.pane-bundle-people .person-wrapper-name-title,
.pane-bundle-people .person-wrapper-info {
  margin-bottom: 12px;
}
.pane-bundle-people .person-wrapper-info div {
  margin-bottom: 2px;
}
.pane-bundle-people .person-wrapper-info div:last-of-type {
  margin-bottom: 0;
}
.pane-bundle-people .person-name {
  font-family: "NewsGothicBT", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  margin-bottom: 3px;
}
.pane-bundle-people .person-name a {
  color: #636f00;
}
.pane-bundle-people .person-name a:hover {
  color: #2d6280;
}
.pane-bundle-people .person-rank-and-area,
.pane-bundle-people .person-position,
.pane-bundle-people .person-staff-title-position-0,
.pane-bundle-people .person-staff-title-position-1,
.pane-bundle-people .person-staff-title-position-2 {
  margin-bottom: 3px;
}
.pane-bundle-people .person-alumni-title {
  font-family: "NewsGothicBT-Demi", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.pane-bundle-people .person-phone {
  font-size: 14px;
}
.pane-bundle-people .person-email a {
  color: #636f00;
  font-size: 14px;
}
.pane-bundle-people .person-email a:after {
  content: "\f112";
  display: inline;
  speak: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-transform: none;
  line-height: 1;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'icons';
}
.pane-bundle-people .person-email a:hover {
  color: #2d6280;
}
.pane-bundle-people .person-email a:after {
  font-size: 12px;
  margin-left: 5px;
}
.pane-bundle-people .person-description {
  margin-bottom: 24px;
}
.pane-bundle-people img {
  position: relative;
  z-index: 1;
}

.narrow-view .person-list-view, .narrow-view
.person-list-view-container {
  background: white;
  padding: 26px;
}
.person-list-view .field-name-field-title,
.person-list-view-container .field-name-field-title {
  line-height: 1.3;
  margin-bottom: 20px;
}
.wide-view .person-list-view .field-name-field-title, .wide-view
.person-list-view-container .field-name-field-title {
  font-family: "NewsGothicBT-Demi", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: normal;
}
.narrow-view .person-list-view .field-name-field-title, .narrow-view
.person-list-view-container .field-name-field-title {
  font-family: "NewsGothicBT", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
}
.person-list-view img,
.person-list-view-container img {
  margin-top: 2px;
}
.wide-view .person-list-view img, .wide-view
.person-list-view-container img {
  float: left;
  margin-bottom: 24px;
  margin-right: 24px;
  height: 120px;
  width: 120px;
}
.narrow-view .person-list-view img, .narrow-view
.person-list-view-container img {
  height: 90px;
  width: 90px;
}
.wide-view .person-list-view .person-fpp-wrapper, .wide-view
.person-list-view-container .person-fpp-wrapper {
  float: left;
  margin-left: -144px;
  padding-left: 144px;
  width: 100%;
}
.wide-view .person-list-view .person-name, .wide-view
.person-list-view-container .person-name {
  font-size: 18px;
  padding-top: 12px;
}
.wide-view .person-list-view .person-name a, .wide-view
.person-list-view-container .person-name a {
  font-size: 20px;
}
.narrow-view .person-list-view .person-name, .narrow-view
.person-list-view-container .person-name {
  margin-top: 8px;
}
.wide-view .person-list-view .person-rank-and-area, .wide-view
.person-list-view .person-position, .wide-view
.person-list-view-container .person-rank-and-area, .wide-view
.person-list-view-container .person-position {
  font-size: 16px;
  line-height: 1.3;
}
.narrow-view .person-list-view .person-wrapper-info, .narrow-view
.person-list-view-container .person-wrapper-info {
  font-size: 14px;
}
.wide-view .person-list-view .person-phone, .wide-view
.person-list-view-container .person-phone {
  font-size: 15px;
}
.wide-view .person-list-view .person-email a, .wide-view
.person-list-view-container .person-email a {
  font-size: 16px;
}

.person-list-view-container {
  background: white;
  padding: 26px;
}

.person-grid-view {
  overflow: hidden;
  *zoom: 1;
}
.person-grid-view .person-row {
  float: left;
  width: 270px;
}
.person-grid-view .person-row:nth-of-type(even) {
  clear: left;
  margin-right: 30px;
}
@media (min-width: 62.5em) and (max-width: 75.6875em) {
  .person-grid-view .person-row {
    width: 100%;
  }
  .person-grid-view .person-row:nth-of-type(even) {
    margin-right: 0;
  }
}
@media (max-width: 56.875em) {
  .person-grid-view .person-row {
    width: 100%;
  }
  .person-grid-view .person-row:nth-of-type(even) {
    margin-right: 0;
  }
}
.person-grid-view .field-name-field-title {
  font-size: 26px;
  font-family: "NewsGothicBT-Demi", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  line-height: 1.3;
  margin-bottom: 20px;
}
.person-grid-view img {
  float: left;
  margin-bottom: 24px;
  margin-top: 2px;
  margin-right: 16px;
  height: 90px;
  width: 90px;
}
.person-grid-view .person-fpp-wrapper.use-photo {
  float: left;
  margin-left: -106px;
  padding-left: 106px;
  width: 100%;
}
.person-grid-view .person-name {
  padding-top: 12px;
}
.person-grid-view .person-wrapper-info {
  font-size: 14px;
}
.wide-view .person-grid-view .person-description {
  font-size: 14px;
}
