.pane-bundle-quotes {
  margin-left: 18px;
}
.pane-bundle-quotes .quotes-title {
  position: relative;
}
.pane-bundle-quotes p {
  line-height: 0;
  margin-bottom: 0;
}
.pane-bundle-quotes a {
  color: #231f20;
}
.pane-bundle-quotes a .last-double-apostrophe:after {
  content: "\f101";
  display: inline;
  speak: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-transform: none;
  line-height: 1;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'icons';
}
.pane-bundle-quotes a .last-double-apostrophe:after {
  color: #bac405;
  font-size: 24px;
  margin-left: 8px;
}
.pane-bundle-quotes a:hover {
  color: #2d6280;
  text-decoration: none !important;
}
.pane-bundle-quotes a:hover .quote,
.pane-bundle-quotes a:hover .attribution,
.pane-bundle-quotes a:hover .attribution-title {
  border-bottom: 1px solid;
}
.pane-bundle-quotes a:hover .last-double-apostrophe:after {
  color: #aac4bf;
}
.pane-bundle-quotes .first-double-apostrophe {
  font-size: 34px;
  position: absolute;
  left: -17px;
}
@media (max-width: 35.5em) {
  .pane-bundle-quotes .first-double-apostrophe {
    font-size: 38px;
    left: -22px;
    top: -7px;
  }
}
.pane-bundle-quotes .quote {
  font-size: 34px;
  line-height: 1.4em;
}
@media (max-width: 35.5em) {
  .pane-bundle-quotes .quote {
    font-size: 26px;
  }
}
.pane-bundle-quotes .last-double-apostrophe {
  font-size: 34px;
}
.pane-bundle-quotes .dash {
  margin-right: 8px;
}
.pane-bundle-quotes .attribution {
  font-size: 18px;
  line-height: 1.3em;
  font-weight: normal;
}
@media (max-width: 35.5em) {
  .pane-bundle-quotes .attribution {
    font-size: 16px;
  }
}
.pane-bundle-quotes .attribution-title {
  font-size: 18px;
  line-height: 1.3em;
  font-weight: normal;
  font-style: italic;
}
@media (max-width: 35.5em) {
  .pane-bundle-quotes .attribution-title {
    font-size: 16px;
  }
}
