.pane-bundle-slideshow .slide-color-blue {
  background: #26639d;
}
.pane-bundle-slideshow .slide-color-purple {
  background: #97185d;
}
.pane-bundle-slideshow .slide-color-brightteal {
  background: #009c84;
}
.pane-bundle-slideshow .slide-color-pink {
  background: #dd1880;
}
.pane-bundle-slideshow .slide-color-charcoal {
  background: #231f20;
}
.pane-bundle-slideshow .slide-color-white {
  background: white;
}
.pane-bundle-slideshow .slide-color-white .field-name-field-superhead {
  color: #231f20;
}
.pane-bundle-slideshow .slide-color-white .slide-superhead {
  color: #990000;
}
.pane-bundle-slideshow .slide-color-white .slide-superhead .field-name-field-superhead {
  color: #990000;
}
.pane-bundle-slideshow .slide-color-white .slide-superhead .field-name-field-superhead:hover {
  color: #2d6280;
}
.pane-bundle-slideshow .slide-color-white .slide-superhead:hover {
  border: none;
  color: #2d6280;
  text-decoration: underline;
}
.pane-bundle-slideshow .slide-color-white .field-name-field-text-slide {
  color: #231f20;
}
.pane-bundle-slideshow .slide-color-white .slide-text {
  color: #231f20;
}
.pane-bundle-slideshow .slide-color-white .slide-text:hover {
  border-bottom: 1px #2d6280 solid;
}
.pane-bundle-slideshow .slide-color-white .slide-text:hover .field-name-field-text-slide {
  color: #2d6280;
}
.pane-bundle-slideshow .slide-color-white .slide-text:hover:after {
  color: #aac4bf;
}
