.pane-bundle-social-feed, .page-insights .pane-bundle-social-feed {
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  margin: 1px;
}

.pane-bundle-social-feed .group-wrapper-twitter a:before {
  background-color: #c50000;
  background: -moz-linear-gradient(bottom, #c50000 0%, #860000 100%);
  background: -o-linear-gradient(bottom, #c50000 0%, #860000 100%);
  background: -webkit-linear-gradient(bottom, #c50000 0%, #860000 100%);
  background: linear-gradient(to top, #c50000 0%, #860000 100%);
}

.pane-bundle-social-feed {
  padding: 26px;
  background: url('../../../images/bg-social-feed-2015-05-26-1.png') no-repeat bottom right, #d3eaeb;
}
.pane-bundle-social-feed a {
  color: #990000;
}
.pane-bundle-social-feed a:hover {
  color: #2d6280;
}
.pane-bundle-social-feed a[target="_blank"]:after {
  content: "";
}
.pane-bundle-social-feed .twitter-title-text,
.pane-bundle-social-feed .twitter-search-text {
  display: block;
}
.pane-bundle-social-feed .group-wrapper-twitter {
  font-size: 18px;
  height: 40px;
  line-height: 1.2;
  font-weight: bold;
  margin: 0;
  margin-bottom: 20px;
}
.pane-bundle-social-feed .group-wrapper-twitter a:before {
  content: "\f121";
  display: inline;
  speak: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-transform: none;
  line-height: 1;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'icons';
}
.pane-bundle-social-feed .group-wrapper-twitter a:before {
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  color: white;
  display: block;
  float: right;
  font-size: 21px;
  line-height: 2;
  width: 40px;
  height: 40px;
  text-align: center;
}
.pane-bundle-social-feed .group-wrapper-twitter a:hover {
  color: #2d6280;
}
.pane-bundle-social-feed .group-wrapper-twitter a:hover:before {
  background: #2d6280;
}

.page-insights .pane-bundle-social-feed {
  background: white;
  border: 0;
}
.page-insights .pane-bundle-social-feed .twitter-title-text {
  display: none;
}
.page-insights .pane-bundle-social-feed .twitter-search-text {
  position: relative;
  top: 10px;
}
.page-insights .pane-bundle-social-feed .field-name-field-feed-source a:before {
  background: black;
  float: left;
  font-size: 21px;
  line-height: 2;
  margin-right: 8px;
  width: 40px;
  height: 40px;
  text-align: center;
}
.page-insights .pane-bundle-social-feed .field-name-field-feed-source a:hover {
  color: #2d6280;
}
.page-insights .pane-bundle-social-feed .field-name-field-feed-source a:hover:before {
  background: #2d6280;
}
