.pane-bundle-spotlight .feature-spotlight-label {
  background: #231f20;
  color: white;
  display: inline-block;
  font-family: "NewsGothicBT-Demi", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2;
  margin-bottom: 26px;
  padding: 6px 8px;
  position: relative;
  z-index: 2;
}
@media (max-width: 38.125em) {
  .pane-bundle-spotlight .feature-spotlight-label {
    font-size: 13px;
    margin-bottom: 20px;
  }
}

.pane-bundle-spotlight .feature-spotlight-label {
  margin-bottom: 0;
}
.pane-bundle-spotlight .group-name-wrapper {
  color: black;
}
.pane-bundle-spotlight .group-name-wrapper a {
  color: #636f00;
  display: block;
}
.pane-bundle-spotlight .group-name-wrapper .field {
  display: inline;
  font-size: 22px;
  font-weight: bold;
  line-height: 1.2;
  margin-right: 5px;
}
.pane-bundle-spotlight .field-name-field-first-name,
.pane-bundle-spotlight .field-name-field-last-name {
  display: inline;
  font-size: 22px;
  font-weight: bold;
  line-height: 1.2;
  margin-right: 5px;
}
.pane-bundle-spotlight .field-name-field-sections {
  display: none;
}
.pane-bundle-spotlight .field-name-field-title-position-single,
.pane-bundle-spotlight .field-name-field-program-single,
.pane-bundle-spotlight .field-name-field-year {
  font-family: "NewsGothicBT-Demi", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.2;
}
.pane-bundle-spotlight .field-name-field-program-single {
  display: inline;
  margin-right: 3px;
  padding-top: 5px;
}
.pane-bundle-spotlight .field-name-field-year {
  padding-top: 5px;
}
.pane-bundle-spotlight .field-name-field-program-single,
.pane-bundle-spotlight .field-name-field-year {
  color: #766d5f;
}
.pane-bundle-spotlight .field-name-field-gsb-spotlight-image-video {
  overflow: hidden;
}

.pane-bundle-spotlight .gsb-responsive-main .file-video {
  display: none !important;
}
.pane-bundle-spotlight .gsb-responsive-preview .file-video {
  display: block !important;
}
.pane-bundle-spotlight .video-play-icon {
  display: none;
}
