.pane-bundle-videos {
  background: white;
}

.pane-bundle-videos .field-collection-item-field-video {
  border-bottom: 1px lightgray solid;
}

.pane-bundle-videos .field-name-field-link-single {
  border-top: 10px #231f20 solid;
}

.pane-bundle-videos {
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  margin: 1px;
}

.pane-bundle-videos {
  padding: 0 26px;
}
.pane-bundle-videos .field-name-field-link-single {
  color: #231f20;
  font-family: "NewsGothicBT-Demi", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.3;
  padding-top: 12px;
}
.pane-bundle-videos .field-name-field-link-single a {
  color: #231f20;
}
.pane-bundle-videos .field-collection-item-field-video {
  overflow: hidden;
  *zoom: 1;
  padding: 22px 26px;
  margin: 0 -26px;
}
.pane-bundle-videos .field-collection-item-field-video:last-of-type {
  border-bottom: 0;
}
.pane-bundle-videos .field-collection-item-field-video .field-name-field-title {
  display: inline;
  font-size: 22px;
  font-weight: bold;
  line-height: 1.3;
}
.pane-bundle-videos .field-collection-item-field-video .field-name-field-title:hover {
  text-decoration: underline;
}
.wide-view .pane-bundle-videos .field-collection-item-field-video .field-name-field-title {
  max-width: 65%;
}
@media (min-width: 35.5625em) and (max-width: 44.375em) {
  .wide-view .pane-bundle-videos .field-collection-item-field-video .field-name-field-title {
    max-width: 100%;
  }
}
@media (max-width: 22.8125em) {
  .wide-view .pane-bundle-videos .field-collection-item-field-video .field-name-field-title {
    max-width: 100%;
  }
}
@media (min-width: 20.0625em) and (max-width: 35.5em) {
  .narrow-view .pane-bundle-videos .field-collection-item-field-video .field-name-field-title {
    max-width: 65%;
  }
}
.pane-bundle-videos .field-collection-item-field-video .video-channeltitle,
.pane-bundle-videos .field-collection-item-field-video .video-viewcount {
  font-size: 14px;
  line-height: 1.2;
}
.wide-view .pane-bundle-videos .field-collection-item-field-video .video-channeltitle, .wide-view
.pane-bundle-videos .field-collection-item-field-video .video-viewcount {
  max-width: 65%;
}
@media (min-width: 35.5625em) and (max-width: 44.375em) {
  .wide-view .pane-bundle-videos .field-collection-item-field-video .video-channeltitle, .wide-view
  .pane-bundle-videos .field-collection-item-field-video .video-viewcount {
    max-width: 100%;
  }
}
@media (max-width: 22.8125em) {
  .wide-view .pane-bundle-videos .field-collection-item-field-video .video-channeltitle, .wide-view
  .pane-bundle-videos .field-collection-item-field-video .video-viewcount {
    max-width: 100%;
  }
}
@media (min-width: 20.0625em) and (max-width: 35.5em) {
  .narrow-view .pane-bundle-videos .field-collection-item-field-video .video-channeltitle, .narrow-view
  .pane-bundle-videos .field-collection-item-field-video .video-viewcount {
    max-width: 65%;
  }
}
.pane-bundle-videos .field-collection-item-field-video .video-channeltitle {
  margin-top: 8px;
}
.pane-bundle-videos .field-collection-item-field-video .video-channeltitle span {
  margin-right: 5px;
}
.pane-bundle-videos .field-collection-item-field-video .video-viewcount {
  margin-bottom: 8px;
}
.pane-bundle-videos .field-collection-item-field-video .video-viewcount span {
  margin-left: 5px;
}
.pane-bundle-videos .field-collection-item-field-video .field-name-field-body {
  font-size: 16px;
  line-height: 1.3;
}
.wide-view .pane-bundle-videos .field-collection-item-field-video .field-name-field-body {
  max-width: 65%;
}
@media (min-width: 35.5625em) and (max-width: 44.375em) {
  .wide-view .pane-bundle-videos .field-collection-item-field-video .field-name-field-body {
    max-width: 100%;
  }
}
@media (max-width: 22.8125em) {
  .wide-view .pane-bundle-videos .field-collection-item-field-video .field-name-field-body {
    max-width: 100%;
  }
}
@media (min-width: 20.0625em) and (max-width: 35.5em) {
  .narrow-view .pane-bundle-videos .field-collection-item-field-video .field-name-field-body {
    max-width: 65%;
  }
}
.pane-bundle-videos .field-collection-item-field-video .group-wrapper-video {
  position: relative;
}
.wide-view .pane-bundle-videos .field-collection-item-field-video .group-wrapper-video {
  float: right;
  margin-left: 10px;
  max-width: 125px;
}
@media (min-width: 35.5625em) and (max-width: 44.375em) {
  .wide-view .pane-bundle-videos .field-collection-item-field-video .group-wrapper-video {
    float: none;
    margin-bottom: 12px;
    margin-left: 0;
    max-width: 216px;
  }
}
@media (max-width: 22.8125em) {
  .wide-view .pane-bundle-videos .field-collection-item-field-video .group-wrapper-video {
    float: none;
    margin-bottom: 12px;
    margin-left: 0;
    max-width: 216px;
  }
}
.narrow-view .pane-bundle-videos .field-collection-item-field-video .group-wrapper-video {
  margin-bottom: 12px;
  max-width: 216px;
}
@media (min-width: 20.0625em) and (max-width: 35.5em) {
  .narrow-view .pane-bundle-videos .field-collection-item-field-video .group-wrapper-video {
    float: right;
    margin-left: 10px;
    max-width: 125px;
  }
}
.pane-bundle-videos .field-collection-item-field-video .field-name-field-video-url .gsb-image-video-popup a.fancybox:before {
  content: "\f10c";
  display: inline;
  speak: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-transform: none;
  line-height: 1;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'icons';
}
.pane-bundle-videos .field-collection-item-field-video .field-name-field-video-url .gsb-image-video-popup a.fancybox:before {
  font-size: 51px;
  margin-top: -30px;
  margin-left: -22px;
}
.pane-bundle-videos .field-collection-item-field-video .field-name-field-video-url .gsb-image-video-popup a.fancybox:after {
  content: "\f11a";
  display: inline;
  speak: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-transform: none;
  line-height: 1;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'icons';
}
.pane-bundle-videos .field-collection-item-field-video .field-name-field-video-url .gsb-image-video-popup a.fancybox:after {
  font-size: 16px;
  margin-top: -12px;
  margin-left: -4px;
}
.pane-bundle-videos .field-collection-item-field-video .field-name-field-video-url .field-type-file .gsb-responsive-preview .file-video a:before {
  content: "\f10c";
  display: inline;
  speak: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-transform: none;
  line-height: 1;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'icons';
}
.pane-bundle-videos .field-collection-item-field-video .field-name-field-video-url .field-type-file .gsb-responsive-preview .file-video a:before {
  font-size: 51px;
  margin-top: -30px;
  margin-left: -22px;
}
.pane-bundle-videos .field-collection-item-field-video .field-name-field-video-url .field-type-file .gsb-responsive-preview .file-video a:after {
  content: "\f11a";
  display: inline;
  speak: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-transform: none;
  line-height: 1;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'icons';
}
.pane-bundle-videos .field-collection-item-field-video .field-name-field-video-url .field-type-file .gsb-responsive-preview .file-video a:after {
  font-size: 16px;
  margin-top: -12px;
  margin-left: -4px;
}
.pane-bundle-videos .field-collection-item-field-video .video-duration {
  background: #231f20;
  color: white;
  display: inline-block;
  float: right;
  font-size: 11px;
  font-weight: bold;
  line-height: 1.2;
  padding: 4px;
  position: absolute;
  right: 0;
  bottom: 2px;
}
