.pane-bundle-video .field-name-field-house-ads-superhead {
  background: #231f20;
  color: white;
  display: inline-block;
  font-family: "NewsGothicBT-Demi", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2;
  margin-bottom: 26px;
  padding: 6px 8px;
  position: relative;
  z-index: 2;
}
@media (max-width: 38.125em) {
  .pane-bundle-video .field-name-field-house-ads-superhead {
    font-size: 13px;
    margin-bottom: 20px;
  }
}

.pane-bundle-video .group-left {
  position: relative;
}
.pane-bundle-video .video-duration {
  background: #231f20;
  color: white;
  display: inline-block;
  float: right;
  font-size: 11px;
  font-weight: bold;
  line-height: 1.2;
  padding: 4px;
  position: absolute;
  right: 0;
  bottom: 2px;
}
.pane-bundle-video .field-name-field-house-ads-superhead {
  margin-bottom: 0;
}
.pane-bundle-video .field-name-field-link-single,
.pane-bundle-video .field-name-field-title {
  color: #231f20;
  font-size: 22px;
  font-weight: bold;
  line-height: 1.2;
}
@media (max-width: 73.125em) {
  .page-insights .pane-bundle-video .field-name-field-link-single, .page-insights
  .pane-bundle-video .field-name-field-title {
    font-size: 18px;
  }
}
.pane-bundle-video .field-name-field-link-single a,
.pane-bundle-video .field-name-field-title a {
  color: #231f20;
  font-weight: bold;
  line-height: 1.2;
}
@media (max-width: 73.125em) {
  .page-insights .pane-bundle-video .field-name-field-link-single a, .page-insights
  .pane-bundle-video .field-name-field-title a {
    font-size: 18px;
  }
}
.pane-bundle-video .field-name-field-link-single a:after,
.pane-bundle-video .field-name-field-title a:after {
  content: "\f101";
  display: inline;
  speak: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-transform: none;
  line-height: 1;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'icons';
}
.pane-bundle-video .field-name-field-link-single a:after,
.pane-bundle-video .field-name-field-title a:after {
  color: #bac405;
  font-size: 12px;
  margin-left: 3px;
}
.pane-bundle-video .field-name-field-link-single a:hover,
.pane-bundle-video .field-name-field-title a:hover {
  color: #2d6280;
}
.pane-bundle-video .field-name-field-link-single a:hover:after,
.pane-bundle-video .field-name-field-title a:hover:after {
  color: #aac4bf;
}

.pane-bundle-video .gsb-responsive-preview {
  position: relative;
}
.pane-bundle-video .gsb-responsive-preview .content img {
  display: block;
}
@media (min-width: 35.5625em) and (max-width: 48em) {
  .pane-bundle-video .gsb-responsive-preview .content img {
    width: 100%;
  }
}
@media (max-width: 30em) {
  .pane-bundle-video .gsb-responsive-preview .content img {
    width: 100%;
  }
}
.pane-bundle-video .gsb-responsive-main {
  clear: both;
}
.pane-bundle-video .gsb-responsive-main .content div {
  margin: 0 auto;
}

.gsb-full-bleed-page .pane-bundle-video .gsb-responsive-preview {
  position: relative;
}
.gsb-full-bleed-page .pane-bundle-video .gsb-responsive-preview .content img {
  display: block;
}
@media (min-width: 35.5625em) and (max-width: 48em) {
  .gsb-full-bleed-page .pane-bundle-video .gsb-responsive-preview .content img {
    width: 100%;
  }
}
@media (max-width: 30em) {
  .gsb-full-bleed-page .pane-bundle-video .gsb-responsive-preview .content img {
    width: 100%;
  }
}
.gsb-full-bleed-page .pane-bundle-video .gsb-responsive-main {
  clear: both;
}
.gsb-full-bleed-page .pane-bundle-video .gsb-responsive-main .content div {
  margin: 0 auto;
}

.slideshow-slide .gsb-image-video-popup {
  max-width: 627px;
}
.panels-layout-gsb-no-sidebar .gsb-image-video-popup, .panels-layout-gsb-full-bleed-page .gsb-image-video-popup {
  max-width: 310px;
}
.gsb-image-video-popup a.fancybox {
  max-width: 100%;
  position: relative;
  display: inline-block;
}
.gsb-image-video-popup a.fancybox:before, .gsb-image-video-popup a.fancybox:after {
  position: absolute;
  z-index: 50;
  top: 50%;
  left: 50%;
}
@media (max-width: 35.5em) {
  .slideshow-cta .gsb-image-video-popup a.fancybox:before, .slideshow-cta .gsb-image-video-popup a.fancybox:after {
    left: 63%;
  }
}
@media (max-width: 20em) {
  .slideshow-cta .gsb-image-video-popup a.fancybox:before, .slideshow-cta .gsb-image-video-popup a.fancybox:after {
    left: 73%;
  }
}
.gsb-image-video-popup a.fancybox:before {
  content: "\f10c";
  display: inline;
  speak: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-transform: none;
  line-height: 1;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'icons';
}
.gsb-image-video-popup a.fancybox:before {
  font-size: 64px;
  color: rgba(0, 0, 0, 0.5);
  margin-top: -40px;
  margin-left: -32px;
}
.gsb-image-video-popup a.fancybox:after {
  content: "\f11a";
  display: inline;
  speak: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-transform: none;
  line-height: 1;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'icons';
}
.gsb-image-video-popup a.fancybox:after {
  font-size: 21px;
  color: white;
  margin-top: -21px;
  margin-left: -10px;
}
.gsb-image-video-popup a.fancybox:hover:before {
  color: black;
}
.gsb-image-video-popup a.fancybox:hover:after {
  color: #63acd5;
}
.gsb-image-video-popup.image a {
  display: none;
}
.gsb-image-video-popup.image a:before, .gsb-image-video-popup.image a:after {
  display: none;
}

.field-type-file .gsb-responsive-main .file-video {
  display: none;
}
@media (min-width: 39.1875em) {
  .field-type-file .gsb-responsive-main .file-video {
    display: block;
  }
}
.field-type-file .gsb-responsive-preview .file-video a {
  position: relative;
  display: inline-block;
}
.field-type-file .gsb-responsive-preview .file-video a:before, .field-type-file .gsb-responsive-preview .file-video a:after {
  position: absolute;
  top: 50%;
  left: 50%;
}
.field-type-file .gsb-responsive-preview .file-video a:before {
  content: "\f10c";
  display: inline;
  speak: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-transform: none;
  line-height: 1;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'icons';
}
.field-type-file .gsb-responsive-preview .file-video a:before {
  font-size: 64px;
  color: rgba(0, 0, 0, 0.8);
  margin-top: -40px;
  margin-left: -32px;
}
.field-type-file .gsb-responsive-preview .file-video a:after {
  content: "\f11a";
  display: inline;
  speak: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-transform: none;
  line-height: 1;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'icons';
}
.field-type-file .gsb-responsive-preview .file-video a:after {
  font-size: 21px;
  color: white;
  margin-top: -21px;
  margin-left: -10px;
}
.field-type-file .gsb-responsive-preview .file-video a:hover:before {
  color: black;
}
.field-type-file .gsb-responsive-preview .file-video a:hover:after {
  color: #63acd5;
}
@media (min-width: 39.1875em) {
  .field-type-file .gsb-responsive-preview .file-video {
    display: none;
  }
}

.narrow-view .field-type-file .gsb-responsive-main .file-video {
  display: none;
}
.narrow-view .field-type-file .gsb-responsive-preview .file-video {
  display: block;
}
