.node-academic-calendar-event.view-mode-main_list .field-name-field-academic-calendar-link h3 {
  font-size: 16px;
  font-family: "NewsGothicBT-Demi", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  line-height: 1.2;
}
.node-academic-calendar-event.view-mode-main_list .field-name-field-academic-calendar-link h3 a {
  font-size: 16px;
  font-family: "NewsGothicBT-Demi", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  line-height: 1.2;
}
