.node-admission-event.view-mode-main_list {
  overflow: hidden;
  *zoom: 1;
}
.node-admission-event.view-mode-main_list .left.second-column {
  float: left;
  max-width: 65%;
}
@media (max-width: 75.75em) {
  .node-admission-event.view-mode-main_list .left.second-column {
    max-width: 49%;
  }
}
@media (max-width: 62.4375em) {
  .node-admission-event.view-mode-main_list .left.second-column {
    max-width: 65%;
  }
}
@media (max-width: 51.5625em) {
  .node-admission-event.view-mode-main_list .left.second-column {
    max-width: 50%;
  }
}
@media (max-width: 48em) {
  .node-admission-event.view-mode-main_list .left.second-column {
    max-width: 100%;
  }
}
.node-admission-event.view-mode-main_list .right {
  float: right;
}
@media (max-width: 48em) {
  .node-admission-event.view-mode-main_list .right {
    float: none;
  }
}
.node-admission-event.view-mode-main_list .field-name-title h3 {
  font-family: "NewsGothicBT", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.3;
  margin-bottom: 8px;
}
.node-admission-event.view-mode-main_list .field-name-title h3 a {
  font-family: "NewsGothicBT", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.3;
}
@media (max-width: 48em) {
  .node-admission-event.view-mode-main_list .field-name-title h3 {
    font-size: 18px;
  }
  .node-admission-event.view-mode-main_list .field-name-title h3 a {
    font-size: 18px;
  }
}
.node-admission-event.view-mode-main_list .field-name-field-event-date {
  font-family: "NewsGothicBT-Demi", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.2;
  margin-bottom: 8px;
}
.node-admission-event.view-mode-main_list .field-name-field-event-location {
  font-family: "NewsGothicBT-Demi", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.3;
}
.node-admission-event.view-mode-main_list .field-name-field-editorial-summary {
  font-size: 16px;
  line-height: 1.3;
  margin-top: 12px;
}
.node-admission-event.view-mode-main_list .field-name-field-image-single-public {
  max-width: 150px;
}
.node-admission-event.view-mode-main_list .field-name-field-image-single-public img {
  width: 100%;
}
@media (max-width: 48em) {
  .node-admission-event.view-mode-main_list .field-name-field-image-single-public {
    display: none;
  }
}
