#block-gsb-public-custom-blocks-gsb-featured-event {
  margin-bottom: 40px;
  float: right;
  width: 795px;
  position: relative;
  top: 18px;
}
@media (max-width: 62.4375em) {
  #block-gsb-public-custom-blocks-gsb-featured-event {
    display: none;
  }
}
#block-gsb-public-custom-blocks-gsb-featured-event h2 {
  font-size: 24px;
  color: #63acd5;
  line-height: 1.2;
  margin-bottom: 10px;
}
#block-gsb-public-custom-blocks-gsb-featured-event h2 a {
  color: inherit;
}
#block-gsb-public-custom-blocks-gsb-featured-event h2 a:after {
  content: "\f101";
  display: inline-block;
  speak: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-transform: none;
  line-height: 1;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'icons';
}
#block-gsb-public-custom-blocks-gsb-featured-event h2 a:after {
  color: #63acd5;
  font-size: 16px;
  margin-left: 4px;
  display: inline-block;
}
#block-gsb-public-custom-blocks-gsb-featured-event h2 a:hover {
  color: white;
}
#block-gsb-public-custom-blocks-gsb-featured-event h2 a:hover:after {
  color: white;
}
#block-gsb-public-custom-blocks-gsb-featured-event .group-ft-evnt-wrp {
  padding-left: 180px;
  min-height: 130px;
  max-width: 570px;
  overflow: hidden;
}
#block-gsb-public-custom-blocks-gsb-featured-event .field-name-field-image-single-public {
  float: right;
  width: 270px;
}
#block-gsb-public-custom-blocks-gsb-featured-event .group-tag-wrap {
  line-height: 1.2;
  font-size: 15px;
  color: #63acd5;
}
#block-gsb-public-custom-blocks-gsb-featured-event .group-tag-wrap .separator {
  display: inline;
}
#block-gsb-public-custom-blocks-gsb-featured-event .group-tag-wrap a {
  color: #63acd5;
}
#block-gsb-public-custom-blocks-gsb-featured-event .group-tag-wrap a:hover {
  color: white;
}
#block-gsb-public-custom-blocks-gsb-featured-event .group-tag-wrap > div {
  display: inline;
}
#block-gsb-public-custom-blocks-gsb-featured-event .group-tag-wrap > div > div {
  display: inline;
}
#block-gsb-public-custom-blocks-gsb-featured-event .field-name-field-address,
#block-gsb-public-custom-blocks-gsb-featured-event .field-name-field-editorial-summary,
#block-gsb-public-custom-blocks-gsb-featured-event .event_calendar_featured {
  color: white;
}
#block-gsb-public-custom-blocks-gsb-featured-event .field-name-field-editorial-summary {
  margin-bottom: 22px;
  font-size: 16px;
  line-height: 1.4;
}
#block-gsb-public-custom-blocks-gsb-featured-event .event-calendar-featured {
  color: white;
  height: 135px;
  padding: 45px 5px 5px;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  width: 143px;
}
#block-gsb-public-custom-blocks-gsb-featured-event .event-calendar-featured:after {
  content: "\f109";
  display: inline-block;
  speak: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-transform: none;
  line-height: 1;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'icons';
}
#block-gsb-public-custom-blocks-gsb-featured-event .event-calendar-featured:after {
  color: #63acd5;
  font-size: 160px;
  line-height: 0;
  position: absolute;
  top: 80px;
  left: -8px;
}
#block-gsb-public-custom-blocks-gsb-featured-event .event-calendar-featured .day,
#block-gsb-public-custom-blocks-gsb-featured-event .event-calendar-featured .time {
  font-size: 14px;
  line-height: 1.2;
}
#block-gsb-public-custom-blocks-gsb-featured-event .event-calendar-featured .day {
  margin-bottom: 4px;
}
#block-gsb-public-custom-blocks-gsb-featured-event .event-calendar-featured .date {
  font-size: 24px;
  line-height: 1.2;
}
#block-gsb-public-custom-blocks-gsb-featured-event .event-calendar-featured .time {
  margin-top: 4px;
}
