.pane-gsb-event-upcoming-events .field-name-field-event-date {
  font-size: 16px;
  line-height: 1.2;
  margin-bottom: 12px;
}
.pane-gsb-event-upcoming-events .field-name-title h2 {
  display: inline;
  font-family: "NewsGothicBT", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 0;
}
@media (max-width: 53.125em) {
  .pane-gsb-event-upcoming-events .field-name-title h2 {
    font-size: 18px;
  }
}
.pane-gsb-event-upcoming-events .field-name-title a {
  line-height: 1.2;
}
.pane-gsb-event-upcoming-events .field-name-title a[target="_blank"]:after {
  font-size: 12px;
}
.pane-gsb-event-upcoming-events .field-name-title a[href$=".pdf"][target="_blank"]:after {
  font-size: 14px;
  margin-left: 3px;
}
.pane-gsb-event-upcoming-events .field-name-field-address {
  font-family: "NewsGothicBT-Demi", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.3;
  margin-top: 2px;
}
.pane-gsb-event-upcoming-events .field-name-field-editorial-summary {
  font-size: 16px;
  line-height: 1.2;
  margin-top: 6px;
}
