.view-display-id-event_listing_pane .views-row .node, .view-display-id-event_listing_pane .views-exposed-widget {
  border-bottom: 1px lightgray solid;
}

.view-display-id-event_listing_pane h5 {
  display: block;
  border-top: 1px #231f20 solid;
  padding-top: 18px;
}
.view-display-id-event_listing_pane .views-row-last .node {
  border-bottom: 0;
}
.view-display-id-event_listing_pane .views-exposed-widget {
  padding: 0;
  margin-bottom: 20px;
}
.view-display-id-event_listing_pane .views-widget label.option {
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
}
.view-display-id-event_listing_pane .node-event.view-mode-event_listing {
  margin: 0 26px;
  padding: 18px 0;
  overflow: hidden;
  *zoom: 1;
}
.view-display-id-event_listing_pane .node-event.view-mode-event_listing .left.second-column {
  float: left;
  max-width: 70%;
}
@media (max-width: 60em) {
  .view-display-id-event_listing_pane .node-event.view-mode-event_listing .left.second-column {
    max-width: 50%;
  }
}
@media (max-width: 52.5em) {
  .view-display-id-event_listing_pane .node-event.view-mode-event_listing .left.second-column {
    max-width: 100%;
  }
}
.view-display-id-event_listing_pane .node-event.view-mode-event_listing .right {
  float: right;
}
@media (max-width: 52.5em) {
  .view-display-id-event_listing_pane .node-event.view-mode-event_listing .right {
    display: none;
  }
}
.view-display-id-event_listing_pane .node-event.view-mode-event_listing .field-name-field-image-single-public {
  width: 170px;
}
.view-display-id-event_listing_pane .node-event.view-mode-event_listing .field-name-field-event-date {
  margin-bottom: 6px;
}
.view-display-id-event_listing_pane .node-event.view-mode-event_listing .field-name-title {
  margin-bottom: 5px;
}
.view-display-id-event_listing_pane .node-event.view-mode-event_listing .field-name-title h2 {
  font-family: "NewsGothicBT-Demi", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: normal;
  line-height: 1.2;
}
.view-display-id-event_listing_pane .node-event.view-mode-event_listing .field-name-field-address {
  font-family: "NewsGothicBT-Demi", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.2;
  margin-bottom: 4px;
}
.view-display-id-event_listing_pane .node-event.view-mode-event_listing .field-name-field-editorial-summary {
  font-size: 16px;
  line-height: 1.2;
  margin: 6px 0 15px;
}
