.view-display-id-main_event_list_pane .view-mode-main_list,
.view-display-id-mba_admission_panel_pane .view-mode-main_list {
  border-top: 1px lightgray solid;
}

.view-display-id-main_event_list_pane h2,
.view-display-id-mba_admission_panel_pane h2 {
  color: #231f20;
  font-family: "NewsGothicBT", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 22px;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 12px;
  padding-top: 18px;
}
.view-display-id-main_event_list_pane .view-mode-main_list,
.view-display-id-mba_admission_panel_pane .view-mode-main_list {
  margin-left: 26px;
  padding: 12px 0;
}
