#block-gsb-public-custom-blocks-gsb-featured-event {
  margin-bottom: 40px;
  float: right;
  width: 795px;
  position: relative;
  top: 18px;
}
@media (max-width: 62.4375em) {
  #block-gsb-public-custom-blocks-gsb-featured-event {
    display: none;
  }
}
#block-gsb-public-custom-blocks-gsb-featured-event h2 {
  font-size: 24px;
  color: #63acd5;
  line-height: 1.2;
  margin-bottom: 10px;
}
#block-gsb-public-custom-blocks-gsb-featured-event h2 a {
  color: inherit;
}
#block-gsb-public-custom-blocks-gsb-featured-event h2 a:after {
  content: "\f101";
  speak: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-transform: none;
  line-height: 1;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'icons';
}
#block-gsb-public-custom-blocks-gsb-featured-event h2 a:after {
  color: #63acd5;
  font-size: 16px;
  margin-left: 4px;
  display: inline-block;
}
#block-gsb-public-custom-blocks-gsb-featured-event h2 a:hover {
  color: white;
}
#block-gsb-public-custom-blocks-gsb-featured-event h2 a:hover:after {
  color: white;
}
#block-gsb-public-custom-blocks-gsb-featured-event .group_ft_evnt_wrp {
  padding-left: 180px;
  padding-right: 30px;
  min-height: 130px;
  max-width: 570px;
  overflow: hidden;
}
#block-gsb-public-custom-blocks-gsb-featured-event .field-name-field-image-single-public {
  float: right;
  width: 270px;
}
#block-gsb-public-custom-blocks-gsb-featured-event .group_tag_wrap {
  line-height: 1.2em;
  font-size: 15px;
  color: #63acd5;
}
#block-gsb-public-custom-blocks-gsb-featured-event .group_tag_wrap .separator {
  display: inline;
}
#block-gsb-public-custom-blocks-gsb-featured-event .group_tag_wrap a {
  color: #63acd5;
}
#block-gsb-public-custom-blocks-gsb-featured-event .group_tag_wrap a:hover {
  color: white;
}
#block-gsb-public-custom-blocks-gsb-featured-event .group_tag_wrap > div {
  display: inline;
}
#block-gsb-public-custom-blocks-gsb-featured-event .group_tag_wrap > div > div {
  display: inline;
}
#block-gsb-public-custom-blocks-gsb-featured-event .field-name-field-address,
#block-gsb-public-custom-blocks-gsb-featured-event .field-name-field-editorial-summary,
#block-gsb-public-custom-blocks-gsb-featured-event .event_calendar_featured {
  color: white;
}
#block-gsb-public-custom-blocks-gsb-featured-event .field-name-field-editorial-summary {
  margin-top: -2px;
  margin-bottom: 24px;
  font-size: 16px;
  line-height: 1.4;
}
#block-gsb-public-custom-blocks-gsb-featured-event .event_calendar_featured {
  position: absolute;
  top: 0;
  left: 0;
  width: 143px;
  height: 128px;
  padding: 29px 5px 5px;
  text-align: center;
}
#block-gsb-public-custom-blocks-gsb-featured-event .event_calendar_featured:after {
  content: "\f109";
  speak: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-transform: none;
  line-height: 1;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'icons';
}
#block-gsb-public-custom-blocks-gsb-featured-event .event_calendar_featured:after {
  font-size: 163px;
  position: absolute;
  line-height: 0;
  top: 75px;
  left: -8px;
  color: #63acd5;
}
#block-gsb-public-custom-blocks-gsb-featured-event .event_calendar_featured > div {
  line-height: 31px;
}
#block-gsb-public-custom-blocks-gsb-featured-event .event_calendar_featured.from-to b {
  position: relative;
  top: 10px;
}
#block-gsb-public-custom-blocks-gsb-featured-event .event_calendar_featured.from-to b:last-of-type {
  top: -8px;
}
#block-gsb-public-custom-blocks-gsb-featured-event .event_calendar_featured ins,
#block-gsb-public-custom-blocks-gsb-featured-event .event_calendar_featured b,
#block-gsb-public-custom-blocks-gsb-featured-event .event_calendar_featured span {
  display: block;
}
#block-gsb-public-custom-blocks-gsb-featured-event .event_calendar_featured span {
  top: -3px;
}
#block-gsb-public-custom-blocks-gsb-featured-event .event_calendar_featured ins {
  text-decoration: none;
  border: 0 none;
  top: 5px;
}
#block-gsb-public-custom-blocks-gsb-featured-event .event_calendar_featured ins, #block-gsb-public-custom-blocks-gsb-featured-event .event_calendar_featured span {
  font-size: 14px;
  position: relative;
}
#block-gsb-public-custom-blocks-gsb-featured-event .event_calendar_featured b {
  font-size: 24px;
}
#block-gsb-public-custom-blocks-gsb-featured-event .event_calendar_featured i {
  font-style: normal;
}
