.pane-featured-event {
  background: white;
}

.pane-featured-event {
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  margin: 1px;
}

.pane-featured-event {
  overflow: hidden;
  *zoom: 1;
  margin: 0 auto;
  max-width: 870px;
  padding: 26px;
  position: relative;
}
.pane-featured-event .event-calendar-featured-date {
  color: #231f20;
  float: left;
  height: 135px;
  text-align: center;
}
.pane-featured-event .event-calendar-featured-date:before {
  content: "\f109";
  display: inline;
  speak: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-transform: none;
  line-height: 1;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'icons';
}
.pane-featured-event .event-calendar-featured-date:before {
  color: #edecec;
  float: left;
  font-size: 140px;
  line-height: 0;
  position: relative;
  top: 62px;
}
.pane-featured-event .event-calendar-featured-date .day,
.pane-featured-event .event-calendar-featured-date .time {
  font-size: 14px;
  line-height: 1;
}
.pane-featured-event .event-calendar-featured-date .day {
  margin-bottom: 4px;
  margin-top: 40px;
}
.pane-featured-event .event-calendar-featured-date .date {
  font-size: 24px;
  line-height: 1;
  text-transform: uppercase;
}
.pane-featured-event .event-calendar-featured-date .time {
  margin-top: 4px;
}
.pane-featured-event .event-calendar-featured-wrapper {
  float: left;
  margin: 0 26px;
  max-width: 350px;
}
.pane-featured-event .event-calendar-featured-title {
  font-size: 26px;
  font-weight: bold;
  line-height: 1.3;
}
.pane-featured-event .event-calendar-featured-locality {
  font-family: "NewsGothicBT-Demi", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.2;
  margin-top: 12px;
}
.pane-featured-event .event-calendar-featured-summary {
  font-size: 16px;
  line-height: 1.2;
  margin-top: 12px;
}
.pane-featured-event .field-name-field-image-single-public {
  float: right;
  max-width: 270px;
}
