.pane-event-contacts {
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  margin: 1px;
}

.pane-event-contacts {
  background: white;
  padding: 26px;
}
.pane-event-contacts .panel-pane {
  margin-bottom: 0 !important;
}
.pane-event-contacts h2.pane-title {
  border-bottom: 1px solid #e4e4e4;
  color: #231f20;
  font-family: "NewsGothicBT", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 1;
  padding-bottom: 20px;
}
.pane-event-contacts .field-name-field-image-single-public {
  height: 90px;
  margin-top: 2px;
  width: 90px;
}
.pane-event-contacts .field-name-title,
.pane-event-contacts .field-name-alumni-name-degree-linked {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.3;
  margin-top: 20px;
}
.pane-event-contacts .field-name-title a,
.pane-event-contacts .field-name-alumni-name-degree-linked a {
  color: #636f00;
}
.pane-event-contacts .field-name-title a:hover,
.pane-event-contacts .field-name-alumni-name-degree-linked a:hover {
  color: #2d6280;
}
.pane-event-contacts .person-position,
.pane-event-contacts .person-area {
  display: none;
}
.pane-event-contacts .field-name-field-person-title {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.3;
  margin-top: 2px;
}
.pane-event-contacts .field-name-field-email a {
  color: #636f00;
  font-size: 14px;
  line-height: 1.3;
  margin-top: 6px;
}
.pane-event-contacts .field-name-field-email a:after {
  content: "\f112";
  display: inline;
  speak: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-transform: none;
  line-height: 1;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'icons';
}
.pane-event-contacts .field-name-field-email a:hover {
  color: #2d6280;
}
.pane-event-contacts .field-name-field-email a:after {
  font-size: 12px;
  margin-left: 5px;
}
