.pane-gsb-public-custom-blocks-gpcb-weather-widget {
  background: white;
}

.pane-gsb-public-custom-blocks-gpcb-weather-widget {
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  margin: 1px;
}

.pane-gsb-public-custom-blocks-gpcb-weather-widget {
  padding: 26px;
}
.pane-gsb-public-custom-blocks-gpcb-weather-widget .weather-widget {
  overflow: hidden;
  *zoom: 1;
}
.pane-gsb-public-custom-blocks-gpcb-weather-widget .title {
  margin-bottom: 14px;
}
.pane-gsb-public-custom-blocks-gpcb-weather-widget img {
  float: left;
  margin-right: 8px;
}
.pane-gsb-public-custom-blocks-gpcb-weather-widget .temperature {
  font-weight: bold;
}
.pane-gsb-public-custom-blocks-gpcb-weather-widget .station {
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;
}
.pane-gsb-public-custom-blocks-gpcb-weather-widget .station:hover {
  color: #2d6280;
}
.pane-gsb-public-custom-blocks-gpcb-weather-widget .station:after {
  content: "\f101";
  display: inline;
  speak: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-transform: none;
  line-height: 1;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'icons';
}
.pane-gsb-public-custom-blocks-gpcb-weather-widget .station:after {
  font-size: 12px;
}
