.view-display-id-club_by_id_or_tag .more-link a:after {
  font-size: 21px;
  font-weight: normal;
  line-height: 0;
  margin-top: -10px;
  position: absolute;
  right: 12px;
  top: 50%;
}

.pane-club-filters-club-alumni-list {
  background: white;
}

.view-display-id-club_alumni_list .views-row {
  border-bottom: 1px lightgray solid;
}

.pane-club-filters-club-alumni-list .pane-title {
  border-top: 10px #231f20 solid;
}

.pane-club-filters-club-alumni-list {
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  margin: 1px;
}

.node-club.view-mode-teaser {
  padding: 0;
}
.node-club.view-mode-teaser h5 {
  font-family: "NewsGothicBT", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.2;
  margin: 0 0 12px 0;
}
@media (max-width: 53.125em) {
  .node-club.view-mode-teaser h5 {
    font-size: 18px;
  }
}
.node-club.view-mode-teaser .field-name-field-body {
  font-size: 16px;
  line-height: 1.2;
  margin: 4px 0 8px;
}
.node-club.view-mode-teaser .field-name-field-email a:after {
  content: "\f112";
  display: inline;
  speak: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-transform: none;
  line-height: 1;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'icons';
}
.node-club.view-mode-teaser .field-name-field-email a:after {
  font-size: 12px;
  margin-left: 5px;
}

.view-display-id-club_list,
.view-display-id-search_club {
  border-top: 0;
  margin-bottom: 30px;
}
.view-display-id-club_list .views-row,
.view-display-id-search_club .views-row {
  border-bottom: 1px #c4c4c4 solid;
  padding: 26px 0;
}
.view-display-id-club_list .views-row:last-of-type,
.view-display-id-search_club .views-row:last-of-type {
  border-bottom: 0;
}
.view-display-id-club_list .views-row:first-of-type h5,
.view-display-id-search_club .views-row:first-of-type h5 {
  margin-top: 0;
}

.view-display-id-club_by_id_or_tag {
  overflow: hidden;
  *zoom: 1;
}
.view-display-id-club_by_id_or_tag .views-row {
  padding: 0 26px;
}
.view-display-id-club_by_id_or_tag .views-row:last-of-type {
  border-bottom: 0;
}
.view-display-id-club_by_id_or_tag .more-link {
  float: right;
  height: 30px;
  min-width: 160px;
  text-align: left;
}
.view-display-id-club_by_id_or_tag .more-link a {
  display: block;
  font-size: 18px;
  font-weight: bold;
  position: relative;
}
.view-display-id-club_by_id_or_tag .more-link a:after {
  content: "\f101";
  display: inline;
  speak: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-transform: none;
  line-height: 1;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'icons';
}

.pane-club-filters-club-alumni-list {
  margin-bottom: 58px !important;
}
.pane-club-filters-club-alumni-list .pane-title {
  color: #231f20;
  font-size: 22px;
  font-weight: normal;
  margin: 0 26px;
  padding-top: 10px;
  padding-top: 5px;
}

.view-display-id-club_alumni_list .views-row {
  padding: 13px 26px 10px;
}
.view-display-id-club_alumni_list .views-field-title {
  font-family: "NewsGothicBT", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.2;
}
.view-display-id-club_alumni_list .views-field-title a:after {
  font-size: 12px;
}
.view-display-id-club_alumni_list .pager-region {
  margin-bottom: 0;
  margin-top: -1px;
  position: absolute;
  width: 570px;
}
