.pane-rethink-form .button {
  padding: 10px 16px;
  border: none;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  background: #636f00;
  background: -moz-linear-gradient(top, #6c7200, #636f00);
  background: -o-linear-gradient(top, #6c7200, #636f00);
  background: -webkit-linear-gradient(top, #6c7200, #636f00);
  background: linear-gradient(to bottom, #6c7200, #636f00);
  color: white;
  font-size: 16px;
  font-weight: bold;
  line-height: 1;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}
.pane-rethink-form .button:after {
  color: white !important;
}
.pane-rethink-form .button:hover {
  border: 0;
  color: white;
}
.pane-rethink-form .button:hover:after {
  color: white !important;
}

.pane-rethink-form .mergeTable {
  padding-left: 2px;
}
.pane-rethink-form .mergeRow {
  margin-bottom: 14px;
}
.pane-rethink-form .button {
  font-weight: bold;
  padding: 8px 12px;
}
.pane-rethink-form .button:hover {
  background: #2d6280;
}
