.pane-rethink-form-email #mc-embedded-subscribe {
  border: none;
  -moz-border-radius: 22px;
  -webkit-border-radius: 22px;
  border-radius: 22px;
  color: white;
  font-family: "NewsGothicBT", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.4;
  padding: 10px 20px;
}
.pane-rethink-form-email #mc-embedded-subscribe:after {
  color: white !important;
}
.pane-rethink-form-email #mc-embedded-subscribe:hover {
  background-color: #2d6280;
  border: 0;
  color: white;
}
.pane-rethink-form-email #mc-embedded-subscribe:hover:after {
  color: white !important;
}

.pane-rethink-form-email #mc-embedded-subscribe {
  background: #919900;
}

.pane-rethink-form-email .indicates-required {
  display: none;
}
.pane-rethink-form-email #mc-embedded-subscribe {
  margin-top: 12px;
}

.pane-salesform-weblead-slei .form-item,
.pane-salesform-weblead-slei .form-actions {
  margin-top: 1.2em;
  margin-bottom: 1.3em;
}
.pane-salesform-weblead-slei .form-item input[type="checkbox"],
.pane-salesform-weblead-slei .form-actions input[type="checkbox"] {
  margin: 0 5px 10px 0;
}
