.pane-homepage-social-feed, .pane-gsb-event-frontpage {
  border: 2px white solid;
}

.pane-homepage-social-feed, .pane-gsb-event-frontpage {
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  margin: 0 1px 1px 1px;
}
@media (max-width: 35.5em) {
  .pane-homepage-social-feed, .pane-gsb-event-frontpage {
    margin-top: 1px;
  }
}

.gsb-front-page,
.front-panel-header-row {
  margin-bottom: 30px;
}
@media (max-width: 62.4375em) {
  .gsb-front-page,
  .front-panel-header-row {
    margin-bottom: 20px;
  }
}
@media (max-width: 35.5em) {
  .gsb-front-page,
  .front-panel-header-row {
    margin-bottom: 0;
  }
}

.pane-program-links .cta-red-gradient a:after {
  content: "";
}
.pane-program-links .cta-link {
  padding: 16px 26px;
  font-size: 18px;
}
@media (min-width: 35.5625em) and (max-width: 62.4375em) {
  .pane-program-links .cta-link {
    padding: 13px 12px;
  }
}
.pane-program-links ul {
  margin: 0;
  padding: 0;
}
.pane-program-links li {
  line-height: 1;
}
.pane-program-links li.last a {
  margin-bottom: 0;
}
.pane-program-links a {
  background-color: #c50000;
  -moz-box-shadow: black, 0.45, 1px 1px 1px;
  -webkit-box-shadow: black, 0.45, 1px 1px 1px;
  box-shadow: black, 0.45, 1px 1px 1px;
  color: white;
  display: block;
  margin-bottom: 4px;
  max-height: 50px;
}
@media (min-width: 35.5625em) and (max-width: 62.4375em) {
  .pane-program-links a {
    font-size: 16px;
    margin-bottom: 2px;
  }
}
@media (max-width: 57.375em) {
  .pane-program-links .executive-education a {
    padding-top: 9px;
  }
}
@media (max-width: 35.5em) {
  .pane-program-links .executive-education a {
    padding-top: 13px;
  }
}
@media (max-width: 50.0625em) {
  .pane-program-links .all-programs a {
    padding-top: 9px;
  }
}
@media (max-width: 35.5em) {
  .pane-program-links .all-programs a {
    padding-top: 13px;
  }
}

#program-links-title {
  display: none;
}
@media (max-width: 35.5em) {
  #program-links-title {
    color: white;
    cursor: pointer;
    display: block;
    font-family: "NewsGothicBT-Demi", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 22px;
    line-height: 1;
    padding: 16px 0;
    padding-left: 33px;
  }
  #program-links-title:before {
    content: "\f11b";
    display: inline-block;
    speak: none;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-transform: none;
    line-height: 1;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-family: 'icons';
  }
  #program-links-title:before {
    color: white;
    float: left;
    font-size: 18px;
    line-height: 0;
    position: relative;
    top: 10px;
    left: -24px;
  }
}

@media (max-width: 35.5em) {
  .pane-program-links .links {
    display: none;
  }
  .pane-program-links .cta-red-gradient.open #program-links-title:before {
    content: "\f117";
  }
  .pane-program-links .cta-red-gradient.open .links {
    display: block;
  }
}

@media (max-width: 35.5em) {
  #quicklinks {
    float: none;
    margin: 0;
    width: 100%;
  }
  .front #quicklinks {
    background: -moz-linear-gradient(#860000, #c50000);
    background: -o-linear-gradient(#860000, #c50000);
    background: -webkit-linear-gradient(#860000, #c50000);
    background: linear-gradient(#860000, #c50000);
    margin-bottom: 15px;
  }
  .front #quicklinks .cta-link {
    background: transparent;
    padding: 16px 33px;
  }
  .front #quicklinks li {
    border-top: 2px solid #f10000;
  }
}

.pane-homepage-social-feed {
  padding: 26px;
  background: url('../../images/bg-social-feed.png') no-repeat bottom right, #d3eaeb;
}
@media (max-width: 66.5625em) {
  .pane-homepage-social-feed {
    padding: 26px 20px;
  }
}
.pane-homepage-social-feed .icon-wrapper,
.pane-homepage-social-feed .twitter-handle {
  margin-bottom: 24px;
}
.pane-homepage-social-feed .twitter-handle {
  line-height: 0;
}
.pane-homepage-social-feed .twitter-handle a {
  font-size: 16px;
  line-height: 1.2;
}

.pane-gsb-event-frontpage {
  background: url('../../images/event-cal-wide_bg.png') top center no-repeat, #f6e9d6;
  padding: 26px;
}
@media (max-width: 20em) {
  .pane-gsb-event-frontpage {
    padding: 20px;
  }
}
.pane-gsb-event-frontpage .view-gsb-event .views-row {
  margin-bottom: 14px;
}
.pane-gsb-event-frontpage .view-gsb-event .views-row:last-of-type {
  margin-bottom: 0;
}
.pane-gsb-event-frontpage .pane-title {
  color: #990000;
  font-family: "NewsGothicBT", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 26px;
}
.pane-gsb-event-frontpage .pane-title a:after {
  content: "\f101";
  display: inline-block;
  speak: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-transform: none;
  line-height: 1;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'icons';
}
.pane-gsb-event-frontpage .pane-title a:after {
  color: #978d7e;
  font-size: 12px;
  line-height: 0;
  margin-left: 3px;
}
.pane-gsb-event-frontpage .pane-title a:hover:after {
  color: #aac4bf;
}
.pane-gsb-event-frontpage .views-field-field-event-date,
.pane-gsb-event-frontpage .views-field-title,
.pane-gsb-event-frontpage .views-field-field-address {
  line-height: 1.2;
  margin-bottom: 4px;
}
@media (max-width: 62.4375em) {
  .pane-gsb-event-frontpage .views-field-field-event-date > div,
  .pane-gsb-event-frontpage .views-field-title > div,
  .pane-gsb-event-frontpage .views-field-field-address > div {
    display: inline;
  }
}
.pane-gsb-event-frontpage .views-field-title {
  line-height: 0;
}
.pane-gsb-event-frontpage .views-field-title a {
  border: 0;
  color: #231f20;
  font-family: "NewsGothicBT-Demi", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  line-height: 1.1;
}
.pane-gsb-event-frontpage .views-field-title a:after {
  content: "\f101";
  display: inline-block;
  speak: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-transform: none;
  line-height: 1;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'icons';
}
.pane-gsb-event-frontpage .views-field-title a:after {
  color: #bac405;
  font-size: 12px;
  margin-left: 3px;
}
.pane-gsb-event-frontpage .views-field-title a:hover {
  color: #2d6280;
}
.pane-gsb-event-frontpage .views-field-title a:hover:after {
  color: #aac4bf;
}
.pane-gsb-event-frontpage .views-field-field-event-date {
  color: #595959;
  font-size: 14px;
}
.pane-gsb-event-frontpage .views-field-field-address {
  color: #231f20;
  font-size: 14px;
}

#bottom {
  overflow: hidden;
  *zoom: 1;
  background-color: white;
  padding-top: 30px;
}
#bottom .block-block {
  vertical-align: top;
}
#bottom .block-block p {
  font-size: 16px;
}
@media (max-width: 35.5em) {
  #bottom .block-block p {
    line-height: 20px;
  }
}

.bottom-content h2 {
  border-bottom: 1px #cccccc solid;
  color: #231f20;
  line-height: 1;
  margin-bottom: 12px;
  padding-bottom: 12px;
  font-family: "NewsGothicBT", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
}
.bottom-content h2 a:after {
  content: "\f101";
  display: inline-block;
  speak: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-transform: none;
  line-height: 1;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'icons';
}
.bottom-content h2 a:after {
  color: #c2b7a1;
  font-size: 14px;
  margin-left: 3px;
}
.bottom-content h2 a:hover:after {
  color: #aac4bf;
}
.bottom-content article {
  float: left;
  padding-right: 15px;
  width: 50%;
}
@media (max-width: 35.5em) {
  .bottom-content article {
    padding-right: 0;
    width: 100%;
  }
}
.bottom-content article:nth-of-type(3n) {
  clear: both;
}
.bottom-content article:nth-of-type(2n), .bottom-content article:last-of-type {
  padding-right: 0;
  padding-left: 15px;
}
@media (max-width: 35.5em) {
  .bottom-content article:nth-of-type(2n), .bottom-content article:last-of-type {
    padding-left: 0;
  }
}
.bottom-content article h3 {
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  margin-bottom: 2px;
}
.bottom-content article .author {
  font-size: 14px;
  color: #656162;
  line-height: 18px;
}
.bottom-content article p .date {
  color: #666666;
  font-size: 16px;
}
.bottom-content article p .date:after {
  content: "|";
  margin-right: 5px;
  margin-left: 5px;
}
