@media (min-width: 75em) {
  .awemenu-submenu.awemenu-megamenu {
    width: 1100px !important;
    left: auto !important;
    right: 0 !important;
    top: 50px !important;
  }
}

.md-style2 {
  background-color: transparent;
  border-bottom: none;
}

.md-style2.awemenu-standard .awemenu .awemenu-item > a {
  padding-left: 15px;
  padding-right: 15px;
}

.md-style2.awemenu-standard .awemenu > .awemenu-item:hover > a,
.md-style2.awemenu-standard .awemenu > .awemenu-item > a {
  border-top: none;
}

#header-wrapper #header .section {
  display: inline-block;
}

.page-exec-ed #header-wrapper #header .section,
.page-seed #header-wrapper #header .section {
  display: block;
}

#md-megamenu-1 {
  font-family: "NewsGothicBT-Light", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  padding: 35px 0 35px 180px;
}
#md-megamenu-1 .awemenu-active {
  border-bottom: 4px solid #990000;
  padding-bottom: 7px;
}
#md-megamenu-1 .awemenu-active .awemenu-item-title {
  color: #231f20;
}
#md-megamenu-1 a.link-title {
  color: #231f20;
  font-family: "NewsGothicBT", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
}
#md-megamenu-1 a.link-title:hover {
  color: #2d6280;
  text-decoration: underline;
}
#md-megamenu-1 .mm-header {
  padding: 50px 0 30px;
}
#md-megamenu-1 .awemenu li .awemenu-item-title {
  padding-bottom: 20px;
}
#md-megamenu-1 .awemenu .awemenu-megamenu-wrapper {
  border-top: 1px solid #990000;
  background-color: white;
  left: 53%;
  right: 47%;
  margin-left: -50vw;
  margin-right: -50vw;
  padding-top: 0;
  position: relative;
  width: 100vw;
}
#md-megamenu-1 .awemenu .awemenu-megamenu-wrapper .row {
  margin: 0 auto;
  width: 1170px;
}
#md-megamenu-1 .awemenu .awemenu-megamenu-wrapper .row .menu li {
  font-family: "NewsGothicBT-Light", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  padding: 0 0 25px 0;
}
#md-megamenu-1 .awemenu .awemenu-megamenu-wrapper .row .menu li a:hover {
  color: #2d6280;
  text-decoration: underline;
}
#md-megamenu-1 #block-menu-menu-md-megamenu-insights-utilit,
#md-megamenu-1 #block-menu-menu-md-megamenu-programs-utilit,
#md-megamenu-1 #block-menu-menu-md-megamenu-alumni-utility,
#md-megamenu-1 #block-menu-menu-md-megamenu-events-utility {
  width: 184px;
  position: relative;
}
#md-megamenu-1 #block-menu-menu-md-megamenu-insights-utilit li,
#md-megamenu-1 #block-menu-menu-md-megamenu-programs-utilit li,
#md-megamenu-1 #block-menu-menu-md-megamenu-alumni-utility li,
#md-megamenu-1 #block-menu-menu-md-megamenu-events-utility li {
  border-bottom: 1px solid #ededed;
  padding: 14px 0;
}
#md-megamenu-1 #block-menu-menu-md-megamenu-insights-utilit li:after,
#md-megamenu-1 #block-menu-menu-md-megamenu-programs-utilit li:after,
#md-megamenu-1 #block-menu-menu-md-megamenu-alumni-utility li:after,
#md-megamenu-1 #block-menu-menu-md-megamenu-events-utility li:after {
  content: "\f107";
  display: inline;
  speak: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-transform: none;
  line-height: 1;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'icons';
  color: #979797;
  float: right;
  font-weight: normal;
}

@media (min-width: 73.125em) {
  .global-search {
    height: 0;
    position: absolute;
    top: 10px;
    right: -40px;
  }
  .search-closed .global-search, .js .global-search {
    width: auto;
  }
  .js .search-open .global-search {
    width: 200px;
  }
}
