/* Icon font setup: http://jaydenseric.com/blog/font-icons-like-a-boss-with-sass-and-font-custom */
@font-face {
  font-family: "icons";
  src: url("../fonts/icons/icons.eot");
  src: url("../fonts/icons/icons.eot?#iefix") format("embedded-opentype"), url("../fonts/icons/icons.woff") format("woff"), url("../fonts/icons/icons.ttf") format("truetype"), url("../fonts/icons/icons.svg#icons") format("svg");
  font-weight: normal;
  font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "icons";
    src: url("../fonts/icons/icons.svg#icons") format("svg");
  }
}
/* Font icon pseudo-element base styles */
.view-msx-fellows .view-content {
  overflow: hidden;
  *zoom: 1;
}
.view-msx-fellows .views-row {
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid #dddddd;
  display: inline-block;
  float: left;
  margin-right: 18px;
  margin-bottom: 24px;
  min-height: 370px;
  width: 130px;
}
.view-msx-fellows .views-row:nth-of-type(6n) {
  margin-right: 0;
}
@media (max-width: 73.125em) {
  .view-msx-fellows .views-row {
    margin-right: 10%;
    width: 170px;
  }
  .view-msx-fellows .views-row:nth-of-type(6n) {
    margin-right: 18px;
  }
  .view-msx-fellows .views-row:nth-of-type(3n) {
    margin-right: 0;
  }
}
@media (min-width: 48.0625em) and (max-width: 58.5625em) {
  .view-msx-fellows .views-row:nth-of-type(3n) {
    margin-right: 10%;
  }
  .view-msx-fellows .views-row:nth-of-type(2n) {
    margin-right: 0;
  }
}
@media (max-width: 42.3125em) {
  .view-msx-fellows .views-row:nth-of-type(3n) {
    margin-right: 10%;
  }
  .view-msx-fellows .views-row:nth-of-type(2n) {
    margin-right: 0;
  }
}
.view-msx-fellows .node-msx-fellows {
  border-top: 0;
  padding: 0 10px;
}
.view-msx-fellows .node-msx-fellows .field-name-field-image-single-public {
  margin: -2px -11px 0 -11px;
  float: none;
}
.view-msx-fellows .node-msx-fellows .field-name-title {
  margin: 14px 0 8px 0;
}
.view-msx-fellows .node-msx-fellows .field-name-title h2 {
  font-size: 16px;
  line-height: 1.25;
  margin: 0;
}
.view-msx-fellows .node-msx-fellows .field-name-title h2 a {
  color: #636f00;
}
.view-msx-fellows .node-msx-fellows .field-name-title h2 a:hover {
  color: #2d6280;
}
.view-msx-fellows .node-msx-fellows .field-name-field-title-position-unlimited {
  margin: 0 0 9px 0;
}
.view-msx-fellows .node-msx-fellows .field-name-field-location {
  font-weight: normal;
  margin: 0;
}
.view-msx-fellows .node-msx-fellows .field-name-field-title-position-unlimited,
.view-msx-fellows .node-msx-fellows .field-name-field-company-organization,
.view-msx-fellows .node-msx-fellows .field-name-field-location {
  font-size: 14px;
  line-height: 1.25;
}
