@charset "UTF-8";
.node-msx-fellows .field-name-field-body {
  font-size: 18px;
  line-height: 1.4;
}
@media (max-width: 43.75em) {
  .node-msx-fellows .field-name-field-body {
    font-size: 16px;
  }
}

@media (max-width: 35.5em) {
  .node-type-msx-fellows #page-title {
    display: block;
    font-size: 30px;
  }
}
@media (max-width: 35.5em) {
  .node-type-msx-fellows .field-name-title {
    display: none;
  }
}

.node-msx-fellows {
  border-top: 3px solid #231f20;
  padding-top: 2px;
}
@media (max-width: 35.5em) {
  .node-msx-fellows {
    border-top: 0;
    padding-top: 0;
  }
}
.node-msx-fellows .field-name-title {
  margin-top: 26px;
  margin-bottom: 12px;
}
.node-msx-fellows .field-name-title h1 {
  font-size: 30px;
  padding-bottom: 0;
}
.node-msx-fellows .field-name-field-title-position-unlimited,
.node-msx-fellows .field-name-field-company-organization,
.node-msx-fellows .field-name-field-location {
  font-size: 22px;
  margin-bottom: 3px;
}
.node-msx-fellows .field-name-field-title-position-unlimited {
  font-weight: bold;
}
.node-msx-fellows .field-name-field-academic-degrees {
  font-size: 18px;
  margin-bottom: 32px;
  margin-top: 20px;
}
.node-msx-fellows .field-name-field-academic-degrees .label-above {
  font-weight: bold;
  margin-bottom: 5px;
}
.node-msx-fellows .field-name-field-academic-degrees .item-list ul {
  margin: 0;
}
.node-msx-fellows .field-name-field-academic-degrees .item-list ul li {
  font-size: 18px;
  font-weight: normal;
  margin: 0 0 0 20px;
  line-height: 1.3;
}
.node-msx-fellows .field-name-field-academic-degrees .item-list ul li:before {
  content: "•";
  margin-left: -20px;
  padding-right: 8px;
}
.node-msx-fellows .field-name-field-year {
  background: #231f20;
  color: white;
  font-size: 14px;
  padding: 9px 26px 5px;
}
.node-msx-fellows.ds-2col > .group-left {
  width: 270px;
}
.node-msx-fellows.ds-2col > .group-left img {
  display: block;
}
@media (max-width: 35.5em) {
  .node-msx-fellows.ds-2col > .group-left {
    margin-bottom: 20px;
  }
}
.node-msx-fellows.ds-2col > .group-right {
  float: none;
  width: auto;
  padding-left: 300px;
}
@media (max-width: 35.5em) {
  .node-msx-fellows.ds-2col > .group-right {
    float: left;
    padding-left: 0;
  }
}
