.pane-msx-fellows-list .view-content {
  overflow: hidden;
  *zoom: 1;
  margin-top: 30px;
  padding-top: 1px;
}
.pane-msx-fellows-list .views-row {
  background: rgba(255, 255, 255, 0.65);
  border: 1px solid #dddddd;
  display: inline-block;
  float: left;
  height: 315px;
  margin-left: 6px;
  margin-right: 6px;
  margin-bottom: 24px;
  overflow: hidden;
  width: 133px;
}
.pane-msx-fellows-list .node-msx-fellows .field-name-title {
  margin: 8px 8px 6px 8px;
}
.pane-msx-fellows-list .node-msx-fellows .field-name-title h2 {
  font-size: 15px;
  line-height: 1.1;
  margin: 0;
}
.pane-msx-fellows-list .node-msx-fellows .field-name-title h2 a {
  color: #636f00;
}
.pane-msx-fellows-list .node-msx-fellows .field-name-title h2 a:hover {
  color: #2d6280;
}
.pane-msx-fellows-list .node-msx-fellows .field-name-field-title-position-unlimited {
  font-size: 14px;
  line-height: 1.2;
  margin: 0 8px;
}
.pane-msx-fellows-list .node-msx-fellows .field-name-field-company-organization {
  font-size: 14px;
  line-height: 1.2;
  margin: 5px 8px 0;
}
.pane-msx-fellows-list .node-msx-fellows .field-name-field-location {
  font-size: 13px;
  line-height: 1.2;
  margin: 3px 8px 0;
}
