.view-phd-job-market-candidates .view-content {
  background-color: #f9f9f9;
  background: -moz-linear-gradient(bottom, #f9f9f9 20%, #ffffff 100%);
  background: -o-linear-gradient(bottom, #f9f9f9 20%, #ffffff 100%);
  background: -webkit-linear-gradient(bottom, #f9f9f9 20%, #ffffff 100%);
  background: linear-gradient(to top, #f9f9f9 20%, #ffffff 100%);
}

.view-phd-job-market-candidates .view-content {
  border: 2px white solid;
}

.view-phd-job-market-candidates .view-content {
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  margin: 0 1px 1px 1px;
}
@media (max-width: 35.5em) {
  .view-phd-job-market-candidates .view-content {
    margin-top: 1px;
  }
}

.ie8 .view-phd-job-market-candidates .view-content, .view-phd-job-market-candidates .ie8 .view-content {
  border: 1px #cccccc solid !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.view-phd-job-market-candidates .view-content .views-row.main-view {
  border-top: 10px solid #aac4bf;
  margin: 0 26px;
}
.view-phd-job-market-candidates .view-content .views-row.main-view .view-content {
  background: none;
  border: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  margin: 0;
}
.view-phd-job-market-candidates .view-content .views-row.main-view .views-field-name {
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 24px;
  margin-top: 14px;
}
@media (max-width: 48em) {
  .view-phd-job-market-candidates .view-content .views-row.main-view .views-field-name {
    margin-bottom: 18px;
  }
}
@media (max-width: 35.5em) {
  .view-phd-job-market-candidates .view-content .views-row.main-view .views-field-name {
    margin-bottom: 10px;
  }
}
.view-phd-job-market-candidates .view-content .views-row.main-view .view-phd-job-market-candidate-detail .node-phd-candidate {
  border-top: 1px solid #e4e4e4;
  padding-top: 18px;
  padding-bottom: 26px;
}
@media (max-width: 48em) {
  .view-phd-job-market-candidates .view-content .views-row.main-view .view-phd-job-market-candidate-detail .node-phd-candidate {
    padding-bottom: 18px;
  }
}
.view-phd-job-market-candidates .view-content .views-row.main-view .view-phd-job-market-candidate-detail .view-empty {
  font-weight: normal;
  margin: 0;
}
.view-phd-job-market-candidates .view-content .views-row.main-view .phd-name {
  display: block;
  margin-bottom: 18px;
}
.view-phd-job-market-candidates .view-content .views-row.main-view .phd-name a:after {
  content: "\f101";
  display: inline-block;
  speak: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-transform: none;
  line-height: 1;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'icons';
}
.view-phd-job-market-candidates .view-content .views-row.main-view .phd-name a:after {
  color: #c2b7a1;
  font-size: 14px;
  margin-left: 3px;
}
.view-phd-job-market-candidates .view-content .views-row.main-view .phd-name a:hover:after {
  color: #aac4bf;
}
@media (max-width: 48em) {
  .view-phd-job-market-candidates .view-content .views-row.main-view .phd-name {
    margin-bottom: 18px;
  }
}
.view-phd-job-market-candidates .view-content .views-row.main-view .group-second,
.view-phd-job-market-candidates .view-content .views-row.main-view .group-third,
.view-phd-job-market-candidates .view-content .views-row.main-view .group-fourth {
  padding: 0 2%;
  width: 25%;
}
.view-phd-job-market-candidates .view-content .views-row.main-view .group-second .label-above,
.view-phd-job-market-candidates .view-content .views-row.main-view .group-third .label-above,
.view-phd-job-market-candidates .view-content .views-row.main-view .group-fourth .label-above {
  color: #766d5f;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 18px;
}
@media (max-width: 48em) {
  .view-phd-job-market-candidates .view-content .views-row.main-view .group-second .label-above,
  .view-phd-job-market-candidates .view-content .views-row.main-view .group-third .label-above,
  .view-phd-job-market-candidates .view-content .views-row.main-view .group-fourth .label-above {
    margin-bottom: 10px;
    margin-top: 18px;
  }
}
.view-phd-job-market-candidates .view-content .views-row.main-view .group-first {
  width: 21%;
}
.view-phd-job-market-candidates .view-content .views-row.main-view .group-third {
  padding: 0;
}
.view-phd-job-market-candidates .view-content .views-row.main-view .group-fourth {
  float: right;
}
.view-phd-job-market-candidates .view-content .views-row.main-view .field-name-field-faculty-advisors {
  padding-left: 12%;
}
@media (max-width: 35.5em) {
  .view-phd-job-market-candidates .view-content .views-row.main-view .field-name-field-faculty-advisors {
    max-width: 50%;
    padding-left: 0;
  }
}
@media (max-width: 20em) {
  .view-phd-job-market-candidates .view-content .views-row.main-view .field-name-field-faculty-advisors {
    max-width: 100%;
  }
}
.view-phd-job-market-candidates .view-content .views-row.main-view .field-name-field-faculty-advisors a {
  color: #636f00;
  display: block;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 10px;
}
.view-phd-job-market-candidates .view-content .views-row.main-view .field-name-field-faculty-advisors a:hover {
  color: #2d6280;
}
@media (max-width: 35.5em) {
  .view-phd-job-market-candidates .view-content .views-row.main-view .field-name-field-faculty-advisors a {
    margin-bottom: 2px;
  }
  .view-phd-job-market-candidates .view-content .views-row.main-view .field-name-field-faculty-advisors a:last-of-type {
    margin-bottom: 14px;
  }
}
@media (max-width: 20em) {
  .view-phd-job-market-candidates .view-content .views-row.main-view .field-name-field-faculty-advisors a {
    display: block;
  }
}
.view-phd-job-market-candidates .view-content .views-row.main-view .field-name-field-dissertation {
  font-size: 16px;
  line-height: 1.2;
}
.view-phd-job-market-candidates .view-content .views-row.main-view .field-name-field-phd-research-interests div:not(:first-of-type) {
  font-size: 16px;
  line-height: 1.2;
  margin-bottom: 12px;
}
@media (max-width: 48em) {
  .view-phd-job-market-candidates .view-content .views-row.main-view .group-first {
    width: 20%;
  }
}
@media (max-width: 48em) {
  .view-phd-job-market-candidates .view-content .views-row.main-view .group-second {
    width: 35%;
  }
  .view-phd-job-market-candidates .view-content .views-row.main-view .group-second .label-above {
    margin-top: 0;
  }
}
@media (max-width: 48em) {
  .view-phd-job-market-candidates .view-content .views-row.main-view .group-third {
    width: 45%;
  }
  .view-phd-job-market-candidates .view-content .views-row.main-view .group-third .label-above {
    margin-top: 0;
  }
}
@media (max-width: 48em) {
  .view-phd-job-market-candidates .view-content .views-row.main-view .group-fourth {
    clear: left;
    float: none;
    margin-left: 24%;
    padding-top: 1px;
    width: 100%;
  }
}
@media (max-width: 35.5em) {
  .view-phd-job-market-candidates .view-content .views-row.main-view .group-fourth {
    margin-left: 0;
  }
}
@media (max-width: 35.5em) {
  .view-phd-job-market-candidates .view-content .views-row.main-view .group-second,
  .view-phd-job-market-candidates .view-content .views-row.main-view .group-third,
  .view-phd-job-market-candidates .view-content .views-row.main-view .group-fourth {
    float: none;
    margin-left: 25%;
    padding: 0;
    width: 80%;
  }
}
@media (max-width: 35.5em) {
  .view-phd-job-market-candidates .view-content .views-row.main-view .group-second {
    margin-top: 18px;
  }
}
@media (max-width: 20em) {
  .view-phd-job-market-candidates .view-content .views-row.main-view .group-first,
  .view-phd-job-market-candidates .view-content .views-row.main-view .group-second,
  .view-phd-job-market-candidates .view-content .views-row.main-view .group-third,
  .view-phd-job-market-candidates .view-content .views-row.main-view .group-fourth {
    float: none;
    margin-left: 0;
    width: 100%;
  }
}
