.node-phd-candidate.view-mode-full .field-name-field-phd-research-interests,
.node-phd-candidate.view-mode-full .field-name-field-research-statement,
.node-phd-candidate.view-mode-full .field-name-field-teaching-statement,
.node-phd-candidate.view-mode-full .field-name-field-link-single,
.node-phd-candidate.view-mode-full .field-name-field-description,
.node-phd-candidate.view-mode-full .field-name-field-body,
.node-phd-candidate.view-mode-full .field-name-field-job-market-paper-desc {
  font-size: 18px;
  line-height: 1.4;
}
@media (max-width: 43.75em) {
  .node-phd-candidate.view-mode-full .field-name-field-phd-research-interests,
  .node-phd-candidate.view-mode-full .field-name-field-research-statement,
  .node-phd-candidate.view-mode-full .field-name-field-teaching-statement,
  .node-phd-candidate.view-mode-full .field-name-field-link-single,
  .node-phd-candidate.view-mode-full .field-name-field-description,
  .node-phd-candidate.view-mode-full .field-name-field-body,
  .node-phd-candidate.view-mode-full .field-name-field-job-market-paper-desc {
    font-size: 16px;
  }
}

.node-phd-candidate.view-mode-full .group-wrapper-information {
  background-color: #f9f9f9;
  background: -moz-linear-gradient(bottom, #f9f9f9 20%, #ffffff 100%);
  background: -o-linear-gradient(bottom, #f9f9f9 20%, #ffffff 100%);
  background: -webkit-linear-gradient(bottom, #f9f9f9 20%, #ffffff 100%);
  background: linear-gradient(to top, #f9f9f9 20%, #ffffff 100%);
}

.node-phd-candidate.view-mode-full .group-wrapper-jobpaper, .node-phd-candidate.view-mode-full .field-name-field-publications,
.node-phd-candidate.view-mode-full .field-name-field-working-papers,
.node-phd-candidate.view-mode-full .field-name-field-work-in-progress {
  border-top: 1px lightgray solid;
}

.node-phd-candidate.view-mode-full .group-wrapper-information {
  border: 2px white solid;
}

.node-phd-candidate.view-mode-full .group-wrapper-information {
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  margin: 1px;
}

.ie8 .node-phd-candidate.view-mode-full .group-wrapper-information, .node-phd-candidate.view-mode-full .ie8 .group-wrapper-information {
  border: 1px #cccccc solid !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.node-phd-candidate.view-mode-full .field-name-field-file-job-market-paper a:after,
.node-phd-candidate.view-mode-full .field-collection-item-field-publications .field-name-field-file-single-public a:after,
.node-phd-candidate.view-mode-full .field-collection-item-field-working-papers .field-name-field-file-single-public a:after,
.node-phd-candidate.view-mode-full .field-collection-item-field-work-in-progress .field-name-field-file-single-public a:after, .node-phd-candidate.view-mode-full .group-wrapper-link .field-name-field-file-single-public a:after {
  margin-left: 3px;
  font-weight: normal;
}

.node-phd-candidate.view-mode-full .group-wrapper-information {
  padding: 15px 0;
}
.node-phd-candidate.view-mode-full .group-wrapper-information > div {
  line-height: 0;
}
.node-phd-candidate.view-mode-full .group-wrapper-information a {
  color: #636f00;
  font-size: 16px;
  font-family: "NewsGothicBT-Demi", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  line-height: 1.2;
}
.node-phd-candidate.view-mode-full .group-wrapper-information a:hover {
  color: #2d6280;
}
.node-phd-candidate.view-mode-full .group-wrapper-information a[target=_blank]:after {
  content: "\f102";
  display: inline;
  speak: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-transform: none;
  line-height: 1;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'icons';
}
.node-phd-candidate.view-mode-full .group-wrapper-information a[target=_blank]:after {
  font-size: 10px;
  font-weight: normal;
  margin-left: 3px;
}
.node-phd-candidate.view-mode-full .group-wrapper-information .field {
  padding: 0 26px;
}

@media (max-width: 35.5em) {
  .node-type-phd-candidate #page-title {
    display: block;
    color: #2d6280;
    font-family: "NewsGothicBT-Demi", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 34px;
    font-weight: normal;
    line-height: 40px;
  }
}
@media (max-width: 35.5em) {
  .node-type-phd-candidate .group-wrapper-name {
    display: none;
  }
}

.node-phd-candidate.view-mode-full {
  border-top: 3px solid #231f20;
  padding-top: 2px;
}
.node-phd-candidate.view-mode-full a {
  color: #636f00;
}
.node-phd-candidate.view-mode-full a:hover {
  color: #2d6280;
}
.node-phd-candidate.view-mode-full .field-name-field-file-job-market-paper a,
.node-phd-candidate.view-mode-full .field-collection-item-field-publications .field-name-field-file-single-public a,
.node-phd-candidate.view-mode-full .field-collection-item-field-working-papers .field-name-field-file-single-public a,
.node-phd-candidate.view-mode-full .field-collection-item-field-work-in-progress .field-name-field-file-single-public a {
  font-size: 18px;
}
.node-phd-candidate.view-mode-full .field-name-field-file-job-market-paper a:before,
.node-phd-candidate.view-mode-full .field-collection-item-field-publications .field-name-field-file-single-public a:before,
.node-phd-candidate.view-mode-full .field-collection-item-field-working-papers .field-name-field-file-single-public a:before,
.node-phd-candidate.view-mode-full .field-collection-item-field-work-in-progress .field-name-field-file-single-public a:before {
  color: black;
  content: "   |   ";
  display: inline;
}
.node-phd-candidate.view-mode-full .field-name-field-file-job-market-paper a:after,
.node-phd-candidate.view-mode-full .field-collection-item-field-publications .field-name-field-file-single-public a:after,
.node-phd-candidate.view-mode-full .field-collection-item-field-working-papers .field-name-field-file-single-public a:after,
.node-phd-candidate.view-mode-full .field-collection-item-field-work-in-progress .field-name-field-file-single-public a:after {
  content: "\f118";
  display: inline;
  speak: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-transform: none;
  line-height: 1;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'icons';
}
.node-phd-candidate.view-mode-full .label-above,
.node-phd-candidate.view-mode-full .field-label {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 18px;
}
@media (max-width: 35.5em) {
  .node-phd-candidate.view-mode-full {
    border-top: 0;
    padding-top: 0;
  }
}
.node-phd-candidate.view-mode-full.ds-2col > .group-left {
  width: 270px;
}
.node-phd-candidate.view-mode-full.ds-2col > .group-left img {
  display: block;
}
@media (max-width: 35.5em) {
  .node-phd-candidate.view-mode-full.ds-2col > .group-left {
    margin-bottom: 20px;
  }
}
.node-phd-candidate.view-mode-full.ds-2col > .group-right {
  float: none;
  margin-bottom: 20px;
  padding-left: 300px;
  width: auto;
}
@media (max-width: 35.5em) {
  .node-phd-candidate.view-mode-full.ds-2col > .group-right {
    float: left;
    margin-bottom: 0;
    padding-left: 0;
  }
}
.node-phd-candidate.view-mode-full .field-name-field-academic-area-single {
  background: #766d5f;
  color: white;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 20px;
  padding: 14px 26px;
}
.node-phd-candidate.view-mode-full .field-name-field-academic-area-single span:before {
  content: "PhD Candidate,";
  display: inline;
  margin-right: 0.3em;
}
.node-phd-candidate.view-mode-full .group-wrapper-information .field-name-phd-address > div {
  line-height: 1.2;
}
.node-phd-candidate.view-mode-full .field-name-field-email {
  border-bottom: 1px solid #e4e4e4;
}
.node-phd-candidate.view-mode-full .field-name-field-email a {
  display: inline-block;
  max-width: 211px;
  padding-bottom: 15px;
  word-wrap: break-word;
}
.node-phd-candidate.view-mode-full .field-name-field-email a:after {
  content: "\f112";
  display: inline;
  speak: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-transform: none;
  line-height: 1;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'icons';
}
.node-phd-candidate.view-mode-full .field-name-field-email a:after {
  font-size: 12px;
  line-height: 0;
  margin-left: 3px;
}
.node-phd-candidate.view-mode-full .group-wrapper-link {
  border-top: 1px solid white;
  border-bottom: 1px solid #e4e4e4;
  padding: 15px 0;
}
.node-phd-candidate.view-mode-full .group-wrapper-link .field-name-field-file-single-public a:after {
  content: "\f118";
  display: inline;
  speak: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-transform: none;
  line-height: 1;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'icons';
}
.node-phd-candidate.view-mode-full .group-wrapper-link .field-name-field-file-single-public a:after {
  font-size: 14px;
}
.node-phd-candidate.view-mode-full .field-name-phd-address {
  border-top: 1px solid white;
}
.node-phd-candidate.view-mode-full .field-name-phd-address .field-items {
  padding-top: 15px;
}
.node-phd-candidate.view-mode-full .group-wrapper-name {
  color: #2d6280;
  font-family: "NewsGothicBT-Demi", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 34px;
  font-weight: normal;
  line-height: 40px;
  margin: 25px 0;
}
.node-phd-candidate.view-mode-full .group-wrapper-name span:after {
  content: " ";
}
.node-phd-candidate.view-mode-full .field-name-field-phd-research-interests,
.node-phd-candidate.view-mode-full .field-name-field-research-statement,
.node-phd-candidate.view-mode-full .field-name-field-teaching-statement,
.node-phd-candidate.view-mode-full .field-name-field-link-single,
.node-phd-candidate.view-mode-full .field-name-field-description,
.node-phd-candidate.view-mode-full .field-name-field-body,
.node-phd-candidate.view-mode-full .field-name-field-job-market-paper-desc {
  margin-bottom: 20px;
}
.node-phd-candidate.view-mode-full .field-name-field-phd-research-interests .label-above,
.node-phd-candidate.view-mode-full .field-name-field-research-statement .label-above,
.node-phd-candidate.view-mode-full .field-name-field-teaching-statement .label-above {
  margin-bottom: 10px;
}
.node-phd-candidate.view-mode-full .field-name-field-link-single {
  font-weight: bold;
}
.node-phd-candidate.view-mode-full .field-name-field-link-single a:after {
  content: "\f101";
  display: inline;
  speak: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-transform: none;
  line-height: 1;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'icons';
}
.node-phd-candidate.view-mode-full .field-name-field-link-single a:after {
  font-size: 12px;
}
.node-phd-candidate.view-mode-full .field-name-field-faculty-advisors {
  margin-bottom: 20px;
}
.node-phd-candidate.view-mode-full .field-name-field-faculty-advisors .label-above {
  margin-bottom: 0;
}
.node-phd-candidate.view-mode-full .field-name-field-faculty-advisors a:after {
  color: black;
  content: ",";
}
.node-phd-candidate.view-mode-full .field-name-field-faculty-advisors span:last-of-type a:after {
  content: "";
}
.node-phd-candidate.view-mode-full .group-wrapper-jobpaper {
  margin-top: 35px;
  padding-top: 35px;
}
.node-phd-candidate.view-mode-full .group-wrapper-jobpaper h3 {
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  margin-bottom: 18px;
}
.node-phd-candidate.view-mode-full .field-name-field-job-market-paper-desc {
  margin-top: 10px;
  margin-bottom: 35px;
}
.node-phd-candidate.view-mode-full .field-name-field-publications,
.node-phd-candidate.view-mode-full .field-name-field-working-papers,
.node-phd-candidate.view-mode-full .field-name-field-work-in-progress {
  margin-top: 35px;
  padding-top: 35px;
}
.node-phd-candidate.view-mode-full .field-name-field-publications .field-name-field-description,
.node-phd-candidate.view-mode-full .field-name-field-working-papers .field-name-field-body,
.node-phd-candidate.view-mode-full .field-name-field-work-in-progress .field-name-field-body {
  margin-top: 10px;
}
.node-phd-candidate.view-mode-full .field-name-field-publications .field-name-field-phd-citation {
  color: #766d5f;
  line-height: 1.2;
}
