.pane-program-finder .field-group-tab-wrapper, .pane-program-finder div.vertical-tabs, .pane-program-finder div.vertical-tabs ul.vertical-tabs-list .selected {
  border: 2px white solid;
}

.pane-program-finder .field-group-tab-wrapper {
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  margin: 0 1px 1px 1px;
}
@media (max-width: 35.5em) {
  .pane-program-finder .field-group-tab-wrapper {
    margin-top: 1px;
  }
}

.pane-program-finder .field-group-tab-wrapper {
  background: -moz-linear-gradient(right, #355567, #7390a1);
  background: -o-linear-gradient(right, #355567, #7390a1);
  background: -webkit-linear-gradient(right, #355567, #7390a1);
  background: linear-gradient(to left, #355567, #7390a1);
  background: url('../../images/bg-program-finder.jpg') no-repeat;
  height: 476px;
  padding: 10px;
}
@media (max-width: 72.8125em) {
  .pane-program-finder .field-group-tab-wrapper {
    height: auto;
    padding: 0;
    background: -moz-linear-gradient(right, #355567, #7390a1);
    background: -o-linear-gradient(right, #355567, #7390a1);
    background: -webkit-linear-gradient(right, #355567, #7390a1);
    background: linear-gradient(to left, #355567, #7390a1);
  }
}
.pane-program-finder div.vertical-tabs {
  background: -moz-linear-gradient(#f4f4f4, #dddddd);
  background: -o-linear-gradient(#f4f4f4, #dddddd);
  background: -webkit-linear-gradient(#f4f4f4, #dddddd);
  background: linear-gradient(#f4f4f4, #dddddd);
  height: 450px;
  margin: 0 0 0 15em;
}
@media (max-width: 72.8125em) {
  .pane-program-finder div.vertical-tabs {
    height: auto;
    margin: 0;
    background: transparent;
    border: 0;
  }
}
.pane-program-finder div.vertical-tabs fieldset.vertical-tabs-pane {
  border: 0;
  padding: 30px 40px 36px;
}
@media (max-width: 72.8125em) {
  .pane-program-finder div.vertical-tabs fieldset.vertical-tabs-pane {
    padding: 14px;
    background: -moz-linear-gradient(#f4f4f4, #dddddd);
    background: -o-linear-gradient(#f4f4f4, #dddddd);
    background: -webkit-linear-gradient(#f4f4f4, #dddddd);
    background: linear-gradient(#f4f4f4, #dddddd);
    width: 100%;
  }
}
.pane-program-finder div.vertical-tabs .fieldset-wrapper a {
  color: #636f00;
  display: inline-block;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 14px;
}
.pane-program-finder div.vertical-tabs .fieldset-wrapper a:after {
  content: "\f101";
  display: inline-block;
  speak: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-transform: none;
  line-height: 1;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'icons';
}
.pane-program-finder div.vertical-tabs .fieldset-wrapper a:after {
  color: #c2b7a1;
  font-size: 12px;
  position: relative;
  left: 5px;
}
.pane-program-finder div.vertical-tabs .fieldset-wrapper a:hover {
  color: #2d6280;
}
.pane-program-finder div.vertical-tabs .vertical-tabs-panes {
  height: 438px;
  overflow: hidden;
}
@media (max-width: 72.8125em) {
  .pane-program-finder div.vertical-tabs .vertical-tabs-panes {
    height: auto;
  }
}
.pane-program-finder div.vertical-tabs ul.vertical-tabs-list {
  border-top: 0;
  margin: -2px 0 -2px -15em;
  width: 238px;
}
.pane-program-finder div.vertical-tabs ul.vertical-tabs-list li {
  background-color: transparent;
  border-left: 0;
  border-top: 1px solid #8aa5b4;
  border-bottom: 1px solid #647f8f;
  border-right: 1px solid #2d6280;
}
.pane-program-finder div.vertical-tabs ul.vertical-tabs-list li:after {
  content: "\f105";
  display: inline-block;
  speak: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-transform: none;
  line-height: 1;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'icons';
}
.pane-program-finder div.vertical-tabs ul.vertical-tabs-list li:after {
  color: white;
  float: right;
  font-size: 14px;
  position: relative;
  top: -35px;
  right: 10px;
}
.pane-program-finder div.vertical-tabs ul.vertical-tabs-list li:focus {
  outline: 0;
}
.pane-program-finder div.vertical-tabs ul.vertical-tabs-list li:first-of-type {
  border-top: 1px solid transparent;
}
.pane-program-finder div.vertical-tabs ul.vertical-tabs-list li:last-of-type {
  border-bottom: 1px solid transparent;
}
.pane-program-finder div.vertical-tabs ul.vertical-tabs-list li.selected {
  background-color: #f4f4f4;
  width: 240px;
}
.pane-program-finder div.vertical-tabs ul.vertical-tabs-list li.selected:after {
  color: #c2b7a1;
}
.pane-program-finder div.vertical-tabs ul.vertical-tabs-list li.selected:first-of-type {
  border-top: 2px solid white;
}
.pane-program-finder div.vertical-tabs ul.vertical-tabs-list li.selected:last-of-type {
  border-bottom: 2px solid white;
}
.pane-program-finder div.vertical-tabs ul.vertical-tabs-list li a {
  color: white;
  font-size: 20px;
  line-height: 1;
  padding: 17px 24px 17px 12px;
}
.pane-program-finder div.vertical-tabs ul.vertical-tabs-list li a strong {
  font-weight: normal;
}
.pane-program-finder div.vertical-tabs ul.vertical-tabs-list li a:hover {
  outline: 0;
}
.pane-program-finder div.vertical-tabs ul.vertical-tabs-list li a:hover strong {
  text-decoration: none;
}
.pane-program-finder div.vertical-tabs ul.vertical-tabs-list .selected {
  border-right: 1px solid transparent;
}
.pane-program-finder div.vertical-tabs ul.vertical-tabs-list .selected strong {
  color: #766d5f;
}
.pane-program-finder .program-columns {
  overflow: hidden;
  *zoom: 1;
}
.pane-program-finder .program-columns .column-a,
.pane-program-finder .program-columns .column-b {
  width: 230px;
  float: left;
}
@media (max-width: 72.8125em) {
  .pane-program-finder .program-columns .column-a,
  .pane-program-finder .program-columns .column-b {
    width: auto;
    float: none;
  }
}
.pane-program-finder .program-columns .column-a {
  margin-right: 55px;
}
@media (max-width: 72.8125em) {
  .pane-program-finder .program-columns .column-a {
    margin-right: 0;
  }
}
.pane-program-finder .program-columns p {
  font-size: 16px;
  line-height: 19px;
}
@media (max-width: 72.8125em) {
  .pane-program-finder .program-columns p {
    font-size: 18px;
    line-height: 24px;
  }
}

@media (max-width: 72.8125em) {
  ul.vertical-tabs-list {
    margin: 0;
    padding: 0;
  }

  .vertical-tabs-list li {
    display: inline-block;
    padding: 14px;
    margin: 0;
    list-style: none;
    cursor: pointer;
    float: left;
  }

  .vertical-tabs-panes {
    padding: 0;
    clear: left;
  }

  .resp-accordion a {
    color: white;
    display: block;
    margin: 0;
    font-size: 22px;
    font-family: "NewsGothicBT", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 10px 14px;
    border-top: 1px solid #8aa5b4;
  }
  .resp-accordion a:not(8n) {
    border-bottom: 1px solid #647f8f;
  }
  .resp-accordion a:after {
    content: "\f105";
    display: inline-block;
    speak: none;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-transform: none;
    line-height: 1;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-family: 'icons';
  }
  .resp-accordion a:after {
    color: white;
    float: right;
    font-size: 14px;
    line-height: 3;
  }
  .resp-accordion a:hover {
    background-color: #f4f4f4;
    color: #766d5f;
  }
  .resp-accordion a:hover:after {
    color: #766d5f;
  }

  .resp-tab-content {
    display: none;
    padding: 15px;
  }

  .resp-tab-active a {
    border-bottom: none;
    margin-bottom: -1px !important;
    background-color: #f4f4f4;
    color: #766d5f;
  }
  .resp-tab-active a:after {
    content: "\f108";
    display: inline-block;
    speak: none;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-transform: none;
    line-height: 1;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-family: 'icons';
  }
  .resp-tab-active a:after {
    color: #766d5f;
  }

  .resp-content-active,
  .resp-accordion-active,
  .resp-easy-accordion h2.resp-accordion,
  .resp-tab-content-active {
    display: block;
  }

  .resp-jfit {
    width: 100%;
    margin: 0;
  }

  ul.vertical-tabs-list {
    display: none;
  }

  .resp-vtabs .vertical-tabs-panes {
    border: none;
    float: none;
    width: 100%;
    min-height: initial;
    clear: none;
  }

  .resp-accordion-closed {
    display: none !important;
  }
}
