.pane-seed-research-filters-seed-research-filters-pane {
  background: white;
}

.pane-seed-research-filters-seed-research-filters-pane h2.pane-title {
  border-top: 10px #231f20 solid;
}

.view-seed-research-listing {
  border-top: 3px #231f20 solid;
}

.pane-seed-research-filters-seed-research-filters-pane {
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  margin: 1px;
}

.node-type-seed-research-project .region-content a, .node-type-seed-research-project .region-content a:link, .node-type-seed-research-project .region-content a:visited, .node-type-seed-research-project .region-content a:hover, .node-type-seed-research-project .region-content a:active {
  color: #636f00 !important;
}
.node-type-seed-research-project h1.title {
  font-size: 32px;
  line-height: 1.3;
  font-weight: bold;
  border-top: 3px solid #231f20;
  padding-top: 25px;
}
.node-type-seed-research-project .field-name-field-srl-principal-investigator {
  font-size: 20px;
  line-height: 1.3;
  font-weight: normal;
  margin-bottom: 20px;
}
.node-type-seed-research-project .field-name-field-srl-principal-investigator h4 {
  font-size: 20px;
  line-height: 1.3;
  font-weight: bold;
  margin-bottom: 3px;
}
.node-type-seed-research-project .field-collection-container {
  border-bottom: none;
  margin-bottom: 0px;
}
.node-type-seed-research-project .field-collection-container .field-collection-view {
  padding: 0;
  margin: 0;
  border-bottom: none;
}
.node-type-seed-research-project .field-collection-container .field-collection-view .field-items .field-item {
  margin-bottom: 0px;
}
.node-type-seed-research-project .field-name-field-srl-co-investigators {
  font-size: 20px;
  line-height: 1.3;
  font-weight: normal;
  margin-bottom: 20px;
}
.node-type-seed-research-project .field-name-field-srl-co-investigators h4 {
  font-size: 20px;
  line-height: 1.3;
  font-weight: bold;
  margin-bottom: 3px;
}
.node-type-seed-research-project .field-name-field-srl-co-investigators .field-collection-item-field-srl-co-investigators {
  margin-bottom: 10px;
}
.node-type-seed-research-project .panel-separator {
  display: none;
}
.node-type-seed-research-project .pane-node-field-research-locations,
.node-type-seed-research-project .pane-node-gsb-feature-seed-research-library-ct-award-date,
.node-type-seed-research-project .pane-node-field-award-type,
.node-type-seed-research-project .pane-node-field-status {
  margin-bottom: 5px !important;
}
.node-type-seed-research-project .field-name-field-research-locations,
.node-type-seed-research-project .field-name-field-month,
.node-type-seed-research-project .pane-node-gsb-feature-seed-research-library-ct-award-date,
.node-type-seed-research-project .field-name-field-award-type,
.node-type-seed-research-project .field-name-field-status {
  font-size: 18px !important;
}
.node-type-seed-research-project .field-name-field-research-locations h5,
.node-type-seed-research-project .field-name-field-month h5,
.node-type-seed-research-project .pane-node-gsb-feature-seed-research-library-ct-award-date h5,
.node-type-seed-research-project .field-name-field-award-type h5,
.node-type-seed-research-project .field-name-field-status h5 {
  font-size: 18px;
  line-height: 1.3;
  font-weight: bold;
  display: inline;
}
.node-type-seed-research-project .pane-node-gsb-feature-seed-research-library-ct-award-date h5,
.node-type-seed-research-project .pane-node-gsb-feature-seed-research-library-ct-award-date .field-name-award-date {
  display: inline-block;
  line-height: 1.3;
  margin-right: 5px;
}
.node-type-seed-research-project #panels-ipe-paneid-972941,
.node-type-seed-research-project .pane-node-field-award-type {
  clear: both;
}
.node-type-seed-research-project .field-name-field-abstract {
  margin-top: 30px;
}
.node-type-seed-research-project .field-name-field-abstract h3 {
  font-size: 24px;
  line-height: 1.3;
  font-weight: bold;
  margin-bottom: 5px;
}
.node-type-seed-research-project .field-name-field-research-results {
  margin-top: 20px;
}
.node-type-seed-research-project .field-name-field-research-results h3 {
  font-size: 22px;
  line-height: 1.3;
  font-weight: bold;
  margin-bottom: 2px;
}
.node-type-seed-research-project .field-name-field-research-results .field-collection-item-field-research-results {
  font-size: 18px;
  line-height: 1.3;
  font-weight: normal;
  padding-top: 6px;
  padding-bottom: 6px;
  border-bottom: 1px solid #c4c4c4;
  display: inline-block;
  width: 100%;
}
.node-type-seed-research-project .field-name-field-research-results .field-collection-item-field-research-results .field-name-field-link-single {
  float: left;
  display: inline-block;
  margin-right: 2px;
}
.node-type-seed-research-project .field-name-field-research-results .field-collection-item-field-research-results .field-name-field-file-single-public {
  direction: rtl;
  width: 16px;
  overflow-x: hidden;
  white-space: nowrap;
}
.node-type-seed-research-project .field-name-field-research-results .field-collection-item-field-research-results:last-child {
  border-bottom: none !important;
}

.view-seed-research-listing .views-row {
  border-top: 1px #c4c4c4 solid;
  padding: 26px 0;
}
.view-seed-research-listing .views-row:first-of-type {
  border-top: 0;
}
.view-seed-research-listing .views-row .field-content {
  font-size: 18px;
  line-height: 1.3;
  font-weight: normal;
}
.view-seed-research-listing .views-row .field-content h2 {
  font-family: "NewsGothicBT", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.3;
}
.view-seed-research-listing .views-row .field-content h2 a {
  font-family: "NewsGothicBT", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.3;
}
.view-seed-research-listing .views-row .field-content .listing-field-title {
  margin-bottom: 6px;
}
.view-seed-research-listing .views-row .field-content .listing-field {
  margin-top: 3px;
}
.view-seed-research-listing .views-row .field-content span {
  font-weight: bold;
}
.view-seed-research-listing .views-row .field-content span.date-display-single {
  font-weight: normal;
}

.pane-seed-research-filters-seed-research-filters-pane {
  background: #f4f4f4;
  padding: 0 26px 14px;
}
.pane-seed-research-filters-seed-research-filters-pane h2.pane-title {
  color: #231f20;
  font-family: "NewsGothicBT-Demi", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.3;
  margin-bottom: 18px;
  padding-top: 12px;
}
.pane-seed-research-filters-seed-research-filters-pane .views-row {
  border-bottom: 1px lightgray solid;
  padding: 12px 0 9px;
}
.pane-seed-research-filters-seed-research-filters-pane .views-row:first-of-type {
  padding-top: 0;
}
.pane-seed-research-filters-seed-research-filters-pane .views-row:last-of-type {
  border-bottom: 0;
}
.pane-seed-research-filters-seed-research-filters-pane .views-field h2 {
  font-family: "NewsGothicBT", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.3;
}
.pane-seed-research-filters-seed-research-filters-pane .views-field h2 a {
  font-family: "NewsGothicBT", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.3;
}
.pane-seed-research-filters-seed-research-filters-pane .views-field .listing-field-title {
  margin-bottom: 6px;
}
.pane-seed-research-filters-seed-research-filters-pane .views-field .listing-field {
  margin-top: 3px;
  font-weight: normal;
}
.pane-seed-research-filters-seed-research-filters-pane .views-field .listing-field span {
  font-weight: bold;
}
.pane-seed-research-filters-seed-research-filters-pane .views-field .listing-field span.date-display-single {
  font-weight: normal;
}
.pane-seed-research-filters-seed-research-filters-pane .list-cta {
  font-size: 16px;
  line-height: 1.2;
  margin: 17px -26px -14px;
  background-color: #231f20;
  padding: 15px 26px;
  text-align: right;
}
.pane-seed-research-filters-seed-research-filters-pane .list-cta a {
  color: #d6d6d6;
}
.pane-seed-research-filters-seed-research-filters-pane .list-cta a:hover {
  text-decoration: underline;
}
.pane-seed-research-filters-seed-research-filters-pane .list-cta a::after {
  content: "\f101";
  display: inline;
  text-transform: none;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: "icons";
  margin-left: 5px;
}
