.node-type-seed-research-project .region-content a, .node-type-seed-research-project .region-content a:link, .node-type-seed-research-project .region-content a:visited, .node-type-seed-research-project .region-content a:hover, .node-type-seed-research-project .region-content a:active {
  color: #636f00 !important;
}
.node-type-seed-research-project h1.title {
  font-size: 32px;
  line-height: 1.3;
  font-weight: bold;
  border-top: 3px solid #231f20;
  padding-top: 12px;
}
.node-type-seed-research-project .field-name-field-srl-principal-investigator {
  font-size: 20px;
  line-height: 1.3;
  font-weight: normal;
  margin-bottom: 20px;
}
.node-type-seed-research-project .field-name-field-srl-principal-investigator h4 {
  font-size: 20px;
  line-height: 1.3;
  font-weight: bold;
  margin-bottom: 3px;
}
.node-type-seed-research-project .field-collection-container {
  border-bottom: none;
  margin-bottom: 0px;
}
.node-type-seed-research-project .field-collection-container .field-collection-view {
  padding: 0;
  margin: 0;
  border-bottom: none;
}
.node-type-seed-research-project .field-collection-container .field-collection-view .field-items .field-item {
  margin-bottom: 0px;
}
.node-type-seed-research-project .field-name-field-srl-co-investigators {
  font-size: 20px;
  line-height: 1.3;
  font-weight: normal;
  margin-bottom: 20px;
}
.node-type-seed-research-project .field-name-field-srl-co-investigators h4 {
  font-size: 20px;
  line-height: 1.3;
  font-weight: bold;
  margin-bottom: 3px;
}
.node-type-seed-research-project .field-name-field-srl-co-investigators .field-collection-item-field-srl-co-investigators {
  margin-bottom: 10px;
}
.node-type-seed-research-project .panel-separator {
  display: none;
}
.node-type-seed-research-project .full-header .panel-pane {
  margin-bottom: 0px !important;
}
.node-type-seed-research-project .field-name-field-research-locations,
.node-type-seed-research-project .field-name-field-month,
.node-type-seed-research-project .pane-node-gsb-feature-seed-research-library-ct-award-date,
.node-type-seed-research-project .field-name-field-award-type,
.node-type-seed-research-project .field-name-field-status {
  font-size: 18px !important;
}
.node-type-seed-research-project .field-name-field-research-locations h5,
.node-type-seed-research-project .field-name-field-month h5,
.node-type-seed-research-project .pane-node-gsb-feature-seed-research-library-ct-award-date h5,
.node-type-seed-research-project .field-name-field-award-type h5,
.node-type-seed-research-project .field-name-field-status h5 {
  font-size: 18px;
  line-height: 1.3;
  font-weight: bold;
  display: inline;
}
.node-type-seed-research-project .pane-node-gsb-feature-seed-research-library-ct-award-date h5,
.node-type-seed-research-project .pane-node-gsb-feature-seed-research-library-ct-award-date .field-name-award-date {
  display: inline-block;
  line-height: 1.3;
  float: left;
  margin-right: 5px;
}
.node-type-seed-research-project #panels-ipe-paneid-972941,
.node-type-seed-research-project .pane-node-field-award-type {
  clear: both;
}
.node-type-seed-research-project .field-name-field-abstract {
  margin-top: 30px;
}
.node-type-seed-research-project .field-name-field-abstract h3 {
  font-size: 24px;
  line-height: 1.3;
  font-weight: bold;
  margin-bottom: 5px;
}
.node-type-seed-research-project .field-name-field-research-results {
  margin-top: 20px;
}
.node-type-seed-research-project .field-name-field-research-results h3 {
  font-size: 22px;
  line-height: 1.3;
  font-weight: bold;
  margin-bottom: 2px;
}
.node-type-seed-research-project .field-name-field-research-results .field-collection-item-field-research-results {
  font-size: 18px;
  line-height: 1.3;
  font-weight: normal;
  padding-top: 6px;
  padding-bottom: 6px;
  border-bottom: 1px solid #c4c4c4;
  display: inline-block;
  width: 100%;
}
.node-type-seed-research-project .field-name-field-research-results .field-collection-item-field-research-results .field-name-field-link-single {
  float: left;
  display: inline-block;
  margin-right: 2px;
}
.node-type-seed-research-project .field-name-field-research-results .field-collection-item-field-research-results .field-name-field-file-single-public {
  direction: rtl;
  width: 16px;
  overflow-x: hidden;
  white-space: nowrap;
}
.node-type-seed-research-project .field-name-field-research-results .field-collection-item-field-research-results:last-child {
  border-bottom: none !important;
}
