.pane-content .voices_display_all_list_cta,
.pane-content .voices_display_list_cta,
.pane-content .homepage_voices_cta {
  background: white;
}

.pane-content .voices_display_all_list_cta,
.pane-content .voices_display_list_cta,
.pane-content .homepage_voices_cta {
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  margin: 1px;
}

/*All voices customizable lists start */
.view-id-voices_filters.view-display-id-all_voices_list_panel_pane,
.pane-voices-filters-voices-list-cta-panel-pane,
.pane-gsb-voices-listing-panel-pane-1 {
  padding-bottom: 20px;
  width: 100%;
}
@media (min-width: 14.375em) and (max-width: 74.9375em) {
  .view-id-voices_filters.view-display-id-all_voices_list_panel_pane .view-content,
  .pane-voices-filters-voices-list-cta-panel-pane .view-content,
  .pane-gsb-voices-listing-panel-pane-1 .view-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
  }
}
.view-id-voices_filters.view-display-id-all_voices_list_panel_pane > div,
.pane-voices-filters-voices-list-cta-panel-pane > div,
.pane-gsb-voices-listing-panel-pane-1 > div {
  vertical-align: top;
}
.view-id-voices_filters.view-display-id-all_voices_list_panel_pane .views-row,
.pane-voices-filters-voices-list-cta-panel-pane .views-row,
.pane-gsb-voices-listing-panel-pane-1 .views-row {
  display: inline-block;
  margin: 30px 30px 0px 0px;
  position: relative;
  width: 22%;
  height: 410px;
}
@media (min-width: 14.375em) and (max-width: 74.9375em) {
  .view-id-voices_filters.view-display-id-all_voices_list_panel_pane .views-row,
  .pane-voices-filters-voices-list-cta-panel-pane .views-row,
  .pane-gsb-voices-listing-panel-pane-1 .views-row {
    display: block;
    width: auto;
  }
}
.view-id-voices_filters.view-display-id-all_voices_list_panel_pane .views-row .views-field-title,
.view-id-voices_filters.view-display-id-all_voices_list_panel_pane .views-row .field-name-title,
.pane-voices-filters-voices-list-cta-panel-pane .views-row .views-field-title,
.pane-voices-filters-voices-list-cta-panel-pane .views-row .field-name-title,
.pane-gsb-voices-listing-panel-pane-1 .views-row .views-field-title,
.pane-gsb-voices-listing-panel-pane-1 .views-row .field-name-title {
  color: #636f00;
  padding: 25px 0 10px 20px;
  position: relative;
  text-align: left;
}
.view-id-voices_filters.view-display-id-all_voices_list_panel_pane .views-row .views-field-title a,
.view-id-voices_filters.view-display-id-all_voices_list_panel_pane .views-row .field-name-title a,
.pane-voices-filters-voices-list-cta-panel-pane .views-row .views-field-title a,
.pane-voices-filters-voices-list-cta-panel-pane .views-row .field-name-title a,
.pane-gsb-voices-listing-panel-pane-1 .views-row .views-field-title a,
.pane-gsb-voices-listing-panel-pane-1 .views-row .field-name-title a {
  color: #636f00;
  font-size: 30px;
}
.view-id-voices_filters.view-display-id-all_voices_list_panel_pane .views-row .views-field-title a:hover,
.view-id-voices_filters.view-display-id-all_voices_list_panel_pane .views-row .field-name-title a:hover,
.pane-voices-filters-voices-list-cta-panel-pane .views-row .views-field-title a:hover,
.pane-voices-filters-voices-list-cta-panel-pane .views-row .field-name-title a:hover,
.pane-gsb-voices-listing-panel-pane-1 .views-row .views-field-title a:hover,
.pane-gsb-voices-listing-panel-pane-1 .views-row .field-name-title a:hover {
  text-decoration: none;
}
.view-id-voices_filters.view-display-id-all_voices_list_panel_pane .views-row .views-field-title a:after,
.view-id-voices_filters.view-display-id-all_voices_list_panel_pane .views-row .field-name-title a:after,
.pane-voices-filters-voices-list-cta-panel-pane .views-row .views-field-title a:after,
.pane-voices-filters-voices-list-cta-panel-pane .views-row .field-name-title a:after,
.pane-gsb-voices-listing-panel-pane-1 .views-row .views-field-title a:after,
.pane-gsb-voices-listing-panel-pane-1 .views-row .field-name-title a:after {
  content: "\f101";
  display: inline;
  speak: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-transform: none;
  line-height: 1;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'icons';
  color: #bac405;
  font-size: 18px;
  font-weight: normal;
  line-height: 0;
  margin-top: 0;
  padding-left: 10px;
}
.view-id-voices_filters.view-display-id-all_voices_list_panel_pane .views-row .views-field-title a:after:hover,
.view-id-voices_filters.view-display-id-all_voices_list_panel_pane .views-row .field-name-title a:after:hover,
.pane-voices-filters-voices-list-cta-panel-pane .views-row .views-field-title a:after:hover,
.pane-voices-filters-voices-list-cta-panel-pane .views-row .field-name-title a:after:hover,
.pane-gsb-voices-listing-panel-pane-1 .views-row .views-field-title a:after:hover,
.pane-gsb-voices-listing-panel-pane-1 .views-row .field-name-title a:after:hover {
  color: #bac405;
  text-decoration: none;
}
.view-id-voices_filters.view-display-id-all_voices_list_panel_pane .views-row .views-field-title a:after:after,
.view-id-voices_filters.view-display-id-all_voices_list_panel_pane .views-row .field-name-title a:after:after,
.pane-voices-filters-voices-list-cta-panel-pane .views-row .views-field-title a:after:after,
.pane-voices-filters-voices-list-cta-panel-pane .views-row .field-name-title a:after:after,
.pane-gsb-voices-listing-panel-pane-1 .views-row .views-field-title a:after:after,
.pane-gsb-voices-listing-panel-pane-1 .views-row .field-name-title a:after:after {
  color: #bac405;
  text-decoration: none;
}
@media (min-width: 14.375em) and (max-width: 74.9375em) {
  .view-id-voices_filters.view-display-id-all_voices_list_panel_pane .views-row .views-field-title a,
  .view-id-voices_filters.view-display-id-all_voices_list_panel_pane .views-row .field-name-title a,
  .pane-voices-filters-voices-list-cta-panel-pane .views-row .views-field-title a,
  .pane-voices-filters-voices-list-cta-panel-pane .views-row .field-name-title a,
  .pane-gsb-voices-listing-panel-pane-1 .views-row .views-field-title a,
  .pane-gsb-voices-listing-panel-pane-1 .views-row .field-name-title a {
    font-size: 20px;
  }
}
.view-id-voices_filters.view-display-id-all_voices_list_panel_pane .views-row div:hover .views-field-field-degree-year,
.view-id-voices_filters.view-display-id-all_voices_list_panel_pane .views-row div:hover .views-field-field-endowed-title-appointment,
.view-id-voices_filters.view-display-id-all_voices_list_panel_pane .views-row div:hover .field-name-field-degree-year,
.view-id-voices_filters.view-display-id-all_voices_list_panel_pane .views-row div:hover .field-name-title,
.pane-voices-filters-voices-list-cta-panel-pane .views-row div:hover .views-field-field-degree-year,
.pane-voices-filters-voices-list-cta-panel-pane .views-row div:hover .views-field-field-endowed-title-appointment,
.pane-voices-filters-voices-list-cta-panel-pane .views-row div:hover .field-name-field-degree-year,
.pane-voices-filters-voices-list-cta-panel-pane .views-row div:hover .field-name-title,
.pane-gsb-voices-listing-panel-pane-1 .views-row div:hover .views-field-field-degree-year,
.pane-gsb-voices-listing-panel-pane-1 .views-row div:hover .views-field-field-endowed-title-appointment,
.pane-gsb-voices-listing-panel-pane-1 .views-row div:hover .field-name-field-degree-year,
.pane-gsb-voices-listing-panel-pane-1 .views-row div:hover .field-name-title {
  color: white;
}
.view-id-voices_filters.view-display-id-all_voices_list_panel_pane .views-row .views-field-field-degree-year,
.view-id-voices_filters.view-display-id-all_voices_list_panel_pane .views-row .views-field-field-endowed-title-appointment,
.view-id-voices_filters.view-display-id-all_voices_list_panel_pane .views-row .field-name-field-degree-year,
.pane-voices-filters-voices-list-cta-panel-pane .views-row .views-field-field-degree-year,
.pane-voices-filters-voices-list-cta-panel-pane .views-row .views-field-field-endowed-title-appointment,
.pane-voices-filters-voices-list-cta-panel-pane .views-row .field-name-field-degree-year,
.pane-gsb-voices-listing-panel-pane-1 .views-row .views-field-field-degree-year,
.pane-gsb-voices-listing-panel-pane-1 .views-row .views-field-field-endowed-title-appointment,
.pane-gsb-voices-listing-panel-pane-1 .views-row .field-name-field-degree-year {
  color: #231f20;
  font-size: 20px;
  padding-left: 20px;
  position: relative;
}
@media (min-width: 14.375em) and (max-width: 74.9375em) {
  .view-id-voices_filters.view-display-id-all_voices_list_panel_pane .views-row .views-field-field-degree-year,
  .view-id-voices_filters.view-display-id-all_voices_list_panel_pane .views-row .views-field-field-endowed-title-appointment,
  .view-id-voices_filters.view-display-id-all_voices_list_panel_pane .views-row .field-name-field-degree-year,
  .pane-voices-filters-voices-list-cta-panel-pane .views-row .views-field-field-degree-year,
  .pane-voices-filters-voices-list-cta-panel-pane .views-row .views-field-field-endowed-title-appointment,
  .pane-voices-filters-voices-list-cta-panel-pane .views-row .field-name-field-degree-year,
  .pane-gsb-voices-listing-panel-pane-1 .views-row .views-field-field-degree-year,
  .pane-gsb-voices-listing-panel-pane-1 .views-row .views-field-field-endowed-title-appointment,
  .pane-gsb-voices-listing-panel-pane-1 .views-row .field-name-field-degree-year {
    font-size: 16px;
  }
}
.view-id-voices_filters.view-display-id-all_voices_list_panel_pane .views-row div:hover .field-name-field-quote div div,
.pane-voices-filters-voices-list-cta-panel-pane .views-row div:hover .field-name-field-quote div div,
.pane-gsb-voices-listing-panel-pane-1 .views-row div:hover .field-name-field-quote div div {
  opacity: 1;
}
.view-id-voices_filters.view-display-id-all_voices_list_panel_pane .views-row:hover .views-field-field-quote div div,
.pane-voices-filters-voices-list-cta-panel-pane .views-row:hover .views-field-field-quote div div,
.pane-gsb-voices-listing-panel-pane-1 .views-row:hover .views-field-field-quote div div {
  opacity: 1;
}
.view-id-voices_filters.view-display-id-all_voices_list_panel_pane .views-row:hover .views-field-title a,
.view-id-voices_filters.view-display-id-all_voices_list_panel_pane .views-row:hover .field-name-title a,
.pane-voices-filters-voices-list-cta-panel-pane .views-row:hover .views-field-title a,
.pane-voices-filters-voices-list-cta-panel-pane .views-row:hover .field-name-title a,
.pane-gsb-voices-listing-panel-pane-1 .views-row:hover .views-field-title a,
.pane-gsb-voices-listing-panel-pane-1 .views-row:hover .field-name-title a {
  color: white;
}
.view-id-voices_filters.view-display-id-all_voices_list_panel_pane .views-row:hover .views-field-title a:after,
.view-id-voices_filters.view-display-id-all_voices_list_panel_pane .views-row:hover .views-field-title a:hover:after,
.view-id-voices_filters.view-display-id-all_voices_list_panel_pane .views-row:hover .field-name-title a:after,
.view-id-voices_filters.view-display-id-all_voices_list_panel_pane .views-row:hover .field-name-title a:hover:after,
.pane-voices-filters-voices-list-cta-panel-pane .views-row:hover .views-field-title a:after,
.pane-voices-filters-voices-list-cta-panel-pane .views-row:hover .views-field-title a:hover:after,
.pane-voices-filters-voices-list-cta-panel-pane .views-row:hover .field-name-title a:after,
.pane-voices-filters-voices-list-cta-panel-pane .views-row:hover .field-name-title a:hover:after,
.pane-gsb-voices-listing-panel-pane-1 .views-row:hover .views-field-title a:after,
.pane-gsb-voices-listing-panel-pane-1 .views-row:hover .views-field-title a:hover:after,
.pane-gsb-voices-listing-panel-pane-1 .views-row:hover .field-name-title a:after,
.pane-gsb-voices-listing-panel-pane-1 .views-row:hover .field-name-title a:hover:after {
  color: white !important;
}
.view-id-voices_filters.view-display-id-all_voices_list_panel_pane .views-row:hover .views-field-field-degree-year,
.view-id-voices_filters.view-display-id-all_voices_list_panel_pane .views-row:hover .views-field-field-endowed-title-appointment,
.view-id-voices_filters.view-display-id-all_voices_list_panel_pane .views-row:hover .field-name-field-degree-year,
.pane-voices-filters-voices-list-cta-panel-pane .views-row:hover .views-field-field-degree-year,
.pane-voices-filters-voices-list-cta-panel-pane .views-row:hover .views-field-field-endowed-title-appointment,
.pane-voices-filters-voices-list-cta-panel-pane .views-row:hover .field-name-field-degree-year,
.pane-gsb-voices-listing-panel-pane-1 .views-row:hover .views-field-field-degree-year,
.pane-gsb-voices-listing-panel-pane-1 .views-row:hover .views-field-field-endowed-title-appointment,
.pane-gsb-voices-listing-panel-pane-1 .views-row:hover .field-name-field-degree-year {
  color: white;
}
.view-id-voices_filters.view-display-id-all_voices_list_panel_pane .views-row .views-field-field-quote div div,
.view-id-voices_filters.view-display-id-all_voices_list_panel_pane .views-row .field-name-field-quote div div,
.pane-voices-filters-voices-list-cta-panel-pane .views-row .views-field-field-quote div div,
.pane-voices-filters-voices-list-cta-panel-pane .views-row .field-name-field-quote div div,
.pane-gsb-voices-listing-panel-pane-1 .views-row .views-field-field-quote div div,
.pane-gsb-voices-listing-panel-pane-1 .views-row .field-name-field-quote div div {
  color: white;
  cursor: pointer;
  display: table;
  font-size: 16px;
  height: 410px;
  left: 0;
  padding: 80px 10px 30px 20px;
  position: absolute;
  top: 0;
  width: 100%;
  opacity: 0;
  text-align: left;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}
.view-id-voices_filters.view-display-id-all_voices_list_panel_pane .views-row .views-field-field-quote div.blue,
.view-id-voices_filters.view-display-id-all_voices_list_panel_pane .views-row .field-name-field-quote div.blue,
.pane-voices-filters-voices-list-cta-panel-pane .views-row .views-field-field-quote div.blue,
.pane-voices-filters-voices-list-cta-panel-pane .views-row .field-name-field-quote div.blue,
.pane-gsb-voices-listing-panel-pane-1 .views-row .views-field-field-quote div.blue,
.pane-gsb-voices-listing-panel-pane-1 .views-row .field-name-field-quote div.blue {
  background: linear-gradient(rgba(0, 0, 0, 0), #26639d 50%);
}
.view-id-voices_filters.view-display-id-all_voices_list_panel_pane .views-row .views-field-field-quote div.brightteal,
.view-id-voices_filters.view-display-id-all_voices_list_panel_pane .views-row .field-name-field-quote div.brightteal,
.pane-voices-filters-voices-list-cta-panel-pane .views-row .views-field-field-quote div.brightteal,
.pane-voices-filters-voices-list-cta-panel-pane .views-row .field-name-field-quote div.brightteal,
.pane-gsb-voices-listing-panel-pane-1 .views-row .views-field-field-quote div.brightteal,
.pane-gsb-voices-listing-panel-pane-1 .views-row .field-name-field-quote div.brightteal {
  background: linear-gradient(rgba(0, 0, 0, 0), #006152 50%);
}
.view-id-voices_filters.view-display-id-all_voices_list_panel_pane .views-row .views-field-field-quote div.charcoal,
.view-id-voices_filters.view-display-id-all_voices_list_panel_pane .views-row .field-name-field-quote div.charcoal,
.pane-voices-filters-voices-list-cta-panel-pane .views-row .views-field-field-quote div.charcoal,
.pane-voices-filters-voices-list-cta-panel-pane .views-row .field-name-field-quote div.charcoal,
.pane-gsb-voices-listing-panel-pane-1 .views-row .views-field-field-quote div.charcoal,
.pane-gsb-voices-listing-panel-pane-1 .views-row .field-name-field-quote div.charcoal {
  background: linear-gradient(rgba(0, 0, 0, 0), #333333 50%);
}
.view-id-voices_filters.view-display-id-all_voices_list_panel_pane .views-row .views-field-field-quote div.green,
.view-id-voices_filters.view-display-id-all_voices_list_panel_pane .views-row .field-name-field-quote div.green,
.pane-voices-filters-voices-list-cta-panel-pane .views-row .views-field-field-quote div.green,
.pane-voices-filters-voices-list-cta-panel-pane .views-row .field-name-field-quote div.green,
.pane-gsb-voices-listing-panel-pane-1 .views-row .views-field-field-quote div.green,
.pane-gsb-voices-listing-panel-pane-1 .views-row .field-name-field-quote div.green {
  background: linear-gradient(rgba(0, 0, 0, 0), #006152 50%);
}
.view-id-voices_filters.view-display-id-all_voices_list_panel_pane .views-row .views-field-field-quote div.pink,
.view-id-voices_filters.view-display-id-all_voices_list_panel_pane .views-row .field-name-field-quote div.pink,
.pane-voices-filters-voices-list-cta-panel-pane .views-row .views-field-field-quote div.pink,
.pane-voices-filters-voices-list-cta-panel-pane .views-row .field-name-field-quote div.pink,
.pane-gsb-voices-listing-panel-pane-1 .views-row .views-field-field-quote div.pink,
.pane-gsb-voices-listing-panel-pane-1 .views-row .field-name-field-quote div.pink {
  background: linear-gradient(rgba(0, 0, 0, 0), #dd1880 50%);
}
.view-id-voices_filters.view-display-id-all_voices_list_panel_pane .views-row .views-field-field-quote div.purple,
.view-id-voices_filters.view-display-id-all_voices_list_panel_pane .views-row .field-name-field-quote div.purple,
.pane-voices-filters-voices-list-cta-panel-pane .views-row .views-field-field-quote div.purple,
.pane-voices-filters-voices-list-cta-panel-pane .views-row .field-name-field-quote div.purple,
.pane-gsb-voices-listing-panel-pane-1 .views-row .views-field-field-quote div.purple,
.pane-gsb-voices-listing-panel-pane-1 .views-row .field-name-field-quote div.purple {
  background: linear-gradient(rgba(0, 0, 0, 0), #97185d 50%);
}
.view-id-voices_filters.view-display-id-all_voices_list_panel_pane .views-row .views-field-field-quote div.white,
.view-id-voices_filters.view-display-id-all_voices_list_panel_pane .views-row .field-name-field-quote div.white,
.pane-voices-filters-voices-list-cta-panel-pane .views-row .views-field-field-quote div.white,
.pane-voices-filters-voices-list-cta-panel-pane .views-row .field-name-field-quote div.white,
.pane-gsb-voices-listing-panel-pane-1 .views-row .views-field-field-quote div.white,
.pane-gsb-voices-listing-panel-pane-1 .views-row .field-name-field-quote div.white {
  background: linear-gradient(rgba(0, 0, 0, 0), #ffffff 50%);
}
.view-id-voices_filters.view-display-id-all_voices_list_panel_pane .views-row .views-field-field-image-single-public img,
.pane-voices-filters-voices-list-cta-panel-pane .views-row .views-field-field-image-single-public img,
.pane-gsb-voices-listing-panel-pane-1 .views-row .views-field-field-image-single-public img {
  max-height: 270px !important;
}

.pane-voices-filters-all-voices-list-panel-pane,
.pane-voices-filters-voices-list-cta-panel-pane,
.view-gsb-voices-listing.view-id-gsb_voices_listing,
.pane-gsb-voices-listing-panel-pane-1 {
  padding: 0px 0px 35px 30px;
}
.pane-voices-filters-all-voices-list-panel-pane .pane-title,
.pane-voices-filters-voices-list-cta-panel-pane .pane-title,
.view-gsb-voices-listing.view-id-gsb_voices_listing .pane-title,
.pane-gsb-voices-listing-panel-pane-1 .pane-title {
  padding: 45px 0px 0px 0px;
  color: #231f20;
  font-family: "NewsGothicBT-Light", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 36px;
  font-weight: normal;
  line-height: 1.2;
}
@media (max-width: 37.4375em) {
  .pane-voices-filters-all-voices-list-panel-pane .pane-title,
  .pane-voices-filters-voices-list-cta-panel-pane .pane-title,
  .view-gsb-voices-listing.view-id-gsb_voices_listing .pane-title,
  .pane-gsb-voices-listing-panel-pane-1 .pane-title {
    font-size: 20px;
  }
}

@media (min-width: 14.375em) and (max-width: 74.9375em) {
  .pane-gsb-voices-listing-panel-pane-1 .pane-title {
    padding-bottom: 50px;
  }
}
@media (max-width: 37.4375em) {
  .pane-gsb-voices-listing-panel-pane-1 {
    padding: 0;
  }
}

.pane-gsb-voices-listing-panel-pane-1 {
  margin: 0 auto;
  width: 1172px;
}
@media (min-width: 14.375em) and (max-width: 74.9375em) {
  .pane-gsb-voices-listing-panel-pane-1 {
    width: auto;
  }
  .pane-gsb-voices-listing-panel-pane-1 h2 {
    margin-left: 20px;
  }
}

.view-gsb-voices-listing.view-id-gsb_voices_listing {
  padding: 0;
}
.view-gsb-voices-listing.view-id-gsb_voices_listing .views-row {
  margin: 30px 45px 0px 0px;
  min-height: 500px;
  width: 29%;
}
@media (min-width: 14.375em) and (max-width: 74.9375em) {
  .view-gsb-voices-listing.view-id-gsb_voices_listing .views-row {
    margin: 0 20px;
    width: 40%;
  }
}
@media (max-width: 37.4375em) {
  .view-gsb-voices-listing.view-id-gsb_voices_listing .views-row {
    width: 100%;
  }
}
.view-gsb-voices-listing.view-id-gsb_voices_listing .views-row .field-name-title {
  padding-top: 40px;
}
@media (min-width: 14.375em) and (max-width: 74.9375em) {
  .view-gsb-voices-listing.view-id-gsb_voices_listing .views-row .field-name-title {
    padding-top: 25px;
  }
}
.view-gsb-voices-listing.view-id-gsb_voices_listing .views-row .field-name-field-quote div div {
  min-height: 450px;
}

.pane-voices-filters-all-voices-list-panel-pane.voices-bg-grey {
  background-color: #f0f0f0;
}

.pane-voices-filters-all-voices-list-panel-pane.voices-bg-white {
  background-color: white;
}

#panels-ipe-regionid-maintop .pane-voices-filters-all-voices-list-panel-pane .views-row {
  width: 29%;
}

/*All voices list end */
/* CTA Button */
.pane-content .voices_display_all_list_cta,
.pane-content .voices_display_list_cta,
.pane-content .homepage_voices_cta {
  margin-bottom: 30px;
  background-color: #860000;
  color: white;
  font-size: 18px;
  min-height: 60px;
  line-height: 1.2;
  margin: 0 auto;
  padding: 20px 20px 20px 25px;
  position: relative;
  width: 315px;
}
.pane-content .voices_display_all_list_cta:first-of-type,
.pane-content .voices_display_list_cta:first-of-type,
.pane-content .homepage_voices_cta:first-of-type {
  border-top: 0;
}
.pane-content .voices_display_all_list_cta:last-of-type,
.pane-content .voices_display_list_cta:last-of-type,
.pane-content .homepage_voices_cta:last-of-type {
  border-bottom: 0;
}
.pane-content .voices_display_all_list_cta a,
.pane-content .voices_display_list_cta a,
.pane-content .homepage_voices_cta a {
  color: white;
}
.pane-content .voices_display_all_list_cta a:after,
.pane-content .voices_display_list_cta a:after,
.pane-content .homepage_voices_cta a:after {
  content: "\f101";
  display: inline;
  speak: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-transform: none;
  line-height: 1;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'icons';
  font-size: 18px;
  font-weight: normal;
  line-height: 0;
  margin-top: 0;
  position: absolute;
  right: 20px;
  top: 50%;
}
.pane-content .voices_display_all_list_cta a:hover,
.pane-content .voices_display_list_cta a:hover,
.pane-content .homepage_voices_cta a:hover {
  color: white;
}
.pane-content .voices_display_all_list_cta a:hover:after,
.pane-content .voices_display_list_cta a:hover:after,
.pane-content .homepage_voices_cta a:hover:after {
  color: white;
}
.pane-content .homepage_voices_cta {
  width: 205px;
}
@media (max-width: 37.4375em) {
  .pane-content .homepage_voices_cta {
    margin-bottom: 20px;
    width: 90%;
  }
}
