@charset "UTF-8";
.pane-content .homepage_voices_cta {
  background: white;
}

.pane-content .homepage_voices_cta {
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  margin: 1px;
}

.pane-voices-filters-voices-list-cta-panel-pane,
.pane-gsb-voices-listing-panel-pane-1 {
  padding-bottom: 20px;
  width: 100%;
}
@media (min-width: 14.375em) and (max-width: 74.9375em) {
  .pane-voices-filters-voices-list-cta-panel-pane .view-content,
  .pane-gsb-voices-listing-panel-pane-1 .view-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
  }
}
.pane-voices-filters-voices-list-cta-panel-pane .view-content > div,
.pane-gsb-voices-listing-panel-pane-1 .view-content > div {
  vertical-align: top;
}
.pane-voices-filters-voices-list-cta-panel-pane .views-row,
.pane-gsb-voices-listing-panel-pane-1 .views-row {
  display: inline-block;
  margin: 30px 30px 0px 0px;
  position: relative;
  width: 22%;
  height: 410px;
}
@media (min-width: 14.375em) and (max-width: 74.9375em) {
  .pane-voices-filters-voices-list-cta-panel-pane .views-row,
  .pane-gsb-voices-listing-panel-pane-1 .views-row {
    display: block;
    width: auto;
  }
}
.pane-voices-filters-voices-list-cta-panel-pane .views-row .field-name-title,
.pane-gsb-voices-listing-panel-pane-1 .views-row .field-name-title {
  color: #636f00;
  padding: 25px 0 10px 20px;
  position: relative;
  text-align: left;
}
.pane-voices-filters-voices-list-cta-panel-pane .views-row .field-name-title a,
.pane-gsb-voices-listing-panel-pane-1 .views-row .field-name-title a {
  color: #636f00;
  font-size: 30px;
}
.pane-voices-filters-voices-list-cta-panel-pane .views-row .field-name-title a:hover,
.pane-gsb-voices-listing-panel-pane-1 .views-row .field-name-title a:hover {
  text-decoration: underline;
}
.pane-voices-filters-voices-list-cta-panel-pane .views-row .field-name-title a:after,
.pane-gsb-voices-listing-panel-pane-1 .views-row .field-name-title a:after {
  content: "\f101";
  display: inline;
  speak: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-transform: none;
  line-height: 1;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'icons';
  color: #bac405;
  font-size: 18px;
  font-weight: normal;
  line-height: 0;
  margin-top: 0;
  padding-left: 10px;
}
.pane-voices-filters-voices-list-cta-panel-pane .views-row .field-name-title a:after:hover,
.pane-gsb-voices-listing-panel-pane-1 .views-row .field-name-title a:after:hover {
  color: #bac405;
  text-decoration: none;
}
.pane-voices-filters-voices-list-cta-panel-pane .views-row .field-name-title a:after:after,
.pane-gsb-voices-listing-panel-pane-1 .views-row .field-name-title a:after:after {
  color: #bac405;
  text-decoration: none;
}
@media (min-width: 14.375em) and (max-width: 74.9375em) {
  .pane-voices-filters-voices-list-cta-panel-pane .views-row .field-name-title a,
  .pane-gsb-voices-listing-panel-pane-1 .views-row .field-name-title a {
    font-size: 20px;
  }
}
.pane-voices-filters-voices-list-cta-panel-pane .views-row div:hover .field-name-field-degree-year,
.pane-voices-filters-voices-list-cta-panel-pane .views-row div:hover .field-name-title,
.pane-gsb-voices-listing-panel-pane-1 .views-row div:hover .field-name-field-degree-year,
.pane-gsb-voices-listing-panel-pane-1 .views-row div:hover .field-name-title {
  color: white;
}
.pane-voices-filters-voices-list-cta-panel-pane .views-row .field-name-field-degree-year,
.pane-gsb-voices-listing-panel-pane-1 .views-row .field-name-field-degree-year {
  color: #231f20;
  font-size: 20px;
  padding-left: 20px;
  position: relative;
}
@media (min-width: 14.375em) and (max-width: 74.9375em) {
  .pane-voices-filters-voices-list-cta-panel-pane .views-row .field-name-field-degree-year,
  .pane-gsb-voices-listing-panel-pane-1 .views-row .field-name-field-degree-year {
    font-size: 16px;
  }
}
.pane-voices-filters-voices-list-cta-panel-pane .views-row div:hover .field-name-field-quote div div,
.pane-gsb-voices-listing-panel-pane-1 .views-row div:hover .field-name-field-quote div div {
  opacity: 1;
}
.pane-voices-filters-voices-list-cta-panel-pane .views-row:hover .views-field-field-quote div div,
.pane-gsb-voices-listing-panel-pane-1 .views-row:hover .views-field-field-quote div div {
  opacity: 1;
}
.pane-voices-filters-voices-list-cta-panel-pane .views-row:hover .field-name-title a,
.pane-gsb-voices-listing-panel-pane-1 .views-row:hover .field-name-title a {
  color: white;
}
.pane-voices-filters-voices-list-cta-panel-pane .views-row:hover .field-name-title a:after,
.pane-voices-filters-voices-list-cta-panel-pane .views-row:hover .field-name-title a:hover:after,
.pane-gsb-voices-listing-panel-pane-1 .views-row:hover .field-name-title a:after,
.pane-gsb-voices-listing-panel-pane-1 .views-row:hover .field-name-title a:hover:after {
  color: white !important;
}
.pane-voices-filters-voices-list-cta-panel-pane .views-row:hover .field-name-field-degree-year,
.pane-gsb-voices-listing-panel-pane-1 .views-row:hover .field-name-field-degree-year {
  color: white;
}
.pane-voices-filters-voices-list-cta-panel-pane .views-row .field-name-field-quote div div,
.pane-gsb-voices-listing-panel-pane-1 .views-row .field-name-field-quote div div {
  color: white;
  cursor: pointer;
  display: table;
  left: 0;
  padding: 44% 25px;
  position: absolute;
  bottom: 0;
  width: 100%;
  opacity: 0;
  text-align: left;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}
.pane-voices-filters-voices-list-cta-panel-pane .views-row .field-name-field-quote div.blue,
.pane-gsb-voices-listing-panel-pane-1 .views-row .field-name-field-quote div.blue {
  background: linear-gradient(rgba(0, 0, 0, 0), #26639d 50%);
}
.pane-voices-filters-voices-list-cta-panel-pane .views-row .field-name-field-quote div.brightteal,
.pane-gsb-voices-listing-panel-pane-1 .views-row .field-name-field-quote div.brightteal {
  background: linear-gradient(rgba(0, 0, 0, 0), #006152 50%);
}
.pane-voices-filters-voices-list-cta-panel-pane .views-row .field-name-field-quote div.charcoal,
.pane-gsb-voices-listing-panel-pane-1 .views-row .field-name-field-quote div.charcoal {
  background: linear-gradient(rgba(0, 0, 0, 0), #333333 50%);
}
.pane-voices-filters-voices-list-cta-panel-pane .views-row .field-name-field-quote div.pink,
.pane-gsb-voices-listing-panel-pane-1 .views-row .field-name-field-quote div.pink {
  background: linear-gradient(rgba(0, 0, 0, 0), #dd1880 50%);
}
.pane-voices-filters-voices-list-cta-panel-pane .views-row .field-name-field-quote div.purple,
.pane-gsb-voices-listing-panel-pane-1 .views-row .field-name-field-quote div.purple {
  background: linear-gradient(rgba(0, 0, 0, 0), #97185d 50%);
}
.pane-voices-filters-voices-list-cta-panel-pane .views-row .field-name-field-quote div.white,
.pane-gsb-voices-listing-panel-pane-1 .views-row .field-name-field-quote div.white {
  background: linear-gradient(rgba(0, 0, 0, 0), #ffffff 50%);
}
.pane-voices-filters-voices-list-cta-panel-pane .views-row .field-name-field-quote div.green,
.pane-gsb-voices-listing-panel-pane-1 .views-row .field-name-field-quote div.green {
  background: linear-gradient(rgba(0, 0, 0, 0), #006152 50%);
}

.pane-voices-filters-voices-list-cta-panel-pane,
.view-gsb-voices-listing.view-id-gsb_voices_listing,
.pane-gsb-voices-listing-panel-pane-1 {
  padding: 0px 0px 0px 40px;
}
.pane-voices-filters-voices-list-cta-panel-pane .pane-title,
.view-gsb-voices-listing.view-id-gsb_voices_listing .pane-title,
.pane-gsb-voices-listing-panel-pane-1 .pane-title {
  padding: 10px 0px 20px 0px;
  color: #231f20;
  font-family: "NewsGothicBT-Light", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 36px;
  font-weight: normal;
  line-height: 1.2;
}
@media (max-width: 37.4375em) {
  .pane-voices-filters-voices-list-cta-panel-pane .pane-title,
  .view-gsb-voices-listing.view-id-gsb_voices_listing .pane-title,
  .pane-gsb-voices-listing-panel-pane-1 .pane-title {
    font-size: 25px;
  }
}
@media (min-width: 37.5em) and (max-width: 74.9375em) {
  .pane-voices-filters-voices-list-cta-panel-pane .pane-title,
  .view-gsb-voices-listing.view-id-gsb_voices_listing .pane-title,
  .pane-gsb-voices-listing-panel-pane-1 .pane-title {
    font-size: 28px !important;
  }
}

@media (min-width: 14.375em) and (max-width: 74.9375em) {
  .pane-gsb-voices-listing-panel-pane-1 .pane-title {
    padding-bottom: 50px;
  }
}
@media (max-width: 37.4375em) {
  .pane-gsb-voices-listing-panel-pane-1 {
    padding: 0;
  }
}
@media (min-width: 37.5em) and (max-width: 74.9375em) {
  .pane-gsb-voices-listing-panel-pane-1 {
    padding: 0px 0px 0px 10px;
  }
}

.pane-gsb-voices-listing-panel-pane-1 {
  margin: 0 auto;
  width: 1272px;
}
@media (min-width: 14.375em) and (max-width: 74.9375em) {
  .pane-gsb-voices-listing-panel-pane-1 {
    width: auto;
  }
  .pane-gsb-voices-listing-panel-pane-1 h2 {
    margin-left: 20px;
  }
}

.view-gsb-voices-listing.view-id-gsb_voices_listing {
  padding: 0;
}
@media (min-width: 60em) and (max-width: 68.75em) and (orientation: landscape) {
  .view-gsb-voices-listing.view-id-gsb_voices_listing {
    padding-left: 15px;
  }
}
@media (min-width: 14.375em) and (max-width: 74.9375em) {
  .view-gsb-voices-listing.view-id-gsb_voices_listing .views-row-1, .view-gsb-voices-listing.view-id-gsb_voices_listing .views-row-2 {
    padding-bottom: 70px;
  }
}
@media (max-width: 37.4375em) {
  .view-gsb-voices-listing.view-id-gsb_voices_listing .views-row-1, .view-gsb-voices-listing.view-id-gsb_voices_listing .views-row-2 {
    padding-bottom: 45px;
  }
}
@media (max-width: 37.4375em) {
  .view-gsb-voices-listing.view-id-gsb_voices_listing .views-row-3 {
    padding-bottom: 45px;
  }
}
.view-gsb-voices-listing.view-id-gsb_voices_listing .views-row {
  margin: 30px 45px 0px 0px;
  height: 500px;
  width: 29.25%;
}
@media (min-width: 14.375em) and (max-width: 74.9375em) {
  .view-gsb-voices-listing.view-id-gsb_voices_listing .views-row {
    height: auto;
    margin: 0 20px;
    width: 40%;
  }
}
@media (max-width: 37.4375em) {
  .view-gsb-voices-listing.view-id-gsb_voices_listing .views-row {
    width: 86%;
    height: 446px;
    margin: 0px 11px 30px 0px;
  }
}
@media (min-width: 37.5em) and (max-width: 74.9375em) {
  .view-gsb-voices-listing.view-id-gsb_voices_listing .views-row {
    width: 43%;
    height: 410px;
    margin: 0px 30px 30px 0px;
  }
}
@media (min-width: 48em) and (max-width: 63.9375em) {
  .view-gsb-voices-listing.view-id-gsb_voices_listing .views-row {
    height: 440px;
  }
}
@media (min-width: 60em) and (max-width: 68.75em) and (orientation: landscape) {
  .view-gsb-voices-listing.view-id-gsb_voices_listing .views-row {
    width: 30%;
  }
}
.view-gsb-voices-listing.view-id-gsb_voices_listing .views-row .field-name-title {
  padding-top: 40px;
}
@media (min-width: 14.375em) and (max-width: 74.9375em) {
  .view-gsb-voices-listing.view-id-gsb_voices_listing .views-row .field-name-title {
    padding-top: 25px;
  }
}
.view-gsb-voices-listing.view-id-gsb_voices_listing .views-row .field-name-field-quote div div {
  font-family: "NewsGothicBT-Demi", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  height: 500px;
  line-height: 1.5;
}
.view-gsb-voices-listing.view-id-gsb_voices_listing .views-row .field-name-field-quote div div:after {
  content: "”";
}
.view-gsb-voices-listing.view-id-gsb_voices_listing .views-row .field-name-field-quote div div:before {
  content: "“";
}
@media (max-width: 37.4375em) {
  .view-gsb-voices-listing.view-id-gsb_voices_listing .views-row .field-name-field-quote div div {
    padding: 90px 10px 30px 20px;
    width: 100%;
    height: 410px;
  }
}
@media (min-width: 14.375em) and (max-width: 74.9375em) {
  .view-gsb-voices-listing.view-id-gsb_voices_listing .views-row .field-name-field-quote div div {
    font-size: 18px;
  }
}
@media (min-width: 37.5em) and (max-width: 74.9375em) {
  .view-gsb-voices-listing.view-id-gsb_voices_listing .views-row .field-name-field-quote div div {
    padding: 90px 10px 30px 20px;
    width: 100%;
    height: 410px;
  }
}
@media (min-width: 48em) and (max-width: 63.9375em) {
  .view-gsb-voices-listing.view-id-gsb_voices_listing .views-row .field-name-field-quote div div {
    padding: 42% 25px;
  }
}

@media (min-width: 14.375em) and (max-width: 74.9375em) {
  .pane-gsb-voices-listing-panel-pane-1 .pane-title {
    padding-bottom: 20px;
    padding-top: 10px;
  }
}
@media (max-width: 37.4375em) {
  .pane-gsb-voices-listing-panel-pane-1 {
    padding: 0;
  }
}

/* CTA Button */
.pane-content .homepage_voices_cta {
  margin-bottom: 30px;
  background-color: #860000;
  color: white;
  font-size: 18px;
  font-family: "NewsGothicBT-Demi", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  min-height: 55px;
  line-height: 1.2;
  margin: 50px auto 0;
  padding: 20px 28px 20px 20px;
  position: relative;
  width: 285px;
}
.pane-content .homepage_voices_cta:first-of-type {
  border-top: 0;
}
.pane-content .homepage_voices_cta:last-of-type {
  border-bottom: 0;
}
.pane-content .homepage_voices_cta a {
  color: white;
}
.pane-content .homepage_voices_cta a:after {
  content: "\f101";
  display: inline;
  speak: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-transform: none;
  line-height: 1;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'icons';
  font-size: 18px;
  font-weight: normal;
  line-height: 0;
  margin-top: 0;
  position: absolute;
  right: 20px;
  top: 50%;
}
.pane-content .homepage_voices_cta a:hover {
  color: white;
}
.pane-content .homepage_voices_cta a:hover:after {
  color: white;
}
@media (min-width: 37.5em) and (max-width: 74.9375em) {
  .pane-content .homepage_voices_cta {
    margin-top: 10px;
  }
}
@media (max-width: 37.4375em) {
  .pane-content .homepage_voices_cta {
    margin: 0 auto;
    width: 86%;
    margin-left: 20px;
  }
}

/* CTA Button End */
.view-gsb-voices-listing.view-id-gsb_voices_listing .views-row .field-name-field-background-color {
  display: none;
}
