.pane-gsb-voices-listing-panel-pane-1 .homepage_voices_cta {
  background: white;
}

.pane-gsb-voices-listing-panel-pane-1 .homepage_voices_cta {
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  margin: 1px;
}

.view-gsb-voices-listing,
.pane-voices-filters-voices-list-cta-panel-pane {
  margin: 0 auto;
  width: 1172px;
}
.view-gsb-voices-listing .view-content > div,
.pane-voices-filters-voices-list-cta-panel-pane .view-content > div {
  vertical-align: top;
}
.view-gsb-voices-listing .views-row,
.pane-voices-filters-voices-list-cta-panel-pane .views-row {
  display: inline-block;
  margin: 50px 40px 40px 0;
  padding: 0;
  width: 360px;
}
.view-gsb-voices-listing .views-row-3,
.pane-voices-filters-voices-list-cta-panel-pane .views-row-3 {
  margin-right: 0;
}
.view-gsb-voices-listing .views-row-3 .field-type-image,
.pane-voices-filters-voices-list-cta-panel-pane .views-row-3 .field-type-image {
  width: 360px;
  height: auto;
}

/* Voices 3-across styles */
.view-gsb-voices-listing.view-id-gsb_voices_listing .views-row {
  display: inline-block;
  min-height: 500px;
  margin: 0 1em 1em 0;
  position: relative;
  width: 360px;
}
.view-gsb-voices-listing.view-id-gsb_voices_listing .views-row .field-name-field-quote div div {
  display: table-cell;
  vertical-align: bottom;
  font-size: 20px;
  padding: 20px 20px 150px 20px;
  text-align: left;
}
.view-gsb-voices-listing.view-id-gsb_voices_listing .views-row .field-name-field-full-name {
  color: #231f20;
  position: relative;
  font-size: 30px;
  width: 360px;
  padding: 40px 0 0 20px;
  text-align: left;
}
.view-gsb-voices-listing.view-id-gsb_voices_listing .views-row div:hover .field-name-field-full-name,
.view-gsb-voices-listing.view-id-gsb_voices_listing .views-row div:hover .field-name-field-degree-year {
  color: white;
}
.view-gsb-voices-listing.view-id-gsb_voices_listing .views-row .field-name-field-degree-year {
  display: inherit;
  color: black;
  font-size: 16px;
  padding-left: 20px;
  position: relative;
}
.view-gsb-voices-listing.view-id-gsb_voices_listing .views-row div:hover .field-name-field-quote div .field-item {
  opacity: 1;
}
.view-gsb-voices-listing.view-id-gsb_voices_listing .views-row .field-name-field-quote div .field-item {
  color: white;
  cursor: pointer;
  display: table;
  height: 500px;
  left: 0;
  position: absolute;
  top: 0;
  width: 360px;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}
.view-gsb-voices-listing.view-id-gsb_voices_listing .views-row .field-name-field-quote div.purple {
  background: linear-gradient(rgba(0, 0, 0, 0), #97185d 50%);
}
.view-gsb-voices-listing.view-id-gsb_voices_listing .views-row .field-name-field-quote div.blue {
  background: linear-gradient(rgba(0, 0, 0, 0), #26639d 50%);
}
.view-gsb-voices-listing.view-id-gsb_voices_listing .views-row .field-name-field-quote div.green {
  background: linear-gradient(rgba(0, 0, 0, 0), #006152 50%);
}
.view-gsb-voices-listing.view-id-gsb_voices_listing .views-row .field-name-field-quote div.pink {
  background: linear-gradient(rgba(0, 0, 0, 0), #dd1880 50%);
}
.view-gsb-voices-listing.view-id-gsb_voices_listing .views-row .field-name-field-quote div.charcoal {
  background: linear-gradient(rgba(0, 0, 0, 0), #333333 50%);
}

.pane-gsb-voices-listing-panel-pane-1 .homepage_voices_cta {
  background-color: #860000;
  color: white;
  font-size: 18px;
  min-height: 65px;
  line-height: 1.2;
  margin: 0 auto;
  padding: 24px 36px 16px 25px;
  position: relative;
  width: 205px;
}
.pane-gsb-voices-listing-panel-pane-1 .homepage_voices_cta:first-of-type {
  border-top: 0;
}
.pane-gsb-voices-listing-panel-pane-1 .homepage_voices_cta:last-of-type {
  border-bottom: 0;
}
.pane-gsb-voices-listing-panel-pane-1 .homepage_voices_cta a {
  color: white;
}
.pane-gsb-voices-listing-panel-pane-1 .homepage_voices_cta a:after {
  content: "\f101";
  display: inline;
  speak: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-transform: none;
  line-height: 1;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'icons';
  font-size: 18px;
  font-weight: normal;
  line-height: 0;
  margin-top: 0;
  position: absolute;
  right: 20px;
  top: 50%;
}
.pane-gsb-voices-listing-panel-pane-1 .homepage_voices_cta a:hover {
  color: white;
}
.pane-gsb-voices-listing-panel-pane-1 .homepage_voices_cta a:hover:after {
  color: white;
}
