@charset "UTF-8";
.node-type-voices .ds-2col-stacked-fluid .content-wrapper .group-left .field-name-field-voices-cta a.cta, .node-type-voices .ds-2col-stacked-fluid .content-wrapper .group-right .field-name-voices-ct-background-rail a.cta {
  background: white;
}

.node-type-voices .field-name-social-buttons-top {
  border-top: 3px #231f20 solid;
}

.node-type-voices .ds-2col-stacked-fluid .content-wrapper .group-left .field-name-field-voices-cta a.cta, .node-type-voices .ds-2col-stacked-fluid .content-wrapper .group-right .field-name-voices-ct-background-rail a.cta {
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  margin: 1px;
}

.node-type-voices .ds-2col-stacked-fluid .content-wrapper .group-left .field-name-field-body {
  overflow: hidden;
  *zoom: 1;
}
.node-type-voices .ds-2col-stacked-fluid .content-wrapper .group-left .field-name-field-body p:first-of-type {
  font-size: 22px;
  line-height: 1.6;
}
@media (max-width: 37.5em) {
  .node-type-voices .ds-2col-stacked-fluid .content-wrapper .group-left .field-name-field-body p:first-of-type {
    font-size: 18px;
  }
}
.node-type-voices .ds-2col-stacked-fluid .content-wrapper .group-left .field-name-field-body blockquote,
.node-type-voices .ds-2col-stacked-fluid .content-wrapper .group-left .field-name-field-body blockquote p {
  font-size: 18px !important;
  line-height: 1.4 !important;
  max-width: 560px;
}
.node-type-voices .ds-2col-stacked-fluid .content-wrapper .group-left .field-name-field-body h2, .node-type-voices .ds-2col-stacked-fluid .content-wrapper .group-left .field-name-field-body h3, .node-type-voices .ds-2col-stacked-fluid .content-wrapper .group-left .field-name-field-body h4 {
  line-height: 1.2;
  margin-bottom: 6px;
}
.node-type-voices .ds-2col-stacked-fluid .content-wrapper .group-left .field-name-field-body h2 {
  font-family: "NewsGothicBT", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: bold;
  margin: 30px 0 10px 0;
}
.node-type-voices .ds-2col-stacked-fluid .content-wrapper .group-left .field-name-field-body h3 {
  font-family: "NewsGothicBT", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
}
.node-type-voices .ds-2col-stacked-fluid .content-wrapper .group-left .field-name-field-body ol li, .node-type-voices .ds-2col-stacked-fluid .content-wrapper .group-left .field-name-field-body ul li {
  margin-bottom: 12px;
}
.node-type-voices .ds-2col-stacked-fluid .content-wrapper .group-left .field-name-field-body ol li:last-of-type, .node-type-voices .ds-2col-stacked-fluid .content-wrapper .group-left .field-name-field-body ul li:last-of-type {
  margin-bottom: 0;
}
.node-type-voices .ds-2col-stacked-fluid .content-wrapper .group-left .field-name-field-body ul li:before {
  color: #231f20;
}

.node-type-voices .field-name-social-buttons-top {
  border-bottom: 1px #231f20 solid;
  margin-bottom: 40px;
  margin-top: 20px;
  padding: 18px 0 9px;
  padding-left: 12px;
}

.node-type-voices .field-name-social-buttons-bottom {
  margin-top: 50px;
}
@media (max-width: 42.9375em) {
  .node-type-voices .field-name-social-buttons-bottom {
    display: block;
    margin-bottom: 0;
  }
}

.node-type-voices .short-url-wrapper {
  line-height: 3.2;
  margin-bottom: 36px;
}

.node-type-voices .short-url {
  background: white;
  border: 1px lightgray solid;
  color: #636f00;
  display: inline-block;
  line-height: 1.2;
  margin-left: 8px;
  padding: 8px;
}

/* Removing the background image that is applied to all pages in the msx or sloan directory */
.page-programs-msx.node-type-voices #content-wrapper,
.node-type-msx-fellows.node-type-voices #content-wrapper {
  background: none;
}
@media (min-width: 35.5625em) {
  .page-programs-msx.node-type-voices #content-wrapper,
  .node-type-msx-fellows.node-type-voices #content-wrapper {
    background: none;
  }
}

/* Container holding the image and the text */
.node-type-voices {
  /* Voices top quote */
  /* Voices col set up and adjustment */
}
@media (min-width: 16.875em) {
  .node-type-voices #main.column {
    padding: 0;
  }
}
.node-type-voices span.title-wrapper h1 {
  display: none;
}
.node-type-voices div#sidebar, .node-type-voices div#banner {
  display: none;
}
.node-type-voices #content {
  max-width: 100%;
}
.node-type-voices .group-header {
  color: #231f20;
  position: relative;
  text-align: center;
  /* Voices header image */
  /* Voices title box */
}
.node-type-voices .group-header .field-name-field-image-key-image {
  max-height: 600px;
  overflow: hidden;
  width: 100%;
}
.node-type-voices .group-header .field-name-field-image-key-image img {
  object-fit: cover;
}
@media (max-width: 35.5em) {
  .node-type-voices .group-header .field-name-field-image-key-image img {
    display: none;
  }
}
@media (min-width: 37.5em) and (max-width: 74.9375em) {
  .node-type-voices .group-header .field-name-field-image-key-image img {
    display: block;
    max-height: 100%;
    width: 100%;
  }
}
.node-type-voices .group-header .mobile-profile-image {
  display: none;
}
@media (max-width: 35.5em) {
  .node-type-voices .group-header .mobile-profile-image {
    display: block;
  }
}
@media (min-width: 37.5em) and (max-width: 74.9375em) {
  .node-type-voices .group-header .mobile-profile-image {
    display: none;
  }
}
.node-type-voices .group-header fieldset.group-voices-group {
  border: none;
  color: white;
  height: 380px;
  margin-left: 15%;
  opacity: 0.9;
  padding: 0 45px;
  position: absolute;
  text-align: left;
  top: 50px;
  width: 430px;
  z-index: 5;
}
@media (max-width: 35.5em) {
  .node-type-voices .group-header fieldset.group-voices-group {
    background-color: transparent;
    color: #231f20;
    height: auto;
    position: static;
    padding: 0;
    margin: 0 18px;
    width: 100%;
  }
}
@media (min-width: 37.5em) and (max-width: 74.9375em) {
  .node-type-voices .group-header fieldset.group-voices-group {
    background-color: transparent;
    color: #231f20;
    height: auto;
    position: static;
    padding: 0;
    margin: 0 18px;
    width: 100%;
  }
}
.node-type-voices .group-header fieldset.group-voices-group .field-name-field-slideshow-style {
  display: none;
}
.node-type-voices .group-header fieldset.group-voices-group h1,
.node-type-voices .group-header fieldset.group-voices-group .field-name-field-degree-year {
  color: white;
  font-family: "NewsGothicBT-Light", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: normal;
  margin-top: 0;
}
@media (max-width: 35.5em) {
  .node-type-voices .group-header fieldset.group-voices-group h1,
  .node-type-voices .group-header fieldset.group-voices-group .field-name-field-degree-year {
    background-color: transparent;
    color: #231f20;
  }
}
@media (min-width: 37.5em) and (max-width: 74.9375em) {
  .node-type-voices .group-header fieldset.group-voices-group h1,
  .node-type-voices .group-header fieldset.group-voices-group .field-name-field-degree-year {
    background-color: transparent;
    color: #231f20;
  }
}
.node-type-voices .group-header fieldset.group-voices-group .label {
  background-color: #231f20;
  color: white;
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2;
  margin-bottom: 30px;
  padding: 6px 8px;
  position: relative;
  z-index: 6;
}
.node-type-voices .group-header fieldset.group-voices-group .field-name-field-title-position-single {
  font-size: 22px;
  padding-top: 30px;
}
@media (max-width: 35.5em) {
  .node-type-voices .group-header fieldset.group-voices-group .field-name-field-title-position-single {
    font-size: 16px;
    padding: 20px 0 30px 0;
  }
}
@media (min-width: 37.5em) and (max-width: 74.9375em) {
  .node-type-voices .group-header fieldset.group-voices-group .field-name-field-title-position-single {
    font-size: 16px;
    padding: 20px 0 30px 0;
  }
}
@media (max-width: 35.5em) {
  .node-type-voices .group-header .mobile-profile {
    width: 100%;
    height: 100%;
    margin-left: -18px;
  }
}
.node-type-voices .group-header fieldset.group-voices-group.white {
  background-color: white;
}
.node-type-voices .group-header fieldset.group-voices-group.white h1,
.node-type-voices .group-header fieldset.group-voices-group.white .field-name-field-degree-year,
.node-type-voices .group-header fieldset.group-voices-group.white .field-name-field-title-position-single {
  color: #231f20;
}
.node-type-voices .group-header fieldset.group-voices-group.blue {
  background-color: #26639d;
}
.node-type-voices .group-header fieldset.group-voices-group.purple {
  background-color: #97185d;
}
.node-type-voices .group-header fieldset.group-voices-group.brightteal {
  background-color: #006152;
}
.node-type-voices .group-header fieldset.group-voices-group.pink {
  background-color: #dd1880;
}
.node-type-voices .group-header fieldset.group-voices-group.charcoal {
  background-color: #333333;
}
@media (min-width: 14.375em) and (max-width: 74.9375em) {
  .node-type-voices .group-header fieldset.group-voices-group.white,
  .node-type-voices .group-header fieldset.group-voices-group.blue,
  .node-type-voices .group-header fieldset.group-voices-group.purple,
  .node-type-voices .group-header fieldset.group-voices-group.brightteal,
  .node-type-voices .group-header fieldset.group-voices-group.pink,
  .node-type-voices .group-header fieldset.group-voices-group.charcoal {
    background-color: transparent;
  }
}
.node-type-voices .field-name-field-quote {
  background: white;
  display: inline-block;
  font-family: "NewsGothicBT-Light", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 36px;
  font-weight: normal;
  margin: 0 auto;
  margin-top: -83px;
  padding: 25px 50px;
  position: relative;
  text-align: left;
  width: 1108px;
}
@media (max-width: 35.5em) {
  .node-type-voices .field-name-field-quote {
    font-size: 24px;
    left: 18px;
    padding: 25px 18px 25px 30px;
    position: relative;
    top: 10px;
    width: 100%;
  }
  .node-type-voices .field-name-field-quote .mobile-profile {
    display: block;
  }
}
@media (min-width: 37.5em) and (max-width: 74.9375em) {
  .node-type-voices .field-name-field-quote {
    font-size: 24px;
    left: 18px;
    padding: 25px 18px 25px 30px;
    position: relative;
    top: 10px;
    width: 100%;
  }
}
.node-type-voices .field-name-field-quote:before {
  content: "“";
  position: absolute;
  left: 13px;
  font-size: 90px;
  top: 16px;
}
@media (max-width: 35.5em) {
  .node-type-voices .field-name-field-quote:before {
    font-size: 40px;
  }
}
@media (min-width: 37.5em) and (max-width: 74.9375em) {
  .node-type-voices .field-name-field-quote:before {
    font-size: 40px;
  }
}
.node-type-voices .field-name-field-quote:after {
  content: "”";
}
.node-type-voices .field-name-field-quote .quote {
  display: inline-block;
  position: relative;
  top: -46px;
}
.node-type-voices .breadcrumb {
  padding: 0 0 20px 35px;
}
.node-type-voices .field-name-social-buttons-top {
  border-bottom: 1px solid #979797;
  height: 75px;
}
.node-type-voices .ds-2col-stacked-fluid {
  margin: 0 auto;
}
.node-type-voices .ds-2col-stacked-fluid .content-wrapper {
  margin: 0 auto;
  width: 1175px;
}
@media (max-width: 35.5em) {
  .node-type-voices .ds-2col-stacked-fluid .content-wrapper {
    padding: 25px 35px;
    width: 100%;
  }
}
@media (min-width: 37.5em) and (max-width: 74.9375em) {
  .node-type-voices .ds-2col-stacked-fluid .content-wrapper {
    padding: 25px 35px;
    width: 100%;
  }
}
.node-type-voices .ds-2col-stacked-fluid .content-wrapper .group-left {
  float: left;
  margin: 50px 50px 0 0;
  padding-bottom: 20px;
  width: 816px;
}
@media (max-width: 35.5em) {
  .node-type-voices .ds-2col-stacked-fluid .content-wrapper .group-left {
    float: none;
    margin: 0;
    padding: 0;
    width: 100%;
  }
}
@media (min-width: 37.5em) and (max-width: 74.9375em) {
  .node-type-voices .ds-2col-stacked-fluid .content-wrapper .group-left {
    float: none;
    margin: 0;
    padding: 0;
    width: 100%;
  }
}
.node-type-voices .ds-2col-stacked-fluid .content-wrapper .group-left .field-name-field-body {
  padding: 30px 0 0 35px;
}
.node-type-voices .ds-2col-stacked-fluid .content-wrapper .group-left .field-name-field-body h2, .node-type-voices .ds-2col-stacked-fluid .content-wrapper .group-left .field-name-field-body h3, .node-type-voices .ds-2col-stacked-fluid .content-wrapper .group-left .field-name-field-body h4, .node-type-voices .ds-2col-stacked-fluid .content-wrapper .group-left .field-name-field-body h5, .node-type-voices .ds-2col-stacked-fluid .content-wrapper .group-left .field-name-field-body h6, .node-type-voices .ds-2col-stacked-fluid .content-wrapper .group-left .field-name-field-body blockquote, .node-type-voices .ds-2col-stacked-fluid .content-wrapper .group-left .field-name-field-body ul, .node-type-voices .ds-2col-stacked-fluid .content-wrapper .group-left .field-name-field-body li, .node-type-voices .ds-2col-stacked-fluid .content-wrapper .group-left .field-name-field-body p {
  max-width: 670px;
}
@media (max-width: 35.5em) {
  .node-type-voices .ds-2col-stacked-fluid .content-wrapper .group-left .field-name-field-body {
    padding: 0;
  }
}
@media (min-width: 37.5em) and (max-width: 74.9375em) {
  .node-type-voices .ds-2col-stacked-fluid .content-wrapper .group-left .field-name-field-body {
    padding: 0;
  }
}
.node-type-voices .ds-2col-stacked-fluid .content-wrapper .group-left .field-name-field-date.field-type-datetime {
  display: inline;
  float: left;
  font-size: 18px;
  padding: 50px 0 0 35px;
}
.node-type-voices .ds-2col-stacked-fluid .content-wrapper .group-left .field-name-field-date.field-type-datetime .date-display-single:after {
  content: "|";
  padding-left: 10px;
}
@media (max-width: 35.5em) {
  .node-type-voices .ds-2col-stacked-fluid .content-wrapper .group-left .field-name-field-date.field-type-datetime {
    font-size: 14px;
    padding-left: 0;
  }
}
@media (min-width: 37.5em) and (max-width: 74.9375em) {
  .node-type-voices .ds-2col-stacked-fluid .content-wrapper .group-left .field-name-field-date.field-type-datetime {
    font-size: 14px;
    padding-left: 0;
  }
}
.node-type-voices .ds-2col-stacked-fluid .content-wrapper .group-left .field-collection-container .byline {
  display: inline;
  float: left;
  font-size: 18px;
  padding: 50px 0;
}
.node-type-voices .ds-2col-stacked-fluid .content-wrapper .group-left .field-collection-container .byline .field-collection-view {
  margin-left: 10px;
  padding: 0;
}
@media (max-width: 35.5em) {
  .node-type-voices .ds-2col-stacked-fluid .content-wrapper .group-left .field-collection-container .byline {
    font-size: 14px;
  }
}
@media (min-width: 37.5em) and (max-width: 74.9375em) {
  .node-type-voices .ds-2col-stacked-fluid .content-wrapper .group-left .field-collection-container .byline {
    font-size: 14px;
  }
}
.node-type-voices .ds-2col-stacked-fluid .content-wrapper .group-left ul.field-name-field-tag {
  font-size: 14px;
  list-style: none;
}
.node-type-voices .ds-2col-stacked-fluid .content-wrapper .group-left ul.field-name-field-tag li {
  display: inline-block;
  padding-left: 3px;
}
.node-type-voices .ds-2col-stacked-fluid .content-wrapper .group-left ul.field-name-field-tag li:after {
  content: ",";
}
.node-type-voices .ds-2col-stacked-fluid .content-wrapper .group-left ul.field-name-field-tag li.last:after {
  content: "";
}
.node-type-voices .ds-2col-stacked-fluid .content-wrapper .group-left .field-name-field-voices-cta {
  border-top: 1px solid #979797;
  height: 150px;
  position: relative;
  top: 30px;
  width: 100%;
}
.node-type-voices .ds-2col-stacked-fluid .content-wrapper .group-left .field-name-field-voices-cta a.cta {
  background-color: #860000;
  color: white;
  display: block;
  float: right;
  font-size: 16px;
  margin-top: 50px;
  padding: 20px 20px 20px 25px;
  position: relative;
  width: 330px;
}
.node-type-voices .ds-2col-stacked-fluid .content-wrapper .group-left .field-name-field-voices-cta a.cta:after {
  content: "\f101";
  display: inline;
  speak: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-transform: none;
  line-height: 1;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'icons';
  font-size: 18px;
  font-weight: normal;
  line-height: 1;
  margin-top: -10px;
  position: absolute;
  right: 20px;
}
.node-type-voices .ds-2col-stacked-fluid .content-wrapper .group-left .field-name-field-voices-cta a.cta:hover {
  color: white;
}
.node-type-voices .ds-2col-stacked-fluid .content-wrapper .group-left .field-name-field-voices-cta a.cta:after {
  color: white;
  top: 50%;
}
.node-type-voices .ds-2col-stacked-fluid .content-wrapper .group-right {
  border-top: 1px solid #979797;
  float: left;
  margin: 50px 0 0 0;
  padding-top: 40px;
  width: 273px;
}
.node-type-voices .ds-2col-stacked-fluid .content-wrapper .group-right .field-label {
  font-family: "NewsGothicBT-Demi", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: normal;
  padding: 15px 0 5px;
}
.node-type-voices .ds-2col-stacked-fluid .content-wrapper .group-right .field-items div {
  line-height: 1.5;
}
.node-type-voices .ds-2col-stacked-fluid .content-wrapper .group-right .background-rail-img {
  margin-left: 102px;
  margin-top: -75px;
  position: absolute;
}
.node-type-voices .ds-2col-stacked-fluid .content-wrapper .group-right .background-rail-img img {
  border: 1px solid #979797;
  border-radius: 50%;
  width: 74px;
  height: 74px;
}
.node-type-voices .ds-2col-stacked-fluid .content-wrapper .group-right .field-name-voices-ct-background-rail {
  width: 100%;
}
.node-type-voices .ds-2col-stacked-fluid .content-wrapper .group-right .field-name-voices-ct-background-rail a.cta {
  color: #990000;
  display: block;
  font-size: 16px;
  margin-top: 30px;
  padding: 15px 20px 20px 25px;
  position: relative;
  width: 100%;
}
.node-type-voices .ds-2col-stacked-fluid .content-wrapper .group-right .field-name-voices-ct-background-rail a.cta:after {
  content: "\f101";
  display: inline;
  speak: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-transform: none;
  line-height: 1;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'icons';
  color: #e3e3e3 !important;
  font-size: 18px;
  font-weight: normal;
  line-height: 1;
  margin-top: -10px;
  position: absolute;
  right: 20px;
}
.node-type-voices .ds-2col-stacked-fluid .content-wrapper .group-right .field-name-voices-ct-background-rail a.cta:hover {
  color: #990000;
}
.node-type-voices .ds-2col-stacked-fluid .content-wrapper .group-right .field-name-voices-ct-background-rail a.cta:after {
  color: #990000;
  top: 50%;
}
.node-type-voices .ds-2col-stacked-fluid .content-wrapper .group-right fieldset.group-wrapper-related {
  margin-top: 30px;
}
.node-type-voices .ds-2col-stacked-fluid .content-wrapper .group-right fieldset.group-wrapper-related .fieldset-wrapper {
  overflow: hidden;
  padding: 10px;
}
.node-type-voices .field-collection-container {
  border-bottom: 1px solid #979797;
}
.node-type-voices .field-name-social-buttons-top .item-list ul,
.node-type-voices .field-name-social-buttons-bottom .item-list ul {
  margin: 0 0 0 25px;
}
.node-type-voices .field-name-social-buttons-top .item-list ul li,
.node-type-voices .field-name-social-buttons-bottom .item-list ul li {
  margin: 0;
}
.node-type-voices .field-name-social-buttons-top li,
.node-type-voices .field-name-social-buttons-bottom li {
  display: inline-block;
  vertical-align: top;
}
.node-type-voices .field-name-social-buttons-bottom .item-list ul {
  margin: 0 0 0 50px;
}
.node-type-voices .field-name-social-buttons-top {
  border-top: 1px #979797 solid;
  margin-bottom: 0;
}
@media (min-width: 62.4375em) and (max-width: 67.5em) {
  .node-type-voices .field-name-social-buttons-top .sharrre .share {
    height: 30px;
    width: 30px;
  }
  .node-type-voices .field-name-social-buttons-top .sharrre .share:before {
    display: inline-block;
    font-size: 12px;
    position: relative;
    top: 5px;
  }
  .node-type-voices .field-name-social-buttons-top .sharrre .count {
    font-size: 16px;
  }
}
@media (min-width: 62.4375em) and (max-width: 67.5em) and (max-width: 35.5em) {
  .node-type-voices .field-name-social-buttons-top .sharrre .count {
    font-size: 11px;
  }
}
@media (max-width: 46.5625em) {
  .node-type-voices .field-name-social-buttons-top .sharrre .share {
    height: 30px;
    width: 30px;
  }
  .node-type-voices .field-name-social-buttons-top .sharrre .share:before {
    display: inline-block;
    font-size: 12px;
    position: relative;
    top: 5px;
  }
  .node-type-voices .field-name-social-buttons-top .sharrre .count {
    font-size: 16px;
  }
}
@media (max-width: 46.5625em) and (max-width: 35.5em) {
  .node-type-voices .field-name-social-buttons-top .sharrre .count {
    font-size: 11px;
  }
}
.node-type-voices .field-name-social-buttons-bottom {
  margin-top: 10px;
  padding: 0 20px 0 0;
}
.node-type-voices .sharrre .box .count {
  padding-top: 8px;
  padding-right: 10px;
  padding: 8px 10px 0 0;
}
.node-type-voices .short-url-wrapper {
  border-left: solid 1px #979797;
  margin-bottom: 0;
  padding-left: 20px;
}
.node-type-voices .field.field-name-social-buttons-bottom,
.node-type-voices .short-url-wrapper {
  display: inline-block;
}
