/*All voices list */
.view-id-voices_filters.view-display-id-all_voices_list_panel_pane {
  width: 100%;
  border: 1px solid red;
}
.view-id-voices_filters.view-display-id-all_voices_list_panel_pane .view-content > div {
  vertical-align: top;
}
.view-id-voices_filters.view-display-id-all_voices_list_panel_pane .views-row {
  display: inline-block;
  margin: 35px 30px 25px 0px;
  position: relative;
  width: 22.1%;
}
.view-id-voices_filters.view-display-id-all_voices_list_panel_pane .views-row .views-field-title {
  color: #636f00;
  font-size: 20px;
  padding: 25px 0 10px 20px;
  text-align: left;
}
.view-id-voices_filters.view-display-id-all_voices_list_panel_pane .views-row .views-field-title a {
  color: #636f00;
  font-size: 24px;
}
.view-id-voices_filters.view-display-id-all_voices_list_panel_pane .views-row .views-field-title a:after {
  content: "\f101";
  speak: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-transform: none;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: "icons";
  font-size: 20px;
  color: #636f00;
  display: inline-block;
  line-height: 1.4;
  padding-left: 5px;
  text-decoration: none;
}
.view-id-voices_filters.view-display-id-all_voices_list_panel_pane .views-row .views-field-title a:hover {
  color: white;
  font-size: 14px;
  opacity: 3;
}
.view-id-voices_filters.view-display-id-all_voices_list_panel_pane .views-row .views-field-title-1 {
  color: #636f00;
  font-size: 24px;
  text-align: left;
  padding-left: 20px;
}
.view-id-voices_filters.view-display-id-all_voices_list_panel_pane .views-row .views-field-title-1 a {
  color: #636f00;
  font-size: 20px;
}
.view-id-voices_filters.view-display-id-all_voices_list_panel_pane .views-row .views-field-title-1 a:after {
  content: "\f101";
  speak: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-transform: none;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: "icons";
  font-size: 20px;
  color: #636f00;
  display: inline-block;
  line-height: 1.4;
  padding-left: 5px;
  text-decoration: none;
}
.view-id-voices_filters.view-display-id-all_voices_list_panel_pane .views-row .views-field-title-1 a:hover {
  color: white;
  font-size: 14px;
  opacity: 3;
}
.view-id-voices_filters.view-display-id-all_voices_list_panel_pane .views-row .views-field-field-degree-year,
.view-id-voices_filters.view-display-id-all_voices_list_panel_pane .views-row .views-field-field-endowed-title-appointment {
  display: inherit;
  color: #231f10;
  font-size: 14px;
  padding-left: 20px;
  position: relative;
  font-weight: normal;
}
.view-id-voices_filters.view-display-id-all_voices_list_panel_pane .views-row div:hover .views-field-field-degree-year,
.view-id-voices_filters.view-display-id-all_voices_list_panel_pane .views-row div:hover .views-field-field-endowed-title-appointment {
  color: white;
  font-size: 14px;
}
.view-id-voices_filters.view-display-id-all_voices_list_panel_pane .views-row .views-field-field-quote div.field-content:hover {
  opacity: 1;
}
.view-id-voices_filters.view-display-id-all_voices_list_panel_pane .views-row .views-field-field-quote div .text-content {
  display: table-cell;
  vertical-align: top;
  font-size: 16px;
  padding: 110px 10px 30px 10px;
  text-align: left;
}
.view-id-voices_filters.view-display-id-all_voices_list_panel_pane .views-row .views-field-field-quote div.field-content {
  color: white;
  cursor: pointer;
  display: table;
  height: 400px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}
.view-id-voices_filters.view-display-id-all_voices_list_panel_pane .views-row .views-field-field-quote div .purple {
  background: linear-gradient(rgba(0, 0, 0, 0), #97185d 50%);
}
.view-id-voices_filters.view-display-id-all_voices_list_panel_pane .views-row .views-field-field-quote div .blue {
  background: linear-gradient(rgba(0, 0, 0, 0), #26639d 50%);
}
.view-id-voices_filters.view-display-id-all_voices_list_panel_pane .views-row .views-field-field-quote div .brightteal {
  background: linear-gradient(rgba(0, 0, 0, 0), #006152 50%);
}
.view-id-voices_filters.view-display-id-all_voices_list_panel_pane .views-row .views-field-field-quote div .pink {
  background: linear-gradient(rgba(0, 0, 0, 0), #dd1880 50%);
}
.view-id-voices_filters.view-display-id-all_voices_list_panel_pane .views-row .views-field-field-quote div .charcoal {
  background: linear-gradient(rgba(0, 0, 0, 0), #333333 50%);
}
.view-id-voices_filters.view-display-id-all_voices_list_panel_pane .views-row:hover {
  color: white !important;
  opacity: 2;
}
.view-id-voices_filters.view-display-id-all_voices_list_panel_pane .views-row:hover .views-field-title .field-content a {
  color: white !important;
  opacity: 4;
}
