.page-insights h1.title {
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  margin: 0 1px 1px 1px;
}
@media (max-width: 35.5em) {
  .page-insights h1.title {
    margin-top: 1px;
  }
}

h2.insights-label {
  background: #231f20;
  color: white;
  font-family: "NewsGothicBT-Demi", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.2;
  padding: 6px 8px;
  position: absolute;
}

.page-insights .insights-label.insights {
  display: none;
}
.page-insights #banner {
  *zoom: 1;
}
.page-insights #banner:after {
  content: "";
  display: table;
  clear: both;
}
.page-insights #bottom {
  background: #231f20;
  padding-bottom: 30px;
}
.page-insights #bottom .block a {
  color: white;
  line-height: 1.2;
}
.page-insights #bottom .block:first-of-type {
  border-bottom: 1px solid #5e5e5e;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 25px;
  padding-bottom: 20px;
}
@media (max-width: 20em) {
  .page-insights #bottom .block:first-of-type {
    font-size: 18px;
  }
}
.page-insights #bottom .block:first-of-type li {
  display: inline-block;
  margin-right: 55px;
}
@media (max-width: 30em) {
  .page-insights #bottom .block:first-of-type li {
    margin-right: 35px;
  }
}
.page-insights #bottom .block:first-of-type li:last-of-type {
  margin-right: 0;
}
.page-insights #bottom .block:last-of-type {
  font-size: 18px;
}
@media (max-width: 20em) {
  .page-insights #bottom .block:last-of-type {
    font-size: 14px;
  }
}
.page-insights #bottom .block:last-of-type .menu {
  -moz-column-count: 6;
  -webkit-column-count: 6;
  column-count: 6;
}
@media (max-width: 56.25em) {
  .page-insights #bottom .block:last-of-type .menu {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
  }
}
@media (max-width: 35.5em) {
  .page-insights #bottom .block:last-of-type .menu {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }
}
.page-insights #bottom .block:last-of-type li {
  border-top: 1px solid transparent;
  line-height: 0;
  margin-bottom: 18px;
}
.page-insights #bottom .block:last-of-type li a {
  line-height: 1.2;
}

#block-gsb-public-custom-blocks-gpcb-mobile-insights {
  display: none;
}
@media (max-width: 35.5em) {
  #block-gsb-public-custom-blocks-gpcb-mobile-insights {
    border-left: 1px solid #c6c6c6;
    display: inline-block;
    height: 30px;
    margin-top: 10px;
  }
  #block-gsb-public-custom-blocks-gpcb-mobile-insights h2 {
    line-height: 0;
  }
  #block-gsb-public-custom-blocks-gpcb-mobile-insights h2 a {
    color: #231f20;
    font-family: "NewsGothicBT-Demi", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    line-height: 1.5;
    padding-left: 10px;
  }
}

.page-insights #banner {
  background: #231f20;
}
.page-insights #content-wrapper {
  background: white;
}
.page-insights .insights-card-wrapper {
  background: #f4f4f4;
}
.page-insights h1.title {
  background: white;
  display: inline-block;
  font-size: 38px;
  font-weight: normal;
  line-height: 1;
  padding: 18px 18px 16px;
  margin-top: 30px;
}

#block-gsb-public-custom-blocks-gpcb-insights {
  float: left;
  margin-right: 20px;
  position: relative;
  top: 14px;
}
@media (max-width: 54em) {
  #block-gsb-public-custom-blocks-gpcb-insights span {
    display: none;
  }
}
@media (max-width: 35.5em) {
  #block-gsb-public-custom-blocks-gpcb-insights {
    display: none;
  }
}
#block-gsb-public-custom-blocks-gpcb-insights a {
  color: white;
  font-size: 34px;
  font-family: "NewsGothicBT", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  line-height: 1.2;
}
#block-gsb-public-custom-blocks-gpcb-insights a:hover {
  color: white !important;
  text-decoration: none;
  border-bottom: 1px solid white;
}
@media (max-width: 40.625em) {
  #block-gsb-public-custom-blocks-gpcb-insights a {
    font-size: 28px;
  }
}

#block-gsb-public-custom-blocks-gpcb-insights-search {
  display: inline;
  float: left;
  height: 66px;
  position: relative;
  vertical-align: top;
}
@media (max-width: 37.25em) {
  #block-gsb-public-custom-blocks-gpcb-insights-search {
    display: inline;
    float: right;
    position: absolute;
    right: 0;
  }
}
#block-gsb-public-custom-blocks-gpcb-insights-search .form-container-insights-search {
  margin: 0;
}
#block-gsb-public-custom-blocks-gpcb-insights-search input.placeholder-text,
#block-gsb-public-custom-blocks-gpcb-insights-search textarea.placeholder-text {
  color: #666666;
  font-size: 20px;
  line-height: 1.2;
}
@media (max-width: 30em) {
  #block-gsb-public-custom-blocks-gpcb-insights-search input.placeholder-text,
  #block-gsb-public-custom-blocks-gpcb-insights-search textarea.placeholder-text {
    font-size: 14px;
  }
}
#block-gsb-public-custom-blocks-gpcb-insights-search ::-webkit-input-placeholder {
  color: #666666;
  font-size: 20px;
  line-height: 1.2;
}
@media (max-width: 30em) {
  #block-gsb-public-custom-blocks-gpcb-insights-search ::-webkit-input-placeholder {
    font-size: 14px;
  }
}
#block-gsb-public-custom-blocks-gpcb-insights-search #insights-search-block-form {
  position: relative;
  top: 0;
}
#block-gsb-public-custom-blocks-gpcb-insights-search #insights-search-touch-button {
  border-right: 1px solid #5e5e5e;
  cursor: pointer;
  display: inline-block;
  height: 66px;
}
@media (max-width: 37.25em) {
  #block-gsb-public-custom-blocks-gpcb-insights-search #insights-search-touch-button {
    border-right: 0;
    border-left: 1px solid #5e5e5e;
    float: right;
  }
}
#block-gsb-public-custom-blocks-gpcb-insights-search #insights-search-touch-button.open {
  display: none;
}
#block-gsb-public-custom-blocks-gpcb-insights-search #insights-search-touch-button:after {
  content: "\f11f";
  display: inline-block;
  speak: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-transform: none;
  line-height: 1;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'icons';
}
#block-gsb-public-custom-blocks-gpcb-insights-search #insights-search-touch-button:after {
  color: white;
  font-size: 24px;
  padding: 0 21px;
  position: relative;
  top: 25px;
}
#block-gsb-public-custom-blocks-gpcb-insights-search #insights-search-block-form {
  display: none;
}
#block-gsb-public-custom-blocks-gpcb-insights-search #insights-search-block-form.open {
  display: inline-block;
}
#block-gsb-public-custom-blocks-gpcb-insights-search #edit-insights-search-keys {
  height: 66px;
  border: 1px lightgray solid;
  background: #f4f4f4;
  color: #666666;
  font-size: 20px;
  line-height: 1.5;
  padding: 7px 38px 6px 20px;
}
@media (min-width: 62.5em) {
  #block-gsb-public-custom-blocks-gpcb-insights-search #edit-insights-search-keys {
    width: 364px;
  }
}
@media (max-width: 35.5em) {
  #block-gsb-public-custom-blocks-gpcb-insights-search #edit-insights-search-keys {
    font-size: 14px;
  }
}
#block-gsb-public-custom-blocks-gpcb-insights-search #edit-submit-insights-search {
  display: inline-block;
  width: 45px;
  height: 36px;
  background: transparent;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  border: none;
  text-indent: 1000px;
  overflow: hidden;
  position: absolute;
  right: -2px;
  top: 18px;
}
.svg #block-gsb-public-custom-blocks-gpcb-insights-search #edit-submit-insights-search {
  background: url('../../../images/search.svg') no-repeat center;
}
.svg #block-gsb-public-custom-blocks-gpcb-insights-search #edit-submit-insights-search:hover {
  background: url('../../../images/search-hover.svg') no-repeat center;
}
.no-js #block-gsb-public-custom-blocks-gpcb-insights-search #edit-submit-insights-search, .no-svg #block-gsb-public-custom-blocks-gpcb-insights-search #edit-submit-insights-search {
  background: url('../../../images/search.png') no-repeat center 6px transparent;
}
.no-js #block-gsb-public-custom-blocks-gpcb-insights-search #edit-submit-insights-search:hover, .no-svg #block-gsb-public-custom-blocks-gpcb-insights-search #edit-submit-insights-search:hover {
  background-position: center -27px;
}

.panels-layout-gsb-insights-a #content-wrapper #content,
.panels-layout-gsb-insights-b #content-wrapper #content,
.panels-layout-gsb-insights-c #content-wrapper #content {
  background: white;
  max-width: 100%;
  padding-bottom: 0;
}
.panels-layout-gsb-insights-a #content-wrapper #content .section,
.panels-layout-gsb-insights-b #content-wrapper #content .section,
.panels-layout-gsb-insights-c #content-wrapper #content .section {
  background: #f4f4f4;
}
.panels-layout-gsb-insights-a #block-workbench-block,
.panels-layout-gsb-insights-a .tabs,
.panels-layout-gsb-insights-a .title-wrapper,
.panels-layout-gsb-insights-a .full-header,
.panels-layout-gsb-insights-a .insights-card-wrapper,
.panels-layout-gsb-insights-a .insights-topic-listing,
.panels-layout-gsb-insights-b #block-workbench-block,
.panels-layout-gsb-insights-b .tabs,
.panels-layout-gsb-insights-b .title-wrapper,
.panels-layout-gsb-insights-b .full-header,
.panels-layout-gsb-insights-b .insights-card-wrapper,
.panels-layout-gsb-insights-b .insights-topic-listing,
.panels-layout-gsb-insights-c #block-workbench-block,
.panels-layout-gsb-insights-c .tabs,
.panels-layout-gsb-insights-c .title-wrapper,
.panels-layout-gsb-insights-c .full-header,
.panels-layout-gsb-insights-c .insights-card-wrapper,
.panels-layout-gsb-insights-c .insights-topic-listing {
  display: block;
  max-width: 1170px;
  margin: 0 auto;
}
@media (max-width: 56.1875em) {
  .panels-layout-gsb-insights-a .full-header,
  .panels-layout-gsb-insights-b .full-header,
  .panels-layout-gsb-insights-c .full-header {
    max-width: 570px;
    margin: 0 auto;
  }
}
@media (max-width: 39.625em) {
  .panels-layout-gsb-insights-a .full-header,
  .panels-layout-gsb-insights-b .full-header,
  .panels-layout-gsb-insights-c .full-header {
    max-width: 290px;
  }
}
.panels-layout-gsb-insights-a .insights-listing-wrapper,
.panels-layout-gsb-insights-b .insights-listing-wrapper,
.panels-layout-gsb-insights-c .insights-listing-wrapper {
  background: white;
  padding: 0 20px;
}
@media (max-width: 35.5em) {
  .panels-layout-gsb-insights-a .insights-listing-wrapper,
  .panels-layout-gsb-insights-b .insights-listing-wrapper,
  .panels-layout-gsb-insights-c .insights-listing-wrapper {
    padding-top: 16px;
  }
}
.panels-layout-gsb-insights-a #main,
.panels-layout-gsb-insights-b #main,
.panels-layout-gsb-insights-c #main {
  padding-top: 0;
}
@media (max-width: 75.625em) {
  .panels-layout-gsb-insights-a #main,
  .panels-layout-gsb-insights-b #main,
  .panels-layout-gsb-insights-c #main {
    padding: 0;
  }
}
@media (max-width: 35.5em) {
  .panels-layout-gsb-insights-a #main,
  .panels-layout-gsb-insights-b #main,
  .panels-layout-gsb-insights-c #main {
    padding: 0;
  }
}

@media (max-width: 73.125em) {
  .panels-layout-gsb-insights-a .insights-card-wrapper {
    padding: 0 20px;
  }
}
@media (max-width: 35.5em) {
  .panels-layout-gsb-insights-a .insights-card-wrapper {
    padding: 20px;
  }
}
@media (max-width: 56.1875em) {
  .panels-layout-gsb-insights-a .insights-main-wrapper {
    max-width: 570px;
    margin: 0 auto;
  }
}
