.panels-layout-gsb-insights-a h1.title,
.panels-layout-gsb-insights-b h1.title,
.panels-layout-gsb-insights-c h1.title {
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  margin: 1px;
}

.page-node-368466 .panel-display {
  padding-top: 40px;
}
@media (max-width: 50em) {
  .page-node-368466 .panel-display {
    padding-top: 5.135%;
  }
}
@media (max-width: 40em) {
  .page-node-368466 .panel-display {
    padding-top: 6.23%;
  }
}

.page-insights #header-wrapper #header {
  max-width: 1170px;
}
.page-insights #header-wrapper #header #md-megamenu-1 .awemenu .awemenu-megamenu-wrapper {
  left: 46%;
  right: 54%;
}
@media (min-width: 14.375em) and (max-width: 74.9375em) {
  .page-insights #header-wrapper #header #md-megamenu-1 .awemenu .awemenu-megamenu-wrapper {
    left: unset;
    right: unset;
  }
}
.page-insights .insights-label.insights {
  display: none;
}
.page-insights #banner {
  *zoom: 1;
}
.page-insights #banner:after {
  content: "";
  display: table;
  clear: both;
}
.page-insights #bottom {
  background: #231f20;
  margin-top: 30px;
  padding-bottom: 30px;
}
.page-insights #bottom .block a {
  color: white;
  line-height: 1.2;
}
.page-insights #bottom .block:first-of-type {
  border-bottom: 1px solid #5e5e5e;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 25px;
  padding-bottom: 20px;
}
@media (max-width: 20em) {
  .page-insights #bottom .block:first-of-type {
    font-size: 18px;
  }
}
.page-insights #bottom .block:first-of-type li {
  display: inline-block;
  margin-right: 55px;
}
@media (max-width: 30em) {
  .page-insights #bottom .block:first-of-type li {
    margin-right: 35px;
  }
}
.page-insights #bottom .block:first-of-type li:last-of-type {
  margin-right: 0;
}
.page-insights #bottom .block:last-of-type {
  font-size: 18px;
}
@media (max-width: 20em) {
  .page-insights #bottom .block:last-of-type {
    font-size: 14px;
  }
}
.page-insights #bottom .block:last-of-type .menu {
  -moz-column-count: 6;
  -webkit-column-count: 6;
  column-count: 6;
}
@media (max-width: 56.25em) {
  .page-insights #bottom .block:last-of-type .menu {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
  }
}
@media (max-width: 35.5em) {
  .page-insights #bottom .block:last-of-type .menu {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }
}
.page-insights #bottom .block:last-of-type li {
  border-top: 1px solid transparent;
  line-height: 0;
  margin-bottom: 18px;
}
.page-insights #bottom .block:last-of-type li a {
  line-height: 1.2;
}

.panels-layout-gsb-insights-a h1.title,
.panels-layout-gsb-insights-b h1.title,
.panels-layout-gsb-insights-c h1.title {
  background: white;
  display: inline-block;
  font-size: 38px;
  font-weight: normal;
  line-height: 1;
  margin: 15px 0;
  padding: 18px 18px 16px;
}
@media (max-width: 37.5em) {
  .panels-layout-gsb-insights-a h1.title,
  .panels-layout-gsb-insights-b h1.title,
  .panels-layout-gsb-insights-c h1.title {
    font-size: 30px;
    margin-left: 20px;
    padding: 14px 14px 12px;
  }
}

.page-insights #content-wrapper {
  background: white;
}
.page-insights .insights-card-wrapper {
  background: #f4f4f4;
}

.panels-layout-gsb-insights-a #content-wrapper #content,
.panels-layout-gsb-insights-b #content-wrapper #content,
.panels-layout-gsb-insights-c #content-wrapper #content {
  background: white;
  max-width: 100%;
  padding-bottom: 0;
}
.panels-layout-gsb-insights-a #content-wrapper #content .section,
.panels-layout-gsb-insights-b #content-wrapper #content .section,
.panels-layout-gsb-insights-c #content-wrapper #content .section {
  background: #f4f4f4;
}
.panels-layout-gsb-insights-a #block-workbench-block,
.panels-layout-gsb-insights-a .tabs,
.panels-layout-gsb-insights-a .title-wrapper,
.panels-layout-gsb-insights-a .full-header,
.panels-layout-gsb-insights-a .insights-card-wrapper,
.panels-layout-gsb-insights-a .insights-topic-listing,
.panels-layout-gsb-insights-b #block-workbench-block,
.panels-layout-gsb-insights-b .tabs,
.panels-layout-gsb-insights-b .title-wrapper,
.panels-layout-gsb-insights-b .full-header,
.panels-layout-gsb-insights-b .insights-card-wrapper,
.panels-layout-gsb-insights-b .insights-topic-listing,
.panels-layout-gsb-insights-c #block-workbench-block,
.panels-layout-gsb-insights-c .tabs,
.panels-layout-gsb-insights-c .title-wrapper,
.panels-layout-gsb-insights-c .full-header,
.panels-layout-gsb-insights-c .insights-card-wrapper,
.panels-layout-gsb-insights-c .insights-topic-listing {
  display: block;
  max-width: 1170px;
  margin: 0 auto;
}
@media (max-width: 73.125em) {
  .panels-layout-gsb-insights-a .title-wrapper,
  .panels-layout-gsb-insights-b .title-wrapper,
  .panels-layout-gsb-insights-c .title-wrapper {
    max-width: 570px;
    margin: 0 auto;
  }
}
@media (max-width: 73.125em) {
  .panels-layout-gsb-insights-a .full-header,
  .panels-layout-gsb-insights-b .full-header,
  .panels-layout-gsb-insights-c .full-header {
    max-width: 570px;
    margin: 0 auto;
  }
}
.panels-layout-gsb-insights-a .insights-listing-wrapper,
.panels-layout-gsb-insights-b .insights-listing-wrapper,
.panels-layout-gsb-insights-c .insights-listing-wrapper {
  background: white;
  padding: 0 20px;
}
@media (max-width: 35.5em) {
  .panels-layout-gsb-insights-a .insights-listing-wrapper,
  .panels-layout-gsb-insights-b .insights-listing-wrapper,
  .panels-layout-gsb-insights-c .insights-listing-wrapper {
    padding-top: 16px;
  }
}
.panels-layout-gsb-insights-a #main,
.panels-layout-gsb-insights-b #main,
.panels-layout-gsb-insights-c #main {
  padding-top: 0;
}
@media (max-width: 75.625em) {
  .panels-layout-gsb-insights-a #main,
  .panels-layout-gsb-insights-b #main,
  .panels-layout-gsb-insights-c #main {
    padding: 0;
  }
}
@media (max-width: 35.5em) {
  .panels-layout-gsb-insights-a #main,
  .panels-layout-gsb-insights-b #main,
  .panels-layout-gsb-insights-c #main {
    padding: 0;
  }
}

@media (max-width: 73.125em) {
  .panels-layout-gsb-insights-a .insights-card-wrapper,
  .panels-layout-gsb-insights-b .insights-card-wrapper,
  .panels-layout-gsb-insights-c .insights-card-wrapper {
    padding: 0 20px;
  }
}
@media (max-width: 35.5em) {
  .panels-layout-gsb-insights-a .insights-card-wrapper,
  .panels-layout-gsb-insights-b .insights-card-wrapper,
  .panels-layout-gsb-insights-c .insights-card-wrapper {
    padding: 20px;
    padding-top: 0;
  }
}
@media (max-width: 73.125em) {
  .panels-layout-gsb-insights-a .insights-main-wrapper,
  .panels-layout-gsb-insights-b .insights-main-wrapper,
  .panels-layout-gsb-insights-c .insights-main-wrapper {
    float: none;
    max-width: 570px;
    margin: 0 auto;
  }
}

@media (max-width: 73.125em) {
  .panels-layout-gsb-insights-b .insights-sidebar-wrapper,
  .panels-layout-gsb-insights-b .narrow-narrow-narrow-narrow {
    float: none;
    max-width: 570px;
    margin: 0 auto;
  }
}

.page-insights-search h1.title {
  padding-bottom: 12px;
}

.view-display-id-insights_search_results .view-header {
  border-bottom: 1px #c4c4c4 solid;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.3;
  padding-bottom: 8px;
}
