.pane-bundle-featured-insight-card {
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  margin: 0 1px 1px 1px;
}
@media (max-width: 35.5em) {
  .pane-bundle-featured-insight-card {
    margin-top: 1px;
  }
}

.pane-bundle-featured-insight-card .field-name-field-title {
  background: #231f20;
  color: white;
  display: inline-block;
  font-family: "NewsGothicBT-Demi", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.2;
  margin-bottom: 26px;
  padding: 6px 8px;
  position: relative;
  z-index: 2;
}
@media (max-width: 38.125em) {
  .pane-bundle-featured-insight-card .field-name-field-title {
    font-size: 13px;
    margin-bottom: 20px;
  }
}

.pane-bundle-featured-insight-card {
  background: white;
  margin-left: 2px;
  padding: 26px;
  padding-top: 0;
}
@media (max-width: 38.125em) {
  .pane-bundle-featured-insight-card {
    padding-bottom: 20px;
  }
}
.pane-bundle-featured-insight-card .field-name-field-event-date,
.pane-bundle-featured-insight-card .group-wrapper-date {
  font-size: 14px;
  line-height: 1.2;
  margin-bottom: 8px;
}
.pane-bundle-featured-insight-card .field-name-title {
  margin-bottom: 8px;
}
.pane-bundle-featured-insight-card .field-name-title h2 {
  line-height: 0;
}
.pane-bundle-featured-insight-card .field-name-title h2 a {
  font-family: "NewsGothicBT", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 26px;
  font-weight: bold;
  line-height: 1.2;
}
@media (max-width: 53.125em) {
  .pane-bundle-featured-insight-card .field-name-title h2 a {
    font-size: 20px;
  }
}
@media (max-width: 38.125em) {
  .pane-bundle-featured-insight-card .field-name-title h2 a {
    font-size: 18px;
  }
}
.pane-bundle-featured-insight-card .field-name-field-author,
.pane-bundle-featured-insight-card .field-name-field-authors {
  display: block;
  font-family: "NewsGothicBT-Demi", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.3;
  margin-bottom: 8px;
}
@media (max-width: 38.125em) {
  .pane-bundle-featured-insight-card .field-name-field-author,
  .pane-bundle-featured-insight-card .field-name-field-authors {
    font-size: 14px;
    margin-bottom: 0;
  }
}
.pane-bundle-featured-insight-card .field-name-field-editorial-summary {
  font-size: 16px;
  line-height: 1.3;
}
@media (max-width: 38.125em) {
  .pane-bundle-featured-insight-card .field-name-field-editorial-summary {
    display: none;
  }
}
.pane-bundle-featured-insight-card .node-event .field-name-field-image-single-public {
  margin: -52px -26px 8px -26px;
}
@media (max-width: 38.125em) {
  .pane-bundle-featured-insight-card .node-event .field-name-field-image-single-public {
    display: none;
  }
}
.pane-bundle-featured-insight-card .node-book .field-name-field-image-single-public {
  margin-bottom: 8px;
  max-width: 150px;
}
@media (max-width: 38.125em) {
  .pane-bundle-featured-insight-card .node-book .field-name-field-image-single-public {
    display: none;
  }
}
