.pane-bundle-topic-teaser {
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  margin: 0 1px 1px 1px;
}
@media (max-width: 35.5em) {
  .pane-bundle-topic-teaser {
    margin-top: 1px;
  }
}

.pane-bundle-topic-teaser {
  background: white;
}
.pane-bundle-topic-teaser .field-name-field-topic {
  border-bottom: 1px solid #e4e4e4;
  padding: 26px;
}
.pane-bundle-topic-teaser .field-name-field-topic p {
  line-height: 0;
  margin-bottom: 0;
}
.pane-bundle-topic-teaser .field-name-field-topic a {
  color: #231f20;
  font-size: 24px;
  line-height: 1.2;
}
@media (max-width: 35.5em) {
  .pane-bundle-topic-teaser .field-name-field-topic a {
    font-size: 20px;
  }
}
.pane-bundle-topic-teaser .field-name-field-topic a:after {
  content: "\f101";
  display: inline-block;
  speak: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-transform: none;
  line-height: 1;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'icons';
}
.pane-bundle-topic-teaser .field-name-field-topic a:after {
  color: #bac405;
  font-size: 16px;
  font-weight: normal;
  margin-left: 5px;
}
@media (max-width: 35.5em) {
  .pane-bundle-topic-teaser .field-name-field-topic a:after {
    font-size: 14px;
  }
}
.pane-bundle-topic-teaser .field-name-field-topic a:hover {
  color: #2d6280;
  text-decoration: none;
}
.pane-bundle-topic-teaser .field-name-field-topic a:hover span {
  border-bottom: 1px solid #2d6280;
}
.pane-bundle-topic-teaser .field-name-field-topic a:hover:after {
  color: #aac4bf;
}
.pane-bundle-topic-teaser .field-name-field-description {
  font-size: 20px;
  line-height: 1.2;
  padding: 26px;
}
@media (max-width: 35.5em) {
  .pane-bundle-topic-teaser .field-name-field-description {
    font-size: 16px;
  }
}
