.node-type-idea-story #page-title {
  display: none;
}
@media (max-width: 35.5em) {
  .node-type-idea-story #page-title {
    display: block;
    font-family: "NewsGothicBT", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 28px;
    font-weight: bold;
    line-height: 1;
    padding-bottom: 17px;
  }
}
@media (max-width: 35.5em) {
  .node-type-idea-story .field-name-title {
    display: none;
  }
}

.node-idea-story.view-mode-full > .group-left,
.node-idea-story.view-mode-full > .group-right {
  width: auto;
}
.node-idea-story.view-mode-full .group-left {
  max-width: 850px;
}
.node-idea-story.view-mode-full .group-right {
  margin-left: 50px;
  width: 270px;
}
@media (max-width: 35.5em) {
  .node-idea-story.view-mode-full .group-right {
    margin-left: 0;
    width: 100%;
  }
}
.node-idea-story.view-mode-full .group-wrapper-header {
  max-width: 670px;
  padding-left: 35px;
}
@media (max-width: 35.5em) {
  .node-idea-story.view-mode-full .group-wrapper-header {
    padding-left: 0;
  }
}
.node-idea-story.view-mode-full .field-name-field-body {
  margin-bottom: 12px;
  max-width: 815px;
  padding-left: 35px;
}
@media (max-width: 35.5em) {
  .node-idea-story.view-mode-full .field-name-field-body {
    padding-left: 0;
  }
}
.node-idea-story.view-mode-full .field-name-field-body h1, .node-idea-story.view-mode-full .field-name-field-body h2, .node-idea-story.view-mode-full .field-name-field-body h3, .node-idea-story.view-mode-full .field-name-field-body h4, .node-idea-story.view-mode-full .field-name-field-body h5, .node-idea-story.view-mode-full .field-name-field-body h6,
.node-idea-story.view-mode-full .field-name-field-body p {
  max-width: 670px;
}
.node-idea-story.view-mode-full .field-name-field-key-taxonomy {
  line-height: 0;
  margin-bottom: 24px;
}
.node-idea-story.view-mode-full .field-name-field-key-taxonomy a {
  font-family: "NewsGothicBT-Demi", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.2;
}
.node-idea-story.view-mode-full .field-name-field-key-taxonomy a:after {
  color: #231f20;
  content: ", ";
}
.node-idea-story.view-mode-full .field-name-field-key-taxonomy a:last-of-type:after {
  content: "";
}
.node-idea-story.view-mode-full .media-icon.Video {
  margin-right: 8px;
  position: relative;
  top: -4px;
}
.node-idea-story.view-mode-full .media-icon.Video:after {
  content: "\f122";
  display: inline-block;
  speak: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-transform: none;
  line-height: 1;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'icons';
}
.node-idea-story.view-mode-full .media-icon.Video:after {
  color: #bcbcbc;
  font-size: 24px;
}
.node-idea-story.view-mode-full .media-icon.Audio {
  margin-right: 8px;
  position: relative;
  top: -4px;
}
.node-idea-story.view-mode-full .media-icon.Audio:after {
  content: "\f11c";
  display: inline-block;
  speak: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-transform: none;
  line-height: 1;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'icons';
}
.node-idea-story.view-mode-full .media-icon.Audio:after {
  color: #bcbcbc;
  font-size: 24px;
}
.node-idea-story.view-mode-full .media-icon.Infographic {
  margin-right: 3px;
}
.node-idea-story.view-mode-full .media-icon.Infographic:after {
  content: "Infographic";
  color: #bcbcbc;
  font-size: 24px;
  line-height: 1;
}
.node-idea-story.view-mode-full .field-name-title {
  display: inline-block;
}
.node-idea-story.view-mode-full h1 {
  display: inline-block;
  font-family: "NewsGothicBT", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 36px;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 12px;
}
.node-idea-story.view-mode-full .field-name-field-editorial-summary {
  font-size: 24px;
  line-height: 1.2;
  margin-bottom: 12px;
}
.node-idea-story.view-mode-full .group-wrapper-byline {
  font-size: 16px;
  line-height: 1.2;
  margin-bottom: 26px;
}
.node-idea-story.view-mode-full .field-name-field-authors {
  margin-left: 6px;
}
.node-idea-story.view-mode-full .field-name-field-authors a {
  color: #636f00;
  font-size: 16px;
  line-height: 1.2;
}
.node-idea-story.view-mode-full .field-name-field-authors a:hover {
  color: #2d6280;
}
.node-idea-story.view-mode-full .field-name-field-authors .label-inline {
  font-weight: normal;
  margin-left: 6px;
}
.node-idea-story.view-mode-full .field-name-field-authors .field-collection-item-field-authors:last-of-type:before {
  content: " and";
}
.node-idea-story.view-mode-full .field-name-field-body {
  font-size: 18px;
  line-height: 1.4;
}
.node-idea-story.view-mode-full .field-name-field-body p {
  font-size: 18px;
  line-height: 1.4;
}
.node-idea-story.view-mode-full .field-name-field-body p:first-of-type {
  font-size: 24px;
  line-height: 1.4;
}
.node-idea-story.view-mode-full .group-wrapper-taxonomy {
  font-size: 14px;
  line-height: 1.2;
  margin-top: 26px;
}
.node-idea-story.view-mode-full .group-wrapper-taxonomy h3 {
  display: none;
}
.node-idea-story.view-mode-full .group-wrapper-taxonomy a {
  font-weight: normal;
}
.node-idea-story.view-mode-full .group-wrapper-taxonomy a:hover {
  color: #2d6280;
}
