.node-idea-story.view-mode-full .group-wrapper-taxonomy {
  border-top: 1px lightgray solid;
}

.node-idea-story.view-mode-full .explore-more-wrapper, .node-idea-story.view-mode-full .field-name-social-buttons-top {
  border-top: 3px #231f20 solid;
}

.node-idea-story.view-mode-full .insights-signup-form-wrapper {
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  margin: 0 1px 1px 1px;
}
@media (max-width: 35.5em) {
  .node-idea-story.view-mode-full .insights-signup-form-wrapper {
    margin-top: 1px;
  }
}

.node-idea-story.view-mode-full .field-name-field-body {
  overflow: hidden;
  *zoom: 1;
}
.node-idea-story.view-mode-full .field-name-field-body p:first-of-type {
  font-size: 22px;
  line-height: 1.6;
}
.node-idea-story.view-mode-full .field-name-field-body blockquote,
.node-idea-story.view-mode-full .field-name-field-body blockquote p {
  font-size: 18px !important;
  line-height: 1.4 !important;
  max-width: 560px;
}
.node-idea-story.view-mode-full .field-name-field-body h2, .node-idea-story.view-mode-full .field-name-field-body h3, .node-idea-story.view-mode-full .field-name-field-body h4 {
  line-height: 1.2;
  margin-bottom: 6px;
}
.node-idea-story.view-mode-full .field-name-field-body h2 {
  font-family: "NewsGothicBT", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 22px;
  font-weight: bold;
  margin-top: 30px 0 10px 0;
}
.node-idea-story.view-mode-full .field-name-field-body h3 {
  font-family: "NewsGothicBT", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
}
.node-idea-story.view-mode-full .field-name-field-body ol li, .node-idea-story.view-mode-full .field-name-field-body ul li {
  margin-bottom: 12px;
}
.node-idea-story.view-mode-full .field-name-field-body ol li:last-of-type, .node-idea-story.view-mode-full .field-name-field-body ul li:last-of-type {
  margin-bottom: 0;
}
.node-idea-story.view-mode-full .field-name-field-body ul li:before {
  color: #231f20;
}

.node-type-idea-story #page-title {
  display: none;
}
@media (max-width: 35.5em) {
  .node-type-idea-story #page-title {
    display: block;
    font-family: "NewsGothicBT", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 28px;
    font-weight: bold;
    line-height: 1;
    padding-bottom: 17px;
  }
}
@media (max-width: 35.5em) {
  .node-type-idea-story .field-name-title {
    display: none;
  }
}

.node-idea-story.view-mode-full > .group-left,
.node-idea-story.view-mode-full > .group-right {
  width: 100%;
}
.node-idea-story.view-mode-full .group-left {
  max-width: 850px;
}
@media (max-width: 75.625em) {
  .node-idea-story.view-mode-full .group-left {
    max-width: 100%;
  }
}
.node-idea-story.view-mode-full .group-right {
  margin-left: 50px;
  width: 270px;
}
@media (max-width: 75.625em) {
  .node-idea-story.view-mode-full .group-right {
    margin-left: 0;
    width: 100%;
  }
}
.node-idea-story.view-mode-full .group-wrapper-header {
  max-width: 670px;
  padding-left: 35px;
}
@media (max-width: 42.9375em) {
  .node-idea-story.view-mode-full .group-wrapper-header {
    padding-left: 0;
  }
}
.node-idea-story.view-mode-full .field-name-field-body {
  margin-bottom: 12px;
  padding-left: 35px;
}
@media (max-width: 42.9375em) {
  .node-idea-story.view-mode-full .field-name-field-body {
    padding-left: 0;
  }
}
.node-idea-story.view-mode-full .field-name-field-key-taxonomy {
  line-height: 0;
  margin-bottom: 24px;
}
.node-idea-story.view-mode-full .field-name-field-key-taxonomy a {
  font-family: "NewsGothicBT-Demi", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.2;
}
.node-idea-story.view-mode-full .field-name-field-key-taxonomy span:after {
  color: #231f20;
  content: ",";
}
.node-idea-story.view-mode-full .field-name-field-key-taxonomy span:last-of-type:after {
  content: "";
}
.node-idea-story.view-mode-full .media-icon.Video {
  margin-right: 8px;
  position: relative;
  top: -4px;
}
.node-idea-story.view-mode-full .media-icon.Video:after {
  content: "\f122";
  display: inline-block;
  speak: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-transform: none;
  line-height: 1;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'icons';
}
.node-idea-story.view-mode-full .media-icon.Video:after {
  color: #bcbcbc;
  font-size: 24px;
}
.node-idea-story.view-mode-full .media-icon.Audio {
  margin-right: 8px;
  position: relative;
  top: -4px;
}
.node-idea-story.view-mode-full .media-icon.Audio:after {
  content: "\f11c";
  display: inline-block;
  speak: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-transform: none;
  line-height: 1;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'icons';
}
.node-idea-story.view-mode-full .media-icon.Audio:after {
  color: #bcbcbc;
  font-size: 24px;
}
.node-idea-story.view-mode-full .media-icon.Infographic {
  margin-right: 6px;
}
.node-idea-story.view-mode-full .media-icon.Infographic:after {
  content: "Infographic:";
  font-size: 36px;
  font-weight: bold;
  line-height: 1.2;
}
.node-idea-story.view-mode-full .field-name-title {
  display: inline;
}
.node-idea-story.view-mode-full .field-name-title h1 {
  display: inline;
  font-family: "NewsGothicBT", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 36px;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 12px;
}
.node-idea-story.view-mode-full .field-name-field-editorial-summary {
  font-size: 24px;
  line-height: 1.4;
  margin: 12px 0;
}
.node-idea-story.view-mode-full .group-wrapper-byline {
  font-size: 16px;
  line-height: 1.2;
}
.node-idea-story.view-mode-full .field-name-field-authors {
  margin-left: 6px;
}
.node-idea-story.view-mode-full .field-name-field-authors a {
  color: #636f00;
  font-size: 16px;
  line-height: 1.2;
}
.node-idea-story.view-mode-full .field-name-field-authors a:hover {
  color: #2d6280;
}
.node-idea-story.view-mode-full .field-name-field-authors .label-inline {
  font-weight: normal;
  margin-left: 6px;
}
.node-idea-story.view-mode-full .field-name-field-authors .odd:before {
  content: " and";
}
.node-idea-story.view-mode-full .field-name-field-body h2, .node-idea-story.view-mode-full .field-name-field-body h3, .node-idea-story.view-mode-full .field-name-field-body h4, .node-idea-story.view-mode-full .field-name-field-body h5, .node-idea-story.view-mode-full .field-name-field-body h6, .node-idea-story.view-mode-full .field-name-field-body blockquote, .node-idea-story.view-mode-full .field-name-field-body ul, .node-idea-story.view-mode-full .field-name-field-body li, .node-idea-story.view-mode-full .field-name-field-body p {
  max-width: 670px;
}
.node-idea-story.view-mode-full .group-wrapper-taxonomy {
  font-size: 14px;
  line-height: 1.2;
  margin-top: 26px;
  margin-bottom: 26px;
  margin-left: 35px;
  padding-top: 12px;
}
@media (max-width: 75.625em) {
  .node-idea-story.view-mode-full .group-wrapper-taxonomy {
    margin-left: 0;
  }
}
.node-idea-story.view-mode-full .group-wrapper-taxonomy h3 {
  display: none;
}
.node-idea-story.view-mode-full .group-wrapper-taxonomy a {
  font-weight: normal;
}
.node-idea-story.view-mode-full .group-wrapper-taxonomy a:hover {
  color: #2d6280;
}
.node-idea-story.view-mode-full .group-wrapper-taxonomy .taxonomy-category .separator {
  margin-right: 3px;
}
.node-idea-story.view-mode-full .group-wrapper-taxonomy .taxonomy-category .taxonomy-term:after {
  content: ",";
  margin-right: 3px;
}
.node-idea-story.view-mode-full .group-wrapper-taxonomy .taxonomy-category .taxonomy-term:last-of-type:after {
  content: "";
  margin-right: 0;
}
@media (max-width: 75.625em) {
  .node-idea-story.view-mode-full .explore-more-wrapper {
    margin-bottom: 26px;
  }
}
@media (max-width: 53.125em) {
  .node-idea-story.view-mode-full .explore-more-wrapper {
    border-bottom: 3px #231f20 solid;
  }
}
.node-idea-story.view-mode-full .explore-more-wrapper .superhead {
  color: #231f20;
  font-family: "NewsGothicBT", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 26px;
  padding-top: 14px;
}
@media (max-width: 53.125em) {
  .node-idea-story.view-mode-full .explore-more-wrapper .superhead {
    font-size: 22px;
  }
}
.node-idea-story.view-mode-full .explore-more-wrapper .explore-more-content {
  padding-left: 35px;
}
@media (max-width: 53.125em) {
  .node-idea-story.view-mode-full .explore-more-wrapper .explore-more-content {
    padding-left: 0;
  }
}
.node-idea-story.view-mode-full .explore-more-wrapper .node-idea-story.view-mode-teaser {
  display: inline-block;
  max-width: 245px;
  vertical-align: top;
}
@media (max-width: 53.125em) {
  .node-idea-story.view-mode-full .explore-more-wrapper .node-idea-story.view-mode-teaser {
    display: block;
    max-width: 100%;
  }
}
.node-idea-story.view-mode-full .explore-more-wrapper .node-idea-story.view-mode-teaser:nth-of-type(2n) {
  margin: 0 40px;
}
@media (min-width: 53.125em) and (max-width: 75.625em) {
  .node-idea-story.view-mode-full .explore-more-wrapper .node-idea-story.view-mode-teaser:nth-of-type(2n) {
    margin: 0 20px;
  }
}
@media (max-width: 53.125em) {
  .node-idea-story.view-mode-full .explore-more-wrapper .node-idea-story.view-mode-teaser:nth-of-type(2n) {
    margin: 0;
  }
}
.node-idea-story.view-mode-full .explore-more-wrapper .node-idea-story.view-mode-teaser .field-name-field-image-key-image {
  margin-bottom: 20px;
  max-width: 245px;
}
@media (max-width: 53.125em) {
  .node-idea-story.view-mode-full .explore-more-wrapper .node-idea-story.view-mode-teaser .field-name-field-image-key-image {
    display: none;
  }
}
.node-idea-story.view-mode-full .explore-more-wrapper .node-idea-story.view-mode-teaser .field-name-field-date {
  font-size: 14px;
  line-height: 1.2;
  margin-bottom: 12px;
}
@media (max-width: 53.125em) {
  .node-idea-story.view-mode-full .explore-more-wrapper .node-idea-story.view-mode-teaser .field-name-field-date {
    display: none;
  }
}
.node-idea-story.view-mode-full .explore-more-wrapper .node-idea-story.view-mode-teaser .media-icon:after {
  font-size: 20px;
}
.node-idea-story.view-mode-full .explore-more-wrapper .node-idea-story.view-mode-teaser .media-icon.Video {
  top: -1px;
}
.node-idea-story.view-mode-full .explore-more-wrapper .node-idea-story.view-mode-teaser .media-icon.Audio {
  top: 0;
}
.node-idea-story.view-mode-full .explore-more-wrapper .node-idea-story.view-mode-teaser .field-name-title {
  display: inline;
}
.node-idea-story.view-mode-full .explore-more-wrapper .node-idea-story.view-mode-teaser .field-name-title h2 {
  display: inline;
  font-family: "NewsGothicBT", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 0;
}
@media (max-width: 53.125em) {
  .node-idea-story.view-mode-full .explore-more-wrapper .node-idea-story.view-mode-teaser .field-name-title h2 {
    font-size: 18px;
  }
}
.node-idea-story.view-mode-full .explore-more-wrapper .node-idea-story.view-mode-teaser .field-name-title h2 a {
  line-height: 1.2;
}
.node-idea-story.view-mode-full .explore-more-wrapper .node-idea-story.view-mode-teaser .field-name-field-editorial-summary {
  font-size: 16px;
  line-height: 1.3;
  margin-top: 12px;
}
@media (max-width: 53.125em) {
  .node-idea-story.view-mode-full .explore-more-wrapper .node-idea-story.view-mode-teaser .field-name-field-editorial-summary {
    margin-top: 4px;
    margin-bottom: 20px;
  }
}
.node-idea-story.view-mode-full .explore-more-wrapper .node-idea-story.view-mode-teaser .field-name-field-key-taxonomy {
  line-height: 0;
  margin-bottom: 0;
}
@media (max-width: 53.125em) {
  .node-idea-story.view-mode-full .explore-more-wrapper .node-idea-story.view-mode-teaser .field-name-field-key-taxonomy {
    display: none;
  }
}
.node-idea-story.view-mode-full .explore-more-wrapper .node-idea-story.view-mode-teaser .field-name-field-key-taxonomy a {
  display: inline;
  font-size: 16px;
  line-height: 1.3;
}
.node-idea-story.view-mode-full .insights-signup-form-wrapper {
  overflow: hidden;
  *zoom: 1;
  background: white;
  margin-left: 35px;
  padding: 20px 26px;
  position: relative;
  top: 0;
}
@media (max-width: 75.625em) {
  .node-idea-story.view-mode-full .insights-signup-form-wrapper {
    margin-bottom: 26px;
  }
}
@media (max-width: 42.9375em) {
  .node-idea-story.view-mode-full .insights-signup-form-wrapper {
    margin-left: 0;
  }
}
.node-idea-story.view-mode-full .insights-signup-form-wrapper .ajax-progress {
  position: absolute;
  right: 8px;
  bottom: 30px;
}
.node-idea-story.view-mode-full .insights-signup-form-wrapper .signup-text {
  float: left;
  font-size: 20px;
  line-height: 1.3;
  min-height: 36px;
  position: relative;
  top: 5px;
}
@media (min-width: 24.0625em) {
  .node-idea-story.view-mode-full .insights-signup-form-wrapper .signup-text {
    padding-left: 35px;
  }
}
@media (max-width: 36.5625em) {
  .node-idea-story.view-mode-full .insights-signup-form-wrapper .signup-text {
    display: block;
    float: none;
    margin-bottom: 12px;
  }
}
@media (max-width: 24em) {
  .node-idea-story.view-mode-full .insights-signup-form-wrapper .signup-text {
    font-size: 18px;
  }
}
.node-idea-story.view-mode-full .insights-signup-form-wrapper .signup-text a {
  color: #636f00;
}
.node-idea-story.view-mode-full .insights-signup-form-wrapper .signup-text a:hover {
  color: #2d6280;
}
@media (min-width: 24.0625em) {
  .node-idea-story.view-mode-full .insights-signup-form-wrapper .signup-text:before {
    content: "\f112";
    display: inline-block;
    speak: none;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-transform: none;
    line-height: 1;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-family: 'icons';
  }
  .node-idea-story.view-mode-full .insights-signup-form-wrapper .signup-text:before {
    color: #aac4bf;
    margin-right: 14px;
    display: block;
    float: left;
    line-height: 1.3;
    margin-left: -35px;
  }
}
.node-idea-story.view-mode-full .insights-signup-form-wrapper .form-item-email {
  display: inline;
  margin: 0;
  float: left;
  margin-left: -325px;
  padding-left: 350px;
  margin-right: -40px;
  padding-right: 40px;
  width: 100%;
}
@media (max-width: 36.5625em) {
  .node-idea-story.view-mode-full .insights-signup-form-wrapper .form-item-email {
    display: block;
    margin-left: 0;
    padding-left: 0;
    max-width: 420px;
  }
}
.node-idea-story.view-mode-full .insights-signup-form-wrapper #edit-email {
  border: 1px lightgray solid;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  float: left;
  height: 36px;
  line-height: 1;
  width: 100%;
}
.node-idea-story.view-mode-full .insights-signup-form-wrapper #edit-email:focus {
  outline: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px #990000 solid;
}
.node-idea-story.view-mode-full .insights-signup-form-wrapper #edit-submit {
  background: -moz-linear-gradient(bottom, #c50000 40%, #860000 90%);
  background: -o-linear-gradient(bottom, #c50000 40%, #860000 90%);
  background: -webkit-linear-gradient(bottom, #c50000 40%, #860000 90%);
  background: linear-gradient(to top, #c50000 40%, #860000 90%);
  border: none;
  -moz-border-radius: 0 20px 20px 0;
  -webkit-border-radius: 0;
  border-radius: 0 20px 20px 0;
  color: white;
  float: left;
  font-size: 14px;
  font-family: "NewsGothicBT", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  height: 36px;
  line-height: 2.5;
  margin: 0;
  margin-left: -1px;
  text-align: center;
  text-shadow: none;
  text-transform: uppercase;
  width: 40px;
}
.node-idea-story.view-mode-full .insights-signup-form-wrapper #edit-submit:hover {
  background: -moz-linear-gradient(#194560, #2c6180);
  background: -o-linear-gradient(#194560, #2c6180);
  background: -webkit-linear-gradient(#194560, #2c6180);
  background: linear-gradient(#194560, #2c6180);
}
.node-idea-story.view-mode-full .media-inquiries {
  margin-left: 35px;
}
@media (max-width: 42.9375em) {
  .node-idea-story.view-mode-full .media-inquiries {
    margin-left: 0;
  }
}
@media (max-width: 75.625em) {
  .node-idea-story.view-mode-full .group-wrapper-related legend {
    display: block;
    float: left;
    font-family: "NewsGothicBT-Demi", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    line-height: 1.2;
    padding-top: 20px;
    padding-left: 26px;
    padding-bottom: 18px;
  }
}
@media (min-width: 75.6875em) {
  .node-idea-story.view-mode-full .group-wrapper-related .fieldset-wrapper {
    display: block !important;
  }
}
@media (max-width: 75.625em) {
  .node-idea-story.view-mode-full .group-wrapper-related .fieldset-wrapper {
    clear: left;
    padding-top: 20px;
  }
}
@media (max-width: 75.625em) {
  .node-idea-story.view-mode-full .group-wrapper-related .superhead {
    display: none;
  }
}
@media (max-width: 75.625em) {
  .node-idea-story.view-mode-full .group-wrapper-related .field-name-field-person-fac-ref {
    padding: 0 26px 20px;
  }
}
@media (max-width: 75.625em) {
  .node-idea-story.view-mode-full .group-wrapper-related .field-name-field-related-idea-story .node-idea-story {
    padding: 20px 26px;
  }
}
@media (max-width: 75.625em) {
  .node-idea-story.view-mode-full .group-wrapper-related .field-collection-item-field-related-other-unlimited {
    padding: 20px 26px;
  }
}
@media (max-width: 75.625em) {
  .node-idea-story.view-mode-full .group-wrapper-related .field-name-field-link-unlimited {
    padding: 20px 26px;
  }
}
.node-idea-story.view-mode-full .field-name-social-buttons-top .item-list ul li,
.node-idea-story.view-mode-full .field-name-social-buttons-bottom .item-list ul li {
  margin: 0;
}
.node-idea-story.view-mode-full .field-name-social-buttons-top li,
.node-idea-story.view-mode-full .field-name-social-buttons-bottom li {
  display: inline-block;
  vertical-align: top;
}
.node-idea-story.view-mode-full .field-name-social-buttons-top {
  border-bottom: 1px #231f20 solid;
  margin-bottom: 40px;
  margin-top: 20px;
  padding-top: 18px;
  padding-left: 35px;
}
.node-idea-story.view-mode-full .field-name-social-buttons-bottom {
  display: inline-block;
  margin-bottom: 20px;
  margin-left: 35px;
}
@media (max-width: 42.9375em) {
  .node-idea-story.view-mode-full .field-name-social-buttons-bottom {
    height: 22px;
    margin-left: 0;
    margin-bottom: 0;
  }
}
.node-idea-story.view-mode-full .short-url-wrapper,
.node-idea-story.view-mode-full .short-url {
  display: inline-block;
}
.node-idea-story.view-mode-full .short-url-wrapper {
  border-left: 1px solid lightgray;
  line-height: 3.2;
  height: 45px;
  margin-left: 10px;
  padding-left: 20px;
}
@media (max-width: 42.9375em) {
  .node-idea-story.view-mode-full .short-url-wrapper {
    border-left: 0;
    display: block;
    margin-left: 0;
    margin-bottom: 36px;
    padding-left: 0;
  }
}
.node-idea-story.view-mode-full .short-url {
  border: 1px lightgray solid;
  color: #636f00;
  line-height: 1.2;
  margin-left: 8px;
  padding: 8px;
}
