.insights-topic-listing h2.pane-title strong {
  border-top: 10px #231f20 solid;
}

.insights-topic-listing h2.pane-title {
  color: #231f20;
  font-family: "NewsGothicBT", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 32px;
  line-height: 1.2;
  padding-top: 15px;
}
@media (max-width: 35.5em) {
  .insights-topic-listing h2.pane-title {
    font-size: 26px;
    padding-top: 0;
  }
}
.insights-topic-listing h2.pane-title strong {
  padding-top: 8px;
}
.insights-topic-listing .view-insights-topic-list .views-row {
  padding: 26px;
  border-bottom: 1px solid #c4c4c4;
}
.insights-topic-listing .view-insights-topic-list .views-row:last-of-type {
  border-bottom: 0;
}
@media (max-width: 35.5em) {
  .insights-topic-listing .view-insights-topic-list .views-row {
    padding: 20px 0;
  }
}
.insights-topic-listing .view-insights-topic-list .field-name-field-date {
  font-size: 16px;
  line-height: 1.3;
  margin-bottom: 8px;
}
@media (max-width: 35.5em) {
  .insights-topic-listing .view-insights-topic-list .field-name-field-date {
    font-size: 14px;
  }
}
.insights-topic-listing .view-insights-topic-list .media-icon.Video {
  float: left;
  margin-right: 8px;
  position: relative;
}
.insights-topic-listing .view-insights-topic-list .media-icon.Video:after {
  content: "\f122";
  display: inline;
  speak: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-transform: none;
  line-height: 1;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'icons';
}
.insights-topic-listing .view-insights-topic-list .media-icon.Video:after {
  color: #bcbcbc;
  font-size: 24px;
}
@media (max-width: 35.5em) {
  .insights-topic-listing .view-insights-topic-list .media-icon.Video {
    margin-right: 5px;
  }
  .insights-topic-listing .view-insights-topic-list .media-icon.Video:after {
    font-size: 20px;
  }
}
.insights-topic-listing .view-insights-topic-list .media-icon.Audio {
  float: left;
  margin-right: 8px;
  position: relative;
  top: 4px;
}
.insights-topic-listing .view-insights-topic-list .media-icon.Audio:after {
  content: "\f11c";
  display: inline;
  speak: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-transform: none;
  line-height: 1;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'icons';
}
.insights-topic-listing .view-insights-topic-list .media-icon.Audio:after {
  color: #bcbcbc;
  font-size: 24px;
}
@media (max-width: 35.5em) {
  .insights-topic-listing .view-insights-topic-list .media-icon.Audio {
    margin-right: 5px;
    top: 0;
  }
  .insights-topic-listing .view-insights-topic-list .media-icon.Audio:after {
    font-size: 20px;
  }
}
.insights-topic-listing .view-insights-topic-list .media-icon.Infographic {
  margin-right: 6px;
}
.insights-topic-listing .view-insights-topic-list .media-icon.Infographic:after {
  content: "Infographic:";
  font-size: 26px;
  font-weight: bold;
  line-height: 1.2;
}
.insights-topic-listing .view-insights-topic-list .field-name-title h3 {
  display: inline-block;
  line-height: 0;
  margin-bottom: 8px;
  max-width: 830px;
}
@media (max-width: 20em) {
  .insights-topic-listing .view-insights-topic-list .field-name-title h3 {
    display: inline;
    font-size: 20px;
  }
}
.insights-topic-listing .view-insights-topic-list .field-name-title h3 a {
  color: #990000;
  line-height: 1.3;
}
.insights-topic-listing .view-insights-topic-list .field-name-title h3 a:hover {
  color: #2d6280;
  text-decoration: underline;
}
.insights-topic-listing .view-insights-topic-list .field-name-field-editorial-summary {
  font-size: 18px;
  line-height: 1.4;
  margin-bottom: 8px;
  max-width: 830px;
}
@media (max-width: 35.5em) {
  .insights-topic-listing .view-insights-topic-list .field-name-field-editorial-summary {
    font-size: 16px;
    margin-top: 5px;
  }
}
.insights-topic-listing .view-insights-topic-list .field-name-field-key-taxonomy {
  line-height: 0;
}
.insights-topic-listing .view-insights-topic-list .field-name-field-key-taxonomy span:nth-of-type(2n):before, .insights-topic-listing .view-insights-topic-list .field-name-field-key-taxonomy span:nth-of-type(3n):before {
  content: ",";
}
.insights-topic-listing .view-insights-topic-list .field-name-field-key-taxonomy a {
  font-size: 16px;
  line-height: 1.3;
}
