/*
Syntax error: File to import not found or unreadable: ../../fonts/icons/icons.
              Load paths:
                /Users/mpalagyi/www/revamp/profiles/gsb_public/themes/gsb_theme/sass
                /Users/mpalagyi/.gem/ruby/2.0.0/gems/compass-core-1.0.0.alpha.16/stylesheets
                /Users/mpalagyi/.gem/ruby/2.0.0/gems/sassy-maps-0.3.1/stylesheets
                /Users/mpalagyi/.gem/ruby/2.0.0/gems/breakpoint-2.4.0/stylesheets
                Compass::SpriteImporter
        on line 6 of /Users/mpalagyi/www/revamp/profiles/gsb_public/themes/gsb_theme/sass/conditionals/insights/insights-detail.sass

1: /Users/mpalagyi/www/revamp/profiles/gsb_public/themes/gsb_theme/sass/conditionals/insights/insights-detail.sass

Backtrace:
/Users/mpalagyi/www/revamp/profiles/gsb_public/themes/gsb_theme/sass/conditionals/insights/insights-detail.sass:6
/Users/mpalagyi/.gem/ruby/2.0.0/gems/sass-3.3.0.rc.2/lib/sass/tree/import_node.rb:66:in `rescue in import'
/Users/mpalagyi/.gem/ruby/2.0.0/gems/sass-3.3.0.rc.2/lib/sass/tree/import_node.rb:45:in `import'
/Users/mpalagyi/.gem/ruby/2.0.0/gems/sass-3.3.0.rc.2/lib/sass/tree/import_node.rb:28:in `imported_file'
/Users/mpalagyi/.gem/ruby/2.0.0/gems/sass-3.3.0.rc.2/lib/sass/tree/import_node.rb:37:in `css_import?'
/Users/mpalagyi/.gem/ruby/2.0.0/gems/sass-3.3.0.rc.2/lib/sass/tree/visitors/perform.rb:282:in `visit_import'
/Users/mpalagyi/.gem/ruby/2.0.0/gems/sass-3.3.0.rc.2/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/mpalagyi/.gem/ruby/2.0.0/gems/sass-3.3.0.rc.2/lib/sass/tree/visitors/perform.rb:153:in `block in visit'
/Users/mpalagyi/.gem/ruby/2.0.0/gems/sass-3.3.0.rc.2/lib/sass/stack.rb:79:in `block in with_base'
/Users/mpalagyi/.gem/ruby/2.0.0/gems/sass-3.3.0.rc.2/lib/sass/stack.rb:115:in `with_frame'
/Users/mpalagyi/.gem/ruby/2.0.0/gems/sass-3.3.0.rc.2/lib/sass/stack.rb:79:in `with_base'
/Users/mpalagyi/.gem/ruby/2.0.0/gems/sass-3.3.0.rc.2/lib/sass/tree/visitors/perform.rb:153:in `visit'
/Users/mpalagyi/.gem/ruby/2.0.0/gems/sass-3.3.0.rc.2/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/mpalagyi/.gem/ruby/2.0.0/gems/sass-3.3.0.rc.2/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/mpalagyi/.gem/ruby/2.0.0/gems/sass-3.3.0.rc.2/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/mpalagyi/.gem/ruby/2.0.0/gems/sass-3.3.0.rc.2/lib/sass/tree/visitors/perform.rb:162:in `block in visit_children'
/Users/mpalagyi/.gem/ruby/2.0.0/gems/sass-3.3.0.rc.2/lib/sass/tree/visitors/perform.rb:174:in `with_environment'
/Users/mpalagyi/.gem/ruby/2.0.0/gems/sass-3.3.0.rc.2/lib/sass/tree/visitors/perform.rb:161:in `visit_children'
/Users/mpalagyi/.gem/ruby/2.0.0/gems/sass-3.3.0.rc.2/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/mpalagyi/.gem/ruby/2.0.0/gems/sass-3.3.0.rc.2/lib/sass/tree/visitors/perform.rb:181:in `visit_root'
/Users/mpalagyi/.gem/ruby/2.0.0/gems/sass-3.3.0.rc.2/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/mpalagyi/.gem/ruby/2.0.0/gems/sass-3.3.0.rc.2/lib/sass/tree/visitors/perform.rb:152:in `visit'
/Users/mpalagyi/.gem/ruby/2.0.0/gems/sass-3.3.0.rc.2/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/mpalagyi/.gem/ruby/2.0.0/gems/sass-3.3.0.rc.2/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/mpalagyi/.gem/ruby/2.0.0/gems/sass-3.3.0.rc.2/lib/sass/tree/root_node.rb:20:in `render'
/Users/mpalagyi/.gem/ruby/2.0.0/gems/sass-3.3.0.rc.2/lib/sass/engine.rb:275:in `render'
/Users/mpalagyi/.gem/ruby/2.0.0/gems/compass-1.0.0.alpha.17/lib/compass/compiler.rb:171:in `block (2 levels) in compile'
/Users/mpalagyi/.gem/ruby/2.0.0/gems/compass-1.0.0.alpha.17/lib/compass/compiler.rb:153:in `timed'
/Users/mpalagyi/.gem/ruby/2.0.0/gems/compass-1.0.0.alpha.17/lib/compass/compiler.rb:166:in `block in compile'
/Users/mpalagyi/.gem/ruby/2.0.0/gems/compass-1.0.0.alpha.17/lib/compass/logger.rb:46:in `red'
/Users/mpalagyi/.gem/ruby/2.0.0/gems/compass-1.0.0.alpha.17/lib/compass/compiler.rb:165:in `compile'
/Users/mpalagyi/.gem/ruby/2.0.0/gems/compass-1.0.0.alpha.17/lib/compass/compiler.rb:144:in `compile_if_required'
/Users/mpalagyi/.gem/ruby/2.0.0/gems/compass-1.0.0.alpha.17/lib/compass/compiler.rb:129:in `block (2 levels) in run'
/Users/mpalagyi/.gem/ruby/2.0.0/gems/compass-1.0.0.alpha.17/lib/compass/compiler.rb:127:in `each'
/Users/mpalagyi/.gem/ruby/2.0.0/gems/compass-1.0.0.alpha.17/lib/compass/compiler.rb:127:in `block in run'
/Users/mpalagyi/.gem/ruby/2.0.0/gems/compass-1.0.0.alpha.17/lib/compass/compiler.rb:153:in `timed'
/Users/mpalagyi/.gem/ruby/2.0.0/gems/compass-1.0.0.alpha.17/lib/compass/compiler.rb:126:in `run'
/Users/mpalagyi/.gem/ruby/2.0.0/gems/compass-1.0.0.alpha.17/lib/compass/watcher/compiler.rb:24:in `compile'
/usr/local/Cellar/ruby/2.0.0-p353/lib/ruby/2.0.0/forwardable.rb:171:in `compile'
/Users/mpalagyi/.gem/ruby/2.0.0/gems/compass-1.0.0.alpha.17/lib/compass/watcher/project_watcher.rb:95:in `sass_modified'
/Users/mpalagyi/.gem/ruby/2.0.0/gems/compass-1.0.0.alpha.17/lib/compass/watcher/project_watcher.rb:83:in `sass_callback'
/Users/mpalagyi/.gem/ruby/2.0.0/gems/compass-1.0.0.alpha.17/lib/compass/watcher/watch.rb:14:in `call'
/Users/mpalagyi/.gem/ruby/2.0.0/gems/compass-1.0.0.alpha.17/lib/compass/watcher/watch.rb:14:in `run_callback'
/Users/mpalagyi/.gem/ruby/2.0.0/gems/compass-1.0.0.alpha.17/lib/compass/watcher/project_watcher.rb:63:in `block in listen_callback'
/Users/mpalagyi/.gem/ruby/2.0.0/gems/compass-1.0.0.alpha.17/lib/compass/watcher/project_watcher.rb:60:in `each'
/Users/mpalagyi/.gem/ruby/2.0.0/gems/compass-1.0.0.alpha.17/lib/compass/watcher/project_watcher.rb:60:in `listen_callback'
/Users/mpalagyi/.gem/ruby/2.0.0/gems/listen-1.1.6/lib/listen/listener.rb:236:in `call'
/Users/mpalagyi/.gem/ruby/2.0.0/gems/listen-1.1.6/lib/listen/listener.rb:236:in `on_change'
/Users/mpalagyi/.gem/ruby/2.0.0/gems/listen-1.1.6/lib/listen/listener.rb:271:in `block in initialize_adapter'
/Users/mpalagyi/.gem/ruby/2.0.0/gems/listen-1.1.6/lib/listen/adapter.rb:244:in `call'
/Users/mpalagyi/.gem/ruby/2.0.0/gems/listen-1.1.6/lib/listen/adapter.rb:244:in `report_changes'
/Users/mpalagyi/.gem/ruby/2.0.0/gems/listen-1.1.6/lib/listen/adapter.rb:313:in `poll_changed_directories'
/Users/mpalagyi/.gem/ruby/2.0.0/gems/listen-1.1.6/lib/listen/adapter.rb:289:in `block in start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: File to import not found or unreadable: ../../fonts/icons/icons.\A               Load paths:\A                 /Users/mpalagyi/www/revamp/profiles/gsb_public/themes/gsb_theme/sass\A                 /Users/mpalagyi/.gem/ruby/2.0.0/gems/compass-core-1.0.0.alpha.16/stylesheets\A                 /Users/mpalagyi/.gem/ruby/2.0.0/gems/sassy-maps-0.3.1/stylesheets\A                 /Users/mpalagyi/.gem/ruby/2.0.0/gems/breakpoint-2.4.0/stylesheets\A                 Compass::SpriteImporter\A         on line 6 of /Users/mpalagyi/www/revamp/profiles/gsb_public/themes/gsb_theme/sass/conditionals/insights/insights-detail.sass\A \A 1: /Users/mpalagyi/www/revamp/profiles/gsb_public/themes/gsb_theme/sass/conditionals/insights/insights-detail.sass"; }
