.page-insights #block-gsb-public-custom-blocks-gpcb-banner-title {
  display: inline-block;
  margin-right: 30px;
  padding: 14px 0 9px;
}
@media (max-width: 62.4375em) {
  .page-insights #block-gsb-public-custom-blocks-gpcb-banner-title {
    padding-top: 0;
  }
}
@media (max-width: 35.5em) {
  .page-insights #block-gsb-public-custom-blocks-gpcb-banner-title {
    display: none;
  }
}

#block-menu-section-27256 {
  border-right: 1px solid #5e5e5e;
  border-left: 1px solid #5e5e5e;
  float: left;
  position: relative;
  top: 0;
  vertical-align: top;
}
@media (max-width: 35.5em) {
  #block-menu-section-27256 {
    border-left: 0;
    border-right: 0;
    display: block;
    margin-right: -67px;
    padding-right: 67px;
    width: 100%;
  }
}
#block-menu-section-27256 h2 {
  color: white;
  font-size: 22px;
  height: 66px;
  line-height: 3.5;
  text-align: center;
  width: 155px;
}
@media (max-width: 35.5em) {
  #block-menu-section-27256 h2 {
    padding-left: 20px;
    text-align: left;
    width: 100%;
  }
}
#block-menu-section-27256 h2:after {
  content: "\f105";
  display: inline-block;
  speak: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-transform: none;
  line-height: 1;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'icons';
}
#block-menu-section-27256 h2:after {
  font-size: 14px;
  margin-left: 20px;
  position: relative;
  top: -3px;
}
#block-menu-section-27256 h2:hover {
  text-decoration: underline;
}
#block-menu-section-27256 .content {
  display: none;
}
.no-touch #block-menu-section-27256:hover h2 {
  background: -moz-linear-gradient(bottom, #8e0000, #860000);
  background: -o-linear-gradient(bottom, #8e0000, #860000);
  background: -webkit-linear-gradient(bottom, #8e0000, #860000);
  background: linear-gradient(to top, #8e0000, #860000);
}
.no-touch #block-menu-section-27256:hover h2:after {
  content: "\f108";
  display: inline-block;
  speak: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-transform: none;
  line-height: 1;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'icons';
}
.no-touch #block-menu-section-27256:hover .content {
  display: block;
  position: absolute;
  z-index: 100;
}
.no-touch #block-menu-section-27256:hover .content .menu {
  display: block;
  background: -moz-linear-gradient(bottom, #c50000, #8f0000);
  background: -o-linear-gradient(bottom, #c50000, #8f0000);
  background: -webkit-linear-gradient(bottom, #c50000, #8f0000);
  background: linear-gradient(to top, #c50000, #8f0000);
  -moz-column-count: 3;
  -webkit-column-count: 3;
  column-count: 3;
  padding: 26px;
  padding-bottom: 18px;
  width: 718px;
}
@media (max-width: 73.125em) {
  .no-touch #block-menu-section-27256:hover .content .menu {
    min-width: 690px;
    width: 100%;
  }
}
@media (max-width: 51.875em) {
  .no-touch #block-menu-section-27256:hover .content .menu {
    min-width: inherit;
    width: 100%;
  }
}
@media (max-width: 30em) {
  .no-touch #block-menu-section-27256:hover .content .menu {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
    padding: 20px;
    width: 100%;
  }
}
.no-touch #block-menu-section-27256:hover .content li {
  line-height: 0;
  margin-bottom: 18px;
}
.no-touch #block-menu-section-27256:hover .content a {
  color: white;
  font-size: 18px;
  line-height: 1.2;
}
.touch #block-menu-section-27256.open h2 {
  background: -moz-linear-gradient(bottom, #8e0000, #860000);
  background: -o-linear-gradient(bottom, #8e0000, #860000);
  background: -webkit-linear-gradient(bottom, #8e0000, #860000);
  background: linear-gradient(to top, #8e0000, #860000);
}
.touch #block-menu-section-27256.open h2:after {
  content: "\f108";
  display: inline-block;
  speak: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-transform: none;
  line-height: 1;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'icons';
}
.touch #block-menu-section-27256.open .content {
  display: block;
  position: absolute;
  z-index: 100;
}
.touch #block-menu-section-27256.open .content .menu {
  display: block;
  background: -moz-linear-gradient(bottom, #c50000, #8f0000);
  background: -o-linear-gradient(bottom, #c50000, #8f0000);
  background: -webkit-linear-gradient(bottom, #c50000, #8f0000);
  background: linear-gradient(to top, #c50000, #8f0000);
  -moz-column-count: 3;
  -webkit-column-count: 3;
  column-count: 3;
  padding: 26px;
  padding-bottom: 18px;
  min-width: 718px;
}
@media (max-width: 73.125em) {
  .touch #block-menu-section-27256.open .content .menu {
    min-width: 690px;
    width: 100%;
  }
}
@media (max-width: 51.875em) {
  .touch #block-menu-section-27256.open .content .menu {
    min-width: 568px;
    width: 100%;
  }
}
@media (max-width: 35.5em) {
  .touch #block-menu-section-27256.open .content .menu {
    min-width: 568px;
  }
}
@media (max-width: 30em) {
  .touch #block-menu-section-27256.open .content .menu {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
    min-width: 480px;
    padding: 20px;
    width: 100%;
  }
}
@media (max-width: 20em) {
  .touch #block-menu-section-27256.open .content .menu {
    min-width: 320px;
  }
}
.touch #block-menu-section-27256.open .content li {
  line-height: 0;
  margin-bottom: 18px;
}
.touch #block-menu-section-27256.open .content a {
  color: white;
  font-size: 18px;
  line-height: 1.2;
}
