.page-insights #block-gsb-public-custom-blocks-gpcb-banner-title {
  display: inline-block;
  margin-right: 30px;
  padding: 14px 0 9px;
}

#block-menu-section-27256 {
  border-right: 1px solid #5e5e5e;
  border-left: 1px solid #5e5e5e;
  display: inline-block;
  position: relative;
  top: 0;
  vertical-align: top;
}
#block-menu-section-27256 h2 {
  color: white;
  font-size: 22px;
  height: 63px;
  line-height: 3.5;
  text-align: center;
  width: 155px;
}
#block-menu-section-27256 h2:after {
  content: "\f105";
  display: inline-block;
  speak: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-transform: none;
  line-height: 1;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'icons';
}
#block-menu-section-27256 h2:after {
  font-size: 14px;
  margin-left: 20px;
  position: relative;
}
#block-menu-section-27256 .content {
  display: none;
}
#block-menu-section-27256:hover h2:after {
  content: "\f108";
  display: inline-block;
  speak: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-transform: none;
  line-height: 1;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'icons';
}
#block-menu-section-27256:hover .content {
  display: block;
  position: absolute;
  z-index: 100;
}
#block-menu-section-27256:hover .content:hover {
  display: block;
}
#block-menu-section-27256:hover .content .menu {
  background: -moz-linear-gradient(bottom, #c50000, #860000);
  background: -o-linear-gradient(bottom, #c50000, #860000);
  background: -webkit-linear-gradient(bottom, #c50000, #860000);
  background: linear-gradient(to top, #c50000, #860000);
  -moz-column-count: 3;
  -webkit-column-count: 3;
  column-count: 3;
  padding: 26px;
  width: 718px;
}
#block-menu-section-27256:hover .content li {
  line-height: 0;
  margin-bottom: 18px;
}
#block-menu-section-27256:hover .content a {
  color: white;
  font-size: 18px;
  line-height: 1.2;
}
