.group-wrapper-related {
  background: white;
}

.group-wrapper-related .field-name-field-person-fac-ref,
.group-wrapper-related .field-name-field-alumni-ref,
.group-wrapper-related .field-name-field-person-ref-unlimited,
.group-wrapper-related .field-name-field-related-faculty, .group-wrapper-related .faculty-author-wrapper, .group-wrapper-related .field-name-field-related-idea-story .view-mode-idea_story_related, .group-wrapper-related .field-collection-item-field-related-other-unlimited, .group-wrapper-related .field-name-field-link-unlimited,
.group-wrapper-related .field-name-field-link-related-unlimited,
.group-wrapper-related .field-name-field-file-unlimited-public {
  border-bottom: 1px lightgray solid;
}

.group-wrapper-related .superhead {
  border-top: 10px #231f20 solid;
}

.group-wrapper-related {
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 0 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 0 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  border: none;
  height: auto !important;
  margin: 1px;
  padding: 0;
}
.group-wrapper-related legend {
  display: none;
  padding: 0;
}
.group-wrapper-related .superhead {
  display: block;
  font-family: "NewsGothicBT-Demi", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.3;
  margin: 0 26px;
  padding: 12px 0;
}
.group-wrapper-related .field-name-field-person-ref-unlimited {
  border-top: 1px white solid;
  margin-top: -1px;
}
.group-wrapper-related .field-collection-item-field-related-faculty .node,
.group-wrapper-related .field-name-field-person-fac-ref .node,
.group-wrapper-related .field-name-field-alumni-ref .node,
.group-wrapper-related .field-name-field-person-ref-unlimited .node {
  overflow: hidden;
  *zoom: 1;
  padding: 0 26px 26px;
}
.group-wrapper-related .field-collection-item-field-related-faculty .field-name-field-image-single-public,
.group-wrapper-related .field-name-field-person-fac-ref .field-name-field-image-single-public,
.group-wrapper-related .field-name-field-alumni-ref .field-name-field-image-single-public,
.group-wrapper-related .field-name-field-person-ref-unlimited .field-name-field-image-single-public {
  float: left;
  margin-right: 12px;
  max-width: 40px;
}
.group-wrapper-related .field-collection-item-field-related-faculty .group-wrapper-name,
.group-wrapper-related .field-collection-item-field-related-faculty .field-name-title,
.group-wrapper-related .field-name-field-person-fac-ref .group-wrapper-name,
.group-wrapper-related .field-name-field-person-fac-ref .field-name-title,
.group-wrapper-related .field-name-field-alumni-ref .group-wrapper-name,
.group-wrapper-related .field-name-field-alumni-ref .field-name-title,
.group-wrapper-related .field-name-field-person-ref-unlimited .group-wrapper-name,
.group-wrapper-related .field-name-field-person-ref-unlimited .field-name-title {
  line-height: 0;
}
.group-wrapper-related .field-collection-item-field-related-faculty .group-wrapper-name a,
.group-wrapper-related .field-collection-item-field-related-faculty .field-name-title a,
.group-wrapper-related .field-name-field-person-fac-ref .group-wrapper-name a,
.group-wrapper-related .field-name-field-person-fac-ref .field-name-title a,
.group-wrapper-related .field-name-field-alumni-ref .group-wrapper-name a,
.group-wrapper-related .field-name-field-alumni-ref .field-name-title a,
.group-wrapper-related .field-name-field-person-ref-unlimited .group-wrapper-name a,
.group-wrapper-related .field-name-field-person-ref-unlimited .field-name-title a {
  font-family: "NewsGothicBT-Demi", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: inline-block;
  font-size: 16px;
  line-height: 1.3;
  max-width: 164px;
}
.group-wrapper-related .field-collection-item-field-related-faculty .group-wrapper-position,
.group-wrapper-related .field-collection-item-field-related-faculty .field-name-field-stanford-degrees-single,
.group-wrapper-related .field-collection-item-field-related-faculty .field-name-field-title-position-unlimited,
.group-wrapper-related .field-collection-item-field-related-faculty .field-name-field-company-organization,
.group-wrapper-related .field-name-field-person-fac-ref .group-wrapper-position,
.group-wrapper-related .field-name-field-person-fac-ref .field-name-field-stanford-degrees-single,
.group-wrapper-related .field-name-field-person-fac-ref .field-name-field-title-position-unlimited,
.group-wrapper-related .field-name-field-person-fac-ref .field-name-field-company-organization,
.group-wrapper-related .field-name-field-alumni-ref .group-wrapper-position,
.group-wrapper-related .field-name-field-alumni-ref .field-name-field-stanford-degrees-single,
.group-wrapper-related .field-name-field-alumni-ref .field-name-field-title-position-unlimited,
.group-wrapper-related .field-name-field-alumni-ref .field-name-field-company-organization,
.group-wrapper-related .field-name-field-person-ref-unlimited .group-wrapper-position,
.group-wrapper-related .field-name-field-person-ref-unlimited .field-name-field-stanford-degrees-single,
.group-wrapper-related .field-name-field-person-ref-unlimited .field-name-field-title-position-unlimited,
.group-wrapper-related .field-name-field-person-ref-unlimited .field-name-field-company-organization {
  font-size: 16px;
  line-height: 1.3;
  padding-left: 52px;
}
.group-wrapper-related .field-name-field-person-fac-ref,
.group-wrapper-related .field-name-field-alumni-ref {
  padding-bottom: 26px;
}
.group-wrapper-related .field-name-field-related-idea-story {
  padding: 0;
}
.group-wrapper-related .field-name-field-related-idea-story .view-mode-idea_story_related {
  padding: 18px 26px;
}
.group-wrapper-related .field-name-field-related-idea-story .view-mode-idea_story_related .field-name-field-date {
  font-size: 14px;
  line-height: 1.2;
  margin-bottom: 14px;
}
.group-wrapper-related .field-name-field-related-idea-story .view-mode-idea_story_related .media-icon.Video {
  margin-right: 5px;
  top: 0;
}
.group-wrapper-related .field-name-field-related-idea-story .view-mode-idea_story_related .media-icon.Video:after {
  content: "\f122";
  display: inline;
  speak: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-transform: none;
  line-height: 1;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'icons';
}
.group-wrapper-related .field-name-field-related-idea-story .view-mode-idea_story_related .media-icon.Video:after {
  color: #bcbcbc;
  font-size: 20px;
}
.group-wrapper-related .field-name-field-related-idea-story .view-mode-idea_story_related .media-icon.Audio {
  margin-right: 5px;
  top: 0;
}
.group-wrapper-related .field-name-field-related-idea-story .view-mode-idea_story_related .media-icon.Audio:after {
  content: "\f11c";
  display: inline;
  speak: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-transform: none;
  line-height: 1;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'icons';
}
.group-wrapper-related .field-name-field-related-idea-story .view-mode-idea_story_related .media-icon.Audio:after {
  color: #bcbcbc;
  font-size: 20px;
}
.group-wrapper-related .field-name-field-related-idea-story .view-mode-idea_story_related .media-icon.Infographic {
  margin-right: 5px;
}
.group-wrapper-related .field-name-field-related-idea-story .view-mode-idea_story_related .media-icon.Infographic:after {
  content: "Infographic:";
  font-size: 20px;
  font-weight: bold;
}
.group-wrapper-related .field-name-field-related-idea-story .view-mode-idea_story_related .field-name-title {
  display: inline;
}
.group-wrapper-related .field-name-field-related-idea-story .view-mode-idea_story_related h2 {
  display: inline;
  font-family: "NewsGothicBT", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 0;
  margin-bottom: 12px;
}
.group-wrapper-related .field-name-field-related-idea-story .view-mode-idea_story_related h2 a {
  line-height: 1.3;
}
.group-wrapper-related .field-name-field-related-idea-story .view-mode-idea_story_related h2 a[target=_blank]:after {
  font-size: 10px;
}
.group-wrapper-related .field-name-field-related-idea-story .view-mode-idea_story_related .field-name-field-editorial-summary {
  font-size: 16px;
  line-height: 1.3;
  margin-bottom: 0;
  margin-top: 8px;
}
.group-wrapper-related .field-collection-item-field-related-other-unlimited {
  padding: 18px 26px;
}
.group-wrapper-related .field-collection-item-field-related-other-unlimited .group-wrapper-title {
  line-height: 0;
  margin-bottom: 8px;
}
.group-wrapper-related .field-collection-item-field-related-other-unlimited .group-wrapper-title h3 {
  display: inline;
  font-family: "NewsGothicBT-Demi", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 0;
}
.group-wrapper-related .field-collection-item-field-related-other-unlimited .group-wrapper-title h3 .field-name-field-title {
  line-height: 1.3;
}
.group-wrapper-related .field-collection-item-field-related-other-unlimited .field-name-field-related-other-label {
  font-family: "NewsGothicBT-Demi", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.3;
}
.group-wrapper-related .field-collection-item-field-related-other-unlimited .field-name-field-author,
.group-wrapper-related .field-collection-item-field-related-other-unlimited .field-name-field-authors {
  font-size: 14px;
  line-height: 1.3;
  margin-left: 0;
}
.group-wrapper-related .field-collection-item-field-related-other-unlimited .gsb_field_formatter_field_collection_separator .field {
  display: inline-block;
}
.group-wrapper-related .field-collection-item-field-related-other-unlimited .field-collection-item-field-authors:last-of-type:before {
  content: none;
}
.group-wrapper-related .field-collection-item-field-related-other-unlimited .field-name-field-event-date,
.group-wrapper-related .field-collection-item-field-related-other-unlimited .field-name-field-event-location-type,
.group-wrapper-related .field-collection-item-field-related-other-unlimited .field-name-field-address {
  font-size: 14px;
  line-height: 1.3;
}
.group-wrapper-related .field-collection-item-field-related-other-unlimited .field-name-field-event-date {
  font-family: "NewsGothicBT-Demi", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.group-wrapper-related .field-name-field-link-unlimited,
.group-wrapper-related .field-name-field-link-related-unlimited,
.group-wrapper-related .field-name-field-file-unlimited-public {
  padding: 18px 26px;
}
.group-wrapper-related .field-name-field-link-unlimited div,
.group-wrapper-related .field-name-field-link-related-unlimited div,
.group-wrapper-related .field-name-field-file-unlimited-public div {
  line-height: 0;
  margin-bottom: 10px;
}
.group-wrapper-related .field-name-field-link-unlimited div:last-of-type,
.group-wrapper-related .field-name-field-link-related-unlimited div:last-of-type,
.group-wrapper-related .field-name-field-file-unlimited-public div:last-of-type {
  margin-bottom: 0;
}
.group-wrapper-related .field-name-field-link-unlimited a,
.group-wrapper-related .field-name-field-link-related-unlimited a,
.group-wrapper-related .field-name-field-file-unlimited-public a {
  font-family: "NewsGothicBT-Demi", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.3;
  word-break: break-word;
}
.group-wrapper-related .field-name-field-link-unlimited a[target=_blank]:after,
.group-wrapper-related .field-name-field-link-related-unlimited a[target=_blank]:after,
.group-wrapper-related .field-name-field-file-unlimited-public a[target=_blank]:after {
  font-size: 10px;
}
