.top-stories-wrapper .superhead {
  border-top: 10px #231f20 solid;
}

.node-idea-story.view-mode-full .top-stories-fieldset, .pane-top-idea-story {
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  margin: 0 1px 1px 1px;
}
@media (max-width: 35.5em) {
  .node-idea-story.view-mode-full .top-stories-fieldset, .pane-top-idea-story {
    margin-top: 1px;
  }
}

.top-stories-wrapper .ds-2col {
  overflow: hidden;
  *zoom: 1;
}
.top-stories-wrapper .node-idea-story.view-mode-idea_story_top_stories .group-left,
.top-stories-wrapper .node-idea-story.view-mode-idea_story_top_stories .group-right {
  float: none;
  width: 100%;
}
.top-stories-wrapper .node-idea-story.view-mode-idea_story_top_stories .group-left {
  margin-bottom: 8px;
}
.top-stories-wrapper .superhead {
  display: inline-block;
  font-size: 14px;
  line-height: 1;
  margin-bottom: 26px;
  padding-top: 8px;
}
.top-stories-wrapper .view-mode-idea_story_top_stories {
  margin-bottom: 26px;
}
.top-stories-wrapper .view-mode-idea_story_top_stories:last-of-type {
  margin-bottom: 0;
}
.top-stories-wrapper .field-name-field-image-key-image {
  max-width: 212px;
}
@media (min-width: 20.0625em) and (max-width: 71.5em) {
  .top-stories-wrapper .field-name-title {
    width: 100%;
  }
}
.top-stories-wrapper .field-name-title h2 {
  font-family: "NewsGothicBT", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  line-height: 0;
}
.top-stories-wrapper .field-name-title h2 a {
  font-size: 18px;
  line-height: 1.2;
}

.node-idea-story.view-mode-full .top-stories-fieldset {
  background: white;
  padding: 0 26px 26px;
  border: none;
  height: auto !important;
  margin: 0;
  margin-bottom: 20px;
}
@media (max-width: 71.5em) {
  .node-idea-story.view-mode-full .top-stories-fieldset {
    padding-bottom: 18px;
  }
}
.node-idea-story.view-mode-full .top-stories-fieldset legend {
  display: none;
  padding: 0;
}
@media (max-width: 71.5em) {
  .node-idea-story.view-mode-full .top-stories-fieldset legend {
    display: block;
    float: left;
    font-family: "NewsGothicBT-Demi", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    line-height: 1.2;
    padding-top: 20px;
  }
}
@media (min-width: 71.5625em) {
  .node-idea-story.view-mode-full .top-stories-fieldset .fieldset-wrapper {
    display: block !important;
  }
}
@media (max-width: 71.5em) {
  .node-idea-story.view-mode-full .top-stories-fieldset .fieldset-wrapper {
    clear: left;
    padding-top: 20px;
  }
}
.node-idea-story.view-mode-full .top-stories-fieldset .node-idea-story.view-mode-idea_story_top_stories .group-left,
.node-idea-story.view-mode-full .top-stories-fieldset .node-idea-story.view-mode-idea_story_top_stories .group-right {
  float: none;
  width: 100%;
}
.node-idea-story.view-mode-full .top-stories-fieldset .node-idea-story.view-mode-idea_story_top_stories .group-left {
  margin-bottom: 8px;
}
@media (min-width: 20.0625em) and (max-width: 71.5em) {
  .node-idea-story.view-mode-full .top-stories-fieldset .node-idea-story.view-mode-idea_story_top_stories .group-left {
    margin-bottom: 0;
    margin-right: 16px;
    width: 170px;
  }
}
@media (min-width: 20.0625em) and (max-width: 26.25em) {
  .node-idea-story.view-mode-full .top-stories-fieldset .node-idea-story.view-mode-idea_story_top_stories .group-left {
    width: 50%;
    min-width: 100px;
  }
}
.node-idea-story.view-mode-full .top-stories-fieldset .node-idea-story.view-mode-idea_story_top_stories .group-right {
  margin-left: 0;
}
@media (min-width: 20.0625em) and (max-width: 71.5em) {
  .node-idea-story.view-mode-full .top-stories-fieldset .node-idea-story.view-mode-idea_story_top_stories .group-right {
    float: left;
    margin-left: -176px;
    padding-left: 195px;
  }
}
@media (min-width: 20.0625em) and (max-width: 25em) {
  .node-idea-story.view-mode-full .top-stories-fieldset .node-idea-story.view-mode-idea_story_top_stories .group-right {
    margin-left: -160px;
    padding-left: 170px;
  }
}
@media (max-width: 71.5em) {
  .node-idea-story.view-mode-full .superhead {
    display: none;
  }
}
@media (min-width: 20.0625em) and (max-width: 71.5em) {
  .node-idea-story.view-mode-full .field-name-field-image-key-image {
    float: left;
    max-width: 170px;
  }
}

.pane-top-idea-story {
  background: white;
  padding: 0 26px 26px;
}
.pane-top-idea-story .pane-title {
  display: none;
}
.wide-view .pane-top-idea-story .node-idea-story.view-mode-idea_story_top_stories .group-left {
  margin-bottom: 0;
  margin-right: 16px;
  width: 170px;
}
@media (min-width: 35.5em) and (max-width: 41.75em) {
  .wide-view .pane-top-idea-story .node-idea-story.view-mode-idea_story_top_stories .group-left {
    margin-bottom: 8px;
    margin-right: 0;
    width: 100%;
  }
}
@media (min-width: 20.0625em) and (max-width: 26.25em) {
  .wide-view .pane-top-idea-story .node-idea-story.view-mode-idea_story_top_stories .group-left {
    width: 50%;
    min-width: 100px;
  }
}
@media (max-width: 20em) {
  .wide-view .pane-top-idea-story .node-idea-story.view-mode-idea_story_top_stories .group-left {
    margin-bottom: 8px;
    margin-right: 0;
    width: 100%;
  }
}
.wide-view .pane-top-idea-story .node-idea-story.view-mode-idea_story_top_stories .group-right {
  float: left;
  margin-left: -176px;
  padding-left: 195px;
}
@media (min-width: 20.0625em) and (max-width: 25em) {
  .wide-view .pane-top-idea-story .node-idea-story.view-mode-idea_story_top_stories .group-right {
    margin-left: -160px;
    padding-left: 170px;
  }
}
@media (min-width: 35.5em) and (max-width: 41.75em) {
  .wide-view .pane-top-idea-story .node-idea-story.view-mode-idea_story_top_stories .group-right {
    float: none;
    margin-left: 0;
    padding-left: 0;
  }
}
@media (max-width: 20em) {
  .wide-view .pane-top-idea-story .node-idea-story.view-mode-idea_story_top_stories .group-right {
    float: none;
    margin-left: 0;
    padding-left: 0;
  }
}
.wide-view .pane-top-idea-story .node-idea-story.view-mode-idea_story_top_stories .field-name-field-image-key-image {
  float: left;
  max-width: 170px;
}
@media (min-width: 35.5em) and (max-width: 41.75em) {
  .wide-view .pane-top-idea-story .node-idea-story.view-mode-idea_story_top_stories .field-name-field-image-key-image {
    float: none;
    max-width: 212px;
  }
}
@media (max-width: 20em) {
  .wide-view .pane-top-idea-story .node-idea-story.view-mode-idea_story_top_stories .field-name-field-image-key-image {
    float: none;
    max-width: 212px;
  }
}
@media (min-width: 20.0625em) and (max-width: 35.5em) {
  .narrow-view .pane-top-idea-story .node-idea-story.view-mode-idea_story_top_stories .group-left {
    margin-bottom: 0;
    margin-right: 16px;
    width: 170px;
  }
}
@media (min-width: 20.0625em) and (max-width: 26.25em) {
  .narrow-view .pane-top-idea-story .node-idea-story.view-mode-idea_story_top_stories .group-left {
    width: 50%;
    min-width: 100px;
  }
}
.narrow-view .pane-top-idea-story .node-idea-story.view-mode-idea_story_top_stories .group-right {
  margin-left: 0;
}
@media (min-width: 20.0625em) and (max-width: 35.5em) {
  .narrow-view .pane-top-idea-story .node-idea-story.view-mode-idea_story_top_stories .group-right {
    float: left;
    margin-left: -176px;
    padding-left: 195px;
  }
}
@media (min-width: 20.0625em) and (max-width: 25em) {
  .narrow-view .pane-top-idea-story .node-idea-story.view-mode-idea_story_top_stories .group-right {
    margin-left: -160px;
    padding-left: 170px;
  }
}
@media (min-width: 20.0625em) and (max-width: 35.5em) {
  .narrow-view .pane-top-idea-story .node-idea-story.view-mode-idea_story_top_stories .field-name-field-image-key-image {
    float: left;
    max-width: 170px;
  }
}
