// CUSTOM GSB REVAMP EXTENDS

%p
  font-size: 18px
  line-height: 1.4

////////////
// Double arrow
////////////

%arrow-double-big
  position: absolute
  font-size: 21px
  right: 12px
  top: 50%
  margin-top: -10px
  line-height: 0

%arrow-double-small
  @extend %arrow-double-big
  font-size: 16px
  margin-top: -8px
  right: 22px

///////////////
// BACKGROUNDS
///////////////

// Grey solid background like on right sidebar related links
%bg-grey-solid
  background-color: $grey-e

// Grey gradient background used on left sidebar submenu
%bg-grey-gradient
  +background(linear-gradient(top, rgba($grey-f, 1), rgba($grey-f, 0)))

// Grey gradient background used on view content panes
%bg-grey-gradient-e
  +background(linear-gradient(top, rgba(#e7e7e7, 1), rgba($grey-light, 1)))

// Standard container gradient
%bg-white-gradient
  background-color: #f9f9f9
  +background(linear-gradient(bottom, #f9f9f9 20%, $white 100%))

////////////
// BORDERS
///////////

%divider-top
  border-top: 1px #d3d3d3 solid

%divider-bottom
  border-bottom: 1px #d3d3d3 solid

// White border
%border
  border: 2px $white solid

// Grey border
%border-grey
  border: 1px #e4e4e4 solid

// Red top border
%red-border-top
  border-top: 10px $red solid

// Black top border - big
%black-border-top
  border-top: 10px $text-black solid

// Black top border - small
%black-border-top-small
  border-top: 3px $text-black solid

// Teal top border
%teal-border-top
  border-top: 10px $teal-light solid

// Taupe top border
%taupe-border-top
  border-top: 10px $grey-med solid

////////////////
// CONTAINERS
////////////////

%box-shadow
  +box-shadow(rgba($black, 0.1) 0 1px 0, rgba($black, 0.1) 0 0 0 1px)
  margin: 0 1px 1px 1px
  +breakpoint($bp-mobile-max)
    margin-top: 1px

%border-and-box-shadow
  @extend %box-shadow
  @extend %border

// Design doc: https://docs.google.com/a/stanford.edu/document/d/10xlCbS9kfaUAVINQb3bR63SHBwBExYqIGygdiTJSBmI
%bg-border-and-box-shadow
  @extend %border-and-box-shadow
  @extend %bg-white-gradient

.ie8
  %bg-border-and-box-shadow
    border: 1px $grey-c solid !important
    margin-left: 0 !important
    margin-right: 0 !important

%bg-and-box-shadow
  @extend %box-shadow
  @extend %bg-white-gradient
  margin: 1px

// Gradients

%gradient-green
  background: $text-green
  +background(linear-gradient(top, #6c7200, $text-green))

%gradient-blue
  background: $text-blue
  +background(linear-gradient(top, #18455f, $text-blue))

%gradient-red
  background-color: $red-light
  +background(linear-gradient(bottom, $red-light 0%, $red-dark 100%))

// Global pieces

// Show More link
%show-more-link
  border: 0
  color: $link-green
  cursor: pointer
  display: block
  font-weight: bold
  line-height: 1
  margin: 5px 0 0
  text-align: right
  span
    font-size: 14px
    padding-left: 16px
    +icon-before("arrow-med-down", true)
    &:before
      font-size: 12px
      font-weight: normal
      position: relative
      right: 5px
  &:hover
    color: $link-blue
    text-decoration: underline
  &.active
    span
      +icon-before("arrow-med-up", false)

// Rounded green buttons
%green-button
  border: none
  +border-radius(20px)
  @extend %gradient-green
  color: $white
  font-family: $font-sans
  font-size: 16px
  font-weight: bold
  line-height: 1
  padding: 10px 16px
  &:after
    color: $white !important
  &:hover
    @extend %gradient-blue
    border: 0
    color: $white
    &:after
      color: $white !important

// Rectangle teal CTA link style with >>
%teal-cta
  background: $teal-dark
  color: $white
  display: block
  font-size: 14px
  font-weight: bold
  line-height: 1.2
  padding: 10px 17px
  text-align: left
  position: relative
  +icon-after("arrow-double-right", true)
  &:after
    color: $white
    font-size: 16px
    font-weight: normal
    line-height: 0
    position: absolute
    right: 14px
    top: 50%
  &:hover
    background: $link-blue
    color: $white
    &:after
      color: $white

// Attached document icons
%doc-attached-icons
  margin-left: 3px
  font-weight: normal
  &:hover
    &:after
      color: $text-blue

// Related links fpp
%related-links
  padding: 0 24px 24px 24px
  // Links
  .field-type-link-field .field-item
    line-height: 1.3
    padding-bottom: 20px
    a
      color: $red
      font-size: 14px
      font-weight: bold

// Profile detail information blocks
// PhD, Faculty
%group-wrapper-information
  @extend %bg-border-and-box-shadow
  padding: 15px 0
  > div
    line-height: 0
  a
    color: $link-green
    font-size: 16px
    font-family: $font-demi
    font-weight: normal
    line-height: 1.2
    &:hover
      color: $link-blue
    &[target=_blank]
      +icon-after("arrow-external", true)
      &:after
        font-size: 12px
        font-weight: normal
        margin-left: 0.3em
  .field
    padding: 0 26px

// Social icon circle
%circle
  @extend %gradient-red
  +border-radius(50px)
  color: $white
  display: block
  margin: 0 auto
  text-align: center
  width: 40px
  height: 40px
  &:after
    color: $white
    font-size: 21px
    position: relative
    top: 10px
  &:hover
    @extend %gradient-blue
    &:after
      color: $white
