// Custom extends

%p
  font-size: 18px
  line-height: 1.4
  +breakpoint(700px max-width)
    font-size: 16px

// Double arrow for CTA's
%arrow-double-big
  font-size: 21px
  font-weight: normal
  line-height: 0
  margin-top: -10px
  position: absolute
  right: 12px
  top: 50%

%arrow-double-small
  @extend %arrow-double-big
  font-size: 16px
  margin-right: 14px
  margin-top: -8px
  right: 0

// Rectangle teal CTA link with double arrow right
%teal-cta
  background: $teal-dark
  color: $white
  display: block
  font-family: $font-demi
  font-size: 14px
  font-weight: normal
  line-height: 1.2
  padding: 14px 36px 11px $standard-padding
  position: relative
  text-align: left
  +icon-after("arrow-double-right", true)
  &:after
    @extend %arrow-double-small
    color: $white
  &:hover
    background: $link-blue
    color: $white
    &:after
      color: $white

// White link CTA
%cta-white-link
  background: $red-light
  +background(linear-gradient(bottom, $red-light, $red-dark))
  +box-shadow($black, 0.45, 1px 1px 1px)
  margin-bottom: 12px
  padding: 14px $standard-padding 11px $standard-padding
  a
    color: $white
    display: block
    font-size: 20px
    line-height: 1.3
    position: relative
    top: -2px
    +icon-after("arrow-double-right", true)
    &:after
      @extend %arrow-double-big
      right: 0
      color: $white
  &:hover
    background: $blue-dark
    +background(linear-gradient(#194560, #2c6180))
    a
      &:after
        color: $white

// Green link CTA
%cta-green-link
  @extend %bg-and-box-shadow
  margin-bottom: 12px
  padding: 14px $standard-padding 11px $standard-padding
  a
    color: $link-green
    display: block
    font-size: 20px
    line-height: 1.2
    position: relative
    +icon-after("arrow-double-right", true)
    &:after
      @extend %arrow-double-big
      right: 0
      color: $grey-med
    &:hover
      color: $link-blue
      &:after
        color: $teal-light

// Red link CTA
%cta-red-link
  @extend %bg-and-box-shadow
  margin-bottom: 12px
  padding: 14px $standard-padding 11px $standard-padding
  a
    display: block
    font-size: 20px
    line-height: 1.2
    position: relative
    +icon-after("arrow-double-right", true)
    &:after
      @extend %arrow-double-big
      right: 0
      color: $grey-med
    &:hover
      &:after
        color: $teal-light


// Backgrounds

// Grey gradient background used on left sidebar submenu
%bg-grey-gradient
  +background(linear-gradient(top, rgba($grey-f, 1), rgba($grey-f, 0)))

// Grey gradient background used on view content panes
%bg-grey-gradient-e
  +background(linear-gradient(top, rgba(#e7e7e7, 1), rgba($grey-light, 1)))

// White container
%bg-white
  background: $white

// Borders
%divider-top
  border-top: 1px $border-grey solid

%divider-bottom
  border-bottom: 1px $border-grey solid

// White border
%border-white
  border: 2px $white solid

// Grey border
%border-grey
  border: 1px #e4e4e4 solid

// Red top border
%red-border-top
  border-top: 10px $red solid

// Black top border - big
%black-border-top
  border-top: 10px $text-black solid

// Black top border - small
%black-border-top-small
  border-top: 3px $text-black solid

// Teal top border
%teal-border-top
  border-top: 10px $teal-light solid

// Taupe top border
%taupe-border-top
  border-top: 10px $grey-med solid

// Container styles

// Box shadow only for containers
%box-shadow
  +box-shadow(rgba($black, 0.1) 0 1px 0, rgba($black, 0.1) 0 0 0 1px)
  margin: 1px

// White border and box shadow
%border-and-box-shadow
  @extend %border-white
  @extend %box-shadow

// White background with light grey border ala Insights
%bg-and-box-shadow
  @extend %bg-white
  @extend %box-shadow

// Gradients

%gradient-green
  background: $text-green
  +background(linear-gradient(top, #6c7200, $text-green))

%gradient-blue
  background: $text-blue
  +background(linear-gradient(top, #18455f, $text-blue))

%gradient-red
  background-color: $red-light
  +background(linear-gradient(bottom, $red-light 0%, $red-dark 100%))

%gradient-grey
  background: #f5f5f5
  +background(linear-gradient(top, #f5f5f5, $white))
// Global pieces

// Show More link
%show-more-link
  border: 0
  color: $link-green
  cursor: pointer
  display: block
  font-weight: bold
  line-height: 1
  margin: 5px 0 0
  text-align: right
  span
    font-size: 14px
    padding-left: 16px
    +icon-before("arrow-med-down", true)
    &:before
      font-size: 12px
      font-weight: normal
      position: relative
      right: 5px
  &:hover
    color: $link-blue
    text-decoration: underline
  &.active
    span
      +icon-before("arrow-med-up", false)

// Rounded button
%rounded-button
  border: none
  +border-radius(20px)
  color: $white
  font-family: $font-sans
  font-size: 16px
  line-height: 1
  padding: 10px 16px
  &:after
    color: $white !important
  &:hover
    background-color: $link-blue
    border: 0
    color: $white
    &:after
      color: $white !important

// Rounded green button
%green-button
  @extend %rounded-button
  background: $lime-bright

// Rounded red button
%red-button
  @extend %rounded-button
  @extend %gradient-red
  @extend %box-shadow

// Rounded grey button
%grey-button
  @extend %rounded-button
  @extend %gradient-grey
  @extend %box-shadow
  color: $link-green

// Rounded white button
%white-button
  @extend %rounded-button
  @extend %box-shadow
  background: $white
  color: $link-green !important
  &:hover
    background: $link-blue
    color: $white !important

// Attached document icons
%doc-attached-icons
  margin-left: 3px
  font-weight: normal

// Related links fpp
%related-links
  padding: 0 24px 24px 24px
  // Links
  .field-type-link-field .field-item
    line-height: 1.3
    padding-bottom: 20px
    a
      color: $red
      font-size: 14px
      font-weight: bold

// Profile detail information blocks
// PhD, Faculty
%group-wrapper-information
  @extend %bg-and-box-shadow
  padding: 15px 0
  > div
    line-height: 0
  a
    color: $link-green
    font-size: 16px
    font-family: $font-demi
    font-weight: normal
    line-height: 1.2
    &:hover
      color: $link-blue
    &[target=_blank]
      &:after
        font-size: 10px
        font-weight: normal
  .field
    padding: 0 26px

// Social icon circle
%circle
  background: $red
  +border-radius(50px)
  color: $white
  display: block
  margin: 0 auto
  text-align: center
  width: 40px
  height: 40px
  &:after
    color: $white
    position: relative
    top: 10px
  &:hover
    background: $link-blue
    &:after
      color: $white

// Resource body styles
%resources-body
  +clearfix

  // Intro paragraph
  p
    &:first-of-type
      font-size: 22px
      line-height: 1.6
      +breakpoint(600px max-width)
        font-size: 18px

  // Blockquote
  blockquote,
  blockquote p
    font-size: 18px !important
    line-height: 1.4 !important
    max-width: 560px

  // Headers
  h2, h3, h4
    line-height: 1.2
    margin-bottom: 6px
  // Heading 2
  h2
    font-family: $font-sans
    font-size: 22px
    font-weight: bold
    margin: 30px 0 10px 0
  // Heading 3
  h3
    font-family: $font-sans
    font-size: 18px
    font-weight: bold
  // Ordered and unordered lists
  ol, ul
    li
      margin-bottom: 12px
      &:last-of-type
        margin-bottom: 0
  ul
    li:before
      color: $text-black

%insights-resource-right
  float: right
  margin-bottom: 20px
  margin-left: 20px

// Insights, school story, announcement detail pages

// Social media buttons
// Top social buttons
%social-buttons-top
  @extend %black-border-top-small
  border-bottom: 1px $text-black solid
  margin-bottom: 40px
  margin-top: 20px
  padding: 18px 0 9px
  padding-left: 12px

// Bottom social buttons
%social-buttons-bottom
  margin-top: 50px
  +breakpoint(687px max-width)
    display: block
    margin-bottom: 0

// Share this short url
// Wrapper
%short-url-wrapper
  line-height: 3.2
  margin-bottom: 36px

// Url
%short-url
  background: $white
  border: 1px $border-grey solid
  color: $text-green
  display: inline-block
  line-height: 1.2
  margin-left: 8px
  padding: 8px

// Faculty specific
%faculty-headers
  color: $text-black
  font-family: $font-demi
  font-weight: normal
  line-height: 1.2
  margin: 0 0 12px 0
  padding: 0

%header-large
  @extend %faculty-headers
  font-size: 18px

%header-small
  @extend %faculty-headers
  font-size: 16px

%faculty-bullets
  ul
    margin: 0
    padding: 0
    text-indent: 0
    li
      font-size: 16px
      line-height: 1.2
      margin-bottom: 6px
      padding-left: 14px
      &:before
        content: "• "
        color: $text-black
        float: left
        position: relative
        left: -14px
        width: 0
  a[target=_blank]
    &:after
      font-size: 12px

%faculty-paragraph
  font-size: 16px
  line-height: 1.4
  margin-bottom: 18px
  &:last-of-type
    margin-bottom: 0

%faculty-title-text
  font-family: $font-demi
  font-size: 14px
  font-weight: normal
  line-height: 1.2

%faculty-link
  @extend %faculty-title-text
  +icon-after("arrow-double-right", true)
  &:after
    font-size: 10px
    margin-left: 3px
  &[target=_blank]
    +icon-after("arrow-external", true)

// Superheads

// Black superhead (insights)
%superhead-black
  background: $text-black
  color: $white
  display: inline-block
  font-family: $font-demi
  font-size: 14px
  font-weight: normal
  line-height: 1.2
  margin-bottom: 26px
  padding: 6px 8px
  position: relative
  z-index: 2
  +breakpoint(610px max-width)
    font-size: 13px
    margin-bottom: 20px
