// The following classes are for use with @extend.

%mono
  font-family: $font-mono
  _font-family: $font-mono

%constrain-to-parent
  max-width: 100%

%italic
  font-style: italic

%bold
  font-weight: bold
