@charset "UTF-8"

// IMPORT COMPASS AND EXTENSIONS
@import compass
@import breakpoint
@import ../fonts/icons/icons

@import partials/base/00-variables/all
@import partials/base/03-extend/gsb-revamp

// Weather block

.pane-gsb-public-custom-blocks-gpcb-weather-widget
  @extend %bg-border-and-box-shadow
  padding: $standard-padding
  .weather-widget
    +clearfix
  .title
    margin-bottom: 14px
  img
    float: left
    margin-right: 8px
  .temperature
    font-weight: bold
  .station
    font-size: 14px
    line-height: 1
    text-transform: uppercase
    &:hover
      color: $link-blue
    +icon-after("arrow-double-right", true)
    &:after
      font-size: 12px
