@charset "UTF-8"

// IMPORT COMPASS AND EXTENSIONS
@import compass
@import breakpoint
@import ../../fonts/icons/icons
@import partials/base/00-variables/all
@import partials/base/03-extend/gsb-revamp

// Clubs - Listing
.view-display-id-club_list,
.view-display-id-search_club
  border-top: 0
  margin-bottom: 30px
  .view-content
    @extend %bg-border-and-box-shadow
  .views-row
    border-bottom: none
    padding: 0 $standard-padding
    position: relative
    top: 0

.node-club.view-mode-teaser
  padding: 0
  position: relative
  top: 0
  // Title
  .field-name-title,
  .field-name-field-link-single
    margin-bottom: 18px
    padding-top: 20px
    &:before
      content: image_url("tab-club.jpg")
      position: absolute
      top: -8px
  h2
    font-family: $font-sans
    font-size: 18px
    font-weight: bold
    line-height: 1.2
    a
      color: $link-green
      padding-right: 10px
      &:after
        color: $green-light
        font-size: 12px
      &:hover
        color: $link-blue
        &:after
          color: $teal-light
  // Description
  .field-name-field-body
    @extend %p
    margin: 4px 0
  // Email
  .field-name-field-email
    margin-bottom: 30px
    a
      color: $link-green
      +icon-after("email-stroke", true)
      &:after
        font-size: 12px
        line-height: 0
        margin-left: 0.3em
      &:hover
        color: $link-blue
        text-decoration: underline

// Club filters
.pane-club-filters-club-by-id-or-tag
  @extend %bg-border-and-box-shadow
  padding: $standard-padding
  overflow: hidden
  h2
    margin-bottom: 18px
  .view-club-filters
    .more-link
      min-width: 145px
      float: right
      text-align: left
      a
        display: block
        font-size: 18px
        color: $link-green
        position: relative
        +icon-after("arrow-double-right", true)
        &:after
          @extend %arrow-double-big
          font-weight: bold
          color: #e3e3e3
        &:hover
          color: $link-blue
          &:after
            color: $teal-light

// Hide duplicate search and filter
#views-exposed-form-club-filters-club-list
  #edit-term-node-tid-depth-2-wrapper
    .inner-sidebar-wrapper &
      display: none
  #edit-keyword-wrapper,
  #edit-search-wrapper,
  .views-submit-button
    .inner-main-wrapper &
      display: none

// Alumni list - titles only
.pane-club-filters-club-alumni-list
  .pane-title
    margin-bottom: 20px
.view-display-id-club_alumni_list
  // Container
  .view-content
    @extend %bg-border-and-box-shadow
    padding: 0 $standard-padding
  .views-row
    position: relative
    top: 0
  // Title
  .views-field-title
    font-family: $font-sans
    font-size: 18px
    font-weight: bold
    line-height: 1.2
    margin-bottom: 26px
    padding-top: 20px
    &:before
      content: image_url("tab-club.jpg")
      position: absolute
      top: -8px
    a
      color: $link-green
      &:after
        color: $green-light
        font-size: 12px
      &:hover
        color: $link-blue
        &:after
          color: $teal-light
