@charset "UTF-8"

// IMPORT COMPASS AND EXTENSIONS
@import compass
@import breakpoint
@import ../../fonts/icons/icons
@import partials/base/00-variables/all
@import partials/base/03-extend/gsb-revamp

// E-newsletters listing

// Re:Think e-newsletters
.pane-e-newsletters-list
  @extend %bg-and-box-shadow
  padding: $standard-padding
  h2
    color: $text-black
    font-size: 20px
    font-weight: bold
    padding-bottom: 10px
    line-height: 1.2
  .display_archive .campaign
    color: $text-grey-light
    font-size: 16px
    font-weight: normal
    line-height: 1.2
    padding-bottom: 12px
    a
      color: $text-black
      font-family: $font-demi
      font-weight: normal
      +icon-after("arrow-double-right", true)
      &:after
        color: $link-green
        font-size: 12px
        margin-left: 3px
      &:hover
        color: $link-blue
        &:after
          color: $teal-light
