@charset "UTF-8"

// IMPORT COMPASS AND EXTENSIONS
@import compass
@import breakpoint
@import ../../fonts/icons/icons
@import partials/base/00-variables/all
@import partials/base/03-extend/gsb-revamp

// Re:Think form

// Form styling
.pane-rethink-form
  // Pad left side
  .mergeTable
    padding-left: 2px
  // Spacing between fields
  .mergeRow
    margin-bottom: 14px

  // Submit button
  .button
    @extend %green-button
    padding: 8px 12px
    &:hover
      background: $link-blue
