@charset "UTF-8"

// IMPORT COMPASS AND EXTENSIONS
@import compass
@import breakpoint
@import ../../fonts/icons/icons
@import partials/base/00-variables/all
@import partials/base/03-extend/gsb-revamp

// Hide page title on detail
.node-type-seed-research-project
  .region-content 
    a, a:link, a:visited, a:hover, a:active
      color: #636f00 !important
  h1.title
    font-size: 32px
    line-height: 1.3
    font-weight: bold
    border-top: 3px solid #231f20
    padding-top: 25px
  .field-name-field-srl-principal-investigator,
    font-size: 20px
    line-height: 1.3
    font-weight: normal
    margin-bottom: 20px
    h4
      font-size: 20px
      line-height: 1.3
      font-weight: bold
      margin-bottom: 3px
  .field-collection-container
    border-bottom: none
    margin-bottom: 0px
    .field-collection-view
      padding: 0
      margin: 0
      border-bottom: none
      .field-items .field-item
        margin-bottom: 0px
  .field-name-field-srl-co-investigators  
    font-size: 20px
    line-height: 1.3
    font-weight: normal
    margin-bottom: 15px
    h4
      font-size: 20px
      line-height: 1.3
      font-weight: bold
      margin-bottom: 3px
    .field-collection-item-field-srl-co-investigators 
      margin-bottom: 10px
    .field-collection-view-final
      .field-collection-item-field-srl-co-investigators 
        margin-bottom: 0px
  .panel-separator
    display: none
  .pane-node-field-research-locations,
  .pane-node-gsb-feature-seed-research-library-ct-award-date,
  .pane-node-field-award-type,
  .pane-node-field-status
    margin-bottom: 5px !important
    .label-inline::after
      content: "\2013"
      display: inline
      text-transform: none
      font-style: normal
      font-variant: normal
      font-weight: normal
      font-family: 'icons'
      margin-left: 5px
      margin-right: 5px
  .field-name-field-research-locations,
  .field-name-field-month,
  .pane-node-gsb-feature-seed-research-library-ct-award-date,
  .field-name-field-award-type,
  .field-name-field-status
    font-size: 18px !important
    h5
      font-size: 18px
      line-height: 1.3
      font-weight: bold
      display: inline
  .pane-node-gsb-feature-seed-research-library-ct-award-date h5,
  .pane-node-gsb-feature-seed-research-library-ct-award-date .field-name-award-date
    display: inline-block
    line-height: 1.3
  #panels-ipe-paneid-972941,
  .pane-node-field-award-type
    clear: both
  .field-name-field-abstract,
    margin-top: 30px
    h2
      font-size: 24px
      line-height: 1.3
      font-weight: bold
      margin-bottom: 5px
  .field-name-field-research-results
    margin-top: 30px
    h2
      font-size: 22px
      line-height: 1.3
      font-weight: bold
      margin-bottom: 2px
    .field-collection-item-field-research-results 
      font-size: 18px
      line-height: 1.3
      font-weight: normal
      padding-top: 6px
      padding-bottom: 6px
      border-bottom: 1px solid #c4c4c4
      display: inline-block
      width: 100%
      .field-name-field-link-single 
        float: left
        display: inline-block
        margin-right: 2px
      .field-name-field-file-single-public
        direction: rtl
        width: 16px
        overflow-x: hidden
        white-space: nowrap
    .field-collection-item-field-research-results:last-child
      border-bottom: none !important
      
// Seed Research Non-Customizable list style
.view-seed-research-listing
  .views-row
    border-top: 1px $listing-divider solid
    padding: 26px 0
    &:first-of-type
      border-top: 0
    .field-content
      font-size: 18px
      line-height: 1.3
      font-weight: normal
      h2
        font-family: $font-sans
        font-size: 20px
        font-weight: bold
        line-height: 1.3
        a
          font-family: $font-sans
          font-size: 20px
          font-weight: bold
          line-height: 1.3
      .listing-field-title
        margin-bottom: 6px
      .listing-field
        margin-top: 3px
      span
        font-weight: bold
      span.date-display-single
        font-weight: normal
  .views-exposed-form
    border-bottom: 1px lightgray solid

// Seed Research Customizable list style
.pane-seed-research-filters-seed-research-filters-pane
  @extend %bg-and-box-shadow
  background: #f4f4f4
  padding: 0 $standard-padding 14px
  
  // Pane title
  h2.pane-title
    @extend %black-border-top
    color: $text-black
    font-family: $font-demi
    font-size: 18px
    font-weight: normal
    line-height: 1.3
    margin-bottom: 18px
    padding-top: 12px

  // Row styling
  .views-row
    border-bottom: 1px $border-grey solid
    padding: 12px 0 9px
    &:first-of-type
      padding-top: 0
    &:last-of-type
      border-bottom: 0
  .views-field
    h2
      font-family: $font-sans
      font-size: 20px
      font-weight: bold
      line-height: 1.3
      a
        font-family: $font-sans
        font-size: 20px
        font-weight: bold
        line-height: 1.3
    .listing-field-title
      margin-bottom: 6px
    .listing-field
      margin-top: 3px
      font-weight: normal
      span
        font-weight: bold
      span.date-display-single
        font-weight: normal
  .list-cta
    font-size: 16px
    line-height: 1.2
    margin: 17px -26px -14px
    background-color: #231f20
    padding: 15px 26px
    text-align: right
    a
      color: #D6D6D6
      &:hover
        text-decoration: underline
    a::after
      content: "\f101"
      display: inline
      text-transform: none
      font-style: normal
      font-variant: normal
      font-weight: normal
      font-family: 'icons'
      margin-left: 5px
    
