@charset "UTF-8"

// IMPORT COMPASS AND EXTENSIONS
@import compass
@import breakpoint
@import ../../fonts/icons/icons
@import partials/base/00-variables/all
@import partials/base/03-extend/gsb-revamp

// File for the Voices NON-CUSTOMIZABLE LISTS
//Hover gradients
a[class^="bg-"]:hover
  text-decoration: none
  &:before
    content: ''
    height: 100%
    position: absolute
    top: 0
    width: 100%

.views-row
  .bg-blue:hover
    &:before
      background: linear-gradient( to bottom, rgba(38,99,157,0.5), rgb(38,99,157) 50% )
      background-size: cover

  .bg-brightteal:hover
    &:before
      background: linear-gradient( to bottom, rgba(0,97,82,0.5), rgb(0,97,82) 50% )
      background-size: cover

  .bg-charcoal:hover
    &:before
      background: linear-gradient( to bottom, rgba(51,51,51,0.5), rgb(51,52,51) 50% )
      background-size: cover

  .bg-pink:hover
    &:before
      background: linear-gradient( to bottom, rgba(221,24,128,0.5), rgb(221,24,128) 50% )
      background-size: cover

  .bg-purple:hover
    &:before
      background: linear-gradient( to bottom, rgba(151,24,93,0.5), rgb(151,24,93) 50% )
      background-size: cover

  .bg-green:hover
    &:before
      background: linear-gradient( to bottom, rgba(0,97,82,0.5), rgb(0,97,82) 50% )
      background-size: cover

.pane-voices-filters-voices-list-cta-panel-pane,
.pane-gsb-voices-listing-panel-pane-1
  padding-bottom: 20px
  width: 100%
  .view-content
    +breakpoint($bp-for-phone-tablet-range)
      display: flex
      flex-wrap: wrap
      justify-content: center
      align-items: flex-start
    +breakpoint($bp-mobile-land)
      margin-left: 30px
    +breakpoint($bp-iphone6p-land)
      margin-left: 30px
    +breakpoint($bp-tablet-pot)
      margin-left: 45px
  .view-content > div
    vertical-align: top
  .views-row
    display: inline-block
    margin: 50px 45px 0 0
    position: relative
    width: 22%
    +breakpoint($bp-for-phone-tablet-range)
      display: block
      width: auto
    &:hover
      box-shadow: 0 0 4px 2px #c4c4c4

      // Hover for the quote for all the Cards.
      // This turns on & off the opacity to show the quote.
      div.views-field-field-quote
        opacity: 1
      div.views-field-title
        color: $white
        text-decoration: underline
        &:after
          color: $white

    .views-field-title
      color: $link-green
      padding: 25px 0 10px 20px
      position: relative
      text-align: left
      color: $link-green
      font-size: 26px
      &:hover
        text-decoration: none
      +icon-after("arrow-double-right", true)
        color: $green-light
        font-size: 18px
        font-weight: normal
        line-height: 0
        margin-top: 0
        padding-left: 10px
        &:hover
          color: $green-light
          text-decoration: none
        &:after
          color: $green-light
          text-decoration: none
        +breakpoint($bp-for-phone-tablet-range)
          font-size: 22px
    a > div:last-child
      padding-bottom: 45px
      +breakpoint($bp-for-phone-only)
        padding-bottom: 35px
    div:hover
      .views-field-field-degree-year,
      .views-field-title,
      .views-field-field-endowed-title-appointment
        color: $white

    .views-field-field-degree-year,
    .views-field-field-endowed-title-appointment
      color: $text-black
      font-size: 16px
      padding: 0 20px
      position: relative
      +breakpoint($bp-for-phone-tablet-range)
        font-size: 14px

    &:hover
      box-shadow: 0 0 4px 2px #c4c4c4

    .views-field-field-quote
      padding: 90px 10px 30px 20px
      &:after
        content: '”'
      &:before
        content: '“'
      color: $white
      cursor: pointer
      display: table
      left: 0
      position: absolute
      top: 0
      width: 100%
      opacity: 0
      text-align: left
      -webkit-transition: opacity 500ms
      -moz-transition: opacity 500ms
      -o-transition: opacity 500ms
      transition: opacity 500ms

.pane-voices-filters-voices-list-cta-panel-pane,
.view-gsb-voices-listing.view-id-gsb_voices_listing,
.pane-gsb-voices-listing-panel-pane-1
  padding-left: 35px
  .pane-title
    padding: 10px 0 20px 0
    color: $text-black
    font-family: $font-light
    font-size: 36px
    font-weight: normal
    line-height: 1.2
    +breakpoint($bp-for-phone-only)
      font-size: 25px
    +breakpoint($bp-for-tablet-range)
      font-size: 28px !important
.pane-gsb-voices-listing-panel-pane-1
  +breakpoint($bp-for-phone-only)
    padding: 0
  +breakpoint($bp-for-tablet-range)
    padding: 0 0 0 10px
  h2.pane-title // Titles sizes need to be as follows.
    +breakpoint($bp-for-phone-only)
      font-size: 26px !important
    +breakpoint($bp-mobile-land)
      font-size: 26px !important
    +breakpoint($bp-iphone6p-land)
      font-size: 26px !important
    +breakpoint($bp-iphone6-7-8p-land)
      font-size: 26px !important
    +breakpoint($bp-tablet-pot)
      font-size: 36px !important
    +breakpoint($bp-tablet-land)
      font-size: 36px !important

// Home page 3 across custom styles
.pane-gsb-voices-listing-panel-pane-1
  margin: 0 auto
  padding-left: 0
  width: 1170px
  padding-bottom: 0
  +breakpoint($bp-for-phone-tablet-range)
    width: auto
    h2
      margin-left: 20px
  +breakpoint($bp-iphone6p-port)
    h2
      margin-left: 30px

.view-gsb-voices-listing.view-id-gsb_voices_listing
  padding: 0
  +breakpoint($bp-tablet-land)
    padding-left: 0
  .views-row-1, .views-row-2
    +breakpoint($bp-for-phone-tablet-range)
      //padding-bottom: 70px
    +breakpoint($bp-for-phone-only)
      padding-bottom: inherit
    +breakpoint($bp-tablet-pot)
      margin-bottom: 50px
  .views-row-3
    +breakpoint($bp-for-phone-only)
      padding-bottom: inherit
    +breakpoint($bp-tablet-pot)
      margin-bottom: 50px
  .views-row
    border: 1px solid $listing-divider
    margin: 50px 45px 0 0
    width: 30% //360px
    +breakpoint($bp-for-phone-tablet-range)
      height: auto
      margin: 0 20px
    +breakpoint($bp-for-phone-only)
      margin: 0 0 35px 5px
      width: 86%
    +breakpoint($bp-for-tablet-range)
      margin: 0 30px 35px 0
    +breakpoint($bp-tablet-pot)
      width: 43%
    +breakpoint($bp-tablet-land)
      width: 30%
    +breakpoint($bp-iphone-range-land)
      padding-bottom: inherit
      width: 42.4%
    +breakpoint($bp-iphone6p-land)
      width: 42%
    +breakpoint($bp-iphone6p-port)
      width: 80%
    +breakpoint($bp-tablet-pot)
      margin: 0 46px 50px 0
    +breakpoint($bp-nexus-land)
      margin: 0 30px 35px 0
      width: 44%
    .views-field-title
      padding-top: 25px
      +breakpoint($bp-for-phone-tablet-range)
        padding-top: 25px
    .views-field-field-quote
      +breakpoint($bp-for-phone-tablet-range)
        padding: 90px 10px 30px 20px
      font-family: $font-demi
      font-size: 20px
      line-height: 1.5
      +breakpoint($bp-for-phone-tablet-range)
        font-size: 18px
      +breakpoint($bp-for-tablet-range)
        width: 100.29%
      +breakpoint($bp-nexus-landscape)
        font-size: 15px

  .views-row-last
    margin-right: 0

/* CTA Button */
.pane-content
  .homepage_voices_cta
    width: 205px
    margin: 0 auto
    +breakpoint($bp-iphone-port-to-land-range)
      margin: 0 auto 0
    +breakpoint($bp-tablet-range)
      margin: 10px auto 25px
    +breakpoint($bp-for-desktop-up)
      margin: 70px auto 35px

    @extend %bg-and-box-shadow
    &:first-of-type
      border-top: 0
    &:last-of-type
      border-bottom: 0
      +breakpoint($bp-mobile)
        border-bottom: 0
      +breakpoint($bp-mobile-large-range)
        border-bottom: 0
      +breakpoint(1024px 1199px)
        margin: 25px auto 25px
    a
      background-color: $red-dark
      color: $white
      font-size: 18px
      font-family: $font-demi
      min-height: 55px
      line-height: 1.2
      padding: 20px 28px 20px 20px
      display: block
      position: relative
      +icon-after("arrow-double-right", true)
        font-size: 18px
        font-weight: normal
        line-height: 0
        margin-top: 0
        display: inline-block
        right: 20px
        top: 50%
        position: absolute
      &:hover
        color: $white
        cursor: pointer
        background-color: #2D6280
        &:after
          color: $white
    &:hover
      background-color: #2D6280
      color: $white
      cursor: pointer
    +breakpoint($bp-mobile)
      margin: 0 auto
      width: 280px
    +breakpoint($bp-mobile-range-375)
      margin: 0 auto
      width: 320px
    +breakpoint($bp-mobile-range-414)
      margin: 0 auto
      width: 330px
/* CTA Button End */

.panels-layout-gsb-homepage
  #content
    #main
      .pane-gsb-voices-listing-panel-pane-1
        h2.pane-title
          +breakpoint(736px max-width)
            padding-top: 0
            margin-top: -4px
            margin-bottom: -4px
          +breakpoint($bp-tablet-range)
            padding-top: 25px
            padding-bottom: 40px
          +breakpoint($bp-for-desktop-up)
            padding-top: 40px
            padding-bottom: 0
            margin-bottom: -10px
