@charset "UTF-8"

// IMPORT COMPASS AND EXTENSIONS
@import compass
@import breakpoint
@import ../../fonts/icons/icons
@import partials/base/00-variables/all
@import partials/base/03-extend/gsb-revamp

/*All voices customizable lists start*/
.view-id-voices_filters.view-display-id-all_voices_list_panel_pane,
.pane-voices-filters-voices-list-cta-panel-pane,
.view-display-id-voices_single_teaser_pane
  padding-bottom: 20px
  width: 100%
  .view-content
    +breakpoint($bp-for-phone-tablet-range)
      display: flex
      flex-wrap: wrap
      align-items: flex-start
  .view-content > div
    vertical-align: top
  .views-row
    display: inline-block
    margin: 30px 30px 0px 0px
    position: relative
    width: 22%
    height: 400px
    +breakpoint($bp-for-phone-tablet-range)
      display: block
      width: auto
    +breakpoint($bp-for-tablet-range)
      width: 44%
      display: block
    +breakpoint($bp-tablet-pot)
      width: 41%
    +breakpoint($bp-tablet-land)
      width: 30%

    .views-field-title
      color: $link-green
      font-size: 24px
      padding: 25px 0 10px 20px
      position: relative
      text-align: left
      a
        color: $link-green
        font-size: 24px
        &:hover
          text-decoration: none
        +icon-after("arrow-double-right", true)
          color: $green-light
          font-size: 18px
          font-weight: normal
          line-height: 0
          margin-top: 0
          padding-left: 10px
          &:hover
            color: $green-light
            text-decoration: none
          &:after
            color: $green-light
            text-decoration: none
        +breakpoint($bp-for-phone-tablet-range)
          font-size: 18px

    div:hover
      .views-field-field-degree-year,
      .views-field-field-endowed-title-appointment
        color: $white

    .views-field-field-degree-year,
    .views-field-field-endowed-title-appointment
      color: $text-black
      font-size: 14px
      padding: 0px 10px 0px 20px
      position: relative
      word-wrap: break-word
      +breakpoint($bp-for-phone-tablet-range)
        font-size: 14px
    div:hover .field-name-field-quote
      div
        div
          opacity: 1
    &:hover
      .views-field-field-quote
        div
          div
            opacity: 1
      .views-field-title
        padding-top: 30px
        a
          color: $white
        a:after,
        a:hover:after
          color: $white !important

      .views-field-field-degree-year,
      .views-field-field-endowed-title-appointment
        color: $white

    .views-field-field-quote
      div
        div
          color: $white
          cursor: pointer
          display: table
          font-family: $font-demi
          font-size: 16px
          line-height: 1.3
          height: 400px
          left: 0
          padding: 80px 20px 30px 20px
          position: absolute
          top: 0
          width: 100%
          opacity: 0
          text-align: left
          -webkit-transition: opacity 500ms
          -moz-transition: opacity 500ms
          -o-transition: opacity 500ms
          transition: opacity 500ms
          &:after
            content: '”'
          &:before
            content: '“'

        &.blue
          background: linear-gradient(transparent, $voices-blue 50%)
        &.brightteal
          background: linear-gradient(transparent, $voices-teal-med 50%)
        &.charcoal
          background: linear-gradient(transparent, $voices-charcoal 50%)
        &.green
          background: linear-gradient(transparent, $voices-green 50%)
        &.pink
          background: linear-gradient(transparent, $voices-pink 50%)
        &.purple
          background: linear-gradient(transparent, $voices-purple 50%)
        &.white
          background: linear-gradient(transparent, $white 50%)
    .views-field-field-image-single-public
      img
        max-height: 270px !important
        width: 100%

.pane-voices-filters-all-voices-list-panel-pane
  padding: 0px 0px 35px 30px
  .pane-title
    padding: 45px 0px 0px 0px
    h2
      color: $text-black
      font-family: $font-light
      font-size: 30px
      font-weight: normal
      line-height: 1.2
      +breakpoint($bp-for-phone-only)
        font-size: 24px
      +breakpoint($bp-mobile-land)
        font-size: 21px
      +breakpoint($bp-tablet-pot)
        font-size: 24px
      +breakpoint($bp-tablet-land)
        font-size: 24px
      +breakpoint($bp-iphone6p-land)
        font-size: 24px

.pane-voices-filters-all-voices-list-panel-pane.voices-bg-grey
  background-color: $grey-light
.pane-voices-filters-all-voices-list-panel-pane.voices-bg-white
  background-color: $white

/*All voices list end */

/* CTA Button */
.pane-content
  .voices_display_all_list_cta,
  .homepage_voices_cta,
  .voices_display_list_cta
    background-color: $white
    color: $red
    font-size: 18px
    min-height: 60px
    line-height: 1.2
    margin: 0 auto
    padding: 20px 20px 20px 25px
    position: relative
    width: 320px
    margin-bottom: 20px
    @extend %bg-and-box-shadow
    &:first-of-type
      border-top: 0
    &:last-of-type
      border-bottom: 0
    a
      color: $red
      +icon-after("arrow-double-right", true)
        color: $grey-e3
        font-size: 18px
        font-weight: normal
        line-height: 0
        margin-top: 0
        position: absolute
        right: 20px
        top: 50%
        &:hover
          color: $teal-light
        &:after
          color: $teal-light
    +breakpoint($bp-for-phone-only)
      width: 90%
      margin-left: 0px

  .homepage_voices_cta
    width: 205px
    +breakpoint($bp-for-phone-only)
      margin-bottom: 20px
      width: 90%
   
.main-header,
.main-footer
  .voices_display_all_list_cta,
  .homepage_voices_cta
    +breakpoint($bp-iphone6p-land)
      width: 82%
      margin-left: 0px
    +breakpoint($bp-tablet-pot)
      width: 74%
      margin-left: 0px
    +breakpoint($bp-tablet-land)
      width: 64%
      margin-left: 0px
    +breakpoint($bp-for-phone-only)
      width: 90%
      margin-left: 0px

.gsb-landing-standard-page-one
  .main-header,
  .main-footer
    .voices_display_all_list_cta,
    .homepage_voices_cta
      +breakpoint($bp-for-phone-range)
        width: 90%
        margin-left: 0px
      +breakpoint($bp-for-phone-only)
        width: 89%
        margin-left: 0px
      +breakpoint($bp-tablet-land)
        width: 50%
        margin: 0 auto
  
/* CTA Button End */

/*voices list with filters start */

.view-display-id-voices_filters_pane
  width: 100%
  .view-filters
    background-color: $grey-light
    .views-widget-filter-field_industry_tid
      display: inline-block
      position: relative
      max-width: 370px
      padding: 0px 20px 0px 20px
      #edit-field-industry-tid
        width: 280px !important
        +breakpoint($bp-for-phone-tablet-range)
          width: 88% important
      .form-select
        +breakpoint($bp-for-phone-tablet-range)
          display: flex !important
        .customSelectInner
          width: 250px !important
          +breakpoint($bp-for-phone-tablet-range)
            display: flex !important
            width: 250px !important

    .views-widget-filter-field_region_of_interest_tid
      display: inline-block
      position: relative
      max-width: 370px
      padding: 0px 20px 0px 20px
      #edit-field-region-of-interest-tid
        width: 280px !important
        +breakpoint($bp-for-phone-tablet-range)
          width: 88% important
      .form-select
        +breakpoint($bp-for-phone-tablet-range)
          display: flex !important
        .customSelectInner
          width: 250px !important
          +breakpoint($bp-for-phone-tablet-range)
            display: flex !important
            width: 250px !important

  .view-content
    margin-left: 26px
    +breakpoint($bp-for-phone-tablet-range)
      display: flex
      flex-wrap: wrap
      align-items: flex-start
  .view-content > div
    vertical-align: top

  .views-row
    display: inline-block
    margin: 30px 30px 0px 0px
    position: relative
    width: 22%
    height: 400px
    +breakpoint($bp-for-phone-tablet-range)
      display: block
      width: auto
    +breakpoint($bp-for-tablet-range)
      width: 44%
      display: block
    +breakpoint($bp-tablet-pot)
      width: 41%
    +breakpoint($bp-tablet-land)
      width: 30%

    .views-field-title
      color: $link-green
      font-size: 24px
      padding: 25px 0 10px 20px
      position: relative
      text-align: left
      a
        color: $link-green
        font-size: 24px
        &:hover
          text-decoration: none
        +icon-after("arrow-double-right", true)
          color: $green-light
          font-size: 18px
          font-weight: normal
          line-height: 0
          margin-top: 0
          padding-left: 10px
          &:hover
            color: $green-light
            text-decoration: none
          &:after
            color: $green-light
            text-decoration: none
        +breakpoint($bp-for-phone-tablet-range)
          font-size: 18px

    div:hover
      .views-field-field-degree-year,
      .views-field-field-endowed-title-appointment
        color: #fff

    .views-field-field-degree-year,
    .views-field-field-endowed-title-appointment
      color: #231F10
      font-size: 14px
      padding: 0px 10px 0px 20px
      position: relative
      word-wrap: break-word
    div:hover .field-name-field-quote
      div
        div
          opacity: 1
    &:hover
      .views-field-field-quote
        div
          div
            opacity: 1
      .views-field-title
        padding-top: 30px
        a
          color: $white
        a:after,
        a:hover:after
          color: $white !important

      .views-field-field-degree-year,
      .views-field-field-endowed-title-appointment
        color: $white
    .views-field-field-quote
      div
        div
          color: $white
          cursor: pointer
          display: table
          height: 400px
          line-height: 1.3
          left: 0
          position: absolute
          top: 0
          width: 100%
          opacity: 0
          -webkit-transition: opacity 500ms
          -moz-transition: opacity 500ms
          -o-transition: opacity 500ms
          transition: opacity 500ms
          padding: 80px 20px 30px 20px
          text-align: left
          font-size: 16px
          font-family: $font-demi
          &:after
            content: '”'
          &:before
            content: '“'

        &.blue
          background: linear-gradient(transparent, $voices-blue 50%)
        &.brightteal
          background: linear-gradient(transparent, $voices-teal-med 50%)
        &.charcoal
          background: linear-gradient(transparent, $voices-charcoal 50%)
        &.green
          background: linear-gradient(transparent, $voices-green 50%)
        &.pink
          background: linear-gradient(transparent, $voices-pink 50%)
        &.purple
          background: linear-gradient(transparent, $voices-purple 50%)
        &.white
          background: linear-gradient(transparent, $white 50%)
    .views-field-field-image-single-public
      img
        max-height: 270px !important
        width: 100%

/*voices list with filters end */
/* full bleed and landing page one main header and main footer regions styles start*/
.gsb-full-bleed-page
  .content-wrapper
    .inner-main-wrapper
      .main-header,
      .main-footer
        .view-display-id-voices_filters_pane,
        .view-display-id-all_voices_list_panel_pane,
        .pane-voices-filters-voices-list-cta-panel-pane
          .views-row
            width: 44%
            height: 400px
            +breakpoint($bp-for-phone-only)
              display: block
              width: auto
            +breakpoint($bp-for-tablet-range)
              width: 73%
            +breakpoint($bp-mobile-land)
              display: block
              width: 44%
            +breakpoint($bp-tablet-pot)
              width: 73%
            +breakpoint($bp-tablet-land)
              width: 64%
            +breakpoint($bp-iphone6p-land)
              width: 82%
            
            .views-field-field-quote div div
              width: 100%
              height: 400px
              padding-right: 10px
            .views-field-field-degree-year
              padding: 0px 10px 0px 20px
              word-wrap: break-word
            .views-field-field-endowed-title-appointment
              padding: 0px 10px 10px 20px
              word-wrap: break-word
          .views-row:hover .views-field-title
            padding-top: 30px
  .full-bleed-header
    .view-display-id-voices_filters_pane,
    .view-display-id-all_voices_list_panel_pane,
    .pane-voices-filters-voices-list-cta-panel-pane
      .views-row
        .views-field-field-quote div div
          width: 100%

.gsb-landing-standard-page-one
  .inner-content-wrapper
    .inner-main-wrapper
      .main-header,
      .main-footer
        .view-display-id-voices_filters_pane,
        .view-display-id-all_voices_list_panel_pane,
        .pane-voices-filters-voices-list-cta-panel-pane
          .views-row
            width: 29.38%
            height: 400px
            +breakpoint($bp-for-phone-only)
              display: block
              width: auto
            +breakpoint($bp-for-tablet-range)
              width: 73%
            +breakpoint($bp-mobile-land)
              display: block
              width: 90%
            +breakpoint($bp-tablet-pot)
              width: 73%
            +breakpoint($bp-tablet-land)
              width: 45%
            +breakpoint($bp-iphone6p-land)
              width: 82%
   
            .views-field-field-quote div div
              width: 100%
              height: 400px
              padding-right: 10px
            .views-field-field-degree-year
              padding: 0px 10px 0px 20px
              word-wrap: break-word
            .views-field-field-endowed-title-appointment
              padding: 0px 10px 10px 20px
              word-wrap: break-word
          .views-row:hover .views-field-title
            padding-top: 30px
  .full-header
    .view-display-id-voices_filters_pane,
    .view-display-id-all_voices_list_panel_pane,
    .pane-voices-filters-voices-list-cta-panel-pane
      .views-row:hover .views-field-title
        padding-top: 30px
/* full bleed and landing page one main header and main footer styles end*/

/* Voices Multiple Criteria with CTA - OVERIDES */
.full-view,
.superwide-view
  .pane-voices-filters-voices-list-cta-panel-pane
    .views-row
      &:hover
        .views-field-title
          padding-top: 30px

      .views-field-field-image-single-public
        img
          max-height: auto !important

      .views-field-field-quote
        div
          div
            font-family: $font-demi
            font-size: 16px
            line-height: 1.3
            &:after
              content: '”'
            &:before
              content: '“'
    .pane-content
      .voices_display_list_cta
        background-color: $white
        margin-top: 30px
        a
          color: $red
          +icon-after("arrow-double-right", true)
            color: $grey-e3
            font-size: 18px
            font-weight: normal
            line-height: 0
            margin-top: 0
            position: absolute
            right: 20px
            top: 50%
            &:hover
              color: $teal-light
            &:after
              color: $teal-light
        +breakpoint($bp-for-phone-only)
          width: 82%
          margin-left: 30px  
           

      .view-content
        margin-left: 30px
    .pane-title
      margin-left: 30px
.wide-view
  .pane-voices-filters-voices-list-cta-panel-pane
    .views-row
      height: auto
      width: 240px
      .views-field-title
        padding: 25px 0 10px 15px
        a
          font-size: 20px
      &:hover
        .views-field-title
          padding-top: 25px
      .views-field-field-quote
        div
          div
            font-family: $font-demi
            font-size: 16px
            height: 350px
            line-height: 1.3
            &:after
              content: '”'
            &:before
              content: '“'
    .pane-content
      .voices_display_list_cta
        background-color: $white
        margin-top: 30px
        a
          color: $red
          +icon-after("arrow-double-right", true)
            color: $grey-e3
            font-size: 18px
            font-weight: normal
            line-height: 0
            margin-top: 0
            position: absolute
            right: 20px
            top: 50%
            &:hover
              color: $teal-light
            &:after
              color: $teal-light
      .view-content
        margin-left: 30px
    .pane-title
      margin-left: 30px

.pane-voices-filters-voices-list-cta-panel-pane
  h2
    font-family: $font-light
    font-weight: normal
    +breakpoint($bp-for-phone-only)
      font-size: 24px
    +breakpoint($bp-mobile-land)
      font-size: 21px
    +breakpoint($bp-tablet-pot)
      font-size: 24px
    +breakpoint($bp-tablet-land)
      font-size: 24px
    +breakpoint($bp-iphone6p-land)
      font-size: 24px
  div
    vertical-align: top
  .views-row
    .views-field-field-quote
      div
        div
          font-family: $font-demi
          &:after
            content: '”'
          &:before
            content: '“'

.main-header,
.main-footer
  .voices_display_list_cta
    +breakpoint($bp-iphone6p-land)
      width: 76%
      margin-left: 30px
    +breakpoint($bp-tablet-pot)
      width: 68%
      margin-left: 30px
    +breakpoint($bp-tablet-land)
      width: 60%
      margin-left: 30px
    +breakpoint($bp-for-phone-only)
      width: 82%
      margin-left: 30px

.gsb-landing-standard-page-one
  .main-header,
  .main-footer
    .voices_display_list_cta
      +breakpoint($bp-for-phone-range)
        width: 80%
        margin-left: 30px
      +breakpoint($bp-for-phone-only)
        width: 82%
        margin-left: 30px
      +breakpoint($bp-tablet-land)
        width: 50%
        margin: 0 auto
      +breakpoint($bp-tablet-pot)
        width: 68%
        margin-left: 30px
/* END of Voices Multiple Criteria with CTA - OVERRIDES */

/* Single Teaser styles start */
.view-display-id-voices_single_teaser_pane
  .views-row
    width: 100%
    margin-top: 0px

.full-header,
.full-bleed-header,
.featured-content
  .view-display-id-voices_single_teaser_pane
    .views-row
      width: 22%
      +breakpoint($bp-for-phone-tablet-range)
        width: auto
        display: block
        margin-left: 25px

.narrow-view
  .view-display-id-voices_single_teaser_pane
    .views-row
      +breakpoint($bp-for-phone-only)
        width: auto
        margin-left: 25px
      +breakpoint($bp-for-tablet-range)
        width: auto

.inner-main-wrapper
  .main-header,
  .main-footer
    .view-display-id-voices_single_teaser_pane
      .views-row
        width: 29.38%
        +breakpoint($bp-for-phone-only)
          width: auto
          margin-left: 25px
        +breakpoint($bp-for-tablet-range)
          width: auto
          margin-left: 25px

.gsb-full-bleed-page
  .content-wrapper
    .inner-main-wrapper
      .main-header,
      .main-footer
        .view-display-id-voices_single_teaser_pane
          .views-row
            width: 40%
            height: 400px
            +breakpoint($bp-for-phone-only)
              width: auto
              margin-left: 25px
            +breakpoint($bp-for-tablet-range)
              width: auto
              margin-left: 25px

.view-display-id-voices_single_teaser_pane
  .views-row
    .views-field-title
      a
        color: $link-green
        +breakpoint($bp-for-phone-tablet-range)
          font-size: 20px
        &:hover
          text-decoration: none
 
    div:hover
      .views-field-field-degree-year,
      .views-field-field-endowed-title-appointment
        +breakpoint($bp-for-phone-tablet-range)
          color: $link-green

    div:hover .field-name-field-quote
      div
        div
          +breakpoint($bp-for-phone-tablet-range)
            opacity: 0
    &:hover
      .views-field-field-quote
        div
          div
            +breakpoint($bp-for-phone-tablet-range)
              opacity: 0
      .views-field-title
        +breakpoint($bp-for-phone-tablet-range)
          font-size: 20px
        a
          +breakpoint($bp-for-phone-tablet-range)
            color: $link-green
            font-size: 20px
        a:after,
        a:hover:after
          +breakpoint($bp-for-phone-tablet-range)
            color: $link-green !important

      .views-field-field-degree-year,
      .views-field-field-endowed-title-appointment
        +breakpoint($bp-for-phone-tablet-range)
          color: $text-black
    
/* Single Teaser styles end */

/* side bar fixes for all list*/
.gsb-landing-standard-page-one,
.gsb-full-bleed-page
  .inner-sidebar-wrapper
    #quicklinks,
    .sidebar-inner
      .pane-voices-filters-voices-filters-pane
        .view-filters
          .views-widget-filter-field_industry_tid
            padding: 0px 15px 0px 15px
            #edit-field-industry-tid
              width: 238px !important
              +breakpoint($bp-for-phone-tablet-range)
                width: 80% important
            .form-select
              .customSelectInner
                width: 206px !important
                +breakpoint($bp-for-phone-tablet-range)
                  display: flex !important
                  width: 190px !important

          .views-widget-filter-field_region_of_interest_tid
            padding: 0px 15px 0px 15px
            #edit-field-region-of-interest-tid
              width: 238px !important
              +breakpoint($bp-for-phone-tablet-range)
                width: 80% important
            .form-select
              .customSelectInner
                width: 206px !important
                +breakpoint($bp-for-phone-tablet-range)
                  display: flex !important
                  width: 190px !important
        .view-content
          margin-left: 10px
          .views-row
            width: 96%
            height: 390px
            .views-field-field-quote
              div
                div
                  height: 390px

.gsb-landing-standard-page-one,
.gsb-full-bleed-page
  .inner-sidebar-wrapper
    #quicklinks,
    .sidebar-inner
      .pane-voices-filters-voices-list-cta-panel-pane
        .pane-title
          font-size: 24px
        .views-row
          width: 96%
          height: 390px
          .views-field-field-quote
            div
              div
                height: 390px
        .voices_display_list_cta
          width: 240px
          margin: 10px 0px 10px 8px
          +breakpoint($bp-for-phone-only)
            width: 80% !important
            margin-left: 4px
            margin-top: 20px

.gsb-landing-standard-page-one,
.gsb-full-bleed-page
  .inner-sidebar-wrapper
    #quicklinks,
    .sidebar-inner
      .pane-voices-filters-all-voices-list-panel-pane
        padding: 0px 0px 20px 20px
        .pane-title
          padding: 20px 0px 0px 0px
          h2
            font-size: 24px
        .views-row
          width: 96%
          height: 390px
          .views-field-field-quote
            div
              div
                height: 390px
        .voices_display_all_list_cta
          width: 240px
          margin: 10px 0px 10px 0px
          +breakpoint($bp-for-phone-only)
            margin-left: 6px
            width: 84% !important

.gsb-landing-standard-page-one,
.gsb-full-bleed-page
  .inner-sidebar-wrapper
    #quicklinks,
    .sidebar-inner
      .view-display-id-voices_single_teaser_pane
        .views-row
          width: 96%
          height: 390px
          .views-field-field-quote
            div
              div
                height: 390px
