@charset "UTF-8"

// IMPORT COMPASS AND EXTENSIONS
@import compass
@import breakpoint
@import ../../fonts/icons/icons
@import partials/base/00-variables/all
@import partials/base/03-extend/gsb-revamp
@import partials/base/01-mixins/custom

/* Removing the background image that is applied to all pages in the msx or sloan directory */
.page-programs-msx.node-type-voices,
.node-type-msx-fellows.node-type-voices
  #content-wrapper
    background: none
    +breakpoint($bp-tablet-port-min)
      background: none
// Removing the background span from display
.node-type-voices
  .group-voices-group
    .field-name-field-background-color
      display: none
/* Container holding the image and the text */
.node-type-voices
  #main.column
    +breakpoint($narrow-view min-width)
      padding: 0
  span.title-wrapper
    h1
      display: none
  div#sidebar, div#banner
    display: none

  #content
    max-width: 100%
  .group-header
    color: $text-black
    position: relative
    text-align: center

    /* Voices header image */
    .field-name-field-image-key-image
      max-height: 600px
      overflow: hidden
      width: 100%
      img
        object-fit: cover
        +breakpoint($bp-mobile-max)
          display: none
        +breakpoint($bp-for-tablet-range)
          display: block
          max-height: 100%
          width: 100%
    // Using the profile image for the header image on mobile portrait view.
    .mobile-profile-image
      display: none
      +breakpoint($bp-mobile-max)
        display: block
      +breakpoint($bp-for-tablet-range)
        display: none
      .background-rail-img
        +breakpoint($bp-mobile-max)
          text-align: left
          margin-left: 18px
        img
          +breakpoint($bp-mobile-max)
            width: 320px
            height: 320px


    /* Voices title box */
    fieldset.group-voices-group
      border: none
      color: $white
      height: 380px
      margin-left: 15%
      opacity: .9
      padding: 0 40px
      position: absolute
      text-align: left
      top: 50px
      width: 430px
      z-index: 5
      +breakpoint($bp-mobile-max)
        background-color: transparent
        color: $text-black
        height: auto
        position: static
        padding: 0
        margin: 0 18px
        width: 100%
      +breakpoint($bp-for-tablet-range)
        background-color: transparent
        color: $text-black
        height: auto
        position: static
        padding: 0
        margin: 0 18px
        width: 100%
      .field-name-field-slideshow-style
        display: none

      h1,
      .field-name-field-degree-year
        color: $white
        font-family: $font-light
        font-size: 36px
        font-weight: normal
        margin-top: 0
        +breakpoint($bp-mobile-max)
          background-color: transparent
          color: $text-black
          font-size: 24px
        +breakpoint($bp-for-tablet-range)
          background-color: transparent
          color: $text-black
          font-size: 24px

      .label
        background-color: $text-black
        color: $white
        display: inline-block
        font-family: $font-demi
        font-size: 16px
        font-weight: normal
        line-height: 1.2
        margin-bottom: 30px
        padding: 12px 8px
        position: relative
        z-index: 6

      .field-name-field-title-position-single
        font-size: 22px
        padding-top: 30px
        +breakpoint($bp-mobile-max)
          font-size: 16px
          padding: 20px 0 30px 0
        +breakpoint($bp-for-tablet-range)
          font-size: 16px
          padding: 20px 0 30px 0
    .mobile-profile
      +breakpoint($bp-mobile-max)
        width: 100%
        height: 100%
        margin-left: -18px
    // Colors for the voices box.
    fieldset.group-voices-group.white
      background-color: $white
      h1,
      .field-name-field-degree-year,
      .field-name-field-title-position-single
        color: $text-black
    fieldset.group-voices-group.blue
      background-color: $voices-blue
    fieldset.group-voices-group.purple
      background-color: $purple-bright
    fieldset.group-voices-group.brightteal
      background-color: $voices-teal-med
    fieldset.group-voices-group.pink
      background-color: $voices-pink
    fieldset.group-voices-group.charcoal
      background-color: $voices-charcoal
    fieldset.group-voices-group.green
      background-color: $voices-green

    fieldset.group-voices-group.white,
    fieldset.group-voices-group.blue,
    fieldset.group-voices-group.purple,
    fieldset.group-voices-group.brightteal,
    fieldset.group-voices-group.pink,
    fieldset.group-voices-group.charcoal,
    fieldset.group-voices-group.green
      +breakpoint($bp-for-phone-tablet-range)
        background-color: transparent
  /* Voices top quote */
  .field-name-field-quote
    background: $white
    display: inline-block
    font-family: $font-light
    font-size: 36px
    font-weight: normal
    margin: 0 auto
    margin-top: -75px
    padding: 35px 40px 0px 73px
    position: relative
    text-align: left
    width: 1108px
    +breakpoint($bp-mobile-max)
      font-size: 24px
      left: 18px
      padding: 25px 18px 25px 30px
      position: relative
      top: 10px
      width: 85%
      margin-left: 35px
      margin-top: -70px
      .mobile-profile
        display: block
    +breakpoint($bp-for-tablet-range)
      font-size: 24px
      left: 18px
      padding: 25px 18px 25px 30px
      position: relative
      top: 10px
      width: 100%
    &:before
      content: "“"
      position: absolute
      left: 13px
      font-size: 90px
      top: 16px
      padding-left: 23px
      +breakpoint($bp-mobile-max)
        font-size: 40px
        padding-left: 0px
      +breakpoint($bp-for-tablet-range)
        font-size: 40px
        padding-left: 0px
    &:after
      content: "”"
    .quote
      display: inline-block
      position: relative
      top: -46px

  // Breadcrumbs
  .breadcrumb
    padding: 0 0 20px 35px

  .field-name-social-buttons-top
    border-bottom: 1px solid $voices-divider
    height: 75px

  /* Voices col set up and adjustment */
  .ds-2col-stacked-fluid
    margin: 0 auto
    .content-wrapper
      margin: 0 auto
      width: 1175px
      +breakpoint($bp-mobile-max)
        padding: 25px 35px
        padding-top: 10px
        width: 100%
      +breakpoint($bp-for-tablet-range)
        padding: 25px 35px
        width: 100%

      .group-left
        float: left
        margin: 50px 50px 0 0
        padding-bottom: 20px
        width: 850px
        +breakpoint($bp-mobile-max)
          float: none
          margin: 0
          padding: 0
          width: 100%
        +breakpoint($bp-for-tablet-range)
          float: none
          margin: 0
          padding: 0
          width: 100%
        .field-name-field-body
          @extend %resources-body
          padding: 30px 0 0 35px
          h2, h3, h4, h5, h6, blockquote, ul, li, p
            max-width: 670px
          +breakpoint($bp-mobile-max)
            padding: 0
          +breakpoint($bp-for-tablet-range)
            padding: 0

        .field-name-field-date.field-type-datetime
          display: inline
          float: left
          font-size: 18px
          padding: 50px 0 0 35px
          .date-display-single
            &:after
              content: "|"
              padding-left: 10px
          +breakpoint($bp-for-phone-only)
            font-size: 14px
            padding: 35px 0
          +breakpoint($bp-for-tablet-range)
            font-size: 14px
            padding-left: 0
        .field-name-field-authors
          display: inline
          float: left
          font-size: 18px
          padding: 50px 0
          +breakpoint($bp-for-phone-only)
            font-size: 14px
            padding: 35px 0
          .field-collection-item-field-authors
            &:before
              content: "by"
              padding-left: 10px
            padding: 0
        ul.field-name-field-tag
          font-size: 14px
          list-style: none
          li
            display: inline-block
            padding-left: 3px
            &:after
              content: ","
          li.last
            &:after
              content: ""
        .field-name-field-voices-cta
          border-top: 1px solid $voices-divider
          height: 150px
          position: relative
          top: 30px
          width: 100%
          +breakpoint($bp-for-phone-tablet-range)
            display: none
          a.cta
            background-color: $red-dark
            color: $white
            font-family: $font-demi
            display: block
            float: right
            font-size: 16px
            margin-top: 50px
            padding: 20px 20px 20px 25px
            position: relative
            width: 310px
            @extend %bg-and-box-shadow
            +icon-after("arrow-double-right", true)
              font-size: 18px
              font-weight: normal
              line-height: 1
              margin-top: -10px
              position: absolute
              right: 20px
            &:hover
              color: $white
            &:after
              color: $white
              top: 50%

      .group-right
        border-top: 1px solid $voices-divider
        float: left
        margin: 50px 0 0 0
        padding-top: 40px
        width: 273px
        +breakpoint($bp-for-tablet-range)
          align-items: flex-start
          display: flex
          flex-direction: row
          flex-wrap: wrap
          float: none
          justify-content: center
          margin: 25px 0 0 0
          width: 100%
        .field-label
          font-family: $font-demi
          font-size: 20px
          font-weight: normal
          padding: 15px 0 5px
        .field-items
          div
            line-height: 1.5
        .background-rail-img
          margin-left: 102px
          margin-top: -75px
          position: absolute
          img
            border: 1px solid $voices-divider
            border-radius: 50%
            width: 74px
            height: 74px
        .field-name-voices-ct-background-rail,
        .field-voices-stay-in-touch-cta,
        .field-voices-explore-program-cta
          width: 100%
          a.cta
            color: $red
            display: block
            font-size: 16px
            margin-top: 30px
            padding: 15px 20px 20px 25px
            position: relative
            width: 98%
            @extend %bg-and-box-shadow
            +icon-after("arrow-double-right", true)
              color: $grey-e3 !important
              font-size: 18px
              font-weight: normal
              line-height: 1
              margin-top: -10px
              position: absolute
              right: 20px
            &:hover
              color: $red
            &:after
              color: $red
              top: 50%
        .field-voices-explore-program-cta
          a.cta
            margin-top: 0px
        fieldset.group-wrapper-related
          margin-top: 30px
          .fieldset-wrapper
            overflow: hidden
            padding: 0
          .field-collection-view
            margin: 0
        .group-wrapper-tablet-1
          .field-name-voices-mobile-full-name,
          .field-name-voices-mobile-degree-year,
          .field-name-voices-mobile-job-title-org
            display: none
          +breakpoint($bp-for-tablet-range)
            width: 18%
            // 18% is 122px out of a width of 675. 82% is left and divided by the other two cols.
            .field-name-voices-mobile-full-name,
            .field-name-voices-mobile-degree-year,
            .field-name-voices-mobile-job-title-org
              display: block
            .field-name-voices-mobile-full-name
              font-size: 14px
              padding-top: 20px
            .field-name-voices-mobile-degree-year,
            .field-name-voices-mobile-job-title-org
              font-size: 11px
              padding-top: 10px
            .background-rail-img
              margin-left: 0
              margin-top: 0
              position: relative
              width: 122px
              img
                height: 121px
                margin: auto
                width: 122px
        .group-wrapper-tablet-2
          +breakpoint($bp-for-tablet-range)
            margin: auto 10%
            width: 30%
            .field-label
              padding-top: 25px
        .group-wrapper-tablet-3
          +breakpoint($bp-for-tablet-range)
            width: 30%
            .field-label
              padding-top: 25px
        .group-wrapper-tablet-4
          +breakpoint($bp-for-tablet-range)
            padding-top: 35px


  // Social media buttons
  .field-collection-container
    border-bottom: 1px solid $voices-divider
  .field-name-social-buttons-top,
  .field-name-social-buttons-bottom
    .item-list ul
      margin: 0 0 0 25px
      +breakpoint($bp-for-phone-only)
        margin: 0
      li
        margin: 0
    li
      display: inline-block
      vertical-align: top
  .field-name-social-buttons-bottom
    .item-list ul
      margin: 0 0 0 50px
      +breakpoint($bp-for-phone-only)
        margin: 0

  // Top social buttons
  .field-name-social-buttons-top
    @extend %black-border-top-small
    @extend %social-buttons-top
    border-top: 1px $voices-divider solid
    margin-bottom: 0
    +breakpoint(1080px 999px)
      +social-buttons-small
    +breakpoint(745px max-width)
      +social-buttons-small
      margin-top: 0
      margin-bottom: 25px
      padding-left: 0

  // social media wrapper - fixing floats
  .social-media-wrapper
    clear: left
    display: block
    border-top: 1px solid $voices-divider
    padding-top: 20px
  // Bottom social buttons
  .field-name-social-buttons-bottom
    @extend %social-buttons-bottom
    margin-top: 10px
    padding: 0 20px 0 0

  .sharrre .box .count
    padding: 8px 15px 0 0

  // Share this short url
  // Wrapper
  .short-url-wrapper
    @extend %short-url-wrapper
    border-left: solid 1px $voices-divider
    margin-bottom: 0
    padding-left: 20px
    line-height: 2.18
    +breakpoint($bp-for-phone-only)
      border-left: 0
      padding-left: 0

  .short-url
    @extend %short-url
    line-height: .8
    width: 225px

  .field.field-name-social-buttons-bottom,
  .short-url-wrapper
    display: inline-block

  .short-url-wrapper
    display: inline-block
    height: 50px
    padding-top: 5px

.node-type-voices 
  .ds-2col-stacked-fluid 
    .content-wrapper 
      .group-left 
        .field-name-field-body
          p
            margin-bottom: 25px
          p:first-of-type
            font-size: 24px
            +breakpoint($bp-mobile-max)
              font-size: 18px
            +breakpoint($bp-for-tablet-range)
              font-size: 18px
          .file-resource-pull-quote
            div
              font-family: $font-light
              font-size: 24px
              margin: 5px 30px 30px 0
              width: 380px

.node-type-voices 
  .ds-2col-stacked-fluid 
    .content-wrapper
      .group-right
        .field-academic-degrees,
        .field-professional-experience,
        .field-related-programs
          font-size: 16px
          line-height: 1.4
          padding-bottom: 10px
        .field-profile-links
          a
            color: #636F00
            font-size: 16px
        fieldset.group-wrapper-related
          .field-label
            padding-left: 20px
          .field-related-programs
            padding-left: 20px
          .field-related-programs-wrapper
            border-bottom: 1px solid lightgray
            padding-bottom: 10px
          .field-name-field-link-unlimited
            .field-name-field-link-unlimited
              padding: 0 0 0 5px
            div
              margin-bottom: 0px
          .field-name-field-link-unlimited:last-child
            border-bottom: none !important
            padding-bottom: 10px !important
          .field-name-field-person-ref-unlimited
            div.ds-1col:last-of-type
              padding-bottom: 18px

