@charset "UTF-8"

// IMPORT COMPASS AND EXTENSIONS
@import compass
@import breakpoint
@import ../fonts/icons/icons

@import partials/base/00-variables/all
@import partials/base/03-extend/gsb-revamp

// Week in the Life - Landing

.group_witl_photo_info,
.group_witl_group_days
  +clearfix
  +breakpoint($bp-mobile-max)
    max-width: 270px

.group_witl_photo_info
  margin-bottom: 2em
  border: 1px solid $grey-e
  +box-shadow(0 1px 2px #d4d4d4)
  +breakpoint($bp-mobile-max)
    padding-bottom: 20px
  .field-type-datetime
    margin: 0 !important
  h2
    padding: 30px 0 16px
    border: 0 none

.group_witl_photo_wrap_mba
  position: relative
  .date-display-single
    position: absolute
    bottom: 0
    right: 0
    background-color: $grey-dark
    color: $white
    text-transform: uppercase
    font-size: 14px
    padding: 10px 27px 3px
    &:before
      content: "MBA "

.field-name-field-witl-under-photo-facts
  +background(linear-gradient(top, $grey-1, $grey-27))
  color: $white
  padding: 20px
  +breakpoint($bp-mobile-max)
    margin-bottom: 15px

  .field-item
    font-size: 1em
    line-height: 1.25
    letter-spacing: 0.08em
    margin-bottom: .6em
    padding-left: 1em
    font-family: $font-light
    &:last-of-type
      margin-bottom: 0
    &:before
      content: "•"
      color: #547f97
      margin-right: 0
      position: absolute
      margin-left: -1em

// Listing
.group_witl_listing_wrap
  position: relative

.field-name-field-witl-post-mba-goals,
.field-name-field-witl-facts-title,
.field-name-field-witl-facts
  font-size: 18px
  line-height: 1.3
  .field-label
    padding-bottom: 5px

.field-name-field-witl-facts-title
  font-weight: bold
  padding-bottom: 5px

.view-week-in-the-life
  margin-bottom: 20px
  .field-name-title
    color: $red
    font-size: 22px
    +background(linear-gradient(top, #fbfaf8, #f3f2f2))
    border-bottom: 1px solid #e6e5e5
    padding: 23px 20px 13px
    line-height: 1.25
    a:hover
      color: $text-blue

  .field-name-field-year
    font-weight: bold
    margin-top: 0
    padding: 0
    margin: 0

  .date-display-single
    position: absolute
    bottom: 0
    right: -1px
    background-color: $grey-dark
    color: $white
    text-transform: uppercase
    font-size: 14px
    padding: 9px 27px 4px
    &:before
      content: "MBA "

  .view-header
    p
      font-size: 25px
      line-height: 1.3
      > strong
        color:  $blue-dark

  .view-mode-teaser
    padding: 0 0 30px 0
    position: relative
    height: 600px
    background: #fff
    +box-shadow(1px 1px 0 #f3f3f3)
    margin: 0 2px 2px 2px
    border: 1px solid #e3e3e3

  .field-name-field-image-single-public
    margin: -1px -1px 0 -1px
    float: none
    img
      vertical-align: top
  .field-name-node-link
    position: absolute
    bottom: 0
    width: 100%
    padding: 0 20px 26px
    a
      background: $teal-dark
      display: block
      padding: 11px 16px 10px
      color: #fff
      font-weight: bold
      &:hover
        background: $purple
      +icon-after("arrow-double-right", true)
      &:before
        float: right
        color: #fff
        font-size: 21px
        line-height: 0.5
        position: relative
        top: 4px
        right: 2px

  .view-footer
    border: 1px solid #e5e5e5
    padding: 2px
    background: #fff
    +breakpoint($bp-mobile)
      width: 270px
    p
      margin: 0
      a
        display: block
        font-weight: bold
        +background(linear-gradient(top, #fbfaf8, $grey-e))
        border: 0 none
        color: $red
        padding: 15px 20px 11px
        &:hover
          &:before
            color: $red
        +icon-after("arrow-double-right", true)
        &:before
          float: right
          color: $grey-med
          font-size: 21px
          line-height: 0.5
          position: relative
          top: -2px
          right: 2px
