.pane-bookmarklet-link a {
  border: none;
  -moz-border-radius: 22px;
  -webkit-border-radius: 22px;
  border-radius: 22px;
  color: white;
  font-family: "NewsGothicBT", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.4;
  padding: 10px 17px;
}
.pane-bookmarklet-link a:after {
  color: white !important;
}
.pane-bookmarklet-link a:hover {
  background-color: #2d6280;
  border: 0;
  color: white;
}
.pane-bookmarklet-link a:hover:after {
  color: white !important;
}

.pane-bookmarklet-link a {
  background: #919900;
}
