.pane-agenda-2 a {
  background: #538b80;
  color: white;
  display: block;
  font-size: 14px;
  font-weight: bold;
  padding: 10px 17px;
  text-align: left;
  position: relative;
}
.pane-agenda-2 a:after {
  content: "\f101";
  speak: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-transform: none;
  line-height: 1;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'icons';
}
.pane-agenda-2 a:after {
  color: white;
  font-size: 16px;
  font-weight: normal;
  line-height: 0;
  position: absolute;
  right: 14px;
  top: 50%;
}
.pane-agenda-2 a:hover {
  background: #754760;
}

.pane-agenda-2 {
  background-color: #f9f9f9;
  background: -moz-linear-gradient(bottom, #f9f9f9 20%, #ffffff 100%);
  background: -o-linear-gradient(bottom, #f9f9f9 20%, #ffffff 100%);
  background: -webkit-linear-gradient(bottom, #f9f9f9 20%, #ffffff 100%);
  background: linear-gradient(to top, #f9f9f9 20%, #ffffff 100%);
}

.pane-agenda-2 {
  border: 2px white solid;
}

.pane-agenda-2 {
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  margin: 0 1px 1px 1px;
}
@media (max-width: 35.5em) {
  .pane-agenda-2 {
    margin-top: 1px;
  }
}

.ie8 .pane-agenda-2 {
  border: 1px #cccccc solid !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.pane-agenda-2 {
  padding: 26px;
}
.pane-agenda-2 .pane-title {
  font-size: 20px;
  font-weight: bold;
  line-height: 1.2;
  color: #231f20;
  font-family: "NewsGothicBT", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.pane-agenda-2 .agenda-block p {
  display: none;
}
.pane-agenda-2 .agenda-block ol {
  margin: 0;
}
.pane-agenda-2 .agenda-block li {
  background: none;
  padding: 10px 0 0 0;
}
.pane-agenda-2 .agenda-block .calendar_title {
  color: #231f20;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
  position: relative;
  left: -13px;
}
.pane-agenda-2 .agenda-block .calendar_title:before {
  content: "\f10f";
  speak: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-transform: none;
  line-height: 1;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'icons';
}
.pane-agenda-2 .agenda-block .calendar_title:before {
  color: #887e6e;
  font-weight: normal;
  font-size: 28px;
  margin-right: 2px;
  position: relative;
  top: 5px;
}
.pane-agenda-2 .agenda-block .moreinfo {
  display: none;
}
.pane-agenda-2 a {
  margin-top: 7px;
}
