.pane-bookmarklet-link a {
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  margin: 1px;
}

.pane-bookmarklet-link a {
  border: none;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  color: white;
  font-family: "NewsGothicBT", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1;
  padding: 10px 16px;
}
.pane-bookmarklet-link a:after {
  color: white !important;
}
.pane-bookmarklet-link a:hover {
  background-color: #2d6280;
  border: 0;
  color: white;
}
.pane-bookmarklet-link a:hover:after {
  color: white !important;
}

.pane-bookmarklet-link a {
  background: #919900;
}
