.pane-bookmarklet-link a {
  border: none;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  background: #636f00;
  background: -moz-linear-gradient(top, #6c7200, #636f00);
  background: -o-linear-gradient(top, #6c7200, #636f00);
  background: -webkit-linear-gradient(top, #6c7200, #636f00);
  background: linear-gradient(to bottom, #6c7200, #636f00);
  color: white;
  font-family: "NewsGothicBT", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 1;
  padding: 10px 16px;
}
.pane-bookmarklet-link a:after {
  color: white !important;
}
.pane-bookmarklet-link a:hover {
  border: 0;
  color: white;
}
.pane-bookmarklet-link a:hover:after {
  color: white !important;
}
