.pane-rss-feed-rss-feed {
  background-color: #f9f9f9;
  background: -moz-linear-gradient(bottom, #f9f9f9 20%, #ffffff 100%);
  background: -o-linear-gradient(bottom, #f9f9f9 20%, #ffffff 100%);
  background: -webkit-linear-gradient(bottom, #f9f9f9 20%, #ffffff 100%);
  background: linear-gradient(to top, #f9f9f9 20%, #ffffff 100%);
}

.pane-rss-feed-rss-feed {
  border: 2px white solid;
}

.pane-rss-feed-rss-feed h2.pane-title {
  border-top: 10px #c2b7a1 solid;
}

.pane-rss-feed-rss-feed {
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  margin: 1px;
}

.ie8 .pane-rss-feed-rss-feed {
  border: 1px #cccccc solid !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.pane-rss-feed-rss-feed {
  position: relative;
  padding: 26px;
}
.narrow-view .pane-rss-feed-rss-feed {
  padding-top: 2px;
}
.pane-rss-feed-rss-feed .pager {
  display: none;
}
.pane-rss-feed-rss-feed h2.pane-title {
  color: #231f20;
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2;
  margin-bottom: 20px;
  padding-top: 6px;
}
.pane-rss-feed-rss-feed .views-row {
  margin-bottom: 20px;
}
.pane-rss-feed-rss-feed .views-row:last-of-type {
  margin-bottom: 0;
}
.pane-rss-feed-rss-feed .views-field-text {
  margin-bottom: 6px;
}
.pane-rss-feed-rss-feed .views-field-text a {
  color: #231f20;
  font-family: "NewsGothicBT-Demi", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: normal;
  line-height: 1.2;
  margin-bottom: 6px;
  text-transform: none;
}
.wide-view .pane-rss-feed-rss-feed .views-field-text a:after {
  content: "\f101";
  display: inline;
  speak: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-transform: none;
  line-height: 1;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'icons';
}
.wide-view .pane-rss-feed-rss-feed .views-field-text a:after {
  color: #636f00;
  font-size: 14px;
  line-height: 0;
  margin-left: 5px;
}
.narrow-view .pane-rss-feed-rss-feed .views-field-text a {
  color: #990000;
}
.narrow-view .pane-rss-feed-rss-feed .views-field-text a[target=_blank]:after {
  content: "\f102";
  display: inline;
  speak: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-transform: none;
  line-height: 1;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'icons';
}
.narrow-view .pane-rss-feed-rss-feed .views-field-text a:after {
  font-size: 12px;
  margin-left: 3px;
}
.pane-rss-feed-rss-feed .views-field-text a:hover {
  color: #2d6280;
}
.pane-rss-feed-rss-feed .views-field-text a:hover:after {
  color: #2d6280;
}
.pane-rss-feed-rss-feed .views-field-text-2 {
  font-size: 16px;
  line-height: 1.3;
}
