.pane-library-searchworks-form .searchworks-content {
  background-color: #f9f9f9;
  background: -moz-linear-gradient(bottom, #f9f9f9 20%, #ffffff 100%);
  background: -o-linear-gradient(bottom, #f9f9f9 20%, #ffffff 100%);
  background: -webkit-linear-gradient(bottom, #f9f9f9 20%, #ffffff 100%);
  background: linear-gradient(to top, #f9f9f9 20%, #ffffff 100%);
}

.pane-library-searchworks-form .searchworks-content {
  border: 2px white solid;
}

.pane-library-searchworks-form .searchworks-content {
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  margin: 0 1px 1px 1px;
}
@media (max-width: 35.5em) {
  .pane-library-searchworks-form .searchworks-content {
    margin-top: 1px;
  }
}

.ie8 .pane-library-searchworks-form .searchworks-content, .pane-library-searchworks-form .ie8 .searchworks-content {
  border: 1px #cccccc solid !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.pane-library-searchworks-form .pane-title {
  font-size: 24px;
  font-family: "NewsGothicBT-Demi", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #231f20;
  margin-bottom: 30px;
}
.pane-library-searchworks-form .tabbed_box {
  margin: 0 auto;
}
.pane-library-searchworks-form .tabbed_box .tabbed_area ul.searchworks-tabs {
  margin: 0;
  padding: 0;
  position: relative;
  top: -10px;
}
.pane-library-searchworks-form .tabbed_box .tabbed_area li {
  list-style: none;
  display: inline;
}
.pane-library-searchworks-form .tabbed_box .tabbed_area li a {
  background: -moz-linear-gradient(#f8f6f6, #ededed);
  background: -o-linear-gradient(#f8f6f6, #ededed);
  background: -webkit-linear-gradient(#f8f6f6, #ededed);
  background: linear-gradient(#f8f6f6, #ededed);
  border: 1px solid #e4e4e4;
  border-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  padding: 14px 26px;
}
.pane-library-searchworks-form .tabbed_box .tabbed_area li a.active {
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 0;
  color: #231f20;
  padding-bottom: 15px;
}
.pane-library-searchworks-form .searchworks-content {
  border: 0;
  padding: 26px;
  *zoom: 1;
}
.pane-library-searchworks-form .searchworks-content:after {
  content: "";
  display: table;
  clear: both;
}
.pane-library-searchworks-form .searchworks-content #edit-search-wrapper {
  float: left;
  width: 100%;
  margin-right: -36px;
  padding-right: 36px;
}
.pane-library-searchworks-form .searchworks-content #edit-search-wrapper input {
  height: 36px;
  width: 100%;
}
.pane-library-searchworks-form .searchworks-ejournal {
  margin-left: -199px;
  padding-left: 222px;
}
.pane-library-searchworks-form .searchworks-select {
  float: left;
  margin-right: 15px;
  max-width: 165px;
  position: relative;
  z-index: 1;
}
@media (min-width: 62.4375em) and (max-width: 70em) {
  .pane-library-searchworks-form .searchworks-select {
    margin-bottom: 12px;
  }
}
@media (max-width: 51.25em) {
  .pane-library-searchworks-form .searchworks-select {
    margin-bottom: 12px;
  }
}
@media (min-width: 62.4375em) and (max-width: 70em) {
  .pane-library-searchworks-form .searchworks-ejournal {
    margin: 0;
    padding: 0;
  }
}
@media (max-width: 51.25em) {
  .pane-library-searchworks-form .searchworks-ejournal {
    margin: 0;
    padding: 0;
  }
}
.pane-library-searchworks-form #content_2 {
  display: none;
}
.pane-library-searchworks-form .jquery-selectbox,
.pane-library-searchworks-form .jquery-selectbox-list {
  width: 195px !important;
}
.pane-library-searchworks-form .jquery-selectbox {
  margin-top: 0;
}
.pane-library-searchworks-form .jquery-selectbox-list {
  height: auto !important;
}
.pane-library-searchworks-form input[type=text] {
  border-color: lightgray;
}
.pane-library-searchworks-form .submit {
  float: left;
  text-indent: 1000px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  border: none;
  width: 36px;
  height: 36px;
}
.svg .pane-library-searchworks-form .submit {
  background: url('../../../images/search-white.svg') no-repeat 60% 47%, #990000;
  background-size: 60px;
}
.svg .pane-library-searchworks-form .submit:hover {
  background: url('../../../images/search-white.svg') no-repeat 60% 47%, #2d6280;
  background-size: 60px;
}
.no-js .pane-library-searchworks-form .submit, .no-svg .pane-library-searchworks-form .submit {
  background: url('../../../images/search-white.png') no-repeat 11px 11px, #990000;
}
.no-js .pane-library-searchworks-form .submit:hover, .no-svg .pane-library-searchworks-form .submit:hover {
  background: url('../../../images/search-white.png') no-repeat 11px 11px, #2d6280;
}
