.view-business-website-category-listing .letter-group {
  display: none;
}
.view-business-website-category-listing .view-content {
  -moz-column-count: 3;
  -webkit-column-count: 3;
  column-count: 3;
}
.view-business-website-category-listing .views-row a {
  padding-right: 10px;
  color: #636f00;
}
.view-business-website-category-listing .views-row a:hover {
  color: #2d6280;
}
.view-business-website-category-listing .views-row .views-field-name {
  padding: 8px 0;
}
