// CUSTOM GSB REVAMP EXTENDS

%red-button-gradient
  +background(linear-gradient(bottom, #c50000 40%, #860000 90%))
  +box-shadow(#ababab 0 2px 4px)

%green-button
  padding: 10px 16px
  border: none
  +border-radius(20px)
  background: $green
  +background(linear-gradient(top, #6c7200, #7d8401))
  color: $white
  font-size: 16px
  font-weight: bold
  line-height: 1
  +border-radius(20px)
  &:hover
    border: 0
    color: $white

%border
  +box-shadow(rgba(0, 0, 0, 0.1) 2px 2px 2px, rgba(0, 0, 0, 0.1) 0 0 0 1px)
  border: 2px solid $white

%border-and-box-shadow
  background-color: $grey-c
  +background(linear-gradient(bottom, #ededed 20%, #fbfaf8 100%))
  +box-shadow(rgba(0, 0, 0, 0.1) 2px 2px 2px, rgba(0, 0, 0, 0.1) 0 0 0 1px)
  border: 2px solid $white
  margin-bottom: 30px

// Grey solid background like on right sidebar related links
%bg-grey-solid
  background-color: $grey-e

// Grey gradient background like on left sidebar submenu
%bg-grey-gradient
  +background(linear-gradient(top, rgba($grey-f, 1), rgba($grey-f, 0)))

// Box with grey gradient background with black top border
%black-border-top
  border-top: 10px $black solid
  @extend %bg-grey-gradient
