// CUSTOM GSB REVAMP EXTENDS

// Clearfix 2
%clearfix2
  *zoom: 1
  &:before,
  &:after
    display: table
    content: ""
    line-height: 0
  &:after
    clear: both

%chevron-big
  content: "w"
  font-family: "gsb"
  position: absolute
  font-size: 40px
  right: 12px
  font-weight: normal !important
  text-transform: lowercase
  top: 50%
  margin-top: -6px
  line-height: 0

%chevron-small
  @extend %chevron-big
  font-size: 20px
  right: 22px

////////////
// BUTTONS
////////////

%red-button-gradient
  +background(linear-gradient(bottom, #c50000 40%, #860000 90%))
  +box-shadow(#ababab 0 2px 4px)

//Show More button
%show-more-button
  border: 0
  color: $text-green
  cursor: pointer
  display: block
  font-weight: bold
  line-height: 1em
  margin: 5px 0 0
  text-align: right
  span
    font-size: 14px
    padding-left: 16px
    &:before
      content: ""
      font-family: "entypo"
      font-size: 4em
      font-weight: normal
      position: relative
      top: 10px
      margin-right: 5px
  &:hover
    color: $text-blue
    span
      background-position: 0 -13px
  &.active
    span
      &:before
        content: ""
    &:hover span
      background-position: 0 2px

// Rounded green buttons
%green-button
  padding: 10px 16px
  border: none
  +border-radius(20px)
  background: $text-green
  +background(linear-gradient(top, #6c7200, $text-green))
  color: $white
  font-size: 16px
  font-weight: bold
  line-height: 1
  +border-radius(20px)
  &:hover
    border: 0
    color: $white

// BACKGROUNDS

// Grey solid background like on right sidebar related links
%bg-grey-solid
  background-color: $grey-e

// Grey gradient background like on left sidebar submenu
%bg-grey-gradient
  +background(linear-gradient(top, rgba($grey-f, 1), rgba($grey-f, 0)))

// BORDERS AND BOX SHADOWS
%divider-top
  border-top: 1px $grey-c solid

%divider-bottom
  border-bottom: 1px $grey-c solid

// White border
%border
  border: 2px $white solid

// Grey border
%border-grey
  border: 1px solid #e4e4e4

// Black top border
%black-border-top
  border-top: 10px $black solid

%red-border-top
  border-top: 10px $red solid

%box-shadow
  +box-shadow(rgba($black, 0.1) 2px 2px 2px, rgba($black, 0.1) 0 0 0 1px)
  margin: 0 2px 2px 1px
  +breakpoint($bp-mobile-max)
    margin-top: 1px

%border-and-box-shadow
  @extend %box-shadow
  @extend %border

%bg-border-and-box-shadow
  @extend %border-and-box-shadow
  background-color: $grey-c
  +background(linear-gradient(bottom, #ededed 20%, #fbfaf8 100%))
  @include filter-gradient(#fbfaf8, #ededed, vertical)
  $experimental-support-for-svg: true

.ie8
  %bg-border-and-box-shadow
    border: 1px $grey-c solid !important
    margin-left: 0 !important
    margin-right: 0 !important

%bg-and-box-shadow
  background-color: $grey-c
  +background(linear-gradient(bottom, #ededed 20%, #fbfaf8 100%))
  @extend %box-shadow
  margin: 1px

%doc-attached-icons
  margin-left: 3px
  font-family: "gsb"
  line-height: 1
  position: relative
  top: 2px
  font-weight: normal
  text-transform: lowercase
  &:hover
    &:after
      color: $text-blue

// Related links fpp
%related-links
  padding: 0 24px 24px 24px
  // Links
  .field-type-link-field .field-item
    line-height: 1.3
    padding-bottom: 20px
    a
      color: $red
      font-size: 14px
      font-weight: bold

// Profile detail information blocks
// PhD, Faculty
%group-wrapper-information
  @extend %bg-border-and-box-shadow
  padding: 26px 0
  a
    color: $link-green
    font-size: 16px
    font-family: $font-demi
    line-height: 1.2
    &:hover
      color: $link-blue
    &[target=_blank]
      &:after
        content: " i"
        font-family: "gsb"
        font-size: 12px
        font-weight: normal
  .field
    padding: 0 26px
