// Fontcustom icons

[class^="icon-"]:before, [class*=" icon-"]:before
  font-weight: normal
  font-style: normal
  display: inline-block
  text-decoration: inherit

a [class^="icon-"], a [class*=" icon-"]
  display: inline-block
  text-decoration: inherit

.icon-large:before
  vertical-align: top
  font-size: 1.333em

.btn [class^="icon-"], .btn [class*=" icon-"]
  line-height: 0.9em

li [class^="icon-"], li [class*=" icon-"]
  display: inline-block
  width: 1.25em
  text-align: center

li .icon-large[class^="icon-"], li .icon-large[class*=" icon-"]
  width: 1.875em

li[class^="icon-"], li[class*=" icon-"]
  margin-left: 0
  list-style-type: none

li[class^="icon-"]:before, li[class*=" icon-"]:before
  text-indent: -2em
  text-align: center

li[class^="icon-"].icon-large:before, li[class*=" icon-"].icon-large:before
  text-indent: -1.333em


// Icon Classes
.icon-arrow-double
  &:before
    content: "\f100"
    font-family: "arrow-double"

.icon-external-link
  &:before
    content: "\f100"
    font-family: "external-link"

//txt, doc, docx, xls, xlsx, pdf, ppt, pptx, pps, odt, ods, odp, zip.

body
  a
    &[href$=".pdf"]
      &:after
        content: 'm' !important
        @extend %doc-attached-icons

    &[href$=".png"],
    &[href$=".jpg"],
    &[href$=".gif"]
      &:after
        content: '#' !important
        @extend %doc-attached-icons

    &[href$=".pptx"],
    &[href$=".ppt"],
    &[href$=".pps"],
    &[href$=".odp"]
      &:after
        content: '%' !important
        @extend %doc-attached-icons

    &[href$=".zip"],
    &[href$=".rar"],
    &[href$=".tar"]
      &:after
        content: '$' !important
        @extend %doc-attached-icons

    &[href$=".doc"],
    &[href$=".docx"],
    &[href$=".txt"],
    &[href$=".odt"]
      &:after
        content: '&' !important
        @extend %doc-attached-icons

    &[href$=".xls"],
    &[href$=".xlsx"],
    &[href$=".ods"]
      &:after
        content: '^' !important
        @extend %doc-attached-icons


//Hide old image assigned for file type
.file-icon
  display: none !important

