// Fontcustom icons


//txt, doc, docx, xls, xlsx, pdf, ppt, pptx, pps, odt, ods, odp, zip.
body
  a
    &[href$=".pdf"]
      &:after
        content: 'm' !important
        vertical-align: text-top
        @extend %doc-attached-icons

    &[href$=".png"],
    &[href$=".jpg"],
    &[href$=".gif"]
      &:after
        content: '#' !important
        @extend %doc-attached-icons

    &[href$=".pptx"],
    &[href$=".ppt"],
    &[href$=".pps"],
    &[href$=".odp"]
      &:after
        content: '%' !important
        @extend %doc-attached-icons

    &[href$=".zip"],
    &[href$=".rar"],
    &[href$=".tar"]
      &:after
        content: '$' !important
        @extend %doc-attached-icons

    &[href$=".doc"],
    &[href$=".docx"],
    &[href$=".txt"],
    &[href$=".odt"]
      &:after
        content: '&' !important
        @extend %doc-attached-icons

    &[href$=".xls"],
    &[href$=".xlsx"],
    &[href$=".ods"]
      &:after
        content: '^' !important
        @extend %doc-attached-icons

//Hide old image assigned for file type
.file-icon
  display: none !important
