// Import font files

// +font-face($name, $font-files, $eot, $weight, $style)
// $font-files is required using font-files('relative/location', 'format'). for best results use this order: woff, opentype/truetype, svg

//////////////////////////
// News Gothic BT Family
//////////////////////////


// News Gothic
// +font-face("NewsGothicBT", font-files("236F40_0_0.woff", "236F40_0_0.ttf"), "236F40_0_0.eot", normal, normal)

// News Gothic Italic
// +font-face("NewsGothicBT", font-files("236F40_1_0.woff", "236F40_1_0.ttf"), "236F40_1_0.eot", normal, italic)

// News Gothic Bold
// +font-face("NewsGothicBT", font-files("236F40_2_0.woff", "236F40_2_0.ttf"), "236F40_2_0.eot", bold, normal)

// News Gothic Bold Italic
// +font-face("NewsGothicBT", font-files("236F40_3_0.woff", "236F40_3_0.ttf"), "236F40_3_0.eot", bold, italic)

// News Gothic Light
// +font-face("NewsGothicBT-Light", font-files("236F40_4_0.woff", "236F40_4_0.ttf"), "236F40_4_0.eot", normal, normal)

// News Gothic Light Italic
// +font-face("NewsGothicBT-Light", font-files("236F40_5_0.woff", "236F40_5_0.ttf"), "236F40_5_0.eot", normal, italic)

// News Gothic Condensed
// +font-face("NewsGothicBT-Condensed", font-files("236F40_6_0.woff", "236F40_6_0.ttf"), "236F40_6_0.eot", normal, normal)

// News Gothic Italic Condensed
// +font-face("NewsGothicBT-Condensed", font-files("236F40_7_0.woff", "236F40_7_0.ttf"), "236F40_7_0.eot", normal, italic)

// News Gothic Bold Condensed
// +font-face("NewsGothicBT-Condensed", font-files("236F40_8_0.woff", "236F40_8_0.ttf"), "236F40_8_0.eot", bold, normal)

// News Gothic Bold Italic Condensed
// +font-face("NewsGothicBT-Condensed", font-files("236F40_9_0.woff", "236F40_9_0.ttf"), "236F40_9_0.eot", bold, italic)

// News Gothic Extra Condensed
// +font-face("NewsGothicBT-ExtraCondensed", font-files("236F40_A_0.woff", "236F40_A_0.ttf"), "236F40_A_0.eot", normal, normal)

// News Gothic Bold Extra Condensed
// +font-face("NewsGothicBT-ExtraCondensed", font-files("236F40_B_0.woff", "236F40_B_0.ttf"), "236F40_B_0.eot", bold, normal)

// News Gothic Demi
// +font-face("NewsGothicBT-Demi", font-files("236F40_C_0.woff", "236F40_C_0.ttf"), "236F40_C_0.eot", normal, normal)

// News Gothic Demi Italic
// +font-face("NewsGothicBT-Demi", font-files("236F40_D_0.woff", "236F40_D_0.ttf"), "236F40_D_0.eot", normal, italic)


@font-face
  font-family: "NewsGothicBT"
  src: url('../fonts/236F40_0_0.eot')
  src: url('../fonts/236F40_0_0.eot') format('embedded-opentype'), url('../fonts/236F40_0_0.woff') format('woff'), url('../fonts/236F40_0_0.ttf') format('truetype')
  font-weight: normal
  font-style: normal

@font-face
  font-family: "NewsGothicBT"
  src: url('../fonts/236F40_1_0.eot')
  src: url('../fonts/236F40_1_0.eot') format('embedded-opentype'), url('../fonts/236F40_1_0.woff') format('woff'), url('../fonts/236F40_1_0.ttf') format('truetype')
  font-weight: normal
  font-style: italic

@font-face
  font-family: "NewsGothicBT"
  src: url('../fonts/236F40_2_0.eot')
  src: url('../fonts/236F40_2_0.eot') format('embedded-opentype'), url('../fonts/236F40_2_0.woff') format('woff'), url('../fonts/236F40_2_0.ttf') format('truetype')
  font-weight: bold
  font-style: normal

@font-face
  font-family: "NewsGothicBT"
  src: url('../fonts/236F40_3_0.eot')
  src: url('../fonts/236F40_3_0.eot') format('embedded-opentype'), url('../fonts/236F40_3_0.woff') format('woff'), url('../fonts/236F40_3_0.ttf') format('truetype')
  font-weight: bold
  font-style: italic

@font-face
  font-family: "NewsGothicBT-Light"
  src: url('../fonts/236F40_4_0.eot')
  src: url('../fonts/236F40_4_0.eot') format('embedded-opentype'), url('../fonts/236F40_4_0.woff') format('woff'), url('../fonts/236F40_4_0.ttf') format('truetype')
  font-weight: normal
  font-style: normal

@font-face
  font-family: "NewsGothicBT-Light"
  src: url('../fonts/236F40_5_0.eot')
  src: url('../fonts/236F40_5_0.eot') format('embedded-opentype'), url('../fonts/236F40_5_0.woff') format('woff'), url('../fonts/236F40_5_0.ttf') format('truetype')
  font-weight: normal
  font-style: italic

@font-face
  font-family: "NewsGothicBT-Demi"
  src: url('../fonts/236F40_C_0.eot')
  src: url('../fonts/236F40_C_0.eot') format('embedded-opentype'), url('../fonts/236F40_C_0.woff') format('woff'), url('../fonts/236F40_C_0.ttf') format('truetype')
  font-weight: normal
  font-style: normal

@font-face
  font-family: "NewsGothicBT-Demi"
  src: url('../fonts/236F40_D_0.eot')
  src: url('../fonts/236F40_D_0.eot') format('embedded-opentype'), url('../fonts/236F40_D_0.woff') format('woff'), url('../fonts/236F40_D_0.ttf') format('truetype')
  font-weight: normal
  font-style: italic


/* @license
 * MyFonts Webfont Build ID 2322240, 2012-07-10T13:46:54-0400
 *
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are
 * explicitly restricted from using the Licensed Webfonts(s).
 *
 * You may obtain a valid license at the URLs below.
 *
 * Webfont: News Gothic by Bitstream
 * URL: http://www.myfonts.com/fonts/bitstream/news-gothic/news-gothic/
 * Licensed pageviews: 200,000
 *
 * Webfont: News Gothic Italic by Bitstream
 * URL: http://www.myfonts.com/fonts/bitstream/news-gothic/italic/
 * Licensed pageviews: unspecified
 *
 * Webfont: News Gothic Bold by Bitstream
 * URL: http://www.myfonts.com/fonts/bitstream/news-gothic/bold/
 * Licensed pageviews: unspecified
 *
 * Webfont: News Gothic Bold Italic by Bitstream
 * URL: http://www.myfonts.com/fonts/bitstream/news-gothic/bold-italic/
 * Licensed pageviews: unspecified
 *
 * Webfont: News Gothic Light by Bitstream
 * URL: http://www.myfonts.com/fonts/bitstream/news-gothic/light/
 * Licensed pageviews: unspecified
 *
 * Webfont: News Gothic Light Italic by Bitstream
 * URL: http://www.myfonts.com/fonts/bitstream/news-gothic/light-italic/
 * Licensed pageviews: unspecified
 *
 * Webfont: News Gothic Condensed by Bitstream
 * URL: http://www.myfonts.com/fonts/bitstream/news-gothic/condensed/
 * Licensed pageviews: unspecified
 *
 * Webfont: News Gothic Italic Condensed by Bitstream
 * URL: http://www.myfonts.com/fonts/bitstream/news-gothic/italic-condensed/
 * Licensed pageviews: unspecified
 *
 * Webfont: News Gothic Bold Condensed by Bitstream
 * URL: http://www.myfonts.com/fonts/bitstream/news-gothic/bold-condensed/
 * Licensed pageviews: unspecified
 *
 * Webfont: News Gothic Bold Italic Condensed by Bitstream
 * URL: http://www.myfonts.com/fonts/bitstream/news-gothic/bold-italic-condensed/
 * Licensed pageviews: unspecified
 *
 * Webfont: News Gothic Extra Condensed by Bitstream
 * URL: http://www.myfonts.com/fonts/bitstream/news-gothic/extra-condensed/
 * Licensed pageviews: unspecified
 *
 * Webfont: News Gothic Bold Extra Condensed by Bitstream
 * URL: http://www.myfonts.com/fonts/bitstream/news-gothic/bold-extra-condensed/
 * Licensed pageviews: unspecified
 *
 * Webfont: News Gothic Demi by Bitstream
 * URL: http://www.myfonts.com/fonts/bitstream/news-gothic/demi/
 * Licensed pageviews: unspecified
 *
 * Webfont: News Gothic Demi Italic by Bitstream
 * URL: http://www.myfonts.com/fonts/bitstream/news-gothic/demi-italic/
 * Licensed pageviews: unspecified
 *
 *
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=2322240
 * Webfonts copyright: Copyright 1990-2003 Bitstream Inc. All rights reserved.
 *
 * © 2012 Bitstream Inc
 */


//////////////////////////
// CUSTOM FONTS FOR ICONS
//////////////////////////

// Arrow Double
// +font-face("arrow-double", font-files("arrow-double.woff", "arrow-double.ttf", "arrow-double.svg"), "arrow-double.eot", normal, normal)

////////////////
// GSB Icon font
////////////////
// +font-face("gsb", font-files("gsb-webfont.woff", "gsb-webfont.ttf", "gsb-webfont.svg"), "gsb-webfont.eot", normal, normal)

// Icon font key

// a - search
// c - plus (+)
// d - minus (-)
// e - menu-list
// f - menu
// i - arrow-external
// m - pdf
// n - linked in
// o - email icon (gsb: fill , gsb-email: stroke)
// p - youtube
// q - arrow double left
// r - twitter
// s - facebook
// w - arrow double right
// z - arrow med right
// [ - arrow med left
// . - arrow med down
// , - arrow med up
// # - picture (mountain)
// % - presentation (rectangle)
// $ - zip (doc with arrow down)
// & - document (doc with lines)
// ^ - spreadsheet (doc with cells)
// ~ - circle
// ! - clock - gsb clock
// : - chat - gsb chat
// 3 - video
// 4 - podcast
// 5 - calendar (day)
// 6 - calendar (empty)
// 9 - play button triangle

// =======

// Unused as of 04/01/2014

// b - rss REMOVE
// g - arrow in circle left REMOVE
// h - arrow in circle right REMOVE
// j - heavy single arrow up REMOVE
// k - heavy single arrow down REMOVE
// l - heavy single arrow left REMOVE
// t - thin single arrow right REMOVE
// u - heavy single arrow right REMOVE
// v - thin single arrow left REMOVE
// x - thin single arrow down REMOVE
// y - thin single arrow up REMOVE
// ] - triangle down REMOVE
// \ - triangle up REMOVE
// ! - calendar (date boxes) REMOVE
// 1 - bigger heavy arrow left REMOVE
// 2 - four arrows REMOVE
// 7 - thumbsup REMOVE
// 8 - pinterest REMOVE

// Updated email icon
// +font-face("gsb-email", font-files("gsb-email-icon.svg", "gsb-email-icon.ttf", "gsb-email-icon.woff"), "gsb-email-icon.eot", normal, normal)

@font-face
  font-family: "arrow-double"
  src: url('../fonts/arrow-double.eot')
  src: url('../fonts/arrow-double.eot') format('embedded-opentype'), url('../fonts/arrow-double.woff') format('woff'), url('../fonts/arrow-double.ttf') format('truetype'), url('../fonts/arrow-double.svg') format('svg')
  font-weight: normal
  font-style: normal

@font-face
  font-family: "gsb"
  src: url('../fonts/gsb-webfont.eot')
  src: url('../fonts/gsb-webfont.eot') format('embedded-opentype'), url('../fonts/gsb-webfont.woff') format('woff'), url('../fonts/gsb-webfont.ttf') format('truetype'), url('../fonts/gsb-webfont.svg') format('svg')
  font-weight: normal
  font-style: normal

@font-face
  font-family: "gsb-email"
  src: url('../fonts/gsb-email-icon.eot')
  src: url('../fonts/gsb-email-icon.eot') format('embedded-opentype'), url('../fonts/gsb-email-icon.svg') format('svg'), url('../fonts/gsb-email-icon.ttf') format('truetype'), url('../fonts/gsb-email-icon.woff') format('woff')
  font-weight: normal
  font-style: normal

@font-face
  font-family: "gsb-clock"
  src: url('../fonts/gsb-clock.eot')
  src: url('../fonts/gsb-clock.eot') format('embedded-opentype'), url('../fonts/gsb-clock.svg') format('svg'), url('../fonts/gsb-clock.ttf') format('truetype'), url('../fonts/gsb-clock.woff') format('woff')
  font-weight: normal
  font-style: normal

@font-face
  font-family: "gsb-chat"
  src: url('../fonts/gsb-chat.eot')
  src: url('../fonts/gsb-chat.eot') format('embedded-opentype'), url('../fonts/gsb-chat.svg') format('svg'), url('../fonts/gsb-chat.ttf') format('truetype'), url('../fonts/gsb-chat.woff') format('woff')
  font-weight: normal
  font-style: normal
