// #{headers(all)},
%h1, %h2, %h3, %h4, %h5, %h6
  color: $text-grey
  font-family: $font-headline
  line-height: 1
  margin: 0
  text-rendering: optimizeLegibility
  // text-transform: uppercase (don't want this on h1 or h2 of nodes)

%h1
  font-size: 48px
  line-height: 56px
  font-family: $font-demi
  +breakpoint($bp-mobile-480)
    font-size: 36px
    line-height: 42px

%h2
  color: $text-blue
  font-family: $font-demi
  font-size: 34px
  line-height: 40px

%h3
  font-size: 26px
  font-weight: bold
  line-height: 30px

%h4
  font-size: 20px
  font-weight: bold
  line-height: 26px

%h5
  font-size: 18px
  font-weight: bold
  line-height: 24px

%h6
  color: $text-blue
  font-family: $font-demi
  font-size: 18px
  line-height: 24px

h1
  @extend %h1
h2
  @extend %h2
h3
  @extend %h3
h4
  @extend %h4
h5
  @extend %h5
h6
  @extend %h6


// On node pages
.view-mode-full
  h1.full-title
    font-family: $font-sans
    font-size: 34px
    font-weight: bold
    line-height: 42px
    margin-bottom: 24px
  h2.editorial-summary
    font-size: 22px
    line-height: 28px

h1.title
  font-family: $font-sans
  font-size: 34px
  font-weight: bold
  line-height: 42px
  padding-bottom: 24px
