// Images

img
  @extend %constrain-to-parent
  vertical-align: text-bottom
  height: auto
  &.left
    float: left
    margin: 12px 42px 12px 0
  &.right
    float: right
    margin: 12px 0 12px 42px
