// Tables --------------------------------------------------------------
// tables still need 'cellspacing="0"' in the markup

table
  @extend %constrain-to-parent
  border: 0 !important

tbody
  border-top: 0

th,
td
  border: 0
  padding: 0

caption,
th
  color: $text-black
  font-weight: bold

th[scope="row"]
  font-weight: normal !important

caption
  font-size: 20px
  font-weight: normal
  line-height: 26px
  text-align: left

th,
td
  font-size: 14px
  line-height: 18px
  text-align: left
  vertical-align: top

// Table header
thead
  tr
    background: $white

// Table body
tbody
  tr
    border-top: 1px solid $teal-light

  tr:nth-of-type(even)
    background-color: $white

// WYSIWYG Table
.field-name-field-body
  table
    margin: 20px 0

  caption
    color: $text-blue
    font-family: $font-demi
    font-size: 18px
    line-height: 1em
    margin-bottom: 20px
  thead
    tr th
      padding: 16px 26px

  tbody
    border-bottom: 1px solid $teal-light
    tr
      background: #f5f5f5
      border-top: 1px solid $teal-light
      &:nth-of-type(odd)
        background-color: $white
    tr th
      background: #d5e7e4
      padding: 16px 26px
    td
      padding: 16px 26px
      &:first-of-type
        font-weight: bold
        min-width: 180px
      a
        color: $text-green
        font-weight: bold
      p
        font-size: 14px
        line-height: 18px
