.file-resource_image--full_width {
  margin-bottom: 20px;
}

.file-resource_image--1_2_width,
.file-resource_image--1_3_width {
  float: right;
  margin-bottom: 20px;
  margin-left: 20px;
}
@media (max-width: 75.625em) {
  .file-resource_image--1_2_width,
  .file-resource_image--1_3_width {
    float: none;
    margin-left: 0;
  }
}

.file-resource_image--1_2_width {
  max-width: 408px;
}

.file-resource_image--1_3_width {
  max-width: 268px;
}
