body a.image-enlarge-button {
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  margin: 1px;
}

body a.image-enlarge-button {
  background: #636f00;
  background: -moz-linear-gradient(top, #6c7200, #636f00);
  background: -o-linear-gradient(top, #6c7200, #636f00);
  background: -webkit-linear-gradient(top, #6c7200, #636f00);
  background: linear-gradient(to bottom, #6c7200, #636f00);
}

body a.image-enlarge-button:hover {
  background: #2d6280;
  background: -moz-linear-gradient(top, #18455f, #2d6280);
  background: -o-linear-gradient(top, #18455f, #2d6280);
  background: -webkit-linear-gradient(top, #18455f, #2d6280);
  background: linear-gradient(to bottom, #18455f, #2d6280);
}

body a.image-enlarge-button {
  border: none;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  color: white;
  font-family: "NewsGothicBT", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1;
  padding: 10px 16px;
}
body a.image-enlarge-button:after {
  color: white !important;
}
body a.image-enlarge-button:hover {
  border: 0;
  color: white;
}
body a.image-enlarge-button:hover:after {
  color: white !important;
}

.file-resource_image--1_2_width,
.file-resource_image--1_3_width {
  float: right;
  margin-bottom: 20px;
  margin-left: 20px;
}

.file-resource_image--full_width {
  margin-bottom: 20px;
  max-width: 815px;
}

.file-resource_image--1_2_width {
  max-width: 408px;
}
@media (max-width: 48.75em) {
  .file-resource_image--1_2_width {
    float: none;
    margin-left: 0;
    max-width: 100%;
  }
}

.file-resource_image--1_3_width {
  max-width: 268px;
}
@media (max-width: 40em) {
  .file-resource_image--1_3_width {
    float: none;
    margin-left: 0;
    max-width: 100%;
  }
}

.field-resource-image-caption {
  color: #595959;
  font-size: 14px;
  line-height: 1.2;
  margin-top: 12px;
  max-width: 650px;
}
@media (max-width: 35.5em) {
  .field-resource-image-caption {
    font-size: 13px;
  }
}

.file-resource-image figure {
  bottom: 0;
  position: relative;
}

body a.image-enlarge-button {
  float: right;
  margin: 12px 0;
}
body a.image-enlarge-button:after {
  content: "\f102";
  display: inline;
  speak: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-transform: none;
  line-height: 1;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'icons';
}
body a.image-enlarge-button:after {
  content: "\f102" !important;
  font-size: 12px;
}

.image-text-equivalent {
  font-size: 16px;
  line-height: 1.3;
  margin-bottom: 8px;
  text-align: right;
}
.image-text-equivalent a {
  border-bottom: 0;
}
