.file-resource-soundcloud.file-resource_soundcloud--1_2_width, .file-resource-soundcloud.file-resource_soundcloud--1_3_width {
  float: right;
  margin-bottom: 20px;
  margin-left: 20px;
}

.file-resource-soundcloud iframe {
  width: 100% !important;
}
.file-resource-soundcloud.file-resource_soundcloud--large_cover, .file-resource-soundcloud.file-resource_soundcloud--full_width {
  margin-bottom: 20px;
  max-width: 670px;
}
.file-resource-soundcloud.file-resource_soundcloud--1_2_width {
  max-width: 408px;
}
@media (max-width: 48.75em) {
  .file-resource-soundcloud.file-resource_soundcloud--1_2_width {
    float: none;
    margin-left: 0;
    max-width: 100%;
    text-align: center;
  }
}
.file-resource-soundcloud.file-resource_soundcloud--1_3_width {
  max-width: 270px;
}
@media (max-width: 40em) {
  .file-resource-soundcloud.file-resource_soundcloud--1_3_width {
    float: none;
    margin-left: 0;
    max-width: 100%;
    text-align: center;
  }
}
