.file-resource-twitter {
  float: right;
  margin-bottom: 20px !important;
  margin-left: 20px !important;
}
@media (max-width: 48.75em) {
  .file-resource-twitter {
    float: none;
    margin-left: 0 !important;
    text-align: center;
  }
}
.file-resource-twitter iframe {
  min-width: 408px !important;
}
@media (max-width: 30em) {
  .file-resource-twitter iframe {
    min-width: 100% !important;
  }
}
