.twitter-tweet {
  float: right;
  margin-bottom: 20px !important;
  margin-left: 20px !important;
}
@media (max-width: 75.625em) {
  .twitter-tweet {
    float: none;
    margin-left: 0 !important;
  }
}
