.file-resource_twitter--default {
  float: right;
  margin-bottom: 20px !important;
  margin-left: 20px !important;
}
.file-resource_twitter--default iframe {
  width: 408px !important;
}
@media (max-width: 75.625em) {
  .file-resource_twitter--default {
    float: none;
    margin-left: 0 !important;
    width: 100% !important;
  }
}
