.file-resource_youtube--1_2_width,
.file-resource_youtube--1_3_width {
  float: right;
  margin-bottom: 20px;
  margin-left: 20px;
}

.file-resource_youtube--full_width .resource-youtube-video {
  height: 0;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  top: 0;
}
.file-resource_youtube--full_width .resource-youtube-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.file-resource_youtube--full_width {
  max-width: 670px;
}

.file-resource_youtube--1_2_width {
  max-width: 408px;
}
@media (max-width: 48.75em) {
  .file-resource_youtube--1_2_width {
    float: none;
    margin-left: 0;
    max-width: 100%;
    text-align: center;
  }
  .file-resource_youtube--1_2_width .resource-youtube-video {
    height: 0;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    top: 0;
  }
  .file-resource_youtube--1_2_width .resource-youtube-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.file-resource_youtube--1_3_width {
  max-width: 270px;
}
.file-resource_youtube--1_3_width a {
  border-bottom: none;
}
.file-resource_youtube--1_3_width a:hover {
  border-bottom: none;
}
@media (max-width: 40em) {
  .file-resource_youtube--1_3_width {
    float: none;
    margin-left: 0;
    max-width: 100%;
    text-align: center;
  }
}
