.pane-ee-programs-upcoming-deadlines {
  background: white;
}

.node-program.view-mode-field_program_ctas .field-name-field-application-requirements, .node-program.view-mode-field_program_ctas .field-name-field-cta1,
.node-program.view-mode-field_program_ctas .field-name-field-cta2 {
  background-color: #f9f9f9;
  background: -moz-linear-gradient(bottom, #f9f9f9 20%, #ffffff 100%);
  background: -o-linear-gradient(bottom, #f9f9f9 20%, #ffffff 100%);
  background: -webkit-linear-gradient(bottom, #f9f9f9 20%, #ffffff 100%);
  background: linear-gradient(to top, #f9f9f9 20%, #ffffff 100%);
}

.node-program.view-mode-field_program_director .node-staff.view-mode-field_program_director .field-name-title, .node-program-instance.view-mode-field_program_faculty .node-faculty {
  border-top: 1px lightgray solid;
}

.node-program.view-mode-idea_story_related, .pane-ee-programs-upcoming-deadlines .view-display-id-upcoming_deadlines {
  border-bottom: 1px lightgray solid;
}

.node-program.view-mode-field_program_ctas .field-name-field-application-requirements, .node-program.view-mode-field_program_ctas .field-name-field-cta1,
.node-program.view-mode-field_program_ctas .field-name-field-cta2 {
  border: 2px white solid;
}

.pane-ee-programs-upcoming-deadlines h2.pane-title, .pane-ee-programs-upcoming-deadlines .pane-content {
  border-top: 10px #231f20 solid;
}

.node-program.view-mode-field_program_ctas .field-name-field-application-requirements, .node-program.view-mode-field_program_ctas .field-name-field-cta1,
.node-program.view-mode-field_program_ctas .field-name-field-cta2, .pane-ee-programs-upcoming-deadlines, .node-program.view-mode-field_program_director .node-staff.view-mode-field_program_director, .pane-ee-programs-upcoming-programs {
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  margin: 1px;
}

.ie8 .node-program.view-mode-field_program_ctas .field-name-field-application-requirements, .node-program.view-mode-field_program_ctas .ie8 .field-name-field-application-requirements, .ie8 .node-program.view-mode-field_program_ctas .field-name-field-cta1, .node-program.view-mode-field_program_ctas .ie8 .field-name-field-cta1,
.ie8 .node-program.view-mode-field_program_ctas .field-name-field-cta2,
.node-program.view-mode-field_program_ctas .ie8 .field-name-field-cta2 {
  border: 1px #cccccc solid !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.ee-section-apply-brochure {
  background-color: #c50000;
  background: -moz-linear-gradient(bottom, #c50000 0%, #860000 100%);
  background: -o-linear-gradient(bottom, #c50000 0%, #860000 100%);
  background: -webkit-linear-gradient(bottom, #c50000 0%, #860000 100%);
  background: linear-gradient(to top, #c50000 0%, #860000 100%);
}

.pane-ee-programs-upcoming-programs .super-head {
  background: #231f20;
  color: white;
  display: inline-block;
  font-family: "NewsGothicBT-Demi", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2;
  margin-bottom: 26px;
  padding: 6px 8px;
  position: relative;
  z-index: 2;
}
@media (max-width: 38.125em) {
  .pane-ee-programs-upcoming-programs .super-head {
    font-size: 13px;
    margin-bottom: 20px;
  }
}

#block-gsb-public-custom-blocks-gpcb-exec-ed {
  border-left: 1px solid #d6d6d6;
  display: inline-block;
  height: 59px;
  padding-top: 18px;
  position: absolute;
}
@media (max-width: 73.0625em) {
  #block-gsb-public-custom-blocks-gpcb-exec-ed {
    height: 50px;
    left: 235px;
    padding-top: 10px;
  }
}
#block-gsb-public-custom-blocks-gpcb-exec-ed h2 {
  line-height: 0;
}
#block-gsb-public-custom-blocks-gpcb-exec-ed h2 a {
  color: #231f20;
  font-family: "NewsGothicBT-Demi", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
  line-height: 1.2;
  padding-left: 10px;
}
@media (max-width: 35.5em) {
  #block-gsb-public-custom-blocks-gpcb-exec-ed h2 a {
    font-size: 18px;
  }
}

.menu-name-menu-executive-education-mega-me {
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
}

.page-exec-ed .qtip-content {
  background: #645c51 !important;
}
.page-exec-ed .qtip-content .pane-title {
  display: none;
}
@media (max-width: 73.0625em) {
  .page-exec-ed .qtip {
    display: none !important;
  }
}
.page-exec-ed #menu-main-footer {
  display: none;
}
@media (max-width: 73.0625em) {
  .page-exec-ed #menu-main-footer {
    background: -moz-linear-gradient(#ededed, #ffffff);
    background: -o-linear-gradient(#ededed, #ffffff);
    background: -webkit-linear-gradient(#ededed, #ffffff);
    background: linear-gradient(#ededed, #ffffff);
    overflow: hidden;
    *zoom: 1;
    display: block;
    padding: 12px 50px 0 50px;
    width: 100%;
  }
  .page-exec-ed #menu-main-footer .menu {
    width: auto;
  }
  .page-exec-ed #menu-main-footer li {
    line-height: 1.2;
    padding-bottom: 12px;
  }
  .page-exec-ed #menu-main-footer a {
    font-weight: bold;
    font-size: 13px;
    line-height: 1.2;
    text-transform: uppercase;
  }
}
.page-exec-ed #nav-touch-wrapper {
  display: inline;
}
@media (max-width: 73.0625em) {
  .page-exec-ed #nav-touch-wrapper {
    display: block;
  }
}
.page-exec-ed #nav-touch-wrapper #nav-touch-button {
  display: none;
}
@media (max-width: 73.0625em) {
  .page-exec-ed #nav-touch-wrapper #nav-touch-button {
    border-right: 1px #9b9285 solid;
    cursor: pointer;
    display: inline-block;
    height: 50px;
    padding: 3px 12px 9px;
    vertical-align: top;
    position: relative;
    width: 50px;
    z-index: 12;
  }
}
.page-exec-ed #nav-touch-wrapper #nav-touch-button:after {
  content: "\f115";
  display: inline;
  speak: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-transform: none;
  line-height: 1;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'icons';
}
.page-exec-ed #nav-touch-wrapper #nav-touch-button:after {
  color: white;
  font-size: 21px;
  position: relative;
  top: 12px;
  right: -2px;
}
@media (max-width: 73.0625em) {
  .page-exec-ed #nav-touch-wrapper {
    max-height: 50px;
    display: inline-block;
    float: left;
  }
  .page-exec-ed #nav-touch-wrapper #nav-touch-button {
    background: #7d7466;
  }
  .page-exec-ed #nav-touch-wrapper #nav-touch-button:hover {
    text-decoration: none;
  }
  .page-exec-ed #nav-touch-wrapper #navigation {
    display: none;
  }
}
@media (max-width: 73.0625em) {
  .page-exec-ed #nav-touch-wrapper.open #nav-touch-button {
    background: white;
    background: -moz-linear-gradient(#ededed, #ffffff);
    background: -o-linear-gradient(#ededed, #ffffff);
    background: -webkit-linear-gradient(#ededed, #ffffff);
    background: linear-gradient(#ededed, #ffffff);
  }
  .page-exec-ed #nav-touch-wrapper.open #nav-touch-button:after {
    color: #990000;
  }
  .page-exec-ed #nav-touch-wrapper.open #navigation {
    display: block !important;
    position: absolute !important;
    width: 100% !important;
    z-index: 11 !important;
  }
}
.page-exec-ed #search-touch-button {
  display: none;
}
.page-exec-ed #search-touch-button:hover {
  text-decoration: none;
}
@media (max-width: 73.0625em) {
  .page-exec-ed #search-touch-button {
    background: #7d7466;
    border-right: 1px #9b9285 solid;
    cursor: pointer;
    display: inline-block;
    height: 50px;
    left: 50px;
    position: absolute;
    width: 50px;
  }
  .page-exec-ed #search-touch-button:after {
    content: "\f11f";
    display: inline;
    speak: none;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-transform: none;
    line-height: 1;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-family: 'icons';
  }
  .page-exec-ed #search-touch-button:after {
    color: white;
    font-size: 24px;
    padding: 0 12px;
    position: relative;
    top: 16px;
  }
}
@media (min-width: 73.125em) {
  .page-exec-ed .global-search {
    float: left;
    height: 0;
    margin-top: 3px;
    width: 200px;
  }
  .search-closed .page-exec-ed .global-search, .js .page-exec-ed .global-search {
    width: auto;
  }
  .js .search-open .page-exec-ed .global-search {
    width: 200px;
  }
}
.page-exec-ed .region-sidebar-first {
  background: none;
  border-top: 1px lightgray solid;
}
.page-exec-ed .region-sidebar-first ul li {
  color: #7d7466;
  font-family: "NewsGothicBT", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.2;
}
.page-exec-ed .region-sidebar-first ul li a {
  color: #7d7466;
}
.page-exec-ed .region-sidebar-first ul li a:hover {
  color: #231f20;
}
.page-exec-ed .region-sidebar-first ul li a.active {
  color: #231f20;
}
.page-exec-ed .region-sidebar-first ul li ul li ul li a {
  font-family: "NewsGothicBT", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
}

.node-program.view-mode-field_program_ctas .field {
  font-size: 16px;
  line-height: 1.2;
  margin: 1px;
  padding: 14px 26px;
  position: relative;
}
.node-program.view-mode-field_program_ctas .field a {
  display: block;
}
.node-program.view-mode-field_program_ctas .field-name-field-application-requirements {
  color: #c2b7a1;
  margin-bottom: 20px;
}
.node-program.view-mode-field_program_ctas .field-name-field-application-requirements a,
.node-program.view-mode-field_program_ctas .field-name-field-application-requirements a[target="_blank"] {
  position: relative;
}
.node-program.view-mode-field_program_ctas .field-name-field-application-requirements a:after,
.node-program.view-mode-field_program_ctas .field-name-field-application-requirements a[target="_blank"]:after {
  color: #c2b7a1;
}
.node-program.view-mode-field_program_ctas .field-name-field-application-requirements a:hover:after,
.node-program.view-mode-field_program_ctas .field-name-field-application-requirements a[target="_blank"]:hover:after {
  color: #aac4bf;
}
.node-program.view-mode-field_program_ctas .field-name-field-cta1 a,
.node-program.view-mode-field_program_ctas .field-name-field-cta1 a[target="_blank"],
.node-program.view-mode-field_program_ctas .field-name-field-cta2 a,
.node-program.view-mode-field_program_ctas .field-name-field-cta2 a[target="_blank"] {
  color: #636f00;
  position: relative;
}
.node-program.view-mode-field_program_ctas .field-name-field-cta1 a:after,
.node-program.view-mode-field_program_ctas .field-name-field-cta1 a[target="_blank"]:after,
.node-program.view-mode-field_program_ctas .field-name-field-cta2 a:after,
.node-program.view-mode-field_program_ctas .field-name-field-cta2 a[target="_blank"]:after {
  color: #e3e3e3;
}
.node-program.view-mode-field_program_ctas .field-name-field-cta1:hover a,
.node-program.view-mode-field_program_ctas .field-name-field-cta2:hover a {
  color: #2d6280;
}
.node-program.view-mode-field_program_ctas .field-name-field-cta1:hover a:after,
.node-program.view-mode-field_program_ctas .field-name-field-cta2:hover a:after {
  color: #aac4bf;
}

.node-program.view-mode-field_program_curriculum {
  font-size: 24px !important;
  font-weight: normal;
  line-height: 1.4 !important;
}

.node-program.view-mode-field_program_curriculum_one h2,
.node-program.view-mode-field_program_curriculum_two h2 {
  color: #231f20;
  font-family: "NewsGothicBT", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 32px;
  font-weight: normal;
  line-height: 1.3;
  margin-bottom: 0.5em;
}
.node-program.view-mode-field_program_curriculum_one h3,
.node-program.view-mode-field_program_curriculum_two h3 {
  color: #231f20;
  font-family: "NewsGothicBT", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.3;
  margin-bottom: 0.5em;
}
.node-program.view-mode-field_program_curriculum_one h4,
.node-program.view-mode-field_program_curriculum_two h4 {
  color: #231f20;
  font-family: "NewsGothicBT", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.3;
  margin-bottom: 0.5em;
}
.node-program.view-mode-field_program_curriculum_one p,
.node-program.view-mode-field_program_curriculum_two p {
  color: #231f20;
  font-family: "NewsGothicBT", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.4;
  margin-bottom: 1em;
}
.node-program.view-mode-field_program_curriculum_one p:last-of-type,
.node-program.view-mode-field_program_curriculum_two p:last-of-type {
  margin-bottom: 0;
}

.node-program.view-mode-field_program_director .node-staff.view-mode-field_program_director {
  background: white;
  padding: 26px;
}
.node-program.view-mode-field_program_director .node-staff.view-mode-field_program_director a {
  color: #636f00;
}
.node-program.view-mode-field_program_director .node-staff.view-mode-field_program_director .group-wrapper-contact h3 {
  font-family: "NewsGothicBT", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.3;
  margin-bottom: 20px;
}
.wide-view .node-program.view-mode-field_program_director .node-staff.view-mode-field_program_director .group-wrapper-contact h3 {
  font-family: "NewsGothicBT-Demi", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: normal;
}
.node-program.view-mode-field_program_director .node-staff.view-mode-field_program_director .field-name-title {
  color: black;
  padding-top: 5px;
  margin-bottom: 5px;
}
.node-program.view-mode-field_program_director .node-staff.view-mode-field_program_director .field-name-title h2 {
  font-family: "NewsGothicBT", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.3;
}
.node-program.view-mode-field_program_director .node-staff.view-mode-field_program_director .field-name-field-staff-item {
  color: black;
  font-size: 16px;
  line-height: 1.3;
  margin-bottom: 10px;
}
.node-program.view-mode-field_program_director .node-staff.view-mode-field_program_director .field-name-field-phone a {
  color: #231f20;
  font-size: 14px;
}
.node-program.view-mode-field_program_director .node-staff.view-mode-field_program_director .field-name-field-email a {
  font-size: 14px;
}
.node-program.view-mode-field_program_director .node-staff.view-mode-field_program_director .field-name-field-email a:after {
  content: "\f112";
  display: inline;
  speak: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-transform: none;
  line-height: 1;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'icons';
}
.node-program.view-mode-field_program_director .node-staff.view-mode-field_program_director .field-name-field-email a:hover {
  color: #2d6280;
}
.node-program.view-mode-field_program_director .node-staff.view-mode-field_program_director .field-name-field-email a:after {
  font-size: 12px;
  margin-left: 5px;
}

.node-program.view-mode-idea_story_related {
  padding: 18px 26px;
}

.pane-ee-programs-upcoming-deadlines {
  padding: 0 26px 26px;
}
.pane-ee-programs-upcoming-deadlines h2.pane-title {
  background: white;
  display: block;
  color: #231f20;
  font-family: "NewsGothicBT-Demi", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.3;
  margin-bottom: -10px;
  padding-top: 12px;
  position: relative;
}
.pane-ee-programs-upcoming-deadlines h2.pane-title a {
  color: #231f20;
}
.pane-ee-programs-upcoming-deadlines h2.pane-title a:after {
  content: "\f101";
  display: inline;
  speak: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-transform: none;
  line-height: 1;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'icons';
}
.pane-ee-programs-upcoming-deadlines h2.pane-title a:after {
  color: #bac405;
  font-size: 14px;
  margin-left: 3px;
}
.pane-ee-programs-upcoming-deadlines h2.pane-title a:hover {
  color: #2d6280;
}
.pane-ee-programs-upcoming-deadlines h2.pane-title a:hover:after {
  color: #aac4bf;
}
.pane-ee-programs-upcoming-deadlines .pane-content {
  padding: 0 26px;
}
.pane-ee-programs-upcoming-deadlines .view {
  margin: 0 -52px;
}
.pane-ee-programs-upcoming-deadlines .views-row {
  border-top: 1px lightgray solid;
  padding: 22px 26px;
}
.pane-ee-programs-upcoming-deadlines .views-row:first-of-type {
  border-top: 0;
}
.pane-ee-programs-upcoming-deadlines .views-field-title {
  color: #231f20;
  font-size: 20px;
  font-family: "NewsGothicBT", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  line-height: 0;
  margin-bottom: 6px;
}
@media (max-width: 35.5em) {
  .pane-ee-programs-upcoming-deadlines .views-field-title {
    font-size: 18px;
  }
}
.pane-ee-programs-upcoming-deadlines .views-field-title a {
  line-height: 1.2;
}
.pane-ee-programs-upcoming-deadlines .views-field-title a[target="_blank"]:after {
  font-size: 12px;
}
.pane-ee-programs-upcoming-deadlines .views-field-title a[href$=".pdf"][target="_blank"]:after {
  font-size: 14px;
  margin-left: 3px;
}
.pane-ee-programs-upcoming-deadlines .views-field-field-date {
  font-size: 16px;
  line-height: 1.3;
}
.pane-ee-programs-upcoming-deadlines .view-display-id-upcoming_deadlines {
  margin-bottom: 26px;
}
.pane-ee-programs-upcoming-deadlines .list-cta a {
  background: #538b80;
  color: white;
  display: block;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.2;
  margin: 0 -26px;
  max-width: 270px;
  padding: 14px 16px;
}
.pane-ee-programs-upcoming-deadlines .list-cta a:hover {
  background: #2d6280;
  text-decoration: underline;
}

.pane-ee-programs-upcoming-programs {
  color: white;
  padding: 26px;
}
.pane-ee-programs-upcoming-programs a {
  color: white;
}
.pane-ee-programs-upcoming-programs .list-cta a {
  color: white;
  display: block;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
  max-width: 270px;
  padding: 14px 16px;
}
.pane-ee-programs-upcoming-programs .list-cta a:hover {
  background: #2d6280;
  text-decoration: underline;
}
.pane-ee-programs-upcoming-programs.taupe {
  background: -moz-linear-gradient(bottom, #655d51, rgba(101, 93, 81, 0.7)), url('../../../images/bg-ee-program-customizable-list-taupe-2016-02-11-1.jpg') no-repeat top left, #655d51;
  background: -o-linear-gradient(bottom, #655d51, rgba(101, 93, 81, 0.7)), url('../../../images/bg-ee-program-customizable-list-taupe-2016-02-11-1.jpg') no-repeat top left, #655d51;
  background: -webkit-linear-gradient(bottom, #655d51, rgba(101, 93, 81, 0.7)), url('../../../images/bg-ee-program-customizable-list-taupe-2016-02-11-1.jpg') no-repeat top left, #655d51;
  background: linear-gradient(to top, #655d51, rgba(101, 93, 81, 0.7)), url('../../../images/bg-ee-program-customizable-list-taupe-2016-02-11-1.jpg') no-repeat top left, #655d51;
  padding: 0 26px 26px;
}
.pane-ee-programs-upcoming-programs.taupe .list-cta a {
  background: #538b80;
}
.pane-ee-programs-upcoming-programs.taupe .list-cta a:hover {
  background: #2d6280;
}
.pane-ee-programs-upcoming-programs.teal {
  background: -moz-linear-gradient(bottom, #149783, rgba(20, 151, 131, 0.7)), url('../../../images/bg-ee-program-customizable-list-teal-2016-02-11-1.jpg') no-repeat top left, #149783;
  background: -o-linear-gradient(bottom, #149783, rgba(20, 151, 131, 0.7)), url('../../../images/bg-ee-program-customizable-list-teal-2016-02-11-1.jpg') no-repeat top left, #149783;
  background: -webkit-linear-gradient(bottom, #149783, rgba(20, 151, 131, 0.7)), url('../../../images/bg-ee-program-customizable-list-teal-2016-02-11-1.jpg') no-repeat top left, #149783;
  background: linear-gradient(to top, #149783, rgba(20, 151, 131, 0.7)), url('../../../images/bg-ee-program-customizable-list-teal-2016-02-11-1.jpg') no-repeat top left, #149783;
  padding: 0 26px 26px;
}
.pane-ee-programs-upcoming-programs.teal .list-cta a {
  background: #655d51;
}
.pane-ee-programs-upcoming-programs.teal .list-cta a:hover {
  background: #2d6280;
}
.pane-ee-programs-upcoming-programs .pane-title h2 {
  color: white;
  font-family: "NewsGothicBT", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 26px;
  font-weight: normal;
  line-height: 1.3;
}
.pane-ee-programs-upcoming-programs .pane-content {
  margin-top: 26px;
}
.pane-ee-programs-upcoming-programs .views-row {
  border-bottom: 1px rgba(255, 255, 255, 0.3) solid;
  padding: 18px 0;
}
.pane-ee-programs-upcoming-programs .views-row:last-of-type {
  border-bottom: 0;
}
.pane-ee-programs-upcoming-programs .field-name-field-program {
  font-size: 20px;
  font-weight: bold;
  line-height: 1.3;
}
.narrow-view .pane-ee-programs-upcoming-programs .field-name-field-program {
  font-size: 18px;
}
.pane-ee-programs-upcoming-programs .field-name-field-program a:after {
  content: "\f101";
  display: inline;
  speak: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-transform: none;
  line-height: 1;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'icons';
}
.pane-ee-programs-upcoming-programs .field-name-field-program a:after {
  color: #bac405;
  font-size: 14px;
  margin-left: 3px;
}
.pane-ee-programs-upcoming-programs .field-name-field-program a:hover:after {
  color: white;
}
.pane-ee-programs-upcoming-programs .field-name-field-instance-date {
  font-family: "NewsGothicBT-Demi", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.3;
  margin-top: 3px;
}
.pane-ee-programs-upcoming-programs .field-collection-item-field-program-location,
.pane-ee-programs-upcoming-programs .gsb-time-commitment {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.3;
}

.node-type-program #banner {
  background: none;
  padding: 0;
}
.node-type-program .banner-content {
  max-width: initial;
}

.ee-section-header {
  max-height: 400px;
  position: relative;
  top: 0;
}

.ee-section-header-overlay {
  background: rgba(35, 31, 32, 0.9);
  position: absolute;
  bottom: 50px;
  width: 100%;
}

.overlay-inner-wrapper {
  overflow: hidden;
  *zoom: 1;
  margin: 0 auto;
  max-width: 1170px;
  padding: 20px 0;
}

h1.ee-section-header-title {
  color: white;
  font-family: "NewsGothicBT", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 34px;
  font-weight: bold;
  line-height: 1.3;
  margin-bottom: 26px;
}

.ee-section-header-menu {
  display: inline-block;
  float: left;
  width: 60%;
}
.ee-section-header-menu ul {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-flex-flow: row wrap;
  -moz-box-flex-flow: row wrap;
  -ms-flexbox-flex-flow: row wrap;
  -webkit-flex-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-justify-content: space-between;
  -moz-box-justify-content: space-between;
  -ms-flexbox-justify-content: space-between;
  -webkit-flex-justify-content: space-between;
  justify-content: space-between;
}
.ee-section-header-menu a {
  color: #c2b7a1;
  font-family: "NewsGothicBT-Demi", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.2;
  text-align: center;
}

.ee-section-header-follow-us {
  float: right;
  margin: 0 10px;
}
.ee-section-header-follow-us .icon-wrapper {
  overflow: visible;
}

#block-gsb-feature-program-ct-ee-section-apply-brochure {
  overflow: hidden;
  *zoom: 1;
}

.ee-section-apply-brochure {
  float: right;
  max-width: 270px;
}
.ee-section-apply-brochure a {
  color: white;
  font-size: 16px;
}
.ee-section-apply-brochure .apply-button {
  padding: 14px;
}

.node-program-instance.view-mode-field_program_faculty h2 {
  color: #231f20;
  font-size: 32px;
  font-weight: normal;
  line-height: 1.3;
  margin-bottom: 26px;
}
.node-program-instance.view-mode-field_program_faculty .node-faculty {
  overflow: hidden;
  *zoom: 1;
}
.node-program-instance.view-mode-field_program_faculty .field-name-field-image-single-public {
  float: left;
  margin-bottom: 24px;
  margin-right: 24px;
  margin-top: 2px;
  height: 120px;
  width: 120px;
  position: relative;
  z-index: 1;
}
.node-program-instance.view-mode-field_program_faculty .group-wrapper-info {
  float: left;
  margin-left: -144px;
  padding-left: 144px;
  width: 100%;
}
.node-program-instance.view-mode-field_program_faculty .field-name-field-other-name,
.node-program-instance.view-mode-field_program_faculty .field-name-field-academic-title {
  padding-left: 144px;
  width: 100%;
}
.node-program-instance.view-mode-field_program_faculty .field-name-title,
.node-program-instance.view-mode-field_program_faculty .field-name-field-other-name {
  color: black;
  font-family: "NewsGothicBT", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.3;
  margin-bottom: 3px;
  padding-top: 12px;
}
.node-program-instance.view-mode-field_program_faculty .field-name-title a,
.node-program-instance.view-mode-field_program_faculty .field-name-field-other-name a {
  color: #636f00;
}
.node-program-instance.view-mode-field_program_faculty .field-name-title a:hover,
.node-program-instance.view-mode-field_program_faculty .field-name-field-other-name a:hover {
  color: #2d6280;
}
.node-program-instance.view-mode-field_program_faculty .field-name-field-title-appointment,
.node-program-instance.view-mode-field_program_faculty .field-name-senior-associate-dean-title,
.node-program-instance.view-mode-field_program_faculty .field-name-field-joint-appointment,
.node-program-instance.view-mode-field_program_faculty .field-name-field-faculty-director-positions,
.node-program-instance.view-mode-field_program_faculty .field-name-field-academic-title {
  font-size: 16px;
  line-height: 1.3;
  margin-bottom: 6px;
}
.node-program-instance.view-mode-field_program_faculty .field-name-field-faculty-directors,
.node-program-instance.view-mode-field_program_faculty .field-name-field-faculty-1,
.node-program-instance.view-mode-field_program_faculty .field-name-field-faculty-2,
.node-program-instance.view-mode-field_program_faculty .field-name-field-guest-speakers-advisors-fc {
  margin-bottom: 26px;
}
.node-program-instance.view-mode-field_program_faculty .field-collection-item-field-faculty-directors.view-mode-full {
  margin-bottom: 18px;
}
.node-program-instance.view-mode-field_program_faculty .field-collection-item-field-faculty-directors.view-mode-full .field-name-field-description {
  font-size: 18px;
  font-weight: normal;
  line-height: 1.3;
  margin-top: 6px;
  margin-left: 189px;
}
.node-program-instance.view-mode-field_program_faculty .node-faculty.view-mode-faculty_leadership .field-name-field-image-single-public {
  height: 165px;
  width: 165px;
}
.node-program-instance.view-mode-field_program_faculty .node-faculty.view-mode-faculty_leadership .group-wrapper-info {
  margin-left: -189px;
  padding-left: 189px;
}
.node-program-instance.view-mode-field_program_faculty .node-faculty.view-mode-faculty_leadership .field-name-field-other-name,
.node-program-instance.view-mode-field_program_faculty .node-faculty.view-mode-faculty_leadership .field-name-field-academic-title {
  padding-left: 189px;
}
.node-program-instance.view-mode-field_program_faculty .node-faculty.view-mode-faculty_leadership .field-name-title,
.node-program-instance.view-mode-field_program_faculty .node-faculty.view-mode-faculty_leadership .field-name-field-other-name {
  font-size: 24px;
  margin: 18px 0;
}
.node-program-instance.view-mode-field_program_faculty .node-faculty.view-mode-faculty_leadership .field-name-field-title-appointment,
.node-program-instance.view-mode-field_program_faculty .node-faculty.view-mode-faculty_leadership .field-name-senior-associate-dean-title,
.node-program-instance.view-mode-field_program_faculty .node-faculty.view-mode-faculty_leadership .field-name-field-joint-appointment {
  font-family: "NewsGothicBT-Demi", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: normal;
  line-height: 1.3;
  margin-bottom: 6px;
}
.node-program-instance.view-mode-field_program_faculty .node-faculty.view-mode-faculty_leadership .field-name-field-faculty-director-positions,
.node-program-instance.view-mode-field_program_faculty .node-faculty.view-mode-faculty_leadership .field-name-field-academic-title {
  font-size: 18px;
  font-weight: normal;
  line-height: 1.3;
  margin-top: 6px;
}
.node-program-instance.view-mode-field_program_faculty .field-name-field-faculty-1,
.node-program-instance.view-mode-field_program_faculty .field-name-field-faculty-2,
.node-program-instance.view-mode-field_program_faculty .field-name-field-guest-speakers-advisors-fc {
  overflow: hidden;
  *zoom: 1;
}
.node-program-instance.view-mode-field_program_faculty .field-collection-item-field-faculty-1.view-mode-full,
.node-program-instance.view-mode-field_program_faculty .field-collection-item-field-faculty-2.view-mode-full,
.node-program-instance.view-mode-field_program_faculty .field-collection-item-field-guest-speakers-advisors-fc.view-mode-full {
  float: left;
  margin-top: 12px;
  width: 47.7%;
}
.node-program-instance.view-mode-field_program_faculty .field-collection-item-field-faculty-1.view-mode-full:nth-of-type(odd),
.node-program-instance.view-mode-field_program_faculty .field-collection-item-field-faculty-2.view-mode-full:nth-of-type(odd),
.node-program-instance.view-mode-field_program_faculty .field-collection-item-field-guest-speakers-advisors-fc.view-mode-full:nth-of-type(odd) {
  clear: left;
  margin-right: 30px;
}
@media (max-width: 74.8125em) {
  .node-program-instance.view-mode-field_program_faculty .field-collection-item-field-faculty-1.view-mode-full,
  .node-program-instance.view-mode-field_program_faculty .field-collection-item-field-faculty-2.view-mode-full,
  .node-program-instance.view-mode-field_program_faculty .field-collection-item-field-guest-speakers-advisors-fc.view-mode-full {
    margin-right: 0;
    width: 100%;
  }
}
