#block-gsb-public-custom-blocks-gpcb-exec-ed {
  border-left: 1px solid #d6d6d6;
  display: inline-block;
  height: 59px;
  padding-top: 18px;
  position: absolute;
}
@media (max-width: 73.0625em) {
  #block-gsb-public-custom-blocks-gpcb-exec-ed {
    height: 50px;
    left: 235px;
    padding-top: 10px;
  }
}
#block-gsb-public-custom-blocks-gpcb-exec-ed h2 {
  line-height: 0;
}
#block-gsb-public-custom-blocks-gpcb-exec-ed h2 a {
  color: #231f20;
  font-family: "NewsGothicBT-Demi", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
  line-height: 1.2;
  padding-left: 10px;
}
@media (max-width: 35.5em) {
  #block-gsb-public-custom-blocks-gpcb-exec-ed h2 a {
    font-size: 18px;
  }
}

.menu-name-menu-executive-education-mega-me {
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
}

.page-taxonomy-term-34446 .qtip-content,
.page-exec-ed .qtip-content {
  background: #645c51 !important;
}
.page-taxonomy-term-34446 .qtip-content .pane-title,
.page-exec-ed .qtip-content .pane-title {
  display: none;
}
@media (max-width: 73.0625em) {
  .page-taxonomy-term-34446 .qtip,
  .page-exec-ed .qtip {
    display: none !important;
  }
}
.page-taxonomy-term-34446 #menu-main-footer,
.page-exec-ed #menu-main-footer {
  display: none;
}
@media (max-width: 73.0625em) {
  .page-taxonomy-term-34446 #menu-main-footer,
  .page-exec-ed #menu-main-footer {
    background: -moz-linear-gradient(#ededed, #ffffff);
    background: -o-linear-gradient(#ededed, #ffffff);
    background: -webkit-linear-gradient(#ededed, #ffffff);
    background: linear-gradient(#ededed, #ffffff);
    overflow: hidden;
    *zoom: 1;
    display: block;
    padding: 12px 50px 0 50px;
    width: 100%;
  }
  .page-taxonomy-term-34446 #menu-main-footer .menu,
  .page-exec-ed #menu-main-footer .menu {
    width: auto;
  }
  .page-taxonomy-term-34446 #menu-main-footer li,
  .page-exec-ed #menu-main-footer li {
    line-height: 1.2;
    padding-bottom: 12px;
  }
  .page-taxonomy-term-34446 #menu-main-footer a,
  .page-exec-ed #menu-main-footer a {
    font-weight: bold;
    font-size: 13px;
    line-height: 1.2;
    text-transform: uppercase;
  }
}
.page-taxonomy-term-34446 #nav-touch-wrapper,
.page-exec-ed #nav-touch-wrapper {
  display: inline;
}
@media (max-width: 73.0625em) {
  .page-taxonomy-term-34446 #nav-touch-wrapper,
  .page-exec-ed #nav-touch-wrapper {
    display: block;
  }
}
.page-taxonomy-term-34446 #nav-touch-wrapper #nav-touch-button,
.page-exec-ed #nav-touch-wrapper #nav-touch-button {
  display: none;
}
@media (max-width: 73.0625em) {
  .page-taxonomy-term-34446 #nav-touch-wrapper #nav-touch-button,
  .page-exec-ed #nav-touch-wrapper #nav-touch-button {
    border-right: 1px #9b9285 solid;
    cursor: pointer;
    display: inline-block;
    height: 50px;
    padding: 3px 12px 9px;
    vertical-align: top;
    position: relative;
    width: 50px;
    z-index: 12;
  }
}
.page-taxonomy-term-34446 #nav-touch-wrapper #nav-touch-button:after,
.page-exec-ed #nav-touch-wrapper #nav-touch-button:after {
  content: "\f115";
  display: inline;
  speak: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-transform: none;
  line-height: 1;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'icons';
}
.page-taxonomy-term-34446 #nav-touch-wrapper #nav-touch-button:after,
.page-exec-ed #nav-touch-wrapper #nav-touch-button:after {
  color: white;
  font-size: 21px;
  position: relative;
  top: 12px;
  right: -2px;
}
@media (max-width: 73.0625em) {
  .page-taxonomy-term-34446 #nav-touch-wrapper,
  .page-exec-ed #nav-touch-wrapper {
    max-height: 50px;
    display: inline-block;
    float: left;
  }
  .page-taxonomy-term-34446 #nav-touch-wrapper #nav-touch-button,
  .page-exec-ed #nav-touch-wrapper #nav-touch-button {
    background: #7d7466;
  }
  .page-taxonomy-term-34446 #nav-touch-wrapper #nav-touch-button:hover,
  .page-exec-ed #nav-touch-wrapper #nav-touch-button:hover {
    text-decoration: none;
  }
  .page-taxonomy-term-34446 #nav-touch-wrapper #navigation,
  .page-exec-ed #nav-touch-wrapper #navigation {
    display: none;
  }
}
@media (max-width: 73.0625em) {
  .page-taxonomy-term-34446 #nav-touch-wrapper.open #nav-touch-button,
  .page-exec-ed #nav-touch-wrapper.open #nav-touch-button {
    background: white;
    background: -moz-linear-gradient(#ededed, #ffffff);
    background: -o-linear-gradient(#ededed, #ffffff);
    background: -webkit-linear-gradient(#ededed, #ffffff);
    background: linear-gradient(#ededed, #ffffff);
  }
  .page-taxonomy-term-34446 #nav-touch-wrapper.open #nav-touch-button:after,
  .page-exec-ed #nav-touch-wrapper.open #nav-touch-button:after {
    color: #990000;
  }
  .page-taxonomy-term-34446 #nav-touch-wrapper.open #navigation,
  .page-exec-ed #nav-touch-wrapper.open #navigation {
    display: block !important;
    position: absolute !important;
    width: 100% !important;
    z-index: 11 !important;
  }
}
.page-taxonomy-term-34446 #search-touch-button,
.page-exec-ed #search-touch-button {
  display: none;
}
.page-taxonomy-term-34446 #search-touch-button:hover,
.page-exec-ed #search-touch-button:hover {
  text-decoration: none;
}
@media (max-width: 73.0625em) {
  .page-taxonomy-term-34446 #search-touch-button,
  .page-exec-ed #search-touch-button {
    background: #7d7466;
    border-right: 1px #9b9285 solid;
    cursor: pointer;
    display: inline-block;
    height: 50px;
    left: 50px;
    position: absolute;
    width: 50px;
  }
  .page-taxonomy-term-34446 #search-touch-button:after,
  .page-exec-ed #search-touch-button:after {
    content: "\f11f";
    display: inline;
    speak: none;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-transform: none;
    line-height: 1;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-family: 'icons';
  }
  .page-taxonomy-term-34446 #search-touch-button:after,
  .page-exec-ed #search-touch-button:after {
    color: white;
    font-size: 24px;
    padding: 0 12px;
    position: relative;
    top: 16px;
  }
}
@media (min-width: 73.125em) {
  .page-taxonomy-term-34446 .global-search,
  .page-exec-ed .global-search {
    float: left;
    height: 0;
    margin-top: 3px;
    width: 200px;
  }
  .search-closed .page-taxonomy-term-34446 .global-search, .js .page-taxonomy-term-34446 .global-search, .search-closed
  .page-exec-ed .global-search, .js
  .page-exec-ed .global-search {
    width: auto;
  }
  .js .search-open .page-taxonomy-term-34446 .global-search, .js .search-open
  .page-exec-ed .global-search {
    width: 200px;
  }
}
