@charset "UTF-8";
.node-program.view-mode-full .ds-faculty .program-faculty-cta a:after,
.node-program.view-mode-full .ds-faculty .program-faculty-cta a[target="_blank"]:after, .node-program.view-mode-full .ds-cta .field a:after,
.node-program.view-mode-full .ds-cta .field a[target="_blank"]:after, .node-program.view-mode-full .ds-explore .program-programs-cta a:after,
.node-program.view-mode-full .ds-explore .program-programs-cta a[target="_blank"]:after {
  font-size: 21px;
  font-weight: normal;
  line-height: 0;
  margin-top: -10px;
  position: absolute;
  right: 12px;
  top: 50%;
}

.node-program.view-mode-full .ds-learn .field-name-field-video, .node-program.view-mode-full .group-wrapper-featured-item, .node-program.view-mode-full .ds-faculty .program-faculty-cta, .node-program.view-mode-full .ds-cta .field, .node-program.view-mode-full .ds-explore .program-programs-cta {
  background: white;
}

.node-program.view-mode-full .instance-wrapper, .node-program.view-mode-full .field-name-field-program-director-name .node-staff, .node-program.view-mode-full .ds-faculty .field-collection-item-field-faculty-directors.view-mode-faculty_leadership, .node-program.view-mode-full .ds-footer {
  border-top: 1px lightgray solid;
}

.node-program.view-mode-full .instance-taxonomy {
  border-top: 3px #231f20 solid;
}

.node-program.view-mode-full .ds-learn .field-name-field-video, .node-program.view-mode-full .group-wrapper-featured-item, .node-program.view-mode-full .ds-faculty .program-faculty-cta, .node-program.view-mode-full .ds-cta .field, .node-program.view-mode-full .ds-explore .program-programs-cta {
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  margin: 1px;
}

.node-program.view-mode-full .group-wrapper-featured-item .field-name-field-featured-superhead {
  background: #231f20;
  color: white;
  display: inline-block;
  font-family: "NewsGothicBT-Demi", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2;
  margin-bottom: 26px;
  padding: 6px 8px;
  position: relative;
  z-index: 2;
}
@media (max-width: 38.125em) {
  .node-program.view-mode-full .group-wrapper-featured-item .field-name-field-featured-superhead {
    font-size: 13px;
    margin-bottom: 20px;
  }
}

.node-type-program #content {
  max-width: initial;
}
.node-type-program #main {
  padding: 30px 0;
}
.node-type-program #bottom .bottom-content {
  padding: 0;
}

.node-program.view-mode-full .ds-main-wrapper,
.node-program.view-mode-full .learn-wrapper-inner,
.node-program.view-mode-full .ds-faculty,
.node-program.view-mode-full .cta-wrapper-inner,
.node-program.view-mode-full .ds-explore,
.node-program.view-mode-full .ds-footer {
  margin: 0 auto;
  max-width: 1170px;
}
@media (max-width: 75em) {
  .node-program.view-mode-full .ds-main-wrapper,
  .node-program.view-mode-full .learn-wrapper-inner,
  .node-program.view-mode-full .ds-faculty,
  .node-program.view-mode-full .cta-wrapper-inner,
  .node-program.view-mode-full .ds-explore,
  .node-program.view-mode-full .ds-footer {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
}
.node-program.view-mode-full .ds-main-wrapper {
  overflow: hidden;
  *zoom: 1;
  margin-bottom: 30px;
}
.node-program.view-mode-full .ds-main-wrapper .ds-left,
.node-program.view-mode-full .ds-main-wrapper .ds-right {
  display: inline-block;
  max-width: 540px;
  vertical-align: top;
  width: 50%;
}
.node-program.view-mode-full .ds-main-wrapper .ds-left {
  float: left;
}
@media (max-width: 73.75em) {
  .node-program.view-mode-full .ds-main-wrapper .ds-left {
    width: 40%;
  }
}
@media (max-width: 62.5em) {
  .node-program.view-mode-full .ds-main-wrapper .ds-left {
    float: left;
    max-width: initial;
    width: 100%;
  }
}
.node-program.view-mode-full .ds-main-wrapper .ds-right {
  float: right;
}
@media (max-width: 73.75em) {
  .node-program.view-mode-full .ds-main-wrapper .ds-right {
    width: 60%;
  }
}
@media (max-width: 62.5em) {
  .node-program.view-mode-full .ds-main-wrapper .ds-right {
    float: left;
    margin-bottom: 44px;
    max-width: initial;
    width: 100%;
  }
}
.node-program.view-mode-full h2.section-title {
  color: #231f20;
  font-family: "NewsGothicBT", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 32px;
  line-height: 1.3;
  margin-bottom: 26px;
}
@media (max-width: 62.5em) {
  .node-program.view-mode-full h2.section-title {
    font-size: 26px;
  }
}
.node-program.view-mode-full .ds-learn {
  background: #f4f4f4;
  max-width: 3;
  padding: 44px 0;
}
.node-program.view-mode-full .ds-learn .learn-wrapper-inner {
  overflow: hidden;
  *zoom: 1;
  max-width: 1170px;
}
.node-program.view-mode-full .ds-learn .field-name-field-learn-more-photo,
.node-program.view-mode-full .ds-learn .field-name-field-video {
  float: left;
  max-width: 330px;
}
@media (max-width: 73.75em) {
  .node-program.view-mode-full .ds-learn .field-name-field-learn-more-photo,
  .node-program.view-mode-full .ds-learn .field-name-field-video {
    max-width: 270px;
  }
}
.node-program.view-mode-full .ds-learn .field-name-field-learn-more-photo {
  max-height: 212px;
  overflow: hidden;
}
.node-program.view-mode-full .ds-learn .field-collection-item-field-video a[target="_blank"]:after {
  display: none;
}
.node-program.view-mode-full .ds-learn .group-wrapper-video {
  position: relative;
}
.node-program.view-mode-full .ds-learn .gsb-image-video-popup {
  max-width: 360px;
}
.node-program.view-mode-full .ds-learn .gsb-image-video-popup img {
  width: 360px;
}
.node-program.view-mode-full .ds-learn .video-duration {
  background: #231f20;
  color: white;
  display: inline-block;
  float: right;
  font-size: 11px;
  font-weight: bold;
  line-height: 1.2;
  padding: 4px;
  position: absolute;
  right: 0;
  bottom: 2px;
}
.node-program.view-mode-full .ds-learn .field-name-field-title {
  font-size: 22px;
  font-weight: bold;
  line-height: 1.3;
  margin-top: 22px;
  padding: 0 26px;
}
.node-program.view-mode-full .ds-learn .video-channeltitle,
.node-program.view-mode-full .ds-learn .video-viewcount {
  display: none;
}
.node-program.view-mode-full .ds-learn .field-name-field-body {
  font-size: 16px;
  line-height: 1.3;
  padding: 12px 26px 26px;
}
.node-program.view-mode-full .ds-learn .group-wrapper-curriculum,
.node-program.view-mode-full .ds-learn .group-wrapper-participant,
.node-program.view-mode-full .ds-learn .group-wrapper-application-req,
.node-program.view-mode-full .ds-learn .field-name-field-additional-pages {
  display: inline-block;
  margin: 0 20px 36px 20px;
  max-width: 340px;
  vertical-align: top;
}
@media (max-width: 69.0625em) {
  .node-program.view-mode-full .ds-learn .group-wrapper-curriculum,
  .node-program.view-mode-full .ds-learn .group-wrapper-participant,
  .node-program.view-mode-full .ds-learn .group-wrapper-application-req,
  .node-program.view-mode-full .ds-learn .field-name-field-additional-pages {
    display: block;
  }
}
@media (max-width: 41em) {
  .node-program.view-mode-full .ds-learn .group-wrapper-curriculum,
  .node-program.view-mode-full .ds-learn .group-wrapper-participant,
  .node-program.view-mode-full .ds-learn .group-wrapper-application-req,
  .node-program.view-mode-full .ds-learn .field-name-field-additional-pages {
    margin: 0 0 36px 0;
  }
}
.node-program.view-mode-full .ds-learn .group-wrapper-learn {
  overflow: hidden;
  *zoom: 1;
  float: right;
  max-width: 760px;
  width: 100%;
}
@media (min-width: 41em) and (max-width: 69.0625em) {
  .node-program.view-mode-full .ds-learn .group-wrapper-learn {
    max-width: inherit;
    margin-left: -300px;
    padding-left: 300px;
  }
}
.node-program.view-mode-full .ds-learn .group-wrapper-learn h2 {
  color: #231f20;
  font-size: 32px;
  font-weight: normal;
  line-height: 1.3;
  margin-bottom: 26px;
  margin-left: 20px;
}
@media (max-width: 41em) {
  .node-program.view-mode-full .ds-learn .group-wrapper-learn h2 {
    margin: 0 0 36px 0;
  }
}
.node-program.view-mode-full .ds-learn .group-wrapper-learn h3 a {
  color: #231f20;
  display: inline-block;
  font-size: 24px;
  line-height: 1.3;
  margin-bottom: 10px;
}
.node-program.view-mode-full .ds-learn .group-wrapper-learn h3 a:after {
  content: "\f101";
  display: inline;
  speak: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-transform: none;
  line-height: 1;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'icons';
}
.node-program.view-mode-full .ds-learn .group-wrapper-learn h3 a:after {
  color: #bac405;
  font-size: 14px;
  margin-left: 4px;
}
.node-program.view-mode-full .ds-learn .group-wrapper-learn h3 a:hover {
  color: #2d6280;
  text-decoration: none;
  border-bottom: 1px solid;
}
.node-program.view-mode-full .ds-learn .group-wrapper-learn h3 a:hover:after {
  color: #2d6280;
}
.node-program.view-mode-full .ds-learn .curriculum-blurb,
.node-program.view-mode-full .ds-learn .participant-profile-blurb,
.node-program.view-mode-full .ds-learn .application-requirements-blurb,
.node-program.view-mode-full .ds-learn .field-name-field-overview {
  font-size: 16px;
  line-height: 1.3;
}
.node-program.view-mode-full .ds-faculty h2 {
  font-weight: normal;
}
.node-program.view-mode-full .field-name-field-overview-intro {
  font-size: 26px;
  line-height: 1.4;
  margin-bottom: 26px;
}
.node-program.view-mode-full .field-name-field-overview-description {
  margin-bottom: 26px;
}
.node-program.view-mode-full .group-key-benefits {
  border: 0;
  margin: 0 0 26px 0;
  padding: 0;
}
.node-program.view-mode-full .field-name-field-key-benefits-intro {
  margin-bottom: 26px;
}
.node-program.view-mode-full .field-name-field-key-benefits-intro h3.label-above {
  font-family: "NewsGothicBT", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.3;
  margin-bottom: 12px;
}
.node-program.view-mode-full .field-name-field-key-benefits-description {
  font-size: 18px;
  line-height: 1.4;
  margin-bottom: 26px;
}
.node-program.view-mode-full .field-name-field-event-who-attend {
  font-size: 18px;
  line-height: 1.4;
  margin-bottom: 26px;
}
.node-program.view-mode-full .field-name-field-event-who-attend h3.label-above {
  font-family: "NewsGothicBT", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.3;
  margin-bottom: 12px;
}
.node-program.view-mode-full .field-name-field-event-who-attend ul {
  margin: 0 0 20px 0;
  padding: 0;
  position: relative;
  left: 0;
}
.node-program.view-mode-full .field-name-field-event-who-attend ul li {
  margin-bottom: 8px;
  padding-left: 15px;
}
.node-program.view-mode-full .field-name-field-event-who-attend ul li:before {
  content: "• ";
  color: #231f20;
  position: absolute;
  left: 0;
}
.node-program.view-mode-full .group-wrapper-featured-item {
  margin-bottom: 26px;
  padding: 26px;
  padding-top: 0;
}
.node-program.view-mode-full .group-wrapper-featured-item .field-name-field-image-single-public {
  margin: 0 !important;
}
.node-program.view-mode-full .group-wrapper-featured-item .insights-label,
.node-program.view-mode-full .group-wrapper-featured-item .featured-label {
  display: none !important;
}
.node-program.view-mode-full .gsb-program-program-instance-fields {
  margin-bottom: 44px;
}
.node-program.view-mode-full .instance-wrapper {
  padding: 26px 0;
}
.node-program.view-mode-full .instance-wrapper:first-of-type {
  border-top: 0;
  padding-top: 0;
}
.node-program.view-mode-full h2.instance-header {
  color: #231f20;
  font-family: "NewsGothicBT", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.3;
}
.node-program.view-mode-full .instance-information {
  overflow: hidden;
  *zoom: 1;
  margin-top: 18px;
}
.node-program.view-mode-full .instance-information h3 {
  font-family: "NewsGothicBT-Demi", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: normal;
  line-height: 1.3;
  margin-bottom: 12px;
}
.node-program.view-mode-full .instance-information h4 {
  font-family: "NewsGothicBT-Demi", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.3;
  margin-bottom: 8px;
}
.node-program.view-mode-full .instance-information .group-left,
.node-program.view-mode-full .instance-information .group-right {
  float: left;
  width: 260px;
}
@media (max-width: 62.5em) {
  .node-program.view-mode-full .instance-information .group-left,
  .node-program.view-mode-full .instance-information .group-right {
    width: 48%;
  }
}
@media (max-width: 38.75em) {
  .node-program.view-mode-full .instance-information .group-left,
  .node-program.view-mode-full .instance-information .group-right {
    width: 100%;
  }
}
.node-program.view-mode-full .instance-information .group-left {
  margin-right: 20px;
}
@media (max-width: 38.75em) {
  .node-program.view-mode-full .instance-information .group-left {
    margin-right: 0;
  }
}
.node-program.view-mode-full .instance-information .instance-item-wrapper {
  margin-bottom: 36px;
}
.node-program.view-mode-full .instance-information .instance-item-wrapper.application-wrapper, .node-program.view-mode-full .instance-information .instance-item-wrapper.awarded-wrapper {
  margin-bottom: 6px;
}
.node-program.view-mode-full .instance-information .program-format {
  font-size: 16px;
  font-family: "NewsGothicBT-Demi", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  line-height: 1.3;
}
.node-program.view-mode-full .instance-information .time-commitment {
  color: #686868;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.3;
}
.node-program.view-mode-full .instance-information .schedule-item-wrapper {
  margin-bottom: 12px;
}
.node-program.view-mode-full .instance-information .program-schedule-date {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.3;
  margin-bottom: 3px;
}
.node-program.view-mode-full .instance-information .program-schedule-description {
  color: #686868;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.3;
}
.node-program.view-mode-full .instance-information h3.app-requirements-link:after {
  content: "\f101";
  display: inline;
  speak: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-transform: none;
  line-height: 1;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'icons';
}
.node-program.view-mode-full .instance-information h3.app-requirements-link:after {
  color: #bac405;
  font-size: 14px;
  margin-left: 4px;
  margin-top: -8px;
}
.node-program.view-mode-full .instance-information h3.app-requirements-link:hover:after {
  color: #2d6280;
}
.node-program.view-mode-full .instance-information h3.app-requirements-link a {
  color: #231f20;
}
.node-program.view-mode-full .instance-information h3.app-requirements-link a:hover {
  color: #2d6280;
  text-decoration: none;
  border-bottom: 1px solid;
}
.node-program.view-mode-full .instance-information .program-deadline {
  margin-bottom: 3px;
}
.node-program.view-mode-full .instance-information .tuition-amount {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.3;
  margin-bottom: 12px;
}
.node-program.view-mode-full .instance-information .included-in-tuition p {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.3;
}
.node-program.view-mode-full .instance-information .optional-programing p {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.3;
  font-family: "NewsGothicBT-Demi", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.node-program.view-mode-full .instance-information .optional-programing p a {
  color: #231f20;
}
.node-program.view-mode-full .instance-information .optional-programing p a:after {
  content: "\f101";
  display: inline;
  speak: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-transform: none;
  line-height: 1;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'icons';
}
.node-program.view-mode-full .instance-information .optional-programing p a:after {
  color: #bac405;
  font-size: 14px;
  margin-left: 4px;
  margin-top: -8px;
}
.node-program.view-mode-full .instance-information .payment-cancellation a {
  color: #636f00;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.3;
}
.node-program.view-mode-full .instance-information .awarded-upon-completion {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.3;
}
.node-program.view-mode-full .instance-show-information {
  color: #636f00;
  font-size: 16px;
  font-weight: normal;
  line-height: 36px;
}
.node-program.view-mode-full .instance-show-information:before {
  content: "\f105";
  display: inline;
  speak: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-transform: none;
  line-height: 1;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'icons';
}
.node-program.view-mode-full .instance-show-information:before {
  color: #bac405;
  font-size: 16px;
  font-weight: normal;
  margin-right: 6px;
  position: relative;
  top: -2px;
}
.node-program.view-mode-full .instance-show-information:hover {
  color: #2d6280;
  cursor: pointer;
}
.node-program.view-mode-full .instance-show-information:hover:before {
  color: #aac4bf;
}
.node-program.view-mode-full .instance-taxonomy {
  padding-top: 24px;
}
@media (max-width: 38.75em) {
  .node-program.view-mode-full .instance-taxonomy {
    border-top: 1px lightgray solid;
  }
}
.node-program.view-mode-full .instance-taxonomy a {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.3;
}
.node-program.view-mode-full .field-name-field-program-director-name {
  overflow: hidden;
  *zoom: 1;
  color: black;
  font-size: 16px;
  line-height: 1.3;
}
.node-program.view-mode-full .field-name-field-program-director-name a {
  color: #636f00;
}
.node-program.view-mode-full .field-name-field-program-director-name a:hover {
  color: #2d6280;
  text-decoration: none;
  border-bottom: 1px solid;
}
.node-program.view-mode-full .field-name-field-program-director-name .label-above {
  font-family: "NewsGothicBT", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.3;
  margin-bottom: 12px;
}
.node-program.view-mode-full .field-name-field-program-director-name .field-name-field-image-single-public {
  float: left;
  margin-bottom: 24px;
  margin-right: 24px;
  margin-top: 2px;
  height: 120px;
  width: 120px;
  position: relative;
  z-index: 1;
}
.node-program.view-mode-full .field-name-field-program-director-name .group-wrapper-info {
  float: left;
  margin-left: -144px;
  padding-left: 144px;
  width: 100%;
}
.node-program.view-mode-full .field-name-field-program-director-name .field-name-title {
  margin-bottom: 3px;
  padding-top: 12px;
}
.node-program.view-mode-full .field-name-field-program-director-name .field-name-title h2 {
  line-height: 0;
}
.node-program.view-mode-full .field-name-field-program-director-name .field-name-title a {
  font-family: "NewsGothicBT", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.3;
}
.node-program.view-mode-full .field-name-field-program-director-name .field-name-field-staff-item {
  font-size: 16px;
  line-height: 1.3;
  margin-bottom: 12px;
}
.node-program.view-mode-full .field-name-field-program-director-name .field-name-field-phone a {
  color: #231f20;
  font-size: 15px;
}
.node-program.view-mode-full .field-name-field-program-director-name .field-name-field-email a {
  font-size: 16px;
  color: #636f00;
}
.node-program.view-mode-full .field-name-field-program-director-name .field-name-field-email a:after {
  content: "\f112";
  display: inline;
  speak: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-transform: none;
  line-height: 1;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'icons';
}
.node-program.view-mode-full .field-name-field-program-director-name .field-name-field-email a:hover {
  color: #2d6280;
}
.node-program.view-mode-full .field-name-field-program-director-name .field-name-field-email a:after {
  font-size: 12px;
  margin-left: 5px;
}
.node-program.view-mode-full .field-name-field-program-contact-link a {
  color: #636f00;
  font-family: "NewsGothicBT", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.3;
}
.node-program.view-mode-full .field-name-field-program-contact-link a:hover {
  color: #2d6280;
}
.node-program.view-mode-full .ds-faculty {
  overflow: hidden;
  *zoom: 1;
  padding: 36px 0;
}
.node-program.view-mode-full .ds-faculty .field-name-field-description {
  display: none;
}
.node-program.view-mode-full .ds-faculty .program-faculty-cta-wrapper {
  margin-bottom: 30px;
  text-align: center;
}
.node-program.view-mode-full .ds-faculty .faculty-leadership-wrapper {
  display: inline-block;
  float: left;
  margin-bottom: 20px;
  vertical-align: top;
}
.node-program.view-mode-full .ds-faculty .field-collection-item-field-faculty-directors.view-mode-faculty_leadership {
  display: inline-block;
  vertical-align: top;
  max-width: 360px;
}
.node-program.view-mode-full .ds-faculty .field-collection-item-field-faculty-directors.view-mode-faculty_leadership:nth-of-type(1n) {
  margin-right: 22px;
}
@media (max-width: 48.5em) {
  .node-program.view-mode-full .ds-faculty .field-collection-item-field-faculty-directors.view-mode-faculty_leadership:nth-of-type(1n) {
    margin: 0 22px 18px 0 !important;
  }
}
.node-program.view-mode-full .ds-faculty .field-collection-item-field-faculty-directors.view-mode-faculty_leadership:nth-of-type(2n) {
  margin: 0 22px;
}
@media (max-width: 51.25em) {
  .node-program.view-mode-full .ds-faculty .field-collection-item-field-faculty-directors.view-mode-faculty_leadership:nth-of-type(2n) {
    margin: 0 0 18px 0 !important;
  }
}
.node-program.view-mode-full .ds-faculty .field-collection-item-field-faculty-directors.view-mode-faculty_leadership:nth-of-type(3n) {
  margin-left: 22px;
  margin-right: 0;
}
.node-program.view-mode-full .ds-faculty .program-faculty-cta {
  display: inline-block;
  margin: 0 auto;
  text-align: initial;
  width: 250px;
  position: relative;
  top: 30px;
}
.node-program.view-mode-full .ds-faculty .group-wrapper-photo a:after {
  display: none;
}
.node-program.view-mode-full .ds-faculty .field-name-field-image-single-public {
  float: left;
  margin-bottom: 24px;
  margin-right: 24px;
  margin-top: 2px;
  height: 120px;
  width: 120px;
  position: relative;
  z-index: 1;
}
.node-program.view-mode-full .ds-faculty .group-wrapper-info {
  float: left;
  margin-left: -144px;
  padding-left: 144px;
  width: 100%;
}
.node-program.view-mode-full .ds-faculty .field-name-field-other-name,
.node-program.view-mode-full .ds-faculty .field-name-field-academic-title {
  padding-left: 144px;
  width: 100%;
}
.node-program.view-mode-full .ds-faculty .group-wrapper-name a {
  color: #636f00;
  font-family: "NewsGothicBT", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.3;
  margin-bottom: 8px;
  padding-top: 18px;
  display: inline-block;
}
.node-program.view-mode-full .ds-faculty .group-wrapper-name a:hover {
  color: #2d6280;
  text-decoration: none;
  border-bottom: 1px solid #2d6280;
}
.node-program.view-mode-full .ds-faculty .group-wrapper-name a:after {
  display: none;
}
.node-program.view-mode-full .ds-faculty .field-name-title,
.node-program.view-mode-full .ds-faculty .field-name-field-other-name {
  font-family: "NewsGothicBT", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.3;
  margin-bottom: 8px;
  padding-top: 18px;
}
.node-program.view-mode-full .ds-faculty .field-name-title a,
.node-program.view-mode-full .ds-faculty .field-name-field-other-name a {
  color: #636f00;
}
.node-program.view-mode-full .ds-faculty .field-name-title a:hover,
.node-program.view-mode-full .ds-faculty .field-name-field-other-name a:hover {
  color: #2d6280;
  text-decoration: none;
  border-bottom: 1px solid;
}
.node-program.view-mode-full .ds-faculty .field-name-field-title-appointment,
.node-program.view-mode-full .ds-faculty .field-name-senior-associate-dean-title,
.node-program.view-mode-full .ds-faculty .field-name-field-joint-appointment,
.node-program.view-mode-full .ds-faculty .field-name-field-faculty-director-positions,
.node-program.view-mode-full .ds-faculty .field-name-field-academic-title {
  font-size: 16px;
  line-height: 1.3;
  margin-bottom: 6px;
}
.node-program.view-mode-full .ds-faculty .field-name-field-faculty-director-positions,
.node-program.view-mode-full .ds-faculty .field-name-field-academic-title {
  margin-top: 6px;
}
.node-program.view-mode-full .ds-faculty .field-name-field-faculty-director-positions {
  margin-bottom: 6px;
}
.node-program.view-mode-full .ds-faculty .program-faculty-cta {
  padding: 14px 26px;
}
.node-program.view-mode-full .ds-faculty .program-faculty-cta a,
.node-program.view-mode-full .ds-faculty .program-faculty-cta a[target="_blank"] {
  color: #636f00;
  font-size: 20px;
  line-height: 1.2;
  position: relative;
  text-decoration: none;
}
.node-program.view-mode-full .ds-faculty .program-faculty-cta a:after,
.node-program.view-mode-full .ds-faculty .program-faculty-cta a[target="_blank"]:after {
  content: "\f101";
  display: inline;
  speak: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-transform: none;
  line-height: 1;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'icons';
}
.node-program.view-mode-full .ds-faculty .program-faculty-cta a:after,
.node-program.view-mode-full .ds-faculty .program-faculty-cta a[target="_blank"]:after {
  right: -70px;
  font-weight: normal;
  color: #e3e3e3;
}
.node-program.view-mode-full .ds-faculty .program-faculty-cta a:hover,
.node-program.view-mode-full .ds-faculty .program-faculty-cta a[target="_blank"]:hover {
  color: #2d6280;
  border-bottom: 1px #2d6280 solid;
}
.node-program.view-mode-full .ds-faculty .program-faculty-cta a:hover:after,
.node-program.view-mode-full .ds-faculty .program-faculty-cta a[target="_blank"]:hover:after {
  color: #aac4bf;
}
.node-program.view-mode-full .ds-cta {
  background: #72bbaa;
}
.node-program.view-mode-full .ds-cta .cta-wrapper-inner {
  background: url('../../../images/bg-ee-program-overview-cta-2016-02-22-1.jpg') no-repeat center center, #72bbaa;
  padding: 60px 100px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-flex-flow: row wrap;
  -moz-box-flex-flow: row wrap;
  -ms-flexbox-flex-flow: row wrap;
  -webkit-flex-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-justify-content: space-between;
  -moz-box-justify-content: space-between;
  -ms-flexbox-justify-content: space-between;
  -webkit-flex-justify-content: space-between;
  justify-content: space-between;
}
.node-program.view-mode-full .ds-cta .field {
  margin: 0 auto;
  padding: 14px 26px;
  width: 464px;
}
.node-program.view-mode-full .ds-cta .field a,
.node-program.view-mode-full .ds-cta .field a[target="_blank"] {
  color: #636f00;
  font-size: 20px;
  line-height: 1.2;
  position: relative;
  text-decoration: none;
}
.node-program.view-mode-full .ds-cta .field a:after,
.node-program.view-mode-full .ds-cta .field a[target="_blank"]:after {
  content: "\f101";
  display: inline;
  speak: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-transform: none;
  line-height: 1;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'icons';
}
.node-program.view-mode-full .ds-cta .field a:after,
.node-program.view-mode-full .ds-cta .field a[target="_blank"]:after {
  color: #e3e3e3;
  float: right;
  font-weight: normal;
  position: relative;
  right: 0;
  top: 12px;
}
@media (max-width: 29em) {
  .node-program.view-mode-full .ds-cta .field a:after,
  .node-program.view-mode-full .ds-cta .field a[target="_blank"]:after {
    top: 0;
  }
}
.node-program.view-mode-full .ds-cta .field a:hover,
.node-program.view-mode-full .ds-cta .field a[target="_blank"]:hover {
  color: #2d6280;
  border-bottom: 1px #2d6280 solid;
}
.node-program.view-mode-full .ds-cta .field a:hover:after,
.node-program.view-mode-full .ds-cta .field a[target="_blank"]:hover:after {
  color: #aac4bf;
}
@media (max-width: 60.3125em) {
  .node-program.view-mode-full .ds-cta .field-name-field-cta2 {
    margin-top: 10px;
  }
}
.node-program.view-mode-full .ds-explore {
  overflow: hidden;
  *zoom: 1;
  padding: 50px 0;
}
.node-program.view-mode-full .ds-explore h2 {
  font-weight: normal;
}
.node-program.view-mode-full .ds-explore .program-programs-cta-wrapper {
  text-align: center;
}
.node-program.view-mode-full .ds-explore .program-programs-cta {
  padding: 14px 26px;
}
.node-program.view-mode-full .ds-explore .program-programs-cta a,
.node-program.view-mode-full .ds-explore .program-programs-cta a[target="_blank"] {
  color: #636f00;
  font-size: 20px;
  line-height: 1.2;
  position: relative;
  text-decoration: none;
}
.node-program.view-mode-full .ds-explore .program-programs-cta a:after,
.node-program.view-mode-full .ds-explore .program-programs-cta a[target="_blank"]:after {
  content: "\f101";
  display: inline;
  speak: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-transform: none;
  line-height: 1;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'icons';
}
.node-program.view-mode-full .ds-explore .program-programs-cta a:after,
.node-program.view-mode-full .ds-explore .program-programs-cta a[target="_blank"]:after {
  right: -50px;
  font-weight: normal;
  color: #e3e3e3;
}
.node-program.view-mode-full .ds-explore .program-programs-cta a:hover,
.node-program.view-mode-full .ds-explore .program-programs-cta a[target="_blank"]:hover {
  color: #2d6280;
  border-bottom: 1px #2d6280 solid;
}
.node-program.view-mode-full .ds-explore .program-programs-cta a:hover:after,
.node-program.view-mode-full .ds-explore .program-programs-cta a[target="_blank"]:hover:after {
  color: #aac4bf;
}
.node-program.view-mode-full .ds-explore .gsb-program-explore-more-wrapper {
  display: inline-block;
  float: left;
  margin-bottom: 20px;
  vertical-align: top;
}
.node-program.view-mode-full .ds-explore .node-program-instance.view-mode-program_explore_other {
  display: inline-block;
  vertical-align: top;
  width: 360px;
}
.node-program.view-mode-full .ds-explore .node-program-instance.view-mode-program_explore_other:nth-of-type(1n) {
  margin-right: 22px;
}
.node-program.view-mode-full .ds-explore .node-program-instance.view-mode-program_explore_other:nth-of-type(2n) {
  margin: 0 22px;
}
.node-program.view-mode-full .ds-explore .node-program-instance.view-mode-program_explore_other:nth-of-type(3n) {
  margin-left: 22px;
  margin-right: 0;
}
@media (max-width: 75.3125em) {
  .node-program.view-mode-full .ds-explore .node-program-instance.view-mode-program_explore_other {
    width: 30%;
  }
}
@media (max-width: 39.375em) {
  .node-program.view-mode-full .ds-explore .node-program-instance.view-mode-program_explore_other {
    margin: 0 0 18px 0 !important;
    width: 100%;
  }
}
.node-program.view-mode-full .ds-explore .program-programs-cta {
  display: inline-block;
  margin: 0 auto;
  text-align: initial;
  width: 250px;
}
.node-program.view-mode-full .node-program-instance.view-mode-program_explore_other .gsb-display-image {
  margin-bottom: 12px;
  max-width: 360px;
}
.node-program.view-mode-full .node-program-instance.view-mode-program_explore_other .gsb-display-image a:after {
  display: none;
}
.node-program.view-mode-full .node-program-instance.view-mode-program_explore_other .field-name-field-program a {
  font-size: 20px;
  font-weight: bold;
  line-height: 1.3;
}
.node-program.view-mode-full .node-program-instance.view-mode-program_explore_other .field-name-field-program a:hover {
  text-decoration: none;
  border-bottom: 1px solid #2d6280;
}
.node-program.view-mode-full .node-program-instance.view-mode-program_explore_other .field-name-field-instance-date {
  font-family: "NewsGothicBT-Demi", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.3;
  margin-top: 3px;
}
.node-program.view-mode-full .node-program-instance.view-mode-program_explore_other .field-name-field-program-location {
  font-size: 16px;
  line-height: 1.3;
  margin-top: 3px;
}
.node-program.view-mode-full .ds-footer {
  padding-top: 26px;
}
.node-program.view-mode-full .topics-location-category-wrapper a {
  font-size: 20px;
  font-weight: normal;
  line-height: 1.3;
}
.node-program.view-mode-full .topics-location-category-wrapper a:hover {
  text-decoration: none;
  border-bottom: 1px solid #2d6280;
}
