.isotopify.program-list .isotopify-wrapper .isotopify-item {
  border-top: 1px #c4c4c4 solid;
  padding: 26px 35px;
}
.isotopify.program-list .isotopify-wrapper .program-title {
  color: #990000;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.3;
  margin-bottom: 18px;
}
.isotopify.program-list .isotopify-wrapper .program-date {
  font-family: "NewsGothicBT-Demi", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.3;
  margin-bottom: 3px;
}
.isotopify.program-list .isotopify-wrapper .leadership-level {
  font-size: 18px;
  font-weight: normal;
  line-height: 1.3;
  margin-bottom: 3px;
}
.isotopify.program-list .isotopify-wrapper .program-teaser {
  font-size: 16px;
  line-height: 1.4;
  margin-top: 18px;
}
.isotopify.program-list .isotopify-wrapper .program-topic {
  color: #990000;
  font-size: 16px;
  line-height: 1.3;
  margin-top: 5px;
}
