.pane-ee-programs-upcoming-programs {
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  margin: 1px;
}

.pane-ee-programs-upcoming-programs .super-head {
  background: #231f20;
  color: white;
  display: inline-block;
  font-family: "NewsGothicBT-Demi", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2;
  margin-bottom: 26px;
  padding: 6px 8px;
  position: relative;
  z-index: 2;
}
@media (max-width: 38.125em) {
  .pane-ee-programs-upcoming-programs .super-head {
    font-size: 13px;
    margin-bottom: 20px;
  }
}

.pane-ee-programs-upcoming-programs {
  color: white;
  padding: 26px;
}
.pane-ee-programs-upcoming-programs a {
  color: white;
}
.pane-ee-programs-upcoming-programs .list-cta a {
  color: white;
  display: block;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
  max-width: 270px;
  padding: 14px 16px;
}
.pane-ee-programs-upcoming-programs .list-cta a:hover {
  background: #2d6280;
  text-decoration: underline;
}
.pane-ee-programs-upcoming-programs.taupe {
  background: -moz-linear-gradient(bottom, #655d51, rgba(101, 93, 81, 0.7)), url('../../../images/bg-ee-program-customizable-list-taupe-2016-02-11-1.jpg') no-repeat top left, #655d51;
  background: -o-linear-gradient(bottom, #655d51, rgba(101, 93, 81, 0.7)), url('../../../images/bg-ee-program-customizable-list-taupe-2016-02-11-1.jpg') no-repeat top left, #655d51;
  background: -webkit-linear-gradient(bottom, #655d51, rgba(101, 93, 81, 0.7)), url('../../../images/bg-ee-program-customizable-list-taupe-2016-02-11-1.jpg') no-repeat top left, #655d51;
  background: linear-gradient(to top, #655d51, rgba(101, 93, 81, 0.7)), url('../../../images/bg-ee-program-customizable-list-taupe-2016-02-11-1.jpg') no-repeat top left, #655d51;
  padding: 0 26px 26px;
}
.pane-ee-programs-upcoming-programs.taupe .list-cta a {
  background: #538b80;
}
.pane-ee-programs-upcoming-programs.taupe .list-cta a:hover {
  background: #2d6280;
}
.pane-ee-programs-upcoming-programs.teal {
  background: -moz-linear-gradient(bottom, #149783, rgba(20, 151, 131, 0.7)), url('../../../images/bg-ee-program-customizable-list-teal-2016-02-11-1.jpg') no-repeat top left, #149783;
  background: -o-linear-gradient(bottom, #149783, rgba(20, 151, 131, 0.7)), url('../../../images/bg-ee-program-customizable-list-teal-2016-02-11-1.jpg') no-repeat top left, #149783;
  background: -webkit-linear-gradient(bottom, #149783, rgba(20, 151, 131, 0.7)), url('../../../images/bg-ee-program-customizable-list-teal-2016-02-11-1.jpg') no-repeat top left, #149783;
  background: linear-gradient(to top, #149783, rgba(20, 151, 131, 0.7)), url('../../../images/bg-ee-program-customizable-list-teal-2016-02-11-1.jpg') no-repeat top left, #149783;
  padding: 0 26px 26px;
}
.pane-ee-programs-upcoming-programs.teal .list-cta a {
  background: #655d51;
}
.pane-ee-programs-upcoming-programs.teal .list-cta a:hover {
  background: #2d6280;
}
.pane-ee-programs-upcoming-programs .super-head {
  margin-bottom: 0;
}
.pane-ee-programs-upcoming-programs .pane-title h2 {
  color: white;
  font-family: "NewsGothicBT", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 26px;
  font-weight: normal;
  line-height: 1.3;
  padding-top: 26px;
}
.pane-ee-programs-upcoming-programs .pane-content {
  margin-top: 26px;
}
.pane-ee-programs-upcoming-programs .views-row {
  border-bottom: 1px rgba(255, 255, 255, 0.3) solid;
  padding: 18px 0;
}
.pane-ee-programs-upcoming-programs .views-row:last-of-type {
  border-bottom: 0;
}
.pane-ee-programs-upcoming-programs .field-name-field-program {
  font-size: 20px;
  font-weight: bold;
  line-height: 1.3;
}
.narrow-view .pane-ee-programs-upcoming-programs .field-name-field-program {
  font-size: 18px;
}
.pane-ee-programs-upcoming-programs .field-name-field-program a:after {
  content: "\f101";
  display: inline;
  speak: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-transform: none;
  line-height: 1;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'icons';
}
.pane-ee-programs-upcoming-programs .field-name-field-program a:after {
  color: #bac405;
  font-size: 14px;
  margin-left: 3px;
}
.pane-ee-programs-upcoming-programs .field-name-field-program a:hover:after {
  color: white;
}
.pane-ee-programs-upcoming-programs .field-name-field-instance-date {
  font-family: "NewsGothicBT-Demi", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.3;
  margin-top: 3px;
}
.pane-ee-programs-upcoming-programs .field-collection-item-field-program-location,
.pane-ee-programs-upcoming-programs .gsb-time-commitment {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.3;
}
