.pane-filters .ms-choice, .pane-filters button.isotopify-filter-daterange-button, .pane-filters .ms-drop.bottom, .isotopify-filters #edit-search--2, .isotopify-filters #edit-submit {
  border: 1px #e4e4e4 solid;
}

.full-time-header {
  border-top: 3px #231f20 solid;
}

.pane-filters .ms-drop.bottom .checkbox-apply, .date-picker-wrapper .drp_top-bar .apply-btn, .pane-filters .ms-drop.bottom .checkbox-clear-all, .date-picker-wrapper .drp_top-bar .apply-btn.disabled, .isotopify.program-list .compare,
.full-time-programs-wrapper .compare, .image-ctas .fieldable-panels-pane, .compare-items {
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  margin: 1px;
}

.pane-filters .ms-drop.bottom .checkbox-apply:hover, .date-picker-wrapper .drp_top-bar .apply-btn:hover, .pane-filters .ms-drop.bottom .checkbox-clear-all:hover {
  background: #2d6280;
  background: -moz-linear-gradient(top, #18455f, #2d6280);
  background: -o-linear-gradient(top, #18455f, #2d6280);
  background: -webkit-linear-gradient(top, #18455f, #2d6280);
  background: linear-gradient(to bottom, #18455f, #2d6280);
}

.pane-filters .ms-drop.bottom .checkbox-clear-all, .date-picker-wrapper .drp_top-bar .apply-btn.disabled, .isotopify.program-list .compare,
.full-time-programs-wrapper .compare {
  background: whitesmoke;
  background: -moz-linear-gradient(top, #f5f5f5, #ffffff);
  background: -o-linear-gradient(top, #f5f5f5, #ffffff);
  background: -webkit-linear-gradient(top, #f5f5f5, #ffffff);
  background: linear-gradient(to bottom, #f5f5f5, #ffffff);
}

.pane-filters .ms-drop.bottom .checkbox-apply, .date-picker-wrapper .drp_top-bar .apply-btn, .pane-filters .ms-drop.bottom .checkbox-clear-all, .date-picker-wrapper .drp_top-bar .apply-btn.disabled {
  border: none;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  color: white;
  font-family: "NewsGothicBT", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1;
  padding: 10px 16px;
}
.pane-filters .ms-drop.bottom .checkbox-apply:after, .date-picker-wrapper .drp_top-bar .apply-btn:after, .pane-filters .ms-drop.bottom .checkbox-clear-all:after, .date-picker-wrapper .drp_top-bar .apply-btn.disabled:after {
  color: white !important;
}
.pane-filters .ms-drop.bottom .checkbox-apply:hover, .date-picker-wrapper .drp_top-bar .apply-btn:hover, .pane-filters .ms-drop.bottom .checkbox-clear-all:hover {
  border: 0;
  color: white;
}
.pane-filters .ms-drop.bottom .checkbox-apply:hover:after, .date-picker-wrapper .drp_top-bar .apply-btn:hover:after, .pane-filters .ms-drop.bottom .checkbox-clear-all:hover:after {
  color: white !important;
}

.pane-filters .ms-drop.bottom .checkbox-apply, .date-picker-wrapper .drp_top-bar .apply-btn {
  background: #919900;
}

.pane-filters .ms-drop.bottom .checkbox-clear-all, .date-picker-wrapper .drp_top-bar .apply-btn.disabled {
  color: #636f00;
}

.page-node-411861 #content {
  max-width: none;
}
.page-node-411861 #sidebar {
  display: none;
}
.page-node-411861 .title-wrapper,
.page-node-411861 .breadcrumb {
  display: none;
}
.page-node-411861 .full-header,
.page-node-411861 .featured-content {
  background: #f4f4f4;
  max-width: none;
  overflow: visible;
  padding: 26px 0;
}
.page-node-411861 .full-header .panel-pane,
.page-node-411861 .featured-content .panel-pane {
  margin: 0 auto;
  margin-bottom: 0 !important;
  max-width: 1170px;
  position: relative;
}
.page-node-411861 .inner-content-wrapper {
  margin: 0 auto;
  padding-top: 86px;
}

.page-node-411861 .panels-ipe-editing .full-header,
.page-node-411861 .panels-ipe-editing .featured-content {
  overflow: hidden !important;
}

.pane-program-list {
  position: relative;
  top: -50px;
}

.pane-filters {
  position: relative;
}
.pane-filters #edit-filters {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.pane-filters .form-item-sort {
  float: right;
  height: 46px;
  margin: 0;
  position: absolute;
  right: 0;
  top: 138px;
}
.pane-filters .form-item-sort label {
  display: none;
}
.pane-filters .form-item-sort .customSelectInner {
  font-family: "NewsGothicBT", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  padding: 12px 6px 6px 18px;
  width: 145px !important;
}
.pane-filters .customSelect {
  width: 210px;
}
.pane-filters .customSelect:after {
  background-color: #f9f9f9;
  border-left: 1px solid #cccccc;
  color: #990000;
  display: inline-block;
  float: right;
  font-size: 14px;
  line-height: 3;
  height: 45px;
  padding: 0 16px;
}
.pane-filters .form-item {
  margin: 0;
}
.pane-filters .form-item-filter-program-topic,
.pane-filters .form-item-filter-leadership-level,
.pane-filters .form-item-filter-program-location,
.pane-filters .isotopify-filter-daterange,
.pane-filters .form-item-search {
  display: inline-block;
  max-width: 230px;
  position: relative;
}
.pane-filters .form-item-filter-program-topic .placeholder,
.pane-filters .form-item-filter-leadership-level .placeholder,
.pane-filters .form-item-filter-program-location .placeholder,
.pane-filters .isotopify-filter-daterange .placeholder,
.pane-filters .form-item-search .placeholder {
  color: #231f20;
  font-family: "NewsGothicBT", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  height: 47px;
  line-height: 2.9;
  padding: 0;
  padding-left: 18px;
  text-align: left;
  width: 210px;
}
.pane-filters .ms-parent {
  width: 210px !important;
}
.pane-filters .ms-choice {
  background: white;
  border-radius: 0;
  color: #231f20;
  height: 47px;
}
.pane-filters .ms-choice > div:after {
  content: "\f105";
  display: inline;
  speak: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-transform: none;
  line-height: 1;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'icons';
}
.pane-filters .ms-choice > div:after {
  background-color: #f9f9f9;
  border-left: 1px solid #cccccc;
  color: #990000;
  display: inline-block;
  float: right;
  font-size: 14px;
  line-height: 3;
  height: 45px;
  padding: 0 16px;
  position: relative;
  top: 1px;
  left: -1px;
}
.pane-filters .ms-choice > div:hover:after {
  background-color: #2d6280;
  color: white;
}
.pane-filters .ms-choice > div.open:after {
  content: "\f108";
  display: inline;
  speak: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-transform: none;
  line-height: 1;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'icons';
}
.pane-filters .ms-choice > div.open:after {
  line-height: 3;
}
.pane-filters .ms-choice > span {
  color: #231f20;
  font-family: "NewsGothicBT", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  height: 47px;
  line-height: 2.2;
  padding: 0;
  padding-left: 10px;
  text-align: left;
}
.pane-filters button.isotopify-filter-daterange-button {
  background: white;
  border-radius: 0;
  color: #231f20;
  font-family: "NewsGothicBT", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  height: 47px;
  line-height: 2.9;
  padding: 0;
  padding-left: 18px;
  text-align: left;
  width: 210px;
}
.pane-filters button.isotopify-filter-daterange-button:after {
  content: "\f105";
  display: inline;
  speak: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-transform: none;
  line-height: 1;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'icons';
}
.pane-filters button.isotopify-filter-daterange-button:after {
  background-color: #f9f9f9;
  border-left: 1px solid #cccccc;
  color: #990000;
  display: inline-block;
  float: right;
  font-size: 14px;
  line-height: 3;
  height: 45px;
  padding: 0 16px;
  position: relative;
}
.pane-filters button.isotopify-filter-daterange-button:hover:after {
  background-color: #2d6280;
  color: white;
}
.pane-filters button.isotopify-filter-daterange-button.open:after {
  content: "\f108";
  display: inline;
  speak: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-transform: none;
  line-height: 1;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'icons';
}
.pane-filters button.isotopify-filter-daterange-button.open:after {
  line-height: 3;
}
.pane-filters .ms-drop.bottom {
  border-radius: 0;
  margin-top: 12px;
  min-width: 700px;
  overflow: visible;
}
.pane-filters .ms-drop.bottom .checkbox-apply {
  margin-bottom: 28px;
  margin-left: 24px;
  margin-right: 12px;
}
.pane-filters .ms-drop.bottom .checkbox-clear-all {
  margin-bottom: 28px;
}
.pane-filters .ms-drop.bottom:before {
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid white;
  content: "";
  height: 0px;
  position: absolute;
  top: -13px;
  left: 18px;
  width: 0px;
}
.pane-filters .form-item-filter-program-location .ms-drop.bottom,
.pane-filters .form-item-filter-leadership-level .ms-drop.bottom {
  min-width: 330px;
}
.pane-filters ul {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-flex-flow: row wrap;
  -moz-box-flex-flow: row wrap;
  -ms-flexbox-flex-flow: row wrap;
  -webkit-flex-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-justify-content: space-between;
  -moz-box-justify-content: space-between;
  -ms-flexbox-justify-content: space-between;
  -webkit-flex-justify-content: space-between;
  justify-content: space-between;
  max-height: none !important;
  max-width: none;
  min-height: 150px;
  padding: 26px 26px 10px 26px;
}
.pane-filters li {
  -webkit-box-flex-basis: 33%;
  -moz-box-flex-basis: 33%;
  -ms-flexbox-flex-basis: 33%;
  -webkit-flex-flex-basis: 33%;
  flex-basis: 33%;
  font-size: 16px;
  line-height: 1.2;
  margin-bottom: 16px;
  max-width: 180px;
}
.pane-filters .form-item-filter-program-location li,
.pane-filters .form-item-filter-leadership-level li {
  -webkit-box-flex-basis: 51%;
  -moz-box-flex-basis: 51%;
  -ms-flexbox-flex-basis: 51%;
  -webkit-flex-flex-basis: 51%;
  flex-basis: 51%;
}

.date-picker-wrapper {
  background: white;
  margin-top: 12px;
  overflow: visible !important;
}
.date-picker-wrapper:before {
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid white;
  content: "";
  height: 0px;
  position: absolute;
  top: -13px;
  left: 32px;
  width: 0px;
}
.date-picker-wrapper .gap {
  top: 0;
}
.date-picker-wrapper .drp_top-bar .normal-top {
  display: none !important;
}
.date-picker-wrapper .drp_top-bar .apply-btn {
  position: relative;
}
.date-picker-wrapper .month-wrapper {
  border: 0;
  border-radius: 0;
  padding: 0;
  width: 483px !important;
}
.date-picker-wrapper .month-name {
  font-family: "NewsGothicBT", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.2;
  text-transform: capitalize;
}
.date-picker-wrapper table .week-name {
  font-weight: normal;
}
.date-picker-wrapper table .week-name th {
  color: white;
  font-family: "NewsGothicBT", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 1.2;
  position: relative;
  right: -4px;
}
.date-picker-wrapper table .week-name th::first-letter {
  color: #686868;
}
.date-picker-wrapper table .caption {
  position: relative;
}
.date-picker-wrapper table .caption .next,
.date-picker-wrapper table .caption .prev {
  color: white;
  padding: 0;
  position: absolute;
  top: 12px;
}
.date-picker-wrapper table .caption .next:before,
.date-picker-wrapper table .caption .prev:before {
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  background: #bac405;
  color: white;
  font-size: 10px;
  padding: 8px;
  position: relative;
}
.date-picker-wrapper table .caption .next:hover,
.date-picker-wrapper table .caption .prev:hover {
  background: none;
}
.date-picker-wrapper table .caption .next:hover:before,
.date-picker-wrapper table .caption .prev:hover:before {
  background: #2d6280;
}
.date-picker-wrapper table .caption .prev:before {
  content: "\f106";
  display: inline;
  speak: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-transform: none;
  line-height: 1;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'icons';
}
.date-picker-wrapper table .caption .next:before {
  content: "\f107";
  display: inline;
  speak: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-transform: none;
  line-height: 1;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'icons';
}
.date-picker-wrapper .month1 .month-name {
  padding-left: 10px;
  text-align: left;
}
.date-picker-wrapper .month1 .prev {
  left: 2px;
  top: 13px;
}
.date-picker-wrapper .month1 .next {
  right: 249px;
}
.date-picker-wrapper .month2 .month-name {
  padding-right: 10px;
  text-align: right;
}
.date-picker-wrapper .month2 .prev {
  left: 261px;
}
.date-picker-wrapper .month2 .next {
  right: -10px;
  top: 11px;
}
.date-picker-wrapper .month-wrapper table tbody tr {
  border-top: 0;
}
.date-picker-wrapper .month-wrapper table td {
  background: white;
  padding: 2px;
}
.date-picker-wrapper .month-wrapper table td div {
  background: #fcfcfc;
  border: 1px #e5e5e5 solid;
  color: #c5c5c5 !important;
}
.date-picker-wrapper .month-wrapper table .day {
  height: 26px;
  margin: 1px;
  padding: 5px;
  width: 26px;
}
.date-picker-wrapper .month-wrapper table .day.real-today {
  background: #bac405;
  color: white !important;
}
.date-picker-wrapper .month-wrapper table .day.checked {
  background: #fcfcfc;
  border: 1px #bac405 solid;
  color: #231f20 !important;
}
.date-picker-wrapper .month-wrapper table .day.first-date-selected, .date-picker-wrapper .month-wrapper table .day.last-date-selected {
  background: #fcfcfc !important;
  border: 2px #bac405 solid;
  color: #231f20 !important;
  margin: 0;
}
.date-picker-wrapper .month-wrapper table .day.toMonth.hovering {
  background: rgba(186, 196, 5, 0.3);
  color: #231f20 !important;
}

.isotopify-filters .form-item.form-item-search {
  overflow: hidden;
  *zoom: 1;
  margin-top: 0;
  margin-bottom: 0;
  width: 210px;
}
.isotopify-filters #edit-search--2 {
  float: left;
  height: 48px;
  margin-right: -46px;
  width: 164px;
}
.isotopify-filters .form-submit {
  float: left;
  position: relative;
  right: -46px;
  width: 46px;
}
.isotopify-filters #edit-submit {
  border-left: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  height: 48px;
  text-indent: 1000px;
}
.svg .isotopify-filters #edit-submit {
  background: url('../../../images/search.svg') no-repeat 60% 47%, -moz-linear-gradient(bottom, #f9f9f9 100%, #f9f9f9 100%);
  background: url('../../../images/search.svg') no-repeat 60% 47%, -o-linear-gradient(bottom, #f9f9f9 100%, #f9f9f9 100%);
  background: url('../../../images/search.svg') no-repeat 60% 47%, -webkit-linear-gradient(bottom, #f9f9f9 100%, #f9f9f9 100%);
  background: url('../../../images/search.svg') no-repeat 60% 47%, linear-gradient(to top, #f9f9f9 100%, #f9f9f9 100%);
  background-size: 60px;
}
.svg .isotopify-filters #edit-submit:hover {
  background: url('../../../images/search-white.svg') no-repeat 60% 47%, -moz-linear-gradient(top, #2d6280, #2d6280);
  background: url('../../../images/search-white.svg') no-repeat 60% 47%, -o-linear-gradient(top, #2d6280, #2d6280);
  background: url('../../../images/search-white.svg') no-repeat 60% 47%, -webkit-linear-gradient(top, #2d6280, #2d6280);
  background: url('../../../images/search-white.svg') no-repeat 60% 47%, linear-gradient(to bottom, #2d6280, #2d6280);
  background-size: 60px;
}
.no-js .isotopify-filters #edit-submit, .no-svg .isotopify-filters #edit-submit {
  background: url('../../../images/search.png') no-repeat 11px 11px, -moz-linear-gradient(bottom, #f9f9f9 100%, #f9f9f9 100%);
  background: url('../../../images/search.png') no-repeat 11px 11px, -o-linear-gradient(bottom, #f9f9f9 100%, #f9f9f9 100%);
  background: url('../../../images/search.png') no-repeat 11px 11px, -webkit-linear-gradient(bottom, #f9f9f9 100%, #f9f9f9 100%);
  background: url('../../../images/search.png') no-repeat 11px 11px, linear-gradient(to top, #f9f9f9 100%, #f9f9f9 100%);
}
.no-js .isotopify-filters #edit-submit:hover, .no-svg .isotopify-filters #edit-submit:hover {
  background: url('../../../images/search-white.png') no-repeat 11px 11px, -moz-linear-gradient(top, #2d6280, #2d6280);
  background: url('../../../images/search-white.png') no-repeat 11px 11px, -o-linear-gradient(top, #2d6280, #2d6280);
  background: url('../../../images/search-white.png') no-repeat 11px 11px, -webkit-linear-gradient(top, #2d6280, #2d6280);
  background: url('../../../images/search-white.png') no-repeat 11px 11px, linear-gradient(to bottom, #2d6280, #2d6280);
}

.isotopify.program-list .isotopify-item,
.isotopify.program-list .full-time-program,
.full-time-programs-wrapper .isotopify-item,
.full-time-programs-wrapper .full-time-program {
  border-top: 1px #c4c4c4 solid;
  padding: 26px 35px;
  width: 100%;
}
@media (max-width: 35.5em) {
  .isotopify.program-list .isotopify-item,
  .isotopify.program-list .full-time-program,
  .full-time-programs-wrapper .isotopify-item,
  .full-time-programs-wrapper .full-time-program {
    padding: 20px 0;
  }
}
.isotopify.program-list .program-title,
.full-time-programs-wrapper .program-title {
  color: #231f20;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.3;
  margin-bottom: 12px;
  max-width: 80%;
}
@media (max-width: 35.5em) {
  .isotopify.program-list .program-title,
  .full-time-programs-wrapper .program-title {
    font-size: 20px;
  }
}
.isotopify.program-list .program-date,
.full-time-programs-wrapper .program-date {
  font-family: "NewsGothicBT-Demi", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.3;
  margin-bottom: 3px;
}
.isotopify.program-list .leadership-level,
.full-time-programs-wrapper .leadership-level {
  font-size: 18px;
  font-weight: normal;
  line-height: 1.3;
  margin-bottom: 3px;
}
.isotopify.program-list .program-format,
.full-time-programs-wrapper .program-format {
  font-size: 18px;
  font-weight: normal;
  line-height: 1.3;
  margin-bottom: 3px;
}
.isotopify.program-list .program-teaser,
.full-time-programs-wrapper .program-teaser {
  font-size: 16px;
  line-height: 1.4;
  margin-top: 18px;
}
.isotopify.program-list .program-topic,
.full-time-programs-wrapper .program-topic {
  font-size: 16px;
  line-height: 1.3;
  margin-top: 5px;
}
.isotopify.program-list .compare,
.full-time-programs-wrapper .compare {
  border: none;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  overflow: hidden;
  *zoom: 1;
  color: white;
  font-family: "NewsGothicBT", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1;
  padding: 10px 16px;
  float: right;
}
.isotopify.program-list .compare label,
.full-time-programs-wrapper .compare label {
  float: left;
  color: #231f20;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2;
}
.isotopify.program-list .compare input,
.full-time-programs-wrapper .compare input {
  -moz-box-shadow: #bac405 1px 1px 0px inset, #bac405 0 0 0 2px;
  -webkit-box-shadow: #bac405 1px 1px 0px inset, #bac405 0 0 0 2px;
  box-shadow: #bac405 1px 1px 0px inset, #bac405 0 0 0 2px;
  border-radius: 50px;
}
.isotopify.program-list .compare input:before,
.full-time-programs-wrapper .compare input:before {
  border: 3px #bac405 solid;
  content: " ";
  height: 12px;
  width: 12px;
  display: block;
  border-radius: 50px;
  position: relative;
  right: 2px;
  top: -2px;
}

.full-time-header {
  font-family: "NewsGothicBT", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 28px;
  font-weight: bold;
  line-height: 1.2;
  margin: 24px 0 34px;
  padding-top: 18px;
}

.image-ctas .fieldable-panels-pane {
  margin-bottom: 20px;
  max-width: 566px;
  position: relative;
  bottom: 0;
}
.image-ctas img {
  display: block;
}
.image-ctas .image-cta-color-blue a {
  background: rgba(0, 72, 140, 0.85);
}
.image-ctas .image-cta-color-lime a {
  background: rgba(145, 153, 0, 0.85);
}
.image-ctas .image-cta-color-pink a {
  background: rgba(221, 24, 128, 0.85);
}
.image-ctas .image-cta-color-purple a {
  background: rgba(151, 24, 93, 0.85);
}
.image-ctas .image-cta-color-teal a {
  background: rgba(0, 156, 132, 0.85);
}
.image-ctas .field-name-field-link-single {
  line-height: 0;
}
.image-ctas .field-name-field-link-single a {
  color: white;
  display: block;
  font-family: "NewsGothicBT-Demi", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.2;
  padding: 12px 26px;
  width: 100%;
}
.image-ctas .field-name-field-link-single a:after {
  content: "\f101";
  display: inline;
  speak: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-transform: none;
  line-height: 1;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'icons';
}
.image-ctas .field-name-field-link-single a:after {
  color: white;
  font-size: 12px;
  margin-left: 3px;
}
.image-ctas .field-name-field-link-single a:hover {
  background: rgba(1, 72, 114, 0.85) !important;
}
.image-ctas .group-left,
.image-ctas .group-right {
  float: none;
  width: 100%;
}
.image-ctas .group-right {
  padding: 0 !important;
  position: absolute;
  bottom: 0;
}

h2.isotopify-title {
  color: #231f20;
  font-family: "NewsGothicBT", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 28px;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 18px;
}

.compare-items {
  background: #f4f4f4;
  max-width: 870px;
  padding: 26px;
  width: 100%;
  position: relative;
  z-index: 1;
}
.compare-items h3 {
  font-size: 22px;
  line-height: 1.3;
  margin-bottom: 26px;
}
.compare-items .compare-item {
  background: white;
  font-size: 16px;
  height: 100px;
  line-height: 1.2;
  max-width: 33%;
  padding: 18px !important;
}
.compare-items .remove-item {
  background: #bac405;
  border: 1px #bac405 solid;
  border-radius: 50px;
  color: white;
  display: inline-block;
  height: 25px;
  line-height: 1.5;
  text-align: center;
  width: 25px;
}
.compare-items .remove-item:hover {
  background: #2d6280;
  border: 1px #2d6280 solid;
  cursor: pointer;
}
