/**
 * @file
 * GSB Landing Page One panel layout
**/

.supermenu-row>div {
 float:left;
}

.supermenu-two-column-wide {
 width:210px;
 margin-right:7px;
}

.supermenu-two-column-wide.wide-column {
 width:404px;
}

  
/* iPhone [portrait + landscape] */
@media only screen and (max-width: 640px) {
  


}
