// Icon font setup: http://jaydenseric.com/blog/font-icons-like-a-boss-with-sass-and-font-custom
// Unfortunately the long way: https://github.com/FontCustom/fontcustom/issues/186

// Sass map containing icon names and CSS content values
$icons: (
    arrow-double-left: "\f100",
    arrow-double-right: "\f101",
    arrow-external: "\f102",
    arrow-heavy-down: "\f103",
    arrow-heavy-up: "\f104",
    arrow-med-down: "\f105",
    arrow-med-left: "\f106",
    arrow-med-right: "\f107",
    arrow-med-up: "\f108",
    calendar-blank: "\f109",
    calendar-day: "\f10a",
    chat: "\f10b",
    chevron-light-right: "\f054",
    circle: "\f10c",
    circle-arrow-left: "\f10d",
    circle-arrow-right: "\f10e",
    clock: "\f10f",
    document-blank: "\f126",
    document-lines: "\f127",
    email-fill: "\f111",
    email-stroke: "\f112",
    facebook: "\f113",
    google-plus: "\f125",
    linkedin: "\f114",
    lock: "\f128",
    menu: "\f115",
    menu-list: "\f116",
    minus: "\f117",
    pdf: "\f118",
    picture: "\f119",
    play: "\f11a",
    plus: "\f11b",
    podcast: "\f11c",
    presentation: "\f11d",
    rss: "\f11e",
    search: "\f11f",
    spreadsheet: "\f120",
    twitter: "\f121",
    video: "\f122",
    youtube: "\f123",
    zip: "\f124",
);

// For adding icons to elements using CSS pseudo-elements
@mixin icon-before($icon: false, $styles: false) {
    &:before {
        @if $icon {
            content: "#{map-get($icons, $icon)}";
        }
        @if $styles {
            display: inline;
            speak: none;
            text-rendering: optimizeLegibility;
            -moz-osx-font-smoothing: grayscale;
            -webkit-font-smoothing: antialiased;
            font-smoothing: antialiased;
            text-transform: none;
            line-height: 1;
            font: {
                style: normal;
                variant: normal;
                weight: normal;
                family: 'icons';
            }
        }
        @content;
    }
}
@mixin icon-after($icon: false, $styles: false) {
    &:after {
        @if $icon {
            content: "#{map-get($icons, $icon)}";
        }
        @if $styles {
            display: inline;
            speak: none;
            text-rendering: optimizeLegibility;
            -moz-osx-font-smoothing: grayscale;
            -webkit-font-smoothing: antialiased;
            font-smoothing: antialiased;
            text-transform: none;
            line-height: 1;
            font: {
                style: normal;
                variant: normal;
                weight: normal;
                family: 'icons';
            }
        }
        @content;
    }
}
@mixin icon-both($icon: false, $styles: false) {
    &:before,
    &:after {
        @if $icon {
            content: "#{map-get($icons, $icon)}";
        }
        @if $styles {
            display: inline;
            speak: none;
            text-rendering: optimizeLegibility;
            -moz-osx-font-smoothing: grayscale;
            -webkit-font-smoothing: antialiased;
            font-smoothing: antialiased;
            text-transform: none;
            line-height: 1;
            font: {
                style: normal;
                variant: normal;
                weight: normal;
                family: 'icons';
            }
        }
        @content;
    }
}
