@charset "UTF-8"

// IMPORT COMPASS AND EXTENSIONS
@import compass
@import breakpoint
@import ../../../../fonts/icons/icons
@import partials/base/00-variables/all
@import partials/base/03-extend/gsb-revamp

// Callout resource
.file-resource-pull-quote
  +clearfix
  color: #739d95
  float: left
  max-width: 408px
  margin-right: 20px
  +breakpoint($bp-mobile-max)
    float: none
    margin-bottom: 20px
    margin-right: 0
    max-width: 100%

  // Callout text
  .field-name-field-description
    font-size: 26px
    line-height: 1.4
    +breakpoint($bp-mobile)
      font-size: 22px
  // Source
  .field-name-field-quote-author
    display: inline
    float: right
    font-size: 18px
    line-height: 1.3
    +breakpoint($bp-mobile)
      font-size: 16px
    &:before
      content: "—"
      margin-right: 3px

// Quation marks for quotes
.file-resource-pull-quote.callout-quote
  // Quote
  .field-name-field-description
    &:before
      content: "“"
    &:after
      content: "”"
