@charset "UTF-8"

// IMPORT COMPASS AND EXTENSIONS
@import compass
@import breakpoint
@import ../../../../fonts/icons/icons
@import partials/base/00-variables/all
@import partials/base/03-extend/gsb-revamp

// Image resource

// Full
.file-resource_image--full_width
  margin-bottom: 20px

// Half and third
.file-resource_image--1_2_width,
.file-resource_image--1_3_width
  @extend %insights-resource-right

// Half
.file-resource_image--1_2_width
  max-width: 408px

// Third
.file-resource_image--1_3_width
  max-width: 268px
