@charset "UTF-8"

// IMPORT COMPASS AND EXTENSIONS
@import compass
@import breakpoint
@import ../../../../fonts/icons/icons
@import partials/base/00-variables/all
@import partials/base/03-extend/gsb-revamp

// Image resource
.file-resource-image

// Full
.file-resource_image--full_width
  max-width: 815px

// Half and third
.file-resource_image--1_2_width,
.file-resource_image--1_3_width
  @extend %insights-resource-right

// Half
.file-resource_image--1_2_width
  max-width: 408px
  +breakpoint(780px max-width)
    float: none
    margin-left: 0
    max-width: 100%

// Third
.file-resource_image--1_3_width
  max-width: 268px
  +breakpoint(640px max-width)
    float: none
    margin-left: 0
    max-width: 100%

// Caption - figcaption
.field-resource-image-caption
  color: #595959
  font-size: 14px
  line-height: 1.2
  margin-top: 12px
  max-width: 650px

// Infographic expand
.file-resource-image figure
  bottom: 0
  position: relative

.image-enlarge-bar
  background: $black
  display: block
  height: 60px
  width: 100%

body a.image-enlarge-button
  float: right
  margin: 12px 26px
  @extend %green-button
  +icon-after("arrow-external", true)
  &:after
    content: "\f102" !important
    font-size: 12px
