@charset "UTF-8"

// IMPORT COMPASS AND EXTENSIONS
@import compass
@import breakpoint
@import ../../../../fonts/icons/icons
@import partials/base/00-variables/all
@import partials/base/03-extend/gsb-revamp

// Twitter resource

// Embedded timeline

// Embedded tweet (iframe requires !important)
.file-resource-twitter
  float: right
  margin-bottom: 20px !important
  margin-left: 20px !important
  +breakpoint(780px max-width)
    float: none
    margin-left: 0 !important
    text-align: center

  // Width
  iframe
    min-width: 408px !important
    +breakpoint($bp-mobile-480)
      min-width: 100% !important
