@charset "UTF-8"

// IMPORT COMPASS AND EXTENSIONS
@import compass
@import breakpoint
@import ../../../../fonts/icons/icons
@import partials/base/00-variables/all
@import partials/base/03-extend/gsb-revamp

// Twitter resource

// Embedded timeline

// Embedded tweet (iframe requires !important)
.twitter-tweet
  float: right
  margin-bottom: 20px !important
  margin-left: 20px !important
  +breakpoint($bp-idea-story-detail)
    float: none
    margin-left: 0 !important
