.pane-act-project-filters-act-project-filters-pane {
  background: white;
}

.pane-act-project-filters-act-project-filters-pane h2.pane-title {
  border-top: 10px #231f20 solid;
}

.pane-act-project-filters-act-project-filters-pane {
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  margin: 1px;
}

.pane-act-project-filters-act-project-filters-pane {
  padding: 0 26px 12px;
}
.pane-act-project-filters-act-project-filters-pane h2.pane-title {
  color: #231f20;
  font-family: "NewsGothicBT-Demi", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.3;
  margin-bottom: 18px;
  padding-top: 12px;
}
.pane-act-project-filters-act-project-filters-pane .views-row {
  border-bottom: 1px solid lightgray;
  padding: 14px 0;
}
.pane-act-project-filters-act-project-filters-pane .views-row:first-of-type {
  padding-top: 0;
}
.pane-act-project-filters-act-project-filters-pane .views-row:last-of-type {
  border-bottom: 0;
}
.pane-act-project-filters-act-project-filters-pane .views-field-title {
  margin-bottom: 15px;
}
.pane-act-project-filters-act-project-filters-pane .views-field-title h2 {
  font-family: "NewsGothicBT", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 0;
}
.pane-act-project-filters-act-project-filters-pane .views-field-title h2 a {
  font-family: "NewsGothicBT", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.3;
}
.pane-act-project-filters-act-project-filters-pane .views-field {
  font-size: 16px;
  line-height: 1.3;
  margin-top: 5px;
}
.pane-act-project-filters-act-project-filters-pane .views-label {
  font-family: "NewsGothicBT-Demi", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
}
.pane-act-project-filters-act-project-filters-pane .views-field-field-act-org-location {
  font-family: "NewsGothicBT-Demi", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.3;
  margin-bottom: 15px;
  margin-top: -15px;
}
.pane-act-project-filters-act-project-filters-pane .views-field-field-link-single {
  font-size: 18px;
  line-height: 1.3;
  margin-bottom: 15px;
  margin-top: -15px;
}
