.pane-reunion-finder #gotoReunion {
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  margin: 1px;
}

.pane-reunion-finder #gotoReunion:hover {
  background: #2d6280;
  background: -moz-linear-gradient(top, #18455f, #2d6280);
  background: -o-linear-gradient(top, #18455f, #2d6280);
  background: -webkit-linear-gradient(top, #18455f, #2d6280);
  background: linear-gradient(to bottom, #18455f, #2d6280);
}

.pane-reunion-finder #gotoReunion {
  background-color: #c50000;
  background: -moz-linear-gradient(bottom, #c50000 0%, #860000 100%);
  background: -o-linear-gradient(bottom, #c50000 0%, #860000 100%);
  background: -webkit-linear-gradient(bottom, #c50000 0%, #860000 100%);
  background: linear-gradient(to top, #c50000 0%, #860000 100%);
}

.pane-reunion-finder #gotoReunion {
  border: none;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  color: white;
  font-family: "NewsGothicBT", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1;
  padding: 10px 16px;
}
.pane-reunion-finder #gotoReunion:after {
  color: white !important;
}
.pane-reunion-finder #gotoReunion:hover {
  border: 0;
  color: white;
}
.pane-reunion-finder #gotoReunion:hover:after {
  color: white !important;
}

.pane-reunion-finder {
  background: #9ecbea;
  margin-bottom: 30px;
  overflow: hidden;
  position: relative;
  bottom: 0;
}
.wide-view .pane-reunion-finder {
  min-height: 430px;
}
.narrow-view .pane-reunion-finder {
  min-height: 365px;
}
.pane-reunion-finder .reunion-finder-image-wrapper {
  position: absolute;
  bottom: 0;
}
.pane-reunion-finder .reunion-finder-image-wrapper img {
  width: 100%;
  vertical-align: bottom;
}
.pane-reunion-finder .reunion-finder-content-wrapper {
  position: absolute;
  top: 0;
  width: 100%;
}
.pane-reunion-finder .reunion-finder-form-wrapper {
  padding: 0 26px;
  overflow: hidden;
  *zoom: 1;
}
.pane-reunion-finder h3 {
  background: rgba(48, 117, 156, 0.85);
  color: white;
  font-family: "NewsGothicBT-Demi", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 28px;
  font-weight: normal;
  line-height: 1.2;
  margin-bottom: 26px;
  padding: 14px 26px;
}
.narrow-view .pane-reunion-finder h3 {
  font-size: 24px;
  margin-top: -5px;
}
@media (max-width: 35.5em) {
  .wide-view .pane-reunion-finder h3 {
    font-size: 24px;
  }
}
.pane-reunion-finder .customSelect {
  border: 1px solid white;
  margin-bottom: 20px;
  width: 100% !important;
}
.pane-reunion-finder .customSelect:after {
  height: 52px;
  line-height: 3.7;
  padding: 0 18px;
}
.pane-reunion-finder .customSelectInner {
  font-size: 24px;
  line-height: 1.2;
  padding: 0;
  margin: 12px 14px;
}
.pane-reunion-finder #gotoReunion {
  clear: left;
  float: right;
  font-size: 20px;
  margin-top: 20px;
}
.narrow-view .pane-reunion-finder #gotoReunion {
  font-size: 16px;
  text-align: center;
  width: 100%;
}
@media (max-width: 35.5em) {
  .narrow-view .pane-reunion-finder #gotoReunion {
    float: right;
    width: auto;
  }
}
@media (max-width: 35.5em) {
  .wide-view .pane-reunion-finder #gotoReunion {
    font-size: 16px;
  }
}
.pane-reunion-finder #label_programYear {
  color: #134c6c;
  float: left;
  font-family: "NewsGothicBT-Demi", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 22px;
  font-weight: normal;
  line-height: 2;
  margin-right: 0.6em;
}
.narrow-view .pane-reunion-finder #label_programYear {
  font-size: 20px;
  line-height: 2.5;
  margin-right: 0.4em;
}
@media (max-width: 35.5em) {
  .narrow-view .pane-reunion-finder #label_programYear {
    line-height: 2;
  }
}
@media (max-width: 35.5em) {
  .wide-view .pane-reunion-finder #label_programYear {
    font-size: 20px;
  }
}
.pane-reunion-finder #programYear {
  border: 1px solid white;
  font-size: 18px;
  height: 42px;
  padding: 10px;
  width: 70px;
}
.pane-reunion-finder #programYearError {
  margin: 12px 0;
}
.pane-reunion-finder #noReunionPage {
  font-family: "NewsGothicBT-Demi", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 1.2;
  margin-top: 20px;
  text-align: right;
}
.narrow-view .pane-reunion-finder #noReunionPage {
  font-size: 18px;
}
