.pane-reunion-finder {
  background: url('../../../images/bg-reunion-finder.jpg') no-repeat;
}
.pane-reunion-finder h3 {
  background: rgba(48, 117, 156, 0.85);
  color: white;
  font-family: "NewsGothicBT-Demi", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 28px;
  font-weight: normal;
  line-height: 1.2;
  margin-bottom: 12px;
  padding: 12px 8px;
}
