.pane-gsb-alumni-agenda-list-panel-pane-1 .views-row .node {
  border-top: 1px lightgray solid;
}

.pane-gsb-alumni-agenda-list-panel-pane-1 {
  border-top: 3px #231f20 solid;
}

.pane-gsb-alumni-agenda-list-panel-pane-1 .field-name-field-reunion-group-page-ref {
  background: #231f20;
  color: white;
  display: inline-block;
  font-family: "NewsGothicBT-Demi", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.2;
  margin-bottom: 26px;
  padding: 6px 8px;
  position: relative;
  z-index: 2;
}
@media (max-width: 38.125em) {
  .pane-gsb-alumni-agenda-list-panel-pane-1 .field-name-field-reunion-group-page-ref {
    font-size: 13px;
    margin-bottom: 20px;
  }
}

.pane-gsb-alumni-agenda-list-panel-pane-1 h2.pane-title {
  color: #231f20;
  font-family: "NewsGothicBT", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 28px;
  font-weight: bold;
  line-height: 1.3;
  margin-bottom: 20px;
  margin-top: 8px;
}
.pane-gsb-alumni-agenda-list-panel-pane-1 h3 {
  font-size: 22px;
  margin-bottom: 18px;
}
.pane-gsb-alumni-agenda-list-panel-pane-1 .views-row .node {
  margin: 0 26px;
  padding-bottom: 18px;
}
.pane-gsb-alumni-agenda-list-panel-pane-1 .field-name-field-reunion-group-page-ref {
  margin-bottom: 0;
}
.pane-gsb-alumni-agenda-list-panel-pane-1 .field-name-field-event-date {
  font-family: "NewsGothicBT-Demi", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.3;
  margin: 18px 0;
}
.pane-gsb-alumni-agenda-list-panel-pane-1 .field-name-title h2 {
  font-family: "NewsGothicBT", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
}
.pane-gsb-alumni-agenda-list-panel-pane-1 .field-name-field-link-single {
  font-size: 16px;
  line-height: 1.3;
}
