.node-alumni-reunion-agenda-item.view-mode-full .group-left-inner .field-name-field-body {
  font-size: 18px;
  line-height: 1.4;
}
@media (max-width: 43.75em) {
  .node-alumni-reunion-agenda-item.view-mode-full .group-left-inner .field-name-field-body {
    font-size: 16px;
  }
}

.node-alumni-reunion-agenda-item.view-mode-full .group-left-inner {
  border-top: 3px #231f20 solid;
}

.node-alumni-reunion-agenda-item.view-mode-full .group-left-inner .field-name-field-reunion-group-page-ref {
  background: #231f20;
  color: white;
  display: inline-block;
  font-family: "NewsGothicBT-Demi", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.2;
  margin-bottom: 26px;
  padding: 6px 8px;
  position: relative;
  z-index: 2;
}
@media (max-width: 38.125em) {
  .node-alumni-reunion-agenda-item.view-mode-full .group-left-inner .field-name-field-reunion-group-page-ref {
    font-size: 13px;
    margin-bottom: 20px;
  }
}

.node-type-alumni-reunion-agenda-item #page-title {
  display: none;
}

.node-alumni-reunion-agenda-item.view-mode-full.ds-2col > .group-left {
  margin-right: -300px;
  width: 100%;
}
@media (max-width: 43.75em) {
  .node-alumni-reunion-agenda-item.view-mode-full.ds-2col > .group-left {
    margin-right: 0;
    margin-bottom: 20px;
  }
}
@media (max-width: 35.5em) {
  .node-alumni-reunion-agenda-item.view-mode-full.ds-2col > .group-left {
    border-top: 0;
    padding-top: 0;
  }
}
.node-alumni-reunion-agenda-item.view-mode-full.ds-2col > .group-left .group-left-inner {
  margin-right: 300px;
}
@media (max-width: 43.75em) {
  .node-alumni-reunion-agenda-item.view-mode-full.ds-2col > .group-left .group-left-inner {
    margin-right: 0;
  }
}
.node-alumni-reunion-agenda-item.view-mode-full.ds-2col > .group-right {
  float: right;
  width: 270px;
}
@media (max-width: 43.75em) {
  .node-alumni-reunion-agenda-item.view-mode-full.ds-2col > .group-right {
    float: left;
    width: 100%;
  }
}
.node-alumni-reunion-agenda-item.view-mode-full .group-left-inner .field-name-field-event-date {
  font-family: "NewsGothicBT-Demi", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.3;
  margin-bottom: 26px;
}
@media (max-width: 43.75em) {
  .node-alumni-reunion-agenda-item.view-mode-full .group-left-inner .field-name-field-event-date {
    font-size: 16px;
  }
}
.node-alumni-reunion-agenda-item.view-mode-full .group-left-inner .group-wrapper-title-location {
  margin-bottom: 26px;
}
@media (max-width: 43.75em) {
  .node-alumni-reunion-agenda-item.view-mode-full .group-left-inner .group-wrapper-title-location {
    margin-bottom: 20px;
  }
}
.node-alumni-reunion-agenda-item.view-mode-full .group-left-inner .field-name-title h1 {
  font-family: "NewsGothicBT-Demi", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 32px;
  line-height: 1.3;
}
@media (max-width: 43.75em) {
  .node-alumni-reunion-agenda-item.view-mode-full .group-left-inner .field-name-title h1 {
    font-size: 26px;
  }
}
.node-alumni-reunion-agenda-item.view-mode-full .group-left-inner .field-name-field-link-single {
  font-family: "NewsGothicBT-Demi", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
  line-height: 0;
}
@media (max-width: 43.75em) {
  .node-alumni-reunion-agenda-item.view-mode-full .group-left-inner .field-name-field-link-single {
    font-size: 20px;
  }
}
.node-alumni-reunion-agenda-item.view-mode-full .group-left-inner .field-name-field-link-single a {
  color: #636f00;
  line-height: 1.3;
}
.node-alumni-reunion-agenda-item.view-mode-full .group-left-inner .field-name-field-link-single a:hover {
  color: #2d6280;
}
.node-alumni-reunion-agenda-item.view-mode-full .group-left-inner .field-name-field-cost,
.node-alumni-reunion-agenda-item.view-mode-full .group-left-inner .field-name-field-registration {
  font-size: 20px;
  line-height: 1.3;
  margin-bottom: 18px;
}
@media (max-width: 43.75em) {
  .node-alumni-reunion-agenda-item.view-mode-full .group-left-inner .field-name-field-cost,
  .node-alumni-reunion-agenda-item.view-mode-full .group-left-inner .field-name-field-registration {
    font-size: 18px;
    margin-bottom: 16px;
  }
}
.node-alumni-reunion-agenda-item.view-mode-full .group-left-inner .field-name-field-cost .label-above,
.node-alumni-reunion-agenda-item.view-mode-full .group-left-inner .field-name-field-registration .label-above {
  font-weight: bold;
}
.node-alumni-reunion-agenda-item.view-mode-full .group-left-inner .field-name-field-body {
  margin-top: 26px;
}
.node-alumni-reunion-agenda-item.view-mode-full .current-reunion-block,
.node-alumni-reunion-agenda-item.view-mode-full .group-wrapper-related {
  margin-bottom: 30px;
}
