@charset "UTF-8";
.node-act.view-mode-full .field-name-field-act-organization ul, .node-act.view-mode-full .field-name-field-act-organization ol,
.node-act.view-mode-full .field-name-field-act-issue ul,
.node-act.view-mode-full .field-name-field-act-issue ol,
.node-act.view-mode-full .field-name-field-act-situation ul,
.node-act.view-mode-full .field-name-field-act-situation ol,
.node-act.view-mode-full .field-name-field-act-project-objectives ul,
.node-act.view-mode-full .field-name-field-act-project-objectives ol,
.node-act.view-mode-full .field-name-field-act-project-overview ul,
.node-act.view-mode-full .field-name-field-act-project-overview ol,
.node-act.view-mode-full .field-name-field-act-key-recommendations ul,
.node-act.view-mode-full .field-name-field-act-key-recommendations ol,
.node-act.view-mode-full .field-name-field-act-key-conclusions ul,
.node-act.view-mode-full .field-name-field-act-key-conclusions ol,
.node-act.view-mode-full .field-name-field-act-final-report-outline ul,
.node-act.view-mode-full .field-name-field-act-final-report-outline ol,
.node-act.view-mode-full .field-name-field-act-useful-item ul,
.node-act.view-mode-full .field-name-field-act-useful-item ol {
  font-size: 18px;
  line-height: 1.4;
}
@media (max-width: 43.75em) {
  .node-act.view-mode-full .field-name-field-act-organization ul, .node-act.view-mode-full .field-name-field-act-organization ol,
  .node-act.view-mode-full .field-name-field-act-issue ul,
  .node-act.view-mode-full .field-name-field-act-issue ol,
  .node-act.view-mode-full .field-name-field-act-situation ul,
  .node-act.view-mode-full .field-name-field-act-situation ol,
  .node-act.view-mode-full .field-name-field-act-project-objectives ul,
  .node-act.view-mode-full .field-name-field-act-project-objectives ol,
  .node-act.view-mode-full .field-name-field-act-project-overview ul,
  .node-act.view-mode-full .field-name-field-act-project-overview ol,
  .node-act.view-mode-full .field-name-field-act-key-recommendations ul,
  .node-act.view-mode-full .field-name-field-act-key-recommendations ol,
  .node-act.view-mode-full .field-name-field-act-key-conclusions ul,
  .node-act.view-mode-full .field-name-field-act-key-conclusions ol,
  .node-act.view-mode-full .field-name-field-act-final-report-outline ul,
  .node-act.view-mode-full .field-name-field-act-final-report-outline ol,
  .node-act.view-mode-full .field-name-field-act-useful-item ul,
  .node-act.view-mode-full .field-name-field-act-useful-item ol {
    font-size: 16px;
  }
}

.node-act.view-mode-full .group-right .field-name-field-act-project-team-role {
  background: white;
}

.node-act.view-mode-full .group-left-inner {
  border-top: 3px #231f20 solid;
}

.node-act.view-mode-full .group-right .field-name-field-act-project-team-role {
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  margin: 1px;
}

.node-type-act #page-title {
  display: none;
}

.node-act.view-mode-full.ds-2col > .group-left {
  margin-right: -300px;
  width: 100%;
}
@media (max-width: 43.75em) {
  .node-act.view-mode-full.ds-2col > .group-left {
    margin-right: 0;
    margin-bottom: 20px;
  }
}
@media (max-width: 35.5em) {
  .node-act.view-mode-full.ds-2col > .group-left {
    border-top: 0;
    padding-top: 0;
  }
}
.node-act.view-mode-full.ds-2col > .group-left .group-left-inner {
  margin-right: 300px;
}
@media (max-width: 43.75em) {
  .node-act.view-mode-full.ds-2col > .group-left .group-left-inner {
    margin-right: 0;
  }
}
.node-act.view-mode-full.ds-2col > .group-right {
  float: right;
  width: 270px;
}
@media (max-width: 43.75em) {
  .node-act.view-mode-full.ds-2col > .group-right {
    float: left;
    width: 100%;
  }
}
.node-act.view-mode-full .field-name-title {
  margin: 8px 0;
}
.node-act.view-mode-full .field-name-title h1 {
  font-family: "NewsGothicBT", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 32px;
  font-weight: bold;
  line-height: 1.3;
}
@media (max-width: 43.75em) {
  .node-act.view-mode-full .field-name-title h1 {
    font-size: 26px;
  }
}
.node-act.view-mode-full .field-name-field-link-single {
  font-family: "NewsGothicBT-Demi", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 0;
}
.node-act.view-mode-full .field-name-field-link-single a {
  color: #636f00;
  line-height: 1.3;
}
.node-act.view-mode-full .field-name-field-link-single a:hover {
  color: #2d6280;
}
.node-act.view-mode-full .field-name-field-act-org-location {
  font-family: "NewsGothicBT-Demi", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 1.3;
}
.node-act.view-mode-full .field-name-field-image-logo-single-public img {
  height: 75px;
  width: auto;
}
.node-act.view-mode-full .group-wrapper-act-info {
  font-size: 18px;
  line-height: 1.3;
  margin: 18px 0;
}
.node-act.view-mode-full .group-wrapper-act-info .label-inline {
  font-family: "NewsGothicBT-Demi", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  margin-right: 5px;
}
.node-act.view-mode-full .field-name-field-image-single-public {
  margin-bottom: 18px;
}
.node-act.view-mode-full .field-name-field-image-single-public img {
  height: 160px;
  width: auto;
}
.node-act.view-mode-full .field-name-field-act-organization,
.node-act.view-mode-full .field-name-field-act-issue,
.node-act.view-mode-full .field-name-field-act-situation,
.node-act.view-mode-full .field-name-field-act-project-objectives,
.node-act.view-mode-full .field-name-field-act-project-overview,
.node-act.view-mode-full .field-name-field-act-key-recommendations,
.node-act.view-mode-full .field-name-field-act-key-conclusions,
.node-act.view-mode-full .field-name-field-act-final-report-outline,
.node-act.view-mode-full .field-name-field-act-useful-item {
  margin-bottom: 18px;
}
.node-act.view-mode-full .field-name-field-act-organization .label-above,
.node-act.view-mode-full .field-name-field-act-issue .label-above,
.node-act.view-mode-full .field-name-field-act-situation .label-above,
.node-act.view-mode-full .field-name-field-act-project-objectives .label-above,
.node-act.view-mode-full .field-name-field-act-project-overview .label-above,
.node-act.view-mode-full .field-name-field-act-key-recommendations .label-above,
.node-act.view-mode-full .field-name-field-act-key-conclusions .label-above,
.node-act.view-mode-full .field-name-field-act-final-report-outline .label-above,
.node-act.view-mode-full .field-name-field-act-useful-item .label-above {
  font-family: "NewsGothicBT-Demi", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
  line-height: 1.3;
  margin-bottom: 8px;
}
.node-act.view-mode-full .field-name-field-act-organization h3,
.node-act.view-mode-full .field-name-field-act-issue h3,
.node-act.view-mode-full .field-name-field-act-situation h3,
.node-act.view-mode-full .field-name-field-act-project-objectives h3,
.node-act.view-mode-full .field-name-field-act-project-overview h3,
.node-act.view-mode-full .field-name-field-act-key-recommendations h3,
.node-act.view-mode-full .field-name-field-act-key-conclusions h3,
.node-act.view-mode-full .field-name-field-act-final-report-outline h3,
.node-act.view-mode-full .field-name-field-act-useful-item h3 {
  color: black;
  font-family: "NewsGothicBT-Demi", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: normal;
  line-height: 1.2;
  margin: 3px 0 4px 0;
}
.node-act.view-mode-full .field-name-field-act-organization a,
.node-act.view-mode-full .field-name-field-act-issue a,
.node-act.view-mode-full .field-name-field-act-situation a,
.node-act.view-mode-full .field-name-field-act-project-objectives a,
.node-act.view-mode-full .field-name-field-act-project-overview a,
.node-act.view-mode-full .field-name-field-act-key-recommendations a,
.node-act.view-mode-full .field-name-field-act-key-conclusions a,
.node-act.view-mode-full .field-name-field-act-final-report-outline a,
.node-act.view-mode-full .field-name-field-act-useful-item a {
  border-bottom: dashed 1px #636f00;
  color: #636f00;
  text-decoration: none;
  word-wrap: break-word;
}
.node-act.view-mode-full .field-name-field-act-organization a:hover,
.node-act.view-mode-full .field-name-field-act-issue a:hover,
.node-act.view-mode-full .field-name-field-act-situation a:hover,
.node-act.view-mode-full .field-name-field-act-project-objectives a:hover,
.node-act.view-mode-full .field-name-field-act-project-overview a:hover,
.node-act.view-mode-full .field-name-field-act-key-recommendations a:hover,
.node-act.view-mode-full .field-name-field-act-key-conclusions a:hover,
.node-act.view-mode-full .field-name-field-act-final-report-outline a:hover,
.node-act.view-mode-full .field-name-field-act-useful-item a:hover {
  border-bottom: solid 1px #2d6280;
  color: #2d6280;
}
.node-act.view-mode-full .field-name-field-act-organization a[href*="mailto:"]:after,
.node-act.view-mode-full .field-name-field-act-issue a[href*="mailto:"]:after,
.node-act.view-mode-full .field-name-field-act-situation a[href*="mailto:"]:after,
.node-act.view-mode-full .field-name-field-act-project-objectives a[href*="mailto:"]:after,
.node-act.view-mode-full .field-name-field-act-project-overview a[href*="mailto:"]:after,
.node-act.view-mode-full .field-name-field-act-key-recommendations a[href*="mailto:"]:after,
.node-act.view-mode-full .field-name-field-act-key-conclusions a[href*="mailto:"]:after,
.node-act.view-mode-full .field-name-field-act-final-report-outline a[href*="mailto:"]:after,
.node-act.view-mode-full .field-name-field-act-useful-item a[href*="mailto:"]:after {
  content: "\f112";
  display: inline;
  speak: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-transform: none;
  line-height: 1;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'icons';
}
.node-act.view-mode-full .field-name-field-act-organization a[href*="mailto:"]:after,
.node-act.view-mode-full .field-name-field-act-issue a[href*="mailto:"]:after,
.node-act.view-mode-full .field-name-field-act-situation a[href*="mailto:"]:after,
.node-act.view-mode-full .field-name-field-act-project-objectives a[href*="mailto:"]:after,
.node-act.view-mode-full .field-name-field-act-project-overview a[href*="mailto:"]:after,
.node-act.view-mode-full .field-name-field-act-key-recommendations a[href*="mailto:"]:after,
.node-act.view-mode-full .field-name-field-act-key-conclusions a[href*="mailto:"]:after,
.node-act.view-mode-full .field-name-field-act-final-report-outline a[href*="mailto:"]:after,
.node-act.view-mode-full .field-name-field-act-useful-item a[href*="mailto:"]:after {
  font-size: 10px;
  margin-left: 3px;
}
.node-act.view-mode-full .field-name-field-act-organization ul, .node-act.view-mode-full .field-name-field-act-organization ol,
.node-act.view-mode-full .field-name-field-act-issue ul,
.node-act.view-mode-full .field-name-field-act-issue ol,
.node-act.view-mode-full .field-name-field-act-situation ul,
.node-act.view-mode-full .field-name-field-act-situation ol,
.node-act.view-mode-full .field-name-field-act-project-objectives ul,
.node-act.view-mode-full .field-name-field-act-project-objectives ol,
.node-act.view-mode-full .field-name-field-act-project-overview ul,
.node-act.view-mode-full .field-name-field-act-project-overview ol,
.node-act.view-mode-full .field-name-field-act-key-recommendations ul,
.node-act.view-mode-full .field-name-field-act-key-recommendations ol,
.node-act.view-mode-full .field-name-field-act-key-conclusions ul,
.node-act.view-mode-full .field-name-field-act-key-conclusions ol,
.node-act.view-mode-full .field-name-field-act-final-report-outline ul,
.node-act.view-mode-full .field-name-field-act-final-report-outline ol,
.node-act.view-mode-full .field-name-field-act-useful-item ul,
.node-act.view-mode-full .field-name-field-act-useful-item ol {
  margin: 0 0 20px 0;
  padding: 0;
}
.node-act.view-mode-full .field-name-field-act-organization ul li, .node-act.view-mode-full .field-name-field-act-organization ol li,
.node-act.view-mode-full .field-name-field-act-issue ul li,
.node-act.view-mode-full .field-name-field-act-issue ol li,
.node-act.view-mode-full .field-name-field-act-situation ul li,
.node-act.view-mode-full .field-name-field-act-situation ol li,
.node-act.view-mode-full .field-name-field-act-project-objectives ul li,
.node-act.view-mode-full .field-name-field-act-project-objectives ol li,
.node-act.view-mode-full .field-name-field-act-project-overview ul li,
.node-act.view-mode-full .field-name-field-act-project-overview ol li,
.node-act.view-mode-full .field-name-field-act-key-recommendations ul li,
.node-act.view-mode-full .field-name-field-act-key-recommendations ol li,
.node-act.view-mode-full .field-name-field-act-key-conclusions ul li,
.node-act.view-mode-full .field-name-field-act-key-conclusions ol li,
.node-act.view-mode-full .field-name-field-act-final-report-outline ul li,
.node-act.view-mode-full .field-name-field-act-final-report-outline ol li,
.node-act.view-mode-full .field-name-field-act-useful-item ul li,
.node-act.view-mode-full .field-name-field-act-useful-item ol li {
  margin-bottom: 8px;
}
.node-act.view-mode-full .field-name-field-act-organization ol,
.node-act.view-mode-full .field-name-field-act-issue ol,
.node-act.view-mode-full .field-name-field-act-situation ol,
.node-act.view-mode-full .field-name-field-act-project-objectives ol,
.node-act.view-mode-full .field-name-field-act-project-overview ol,
.node-act.view-mode-full .field-name-field-act-key-recommendations ol,
.node-act.view-mode-full .field-name-field-act-key-conclusions ol,
.node-act.view-mode-full .field-name-field-act-final-report-outline ol,
.node-act.view-mode-full .field-name-field-act-useful-item ol {
  padding-left: 36px;
}
.node-act.view-mode-full .field-name-field-act-organization ul,
.node-act.view-mode-full .field-name-field-act-issue ul,
.node-act.view-mode-full .field-name-field-act-situation ul,
.node-act.view-mode-full .field-name-field-act-project-objectives ul,
.node-act.view-mode-full .field-name-field-act-project-overview ul,
.node-act.view-mode-full .field-name-field-act-key-recommendations ul,
.node-act.view-mode-full .field-name-field-act-key-conclusions ul,
.node-act.view-mode-full .field-name-field-act-final-report-outline ul,
.node-act.view-mode-full .field-name-field-act-useful-item ul {
  position: relative;
  left: 0;
}
.node-act.view-mode-full .field-name-field-act-organization ul li,
.node-act.view-mode-full .field-name-field-act-issue ul li,
.node-act.view-mode-full .field-name-field-act-situation ul li,
.node-act.view-mode-full .field-name-field-act-project-objectives ul li,
.node-act.view-mode-full .field-name-field-act-project-overview ul li,
.node-act.view-mode-full .field-name-field-act-key-recommendations ul li,
.node-act.view-mode-full .field-name-field-act-key-conclusions ul li,
.node-act.view-mode-full .field-name-field-act-final-report-outline ul li,
.node-act.view-mode-full .field-name-field-act-useful-item ul li {
  padding-left: 15px;
}
.node-act.view-mode-full .field-name-field-act-organization ul li:before,
.node-act.view-mode-full .field-name-field-act-issue ul li:before,
.node-act.view-mode-full .field-name-field-act-situation ul li:before,
.node-act.view-mode-full .field-name-field-act-project-objectives ul li:before,
.node-act.view-mode-full .field-name-field-act-project-overview ul li:before,
.node-act.view-mode-full .field-name-field-act-key-recommendations ul li:before,
.node-act.view-mode-full .field-name-field-act-key-conclusions ul li:before,
.node-act.view-mode-full .field-name-field-act-final-report-outline ul li:before,
.node-act.view-mode-full .field-name-field-act-useful-item ul li:before {
  content: "• ";
  color: #231f20;
  position: absolute;
  left: 0;
}
.node-act.view-mode-full .group-right .field-name-field-link-unlimited {
  margin-bottom: 30px;
}
.node-act.view-mode-full .group-right .field-name-field-link-unlimited a {
  background: -moz-linear-gradient(#860000, #8f0000);
  background: -o-linear-gradient(#860000, #8f0000);
  background: -webkit-linear-gradient(#860000, #8f0000);
  background: linear-gradient(#860000, #8f0000);
  font-size: 16px;
  line-height: 1.2;
  padding: 14px 55px 11px 26px;
  position: relative;
}
.node-act.view-mode-full .group-right .field-name-field-link-unlimited a:hover {
  background: -moz-linear-gradient(#194560, #2c6180);
  background: -o-linear-gradient(#194560, #2c6180);
  background: -webkit-linear-gradient(#194560, #2c6180);
  background: linear-gradient(#194560, #2c6180);
}
.node-act.view-mode-full .group-right .field-name-field-act-project-team-role {
  margin-bottom: 30px;
  padding: 0 26px 12px;
}
.node-act.view-mode-full .group-right .field-name-field-act-project-team-role h2 {
  color: #231f20;
  font-size: 20px;
  font-weight: bold;
  padding: 18px 0 11px;
  line-height: 1.3;
}
.node-act.view-mode-full .group-right .field-collection-item-field-act-project-team-role {
  border-top: 1px solid #e4e4e4;
  line-height: 1;
  padding-top: 6px;
  padding-bottom: 12px;
}
.node-act.view-mode-full .group-right .field-collection-item-field-act-project-team-role a {
  color: #636f00;
  font-family: "NewsGothicBT-Demi", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.3;
  padding-right: 10px;
}
.node-act.view-mode-full .group-right .field-collection-item-field-act-project-team-role a[target=_blank]:after {
  content: "\f102";
  display: inline;
  speak: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-transform: none;
  line-height: 1;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'icons';
}
.node-act.view-mode-full .group-right .field-collection-item-field-act-project-team-role a[target=_blank]:after {
  font-size: 10px;
  margin-left: 3px;
}
.node-act.view-mode-full .group-right .field-collection-item-field-act-project-team-role a[href$=".pdf"]:after {
  font-size: 14px;
}
.node-act.view-mode-full .group-right .field-collection-item-field-act-project-team-role a:hover {
  color: #2d6280;
}
.node-act.view-mode-full .group-right .field-name-field-act-full-name {
  font-family: "NewsGothicBT-Demi", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.3;
}
.node-act.view-mode-full .group-right .field-name-field-act-role {
  font-size: 16px;
  line-height: 1.3;
}
.node-act.view-mode-full .group-right .field-degree:before {
  content: ",";
  display: inline;
  margin-right: 8px;
}
