.node-type-alumni-reunion-agenda-item #page-title {
  display: none;
}

.node-alumni-reunion-agenda-item.view-mode-full.ds-2col > .group-left {
  margin-right: -300px;
  width: 100%;
}
@media (max-width: 43.75em) {
  .node-alumni-reunion-agenda-item.view-mode-full.ds-2col > .group-left {
    margin-right: 0;
    margin-bottom: 20px;
  }
}
@media (max-width: 35.5em) {
  .node-alumni-reunion-agenda-item.view-mode-full.ds-2col > .group-left {
    border-top: 0;
    padding-top: 0;
  }
}
.node-alumni-reunion-agenda-item.view-mode-full.ds-2col > .group-left .group-left-inner {
  margin-right: 300px;
  padding-top: 2px;
}
@media (max-width: 43.75em) {
  .node-alumni-reunion-agenda-item.view-mode-full.ds-2col > .group-left .group-left-inner {
    margin-right: 0;
  }
}
.node-alumni-reunion-agenda-item.view-mode-full.ds-2col > .group-right {
  float: right;
  width: 270px;
}
@media (max-width: 43.75em) {
  .node-alumni-reunion-agenda-item.view-mode-full.ds-2col > .group-right {
    float: left;
    width: 100%;
  }
}
