////////////////////////////
// Default Variables
////////////////////////////

$base-font-size: 16px
$base-line-height: $base-font-size * 1.5

// --- Modular SCALE (used by _defaults.sass) -----------
// values used to determine modular scale values
// see: src/common/mixins/_modular-scale.sass
// and http://modularscale.com/
$base-size: $base-font-size

// Dimensions
// basic values, independent of any css framework
$kit-baseline: $base-line-height
$kit-baseline-half: $kit-baseline * 0.5
$kit-baseline-neg: $kit-baseline * -1
$kit-gutter: ms(2)
$kit-gutter-half: $kit-gutter * 0.5
$kit-gutter-neg: $kit-gutter * -1

$pixel-normalize: true

$init-type: normalize

// Grid Variables

$show-grid: true
$show-baseline: false

// use the Compass baseline system
$establish-baseline: true

////////////////////////////
// Layout classes
////////////////////////////
// narrow-view: 270px
// wide-view: 570px
// full-view: 870px


////////////////////////////
// Singularity Grids
////////////////////////////

// Setup
$columns: 12
$gutter: 30
$max-width: 1170px
$regions: 235 870

$output: isolation

// HOMEPAGE
$front-main: 870 270
$front-main-inner: 570 270 270

$ipad-full: 727px
$ipad-columns: 435 272

// STANDARD 2
$standard-with-region: 570 270
$standard: 870 270

// LANDING 1
$landing-one-content: $standard
$landing-one-main-inner: 270 270

// BUSINESS INSIGHT
$business-insight: 270 270 270


@function calc-max-width($columns, $unit: px)
  $max-width: 0
  @for $i from 1 through length($columns)
    $max-width: $max-width + nth($columns, $i)
  @return $max-width + $unit

// .override-gutter
//   +grid-span(1, 2, $gutter: .25)


////////////////////////////
// Breakpoint Variables
// +breakpoint($VARIABLE)
////////////////////////////
$breakpoint-to-ems: true

$bp-mobile-480: 480px max-width
$bp-mobile: 320px max-width
$bp-mobile-max: 568px max-width
$bp-mobile-min: 569px min-width

$bp-tablet-port-min: 569px min-width
$bp-tablet-port: 569px 768px
$bp-tablet-port-max: 768px max-width
$bp-tablet-land: 769px 1024px
$bp-tablet-land-max: 1024px max-width

$bp-wide-min: 769px min-width
$bp-tablet-nexus-max: 907px max-width
$bp-video: 627px min-width

$logo-portrait: 980px max-width
$bp-program-finder: 1165px max-width

$bp-nexus-portrait: 600px 602px
$bp-nexus-landscape: 961px 963px

$bp-android-landscape: 603px 750px
