// This file establishes simple clean default font stacks

$font-sans: "NewsGothicBT", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif
$font-mono: Consolas, Menlo, 'Courier New', monospace, monospace
$font-demi: "NewsGothicBT-Demi", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif

$font-body: $font-sans
$font-headline: $font-sans
$font-logo: $font-sans
