.node-announcement.view-mode-full .media-toolkit {
  background: white;
}

.node-announcement.view-mode-full .group-left .field-name-social-buttons-top {
  border-top: 3px #231f20 solid;
}

.node-announcement.view-mode-full .media-toolkit {
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  margin: 1px;
}

.node-announcement.view-mode-full .group-left .field-name-field-body {
  overflow: hidden;
  *zoom: 1;
}
.node-announcement.view-mode-full .group-left .field-name-field-body p:first-of-type {
  font-size: 22px;
  line-height: 1.6;
}
@media (max-width: 37.5em) {
  .node-announcement.view-mode-full .group-left .field-name-field-body p:first-of-type {
    font-size: 18px;
  }
}
.node-announcement.view-mode-full .group-left .field-name-field-body blockquote,
.node-announcement.view-mode-full .group-left .field-name-field-body blockquote p {
  font-size: 18px !important;
  line-height: 1.4 !important;
  max-width: 560px;
}
.node-announcement.view-mode-full .group-left .field-name-field-body h2, .node-announcement.view-mode-full .group-left .field-name-field-body h3, .node-announcement.view-mode-full .group-left .field-name-field-body h4 {
  line-height: 1.2;
  margin-bottom: 6px;
}
.node-announcement.view-mode-full .group-left .field-name-field-body h2 {
  font-family: "NewsGothicBT", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 22px;
  font-weight: bold;
  margin: 30px 0 10px 0;
}
.node-announcement.view-mode-full .group-left .field-name-field-body h3 {
  font-family: "NewsGothicBT", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
}
.node-announcement.view-mode-full .group-left .field-name-field-body ol li, .node-announcement.view-mode-full .group-left .field-name-field-body ul li {
  margin-bottom: 12px;
}
.node-announcement.view-mode-full .group-left .field-name-field-body ol li:last-of-type, .node-announcement.view-mode-full .group-left .field-name-field-body ul li:last-of-type {
  margin-bottom: 0;
}
.node-announcement.view-mode-full .group-left .field-name-field-body ul li:before {
  color: #231f20;
}

.node-announcement.view-mode-full .group-left .field-name-social-buttons-top {
  border-bottom: 1px #231f20 solid;
  margin-bottom: 40px;
  margin-top: 20px;
  padding: 18px 0 9px;
  padding-left: 12px;
}

.node-announcement.view-mode-full .group-left .field-name-social-buttons-bottom {
  margin-top: 50px;
}
@media (max-width: 42.9375em) {
  .node-announcement.view-mode-full .group-left .field-name-social-buttons-bottom {
    display: block;
    margin-bottom: 0;
  }
}

.node-announcement.view-mode-full .group-left .short-url-wrapper {
  line-height: 3.2;
  margin-bottom: 36px;
}

.node-announcement.view-mode-full .group-left .short-url {
  background: white;
  border: 1px lightgray solid;
  color: #636f00;
  display: inline-block;
  line-height: 1.2;
  margin-left: 8px;
  padding: 8px;
}

.node-type-announcement #page-title {
  display: none;
}

.node-announcement.view-mode-full.ds-2col > .group-left {
  margin-right: -300px;
  width: 100%;
}
@media (max-width: 43.75em) {
  .node-announcement.view-mode-full.ds-2col > .group-left {
    margin-right: 0;
    margin-bottom: 20px;
  }
}
@media (max-width: 35.5em) {
  .node-announcement.view-mode-full.ds-2col > .group-left {
    border-top: 0;
    padding-top: 0;
  }
}
.node-announcement.view-mode-full.ds-2col > .group-left .group-left-inner {
  margin-right: 300px;
  padding-top: 2px;
}
@media (max-width: 43.75em) {
  .node-announcement.view-mode-full.ds-2col > .group-left .group-left-inner {
    margin-right: 0;
  }
}
.node-announcement.view-mode-full.ds-2col > .group-right {
  float: right;
  width: 270px;
}
@media (max-width: 43.75em) {
  .node-announcement.view-mode-full.ds-2col > .group-right {
    float: left;
    width: 100%;
  }
}
.node-announcement.view-mode-full .field-name-field-body {
  margin-bottom: 12px;
}
.node-announcement.view-mode-full .group-left .media-icon.Video {
  margin-right: 8px;
  position: relative;
  top: -6px;
}
.node-announcement.view-mode-full .group-left .media-icon.Video:after {
  content: "\f122";
  display: inline;
  speak: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-transform: none;
  line-height: 1;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'icons';
}
.node-announcement.view-mode-full .group-left .media-icon.Video:after {
  color: #bcbcbc;
  font-size: 24px;
}
.node-announcement.view-mode-full .group-left .media-icon.Audio {
  margin-right: 8px;
  position: relative;
  top: -6px;
}
.node-announcement.view-mode-full .group-left .media-icon.Audio:after {
  content: "\f11c";
  display: inline;
  speak: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-transform: none;
  line-height: 1;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'icons';
}
.node-announcement.view-mode-full .group-left .media-icon.Audio:after {
  color: #bcbcbc;
  font-size: 24px;
}
.node-announcement.view-mode-full .group-left .media-icon.Infographic {
  margin-right: 6px;
}
.node-announcement.view-mode-full .group-left .media-icon.Infographic:after {
  content: "Infographic:";
  font-size: 36px;
  font-weight: bold;
  line-height: 1.2;
}
.node-announcement.view-mode-full .group-left .field-name-title {
  display: inline;
}
.node-announcement.view-mode-full .group-left .field-name-title h1 {
  display: inline;
  font-family: "NewsGothicBT", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 32px;
  font-weight: bold;
  line-height: 1.3;
  margin-bottom: 12px;
}
.node-announcement.view-mode-full .group-left .field-name-field-editorial-summary {
  font-size: 24px;
  line-height: 1.4;
  margin: 12px 0;
}
.node-announcement.view-mode-full .group-left .field-name-field-date {
  color: #595959;
  font-size: 16px;
  line-height: 1.2;
  margin-bottom: 26px;
}
.node-announcement.view-mode-full .group-left .field-name-social-buttons-top .item-list ul,
.node-announcement.view-mode-full .group-left .field-name-social-buttons-bottom .item-list ul {
  margin: 0;
}
.node-announcement.view-mode-full .group-left .field-name-social-buttons-top .item-list ul li,
.node-announcement.view-mode-full .group-left .field-name-social-buttons-bottom .item-list ul li {
  margin: 0;
}
.node-announcement.view-mode-full .group-left .field-name-social-buttons-top li,
.node-announcement.view-mode-full .group-left .field-name-social-buttons-bottom li {
  display: inline-block;
  vertical-align: top;
}
@media (min-width: 62.4375em) and (max-width: 67.5em) {
  .node-announcement.view-mode-full .group-left .field-name-social-buttons-top .sharrre .share {
    height: 30px;
    width: 30px;
  }
  .node-announcement.view-mode-full .group-left .field-name-social-buttons-top .sharrre .share:before {
    display: inline-block;
    font-size: 12px;
    position: relative;
    top: 5px;
  }
  .node-announcement.view-mode-full .group-left .field-name-social-buttons-top .sharrre .count {
    font-size: 16px;
  }
}
@media (min-width: 62.4375em) and (max-width: 67.5em) and (max-width: 35.5em) {
  .node-announcement.view-mode-full .group-left .field-name-social-buttons-top .sharrre .count {
    font-size: 11px;
  }
}
@media (max-width: 46.5625em) {
  .node-announcement.view-mode-full .group-left .field-name-social-buttons-top .sharrre .share {
    height: 30px;
    width: 30px;
  }
  .node-announcement.view-mode-full .group-left .field-name-social-buttons-top .sharrre .share:before {
    display: inline-block;
    font-size: 12px;
    position: relative;
    top: 5px;
  }
  .node-announcement.view-mode-full .group-left .field-name-social-buttons-top .sharrre .count {
    font-size: 16px;
  }
}
@media (max-width: 46.5625em) and (max-width: 35.5em) {
  .node-announcement.view-mode-full .group-left .field-name-social-buttons-top .sharrre .count {
    font-size: 11px;
  }
}
.node-announcement.view-mode-full .media-toolkit {
  padding: 0 26px 12px;
  margin-bottom: 30px;
}
.node-announcement.view-mode-full .media-toolkit .field-name-field-title {
  color: #231f20;
  font-size: 18px;
  font-weight: bold;
  padding: 18px 0 11px;
  line-height: 1.3;
}
.node-announcement.view-mode-full .media-toolkit .field-name-field-link-unlimited .field-item {
  border-top: 1px solid #e4e4e4;
  line-height: 1;
  padding-top: 6px;
  padding-bottom: 5px;
}
.node-announcement.view-mode-full .media-toolkit .field-name-field-link-unlimited .field-item a {
  color: #636f00;
  font-size: 16px;
  line-height: 1.3;
  padding-right: 10px;
}
.node-announcement.view-mode-full .media-toolkit .field-name-field-link-unlimited .field-item a[target=_blank]:after {
  font-size: 10px;
}
.node-announcement.view-mode-full .media-toolkit .field-name-field-link-unlimited .field-item a[href$=".pdf"]:after {
  font-size: 14px;
}
.node-announcement.view-mode-full .media-toolkit .field-name-field-link-unlimited .field-item a:hover {
  color: #2d6280;
}
