.panels-layout-gsb-homepage .pane-gsb-announcement-school-listing-panel-pane-1 {
  margin: 0 auto;
  width: 1172px;
}
@media (min-width: 20em) and (max-width: 73.125em) {
  .panels-layout-gsb-homepage .pane-gsb-announcement-school-listing-panel-pane-1 {
    clear: both;
    margin: 0;
    padding: 20px;
    width: 100%;
  }
}
.panels-layout-gsb-homepage .pane-gsb-announcement-school-listing-panel-pane-1 h2 {
  padding-bottom: 50px;
}
@media (min-width: 20em) and (max-width: 73.125em) {
  .panels-layout-gsb-homepage .pane-gsb-announcement-school-listing-panel-pane-1 h2 {
    padding-bottom: 25px;
  }
}
.panels-layout-gsb-homepage .pane-gsb-announcement-school-listing-panel-pane-1 .view-gsb-announcement-school-listing .views-row-first {
  margin-right: 48px;
}
@media (min-width: 20em) and (max-width: 73.125em) {
  .panels-layout-gsb-homepage .pane-gsb-announcement-school-listing-panel-pane-1 .view-gsb-announcement-school-listing .views-row-first {
    margin-right: 0;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  .panels-layout-gsb-homepage .pane-gsb-announcement-school-listing-panel-pane-1 .view-gsb-announcement-school-listing .views-row-last {
    margin-top: 35px;
  }
}
.panels-layout-gsb-homepage .pane-gsb-announcement-school-listing-panel-pane-1 .view-gsb-announcement-school-listing .views-row {
  background-color: white;
  border: 1px solid #c4c4c4;
  float: left;
  width: 562px;
}
@media (min-width: 20em) and (max-width: 73.125em) {
  .panels-layout-gsb-homepage .pane-gsb-announcement-school-listing-panel-pane-1 .view-gsb-announcement-school-listing .views-row {
    width: 100%;
  }
}
.panels-layout-gsb-homepage .pane-gsb-announcement-school-listing-panel-pane-1 .view-gsb-announcement-school-listing .views-row:hover {
  box-shadow: 0 0 4px 2px #c4c4c4;
  transform: scale(1.01);
}
.panels-layout-gsb-homepage .pane-gsb-announcement-school-listing-panel-pane-1 .view-gsb-announcement-school-listing .views-row .field-type-datetime {
  color: #7d7466;
  padding-bottom: 15px;
}
@media (min-width: 20em) and (max-width: 73.125em) {
  .panels-layout-gsb-homepage .pane-gsb-announcement-school-listing-panel-pane-1 .view-gsb-announcement-school-listing .views-row .field-type-datetime {
    font-size: 12px;
    padding-bottom: 0;
  }
}
.panels-layout-gsb-homepage .pane-gsb-announcement-school-listing-panel-pane-1 .view-gsb-announcement-school-listing .views-row .field-type-image img {
  width: 100%;
  height: auto;
}
.panels-layout-gsb-homepage .pane-gsb-announcement-school-listing-panel-pane-1 .view-gsb-announcement-school-listing .views-row .field-type-image img:hover {
  background-color: #2d6280;
  border: none;
  opacity: 0.6;
}
.panels-layout-gsb-homepage .pane-gsb-announcement-school-listing-panel-pane-1 .group-news-wrapper {
  padding: 32px 40px 45px 40px;
}
.panels-layout-gsb-homepage .pane-gsb-announcement-school-listing-panel-pane-1 .group-news-wrapper h3 {
  font-size: 32px;
}
@media (min-width: 20em) and (max-width: 73.125em) {
  .panels-layout-gsb-homepage .pane-gsb-announcement-school-listing-panel-pane-1 .group-news-wrapper h3 {
    font-size: 20px;
    padding: 20px 0 25px 0;
  }
}
.panels-layout-gsb-homepage .pane-gsb-announcement-school-listing-panel-pane-1 .group-news-wrapper .field-name-media-icon {
  display: inline;
  float: left;
  font-size: 26px;
  top: 2px;
  position: relative;
}
@media (min-width: 20em) and (max-width: 73.125em) {
  .panels-layout-gsb-homepage .pane-gsb-announcement-school-listing-panel-pane-1 .group-news-wrapper .field-name-media-icon {
    top: 17px;
  }
}
