.panels-layout-gsb-homepage .homepage_insights-cta, .panels-layout-gsb-homepage .homepage_across-cta {
  background: white;
}

.panels-layout-gsb-homepage .homepage_insights-cta, .panels-layout-gsb-homepage .homepage_across-cta {
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  margin: 1px;
}

.panels-layout-gsb-homepage .pane-gsb-announcement-school-listing-panel-pane-1,
.panels-layout-gsb-homepage .pane-gsb-insights-stanford-business-panel-pane-1 {
  margin: 0 auto;
  width: 1172px;
}
@media (min-width: 20em) and (max-width: 73.125em) {
  .panels-layout-gsb-homepage .pane-gsb-announcement-school-listing-panel-pane-1,
  .panels-layout-gsb-homepage .pane-gsb-insights-stanford-business-panel-pane-1 {
    clear: both;
    margin: 0;
    padding: 20px;
    width: 100%;
  }
}
.panels-layout-gsb-homepage .pane-gsb-announcement-school-listing-panel-pane-1 h2,
.panels-layout-gsb-homepage .pane-gsb-announcement-school-listing-panel-pane-1 div.pane-title,
.panels-layout-gsb-homepage .pane-gsb-insights-stanford-business-panel-pane-1 h2,
.panels-layout-gsb-homepage .pane-gsb-insights-stanford-business-panel-pane-1 div.pane-title {
  font-weight: normal;
  font-family: "NewsGothicBT", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-bottom: 50px;
  font-size: 36px;
}
@media (min-width: 20em) and (max-width: 73.125em) {
  .panels-layout-gsb-homepage .pane-gsb-announcement-school-listing-panel-pane-1 h2,
  .panels-layout-gsb-homepage .pane-gsb-announcement-school-listing-panel-pane-1 div.pane-title,
  .panels-layout-gsb-homepage .pane-gsb-insights-stanford-business-panel-pane-1 h2,
  .panels-layout-gsb-homepage .pane-gsb-insights-stanford-business-panel-pane-1 div.pane-title {
    font-size: 26px;
    padding-bottom: 25px;
  }
}
@media (min-width: 48em) and (max-width: 63.9375em) {
  .panels-layout-gsb-homepage .pane-gsb-announcement-school-listing-panel-pane-1 h2,
  .panels-layout-gsb-homepage .pane-gsb-announcement-school-listing-panel-pane-1 div.pane-title,
  .panels-layout-gsb-homepage .pane-gsb-insights-stanford-business-panel-pane-1 h2,
  .panels-layout-gsb-homepage .pane-gsb-insights-stanford-business-panel-pane-1 div.pane-title {
    padding-top: 30px;
    font-size: 30px;
    font-family: "NewsGothicBT-Light", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
}
@media (min-width: 60em) and (max-width: 68.75em) and (orientation: landscape) {
  .panels-layout-gsb-homepage .pane-gsb-announcement-school-listing-panel-pane-1 h2,
  .panels-layout-gsb-homepage .pane-gsb-announcement-school-listing-panel-pane-1 div.pane-title,
  .panels-layout-gsb-homepage .pane-gsb-insights-stanford-business-panel-pane-1 h2,
  .panels-layout-gsb-homepage .pane-gsb-insights-stanford-business-panel-pane-1 div.pane-title {
    padding-top: 30px;
    font-size: 30px;
    font-family: "NewsGothicBT-Light", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
}
.panels-layout-gsb-homepage .pane-gsb-announcement-school-listing-panel-pane-1 .view-gsb-announcement-school-listing .view-content:after,
.panels-layout-gsb-homepage .pane-gsb-insights-stanford-business-panel-pane-1 .view-gsb-announcement-school-listing .view-content:after {
  clear: both;
  content: "";
  display: block;
  margin-bottom: 70px;
}
@media (min-width: 20em) and (max-width: 73.125em) {
  .panels-layout-gsb-homepage .pane-gsb-announcement-school-listing-panel-pane-1 .view-gsb-announcement-school-listing .view-content:after,
  .panels-layout-gsb-homepage .pane-gsb-insights-stanford-business-panel-pane-1 .view-gsb-announcement-school-listing .view-content:after {
    margin-bottom: 35px;
  }
}
.panels-layout-gsb-homepage .pane-gsb-announcement-school-listing-panel-pane-1 .view-gsb-announcement-school-listing .views-row-first,
.panels-layout-gsb-homepage .pane-gsb-insights-stanford-business-panel-pane-1 .view-gsb-announcement-school-listing .views-row-first {
  margin-right: 48px;
}
@media (min-width: 20em) and (max-width: 73.125em) {
  .panels-layout-gsb-homepage .pane-gsb-announcement-school-listing-panel-pane-1 .view-gsb-announcement-school-listing .views-row-first,
  .panels-layout-gsb-homepage .pane-gsb-insights-stanford-business-panel-pane-1 .view-gsb-announcement-school-listing .views-row-first {
    margin-right: 0;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  .panels-layout-gsb-homepage .pane-gsb-announcement-school-listing-panel-pane-1 .view-gsb-announcement-school-listing .views-row-last,
  .panels-layout-gsb-homepage .pane-gsb-insights-stanford-business-panel-pane-1 .view-gsb-announcement-school-listing .views-row-last {
    margin-top: 35px;
  }
}
.panels-layout-gsb-homepage .pane-gsb-announcement-school-listing-panel-pane-1 .view-gsb-announcement-school-listing .views-row,
.panels-layout-gsb-homepage .pane-gsb-insights-stanford-business-panel-pane-1 .view-gsb-announcement-school-listing .views-row {
  background-color: white;
  float: left;
  width: 562px;
}
@media (min-width: 20em) and (max-width: 73.125em) {
  .panels-layout-gsb-homepage .pane-gsb-announcement-school-listing-panel-pane-1 .view-gsb-announcement-school-listing .views-row,
  .panels-layout-gsb-homepage .pane-gsb-insights-stanford-business-panel-pane-1 .view-gsb-announcement-school-listing .views-row {
    width: 100%;
  }
}
.panels-layout-gsb-homepage .pane-gsb-announcement-school-listing-panel-pane-1 .view-gsb-announcement-school-listing .views-row .field-type-datetime,
.panels-layout-gsb-homepage .pane-gsb-insights-stanford-business-panel-pane-1 .view-gsb-announcement-school-listing .views-row .field-type-datetime {
  color: #7d7466;
  padding-bottom: 15px;
}
@media (min-width: 20em) and (max-width: 73.125em) {
  .panels-layout-gsb-homepage .pane-gsb-announcement-school-listing-panel-pane-1 .view-gsb-announcement-school-listing .views-row .field-type-datetime,
  .panels-layout-gsb-homepage .pane-gsb-insights-stanford-business-panel-pane-1 .view-gsb-announcement-school-listing .views-row .field-type-datetime {
    font-size: 12px;
    padding-bottom: 0;
  }
}
.panels-layout-gsb-homepage .pane-gsb-announcement-school-listing-panel-pane-1 .view-gsb-announcement-school-listing .views-row .field-type-image,
.panels-layout-gsb-homepage .pane-gsb-insights-stanford-business-panel-pane-1 .view-gsb-announcement-school-listing .views-row .field-type-image {
  background: rgba(45, 98, 128, 0.5);
  overflow: hidden;
  postion: relative;
  width: auto;
}
.panels-layout-gsb-homepage .pane-gsb-announcement-school-listing-panel-pane-1 .view-gsb-announcement-school-listing .views-row .field-type-image img,
.panels-layout-gsb-homepage .pane-gsb-insights-stanford-business-panel-pane-1 .view-gsb-announcement-school-listing .views-row .field-type-image img {
  display: block;
  height: auto;
  transition: all 0.3s;
  width: 100%;
}
.panels-layout-gsb-homepage .pane-gsb-announcement-school-listing-panel-pane-1 .view-gsb-announcement-school-listing .views-row .field-type-image img:hover,
.panels-layout-gsb-homepage .pane-gsb-insights-stanford-business-panel-pane-1 .view-gsb-announcement-school-listing .views-row .field-type-image img:hover {
  border: none;
  opacity: 0.6;
  transform: scale(1.05);
}
.panels-layout-gsb-homepage .pane-gsb-announcement-school-listing-panel-pane-1 .view-gsb-insights-stanford-business .view-content:after,
.panels-layout-gsb-homepage .pane-gsb-insights-stanford-business-panel-pane-1 .view-gsb-insights-stanford-business .view-content:after {
  clear: both;
  content: "";
  display: block;
  margin-bottom: 70px;
}
@media (min-width: 20em) and (max-width: 73.125em) {
  .panels-layout-gsb-homepage .pane-gsb-announcement-school-listing-panel-pane-1 .view-gsb-insights-stanford-business .view-content:after,
  .panels-layout-gsb-homepage .pane-gsb-insights-stanford-business-panel-pane-1 .view-gsb-insights-stanford-business .view-content:after {
    margin-bottom: 35px;
  }
}
.panels-layout-gsb-homepage .pane-gsb-announcement-school-listing-panel-pane-1 .view-gsb-insights-stanford-business .views-row-1,
.panels-layout-gsb-homepage .pane-gsb-insights-stanford-business-panel-pane-1 .view-gsb-insights-stanford-business .views-row-1 {
  margin-right: 46px;
}
@media (min-width: 20em) and (max-width: 73.125em) {
  .panels-layout-gsb-homepage .pane-gsb-announcement-school-listing-panel-pane-1 .view-gsb-insights-stanford-business .views-row-1,
  .panels-layout-gsb-homepage .pane-gsb-insights-stanford-business-panel-pane-1 .view-gsb-insights-stanford-business .views-row-1 {
    margin-right: 0;
  }
}
.panels-layout-gsb-homepage .pane-gsb-announcement-school-listing-panel-pane-1 .view-gsb-insights-stanford-business .views-row-2,
.panels-layout-gsb-homepage .pane-gsb-insights-stanford-business-panel-pane-1 .view-gsb-insights-stanford-business .views-row-2 {
  margin-right: 46px;
}
@media (min-width: 20em) and (max-width: 73.125em) {
  .panels-layout-gsb-homepage .pane-gsb-announcement-school-listing-panel-pane-1 .view-gsb-insights-stanford-business .views-row-2,
  .panels-layout-gsb-homepage .pane-gsb-insights-stanford-business-panel-pane-1 .view-gsb-insights-stanford-business .views-row-2 {
    margin-right: 0;
    margin-top: 35px;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  .panels-layout-gsb-homepage .pane-gsb-announcement-school-listing-panel-pane-1 .view-gsb-insights-stanford-business .views-row-3,
  .panels-layout-gsb-homepage .pane-gsb-insights-stanford-business-panel-pane-1 .view-gsb-insights-stanford-business .views-row-3 {
    margin-top: 35px;
    margin-right: 0;
  }
}
.panels-layout-gsb-homepage .pane-gsb-announcement-school-listing-panel-pane-1 .view-gsb-insights-stanford-business .views-row,
.panels-layout-gsb-homepage .pane-gsb-insights-stanford-business-panel-pane-1 .view-gsb-insights-stanford-business .views-row {
  background-color: white;
  float: left;
  width: 360px;
}
@media (min-width: 20em) and (max-width: 73.125em) {
  .panels-layout-gsb-homepage .pane-gsb-announcement-school-listing-panel-pane-1 .view-gsb-insights-stanford-business .views-row,
  .panels-layout-gsb-homepage .pane-gsb-insights-stanford-business-panel-pane-1 .view-gsb-insights-stanford-business .views-row {
    width: 100%;
  }
}
.panels-layout-gsb-homepage .pane-gsb-announcement-school-listing-panel-pane-1 .view-gsb-insights-stanford-business .views-row .field-type-datetime,
.panels-layout-gsb-homepage .pane-gsb-insights-stanford-business-panel-pane-1 .view-gsb-insights-stanford-business .views-row .field-type-datetime {
  color: #7d7466;
  padding-bottom: 15px;
}
@media (min-width: 20em) and (max-width: 73.125em) {
  .panels-layout-gsb-homepage .pane-gsb-announcement-school-listing-panel-pane-1 .view-gsb-insights-stanford-business .views-row .field-type-datetime,
  .panels-layout-gsb-homepage .pane-gsb-insights-stanford-business-panel-pane-1 .view-gsb-insights-stanford-business .views-row .field-type-datetime {
    font-size: 12px;
    padding-bottom: 0;
  }
}
.panels-layout-gsb-homepage .pane-gsb-announcement-school-listing-panel-pane-1 .view-gsb-insights-stanford-business .views-row .field-type-image,
.panels-layout-gsb-homepage .pane-gsb-insights-stanford-business-panel-pane-1 .view-gsb-insights-stanford-business .views-row .field-type-image {
  background: rgba(45, 98, 128, 0.5);
  overflow: hidden;
  postion: relative;
  width: auto;
}
.panels-layout-gsb-homepage .pane-gsb-announcement-school-listing-panel-pane-1 .view-gsb-insights-stanford-business .views-row .field-type-image img,
.panels-layout-gsb-homepage .pane-gsb-insights-stanford-business-panel-pane-1 .view-gsb-insights-stanford-business .views-row .field-type-image img {
  display: block;
  height: auto;
  transition: all 0.3s;
  width: 100%;
}
.panels-layout-gsb-homepage .pane-gsb-announcement-school-listing-panel-pane-1 .view-gsb-insights-stanford-business .views-row .field-type-image img:hover,
.panels-layout-gsb-homepage .pane-gsb-insights-stanford-business-panel-pane-1 .view-gsb-insights-stanford-business .views-row .field-type-image img:hover {
  border: none;
  opacity: 0.6;
  transform: scale(1.05);
}
.panels-layout-gsb-homepage .pane-gsb-announcement-school-listing-panel-pane-1 .group-news-wrapper,
.panels-layout-gsb-homepage .pane-gsb-insights-stanford-business-panel-pane-1 .group-news-wrapper {
  border-bottom: 1px solid #c4c4c4;
  border-left: 1px solid #c4c4c4;
  border-right: 1px solid #c4c4c4;
  padding: 32px 30px 45px 30px;
}
.panels-layout-gsb-homepage .pane-gsb-announcement-school-listing-panel-pane-1 .group-news-wrapper:hover,
.panels-layout-gsb-homepage .pane-gsb-insights-stanford-business-panel-pane-1 .group-news-wrapper:hover {
  box-shadow: 0 0 4px 2px #c4c4c4;
}
.panels-layout-gsb-homepage .pane-gsb-announcement-school-listing-panel-pane-1 .group-news-wrapper h3,
.panels-layout-gsb-homepage .pane-gsb-announcement-school-listing-panel-pane-1 .group-news-wrapper span.story-title,
.panels-layout-gsb-homepage .pane-gsb-insights-stanford-business-panel-pane-1 .group-news-wrapper h3,
.panels-layout-gsb-homepage .pane-gsb-insights-stanford-business-panel-pane-1 .group-news-wrapper span.story-title {
  font-size: 26px;
  font-weight: normal;
  font-family: "NewsGothicBT", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.panels-layout-gsb-homepage .pane-gsb-announcement-school-listing-panel-pane-1 .group-news-wrapper h3 a:hover,
.panels-layout-gsb-homepage .pane-gsb-announcement-school-listing-panel-pane-1 .group-news-wrapper span.story-title a:hover,
.panels-layout-gsb-homepage .pane-gsb-insights-stanford-business-panel-pane-1 .group-news-wrapper h3 a:hover,
.panels-layout-gsb-homepage .pane-gsb-insights-stanford-business-panel-pane-1 .group-news-wrapper span.story-title a:hover {
  border-bottom: 2px solid #2d6280;
  text-decoration: none;
}
@media (min-width: 20em) and (max-width: 73.125em) {
  .panels-layout-gsb-homepage .pane-gsb-announcement-school-listing-panel-pane-1 .group-news-wrapper h3,
  .panels-layout-gsb-homepage .pane-gsb-announcement-school-listing-panel-pane-1 .group-news-wrapper span.story-title,
  .panels-layout-gsb-homepage .pane-gsb-insights-stanford-business-panel-pane-1 .group-news-wrapper h3,
  .panels-layout-gsb-homepage .pane-gsb-insights-stanford-business-panel-pane-1 .group-news-wrapper span.story-title {
    font-size: 20px;
    padding: 20px 0 25px 0;
  }
}
@media (min-width: 48em) and (max-width: 63.9375em) {
  .panels-layout-gsb-homepage .pane-gsb-announcement-school-listing-panel-pane-1 .group-news-wrapper h3,
  .panels-layout-gsb-homepage .pane-gsb-announcement-school-listing-panel-pane-1 .group-news-wrapper span.story-title,
  .panels-layout-gsb-homepage .pane-gsb-insights-stanford-business-panel-pane-1 .group-news-wrapper h3,
  .panels-layout-gsb-homepage .pane-gsb-insights-stanford-business-panel-pane-1 .group-news-wrapper span.story-title {
    font-size: 30px;
  }
}
@media (min-width: 60em) and (max-width: 68.75em) and (orientation: landscape) {
  .panels-layout-gsb-homepage .pane-gsb-announcement-school-listing-panel-pane-1 .group-news-wrapper h3,
  .panels-layout-gsb-homepage .pane-gsb-announcement-school-listing-panel-pane-1 .group-news-wrapper span.story-title,
  .panels-layout-gsb-homepage .pane-gsb-insights-stanford-business-panel-pane-1 .group-news-wrapper h3,
  .panels-layout-gsb-homepage .pane-gsb-insights-stanford-business-panel-pane-1 .group-news-wrapper span.story-title {
    font-size: 30px;
  }
}
@media (max-width: 37.4375em) {
  .panels-layout-gsb-homepage .pane-gsb-announcement-school-listing-panel-pane-1 .group-news-wrapper h3,
  .panels-layout-gsb-homepage .pane-gsb-announcement-school-listing-panel-pane-1 .group-news-wrapper span.story-title,
  .panels-layout-gsb-homepage .pane-gsb-insights-stanford-business-panel-pane-1 .group-news-wrapper h3,
  .panels-layout-gsb-homepage .pane-gsb-insights-stanford-business-panel-pane-1 .group-news-wrapper span.story-title {
    padding-bottom: 0px;
    line-height: 1.3em;
  }
}
.panels-layout-gsb-homepage .pane-gsb-announcement-school-listing-panel-pane-1 .group-news-wrapper .field-name-media-icon,
.panels-layout-gsb-homepage .pane-gsb-insights-stanford-business-panel-pane-1 .group-news-wrapper .field-name-media-icon {
  display: inline;
  float: left;
  font-size: 26px;
  top: 2px;
  position: relative;
}
@media (min-width: 20em) and (max-width: 73.125em) {
  .panels-layout-gsb-homepage .pane-gsb-announcement-school-listing-panel-pane-1 .group-news-wrapper .field-name-media-icon,
  .panels-layout-gsb-homepage .pane-gsb-insights-stanford-business-panel-pane-1 .group-news-wrapper .field-name-media-icon {
    top: 17px;
  }
}
.panels-layout-gsb-homepage .homepage_insights-cta, .panels-layout-gsb-homepage .homepage_across-cta {
  background-color: #860000;
  color: white;
  font-size: 18px;
  font-family: "NewsGothicBT-Demi", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  min-height: 55px;
  line-height: 1.2;
  margin: 0 auto;
  padding: 20px 20px 20px 25px;
  position: relative;
  width: 285px;
}
.panels-layout-gsb-homepage .homepage_insights-cta:first-of-type, .panels-layout-gsb-homepage .homepage_across-cta:first-of-type {
  border-top: 0;
}
.panels-layout-gsb-homepage .homepage_insights-cta:last-of-type, .panels-layout-gsb-homepage .homepage_across-cta:last-of-type {
  border-bottom: 0;
}
.panels-layout-gsb-homepage .homepage_insights-cta a, .panels-layout-gsb-homepage .homepage_across-cta a {
  color: white;
}
.panels-layout-gsb-homepage .homepage_insights-cta a:after, .panels-layout-gsb-homepage .homepage_across-cta a:after {
  content: "\f101";
  display: inline;
  speak: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-transform: none;
  line-height: 1;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'icons';
  font-size: 18px;
  font-weight: normal;
  line-height: 0;
  margin-top: 0;
  position: absolute;
  right: 20px;
  top: 50%;
}
.panels-layout-gsb-homepage .homepage_insights-cta a:hover, .panels-layout-gsb-homepage .homepage_across-cta a:hover {
  color: white;
}
.panels-layout-gsb-homepage .homepage_insights-cta a:hover:after, .panels-layout-gsb-homepage .homepage_across-cta a:hover:after {
  color: white;
}
.panels-layout-gsb-homepage .homepage_across-cta {
  padding-right: 30px;
  padding-left: 20px;
}
.panels-layout-gsb-homepage .homepage_across-cta a:after {
  right: 15px;
}
