.pane-news-by-criteria-panel-pane-1 h2.pane-title, .pane-news-by-criteria-panel-pane-1 .pane-content {
  border-top: 10px #231f20 solid;
}

.pane-news-by-criteria-panel-pane-1 {
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  margin: 0 1px 1px 1px;
}
@media (max-width: 35.5em) {
  .pane-news-by-criteria-panel-pane-1 {
    margin-top: 1px;
  }
}

.pane-news-by-criteria-panel-pane-1 {
  background: white;
  padding: 0 26px 14px;
}
.pane-news-by-criteria-panel-pane-1 h2.pane-title {
  background: white;
  display: block;
  color: #231f20;
  font-family: "NewsGothicBT-Demi", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.3;
  margin-bottom: -10px;
  padding-top: 12px;
  position: relative;
}
.pane-news-by-criteria-panel-pane-1 h2.pane-title a {
  color: #231f20;
}
.pane-news-by-criteria-panel-pane-1 h2.pane-title a:after {
  content: "\f101";
  display: inline;
  speak: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-transform: none;
  line-height: 1;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'icons';
}
.pane-news-by-criteria-panel-pane-1 h2.pane-title a:after {
  color: #bac405;
  font-size: 14px;
  margin-left: 3px;
}
.pane-news-by-criteria-panel-pane-1 h2.pane-title a:hover {
  color: #2d6280;
}
.pane-news-by-criteria-panel-pane-1 h2.pane-title a:hover:after {
  color: #aac4bf;
}
.pane-news-by-criteria-panel-pane-1 .pane-content {
  padding: 0 26px;
}
.pane-news-by-criteria-panel-pane-1 .view-news-by-criteria {
  margin: 0 -52px;
}
