.pane-news-by-criteria-panel-pane-1,
.pane-case-filters-panel-pane-1,
.pane-publication-filters-panel-pane-1,
.pane-working-paper-filters-working-paper-filters-pane,
.pane-book-filters-book-filters-pane,
.pane-club-filters-club-by-id-or-tag,
.pane-faculty-filters-faculty-by-criteria,
.pane-gsb-event-upcoming-events,
.pane-admission-events-admission-event-panel-pane {
  background: white;
}

.pane-news-by-criteria-panel-pane-1 h2.pane-title,
.pane-case-filters-panel-pane-1 h2.pane-title,
.pane-publication-filters-panel-pane-1 h2.pane-title,
.pane-working-paper-filters-working-paper-filters-pane h2.pane-title,
.pane-book-filters-book-filters-pane h2.pane-title,
.pane-club-filters-club-by-id-or-tag h2.pane-title,
.pane-faculty-filters-faculty-by-criteria h2.pane-title,
.pane-gsb-event-upcoming-events h2.pane-title,
.pane-admission-events-admission-event-panel-pane h2.pane-title, .pane-news-by-criteria-panel-pane-1 .pane-content,
.pane-case-filters-panel-pane-1 .pane-content,
.pane-publication-filters-panel-pane-1 .pane-content,
.pane-working-paper-filters-working-paper-filters-pane .pane-content,
.pane-book-filters-book-filters-pane .pane-content,
.pane-club-filters-club-by-id-or-tag .pane-content,
.pane-faculty-filters-faculty-by-criteria .pane-content,
.pane-gsb-event-upcoming-events .pane-content,
.pane-admission-events-admission-event-panel-pane .pane-content {
  border-top: 10px #231f20 solid;
}

.pane-news-by-criteria-panel-pane-1,
.pane-case-filters-panel-pane-1,
.pane-publication-filters-panel-pane-1,
.pane-working-paper-filters-working-paper-filters-pane,
.pane-book-filters-book-filters-pane,
.pane-club-filters-club-by-id-or-tag,
.pane-faculty-filters-faculty-by-criteria,
.pane-gsb-event-upcoming-events,
.pane-admission-events-admission-event-panel-pane {
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  margin: 1px;
}

.pane-news-by-criteria-panel-pane-1,
.pane-case-filters-panel-pane-1,
.pane-publication-filters-panel-pane-1,
.pane-working-paper-filters-working-paper-filters-pane,
.pane-book-filters-book-filters-pane,
.pane-club-filters-club-by-id-or-tag,
.pane-faculty-filters-faculty-by-criteria,
.pane-gsb-event-upcoming-events,
.pane-admission-events-admission-event-panel-pane {
  padding: 0 26px 14px;
}
.pane-news-by-criteria-panel-pane-1 h2.pane-title,
.pane-case-filters-panel-pane-1 h2.pane-title,
.pane-publication-filters-panel-pane-1 h2.pane-title,
.pane-working-paper-filters-working-paper-filters-pane h2.pane-title,
.pane-book-filters-book-filters-pane h2.pane-title,
.pane-club-filters-club-by-id-or-tag h2.pane-title,
.pane-faculty-filters-faculty-by-criteria h2.pane-title,
.pane-gsb-event-upcoming-events h2.pane-title,
.pane-admission-events-admission-event-panel-pane h2.pane-title {
  background: white;
  display: block;
  color: #231f20;
  font-family: "NewsGothicBT-Demi", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.3;
  margin-bottom: -10px;
  padding-top: 12px;
  position: relative;
}
.pane-news-by-criteria-panel-pane-1 h2.pane-title a,
.pane-case-filters-panel-pane-1 h2.pane-title a,
.pane-publication-filters-panel-pane-1 h2.pane-title a,
.pane-working-paper-filters-working-paper-filters-pane h2.pane-title a,
.pane-book-filters-book-filters-pane h2.pane-title a,
.pane-club-filters-club-by-id-or-tag h2.pane-title a,
.pane-faculty-filters-faculty-by-criteria h2.pane-title a,
.pane-gsb-event-upcoming-events h2.pane-title a,
.pane-admission-events-admission-event-panel-pane h2.pane-title a {
  color: #231f20;
}
.pane-news-by-criteria-panel-pane-1 h2.pane-title a:after,
.pane-case-filters-panel-pane-1 h2.pane-title a:after,
.pane-publication-filters-panel-pane-1 h2.pane-title a:after,
.pane-working-paper-filters-working-paper-filters-pane h2.pane-title a:after,
.pane-book-filters-book-filters-pane h2.pane-title a:after,
.pane-club-filters-club-by-id-or-tag h2.pane-title a:after,
.pane-faculty-filters-faculty-by-criteria h2.pane-title a:after,
.pane-gsb-event-upcoming-events h2.pane-title a:after,
.pane-admission-events-admission-event-panel-pane h2.pane-title a:after {
  content: "\f101";
  display: inline;
  speak: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-transform: none;
  line-height: 1;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'icons';
}
.pane-news-by-criteria-panel-pane-1 h2.pane-title a:after,
.pane-case-filters-panel-pane-1 h2.pane-title a:after,
.pane-publication-filters-panel-pane-1 h2.pane-title a:after,
.pane-working-paper-filters-working-paper-filters-pane h2.pane-title a:after,
.pane-book-filters-book-filters-pane h2.pane-title a:after,
.pane-club-filters-club-by-id-or-tag h2.pane-title a:after,
.pane-faculty-filters-faculty-by-criteria h2.pane-title a:after,
.pane-gsb-event-upcoming-events h2.pane-title a:after,
.pane-admission-events-admission-event-panel-pane h2.pane-title a:after {
  color: #bac405;
  font-size: 14px;
  margin-left: 3px;
}
.pane-news-by-criteria-panel-pane-1 h2.pane-title a:hover,
.pane-case-filters-panel-pane-1 h2.pane-title a:hover,
.pane-publication-filters-panel-pane-1 h2.pane-title a:hover,
.pane-working-paper-filters-working-paper-filters-pane h2.pane-title a:hover,
.pane-book-filters-book-filters-pane h2.pane-title a:hover,
.pane-club-filters-club-by-id-or-tag h2.pane-title a:hover,
.pane-faculty-filters-faculty-by-criteria h2.pane-title a:hover,
.pane-gsb-event-upcoming-events h2.pane-title a:hover,
.pane-admission-events-admission-event-panel-pane h2.pane-title a:hover {
  color: #2d6280;
}
.pane-news-by-criteria-panel-pane-1 h2.pane-title a:hover:after,
.pane-case-filters-panel-pane-1 h2.pane-title a:hover:after,
.pane-publication-filters-panel-pane-1 h2.pane-title a:hover:after,
.pane-working-paper-filters-working-paper-filters-pane h2.pane-title a:hover:after,
.pane-book-filters-book-filters-pane h2.pane-title a:hover:after,
.pane-club-filters-club-by-id-or-tag h2.pane-title a:hover:after,
.pane-faculty-filters-faculty-by-criteria h2.pane-title a:hover:after,
.pane-gsb-event-upcoming-events h2.pane-title a:hover:after,
.pane-admission-events-admission-event-panel-pane h2.pane-title a:hover:after {
  color: #aac4bf;
}
.pane-news-by-criteria-panel-pane-1 .pane-content,
.pane-case-filters-panel-pane-1 .pane-content,
.pane-publication-filters-panel-pane-1 .pane-content,
.pane-working-paper-filters-working-paper-filters-pane .pane-content,
.pane-book-filters-book-filters-pane .pane-content,
.pane-club-filters-club-by-id-or-tag .pane-content,
.pane-faculty-filters-faculty-by-criteria .pane-content,
.pane-gsb-event-upcoming-events .pane-content,
.pane-admission-events-admission-event-panel-pane .pane-content {
  padding: 0 26px;
}
.pane-news-by-criteria-panel-pane-1 .view,
.pane-case-filters-panel-pane-1 .view,
.pane-publication-filters-panel-pane-1 .view,
.pane-working-paper-filters-working-paper-filters-pane .view,
.pane-book-filters-book-filters-pane .view,
.pane-club-filters-club-by-id-or-tag .view,
.pane-faculty-filters-faculty-by-criteria .view,
.pane-gsb-event-upcoming-events .view,
.pane-admission-events-admission-event-panel-pane .view {
  margin: 0 -52px;
}
.pane-news-by-criteria-panel-pane-1 .views-row,
.pane-case-filters-panel-pane-1 .views-row,
.pane-publication-filters-panel-pane-1 .views-row,
.pane-working-paper-filters-working-paper-filters-pane .views-row,
.pane-book-filters-book-filters-pane .views-row,
.pane-club-filters-club-by-id-or-tag .views-row,
.pane-faculty-filters-faculty-by-criteria .views-row,
.pane-gsb-event-upcoming-events .views-row,
.pane-admission-events-admission-event-panel-pane .views-row {
  border-top: 1px lightgray solid;
  padding: 22px 26px;
}
.pane-news-by-criteria-panel-pane-1 .views-row:first-of-type,
.pane-case-filters-panel-pane-1 .views-row:first-of-type,
.pane-publication-filters-panel-pane-1 .views-row:first-of-type,
.pane-working-paper-filters-working-paper-filters-pane .views-row:first-of-type,
.pane-book-filters-book-filters-pane .views-row:first-of-type,
.pane-club-filters-club-by-id-or-tag .views-row:first-of-type,
.pane-faculty-filters-faculty-by-criteria .views-row:first-of-type,
.pane-gsb-event-upcoming-events .views-row:first-of-type,
.pane-admission-events-admission-event-panel-pane .views-row:first-of-type {
  border-top: 0;
}

.pane-case-filters-panel-pane-1,
.pane-publication-filters-panel-pane-1,
.pane-working-paper-filters-working-paper-filters-pane {
  background: #f4f4f4;
}
.pane-case-filters-panel-pane-1 h2.pane-title,
.pane-publication-filters-panel-pane-1 h2.pane-title,
.pane-working-paper-filters-working-paper-filters-pane h2.pane-title {
  background: #f4f4f4;
}
.pane-case-filters-panel-pane-1 .pane-content,
.pane-publication-filters-panel-pane-1 .pane-content,
.pane-working-paper-filters-working-paper-filters-pane .pane-content {
  padding: 0;
}
.pane-case-filters-panel-pane-1 .view,
.pane-publication-filters-panel-pane-1 .view,
.pane-working-paper-filters-working-paper-filters-pane .view {
  margin: 0;
}
.pane-case-filters-panel-pane-1 .views-row,
.pane-publication-filters-panel-pane-1 .views-row,
.pane-working-paper-filters-working-paper-filters-pane .views-row {
  padding: 18px 0;
}
.pane-case-filters-panel-pane-1 .field-name-title h2,
.pane-publication-filters-panel-pane-1 .field-name-title h2,
.pane-working-paper-filters-working-paper-filters-pane .field-name-title h2 {
  font-size: 16px;
}
.pane-case-filters-panel-pane-1 .gsb_field_formatter_field_collection_separator,
.pane-case-filters-panel-pane-1 .field-name-field-author,
.pane-publication-filters-panel-pane-1 .gsb_field_formatter_field_collection_separator,
.pane-publication-filters-panel-pane-1 .field-name-field-author,
.pane-working-paper-filters-working-paper-filters-pane .gsb_field_formatter_field_collection_separator,
.pane-working-paper-filters-working-paper-filters-pane .field-name-field-author {
  margin-bottom: 2px;
}

.pane-club-filters-club-by-id-or-tag {
  background: #f4f4f4;
}
.pane-club-filters-club-by-id-or-tag h2.pane-title {
  background: #f4f4f4;
}
.pane-club-filters-club-by-id-or-tag .pane-content {
  padding: 0;
}
.pane-club-filters-club-by-id-or-tag .view {
  margin: 0;
}
.pane-club-filters-club-by-id-or-tag .views-row {
  padding: 18px 0;
}
.pane-club-filters-club-by-id-or-tag .node-club.view-mode-teaser h5 {
  font-size: 16px;
}

.pane-faculty-filters-faculty-by-criteria .pane-content {
  padding-top: 12px;
}
.pane-faculty-filters-faculty-by-criteria .views-row {
  overflow: hidden;
  *zoom: 1;
  border-top: 0;
  font-family: "NewsGothicBT-Demi", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.3;
  padding: 10px 26px;
}
.pane-faculty-filters-faculty-by-criteria .views-field-title {
  line-height: 0;
}
.pane-faculty-filters-faculty-by-criteria .views-field-title a {
  color: #636f00;
  font-family: "NewsGothicBT", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.2;
}
.pane-faculty-filters-faculty-by-criteria .views-field-title a:hover {
  color: #2d6280;
}
.pane-faculty-filters-faculty-by-criteria .separator-comma {
  margin-left: -5px;
}

.pane-news-by-criteria-panel-pane-1 .list-cta,
.pane-faculty-filters-faculty-by-criteria .list-cta,
.pane-gsb-event-upcoming-events .list-cta,
.pane-book-filters-book-filters-pane .list-cta,
.pane-admission-events-admission-event-panel-pane .list-cta {
  margin: 17px -52px -14px;
}

.pane-working-paper-filters-working-paper-filters-pane .list-cta {
  margin-bottom: -14px;
}
