.field-name-field-pr-contact-unlimited {
  background-color: #f9f9f9;
  background: -moz-linear-gradient(bottom, #f9f9f9 20%, #ffffff 100%);
  background: -o-linear-gradient(bottom, #f9f9f9 20%, #ffffff 100%);
  background: -webkit-linear-gradient(bottom, #f9f9f9 20%, #ffffff 100%);
  background: linear-gradient(to top, #f9f9f9 20%, #ffffff 100%);
}

.field-name-field-pr-contact-unlimited {
  border: 2px white solid;
}

.field-name-field-pr-contact-unlimited {
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  margin: 0 1px 1px 1px;
}
@media (max-width: 35.5em) {
  .field-name-field-pr-contact-unlimited {
    margin-top: 1px;
  }
}

.ie8 .field-name-field-pr-contact-unlimited {
  border: 1px #cccccc solid !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.field-name-field-pr-contact-unlimited {
  margin-bottom: 30px;
  padding: 26px;
}
.field-name-field-pr-contact-unlimited h2.pane-title {
  border-bottom: 2px solid #e4e4e4;
  color: #231f20;
  font-family: "NewsGothicBT", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 12px;
  padding-bottom: 12px;
}
.field-name-field-pr-contact-unlimited .field-name-title h3 {
  font-family: "NewsGothicBT-Demi", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.1;
  margin-bottom: 3px;
}
.field-name-field-pr-contact-unlimited .field-name-field-pr-contact-title {
  font-family: "NewsGothicBT", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.1;
  margin-bottom: 8px;
}
.field-name-field-pr-contact-unlimited .taxonomy-term-description,
.field-name-field-pr-contact-unlimited .field-name-field-pr-contact-phone,
.field-name-field-pr-contact-unlimited .field-name-field-pr-contact-email,
.field-name-field-pr-contact-unlimited .field-name-field-pr-contact-beats {
  font-size: 14px;
  line-height: 0;
  margin: 0;
  margin-bottom: 3px;
}
.field-name-field-pr-contact-unlimited .taxonomy-term-description p,
.field-name-field-pr-contact-unlimited .field-name-field-pr-contact-phone p,
.field-name-field-pr-contact-unlimited .field-name-field-pr-contact-email p,
.field-name-field-pr-contact-unlimited .field-name-field-pr-contact-beats p {
  font-size: 14px;
  line-height: 1.1;
  margin-bottom: 0;
}
.field-name-field-pr-contact-unlimited .taxonomy-term-description a,
.field-name-field-pr-contact-unlimited .field-name-field-pr-contact-phone a,
.field-name-field-pr-contact-unlimited .field-name-field-pr-contact-email a,
.field-name-field-pr-contact-unlimited .field-name-field-pr-contact-beats a {
  color: #231f20;
  display: inline-block;
  font-size: 14px;
  line-height: 1.1;
  margin-bottom: 3px;
}
.field-name-field-pr-contact-unlimited .taxonomy-term-description {
  line-height: 1.2;
  margin-bottom: 5px;
}
.field-name-field-pr-contact-unlimited .field-name-field-pr-contact-email a {
  color: #636f00;
}
.field-name-field-pr-contact-unlimited .field-name-field-pr-contact-email a:after {
  content: "\f112";
  display: inline-block;
  speak: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-transform: none;
  line-height: 1;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'icons';
}
.field-name-field-pr-contact-unlimited .field-name-field-pr-contact-email a:hover {
  color: #2d6280;
}
.field-name-field-pr-contact-unlimited .field-name-field-pr-contact-email a:after {
  font-size: 12px;
  margin-left: 3px;
}
.field-name-field-pr-contact-unlimited .field-name-field-pr-contact-beats {
  font-family: "NewsGothicBT-Demi", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.2;
}
