.view-gsb-announcement-school-listing.view-display-id-entity_view_1 .views-row {
  border-top: 1px lightgray solid;
}

.view-gsb-announcement-school-listing.view-display-id-annssh_stories_list,
.view-gsb-faculty-insights-listing,
.view-gsb-in-the-media-listing,
.view-gsb-ranking-listing,
.view-display-id-alumni_stories_listing,
.view-display-id-giving_stories_listing,
.view-display-id-alumni_book_listing, .view-gsb-announcement-school-listing.view-display-id-entity_view_1 {
  border-top: 3px #231f20 solid;
}

.view-gsb-announcement-school-listing.view-display-id-entity_view_1 .view-mode-news_listing,
.view-mode-news_listing {
  overflow: hidden;
  *zoom: 1;
}
.view-gsb-announcement-school-listing.view-display-id-entity_view_1 .view-mode-news_listing .left.second-column,
.view-mode-news_listing .left.second-column {
  float: left;
  max-width: 65%;
}
@media (max-width: 75.75em) {
  .view-gsb-announcement-school-listing.view-display-id-entity_view_1 .view-mode-news_listing .left.second-column,
  .view-mode-news_listing .left.second-column {
    max-width: 49%;
  }
}
@media (max-width: 62.4375em) {
  .view-gsb-announcement-school-listing.view-display-id-entity_view_1 .view-mode-news_listing .left.second-column,
  .view-mode-news_listing .left.second-column {
    max-width: 65%;
  }
}
@media (max-width: 51.5625em) {
  .view-gsb-announcement-school-listing.view-display-id-entity_view_1 .view-mode-news_listing .left.second-column,
  .view-mode-news_listing .left.second-column {
    max-width: 50%;
  }
}
@media (max-width: 48em) {
  .view-gsb-announcement-school-listing.view-display-id-entity_view_1 .view-mode-news_listing .left.second-column,
  .view-mode-news_listing .left.second-column {
    max-width: 100%;
  }
}
.view-gsb-announcement-school-listing.view-display-id-entity_view_1 .view-mode-news_listing .right,
.view-mode-news_listing .right {
  float: right;
}
@media (max-width: 48em) {
  .view-gsb-announcement-school-listing.view-display-id-entity_view_1 .view-mode-news_listing .right,
  .view-mode-news_listing .right {
    float: none;
  }
}
.narrow-view .view-gsb-announcement-school-listing.view-display-id-entity_view_1 .view-mode-news_listing .left.second-column, .narrow-view
.view-mode-news_listing .left.second-column {
  float: none;
  max-width: 100%;
}
.narrow-view .view-gsb-announcement-school-listing.view-display-id-entity_view_1 .view-mode-news_listing .right, .narrow-view
.view-mode-news_listing .right {
  display: none;
}
.view-gsb-announcement-school-listing.view-display-id-entity_view_1 .view-mode-news_listing .field-name-field-date,
.view-mode-news_listing .field-name-field-date {
  font-size: 16px;
  line-height: 1.2;
  margin-bottom: 12px;
}
.view-gsb-announcement-school-listing.view-display-id-entity_view_1 .view-mode-news_listing .field-name-field-month,
.view-gsb-announcement-school-listing.view-display-id-entity_view_1 .view-mode-news_listing .field-name-field-pub-date-day,
.view-gsb-announcement-school-listing.view-display-id-entity_view_1 .view-mode-news_listing .field-name-field-year-of-publication,
.view-mode-news_listing .field-name-field-month,
.view-mode-news_listing .field-name-field-pub-date-day,
.view-mode-news_listing .field-name-field-year-of-publication {
  font-size: 16px;
  line-height: 1.2;
}
.view-gsb-announcement-school-listing.view-display-id-entity_view_1 .view-mode-news_listing .field-name-field-month,
.view-gsb-announcement-school-listing.view-display-id-entity_view_1 .view-mode-news_listing .field-name-field-pub-date-day,
.view-mode-news_listing .field-name-field-month,
.view-mode-news_listing .field-name-field-pub-date-day {
  margin-right: 5px;
}
.view-gsb-announcement-school-listing.view-display-id-entity_view_1 .view-mode-news_listing .field-name-field-pub-date-day:after,
.view-mode-news_listing .field-name-field-pub-date-day:after {
  content: ",";
}
.view-gsb-announcement-school-listing.view-display-id-entity_view_1 .view-mode-news_listing .media-icon.Video,
.view-mode-news_listing .media-icon.Video {
  margin-right: 8px;
  position: relative;
  top: -1px;
}
.view-gsb-announcement-school-listing.view-display-id-entity_view_1 .view-mode-news_listing .media-icon.Video:after,
.view-mode-news_listing .media-icon.Video:after {
  content: "\f122";
  display: inline;
  speak: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-transform: none;
  line-height: 1;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'icons';
}
.view-gsb-announcement-school-listing.view-display-id-entity_view_1 .view-mode-news_listing .media-icon.Video:after,
.view-mode-news_listing .media-icon.Video:after {
  color: #bcbcbc;
  font-size: 20px;
}
@media (max-width: 53.125em) {
  .view-gsb-announcement-school-listing.view-display-id-entity_view_1 .view-mode-news_listing .media-icon.Video:after,
  .view-mode-news_listing .media-icon.Video:after {
    font-size: 18px;
  }
}
.view-gsb-announcement-school-listing.view-display-id-entity_view_1 .view-mode-news_listing .media-icon.Audio,
.view-mode-news_listing .media-icon.Audio {
  margin-right: 8px;
  position: relative;
  top: 0;
}
.view-gsb-announcement-school-listing.view-display-id-entity_view_1 .view-mode-news_listing .media-icon.Audio:after,
.view-mode-news_listing .media-icon.Audio:after {
  content: "\f11c";
  display: inline;
  speak: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-transform: none;
  line-height: 1;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'icons';
}
.view-gsb-announcement-school-listing.view-display-id-entity_view_1 .view-mode-news_listing .media-icon.Audio:after,
.view-mode-news_listing .media-icon.Audio:after {
  color: #bcbcbc;
  font-size: 20px;
}
@media (max-width: 53.125em) {
  .view-gsb-announcement-school-listing.view-display-id-entity_view_1 .view-mode-news_listing .media-icon.Audio:after,
  .view-mode-news_listing .media-icon.Audio:after {
    font-size: 18px;
  }
}
.view-gsb-announcement-school-listing.view-display-id-entity_view_1 .view-mode-news_listing .media-icon.Infographic,
.view-mode-news_listing .media-icon.Infographic {
  margin-right: 6px;
}
.view-gsb-announcement-school-listing.view-display-id-entity_view_1 .view-mode-news_listing .media-icon.Infographic:after,
.view-mode-news_listing .media-icon.Infographic:after {
  content: "Infographic:";
  font-size: 20px;
  font-weight: bold;
  line-height: 1.2;
}
@media (max-width: 53.125em) {
  .view-gsb-announcement-school-listing.view-display-id-entity_view_1 .view-mode-news_listing .media-icon.Infographic:after,
  .view-mode-news_listing .media-icon.Infographic:after {
    font-size: 18px;
  }
}
.view-gsb-announcement-school-listing.view-display-id-entity_view_1 .view-mode-news_listing .group-wrapper-title,
.view-mode-news_listing .group-wrapper-title {
  margin-bottom: 6px;
}
.view-gsb-announcement-school-listing.view-display-id-entity_view_1 .view-mode-news_listing .field-name-title,
.view-mode-news_listing .field-name-title {
  display: inline;
}
.view-gsb-announcement-school-listing.view-display-id-entity_view_1 .view-mode-news_listing .field-name-title h2,
.view-gsb-announcement-school-listing.view-display-id-entity_view_1 .view-mode-news_listing .field-name-title h3,
.view-mode-news_listing .field-name-title h2,
.view-mode-news_listing .field-name-title h3 {
  display: inline;
  font-family: "NewsGothicBT", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 0;
}
.view-gsb-announcement-school-listing.view-display-id-entity_view_1 .view-mode-news_listing .field-name-title a,
.view-mode-news_listing .field-name-title a {
  font-family: "NewsGothicBT", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.2;
}
@media (max-width: 53.125em) {
  .view-gsb-announcement-school-listing.view-display-id-entity_view_1 .view-mode-news_listing .field-name-title a,
  .view-mode-news_listing .field-name-title a {
    font-size: 18px;
  }
}
.view-gsb-announcement-school-listing.view-display-id-entity_view_1 .view-mode-news_listing .field-name-title a[target="_blank"]:after,
.view-mode-news_listing .field-name-title a[target="_blank"]:after {
  font-size: 12px;
}
.view-gsb-announcement-school-listing.view-display-id-entity_view_1 .view-mode-news_listing .field-name-title a[href$=".pdf"][target="_blank"]:after,
.view-mode-news_listing .field-name-title a[href$=".pdf"][target="_blank"]:after {
  font-size: 14px;
  margin-left: 3px;
}
.view-gsb-announcement-school-listing.view-display-id-entity_view_1 .view-mode-news_listing .field-name-field-publisher,
.view-gsb-announcement-school-listing.view-display-id-entity_view_1 .view-mode-news_listing .field-name-field-editorial-summary,
.view-gsb-announcement-school-listing.view-display-id-entity_view_1 .view-mode-news_listing .field-name-field-body p,
.view-mode-news_listing .field-name-field-publisher,
.view-mode-news_listing .field-name-field-editorial-summary,
.view-mode-news_listing .field-name-field-body p {
  font-size: 16px;
  line-height: 1.2;
  margin-top: 6px;
}
.view-gsb-announcement-school-listing.view-display-id-entity_view_1 .view-mode-news_listing .gsb_field_formatter_field_collection_separator,
.view-mode-news_listing .gsb_field_formatter_field_collection_separator {
  line-height: 0;
  margin-top: 6px;
}
.view-gsb-announcement-school-listing.view-display-id-entity_view_1 .view-mode-news_listing .field-name-field-author,
.view-gsb-announcement-school-listing.view-display-id-entity_view_1 .view-mode-news_listing .field-collection-item-field-authors,
.view-mode-news_listing .field-name-field-author,
.view-mode-news_listing .field-collection-item-field-authors {
  font-family: "NewsGothicBT-Demi", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
}
@media (max-width: 35.5em) {
  .view-gsb-announcement-school-listing.view-display-id-entity_view_1 .view-mode-news_listing .field-name-field-author,
  .view-gsb-announcement-school-listing.view-display-id-entity_view_1 .view-mode-news_listing .field-collection-item-field-authors,
  .view-mode-news_listing .field-name-field-author,
  .view-mode-news_listing .field-collection-item-field-authors {
    font-size: 16px;
  }
}
.view-gsb-announcement-school-listing.view-display-id-entity_view_1 .view-mode-news_listing .field-type-image,
.view-mode-news_listing .field-type-image {
  float: left;
  max-width: 150px;
}
.view-gsb-announcement-school-listing.view-display-id-entity_view_1 .view-mode-news_listing .field-type-image img,
.view-mode-news_listing .field-type-image img {
  width: 100%;
}
@media (max-width: 48em) {
  .view-gsb-announcement-school-listing.view-display-id-entity_view_1 .view-mode-news_listing .field-type-image,
  .view-mode-news_listing .field-type-image {
    display: none;
  }
}

.node-book.view-mode-news_listing .gsb_field_formatter_field_collection_separator {
  margin: 6px 0 3px 0;
}
.node-book.view-mode-news_listing .field-type-image {
  max-width: 100px;
}

.view-gsb-announcement-school-listing.view-display-id-annssh_stories_list .views-row,
.view-gsb-faculty-insights-listing .views-row,
.view-gsb-in-the-media-listing .views-row,
.view-gsb-ranking-listing .views-row,
.view-display-id-alumni_stories_listing .views-row,
.view-display-id-giving_stories_listing .views-row,
.view-display-id-alumni_book_listing .views-row {
  border-top: 1px #c4c4c4 solid;
  padding: 26px 0;
}
.view-gsb-announcement-school-listing.view-display-id-annssh_stories_list .views-row:first-of-type,
.view-gsb-faculty-insights-listing .views-row:first-of-type,
.view-gsb-in-the-media-listing .views-row:first-of-type,
.view-gsb-ranking-listing .views-row:first-of-type,
.view-display-id-alumni_stories_listing .views-row:first-of-type,
.view-display-id-giving_stories_listing .views-row:first-of-type,
.view-display-id-alumni_book_listing .views-row:first-of-type {
  border-top: 0;
}

.view-gsb-announcement-school-listing.view-display-id-entity_view_1 h2.title {
  color: #231f20;
  font-family: "NewsGothicBT", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 26px;
  font-weight: bold;
  padding-top: 14px;
}
@media (max-width: 53.125em) {
  .view-gsb-announcement-school-listing.view-display-id-entity_view_1 h2.title {
    font-size: 22px;
  }
}
.view-gsb-announcement-school-listing.view-display-id-entity_view_1 .views-row {
  padding: 22px 26px;
}
.view-gsb-announcement-school-listing.view-display-id-entity_view_1 .views-row:first-of-type {
  border-top: 0;
}

.view-news-by-criteria .views-row {
  border-top: 1px lightgray solid;
  padding: 22px 26px;
}
.view-news-by-criteria .views-row:first-of-type {
  border-top: 0;
}

.field-name-field-story-title-ref .field-item {
  border-top: 1px lightgray solid;
  margin: 0 -26px;
  padding: 22px 26px;
}
.field-name-field-story-title-ref .field-item:first-of-type {
  border-top: 0;
}

.node-offsite-school-story .field-name-field-publisher {
  margin-bottom: 12px;
  display: inline-block;
}
.node-offsite-school-story .field-name-field-publisher em {
  font-style: normal;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.2;
  text-transform: uppercase;
}
.node-offsite-school-story .field-name-field-publisher::after {
  content: unset !important;
}
.node-offsite-school-story .field-name-field-date {
  font-size: 16px !important;
  margin-bottom: 12px !important;
}
.node-offsite-school-story em.field-name-field-publisher {
  font-style: normal;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.2;
  text-transform: uppercase;
  display: block;
}

.field-name-field-existing-node-fpp-ref .node-offsite-school-story.view-mode-teaser .field-name-field-image-key-image {
  margin-bottom: -38px !important;
}
.field-name-field-existing-node-fpp-ref .node-offsite-school-story.view-mode-teaser .field-name-field-publisher {
  margin-top: 52px !important;
}
.field-name-field-existing-node-fpp-ref .node-offsite-school-story.view-mode-teaser .field-name-field-publisher::after {
  content: unset !important;
}
