.view-gsb-announcement-school-listing.view-display-id-entity_view_1 .views-row {
  border-top: 1px lightgray solid;
}

.view-gsb-announcement-school-listing.view-display-id-annssh_stories_list,
.view-gsb-faculty-insights-listing,
.view-gsb-in-the-media-listing,
.view-gsb-ranking-listing,
.view-display-id-alumni_stories_listing, .view-gsb-announcement-school-listing.view-display-id-entity_view_1 {
  border-top: 3px #231f20 solid;
}

.view-gsb-announcement-school-listing.view-display-id-entity_view_1 .view-mode-news_listing,
.view-mode-news_listing {
  overflow: hidden;
  *zoom: 1;
}
.view-gsb-announcement-school-listing.view-display-id-entity_view_1 .view-mode-news_listing .left.second-column,
.view-mode-news_listing .left.second-column {
  float: left;
  max-width: 65%;
}
@media (max-width: 75.75em) {
  .view-gsb-announcement-school-listing.view-display-id-entity_view_1 .view-mode-news_listing .left.second-column,
  .view-mode-news_listing .left.second-column {
    max-width: 50%;
  }
}
@media (max-width: 62.4375em) {
  .view-gsb-announcement-school-listing.view-display-id-entity_view_1 .view-mode-news_listing .left.second-column,
  .view-mode-news_listing .left.second-column {
    max-width: 65%;
  }
}
@media (max-width: 51.5625em) {
  .view-gsb-announcement-school-listing.view-display-id-entity_view_1 .view-mode-news_listing .left.second-column,
  .view-mode-news_listing .left.second-column {
    max-width: 50%;
  }
}
@media (max-width: 48em) {
  .view-gsb-announcement-school-listing.view-display-id-entity_view_1 .view-mode-news_listing .left.second-column,
  .view-mode-news_listing .left.second-column {
    max-width: 100%;
  }
}
.view-gsb-announcement-school-listing.view-display-id-entity_view_1 .view-mode-news_listing .right,
.view-mode-news_listing .right {
  float: right;
}
@media (max-width: 48em) {
  .view-gsb-announcement-school-listing.view-display-id-entity_view_1 .view-mode-news_listing .right,
  .view-mode-news_listing .right {
    float: none;
  }
}
.narrow-view .view-gsb-announcement-school-listing.view-display-id-entity_view_1 .view-mode-news_listing .left.second-column, .narrow-view
.view-mode-news_listing .left.second-column {
  float: none;
  max-width: 100%;
}
.narrow-view .view-gsb-announcement-school-listing.view-display-id-entity_view_1 .view-mode-news_listing .right, .narrow-view
.view-mode-news_listing .right {
  display: none;
}
.view-gsb-announcement-school-listing.view-display-id-entity_view_1 .view-mode-news_listing .field-name-field-date,
.view-mode-news_listing .field-name-field-date {
  color: #231f20;
  font-size: 14px;
  line-height: 1.2;
  margin-bottom: 12px;
}
.view-gsb-announcement-school-listing.view-display-id-entity_view_1 .view-mode-news_listing .media-icon.Video,
.view-mode-news_listing .media-icon.Video {
  margin-right: 8px;
  position: relative;
  top: -1px;
}
.view-gsb-announcement-school-listing.view-display-id-entity_view_1 .view-mode-news_listing .media-icon.Video:after,
.view-mode-news_listing .media-icon.Video:after {
  content: "\f122";
  display: inline;
  speak: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-transform: none;
  line-height: 1;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'icons';
}
.view-gsb-announcement-school-listing.view-display-id-entity_view_1 .view-mode-news_listing .media-icon.Video:after,
.view-mode-news_listing .media-icon.Video:after {
  color: #bcbcbc;
  font-size: 20px;
}
@media (max-width: 53.125em) {
  .view-gsb-announcement-school-listing.view-display-id-entity_view_1 .view-mode-news_listing .media-icon.Video:after,
  .view-mode-news_listing .media-icon.Video:after {
    font-size: 18px;
  }
}
.view-gsb-announcement-school-listing.view-display-id-entity_view_1 .view-mode-news_listing .media-icon.Audio,
.view-mode-news_listing .media-icon.Audio {
  margin-right: 8px;
  position: relative;
  top: 0;
}
.view-gsb-announcement-school-listing.view-display-id-entity_view_1 .view-mode-news_listing .media-icon.Audio:after,
.view-mode-news_listing .media-icon.Audio:after {
  content: "\f11c";
  display: inline;
  speak: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-transform: none;
  line-height: 1;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'icons';
}
.view-gsb-announcement-school-listing.view-display-id-entity_view_1 .view-mode-news_listing .media-icon.Audio:after,
.view-mode-news_listing .media-icon.Audio:after {
  color: #bcbcbc;
  font-size: 20px;
}
@media (max-width: 53.125em) {
  .view-gsb-announcement-school-listing.view-display-id-entity_view_1 .view-mode-news_listing .media-icon.Audio:after,
  .view-mode-news_listing .media-icon.Audio:after {
    font-size: 18px;
  }
}
.view-gsb-announcement-school-listing.view-display-id-entity_view_1 .view-mode-news_listing .media-icon.Infographic,
.view-mode-news_listing .media-icon.Infographic {
  margin-right: 6px;
}
.view-gsb-announcement-school-listing.view-display-id-entity_view_1 .view-mode-news_listing .media-icon.Infographic:after,
.view-mode-news_listing .media-icon.Infographic:after {
  content: "Infographic:";
  font-size: 20px;
  font-weight: bold;
  line-height: 1.2;
}
@media (max-width: 53.125em) {
  .view-gsb-announcement-school-listing.view-display-id-entity_view_1 .view-mode-news_listing .media-icon.Infographic:after,
  .view-mode-news_listing .media-icon.Infographic:after {
    font-size: 18px;
  }
}
.view-gsb-announcement-school-listing.view-display-id-entity_view_1 .view-mode-news_listing .group-wrapper-title,
.view-mode-news_listing .group-wrapper-title {
  margin-bottom: 8px;
}
.view-gsb-announcement-school-listing.view-display-id-entity_view_1 .view-mode-news_listing .field-name-title,
.view-mode-news_listing .field-name-title {
  display: inline;
}
.view-gsb-announcement-school-listing.view-display-id-entity_view_1 .view-mode-news_listing .field-name-title h3,
.view-mode-news_listing .field-name-title h3 {
  display: inline;
  font-size: 20px;
  line-height: 0;
}
@media (max-width: 53.125em) {
  .view-gsb-announcement-school-listing.view-display-id-entity_view_1 .view-mode-news_listing .field-name-title h3,
  .view-mode-news_listing .field-name-title h3 {
    font-size: 18px;
  }
}
.view-gsb-announcement-school-listing.view-display-id-entity_view_1 .view-mode-news_listing .field-name-title a,
.view-mode-news_listing .field-name-title a {
  line-height: 1.2;
}
.view-gsb-announcement-school-listing.view-display-id-entity_view_1 .view-mode-news_listing .field-name-title a[target="_blank"]:after,
.view-mode-news_listing .field-name-title a[target="_blank"]:after {
  content: "\f102";
  display: inline;
  speak: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-transform: none;
  line-height: 1;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'icons';
}
.view-gsb-announcement-school-listing.view-display-id-entity_view_1 .view-mode-news_listing .field-name-title a[target="_blank"]:after,
.view-mode-news_listing .field-name-title a[target="_blank"]:after {
  display: inline;
  font-size: 12px;
  margin-left: 3px;
}
.view-gsb-announcement-school-listing.view-display-id-entity_view_1 .view-mode-news_listing .field-name-title a[href$=".pdf"][target="_blank"]:after,
.view-mode-news_listing .field-name-title a[href$=".pdf"][target="_blank"]:after {
  display: inline;
  font-size: 14px;
  margin-left: 3px;
}
.view-gsb-announcement-school-listing.view-display-id-entity_view_1 .view-mode-news_listing .field-name-field-publisher,
.view-gsb-announcement-school-listing.view-display-id-entity_view_1 .view-mode-news_listing .field-name-field-editorial-summary,
.view-mode-news_listing .field-name-field-publisher,
.view-mode-news_listing .field-name-field-editorial-summary {
  font-size: 16px;
  line-height: 1.4;
  margin-top: 12px;
}
.view-gsb-announcement-school-listing.view-display-id-entity_view_1 .view-mode-news_listing .field-name-field-publisher:after,
.view-mode-news_listing .field-name-field-publisher:after {
  content: "|";
  padding-right: 5px;
  padding-left: 5px;
}
.view-gsb-announcement-school-listing.view-display-id-entity_view_1 .view-mode-news_listing .field-name-field-image-key-image,
.view-mode-news_listing .field-name-field-image-key-image {
  float: left;
  max-width: 170px;
}
.view-gsb-announcement-school-listing.view-display-id-entity_view_1 .view-mode-news_listing .field-name-field-image-key-image img,
.view-mode-news_listing .field-name-field-image-key-image img {
  width: 100%;
}
@media (max-width: 48em) {
  .view-gsb-announcement-school-listing.view-display-id-entity_view_1 .view-mode-news_listing .field-name-field-image-key-image,
  .view-mode-news_listing .field-name-field-image-key-image {
    display: none;
  }
}

.view-gsb-announcement-school-listing.view-display-id-annssh_stories_list .views-row,
.view-gsb-faculty-insights-listing .views-row,
.view-gsb-in-the-media-listing .views-row,
.view-gsb-ranking-listing .views-row,
.view-display-id-alumni_stories_listing .views-row {
  border-top: 1px solid #231f20;
  padding: 12px 0;
}
.view-gsb-announcement-school-listing.view-display-id-annssh_stories_list .views-row:first-of-type,
.view-gsb-faculty-insights-listing .views-row:first-of-type,
.view-gsb-in-the-media-listing .views-row:first-of-type,
.view-gsb-ranking-listing .views-row:first-of-type,
.view-display-id-alumni_stories_listing .views-row:first-of-type {
  border-top: 0;
  padding-top: 0;
}

.view-gsb-announcement-school-listing.view-display-id-entity_view_1 h2.title {
  color: #231f20;
  font-family: "NewsGothicBT", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 26px;
  font-weight: bold;
  padding-top: 14px;
}
@media (max-width: 53.125em) {
  .view-gsb-announcement-school-listing.view-display-id-entity_view_1 h2.title {
    font-size: 22px;
  }
}
.view-gsb-announcement-school-listing.view-display-id-entity_view_1 .views-row {
  padding: 12px 0 12px 26px;
}
.view-gsb-announcement-school-listing.view-display-id-entity_view_1 .views-row:first-of-type {
  border-top: 0;
}

.view-news-by-criteria .views-row {
  border-top: 1px solid lightgray;
  padding: 14px 26px;
}
.view-news-by-criteria .views-row:first-of-type {
  border-top: 0;
}

.field-name-field-story-title-ref .field-item {
  border-top: 1px solid lightgray;
  margin: 0 -26px;
  padding: 14px 26px;
}
.field-name-field-story-title-ref .field-item:first-of-type {
  border-top: 0;
}
