// Variables come from partials/00-variables/_base.sass

////////////////
// PAGE LAYOUT
////////////////


// REGIONS
#main
  +pie-clearfix
// First sidebar region
#sidebar
  .sidebar
    +grid-span(1, 1, $columns: $regions)
    margin-right: 65px
    width: 235px

// Content region
#content
  overflow: hidden

// Bottom spacing for items in sidebar
.inner-sidebar-wrapper
  .panels-ipe-portlet-content
    margin-bottom: 28px

////////////////////////////
// FULL WIDTH PANELS LAYOUTS
////////////////////////////

// Standard landing (.gsb-standard-page-two)
.panel-display
  .full-header,
  .inner-content-wrapper
    max-width: $max-width
    +clearfix

  // Main section
  .main-wrapper
    float: left
    margin-right: -300px
    width: 100%

  .inner-main-wrapper
    margin-right: 300px

  // Right sidebar
  .inner-sidebar-wrapper
    float: right
    width: 270px

// Landing Standard 1 Page layout
.panel-display.gsb-landing-standard-page-one
  .main-header,
  .main-middle
    margin-bottom: 30px
    .panels-ipe-editing &
      margin-bottom: 0
  .main-middle
    +pie-clearfix
    .column-first,
    .column-second
      width: 49%
    .column-first
      float: left
    .column-second
      float: right

// Front page panel layout
.panel-display.gsb-front-page
  .front-panel-header-row,
  .front-panel-feature-row,
  .front-panel-footer-row
    +clearfix
  .front-slider-pane
    +grid-span(1, 1, $columns: $front-main)
    margin-bottom: 60px
  .front-sidebar-pane
    +grid-span(1, 2, $columns: $front-main)

  .front-panel-feature-one,
  .front-panel-footer-one
    +grid-span(1, 1, $columns: $front-main-inner)
  .front-panel-feature-two,
  .front-panel-footer-two
    +grid-span(1, 2, $columns: $front-main-inner)
  .front-panel-feature-three,
  .front-panel-footer-three
    +grid-span(1, 3, $columns: $front-main-inner)

// Business Insights landing layout
.panel-display.gsb-business-insights
  .gsb-bizin-3col-top,
  .gsb-bizin-3col-bottom
    +pie-clearfix
    .column.first
      +grid-span(1, 1, $columns: $business-insight)
      width: 35.3%
      clear: both
    .column.second
      +grid-span(1, 2, $columns: $business-insight)
      width: 35.3%
      clear: right
    .column.third
      +grid-span(1, 3, $columns: $business-insight)
      width: 35.3%
      float: none

// EDITING LAYOUTS
.panels-ipe-editing
  .main-wrapper
    display: block
    float: left
    .no-sidebars &
      width: 870px
  .inner-main-wrapper
    .no-sidebars &
      margin-right: 0
  .panel-display .inner-sidebar-wrapper
    margin-left: 0
