/**
 * @file
 * Minipanel two column layout
**/

.supermenu-row > div {
 float: left;
}

.supermenu-two-column-wide {
 width: 210px;
 margin-right: 26px;
}

.supermenu-two-column-wide.wide-column {
 width: 404px;
 margin-right: 0;
}
