@charset "UTF-8"

// IMPORT COMPASS AND EXTENSIONS
@import compass
@import breakpoint
@import ../fonts/icons/icons

@import partials/base/00-variables/all
@import partials/base/03-extend/gsb-revamp

// Business website - Category detail
.view-business-websites-category-detail
  @extend %bg-border-and-box-shadow
  padding: 12px $standard-padding
  position: relative
  .views-row
    a
      padding-right: 10px
      color: $link-green
      +icon-after("arrow-external", true)
      &:after
        font-size: 12px
        margin-left: 0.3em
      &:hover
        color: $text-blue
    .views-field-title
      border-top: 1px solid #ebebeb
      padding: 6px 0 12px 0
  .views-row-first
    .views-field-title
      border-top: 0
