@charset "UTF-8"

// IMPORT COMPASS AND EXTENSIONS
@import compass
@import breakpoint
@import ../../../fonts/icons/icons
@import partials/base/00-variables/all
@import partials/base/03-extend/gsb-revamp

// Case study landing list

// View overrides
.view-display-id-case_listing
  // General filter styles are in _search-filters
  .views-exposed-form
    @extend %divider-bottom

  // General view mode teaser listing styles are in _view-mode-teaser-listing
  .view-content
    .views-row
      border-bottom: 1px $text-black solid
      &:last-of-type
        border-bottom: 0

  // Display the title inline
  .view-mode-teaser_listing .field-name-title h2
    display: inline

  // Custom Availability Filters
  .views-widget-filter-secondary .form-type-select.case-availability
    .form-type-select
      border-bottom: none
      display: inline-block
      margin-bottom: 0
      max-width: 153px
      padding-bottom: 0
      padding-left: 0
      +breakpoint(1210px max-width)
        display: block
    .form-item-field-has-harvard-link-value
      margin-left: 11px
      +breakpoint(1210px max-width)
        margin-left: 0
    .form-item-field-has-case-center-value
      margin-left: 12px
      +breakpoint(1210px max-width)
        margin-left: 0

// Content overrides
.node-case.view-mode-teaser_listing

  // Case ID number
  .field-name-field-item-id
    font-family: $font-demi
    font-size: 20px

  // Author field
  .field-name-field-author
    margin-top: 6px

// Product type
.case-product-icon
  display: none
.case-product-icon.Video
  display: inline
  +icon-before("video", true)
  &:before
    color: $text-blue
    font-size: 24px
    line-height: 0
