@charset "UTF-8"

// IMPORT COMPASS AND EXTENSIONS
@import compass
@import breakpoint
@import ../../../fonts/icons/icons
@import partials/base/00-variables/all
@import partials/base/01-mixins/custom
@import partials/base/03-extend/gsb-revamp

// Case Study detail

// Hide title on detail
.node-type-case
  +page-title

// .node-case.view-mode-full
// See meta-research-detail.sass for shared layout and base styles

// Detail page
.node-case.view-mode-full
  // Video case icon
  .case-product-icon.Video
    float: left
    font-size: 24px
    line-height: 1
    margin-right: 5px
  // Case number label
  .case-number
    margin-right: 5px
  .label-inline
    &:after
      content: "."
      height: 0
      clear: both
      visibility: hidden
  // Author label
  .field-name-field-author .label-inline
    font-weight: normal
  // Case published information
  .field-name-field-year-of-publication,
  .field-name-field-item-id,
  .field-name-field-page-count
    font-size: 16px
    line-height: 1.2

  // Learning objective
  .field-name-field-learning-objective
    @extend %p
    margin-bottom: 26px
    .label-above
      font-family: $font-demi
      font-weight: normal
      padding-bottom: 4px
      font-size: 18px

  // Case citation
  .field-name-field-citation
    color: $text-grey-light
    font-size: 14px
    line-height: 1.2
    padding-bottom: 26px

  // Dividing borders
  .field-name-field-link-document,
  .gsb-feature-case-ct-pdf-statement
    @extend %divider-top
    padding: 12px 0
    &:last-child
      @extend %divider-bottom

  // Text sizing
  // Harvard link, permission statement and document
  .field-name-field-link-single,
  .field-name-field-link-center-single,
  .field-name-field-link-document
    font-size: 18px
    line-height: 1.2
    span
      font-weight: bold

  // Paper copy
  .group-wrapper-paper-copy
    @extend %bg-and-box-shadow
    margin-top: 30px
    padding: 0 $standard-padding 12px
    // Title
    h3
      color: $text-black
      font-family: $font-demi
      font-size: 18px
      font-weight: normal
      padding: 18px 0 11px 0
      line-height: 1.3
    // Links
    .field-type-link-field
      padding-top: 6px
      padding-bottom: 5px
      a
        color: $link-green
        font-family: $font-sans
        font-size: 18px
        font-weight: normal
        line-height: 1.3
        padding-right: 10px
        &[target=_blank]
          &:after
            font-size: 12px
        &:hover
          color: $link-blue

  // Harvard business link and center link
  .field-name-field-link-single,
  .field-name-field-link-center-single
    a
      font-size: 16px
      font-weight: bold
      color: $link-green
      &:hover
        color: $link-blue

  // Availibility statement
  .gsb-feature-case-ct-pdf-statement
    display: block
    font-family: $font-demi
    font-size: 18px
    line-height: 1.2
    a
      &:hover
        color: $link-blue
        text-decoration: underline

  // Download button
  .gsb-cmis-download-wrapper
    @extend %divider-bottom
    padding: 12px 0
  .gsb-cmis-download-button
    @extend %green-button
    display: inline-block
    +icon-after("pdf", true)
    &:after
      @extend %doc-attached-icons
      font-size: 14px
