@charset "UTF-8"

// IMPORT COMPASS AND EXTENSIONS
@import compass
@import breakpoint
@import ../../../fonts/icons/icons
@import partials/base/00-variables/all
@import partials/base/01-mixins/custom
@import partials/base/03-extend/gsb-revamp

// Case download authentication page
.page-gsb-cmis-gsb-cmis-download-auth

  // Hide generated title and breadcrumbs
  .breadcrumb,
  .title-wrapper
    display: none

#gsb-cmis-download-auth

  // Links styled like red CTA
  .case-login
    @extend %bg-and-box-shadow
    color: $grey-med
    margin-bottom: 12px
    max-width: 570px
    a
      display: block
      font-size: 20px
      line-height: 1.2
      padding: 14px 55px 11px $standard-padding
      position: relative
      +breakpoint(400px max-width)
        font-size: 16px
      +icon-after("arrow-double-right", true)
      &:after
        @extend %arrow-double-big
        color: $grey-med
      &:hover
        &:after
          color: $teal-light
