@charset "UTF-8"

// IMPORT COMPASS AND EXTENSIONS
@import compass
@import breakpoint
@import ../../../fonts/icons/icons
@import partials/base/00-variables/all
@import partials/base/03-extend/gsb-revamp

// View mode teaser listing

// Shared styles of teaser listing view mode
.view-mode-teaser_listing
  margin: 22px 0
  // Title
  .field-name-title
    display: inline
    line-height: 1
    h2
      display: inline
      font-family: $font-demi
      font-size: 20px
      font-weight: normal
      line-height: 1.2
      +breakpoint($bp-mobile-max)
        font-size: 16px
    &:hover
      a
        color: $link-blue

  // Document link
  .field-name-field-link-document
    display: inline
    font-size: 20px
    line-height: 1
    a
      &:hover
        color: $link-blue
    +icon-after("pdf", true)
    &:after
      @extend %doc-attached-icons
      color: $red
      font-size: 17px

  // Author wrapper for publication and books
  .gsb_field_formatter_field_collection_separator
    line-height: 0
    margin-top: 6px

  // Authors
  .field-name-field-author,
  .field-collection-item-field-authors
    font-family: $font-demi
    font-size: 16px
    font-weight: normal
    line-height: 1.2
    +breakpoint($bp-mobile-max)
      font-size: 14px

  // Published year
  .field-name-field-month,
  .field-name-field-pub-date-day,
  .field-name-field-year-of-publication,
  .field-name-field-year
    font-size: 16px
    line-height: 1.2
    +breakpoint($bp-mobile-max)
      font-size: 14px

  // Description
  .field-name-field-description,
  .field-name-field-body,
  .field-name-field-body p
    font-size: 16px
    line-height: 1.3
    margin: 12px 0 8px
    +breakpoint($bp-mobile-max)
      font-size: 14px

  // Topics wrapper
  .group-wrapper-topics
    h3
      display: none
    a
      font-size: 14px
      line-height: 1.2
      &:hover
        color: $link-blue
