@charset "UTF-8"

// IMPORT COMPASS AND EXTENSIONS
@import compass
@import breakpoint
@import ../../../fonts/icons/icons
@import partials/base/00-variables/all
@import partials/base/01-mixins/custom
@import partials/base/03-extend/gsb-revamp

// Working Paper - detail

// See meta-research-detail.sass for shared layout and base styles

// Hide title on detail
.node-type-working-paper
  +page-title

.node-working-paper.view-mode-full

  .field-name-field-item-id
    &:before
      color: $text-black
      content: " | "
      display: inline

  // Authors by inline label
  .gsb_field_formatter_field_collection_separator .label-inline
    font-family: $font-demi
    font-size: 18px
    font-weight: normal
    line-height: 1.2

  // Keywords
  .field-name-field-tag
    font-size: 14px
    line-height: 1.2
    padding-bottom: $standard-padding
    .label-inline
      margin-right: 3px

  // Download button
  .gsb-cmis-download-wrapper
    @extend %divider-top
    @extend %divider-bottom
    margin-bottom: $standard-padding
    padding: 12px 0
  .gsb-cmis-download-button
    @extend %green-button
    display: inline-block
    +icon-after("pdf", true)
    &:after
      @extend %doc-attached-icons
      font-size: 14px

  // Add space after day of month
  .comma
    margin-right: 5px
