@charset "UTF-8"

// IMPORT COMPASS AND EXTENSIONS
@import compass
@import breakpoint
@import ../../../fonts/icons/icons
@import partials/base/00-variables/all
@import partials/base/03-extend/gsb-revamp

.page-insights
  #block-gsb-public-custom-blocks-gpcb-banner-title
    display: inline-block
    margin-right: 30px
    padding: 14px 0 9px
    +breakpoint(999px max-width)
      padding-top: 0
    +breakpoint($bp-mobile-max)
      display: none
