@charset "UTF-8"

// IMPORT COMPASS AND EXTENSIONS
@import compass
@import breakpoint
@import ../../../fonts/icons/icons
@import partials/base/00-variables/all
@import partials/base/03-extend/gsb-revamp

// Idea story labels
h2.insights-label
  background: $text-black
  color: $white
  font-family: $font-demi
  font-weight: normal
  font-size: 14px
  line-height: 1.2
  padding: 6px 8px
  position: absolute

// Landing page does not have title
.page-node-368466
  .panel-display
    padding-top: 40px

// Insights section styling
.page-insights

  // Insights will not show in Insights section
  .insights-label.insights
    display: none

  #banner
    +pie-clearfix

  #bottom
    background: $text-black
    padding-bottom: 30px
    .block a
      color: $white
      line-height: 1.2

    // About Contact Follow menu
    .block:first-of-type
      border-bottom: 1px solid #5e5e5e
      font-size: 22px
      font-weight: bold
      margin-bottom: 25px
      padding-bottom: 20px
      +breakpoint($bp-mobile)
        font-size: 18px
      li
        display: inline-block
        margin-right: 55px
        +breakpoint($bp-mobile-480)
          margin-right: 35px
        &:last-of-type
          margin-right: 0

    // Topics menu
    .block:last-of-type
      font-size: 18px
      +breakpoint($bp-mobile)
        font-size: 14px
      .menu
        -moz-column-count: 6
        -webkit-column-count: 6
        column-count: 6
        +breakpoint(900px max-width)
          -moz-column-count: 3
          -webkit-column-count: 3
          column-count: 3
        +breakpoint($bp-mobile-max)
          -moz-column-count: 2
          -webkit-column-count: 2
          column-count: 2
      li
        border-top: 1px solid transparent
        line-height: 0
        margin-bottom: 18px
        a
          line-height: 1.2

// Mobile Insights link next to logo
#block-gsb-public-custom-blocks-gpcb-mobile-insights
  display: none
  +breakpoint($bp-mobile-max)
    border-left: 1px solid #c6c6c6
    display: inline-block
    height: 30px
    margin-top: 10px
    h2
      line-height: 0
      a
        color: $text-black
        font-family: $font-demi
        font-size: 20px
        line-height: 1.5
        padding-left: 10px

// Insights topic landings title styling
.panels-layout-gsb-insights-a,
.panels-layout-gsb-insights-b,
.panels-layout-gsb-insights-c
  h1.title
    @extend %box-shadow
    background: $white
    display: inline-block
    font-size: 38px
    font-weight: normal
    line-height: 1
    margin: 15px 0
    padding: 18px 18px 16px
    +breakpoint($max-width max-width)
      margin-left: 20px
    +breakpoint(635px max-width)
      margin: 20px

.page-insights
  // Insights general styling
  #banner
    background: $text-black
  #content-wrapper
    background: $white
  .insights-card-wrapper
    background: #f4f4f4

// Insights section title
#block-gsb-public-custom-blocks-gpcb-insights
  float: left
  margin-right: 20px
  position: relative
  top: 14px
  +breakpoint(999px max-width)
    span
      display: none
  +breakpoint($bp-mobile-max)
    display: none
  a
    color: $white
    font-size: 34px
    font-family: $font-sans
    font-weight: normal
    line-height: 1.2
    &:hover
      color: $white !important
      text-decoration: none
      border-bottom: 1px solid $white
    +breakpoint(650px max-width)
      font-size: 28px

// Insights search
#block-gsb-public-custom-blocks-gpcb-insights-search
  display: inline
  float: left
  height: 66px
  position: relative
  vertical-align: top
  +breakpoint(596px max-width)
    display: inline
    float: right
    position: absolute
    right: 0
  .form-container-insights-search
    margin: 0

  // Placeholder text
  input.placeholder-text,
  textarea.placeholder-text
    color: $grey-6
    font-size: 20px
    line-height: 1.2
    +breakpoint($bp-mobile-max)
      font-size: 14px

  ::-webkit-input-placeholder
    color: $grey-6
    font-size: 20px
    line-height: 1.2
    +breakpoint($bp-mobile-max)
      font-size: 14px

  #insights-search-block-form
    position: relative
    top: 0

  // Toggle button
  #insights-search-touch-button
    border-right: 1px solid #5e5e5e
    cursor: pointer
    display: inline-block
    height: 66px
    +breakpoint(596px max-width)
      border-right: 0
      border-left: 1px solid #5e5e5e
      float: right
    &.open
      display: none
    +icon-after("search", true)
    &:after
      color: $white
      font-size: 24px
      padding: 0 21px
      position: relative
      top: 25px

  // Search form
  #insights-search-block-form
    display: none
    &.open
      display: inline-block

  // Input
  #edit-insights-search-keys
    height: 66px
    border: 1px $input-border solid
    background: #f4f4f4
    color: $grey-6
    font-size: 20px
    line-height: 1.5
    padding: 7px 52px 6px 20px
    +breakpoint($bp-wide-min)
      width: 364px
    +breakpoint($bp-mobile-max)
      font-size: 14px

  // Search button
  #edit-submit-insights-toolbar-search
    display: inline-block
    width: 45px
    height: 36px
    background: transparent
    -webkit-border-radius: 0
    -moz-border-radius: 0
    -ms-border-radius: 0
    border-radius: 0
    border: none
    text-indent: 1000px
    overflow: hidden
    padding: 0
    position: absolute
    right: 6px
    top: 15px
    .svg &
      background: image_url("search.svg") no-repeat center
      &:hover
        background: image_url("search-hover.svg") no-repeat center
    .no-js &, .no-svg &
      background: image_url("search.png") no-repeat center 6px transparent
      &:hover
        background-position: center -27px

// Topic landing pages
.panels-layout-gsb-insights-a,
.panels-layout-gsb-insights-b,
.panels-layout-gsb-insights-c
  #content-wrapper #content
    background: $white
    max-width: 100%
    padding-bottom: 0
    .section
      background: #f4f4f4

  // Reapply margin and width
  #block-workbench-block,
  .tabs,
  .title-wrapper,
  .full-header,
  .insights-card-wrapper,
  .insights-topic-listing
    display: block
    max-width: $max-width
    margin: 0 auto

  .full-header
    +breakpoint(899px max-width)
      max-width: 570px
      margin: 0 auto
    +breakpoint(634px max-width)
      max-width: 100%

  .insights-listing-wrapper
    background: $white
    padding: 0 20px
    +breakpoint($bp-mobile-max)
      padding-top: 16px

  // Main padding
  #main
    padding-top: 0
    +breakpoint($bp-content-max)
      padding: 0
    +breakpoint($bp-mobile-max)
      padding: 0

// Layout A and C
.panels-layout-gsb-insights-a,
.panels-layout-gsb-insights-b,
.panels-layout-gsb-insights-c
  .insights-card-wrapper
    +breakpoint($max-width max-width)
      padding: 0 20px
    +breakpoint($bp-mobile-max)
      padding: 20px
      padding-top: 0

  .insights-main-wrapper
    +breakpoint(899px max-width)
      float: none
      max-width: 570px
      margin: 0 auto

.panels-layout-gsb-insights-b
  .insights-sidebar-wrapper,
  .narrow-narrow-narrow-narrow
    +breakpoint(899px max-width)
      float: none
      max-width: 570px
      margin: 0 auto

// Insights Search results
.page-insights-search
  h1.title
    padding-bottom: 12px
.view-display-id-insights_search_results
  // Number of results
  .view-header
    border-bottom: 1px solid #c4c4c4
    font-size: 24px
    font-weight: bold
    line-height: 1.3
    padding-bottom: 8px

  // Row styling
  .views-row
    padding: $standard-padding
    border-bottom: 1px solid #c4c4c4
    &:last-of-type
      border-bottom: 0
    +breakpoint($bp-mobile-max)
      padding: 20px 0

  // Date
  .field-name-field-date
    font-size: 16px
    line-height: 1.3
    margin-bottom: 8px
    +breakpoint($bp-mobile-max)
      font-size: 14px

  // Media icons
  // Video
  .media-icon.Video
    float: left
    margin-right: 8px
    position: relative
    top: 2px
    +icon-after("video", true)
    &:after
      color: #bcbcbc
      font-size: 24px
    +breakpoint($bp-mobile-max)
      margin-right: 5px
      &:after
        font-size: 20px

  // Audio
  .media-icon.Audio
    float: left
    margin-right: 8px
    position: relative
    top: 4px
    +icon-after("podcast", true)
    &:after
      color: #bcbcbc
      font-size: 24px
    +breakpoint($bp-mobile-max)
      margin-right: 5px
      top: 0
      &:after
        font-size: 20px

  // Infographic
  .media-icon.Infographic
    margin-right: 6px
    &:after
      content: "Infographic:"
      font-size: 26px
      font-weight: bold
      line-height: 1.2

  // Title
  .field-name-title h3
    display: inline-block
    line-height: 0
    margin-bottom: 8px
    max-width: 830px
    +breakpoint($bp-mobile)
      display: inline
      font-size: 20px
    a
      color: $red
      line-height: 1.3
      &:hover
        color: $link-blue
        text-decoration: underline

  // Dek
  .field-name-field-editorial-summary
    font-size: 18px
    line-height: 1.4
    margin-bottom: 8px
    max-width: 830px
    +breakpoint($bp-mobile-max)
      font-size: 16px
      margin-top: 5px

  // Key taxonomy
  .field-name-field-key-taxonomy
    line-height: 0
    span
      &:nth-of-type(2n),
      &:nth-of-type(3n)
        &:before
          content: ","
    a
      font-size: 16px
      line-height: 1.3
