@charset "UTF-8"

// IMPORT COMPASS AND EXTENSIONS
@import compass
@import breakpoint
@import ../../../fonts/icons/icons
@import partials/base/00-variables/all
@import partials/base/03-extend/gsb-revamp

// Insights section styling
.page-insights
  #banner
    +clearfix
  // Insights title styling
  h1.title
    @extend %box-shadow
    background: $white
    display: inline-block
    font-size: 38px
    font-weight: normal
    line-height: 1
    padding: 18px 18px 16px

  // Behind cards
  #content-wrapper
    background: #f4f4f4

  #bottom
    background: $text-black
    padding-bottom: 30px
    .block
      a
        color: $white
        line-height: 1.2

    // About Contact Follow menu
    .block:first-of-type
      border-bottom: 1px solid #5e5e5e
      font-size: 22px
      font-weight: bold
      margin-bottom: 25px
      padding-bottom: 20px
      +breakpoint($bp-mobile)
        font-size: 18px
      li
        display: inline-block
        margin-right: 55px
        +breakpoint($bp-mobile-480)
          margin-right: 35px
        &:last-of-type
          margin-right: 0

    // Topics menu
    .block:last-of-type
      font-size: 18px
      +breakpoint($bp-mobile)
        font-size: 14px
      .menu
        -moz-column-count: 6
        -webkit-column-count: 6
        column-count: 6
        +breakpoint(900px max-width)
          -moz-column-count: 3
          -webkit-column-count: 3
          column-count: 3
        +breakpoint($bp-mobile-max)
          -moz-column-count: 2
          -webkit-column-count: 2
          column-count: 2
      li
        border-top: 1px solid transparent
        line-height: 0
        margin-bottom: 18px
        a
          line-height: 1.2

// Mobile Insights link next to logo
#block-gsb-public-custom-blocks-gpcb-mobile-insights
  display: none
  +breakpoint($bp-mobile-max)
    border-left: 1px solid #c6c6c6
    display: inline-block
    height: 30px
    margin-top: 10px
    h2
      line-height: 0
      a
        color: $text-black
        font-family: $font-demi
        font-size: 20px
        line-height: 1.5
        padding-left: 10px

// No image background on Insights detail
.node-type-idea-story #content-wrapper
  background: $white

// Insights
.page-insights
  #banner
    background: $text-black

// Insights section title
#block-gsb-public-custom-blocks-gpcb-insights
  float: left
  margin-right: 20px
  position: relative
  top: 14px
  +breakpoint($bp-mobile-max)
    display: none
  a
    color: $white
    font-size: 34px
    font-family: $font-sans
    font-weight: normal
    line-height: 1.2
    &:hover
      color: $white !important
      text-decoration: none
      border-bottom: 1px solid $white
    +breakpoint(650px max-width)
      font-size: 28px

// Insights search
#block-gsb-public-custom-blocks-gpcb-insights-search
  height: 66px
  position: relative
  vertical-align: top
  .form-container-insights-search
    margin: 0

  #insights-search-block-form
    position: relative
    top: 0

  // Toggle button
  #insights-search-touch-button
    border-right: 1px solid #5e5e5e
    cursor: pointer
    display: inline-block
    height: 66px
    &.open
      display: none
    +icon-after("search", true)
    &:after
      color: $white
      font-size: 24px
      padding: 0 21px
      position: relative
      top: 25px

  // Search form
  #insights-search-block-form
    display: none
    &.open
      display: inline-block

  // Input
  #edit-insights-search-keys
    height: 66px
    width: 564px
    color: $grey-6
    font-size: 16px
    border: 1px $input-border solid
    background: #f4f4f4
    line-height: 1
    padding: 7px 38px 6px 20px

  // Search button
  #edit-submit-insights-search
    display: inline-block
    width: 45px
    height: 36px
    background: transparent
    -webkit-border-radius: 0
    -moz-border-radius: 0
    -ms-border-radius: 0
    border-radius: 0
    border: none
    text-indent: 1000px
    overflow: hidden
    position: absolute
    right: -2px
    top: 18px
    .svg &
      background: image_url("search.svg") no-repeat center
      +breakpoint($bp-mobile-max)
        margin-top: 5px
      +breakpoint($bp-tablet-land-max)
        background-size: 170%
      &:hover
        background: image_url("search-hover.svg") no-repeat center
        +breakpoint($bp-tablet-land-max)
          background-size: 170%
    .no-js &, .no-svg &
      background: image_url("search.png") no-repeat center 6px transparent
      &:hover
        background-position: center -27px
