@charset "UTF-8"

// IMPORT COMPASS AND EXTENSIONS
@import compass
@import breakpoint
@import ../../../fonts/icons/icons
@import partials/base/00-variables/all
@import partials/base/03-extend/gsb-revamp

.pane-bundle-story-list-by-title
  @extend %box-shadow
  background: $white
  padding: 0 $standard-padding 14px

  // Border style
  .pane-content
    @extend %black-border-top

  // Pane title
  .field-name-field-link-single
    background: $white
    display: block
    color: $text-black
    font-family: $font-demi
    font-size: 18px
    line-height: 1.3
    padding-top: 12px
    position: relative
    a
      color: $text-black
      +icon-after("arrow-double-right", true)
      &:after
        color: $green-light
        font-size: 14px
        margin-left: 3px
      &:hover
        color: $link-blue
        &:after
          color: $teal-light
