@charset "UTF-8"

// IMPORT COMPASS AND EXTENSIONS
@import compass
@import breakpoint
@import ../../../fonts/icons/icons
@import partials/base/00-variables/all
@import partials/base/03-extend/gsb-revamp

// Insights idea story detail page

// Manage title visibility
.node-type-idea-story
  #page-title
    display: none
    +breakpoint($bp-mobile-max)
      display: block
      font-family: $font-sans
      font-size: 28px
      font-weight: bold
      line-height: 1
      padding-bottom: 17px
  .field-name-title
    +breakpoint($bp-mobile-max)
      display: none

.node-idea-story.view-mode-full

  // Layout

  > .group-left,
  > .group-right
    width: auto

  .group-left
    max-width: 850px
  .group-right
    margin-left: 50px
    width: 270px
    +breakpoint($bp-mobile-max)
      margin-left: 0
      width: 100%

  // Header
  .group-wrapper-header
    max-width: 670px
    padding-left: 35px
    +breakpoint($bp-mobile-max)
      padding-left: 0

  // Body and Resources
  .field-name-field-body
    margin-bottom: 12px
    max-width: 815px
    padding-left: 35px
    +breakpoint($bp-mobile-max)
      padding-left: 0
    h1, h2, h3, h4, h5, h6,
    p
      max-width: 670px

  // Field styling

  // Key taxonomy (top of page)
  .field-name-field-key-taxonomy
    line-height: 0
    margin-bottom: 24px
    a
      font-family: $font-demi
      font-size: 18px
      line-height: 1.2
      &:after
        color: $text-black
        content: ", "
      &:last-of-type
        &:after
          content: ""

  // Media icons

  // Video
  .media-icon.Video
    margin-right: 8px
    position: relative
    top: -4px
    +icon-after("video", true)
    &:after
      color: #bcbcbc
      font-size: 24px

  // Audio
  .media-icon.Audio
    margin-right: 8px
    position: relative
    top: -4px
    +icon-after("podcast", true)
    &:after
      color: #bcbcbc
      font-size: 24px

  // Infographic
  .media-icon.Infographic
    margin-right: 3px
    &:after
      content: "Infographic"
      color: #bcbcbc
      font-size: 24px
      line-height: 1

  // Title
  .field-name-title
    display: inline-block
  h1
    display: inline-block
    font-family: $font-sans
    font-size: 36px
    font-weight: bold
    line-height: 1.2
    margin-bottom: 12px

  // Dek
  .field-name-field-editorial-summary
    font-size: 24px
    line-height: 1.4
    margin-bottom: 12px

  // Date and byline
  .group-wrapper-byline
    font-size: 16px
    line-height: 1.2
    margin-bottom: 26px

  // Authors
  .field-name-field-authors
    margin-left: 6px
    a
      color: $link-green
      font-size: 16px
      line-height: 1.2
      &:hover
        color: $link-blue
    // By label
    .label-inline
      font-weight: normal
      margin-left: 6px

    // Author "and"
    .field-collection-item-field-authors
      &:last-of-type
        &:before
          content: " and"


  // Body field
  .field-name-field-body
    font-size: 18px
    line-height: 1.4
    p
      font-size: 18px
      line-height: 1.4
      &:first-of-type
        font-size: 24px
        line-height: 1.4

  // Full taxonomy (bottom of page)
  .group-wrapper-taxonomy
    font-size: 14px
    line-height: 1.2
    margin-top: 26px
    h3
      display: none
    a
      font-weight: normal
      &:hover
        color: $link-blue
