@charset "UTF-8"

// IMPORT COMPASS AND EXTENSIONS
@import compass
@import breakpoint
@import ../../../fonts/icons/icons
@import partials/base/00-variables/all
@import partials/base/03-extend/gsb-revamp

// Insights topic listing

.insights-topic-listing

  // Title
  h2.pane-title
    color: $text-black
    font-family: $font-sans
    font-size: 32px
    line-height: 1.2
    padding-top: 22px
    +breakpoint($bp-mobile-max)
      font-size: 26px
      padding-top: 0
    // Bold and border
    strong
      @extend %black-border-top
      padding-top: 16px
