// Drupal patterns

// Menus
ul.menu
  margin: 0
  padding: 0
  li
    margin: 0
    padding: 0

ul li.leaf,
ul li.expanded,
ul.menu li.collapsed
  list-style-image: none
  list-style-type: none

// Breadcrumbs
.breadcrumb
  font-size: 14px
  padding-bottom: 30px
  position: relative
  +breakpoint($bp-wide-min)
    top: -4px
  +breakpoint(601px max-width)
    font-size: 12px
  a
    font-size: 14px
    +breakpoint(601px max-width)
      font-size: 12px
    &:hover
      text-decoration: underline
  +breakpoint($bp-tablet-port-max)
    display: none

// Search field
.views-exposed-widgets
  margin: 0
.views-exposed-form .views-exposed-widget
  padding: 0
  .form-submit
    margin: 0

// Messages
div.messages
  border: 0 !important
  padding: 12px 0.5em
  p:last-child
    margin-bottom: 0
  a
    display: block
div.status, div.warning, div.error
  @extend .messages
  background-image: none
div.status
  color: $green
div.warning
  color: $orange
div.error
  color: $red

.form-required
  color: $red

// Pagers
ul.pager
  +horizontal-list(0.5em)
  a
    +remove-link-underlines

// RSS Link
a.feed-icon
  +remove-link-underlines

// Inline links
ul.inline
  +inline-list

// Inline labels
div.label-inline
  display: inline-block

// Taxonomy list
.field-type-taxonomy-term-reference
  .field-item
    display: inline

// Field label above
.field-label-above
  .field-label
    display: block

// House Ad, Spotlight, and Video FPP for all layouts not gsb full bleed page

.pane-bundle-house-ads,
.pane-bundle-spotlight,
.pane-bundle-video
  @extend %bg-and-box-shadow
  padding: 0 $standard-padding $standard-padding

  // Layout
  .ds-2col
    +clearfix

    .group-left
      float: left
      margin-right: 26px
      width: auto

    .group-right
      float: none
      position: relative
      width: 100%

  // Image
  .field-name-field-image-single-public,
  .gsb-image-video-popup,
  .field-name-field-spotlight-person-fid,
  .field-name-field-use-profile-img,
  .field-name-field-file-single-public
    max-width: 270px
    .panels-layout-gsb-no-sidebar &,
    .panels-layout-gsb-full-bleed-page &
    max-width: 310px
    img
      vertical-align: top

  // Description
  .field-name-field-body
    font-size: 16px
    line-height: 1.2
    margin: 12px 0 0
    overflow: hidden
    p
      font-size: 16px
      line-height: 1.2
      margin-bottom: 0

  // Show more
  .show-more
    @extend %show-more-link

// Responsive implementation
// Wide view
.wide-view
  .pane-bundle-house-ads,
  .pane-bundle-spotlight,
  .pane-bundle-video
    padding-top: 26px

    .feature-spotlight-label,
    .field-name-field-house-ads-superhead
      margin-bottom: 26px

    // Stacked
    +breakpoint(1000px 1170px)
      padding: 0
      .group-left,
      .group-right
        clear: both
        float: none
        width: 100%
      .group-left
        padding: $standard-padding $standard-padding 0 $standard-padding
      .group-right
        padding: 0 $standard-padding $standard-padding
      .field-name-field-image-single-public,
      .gsb-image-video-popup,
      .field-name-field-spotlight-person-fid,
      .field-name-field-use-profile-img,
      .field-name-field-file-single-public
        margin-bottom: 0
      .feature-spotlight-label,
      .field-name-field-house-ads-superhead
        margin-bottom: 0
      .group-name-wrapper,
      .field-name-field-link-single,
      .field-name-field-title
        margin-top: 26px
    +breakpoint(859px max-width)
      padding: 0
      .group-left,
      .group-right
        clear: both
        float: none
        width: 100%
      .group-left
        padding: $standard-padding $standard-padding 0 $standard-padding
      .group-right
        padding: 0 $standard-padding $standard-padding
      .field-name-field-image-single-public,
      .gsb-image-video-popup,
      .field-name-field-spotlight-person-fid,
      .field-name-field-use-profile-img,
      .field-name-field-file-single-public
        margin-bottom: 0
      .feature-spotlight-label,
      .field-name-field-house-ads-superhead
        margin-bottom: 0
      .group-name-wrapper,
      .field-name-field-link-single,
      .field-name-field-title
        margin-top: 26px

// Narrow view styling
.narrow-view
  .pane-bundle-house-ads,
  .pane-bundle-spotlight,
  .pane-bundle-video

    // Sidebar region with narrow panes
    .inner-sidebar-wrapper &
      // Stacked
      padding: 0
      .group-left,
      .group-right
        clear: both
        float: none
        width: 100%
      .group-right
        padding: 0 $standard-padding $standard-padding
      .field-name-field-image-single-public,
      .gsb-image-video-popup,
      .field-name-field-spotlight-person-fid,
      .field-name-field-use-profile-img,
      .field-name-field-file-single-public
        margin-bottom: 0
      .group-name-wrapper,
      .field-name-field-link-single,
      .field-name-field-title
        margin-top: 26px

      // Stacked
      +breakpoint(568px max-width)
        .group-left
          padding: $standard-padding $standard-padding 0

    // Middle region with narrow panes
    .main-middle &
      padding: 0
      // Stacked
      +breakpoint(1211px min-width)
        .group-left,
        .group-right
          clear: both
        .group-left
          float: none
          margin-right: 0
          max-width: none
        .group-right
          padding: 0 $standard-padding $standard-padding $standard-padding
        .field-name-field-image-single-public,
        .gsb-image-video-popup,
        .field-name-field-spotlight-person-fid,
        .field-name-field-use-profile-img,
        .field-name-field-file-single-public
          margin-bottom: 0
        .group-name-wrapper,
        .field-name-field-link-single,
        .field-name-field-title
          margin-top: 26px

      +breakpoint(1000px 1089px)
        .group-left,
        .group-right
          clear: both
        .group-left
          float: none
          margin-right: 0
          max-width: none
          padding: $standard-padding $standard-padding 0 $standard-padding
        .group-right
          padding: 0 $standard-padding $standard-padding $standard-padding
        .field-name-field-image-single-public,
        .gsb-image-video-popup,
        .field-name-field-spotlight-person-fid,
        .field-name-field-use-profile-img,
        .field-name-field-file-single-public
          margin-bottom: 0
        .group-name-wrapper,
        .field-name-field-link-single,
        .field-name-field-title
          margin-top: 26px

      +breakpoint(859px max-width)
        .group-left,
        .group-right
          clear: both
        .group-left
          float: none
          margin-right: 0
          max-width: none
          padding: $standard-padding $standard-padding 0 $standard-padding
        .group-right
          padding: 0 $standard-padding $standard-padding $standard-padding
        .field-name-field-image-single-public,
        .gsb-image-video-popup,
        .field-name-field-spotlight-person-fid,
        .field-name-field-use-profile-img,
        .field-name-field-file-single-public
          margin-bottom: 0
        .group-name-wrapper,
        .field-name-field-link-single,
        .field-name-field-title
          margin-top: 26px

      // Side-by-side
      +breakpoint(1090px 1210px)
        padding: $standard-padding
        .group-left,
        .group-right
          clear: none
        .feature-spotlight-label,
        .field-name-field-house-ads-superhead
          margin-bottom: 26px

      +breakpoint(860px 999px)
        padding: $standard-padding
        .group-left,
        .group-right
          clear: none
        .feature-spotlight-label,
        .field-name-field-house-ads-superhead
          margin-bottom: 26px

// House ads, spotlights and video fpps in Insights section
.page-insights
  // Narrow view
  .narrow-view
    .pane-bundle-house-ads,
    .pane-bundle-spotlight,
    .pane-bundle-video
      padding: 0
      // Stacked
      .group-left,
      .group-right
        clear: both
      .group-left
        float: none
        margin-right: 0
        max-width: none
      .group-right
        padding: 0 $standard-padding $standard-padding $standard-padding
      .field-name-field-image-single-public,
      .gsb-image-video-popup,
      .field-name-field-spotlight-person-fid,
      .field-name-field-use-profile-img,
      .field-name-field-file-single-public
        margin-bottom: 0
      .group-name-wrapper,
      .field-name-field-link-single,
      .field-name-field-title
        margin-top: 26px

      +breakpoint($max-width max-width)
        .group-left,
        .group-right
          clear: both
        .group-left
          display: none
        .group-right
          padding: 0 $standard-padding $standard-padding $standard-padding
        .group-name-wrapper,
        .field-name-field-link-single,
        .field-name-field-title
          margin-top: 26px

  // Wide view
  .wide-view
    .pane-bundle-house-ads,
    .pane-bundle-spotlight,
    .pane-bundle-video
      .group-left
        float: left
        margin-right: 26px
        width: auto

      .group-right
        clear: none
        float: none
        position: relative
        width: 100%

      +breakpoint(1169px max-width)
        padding-top: $standard-padding
        .group-left
          padding-top: 0
      +breakpoint(568px max-width)
        padding-top: 0
        .group-left
          display: none

// Hide external icons on images
.field-type-image,
.gsb-image-video-popup
  a[target=_blank]:after
    content: ""

// House Ad, Spotlight, and Video FPP for GSB Full Bleed Page layout
div.gsb-full-bleed-page
  .pane-bundle-house-ads,
  .pane-bundle-spotlight,
  .pane-bundle-video
    @extend %bg-and-box-shadow
    padding: 0 $standard-padding $standard-padding

    // Layout
    .ds-2col
      +clearfix

      .group-left
        float: left
        margin-right: 26px
        width: auto

      .group-right
        float: none
        position: relative
        width: 100%

    // Image
    .field-name-field-image-single-public,
    .gsb-image-video-popup,
    .field-name-field-spotlight-person-fid,
    .field-name-field-use-profile-img,
    .field-name-field-file-single-public
      max-width: 310px
      img
        min-width: 310px
        vertical-align: top
        +breakpoint(392px max-width)
          min-width: initial

    // Description
    .field-name-field-body
      font-size: 16px
      line-height: 1.2
      margin: 12px 0 0
      overflow: hidden
      p
        font-size: 16px
        line-height: 1.2
        margin-bottom: 0

    // Show more
    .show-more
      @extend %show-more-link

  // Responsive implementation
  // Wide view
  .wide-view
    .pane-bundle-house-ads,
    .pane-bundle-spotlight,
    .pane-bundle-video
      padding-top: 26px

      .feature-spotlight-label,
      .field-name-field-house-ads-superhead
        margin-bottom: 26px

      // Stacked
      +breakpoint(1170px 1000px)
        padding: 0
        .group-left,
        .group-right
          clear: both
          float: none
          width: 100%
        .group-left
          padding: $standard-padding $standard-padding 0 $standard-padding
        .group-right
          padding: 0 $standard-padding $standard-padding
        .field-name-field-image-single-public,
        .gsb-image-video-popup,
        .field-name-field-spotlight-person-fid,
        .field-name-field-use-profile-img,
        .field-name-field-file-single-public
          margin-bottom: 0
        .feature-spotlight-label,
        .field-name-field-house-ads-superhead
          margin-bottom: 0
        .group-name-wrapper,
        .field-name-field-link-single,
        .field-name-field-title
          margin-top: 26px
      +breakpoint(859px max-width)
        padding: 0
        .group-left,
        .group-right
          clear: both
          float: none
          width: 100%
        .group-left
          padding: $standard-padding $standard-padding 0 $standard-padding
        .group-right
          padding: 0 $standard-padding $standard-padding
        .field-name-field-image-single-public,
        .gsb-image-video-popup,
        .field-name-field-spotlight-person-fid,
        .field-name-field-use-profile-img,
        .field-name-field-file-single-public
          margin-bottom: 0
        .feature-spotlight-label,
        .field-name-field-house-ads-superhead
          margin-bottom: 0
        .group-name-wrapper,
        .field-name-field-link-single,
        .field-name-field-title
          margin-top: 26px

  // Narrow view styling
  // Right sidebar
  .inner-sidebar-wrapper .narrow-view
    .pane-bundle-house-ads,
    .pane-bundle-spotlight,
    .pane-bundle-video
      padding: 0

      // Image
      .field-name-field-image-single-public,
      .gsb-image-video-popup,
      .field-name-field-spotlight-person-fid,
      .field-name-field-use-profile-img,
      .field-name-field-file-single-public
        max-width: 270px
        img
          min-width: 270px
          +breakpoint(392px max-width)
            min-width: initial

      // Stacked
      .group-left,
      .group-right
        clear: both
        float: none
        width: 100%
      .group-right
        padding: 0 $standard-padding $standard-padding
      .field-name-field-image-single-public,
      .gsb-image-video-popup,
      .field-name-field-spotlight-person-fid,
      .field-name-field-use-profile-img,
      .field-name-field-file-single-public
        margin-bottom: 0
      .group-name-wrapper,
      .field-name-field-link-single,
      .field-name-field-title
        margin-top: 26px

      // Not full bleed
      +breakpoint(670px max-width)
        .group-left
          padding: $standard-padding $standard-padding 0

  // Middle region with narrow panes
  .main-middle .narrow-view
    .pane-bundle-house-ads,
    .pane-bundle-spotlight,
    .pane-bundle-video
      padding: 0

      // Image
      .field-name-field-image-single-public,
      .gsb-image-video-popup,
      .field-name-field-spotlight-person-fid,
      .field-name-field-use-profile-img,
      .field-name-field-file-single-public
        img
          +breakpoint(671px 718px)
            min-width: initial

      // Stacked
      +breakpoint(1211px min-width)
        .group-left,
        .group-right
          clear: both
        .group-left
          float: none
          margin-right: 0
          max-width: none
        .group-right
          padding: 0 $standard-padding $standard-padding $standard-padding
        .field-name-field-image-single-public,
        .gsb-image-video-popup,
        .field-name-field-spotlight-person-fid,
        .field-name-field-use-profile-img,
        .field-name-field-file-single-public
          margin-bottom: 0
        .group-name-wrapper,
        .field-name-field-link-single,
        .field-name-field-title
          margin-top: 26px

      +breakpoint(1104px max-width)
        .group-left,
        .group-right
          clear: both
        .group-left
          float: none
          margin-right: 0
          max-width: none
          padding: $standard-padding $standard-padding 0 $standard-padding
        .group-right
          padding: 0 $standard-padding $standard-padding $standard-padding
        .field-name-field-image-single-public,
        .gsb-image-video-popup,
        .field-name-field-spotlight-person-fid,
        .field-name-field-use-profile-img,
        .field-name-field-file-single-public
          margin-bottom: 0
        .feature-spotlight-label,
        .field-name-field-house-ads-superhead
          margin-bottom: 0
        .group-name-wrapper,
        .field-name-field-link-single,
        .field-name-field-title
          margin-top: 26px

      // Side-by-side
      +breakpoint(1105px 1210px)
        padding: $standard-padding
        .group-left,
        .group-right
          clear: none
        .feature-spotlight-label,
        .field-name-field-house-ads-superhead
          margin-bottom: 26px

      +breakpoint(905px 999px)
        padding: $standard-padding
        .group-left,
        .group-right
          clear: none
        .feature-spotlight-label,
        .field-name-field-house-ads-superhead
          margin-bottom: 26px

div.gsb-full-bleed-landing-page
  .pane-bundle-spotlight
    padding: 0
    .ds-2col
      .group-left
        margin-right: 0
        .field-name-field-file-single-public
          max-width: 408px
          .gsb-image-video-popup
            max-width: 408px
      .group-right
        padding: 0 26px 26px
