// Drupal patterns

// Menus
ul.menu
  margin: 0
  padding: 0
  li
    margin: 0
    padding: 0

ul li.leaf,
ul li.expanded,
ul.menu li.collapsed
  list-style-image: none
  list-style-type: none

// Breadcrumbs
.breadcrumb
  font-size: 14px
  padding-bottom: 30px
  position: relative
  +breakpoint($bp-wide-min)
    top: -4px
  +breakpoint(601px max-width)
    font-size: 12px
  a
    font-size: 14px
    +breakpoint(601px max-width)
      font-size: 12px
    &:hover
      text-decoration: underline
  +breakpoint($bp-tablet-port-max)
    display: none

// Search field
.views-exposed-widgets
  margin: 0
.views-exposed-form .views-exposed-widget
  padding: 0
  .form-submit
    margin: 0

// Messages
div.messages
  border: 0 !important
  padding: 12px 0.5em
  p:last-child
    margin-bottom: 0
  a
    display: block
div.status, div.warning, div.error
  @extend .messages
  background-image: none
div.status
  color: $green
div.warning
  color: $orange
div.error
  color: $red

.form-required
  color: $red

// Pagers
ul.pager
  +horizontal-list(0.5em)
  a
    +remove-link-underlines

// RSS Link
a.feed-icon
  +remove-link-underlines

// Inline links
ul.inline
  +inline-list

// Inline labels
div.label-inline
  display: inline-block

// Taxonomy list
.field-type-taxonomy-term-reference
  .field-item
    display: inline

// Field label above
.field-label-above
  .field-label
    display: block

// Display Suite
// House Ad, Spotlight, and Video FPP
.pane-bundle-house-ads,
.pane-bundle-spotlight,
.pane-bundle-video
  @extend %bg-and-box-shadow
  padding: $standard-padding

  // Layout
  .ds-2col
    .group-left
      position: relative
      top: 0
      width: 58%
    .group-right
      width: 42%

    .group-left,
    .group-right
      +breakpoint(768px 569px)
        float: none
        width: 100%
      +breakpoint($bp-mobile-480)
        float: none
        width: 100%
      .main-middle .narrow-view &
        +breakpoint(1211px min-width)
          float: none
          width: 100%
      .inner-sidebar-wrapper .narrow-view &
        +breakpoint(610px min-width)
          float: none
          width: 100%
      // Insights responsive
      .page-insights .wide-view &
        +breakpoint(1170px max-width)
          float: none
          width: 100%

  // Image
  .field-name-field-image-single-public,
  .gsb-image-video-popup,
  .field-name-field-spotlight-person-fid,
  .field-name-field-use-profile-img,
  .field-name-field-file-single-public
    margin-bottom: 26px
    .page-insights &
      +breakpoint(1170px max-width)
        display: none
    > img
      vertical-align: top

  // Description
  .field-name-field-body
    font-size: 16px
    line-height: 1.2
    margin: 12px 0
    overflow: hidden
    p
      font-size: 16px
      line-height: 1.2
      margin-bottom: 0

  // Show more
  .show-more
    @extend %show-more-link

// Responsive implementation
.wide-view,
.narrow-view
  .pane-bundle-house-ads,
  .pane-bundle-spotlight,
  .pane-bundle-video
    +clearfix
    .group-left
      float: left

// Narrow view styling
.inner-sidebar-wrapper .narrow-view
  .pane-bundle-house-ads,
  .pane-bundle-spotlight,
  .pane-bundle-video
    .group-left
      margin-bottom: 26px
    +breakpoint(568px min-width)
      padding: 0 0 $standard-padding 0
      .group-left
        float: none
        margin-right: 0
      .group-right
        padding: 0 $standard-padding
      .group-left,
      .group-right
        clear: both
      .show-more
        padding-right: $standard-padding

// Wide view Insights
.page-insights .wide-view
  .pane-bundle-house-ads,
  .pane-bundle-spotlight,
  .pane-bundle-video
    +breakpoint($max-width max-width)
      padding: 0
      padding-bottom: $standard-padding
      .group-right
        padding: 0 $standard-padding
      .group-left,
      .group-right
        clear: both
        +breakpoint($bp-mobile-max)
          clear: none
      .show-more
        padding-right: $standard-padding
