// Drupal patterns

// Menus
ul.menu
  margin: 0
  padding: 0
  li
    margin: 0
    padding: 0

ul li.leaf,
ul li.expanded,
ul.menu li.collapsed
  list-style-image: none
  list-style-type: none

// Breadcrumbs
.breadcrumb
  font-size: 14px
  padding-bottom: 30px
  position: relative
  +breakpoint($bp-wide-min)
    top: -4px
  +breakpoint(601px max-width)
    font-size: 12px
  a
    font-size: 14px
    +breakpoint(601px max-width)
      font-size: 12px
    &:hover
      text-decoration: underline
  +breakpoint($bp-mobile-max)
    display: none

// Search field
.views-exposed-widgets
  margin: 0
.views-exposed-form .views-exposed-widget
  padding: 0
  .form-submit
    margin: 0

// Messages
div.messages
  border: 0 !important
  padding: 12px 0.5em
  p:last-child
    margin-bottom: 0
  a
    display: block
div.status, div.warning, div.error
  @extend .messages
  background-image: none
div.status
  color: $green
div.warning
  color: $orange
div.error
  color: $red

.form-required
  color: $red

// Pagers
ul.pager
  +horizontal-list(0.5em)
  a
    +remove-link-underlines

// RSS Link
a.feed-icon
  +remove-link-underlines

// Inline links
ul.inline
  +inline-list

// Inline labels
div.label-inline
  display: inline-block

// Taxonomy list
.field-type-taxonomy-term-reference
  .field-item
    display: inline

// Field label above
.field-label-above
  .field-label
    display: block

// Display Suite
// Video, spotlight, house ad fpp
.pane-bundle-video,
.pane-bundle-house-ads
  .ds-2col
    .group-left
      width: 58%
    .group-right
      width: 42%

    .group-left,
    .group-right
      +breakpoint(768px 569px)
        float: none
        width: 100%
      +breakpoint($bp-mobile-480)
        float: none
        width: 100%
      .narrow-view &
        float: none
        width: 100%
      // Insights responsive
      .page-insights .wide-view &
        +breakpoint(1170px max-width)
          float: none
          width: 100%

.pane-bundle-spotlight
  .ds-2col-stacked
    .group-left,
    .group-right
      +breakpoint(768px 569px)
        float: none
        width: 100%
      +breakpoint($bp-mobile-480)
        float: none
        width: 100%
      .narrow-view &
        float: none
        width: 100%
    .group-right
      +clearfix
