@charset "UTF-8"

// IMPORT COMPASS AND EXTENSIONS
@import compass
@import breakpoint
@import ../../../fonts/icons/icons
@import partials/base/00-variables/all
@import partials/base/01-mixins/custom
@import partials/base/03-extend/gsb-revamp

// Alumni reunion finder
.pane-reunion-finder
  background: #9ecbea
  position: relative
  bottom: 0
  .wide-view &
    min-height: 515px
  .narrow-view &
    min-height: 400px

  // Image wrapper
  .reunion-finder-image-wrapper
    position: absolute
    bottom: 0
    img
      vertical-align: bottom

  // Content wrapper
  .reunion-finder-content-wrapper
    position: absolute
    top: 0
    width: 100%

  // Form wrapper
  .reunion-finder-form-wrapper
    padding: 0 $standard-padding
    +clearfix

  // Pane Title
  h3
    background: rgba(#30759c, 0.85)
    color: $white
    font-family: $font-demi
    font-size: 28px
    font-weight: normal
    line-height: 1.2
    margin-bottom: 18px
    padding: 12px $standard-padding
    .narrow-view &
      font-size: 24px
      margin-top: -5px
    .wide-view &
      +breakpoint($bp-mobile-max)
        font-size: 24px

  // Select dropdown
  .customSelect
    border: 1px solid $white
    width: 100% !important
    &:after
      height: 40px

  .customSelectInner
    font-size: 24px
    line-height: 1.2
    padding: 8px 0 0 14px
    .narrow-view &
      font-size: 20px
    .wide-view &
      +breakpoint($bp-mobile-max)
        font-size: 20px

  // Go to reunion link button
  #gotoReunion
    @extend %red-button
    float: right
    font-size: 20px
    .narrow-view &
      font-size: 16px
      text-align: center
      width: 100%
      +breakpoint($bp-mobile-max)
        float: right
        width: auto
    .wide-view &
      +breakpoint($bp-mobile-max)
        font-size: 16px

  // MBA year field label
  #label_programYear
    color: #134c6c
    float: left
    font-family: $font-demi
    font-size: 24px
    font-weight: normal
    line-height: 1.8
    .narrow-view &
      font-size: 18px
      line-height: 2.3
    .wide-view &
      +breakpoint($bp-mobile-max)
        font-size: 18px
      line-height: 2.3

  // MBA year field input
  #programYear
    border: 1px solid $white
    height: 42px
    padding: 8px
    width: 62px

  // Year error message
  #programYearError
    margin: 12px 0

  // No reunion page message
  #noReunionPage
    border-top: 1px solid #cdeefd
    font-family: $font-demi
    font-size: 28px
    line-height: 1.2
    padding-top: 22px
    text-align: right
    .narrow-view &
      font-size: 20px
    .wide-view &
      +breakpoint($bp-mobile-max)
        font-size: 20px
