@charset "UTF-8"

// IMPORT COMPASS AND EXTENSIONS
@import compass
@import breakpoint
@import ../../../fonts/icons/icons
@import partials/base/00-variables/all
@import partials/base/01-mixins/custom
@import partials/base/03-extend/gsb-revamp

// Alumni reunion finder
.pane-reunion-finder
  position: relative

  // Image wrapper
  .reunion-finder-image-wrapper

  // Content wrapper
  .reunion-finder-content-wrapper
    position: absolute
    top: 0
    width: 100%

  // Form wrapper
  .reunion-finder-form-wrapper
    padding: 18px

  // Title
  h3
    background: rgba(#30759c, 0.85)
    color: $white
    font-family: $font-demi
    font-size: 28px
    font-weight: normal
    line-height: 1.2
    margin-bottom: 12px
    padding: 12px 18px

  // Select dropdown
  .customSelect
    border: 1px solid #fff
    width: 100% !important
    &:after
      height: 40px

  .customSelectInner
    font-size: 24px
    line-height: 1.2
    padding: 8px 0 0 14px

  // Go to reunion link
  #gotoReunion
    @extend %red-button
