@charset "UTF-8"

// IMPORT COMPASS AND EXTENSIONS
@import compass
@import breakpoint
@import ../../../fonts/icons/icons
@import partials/base/00-variables/all
@import partials/base/01-mixins/custom
@import partials/base/03-extend/gsb-revamp


// Alumni reunion agenda item detail page

// Manage title visibility
.node-type-alumni-reunion-agenda-item
  #page-title
    display: none

.node-alumni-reunion-agenda-item.view-mode-full

  // Layout
  &.ds-2col > .group-left
    margin-right: -300px
    width: 100%
    +breakpoint(700px max-width)
      margin-right: 0
      margin-bottom: 20px
    +breakpoint($bp-mobile-max)
      border-top: 0
      padding-top: 0
    .group-left-inner
      margin-right: 300px
      +breakpoint(700px max-width)
        margin-right: 0

  &.ds-2col > .group-right
    float: right
    width: 270px
    +breakpoint(700px max-width)
      float: left
      width: 100%

  // Left side
  .group-left-inner
    @extend %black-border-top-small

    // Reunion group reference (black superhead label)
    .field-name-field-reunion-group-page-ref
      @extend %superhead-black
      margin-bottom: 0

    // Date
    .field-name-field-event-date
      font-family: $font-demi
      font-size: 18px
      line-height: 1.3
      margin: 12px 0 26px
      +breakpoint(700px max-width)
        font-size: 16px

    // Title and location wrapper
    .group-wrapper-title-location
      margin-bottom: 30px
      +breakpoint(700px max-width)
        margin-bottom: 20px

    // Title
    .field-name-title h1
      font-family: $font-sans
      font-size: 28px
      font-weight: bold
      line-height: 1.3
      margin-bottom: 10px
      +breakpoint(700px max-width)
        font-size: 26px

    // Location
    .field-name-field-link-single
      font-family: $font-demi
      font-size: 20px
      line-height: 1.3
      +breakpoint(700px max-width)
        font-size: 18px
      a
        color: $link-green
        line-height: 1.3
        &:hover
          color: $link-blue

    // Pricing and Registration
    .field-name-field-cost,
    .field-name-field-registration
      font-size: 20px
      line-height: 1.3
      margin-bottom: 14px
      +breakpoint(700px max-width)
        font-size: 18px
      .label-above
        font-weight: bold

    // Description
    .field-name-field-body
      @extend %p
      margin-top: 30px

  // Right side

  // Current reunion, related blocks
  .current-reunion-block,
  .group-wrapper-related
    margin-bottom: 30px

  // Current reunion block
  .pane-bundle-links
    a[href*="mailto:"]
      +icon-after("email-stroke", true)
      &:after
        font-size: 12px
        margin-left: 5px

    // Show more and show less
    .show-more-less-toggler-wrapper
      +clearfix
      border-top: 1px solid #e4e4e4
      margin-top: 8px
      padding-top: 10px
      width: 100%
    .show-more-less-toggler
      color: $red
      float: right
      font-size: 14px
      font-family: $font-demi
      font-weight: normal
      line-height: 1.3
      // Add margin for focus state
      margin: 1px
      &:before
        color: $red
        margin-right: 6px
        top: 0
      &:hover
        color: $link-blue
        &:before
          color: $link-blue

    // Black bar with red links
    .black-bar
      @extend %bg-and-box-shadow

      // Title
      .field-name-field-title
        @extend %black-border-top
        color: $text-black
        font-family: $font-sans
        font-size: 18px
        font-weight: bold
        line-height: 1.3
        margin: 0 $standard-padding
        padding-top: 12px

      // Links
      .field-name-field-link-unlimited
        padding: 14px $standard-padding
        .field-item
          line-height: 0
          padding-bottom: 10px
          &:last-of-type
            padding-bottom: 0
        a
          font-family: $font-demi
          font-size: 16px
          line-height: 1.3
          &[target=_blank]
            &:after
              font-size: 10px
          &[href$=".pdf"]
            &:after
              font-size: 14px

      // Show more link styling
      .show-more-less-toggler-wrapper
        a
          font-family: $font-demi
          font-size: 14px
          font-weight: normal
