@charset "UTF-8"

// IMPORT COMPASS AND EXTENSIONS
@import compass
@import breakpoint
@import ../../../fonts/icons/icons
@import partials/base/00-variables/all
@import partials/base/01-mixins/custom
@import partials/base/03-extend/gsb-revamp

// Alumni reunion finder
.pane-reunion-finder
  background: image_url("bg-reunion-finder.jpg") no-repeat

  // Title
  h3
    background: rgba(#30759c, 0.85)
    color: $white
    font-family: $font-demi
    font-size: 28px
    font-weight: normal
    line-height: 1.2
    margin-bottom: 12px
    padding: 12px 8px
