@charset "UTF-8"

// IMPORT COMPASS AND EXTENSIONS
@import compass
@import breakpoint
@import ../../../fonts/icons/icons
@import partials/base/00-variables/all
@import partials/base/03-extend/gsb-revamp

.view-display-id-alumni_book_listing
  position: relative
  .views-row
    border-bottom: 1px solid #c4c4c4
    &:last-of-type
      border-bottom: 0

  .ajax-progress-throbber
    position: absolute
    right: 9px
    top: 25px

  // Filters container
  .view-filters
    @extend %black-border-top-small
    background: $grey-f
    margin-bottom: 30px

  // Hide a-z field
  #edit-last-name-wrapper
    display: none

  // Remove old container styling
  .gsb-views-exposed-form
    background: none
    border: 0
    @extend %black-border-top-small
    -moz-box-shadow: none
    -webkit-box-shadow: none
    box-shadow: none
    margin: 0

  // Search field
  .form-item.form-item-book-search
    margin-top: 0
    margin-bottom: 0

#views-exposed-form-gsb-book-listing-alumni-book-listing
  @extend %divider-bottom
  padding: 18px $standard-padding
  position: relative
  +clearfix
  width: 100%
  #edit-book-search
    height: 36px
    width: 100%
  #edit-book-search-wrapper
    float: left
    margin-right: -36px
    padding-right: 36px
    width: 100%

  // Search button
  .views-submit-button
    float: left
    width: 36px

#edit-submit-gsb-book-listing
  text-indent: 1000px
  -webkit-border-radius: 0
  -moz-border-radius: 0
  -ms-border-radius: 0
  border-radius: 0
  border-top-right-radius: 50%
  border-bottom-right-radius: 50%
  border: none
  width: 36px
  height: 36px
  .svg &
    +background(image_url("search-white.svg") no-repeat 60% 47%, linear-gradient(bottom, $red-light 0%, $red-dark 100%))
    background-size: 60px
    &:hover
      +background(image_url("search-white.svg") no-repeat 60% 47%, linear-gradient(top, #18455f, $text-blue))
      background-size: 60px
  .no-js &, .no-svg &
    +background(image_url("search-white.png") no-repeat 11px 11px, linear-gradient(bottom, $red-light 0%, $red-dark 100%))
    &:hover
      +background(image_url("search-white.png") no-repeat 11px 11px, linear-gradient(top, #18455f, $text-blue))
