@charset "UTF-8"

// IMPORT COMPASS AND EXTENSIONS
@import compass
@import breakpoint
@import ../../../fonts/icons/icons
@import partials/base/00-variables/all
@import partials/base/03-extend/gsb-revamp

// Hide page title on detail
.node-type-alumni
  #page-title
    display: none

// Detail page
.node-alumni.view-mode-full
  border-top: 3px solid $text-black
  padding-top: 2px
  +breakpoint($bp-mobile-max)
    border-top: 0
    padding-top: 0
    margin-top: 20px

  // Layout
  &.ds-2col > .group-left
    width: 270px
    +breakpoint(684px max-width)
      width: 42%
    +breakpoint($bp-mobile-max)
      +clearfix
      width: 100%
    img
      display: block

  &.ds-2col > .group-right
    float: none
    width: auto
    padding-left: 300px
    +breakpoint(684px max-width)
      padding-left: 46%
      width: 100%
    +breakpoint($bp-mobile-max)
      padding-left: 0

  // LEFT SIDE
  // Extra field for name and degree in mobile
  .field-name-alumni-name-degree
    display: none
    +breakpoint($bp-mobile-max)
      display: block
      font-family: $font-sans
      font-size: 28px
      font-weight: bold
      line-height: 1.3
      padding-bottom: 17px

  // Profile photo
  .field-name-field-image-single-public
    margin-bottom: 20px
    +breakpoint($bp-mobile-max)
      float: left
      width: 65px

  // Person information block
  // Fieldset logic
  .group-wrapper-information
    height: auto !important
    +breakpoint($bp-mobile-max)
      margin-left: 82px
    // Fieldset handle
    legend
      display: none
      padding: 0
      a
        color: $text-black
        font-family: $font-demi
        font-size: 18px
        line-height: 1

      .fieldset-legend span.summary
        display: none
      +breakpoint($bp-mobile-max)
        display: block
        float: left
        line-height: 1.9
        padding-left: 15px
        width: 100%
        padding-bottom: 15px

    // Fieldset container
    .fieldset-wrapper
      +breakpoint($bp-mobile-min)
        display: block !important
      +breakpoint($bp-mobile-max)
        clear: left
    // Collapsed
    &.collapsed
      legend
        +breakpoint($bp-mobile-max)
          border-bottom: 0
          padding-bottom: 0

  // Styling
  .group-wrapper-information
    @extend %group-wrapper-information
    +breakpoint($bp-mobile-max)
      margin-bottom: 26px

    // Email
    .field-name-field-email
      line-height: 1.2
      margin-bottom: 5px
      a
        +icon-after("email-stroke", true)
        &:after
          font-size: 12px
          margin-left: 3px

    // Links
    .field-name-field-link-single
      margin-bottom: 5px
    .field-name-field-link-unlimited div
      margin-bottom: 5px
      &:last-of-type
        margin-bottom: 0

  // Right side
  .group-right
    > .field-group-format
      &:last-of-type
        border-bottom: 0
    // Common patterns
    h2.label-above
      @extend %header-large
    h3.label-above
      @extend %header-small
    p
      @extend %faculty-paragraph

    a
      color: $link-green
      &:hover
        color: $link-blue

  // Name and Degree wrapper
  .group-name-and-degree
    margin-bottom: 14px
    margin-top: 26px
    +breakpoint($bp-mobile-max)
      display: none


  // Name and Degree
  .group-wrapper-name,
  .field-name-field-stanford-degrees-single
    font-size: 28px
    font-weight: bold
    line-height: 1.3

  // Name wrapper
  .group-wrapper-name
    display: inline
    span
      display: inline-block
      margin-right: 8px
      &:last-of-type
        margin-right: 0

  // Degree field
  .field-name-field-stanford-degrees-single
    display: inline

  // Comma before degree field
  .field-name-alumni-name-degree .field-degree,
  .field-name-field-stanford-degrees-single
    &:before
      content: ","
      display: inline
      margin-right: 8px
      +breakpoint($bp-mobile-max)
        margin-right: 5px

  // Position Title
  .field-name-field-title-position-single
    font-family: $font-demi
    font-size: 20px
    line-height: 1.3

  // Location
  .field-name-field-location
    font-size: 20px
    line-height: 1.3

  // Body
  .field-name-field-body
    margin-top: 26px
