@charset "UTF-8"

// IMPORT COMPASS AND EXTENSIONS
@import compass
@import breakpoint
@import ../../../fonts/icons/icons
@import partials/base/00-variables/all
@import partials/base/01-mixins/custom
@import partials/base/03-extend/gsb-revamp


// Alumni reunion agenda item detail page

// Manage title visibility
.node-type-alumni-reunion-agenda-item
  #page-title
    display: none

.node-alumni-reunion-agenda-item.view-mode-full

  // Layout
  &.ds-2col > .group-left
    margin-right: -300px
    width: 100%
    +breakpoint(700px max-width)
      margin-right: 0
      margin-bottom: 20px
    +breakpoint($bp-mobile-max)
      border-top: 0
      padding-top: 0
    .group-left-inner
      margin-right: 300px
      +breakpoint(700px max-width)
        margin-right: 0

  &.ds-2col > .group-right
    float: right
    width: 270px
    +breakpoint(700px max-width)
      float: left
      width: 100%

  // Left side
  .group-left-inner
    @extend %black-border-top-small

    // Reunion group reference (black superhead label)
    .field-name-field-reunion-group-page-ref
      @extend %superhead-black

    // Date
    .field-name-alumni-reunion-agenda-item-date
      font-family: $font-demi
      font-size: 18px
      line-height: 1.3
      margin-bottom: 26px
      +breakpoint(700px max-width)
        font-size: 16px

    // Title and location wrapper
    .group-wrapper-title-location
      margin-bottom: 26px
      +breakpoint(700px max-width)
        margin-bottom: 20px

    // Title
    .field-name-title h1
      font-family: $font-demi
      font-size: 32px
      line-height: 1.3
      +breakpoint(700px max-width)
        font-size: 26px

    // Location
    .field-name-field-link-single
      font-family: $font-demi
      font-size: 24px
      line-height: 0
      +breakpoint(700px max-width)
        font-size: 20px
      a
        color: $link-green
        line-height: 1.3
        &:hover
          color: $link-blue

    // Pricing and Registration
    .field-name-field-cost,
    .field-name-field-registration
      font-size: 20px
      line-height: 1.3
      margin-bottom: 18px
      +breakpoint(700px max-width)
        font-size: 18px
        margin-bottom: 16px
      .label-above
        font-weight: bold

    // Description
    .field-name-field-body
      @extend %p

  // Right side

  // Current reunion, related blocks
  .current-reunion-block,
  .group-wrapper-related
    margin-bottom: 30px
