@charset "UTF-8"

// IMPORT COMPASS AND EXTENSIONS
@import compass
@import breakpoint
@import ../../../fonts/icons/icons
@import partials/base/00-variables/all
@import partials/base/03-extend/gsb-revamp

// Exec Ed section title
#block-gsb-public-custom-blocks-gpcb-exec-ed
  border-left: 1px solid #d6d6d6
  display: inline-block
  height: 59px
  h2
    line-height: 0
    a
      color: $text-black
      font-family: $font-demi
      font-size: 24px
      line-height: 2.7
      padding-left: 10px
