@charset "UTF-8"

// IMPORT COMPASS AND EXTENSIONS
@import compass
@import breakpoint
@import ../../../fonts/icons/icons
@import partials/base/00-variables/all
@import partials/base/01-mixins/custom
@import partials/base/03-extend/gsb-revamp

// Exec Ed & SEED section title next to logo
#block-gsb-public-custom-blocks-gpcb-exec-ed,
#block-gsb-public-custom-blocks-gpcb-seed
  border-left: 1px solid #d6d6d6
  display: inline-block
  height: 75px
  padding-top: 24px
  +breakpoint(1169px max-width)
    height: 50px
    left: 60px
    padding-top: 10px
    position: relative
  h2
    line-height: 0
    a
      color: $text-black
      display: inline-block
      font-family: $font-sans
      font-size: 28px
      font-weight: bold
      line-height: 1.1
      margin-left: 15px
      &:hover
        text-decoration: none
        border-bottom: 1px solid
      +breakpoint(568px max-width)
        font-size: 18px
        max-width: 80px
        padding-left: 6px

#block-gsb-public-custom-blocks-gpcb-exec-ed h2 a
  +breakpoint(1170px 1184px)
    font-size: 26px

// Display mega menu items in 2 columns
.menu-name-menu-executive-education-mega-me
  -moz-column-count: 2
  -webkit-column-count: 2
  column-count: 2

// Masthead
.page-exec-ed,
.page-seed

  // EE Masthead elements
  .qtip-content
    background: $text-black !important
    .pane-title
      display: none

  // Responsive Megamenu
  .qtip
    +breakpoint(1169px max-width)
      display: none !important

  // Left hand rail menu
  .region-sidebar-first
    background: none
    border-top: 1px $border-grey solid
    ul li
      color: #7d7466
      font-family: $font-sans
      font-size: 16px
      font-weight: normal
      line-height: 1.2
      a
        color: #7d7466
        &:hover
          color: $text-black
        &.active
          color: $text-black
    ul li ul li ul li a
      font-family: $font-sans
      font-weight: normal

// Hide titles and breadcrumbs on program overview pages
.node-type-program
  .title-wrapper,
  .breadcrumb
    display: none

// Hide breadcrumbs on program panelized pages
.node-type-program-panelized-page
  .breadcrumb
    display: none !important

.node-type-program-panelized-page
  display: block

// Panelized program page blocks
.node-type-program-panelized-page
  .ee-section-header
    max-height: 256px
    +breakpoint(800px max-width)
      max-height: none
  .ee-section-header-overlay
    bottom: 30px

// CTAs block
.node-program.view-mode-field_program_ctas

  .field
    font-size: 16px
    line-height: 1.2
    margin: 1px
    padding: 14px $standard-padding
    position: relative
    a
      display: block

  // Red link CTA
  .field-name-field-application-requirements
    @extend %bg-and-box-shadow
    color: $grey-med
    margin-bottom: 20px
    a,
    a[target="_blank"]
      position: relative
      &:after
        color: $grey-med
      &:hover
        &:after
          color: $teal-light

  // Green link CTAs
  .field-name-field-cta1,
  .field-name-field-cta2
    @extend %bg-and-box-shadow
    a,
    a[target="_blank"]
      color: $link-green
      position: relative
      &:after
        color: #e3e3e3
    &:hover
      a
        color: $link-blue
        &:after
          color: $teal-light

// Program director block
.node-program.view-mode-field_program_director
  // Program director
  .node-staff.view-mode-field_program_director
    @extend %box-shadow
    background: $white
    padding: $standard-padding
    a
      color: $link-green

    // Pane title
    .group-wrapper-contact h3
      font-family: $font-sans
      font-size: 20px
      font-weight: bold
      line-height: 1.3
      margin-bottom: 20px
      .wide-view &
        font-family: $font-demi
        font-size: 24px
        font-weight: normal

    // Name
    .field-name-title
      @extend %divider-top
      color: $black
      padding-top: 5px
      margin-bottom: 5px
      h2
        font-family: $font-sans
        font-size: 18px
        font-weight: bold
        line-height: 1.3

    // Title, Role, Program field and rank field
    .field-name-field-staff-item
      color: $black
      font-size: 16px
      line-height: 1.3
      margin-bottom: 10px

    // Phone
    .field-name-field-phone a
      color: $text-black
      font-size: 14px

    // Email
    .field-name-field-email a
      font-size: 14px
      +icon-after("email-stroke", true)
      &:hover
        color: $link-blue
      &:after
        font-size: 12px
        margin-left: 5px

// Related program in the related sidebar
.node-program.view-mode-idea_story_related
  @extend %divider-bottom
  padding: 18px $standard-padding


// Upcoming application deadlines list
.pane-ee-programs-upcoming-deadlines
  @extend %bg-and-box-shadow
  padding: 0 $standard-padding 26px

  // Pane title
  h2.pane-title
    @extend %black-border-top
    background: $white
    display: block
    color: $text-black
    font-family: $font-demi
    font-size: 18px
    line-height: 1.3
    margin-bottom: -10px
    padding-top: 12px
    position: relative
    a
      color: $text-black
      +icon-after("arrow-double-right", true)
      &:after
        color: $green-light
        font-size: 14px
        margin-left: 3px
      &:hover
        color: $link-blue
        &:after
          color: $teal-light

  .pane-content
    @extend %black-border-top
    padding: 0 26px

  // Fake the spacing
  .view
    margin: 0 -52px

  // Views row
  .views-row
    border-top: 1px $border-grey solid
    padding: 22px $standard-padding
    &:first-of-type
      border-top: 0

  // Title
  .views-field-title
    color: $text-black
    font-size: 20px
    font-family: $font-sans
    font-weight: bold
    line-height: 0
    margin-bottom: 6px
    +breakpoint($bp-mobile-max)
      font-size: 18px
    a
      line-height: 1.2
      &[target="_blank"]
        &:after
          font-size: 12px
      &[href$=".pdf"]
        &[target="_blank"]
          &:after
            font-size: 14px
            margin-left: 3px

  // Date
  .views-field-field-date
    font-size: 16px
    line-height: 1.3

  .view-display-id-upcoming_deadlines
    @extend %divider-bottom
    margin-bottom: 26px

  // CTA
  .list-cta a
    background: $teal-dark
    color: $white
    display: block
    font-size: 16px
    font-weight: bold
    line-height: 1.2
    margin: 0 -26px
    max-width: 270px
    padding: 14px 16px
    &:hover
      background: $link-blue
      text-decoration: underline

// Program customizable list
.pane-ee-programs-upcoming-programs
  @extend %box-shadow
  color: $white
  padding: $standard-padding
  a
    color: $white

  // CTA
  .list-cta a
    color: $white
    display: block
    font-size: 18px
    font-weight: normal
    line-height: 1.2
    max-width: 270px
    padding: 14px 16px
    &:hover
      background: $link-blue
      text-decoration: underline

  // Color options
  // Taupe
  &.taupe
    +background(linear-gradient(bottom, rgba(#655d51, 1), rgba(#655d51, 0.7)), image_url("bg-ee-program-customizable-list-taupe-2016-02-11-1.jpg") no-repeat top left, #655d51)
    padding: 0 $standard-padding $standard-padding
    .list-cta a
      background: $teal-dark
      &:hover
        background: $link-blue
  // Teal
  &.teal
    +background(linear-gradient(bottom, rgba(#149783, 1), rgba(#149783, 0.7)), image_url("bg-ee-program-customizable-list-teal-2016-02-11-1.jpg") no-repeat top left, #149783)
    padding: 0 $standard-padding $standard-padding
    .list-cta a
      background: #655d51
      &:hover
        background: $link-blue

  // Superhead
  .super-head
    @extend %superhead-black
    margin-bottom: 0

  // Pane title
  .pane-title
    h2
      color: $white
      font-family: $font-sans
      font-size: 26px
      font-weight: normal
      line-height: 1.3
      padding-top: 26px

  .pane-content
    margin-top: 26px

  // Program instance items
  .views-row
    border-bottom: 1px rgba($white, 0.3) solid
    padding: 18px 0
    &:last-of-type
      border-bottom: 0

  // Title
  .field-name-field-program
    font-size: 20px
    font-weight: bold
    line-height: 1.3
    .narrow-view &
      font-size: 18px
    a
      +icon-after("arrow-double-right", true)
      &:after
        color: $green-light
        font-size: 14px
        margin-left: 3px
      &:hover
        &:after
          color: $white

  // Date
  .field-name-field-instance-date
    font-family: $font-demi
    font-size: 16px
    font-weight: normal
    line-height: 1.3
    margin-top: 3px

  // Location and time commitment
  .field-collection-item-field-program-location,
  .gsb-time-commitment
    font-size: 16px
    font-weight: normal
    line-height: 1.3

// Exec Ed Header
.node-type-program
  #banner
    background: none
    padding: 0

  .banner-content
    max-width: initial

// Exec Ed Header block
.ee-section-header
  max-height: 400px
  position: relative
  top: 0
  +breakpoint(800px max-width)
    max-height: none

// EE Section Program header image
.ee-section-header-image
  text-align: center
  img
    width: 100%
    +breakpoint(805px max-width)
      vertical-align: bottom

.ee-section-header-overlay
  background: rgba($text-black, 0.9)
  position: absolute
  bottom: 50px
  width: 100%
  opacity: 0.9
  filter: alpha(opacity=90)
  +breakpoint(805px max-width)
    background: rgba($text-black, 1)
    opacity: 1
    filter: alpha(opacity=100)
    position: initial
    bottom: initial

.overlay-inner-wrapper
  +clearfix
  margin: 0 auto
  max-width: 1170px
  padding: $standard-padding 0 14px
  +breakpoint(1190px max-width)
    padding: $standard-padding 10px 14px

// Header and Bottom title
h1.ee-section-header-title,
h1.ee-section-footer-title
  color: $white
  font-family: $font-sans
  font-size: 34px
  font-weight: bold
  line-height: 1.3
  margin-bottom: 16px
  +breakpoint(1170px max-width)
    font-size: 30px
  +breakpoint(600px max-width)
    font-size: 20px

// Header and Bottom Menu
.ee-section-header-menu,
.ee-section-footer-menu
  display: inline-block
  float: left
  +breakpoint(600px max-width)
    display: block
    width: 100%
  .item-list ul li
    display: inline-block
    margin-right: 36px
    +breakpoint(600px max-width)
      display: block
      border-bottom: 1px $grey-med solid
      margin-right: 0
      &:last-of-type
        border-bottom: 0
  a
    color: $grey-med
    font-family: $font-demi
    font-size: 18px
    line-height: 1.2
    text-align: center
    &.active,
    &:hover
      color: $white
    +breakpoint(600px max-width)
      display: block
      padding: 10px
      text-align: left
      &:hover
        background: $grey-dark
        color: $white
      &.active
        background: $grey-dark
// Header Icons
.ee-section-header-social-buttons,
.ee-section-footer-social-buttons,
.ee-section-header-follow-us
  float: right
  margin: 0 10px

  .icon-wrapper
    overflow: visible

  .gsb-social-buttons
    position: relative
    top: -7px
    .share
      background: #7d7465
      color: #7d7465
      height: 32px
      width: 32px
      &:before
        color: $white
        font-size: 15px
        top: 7px
      &:hover
        background: #2d6280
        color: #2d6280
    .count
      display: none
    .sharrre.sharrre-email
      .share:before
        transform: scale(0.8)

.ee-section-footer-social-buttons
  margin-top: 16px
  .gsb-social-buttons
    position: relative
    top: 0

// Header for panelized pages
.node-type-program-panelized-page
  h1.ee-section-header-title,
  .ee-section-header-menu
    margin-left: 80px
    +breakpoint(1000px max-width)
      margin-left: 0

  .ee-section-header-social-buttons,
  .ee-section-footer-social-buttons,
  .ee-section-header-follow-us,
  .ee-section-apply-brochure
    margin-right: 80px


// Hide and show buttons in responsive
.ee-section-header-social-buttons
  +breakpoint(880px max-width)
    display: none

.ee-section-footer-social-buttons
  +breakpoint(881px min-width)
    display: none
  +breakpoint(880px max-width)
    display: block

// Apply and brochure buttons
.page-exec-ed
  #utility
    .region-utility
      margin: 0 auto
      max-width: 1170px

#block-gsb-feature-program-ct-ee-section-apply-brochure
  +clearfix
.ee-section-apply-brochure
  +clearfix
  float: right
  a
    display: inline-block
    font-size: 16px
    line-height: 1.1
    padding: 15px
  +breakpoint(600px max-width)
    margin-right: 20px
    max-width: 280px

  .apply-button,
  .download-brochure
    display: inline-block
    float: right
    height: 47px
    a
      @extend %gradient-red
      color: $white


  // Pre Assessment link
  .pre-qualication-link
    @extend %box-shadow
    background: $white
    display: inline-block
    float: left
    +breakpoint(600px max-width)
      float: none
      margin-left: 29px

  // Download link
  .download-brochure
    border-left: 1px #d50707 solid

// Faculty panelized block
.node-program-instance.view-mode-field_program_faculty

  // Section Titles
  h2
    color: $text-black
    font-size: 32px
    font-weight: normal
    line-height: 1.3
    margin-bottom: 26px

  // Divider
  .entity-field-collection-item
    @extend %divider-top

  // Image
  .field-name-field-image-single-public
    float: left
    margin-bottom: 16px
    margin-right: 16px
    margin-top: 2px
    height: 90px
    width: 90px
    position: relative
    z-index: 1

  // Info wrapper
  .group-wrapper-info
    float: left
    margin-left: -106px
    padding-left: 106px
    width: 100%

  // Other fields
  .group-wrapper-name,
  .field-name-field-academic-title
    padding-left: 106px
    width: 100%

  // Name
  .field-name-title,
  .group-wrapper-name
    font-family: $font-sans
    font-size: 16px
    font-weight: bold
    line-height: 1.3
    margin-bottom: 6px
    padding-top: 12px
    a
      color: $link-green
      &:hover
        color: $link-blue
        text-decoration: none
        border-bottom:  1px solid

  // Faculty and Other Titles
  .field-name-field-title-appointment,
  .field-name-senior-associate-dean-title,
  .field-name-field-joint-appointment,
  .field-name-field-faculty-director-positions,
  .field-name-field-academic-title
    font-size: 16px
    line-height: 1.3
    margin-bottom: 6px

  // All field collections
  .field-name-field-faculty-directors,
  .field-name-field-faculty-1,
  .field-name-field-faculty-2,
  .field-name-field-guest-speakers-advisors-fc
    +clearfix
    margin-bottom: 26px
    // Other photo and name
    .group-wrapper-name,
    .group-wrapper-photo
      a
        color: $link-green
        &:hover
          color: $link-blue
        &:after
          display: none

  // Faculty Directors field collection
  .field-collection-item-field-faculty-directors.view-mode-full
    +clearfix
    margin-bottom: 30px
    // Description field
    .field-name-field-description
      font-size: 16px
      font-weight: normal
      line-height: 1.3
      margin-top: 6px
      margin-left: 189px

  // Individual faculty directors
  .field-name-field-faculty-directors
    // Image
    .field-name-field-image-single-public
      float: left
      margin-bottom: 24px
      margin-right: 24px
      margin-top: 2px
      height: 165px
      width: 165px
      position: relative
      z-index: 1
      +breakpoint(600px max-width)
        height: 90px
        width: 90px

    // Info wrapper
    .group-wrapper-info
      margin-left: -189px
      padding-left: 189px

    // Other fields
    .group-wrapper-name,
    .field-name-field-academic-title
      padding-left: 189px

    // Name
    .field-name-title,
    .field-name-field-other-name,
    .group-wrapper-name
      font-size: 24px
      margin: 16px 0 12px

    // Title, SAD, Joint titles
    .field-name-field-title-appointment,
    .field-name-senior-associate-dean-title,
    .field-name-field-joint-appointment,
    .field-name-field-academic-title
      font-family: $font-demi
      font-size: 20px
      font-weight: normal
      line-height: 1.3
      margin-bottom: 10px

    // Faculty director positions
    .field-name-field-faculty-director-positions
      font-size: 18px
      font-weight: normal
      line-height: 1.3

    .field-name-field-faculty-director-positions div
      margin-bottom: 6px

    // Academic title spacing
    .field-name-field-academic-title
      margin-top: 10px
      margin-bottom: 10px

  // Faculty 1 field collection field
  // Faculty 2 field collection field
  // Guest Speakers and Advisors field collection field

  // Side-by-side display
  .field-collection-item-field-faculty-1.view-mode-full,
  .field-collection-item-field-faculty-2.view-mode-full,
  .field-collection-item-field-guest-speakers-advisors-fc.view-mode-full
    float: left
    margin-top: 20px
    width: 45.7%

    &:nth-of-type(odd)
      clear: left
      margin-right: 50px
    +breakpoint(1197px max-width)
      margin-right: 0
      width: 100%

// Exec Ed footer
.page-exec-ed
  #bottom .bottom-content
    max-width: initial
    +breakpoint($bp-content-max)
      padding: 0

// Program notice
.ee-section-footer-subject-to-change
  margin: 0 auto
  max-width: 1170px
  text-align: right
  +breakpoint(1000px max-width)
    padding: 0 10px

// Footer title and menu
.ee-section-footer-overlay
  background: $text-black
  .overlay-inner-wrapper
    margin-top: 20px
    max-width: 1170px
    padding: 20px 0
    +breakpoint(1200px max-width)
      padding: 20px

// Program 3 across for EE homepage list
.pane-bundle-programs-list
  +clearfix

  // Pane title
  .field-name-field-title
    color: $text-black
    font-size: 32px
    font-weight: normal
    line-height: 1.3
    margin-bottom: 26px

  .gsb-program-explore-more-wrapper
    display: inline-block
    float: left
    margin-bottom: 20px
    vertical-align: top

  .node-program-instance.view-mode-program_explore_other
    display: inline-block
    vertical-align: top
    width: 360px
    &:nth-of-type(1n)
      margin-right: 22px
    &:nth-of-type(2n)
      margin: 0 22px
    &:nth-of-type(3n)
      margin-left: 22px
      margin-right: 0
    +breakpoint(1205px max-width)
      width: 30%
    +breakpoint(935px max-width)
      margin: 0 0 18px 0 !important
      width: 100%
      .gsb-display-image
        display: none

  // Individual programs
  .node-program-instance.view-mode-program_explore_other

    // Image
    .gsb-display-image
      margin-bottom: 12px
      max-width: 360px
      a:after
        display: none

    // Title
    .field-name-field-program a
      font-size: 20px
      font-weight: bold
      line-height: 1.3

    // Date
    .field-name-field-instance-date
      font-family: $font-demi
      font-size: 16px
      font-weight: normal
      line-height: 1.3
      margin-top: 3px

    // Format and Location
    .field-name-field-program-location
      font-size: 16px
      line-height: 1.3
      margin-top: 3px

  // Program CTA styling
  .gsb-program-fpp-cta-wrapper
    margin-bottom: 1px
    text-align: center

  .field-name-field-cta1
    @extend %bg-and-box-shadow
    display: inline-block
    margin: 0 auto
    text-align: initial
    width: 250px
    padding: 14px $standard-padding
    a,
    a[target="_blank"]
      color: $link-green
      font-size: 20px
      line-height: 1.2
      position: relative
      text-decoration: none
      +icon-after("arrow-double-right", true)
      &:after
        @extend %arrow-double-big
        right: -60px
        font-weight: bold
        color: #e3e3e3
      &:hover
        color: $link-blue
        border-bottom: 1px $link-blue solid
        &:after
          color: $teal-light

// Need more information block
#block-gsb-public-custom-blocks-gpcb-need-more-information
  background: #f4f4f4
  min-height: 175px
  padding: $standard-padding
  .cta-list-wrapper
    text-align: center
    width: 100%

  h4
    font-size: 32px
    line-height: 1.2
    font-weight: normal
    margin-bottom: 10px
    text-align: center
    +breakpoint(640px max-width)
      font-size: 28px
    +breakpoint(320px max-width)
      font-size: 24px

  .cta-item
    @extend %bg-and-box-shadow
    display: inline-block
    margin-right: 14px
    margin-top: 30px
    text-align: left
    padding: 14px 26px
    width: 270px
    +breakpoint(640px max-width)
      margin-right: 0
      margin-top: 8px
      padding: 14px 22px
      width: 100%
    a,
    a[target="_blank"]
      color: $link-green
      font-size: 18px
      line-height: 1.2
      position: relative
      text-decoration: none
      +icon-after("arrow-double-right", true)
      &:after
        @extend %arrow-double-big
        color: #e3e3e3
        left: 200px
        +breakpoint(640px max-width)
          float: right
          left: 10px
          position: relative
          top: 10px
      &:hover
        color: $link-blue
        border-bottom: 1px $link-blue solid
        &:after
          color: $teal-light

// Application Finder block
.block-gsb-feature-program-app-finder
  +background(linear-gradient(rgba($text-black, 0.6), rgba($text-black, 1)), image_url("bg-ee-app-finder-2016-04-22-1.jpg") no-repeat top center)

.app-finder-form-wrapper
  color: $white
  margin: 0 auto
  max-width: 800px
  text-align: center
  a
    color: $white

  #edit-app-finder
    padding: 52px $standard-padding

  // Header
  h4
    color: $white
    font-size: 46px
    font-weight: normal
    line-height: 1.2
    margin-bottom: 20px
    +breakpoint(640px max-width)
      font-size: 36px
    +breakpoint(320px max-width)
      font-size: 32px

  // Instructions
  .programs-instructions,
  .programs-text
    font-size: 30px
    line-height: 1.3
    margin-bottom: 20px
    +breakpoint(640px max-width)
      font-size: 26px
    +breakpoint(320px max-width)
      font-size: 24px

  .programs-instructions
    margin: 0 auto 20px
    max-width: 550px

  // Disclaimer
  .programs-disclaim
    color: #c4c4c4
    font-size: 16px
    font-style: italic
    line-height: 1.2
    margin-top: 20px

  // Select box
  .form-item.form-item-programs
    margin: 20px 0

  .program-find-app-select
    width: 272px !important
    .ms-choice
      @extend %border-grey
      background: $white
      border-radius: 0
      color: $text-black
      height: 47px
      > span
        color: $text-black
        font-family: $font-sans
        font-size: 16px
        height: 47px
        line-height: 2.9
        padding: 0
        padding-left: 18px
        text-align: left
      // Select arrow
      > div
        +icon-after("arrow-med-down", true)
        &:after
          background-color: #f9f9f9
          border-left: 1px solid $grey-c
          color: $red
          display: inline-block
          float: right
          font-size: 14px
          line-height: 3
          height: 45px
          padding: 0 16px
          position: relative
          top: 1px
          left: -1px
        &:hover
          &:after
            background-color: $link-blue
            color: $white
        &.open
          +icon-after("arrow-med-up", true)
          &:after
            line-height: 3
    .ms-drop.bottom
      @extend %border-grey
      border-radius: 0
      min-width: 500px
      overflow: visible
      +breakpoint(640px max-width)
        min-width: 100%
  .ms-drop ul > li
    margin-left: 20px
    label
      margin-right: 0
      text-indent: -18px
      white-space: inherit
    input
      left: -10px
      position: relative

  // Program info and deadline
  .programs-instance-title,
  .programs-instance-deadline
    font-size: 20px
    line-height: 1.3
    +breakpoint(640px max-width)
      font-size: 18px

  .programs-instance-deadline
    margin-bottom: 20px

  // Program date
  select.programs-instance-date-select
    width: 382px !important
    height: 36px !important

  .programs-instance-date-select
    .customSelectInner
      width: 360px !important
      font-size: 16px
      font-family: $font-sans
      padding: 8px 6px 6px 18px
      text-align: left

  // Sample application link
  .programs-instance-sample-app-form-url-wrapper a
    border: 1px #6e6b6c solid
    font-size: 18px
    display: inline-block
    line-height: 1.2
    margin-right: 10px
    padding: 10px 14px
    &:after
      color: $white

  // Application button
  .programs-instance-application-url-wrapper a
    @extend %gradient-red
    display: inline-block
    font-size: 18px
    line-height: 1.2
    padding: 10px 14px
    +breakpoint(320px max-width)
      position: relative
      top: 8px

  // Select different program
  .programs-different
    border-top: 1px #6d6d6d solid
    font-size: 18px
    line-height: 1.2
    padding-top: $standard-padding
    +breakpoint(640px max-width)
      font-size: 18px
    a
      border-bottom: 1px $white solid
      &:hover
        text-decoration: none

  // Drop down list
  ul
    padding: $standard-padding $standard-padding 10px $standard-padding
    text-align: left
    li
      font-size: 16px
      line-height: 1.2
      margin-bottom: 16px

// Faculty Teaching List
.pane-faculty-teaching-list
  h2.isotopify-title
    margin-top: 26px
  .isotopify-filters
    border-top: 3px $text-black solid
    #edit-filters
      background: $grey-f
      border-bottom: 1px solid $grey-c
      padding: 18px $standard-padding
      position: relative
      overflow: hidden
      width: 100%
      .form-item-search
        width: 100%
        #edit-search--2
          width: 472px
          height: 36px
        #edit-submit
          height: 36px
          width: 36px
          .svg &
            +background(image_url("search-white.svg") no-repeat 60% 47%, linear-gradient(bottom, $red-light 0%, $red-dark 100%))
            background-size: 60px
            &:hover
              +background(image_url("search-white.svg") no-repeat 60% 47%, linear-gradient(top, $link-blue, $link-blue))
              background-size: 60px
          .no-js &, .no-svg &
            +background(image_url("search.png") no-repeat 11px 11px, linear-gradient(bottom, $red-light 0%, $red-dark 100%))
            &:hover
              +background(image_url("search-white.png") no-repeat 11px 11px, linear-gradient(top, #18455f, $link-blue))
  .isotopify-wrapper
    margin-top: 30px
    .isotopify-item
      @extend %bg-and-box-shadow
      margin: 0
      border-bottom: 2px $white solid
      display: inline-block
      float: left
      margin-left: 6px
      margin-right: 6px
      margin-bottom: 24px
      min-height: 300px
      width: 130px
      position: initial !important
      .node-faculty
        border-top: 0
        padding: 0 10px
        .field-name-field-image-single-public
          margin: 0 -12px 0 -12px
          float: none
        // Name
        .field-name-title
          margin: 14px 0 8px 0
          font-size: 18px
          line-height: 1.2
          font-family: $font-demi
          font-weight: normal
          a:hover
            color: $link-blue
        .person-position,
        .person-area
          display: inline-block
          font-family: $font-demi
          font-size: 14px
          font-weight: normal
          line-height: 1.3
          margin: 0
          float: left
          color: $text-black
          vertical-align: top
          &:after
            content: ","
            margin-right: 0.3em
          &:last-child
            &:after
              content: ""
              margin-right: 0

// Checklist of Programs on initial page
.webform-component--brochure-list
  label[for="edit-submitted-brochure-list"]
    display: none
  #edit-submitted-brochure-list
    .topicSet
      @extend %divider-bottom
      padding: 20px $standard-padding 14px
      &:last-of-type
        border-bottom: 0
    .topic-header
      padding-bottom: 8px
      label
        font-weight: bold
        font-size: 20px
    .programSet
      .form-item
        display: inline-block
        margin-right: 30px
        vertical-align: top
      input[type="checkbox"]
        vertical-align: top
        margin-right: 8px
        position: relative
        top: 2px
      label
        width: 225px
        display: inline-block
        margin-top: 0
      +breakpoint(640px max-width)
      label
        width: 206px !important


.webform-component--your-contact-information--address
  .webform-component--your-contact-information--address--country
    +breakpoint(640px max-width)
      .customSelectInner
        width: 203px !important

// Brochure results for program
.pane-ee-brochure-download
  .item-list
    ul
      margin: $standard-padding 0 0 0
      li
        margin: 0 0 16px 0
        border-top: 1px solid $listing-divider
        padding-top: 10px
  a.button
    @extend %green-button
    display: inline-block
    margin-top: 30px

// Programs compare
.page-programs-compare,
.page-exec-ed-programs-compare

  #banner,
  .breadcrumb
    display: none

  #content
    max-width: initial

  #main
    padding: 0

  .region-content
    margin: 0 auto
    max-width: 1170px

  .title-wrapper
    background: #f4f4f4
    display: block
    margin-bottom: 30px
    padding: 30px 20px 0 20px

  #page-title
    margin: 0 auto
    max-width: 1170px

  // Back to finder link

  // Save button

// Compared page view
.view-display-id-compare

  // Program title
  .views-field-title a
    font-family: $font-sans
    font-size: 26px
    font-weight: bold
    line-height: 1.3
    &:hover
      text-decoration: none
      border-bottom: 1px solid $text-blue

  // Instance date and label
  .views-field-field-instance-date,
  .views-field-field-instance-label
    font-family: $font-demi
    font-size: 16px
    line-height: 1.3

  // Time commitment
  .views-field-field-time-commitment
    font-size: 16px
    font-weight: normal
    line-height: 1.3
    color: #686868

  // Program format and location
  .views-field-field-program-location
    font-size: 16px
    line-height: 1.3
    font-weight: normal

  // Titles
  .views-field-nothing-2,
  .views-field-nothing-3,
  .views-field-field-tuition,
  .views-field-field-awarded-upon-completion,
  .views-field-field-overview-intro,
  .views-field-field-key-benefits-intro,
  .views-field-nothing
    div.title
      font-size: 20px
      font-weight: bold
      line-height: 1.3
      margin-bottom: 12px
      visibility: hidden
      font-family: $font-sans
      +breakpoint(999px max-width)
        visibility: visible

  // Application deadline, Tuition & Awarded Upon Completion title,key benefits, overview & Key Topics
  .views-field-nothing-3 .field-collection-item-field-application-deadlines,
  .views-field-field-tuition,
  .views-field-field-awarded-upon-completion,
  .views-field-field-overview-intro,
  .views-field-field-key-benefits-intro,
  .views-field-nothing
    font-size: 16px
    line-height: 1.3
    font-weight: normal

  // Who Should Attend
  .views-field-nothing-2
    .item-list
      font-size: 16px
      line-height: 1.3
      font-weight: normal
      margin-left: 20px
      ul
        list-style-type: disc
        li
          padding-bottom: 10px

  // Contact
  .views-field-field-program-director-name,
  .views-field-nothing-1
    div.title
      font-family: $font-sans
      font-size: 20px
      font-weight: bold
      line-height: 1.3
      margin-bottom: 12px
      visibility: hidden
    .view-mode-program_director
      margin-bottom: 6px
      div
        font-size: 16px
        font-weight: normal
        line-height: 1.3

      h2
        line-height: 1.3
        margin-bottom: 6px
      a
        color: $text-black
        font-size: 16px

      div.field-name-field-email a
        color: $text-green
        +icon-after("email-stroke", true)
        &:after
          margin-left: 5px
        &:hover
          color: $text-blue

    // Phone field
    .field-name-field-phone
      a
        display: inline-block
        font-size: 15px

  // Free link field
  .views-field-nothing-1
    a
      font-family: $font-sans
      font-size: 16px
      color: $text-green
      display: block

  // Brochure download
  .views-field-field-brochure-pdf
    border-top: 0
    margin-top: 26px
    #apower-pdf,
    #direct-pdf
      @extend %bg-and-box-shadow
      background: $white
      width: 270px
      a
        color: $link-green
        font-size: 16px
        line-height: 1.2
        position: relative
        padding: 16px 36px 16px $standard-padding
        display: block
        &:hover
          color: $text-blue
        +icon-after("pdf", true)
        &:after
          position: absolute
          font-size: 16px
          right: 12px
          top: 50%
          margin-top: -10px

  // Tution footnote
  .view-footer
    margin-top: 30px
    padding: 0 20px
    p

      font-family: $font-sans
      font-size: 16px
      line-height: 1.3

  // Compared page stacked
  .attachment-before
    display: none
    +breakpoint(999px max-width)
      display: block
  .compared-page-responsive
    padding: 0 20px

    // Each program
    .views-row
      @extend %divider-bottom
      margin-top: 30px
      padding-bottom: 30px

    // Dividing line on each field
    .views-field
      @extend %divider-bottom
      padding: 0 $standard-padding 12px
      &:first-of-type,
      &.views-field-field-brochure-pdf,
      &.views-field-nothing-1
        border-bottom: 0
        padding-bottom: 0


    // Program Title
    .views-field-title
      padding-bottom: 20px

    // Headings
    div.title
      visibility: visible
      margin: 12px 0
      padding-bottom: 0

  // Compared page as table
  table.views-table
    margin: 0 auto
    +breakpoint(999px max-width)
      display: none
    tr
      border-top: 1px solid $listing-divider
      &.views-row-last
        border-top: 0
      &.views-row-first
        border-top: 0
    th,
    td
      padding: 14px $standard-padding
      width: 33.33%
      +breakpoint(1170px max-width)
        max-width: 330px
        width: initial
      &:first-of-type
        div.title
          visibility: visible
    +breakpoint(999px max-width)
      tr, th, td
        display: block
