@charset "UTF-8"

// IMPORT COMPASS AND EXTENSIONS
@import compass
@import breakpoint
@import ../../../fonts/icons/icons
@import partials/base/00-variables/all
@import partials/base/01-mixins/custom
@import partials/base/03-extend/gsb-revamp

// Exec Ed section title next to logo
#block-gsb-public-custom-blocks-gpcb-exec-ed
  border-left: 1px solid #d6d6d6
  display: inline-block
  height: 59px
  padding-top: 18px
  position: absolute
  +breakpoint(1169px max-width)
    height: 50px
    left: 235px
    padding-top: 10px
  h2
    line-height: 0
    a
      color: $text-black
      font-family: $font-demi
      font-size: 24px
      line-height: 1.2
      padding-left: 10px
      +breakpoint(568px max-width)
        font-size: 18px

// Display mega menu items in 2 columns
.menu-name-menu-executive-education-mega-me
  -moz-column-count: 2
  -webkit-column-count: 2
  column-count: 2

// Responsive masthead
.page-exec-ed

  // EE Masthead elements
  .qtip-content
    background: #645c51 !important
    .pane-title
      display: none

  // Responsive Megamenu
  .qtip
    +breakpoint(1169px max-width)
      display: none !important

  // Mobile footer menu
  #menu-main-footer
    display: none
    +breakpoint(1169px max-width)
      +background(linear-gradient($grey-e, $white))
      +clearfix
      display: block
      padding: 12px 50px 0 50px
      width: 100%
      .menu
        width: auto
      li
        line-height: 1.2
        padding-bottom: 12px
      a
        font-weight: bold
        font-size: 13px
        line-height: 1.2
        text-transform: uppercase

  // Mobile menu button
  #nav-touch-wrapper
    display: inline
    +breakpoint(1169px max-width)
      display: block

    #nav-touch-button
      display: none
      +breakpoint(1169px max-width)
        border-right: 1px #9b9285 solid
        cursor: pointer
        display: inline-block
        height: 50px
        padding: 3px 12px 9px
        vertical-align: top
        position: relative
        width: 50px
        z-index: 12
    #nav-touch-button
      +icon-after("menu", true)
      &:after
        color: $white
        font-size: 21px
        position: relative
        top: 12px
        right: -2px

  // Menu toggle functionality
  #nav-touch-wrapper
    +breakpoint(1169px max-width)
      max-height: 50px
      display: inline-block
      float: left

      #nav-touch-button
        background: #7d7466
        &:hover
          text-decoration: none
      #navigation
        display: none
    &.open
      +breakpoint(1169px max-width)
        #nav-touch-button
          background: $white
          +background(linear-gradient($grey-e, $white))
          &:after
            color: $red
        #navigation
          display: block !important
          position: absolute !important
          width: 100% !important
          z-index: 11 !important

  // Search toggle functionality
  #search-touch-button
    display: none
    &:hover
      text-decoration: none
    +breakpoint(1169px max-width)
      background: #7d7466
      border-right: 1px #9b9285 solid
      cursor: pointer
      display: inline-block
      height: 50px
      left: 50px
      position: absolute
      width: 50px
      +icon-after("search", true)
      &:after
        color: $white
        font-size: 24px
        padding: 0 12px
        position: relative
        top: 16px


  // Global search
  .global-search
    +breakpoint(1170px min-width)
      float: left
      height: 0
      margin-top: $top-border-interval
      width: 200px
      .search-closed &,
      .js &
        width: auto
      .js .search-open &
        width: 200px

  // Left hand rail menu
  .region-sidebar-first
    background: none
    border-top: 1px $border-grey solid
    ul li
      color: #7d7466
      font-family: $font-sans
      font-size: 16px
      font-weight: normal
      line-height: 1.2
      a
        color: #7d7466
        &:hover
          color: $text-black
        &.active
          color: $text-black
    ul li ul li ul li a
      font-family: $font-sans
      font-weight: normal

// Hide breadcrumbs on program pages
.node-type-program .breadcrumb
  display: none

// Panelized program page blocks

// CTAs block
.node-program.view-mode-field_program_ctas

  .field
    font-size: 16px
    line-height: 1.2
    margin: 1px
    padding: 14px $standard-padding
    position: relative
    a
      display: block

  // Red link CTA
  .field-name-field-application-requirements
    @extend %bg-border-and-box-shadow
    color: $grey-med
    margin-bottom: 20px
    a,
    a[target="_blank"]
      position: relative
      &:after
        color: $grey-med
      &:hover
        &:after
          color: $teal-light

  // Green link CTAs
  .field-name-field-cta1,
  .field-name-field-cta2
    @extend %bg-border-and-box-shadow
    a,
    a[target="_blank"]
      color: $link-green
      position: relative
      &:after
        color: #e3e3e3
    &:hover
      a
        color: $link-blue
        &:after
          color: $teal-light

// Curriculum blocks
// Intro block
.node-program.view-mode-field_program_curriculum
  font-size: 24px !important
  font-weight: normal
  line-height: 1.4 !important


// Description block 1 and 2
.node-program.view-mode-field_program_curriculum_one,
.node-program.view-mode-field_program_curriculum_two
  h2
    color: $text-black
    font-family: $font-sans
    font-size: 32px
    font-weight: normal
    line-height: 1.3
    margin-bottom: 0.5em
  h3
    color: $text-black
    font-family: $font-sans
    font-size: 24px
    font-weight: bold
    line-height: 1.3
    margin-bottom: 0.5em
  h4
    color: $text-black
    font-family: $font-sans
    font-size: 20px
    font-weight: bold
    line-height: 1.3
    margin-bottom: 0.5em
  p
    color: $text-black
    font-family: $font-sans
    font-size: 18px
    font-weight: normal
    line-height: 1.4
    margin-bottom: 1em
    &:last-of-type
      margin-bottom: 0

// Program director block
.node-program.view-mode-field_program_director
  // Program director
  .node-staff.view-mode-field_program_director
    @extend %box-shadow
    background: $white
    padding: $standard-padding
    a
      color: $link-green

    // Pane title
    .group-wrapper-contact h3
      font-family: $font-sans
      font-size: 20px
      font-weight: bold
      line-height: 1.3
      margin-bottom: 20px
      .wide-view &
        font-family: $font-demi
        font-size: 24px
        font-weight: normal


    // Name
    .field-name-title
      @extend %divider-top
      color: $black
      padding-top: 5px
      margin-bottom: 5px
      h2
        font-family: $font-sans
        font-size: 18px
        font-weight: bold
        line-height: 1.3

    // Title, Role, Program field and rank field
    .field-name-field-staff-item
      color: $black
      font-size: 16px
      line-height: 1.3
      margin-bottom: 10px

    // Phone
    .field-name-field-phone a
      color: $text-black
      font-size: 14px

    // Email
    .field-name-field-email a
      font-size: 14px
      +icon-after("email-stroke", true)
      &:hover
        color: $link-blue
      &:after
        font-size: 12px
        margin-left: 5px

// Related program in the related sidebar
.node-program.view-mode-idea_story_related
  @extend %divider-bottom
  padding: 18px $standard-padding


// Upcoming application deadlines list
.pane-ee-programs-upcoming-deadlines
  @extend %bg-and-box-shadow
  padding: 0 $standard-padding 26px

  // Pane title
  h2.pane-title
    @extend %black-border-top
    background: $white
    display: block
    color: $text-black
    font-family: $font-demi
    font-size: 18px
    line-height: 1.3
    margin-bottom: -10px
    padding-top: 12px
    position: relative
    a
      color: $text-black
      +icon-after("arrow-double-right", true)
      &:after
        color: $green-light
        font-size: 14px
        margin-left: 3px
      &:hover
        color: $link-blue
        &:after
          color: $teal-light

  .pane-content
    @extend %black-border-top
    padding: 0 26px

  // Fake the spacing
  .view
    margin: 0 -52px

  // Views row
  .views-row
    border-top: 1px $border-grey solid
    padding: 22px $standard-padding
    &:first-of-type
      border-top: 0

  // Title
  .views-field-title
    color: $text-black
    font-size: 20px
    font-family: $font-sans
    font-weight: bold
    line-height: 0
    margin-bottom: 6px
    +breakpoint($bp-mobile-max)
      font-size: 18px
    a
      line-height: 1.2
      &[target="_blank"]
        &:after
          font-size: 12px
      &[href$=".pdf"]
        &[target="_blank"]
          &:after
            font-size: 14px
            margin-left: 3px

  // Date
  .views-field-field-date
    font-size: 16px
    line-height: 1.3

  .view-display-id-upcoming_deadlines
    @extend %divider-bottom
    margin-bottom: 26px

  // CTA
  .list-cta a
    background: $teal-dark
    color: $white
    display: block
    font-size: 16px
    font-weight: bold
    line-height: 1.2
    margin: 0 -26px
    max-width: 270px
    padding: 14px 16px
    &:hover
      background: $link-blue
      text-decoration: underline

// Program customizable list
.pane-ee-programs-upcoming-programs
  @extend %box-shadow
  color: $white
  padding: $standard-padding
  a
    color: $white

  // CTA
  .list-cta a
    color: $white
    display: block
    font-size: 18px
    font-weight: normal
    line-height: 1.2
    max-width: 270px
    padding: 14px 16px
    &:hover
      background: $link-blue
      text-decoration: underline

  // Color options
  // Taupe
  &.taupe
    +background(linear-gradient(bottom, rgba(#655d51, 1), rgba(#655d51, 0.7)), image_url("bg-ee-program-customizable-list-taupe-2016-02-11-1.jpg") no-repeat top left, #655d51)
    padding: 0 $standard-padding $standard-padding
    .list-cta a
      background: $teal-dark
      &:hover
        background: $link-blue
  // Teal
  &.teal
    +background(linear-gradient(bottom, rgba(#149783, 1), rgba(#149783, 0.7)), image_url("bg-ee-program-customizable-list-teal-2016-02-11-1.jpg") no-repeat top left, #149783)
    padding: 0 $standard-padding $standard-padding
    .list-cta a
      background: #655d51
      &:hover
        background: $link-blue

  // Superhead
  .super-head
    @extend %superhead-black

  // Pane title
  .pane-title h2
    color: $white
    font-family: $font-sans
    font-size: 26px
    font-weight: normal
    line-height: 1.3

  .pane-content
    margin-top: 26px

  // Program instance items
  .views-row
    border-bottom: 1px rgba($white, 0.3) solid
    padding: 18px 0
    &:last-of-type
      border-bottom: 0

  // Title
  .field-name-field-program
    font-size: 20px
    font-weight: bold
    line-height: 1.3
    .narrow-view &
      font-size: 18px
    a
      +icon-after("arrow-double-right", true)
      &:after
        color: $green-light
        font-size: 14px
        margin-left: 3px
      &:hover
        &:after
          color: $white

  // Date
  .field-name-field-instance-date
    font-family: $font-demi
    font-size: 16px
    font-weight: normal
    line-height: 1.3
    margin-top: 3px

  // Location and time commitment
  .field-collection-item-field-program-location,
  .gsb-time-commitment
    font-size: 16px
    font-weight: normal
    line-height: 1.3

// Exec Ed Header
.node-type-program
  #banner
    background: none
    padding: 0

  .banner-content
    max-width: initial

// Header block
.ee-section-header
  max-height: 400px
  position: relative
  top: 0

.ee-section-header-overlay
  background: rgba($text-black, 0.9)
  position: absolute
  bottom: 50px
  width: 100%

.overlay-inner-wrapper
  +clearfix
  margin: 0 auto
  max-width: 1170px
  padding: 20px 0

// Header Section title
h1.ee-section-header-title
  color: $white
  font-family: $font-sans
  font-size: 34px
  font-weight: bold
  line-height: 1.3
  margin-bottom: 26px

// Header Menu
.ee-section-header-menu
  display: inline-block
  float: left
  width: 60%
  ul
    +flex-box
    -webkit-box-flex-flow: row wrap
    -moz-box-flex-flow: row wrap
    -ms-flexbox-flex-flow: row wrap
    -webkit-flex-flex-flow: row wrap
    flex-flow: row wrap
    -webkit-box-justify-content: space-between
    -moz-box-justify-content: space-between
    -ms-flexbox-justify-content: space-between
    -webkit-flex-justify-content: space-between
    justify-content: space-between
  li
  a
    color: $grey-med
    font-family: $font-demi
    font-size: 18px
    line-height: 1.2
    text-align: center

// Header Icons
.ee-section-header-follow-us
  float: right
  margin: 0 10px

  .icon-wrapper
    overflow: visible

// Apply and brochure buttons
#block-gsb-feature-program-ct-ee-section-apply-brochure
  +clearfix
.ee-section-apply-brochure
  @extend %gradient-red
  float: right
  max-width: 270px
  a
    color: $white
    font-size: 16px

  // Apply button
  .apply-button
    padding: 14px

// Faculty panelized block
.node-program-instance.view-mode-field_program_faculty

  // Section Titles
  h2
    color: $text-black
    font-size: 32px
    font-weight: normal
    line-height: 1.3
    margin-bottom: 26px

  // Divider
  .node-faculty
    +clearfix
    @extend %divider-top

  // Image
  .field-name-field-image-single-public
    float: left
    margin-bottom: 24px
    margin-right: 24px
    margin-top: 2px
    height: 120px
    width: 120px
    position: relative
    z-index: 1

  // Info wrapper
  .group-wrapper-info
    float: left
    margin-left: -144px
    padding-left: 144px
    width: 100%

  // Other fields
  .field-name-field-other-name,
  .field-name-field-academic-title
    padding-left: 144px
    width: 100%

  // Name
  .field-name-title,
  .field-name-field-other-name
    color: $black
    font-family: $font-sans
    font-size: 20px
    font-weight: bold
    line-height: 1.3
    margin-bottom: 3px
    padding-top: 12px
    a
      color: $link-green
      &:hover
        color: $link-blue

  // Faculty and Other Titles
  .field-name-field-title-appointment,
  .field-name-senior-associate-dean-title,
  .field-name-field-joint-appointment,
  .field-name-field-faculty-director-positions,
  .field-name-field-academic-title
    font-size: 16px
    line-height: 1.3
    margin-bottom: 6px

  // All field collections spacing
  .field-name-field-faculty-directors,
  .field-name-field-faculty-1,
  .field-name-field-faculty-2,
  .field-name-field-guest-speakers-advisors-fc
    margin-bottom: 26px

  // Faculty Directors field collection
  .field-collection-item-field-faculty-directors.view-mode-full
    margin-bottom: 18px
    // Description field
    .field-name-field-description
      font-size: 18px
      font-weight: normal
      line-height: 1.3
      margin-top: 6px
      margin-left: 189px

  // Individual faculty
  .node-faculty.view-mode-faculty_leadership
    // Image
    .field-name-field-image-single-public
      height: 165px
      width: 165px

    // Info wrapper
    .group-wrapper-info
      margin-left: -189px
      padding-left: 189px

    // Other fields
    .field-name-field-other-name,
    .field-name-field-academic-title
      padding-left: 189px

    // Name
    .field-name-title,
    .field-name-field-other-name
      font-size: 24px
      margin: 18px 0

    // Title, SAD, Joint titles
    .field-name-field-title-appointment,
    .field-name-senior-associate-dean-title,
    .field-name-field-joint-appointment,
      font-family: $font-demi
      font-size: 20px
      font-weight: normal
      line-height: 1.3
      margin-bottom: 6px

    // Faculty director positions
    .field-name-field-faculty-director-positions,
    .field-name-field-academic-title
      font-size: 18px
      font-weight: normal
      line-height: 1.3
      margin-top: 6px


  // Faculty 1 field collection field
  // Faculty 2 field collection field
  // Guest Speakers and Advisors field collection field
  .field-name-field-faculty-1,
  .field-name-field-faculty-2,
  .field-name-field-guest-speakers-advisors-fc
    +clearfix

  // Side-by-side display
  .field-collection-item-field-faculty-1.view-mode-full,
  .field-collection-item-field-faculty-2.view-mode-full,
  .field-collection-item-field-guest-speakers-advisors-fc.view-mode-full
    float: left
    margin-top: 12px
    width: 47.7%
    &:nth-of-type(odd)
      clear: left
      margin-right: 30px
    +breakpoint(1197px max-width)
      margin-right: 0
      width: 100%
