@charset "UTF-8"

// IMPORT COMPASS AND EXTENSIONS
@import compass
@import breakpoint
@import ../../../fonts/icons/icons
@import partials/base/00-variables/all
@import partials/base/01-mixins/custom
@import partials/base/03-extend/gsb-revamp

$page-top-variable: 120px

// Program finder page hackiness
.page-node-409306
  #content
    max-width: none

  .title-wrapper,
  .breadcrumb
    display: none
  #top-content
    background: #f4f4f4
    height: $page-top-variable
  .full-header
    margin: 0 auto
    max-width: 1170px
    padding-top: $standard-padding
    position: relative
    top: -$page-top-variable
    margin-bottom: -$page-top-variable

// Page layout
.pane-program-list
  +clearfix

  // Filters wrapper
  .isotopify-filters
    margin-bottom: $page-top-variable + 30px

  // List
  .programs
    float: left
    margin-right: 50px
    max-width: 850px
    width: 100%

  // Image CTAs
  .image-ctas
    float: left
    max-width: 270px
    width: 100%
    .cta
      margin-bottom: 20px

// Exec Ed program finder filters
.pane-program-list .isotopify-filters
  position: relative

  #isotopify-filters > div
    +flex-box
    flex-flow: row wrap
    justify-content: space-between

  // Sort filter outside of other filters
  .form-item-sort
    float: right
    margin: 0
    position: absolute
    right: 0
    top: 115px
    width: auto
    label
      display: none
    .customSelectInner
      padding: 12px 6px 6px

  // Filters across top
  .form-item
    margin: 0

  .form-item-filter-program-topic,
  .form-item-filter-leadership-level,
  .form-item-filter-program-location,
  .isotopify-filter-daterange,
  .form-item-search
    display: inline-block
    max-width: 230px
    position: relative
    > label
      font-weight: normal
      left: 10px
      line-height: 2.2
      margin-right: 0
      position: absolute
      top: 2px
      z-index: 1
  // Filter styling
  .ms-parent
    width: 210px !important
  .ms-choice
    @extend %border-grey
    background: $white
    border-radius: 0
    color: $text-black
    height: 38px
    // Select arrow
    > div
      +icon-after("arrow-med-down", true)
      &:after
        background-color: #f9f9f9
        border-left: 1px solid $grey-c
        color: $red
        display: inline-block
        float: right
        font-size: 14px
        line-height: 2.6
        height: 36px
        padding: 0 10px
        position: relative
        top: 1px
        left: -1px
      &.open
        +icon-after("arrow-med-up", true)
        &:after
          line-height: 2.6

  // Date range button
  button.isotopify-filter-daterange-button
    @extend %border-grey
    background: $white
    border-radius: 0
    color: $text-black
    font-family: $font-sans
    font-size: 16px
    height: 38px
    line-height: 2.2
    padding: 0
    padding-left: 10px
    text-align: left
    width: 210px
    +icon-after("arrow-med-down", true)
    &:after
      background-color: #f9f9f9
      border-left: 1px solid $grey-c
      color: $red
      display: inline-block
      float: right
      font-size: 14px
      line-height: 2.6
      height: 36px
      padding: 0 10px
      position: relative
    &.open
      +icon-after("arrow-med-up", true)
      &:after
        line-height: 2.6

  // Select window
  .ms-drop.bottom
    @extend %border-grey
    border-radius: 0
    min-width: 700px
  ul
    +flex-box
    -webkit-box-flex-flow: row wrap
    -moz-box-flex-flow: row wrap
    -ms-flexbox-flex-flow: row wrap
    -webkit-flex-flex-flow: row wrap
    flex-flow: row wrap
    -webkit-box-justify-content: space-between
    -moz-box-justify-content: space-between
    -ms-flexbox-justify-content: space-between
    -webkit-flex-justify-content: space-between
    justify-content: space-between
    max-height: none !important
    max-width: none
    min-height: 150px
    padding: $standard-padding
  // Select items
  li
    flex-basis: 30%
    font-size: 16px
    line-height: 1.2
    margin-bottom: 12px

// Date drop down
.date-picker-wrapper
  background: $white

  // Hide help text
  .drp_top-bar
    display: none

  .month-wrapper
    border: 0
    border-radius: 0
    width: 550px !important

  .month-name
    font-family: $font-sans
    font-size: 16px
    line-height: 1.2
    text-transform: capitalize
  // Arrows
  .next,
  .prev
    &:before
      +border-radius(50px)
      background: $green-light
      display: inline-block
      color: $white
      font-size: 12px
      height: 20px
      position: relative
      width: 20px

  .prev
    left: 8px
    +icon-before("arrow-med-left", true)

  .next
    right: 8px
    +icon-before("arrow-med-right", true)

  // Actual calendar
  .month-wrapper table
    tbody tr
      border-top: 0
    td
      background: $white
      padding: 2px
      div
        background: #fcfcfc
        border: 1px #e5e5e5 solid
        color: #c5c5c5
    .day
      padding: 5px
      // Today
      &.real-today
        background: $green-light
      // Days selected range
      &.checked
        background: #fcfcfc
        border: 1px $green-light solid
        color: $text-black
      // First and last of range
      &.first-date-selected,
      &.last-date-selected
        background: #fcfcfc !important
        border: 2px $green-light solid
        color: $text-black !important







// Exec Ed program finder list
.isotopify.program-list

  // Program result
  .isotopify-item
    border-top: 1px $listing-divider solid
    padding: $standard-padding 35px
    width: 100%
    +breakpoint($bp-mobile-max)
      padding: 20px 0

  // Program title
  .program-title
    color: $text-black
    font-size: 24px
    font-weight: bold
    line-height: 1.3
    margin-bottom: 18px
    +breakpoint($bp-mobile-max)
      font-size: 20px

  // Program date
  .program-date
    font-family: $font-demi
    font-size: 18px
    font-weight: normal
    line-height: 1.3
    margin-bottom: 3px

  // Leadership level
  .leadership-level
    font-size: 18px
    font-weight: normal
    line-height: 1.3
    margin-bottom: 3px

  // Program format
  .program-format
    font-size: 18px
    font-weight: normal
    line-height: 1.3
    margin-bottom: 3px

  // Program teaser
  .program-teaser
    font-size: 16px
    line-height: 1.4
    margin-top: 18px

  // Program tags
  .program-topic
    font-size: 16px
    line-height: 1.3
    margin-top: 5px

