@charset "UTF-8"

// IMPORT COMPASS AND EXTENSIONS
@import compass
@import breakpoint
@import ../../../fonts/icons/icons
@import partials/base/00-variables/all
@import partials/base/01-mixins/custom
@import partials/base/03-extend/gsb-revamp

$bp-filter-mid: 1115px 915px
$mid-filter-width: 285px

$bp-filter-small: 914px 569px
$small-filter-width: 245px

// Exec Ed and GSB program finder page hackiness
.page-node-411861,
.page-node-301056
  #content
    max-width: none
  #main
    +breakpoint(1199px max-width)
      padding: 0
  #sidebar
    display: none

  .main-wrapper,
  .inner-main-wrapper
    +breakpoint(970px max-width)
      float: none
      margin-right: 0
  .inner-sidebar-wrapper
    +breakpoint(970px max-width)
      float: none
      width: 100%

  .title-wrapper,
  .breadcrumb
    display: none

  .full-header,
  .featured-content
    background: #f4f4f4
    max-width: none
    overflow: visible
    padding: $standard-padding 0
    +breakpoint(1199px max-width)
      padding: $standard-padding 20px
    .panel-pane
      margin: 0 auto
      margin-bottom: 0 !important
      max-width: 1170px
      position: relative

  .inner-content-wrapper
    margin: 0 auto
    padding-top: 86px
    +breakpoint(1199px max-width)
      padding: 86px 20px 0

// Editing override
// Program finder page hackiness
.page-node-411861,
.page-node-301056
  .panels-ipe-editing
    .full-header,
    .featured-content
      overflow: hidden !important

// Page layout
.pane-program-list
  position: relative
  top: -50px

  // Filters wrapper
  .pills
    margin-bottom: 16px

// Exec Ed program finder filters
.mini-finder-filters,
.pane-filters
  position: relative

  #edit-filters
    +flex-box
    flex-flow: row wrap
    justify-content: space-between

  // Sort filter outside of other filters
  .form-item-sort
    float: right
    height: 46px
    margin: 0
    position: absolute
    right: 0
    top: 138px
    +breakpoint(1115px max-width)
      top: 210px
    +breakpoint(754px max-width)
      top: 290px
    label
      display: none
    .customSelectInner
      font-family: $font-sans
      font-size: 16px
      padding: 12px 6px 6px 18px
      width: 145px !important

  .form-item-filter-program-topic,
  .form-item-filter-career-level,
  .form-item-filter-program-location,
  .isotopify-filter-daterange,
  .form-item-search
    display: inline-block
    max-width: 230px
    position: relative
    +breakpoint($bp-filter-mid)
      max-width: $mid-filter-width
    +breakpoint($bp-filter-small)
      margin-top: 18px !important
      max-width: $small-filter-width

  .form-item-filter-career-level .ms-parent,
  .form-item-search
    +breakpoint(1115px 1060px)
      margin-top: 20px !important
      max-width: 500px
      width: 500px !important
    +breakpoint(1059px 915px)
      margin-top: 20px !important
      max-width: 420px
      width: 420px !important

  // Filter styling
  .ms-parent
    width: 210px !important
    +breakpoint($bp-filter-mid)
      width: $mid-filter-width !important
    +breakpoint($bp-filter-small)
      width: $small-filter-width !important

  button.ms-choice > span,
  .isotopify-filter-daterange .placeholder,
  .form-item-search .placeholder
    width: 210px
    +breakpoint($bp-filter-mid)
      width: $mid-filter-width
    +breakpoint($bp-filter-small)
      width: $small-filter-width

  // Date range button
  button.mini-filter-daterange-button,
  button.isotopify-filter-daterange-button
    @extend %border-grey
    background: $white
    border-radius: 0
    color: $text-black
    font-family: $font-sans
    font-size: 16px
    height: 47px
    line-height: 2.9
    padding: 0
    padding-left: 18px
    text-align: left
    width: 210px
    +breakpoint($bp-filter-mid)
      width: $mid-filter-width
    +breakpoint($bp-filter-small)
      width: $small-filter-width
    +icon-after("arrow-med-down", true)
    &:after
      background-color: #f9f9f9
      border-left: 1px solid $grey-c
      color: $red
      display: inline-block
      float: right
      font-size: 14px
      line-height: 3
      height: 45px
      padding: 0 16px
      position: relative
    &:hover
      &:after
        background-color: $link-blue
        color: $white
    &.open
      +icon-after("arrow-med-up", true)
      &:after
        line-height: 3

  // Location select and career level are smaller
  .form-item-filter-program-location .ms-drop.bottom,
  .form-item-filter-career-level .ms-drop.bottom
    min-width: 330px

  ul
    +flex-box
    -webkit-box-flex-flow: row wrap
    -moz-box-flex-flow: row wrap
    -ms-flexbox-flex-flow: row wrap
    -webkit-flex-flex-flow: row wrap
    flex-flow: row wrap
    -webkit-box-justify-content: space-between
    -moz-box-justify-content: space-between
    -ms-flexbox-justify-content: space-between
    -webkit-flex-justify-content: space-between
    justify-content: space-between
    max-height: none !important
    max-width: none
    min-height: 150px
    padding: $standard-padding $standard-padding 0 $standard-padding

  // Select items
  li
    -webkit-box-flex-basis: 33%
    -moz-box-flex-basis: 33%
    -ms-flexbox-flex-basis: 33%
    -webkit-flex-flex-basis: 33%
    flex-basis: 33%
    font-size: 16px
    line-height: 1.2
    margin-bottom: 16px
    max-width: 180px

  // Location items only need one column
  // Three columns doesn't work for the last filter
  .form-item-filter-program-location li,
  .form-item-filter-career-level li
    -webkit-box-flex-basis: 51%
    -moz-box-flex-basis: 51%
    -ms-flexbox-flex-basis: 51%
    -webkit-flex-flex-basis: 51%
    flex-basis: 51%

// EE filter styles
.pane-filters,
.pane-app-finder,
.pane-mini-program-finder
  .customSelect
    width: 210px
    &:after
      background-color: #f9f9f9
      border-left: 1px solid $grey-c
      color: $red
      display: inline-block
      float: right
      font-size: 14px
      line-height: 3
      height: 45px
      padding: 0 16px

  // Filters across top
  .form-item
    margin: 0

  button.ms-choice > span,
  .isotopify-filter-daterange .placeholder,
  .form-item-search .placeholder
    color: $text-black
    font-family: $font-sans
    font-size: 16px
    height: 47px
    line-height: 2.9
    padding: 0
    padding-left: 18px
    text-align: left

  .ms-choice
    @extend %border-grey
    background: $white
    border-radius: 0
    color: $text-black
    height: 47px
    // Select arrow
    > div
      +icon-after("arrow-med-down", true)
      &:after
        background-color: #f9f9f9
        border-left: 1px solid $grey-c
        color: $red
        display: inline-block
        float: right
        font-size: 14px
        line-height: 3
        height: 45px
        padding: 0 16px
        position: relative
        top: 1px
        left: -1px
      &:hover
        &:after
          background-color: $link-blue
          color: $white
      &.open
        +icon-after("arrow-med-up", true)
        &:after
          line-height: 3

  // Select window
  .ms-drop.bottom
    @extend %border-grey
    border-radius: 0
    min-width: 700px
    overflow: visible

    // Apply button
    .checkbox-apply
      @extend %green-button
      margin-bottom: 28px
      margin-left: 24px
      margin-right: 12px

    // Clear button
    .checkbox-clear-all
      @extend %white-button
      margin-bottom: 28px

    // Inputs
    input[type="checkbox"]
      margin-right: 2px
      vertical-align: text-top

// Date drop down
.date-picker-wrapper
  background: $white
  overflow: visible !important
  &.no-shortcuts
    padding: $standard-padding
  .gap
    top: 0

  // Date picker apply button
  .drp_top-bar
    // hide range
    .normal-top
      display: none !important
    .apply-btn
      @extend %green-button
      position: relative
      &.disabled
        @extend %grey-button
        color: #686868

  .month-wrapper
    border: 0
    border-radius: 0
    padding: 0
    width: 483px !important

  .month-name
    font-family: $font-sans
    font-size: 16px
    font-weight: bold
    line-height: 1.2
    text-transform: capitalize

  // Days of week
  table
    .week-name
      font-weight: normal
      th
        color: $white
        font-family: $font-sans
        font-size: 13px
        font-weight: normal
        line-height: 1.2
        position: relative
        right: -4px
        &::first-letter
          color: #686868

  // Arrows
  table .caption
    position: relative
    .next,
    .prev
      color: $white
      padding: 0
      position: absolute
      top: 12px
      &:before
        +border-radius(50px)
        background: $green-light
        color: $white
        font-size: 10px
        padding: 8px
        position: relative
      &:hover
        background: none
        &:before
          background: $link-blue

    .prev
      +icon-before("arrow-med-left", true)

    .next
      +icon-before("arrow-med-right", true)

  // First month
  .month1
    .month-name
      padding-left: 10px
      text-align: left
    .prev
      left: 2px
      top: 13px
    .next
      right: 249px

  // Second month
  .month2
    .month-name
      padding-right: 10px
      text-align: right
    .prev
      left: 261px
    .next
      right: -10px
      top: 11px

  // Days of month
  .month-wrapper table
    tbody tr
      border-top: 0
    td
      background: $white
      padding: 2px
      div
        background: #fcfcfc
        border: 1px #e5e5e5 solid
        color: #c5c5c5 !important
    .day
      height: 26px
      margin: 1px
      padding: 5px
      width: 26px
      // Today
      &.real-today
        background: $green-light
        color: $white !important
      // Days selected range
      &.checked
        background: #fcfcfc
        border: 1px $green-light solid
        color: $text-black !important
      // First and last of range
      &.first-date-selected,
      &.last-date-selected
        background: #fcfcfc !important
        border: 2px $green-light solid
        color: $text-black !important
        margin: 0
      // Hovering
      &.toMonth.hovering
        background: rgba($green-light, 0.3)
        color: $text-black !important


// Program finder search
.isotopify-filters

  // Search field
  .form-item.form-item-search
    +clearfix
    margin-top: 0
    margin-bottom: 0
    width: 210px
    +breakpoint(1115px 1060px)
      width: 500px
    +breakpoint(1059px 915px)
      width: 420px !important

  #edit-search--2
    @extend %border-grey
    float: left
    height: 48px
    margin-right: -46px
    width: 164px
    +breakpoint(1115px 1060px)
      width: 454px
    +breakpoint(1059px 915px)
      width: 374px

  // Search submit button
  .form-submit
    float: left
    position: relative
    right: -46px
    width: 46px

  #edit-submit
    @extend %border-grey
    border-left: 0
    -webkit-border-radius: 0
    -moz-border-radius: 0
    -ms-border-radius: 0
    border-radius: 0
    border-top-right-radius: 50%
    border-bottom-right-radius: 50%
    height: 48px
    text-indent: 1000px
    .svg &
      +background(image_url("search.svg") no-repeat 60% 47%, linear-gradient(bottom, #f9f9f9 100%, #f9f9f9 100%))
      background-size: 60px
      &:hover
        +background(image_url("search-white.svg") no-repeat 60% 47%, linear-gradient(top, $link-blue, $link-blue))
        background-size: 60px
    .no-js &, .no-svg &
      +background(image_url("search.png") no-repeat 11px 11px, linear-gradient(bottom, #f9f9f9 100%, #f9f9f9 100%))
      &:hover
        +background(image_url("search-white.png") no-repeat 11px 11px, linear-gradient(top, $link-blue, $link-blue))

// Exec Ed program finder list
.isotopify.program-list,
.full-time-programs-wrapper

  // Program
  .isotopify-item,
  .full-time-program
    +clearfix
    border-top: 1px $listing-divider solid
    padding: $standard-padding 35px
    width: 100%
    +breakpoint($bp-mobile-max)
      padding: 20px 0

  // Program wrapper
  .program-instance
    float: left
    max-width: 80%

  // Program title
  .program-title
    color: $text-black
    font-size: 24px
    font-weight: bold
    line-height: 1.3
    margin-bottom: 12px
    max-width: 80%
    a
      &:hover
        text-decoration: none
        border-bottom: 1px solid
    +breakpoint($bp-mobile-max)
      font-size: 20px

  // Program date
  .program-date
    font-family: $font-demi
    font-size: 18px
    font-weight: normal
    line-height: 1.3
    margin-bottom: 3px

  // Career level
  .career-level
    font-size: 18px
    font-weight: normal
    line-height: 1.3
    margin-bottom: 3px

  // Program format
  .program-format
    font-size: 18px
    font-weight: normal
    line-height: 1.3
    margin-bottom: 3px

  // Program teaser
  .program-teaser
    font-size: 16px
    line-height: 1.4
    margin-top: 18px

  // Program topics
  .program-topic
    font-size: 16px
    line-height: 1.3
    margin-top: 5px

  // Compare button
  .compare
    background: $white
    @extend %box-shadow
    border: none
    +border-radius(20px)
    +clearfix
    color: $white
    float: right
    font-family: $font-sans
    font-size: 16px
    padding: 10px 16px
    &.inactive
      position: relative
      &:before
        content: " "
        display: block
        background: rgba($white, 0.7)
        height: 44px
        position: absolute
        width: 108px
        top: -1px
        left: -1px
      input
        +box-shadow(rgba($green-light, 0.1) 1px 1px 0px inset, rgba($green-light, 0.1) 0 0 0 2px)
        &:before
          border: 3px rgba($green-light, 0.1) solid
    label
      float: left
      color: $text-black
      font-size: 14px
      font-weight: normal
      line-height: 1.6
    input
      +box-shadow(rgba($green-light, 1) 1px 1px 0px inset, rgba($green-light, 1) 0 0 0 2px)
      border-radius: 50px
      &:before
        border: 3px $green-light solid
        content: " "
        height: 13px
        width: 12px
        display: block
        border-radius: 50px
        position: relative
        right: 2px
        top: -3px

// Full time degree programs
// List title
.full-time-header
  @extend %black-border-top-small
  font-family: $font-sans
  font-size: 28px
  font-weight: bold
  line-height: 1.2
  margin: 24px 0 34px
  padding-top: 18px

// Image CTAs on program finder
.image-ctas
  // Each CTA
  .fieldable-panels-pane
    @extend %box-shadow
    margin-bottom: 20px
    max-width: 566px
    position: relative
    bottom: 0

  // Image
  img
    display: block

  // Colors
  .image-cta-color-blue a
    background: rgba($blue-bright, 0.85)

  .image-cta-color-lime a
    background: rgba($lime-bright, 0.85)

  .image-cta-color-pink a
    background: rgba($pink-bright, 0.85)

  .image-cta-color-purple a
    background: rgba($purple-bright, 0.85)

  .image-cta-color-teal a
    background: rgba($teal-bright, 0.85)

  // Linked text
  .field-name-field-link-single
    line-height: 0
    a
      color: $white
      display: block
      font-family: $font-demi
      font-size: 18px
      line-height: 1.2
      padding: 12px $standard-padding
      width: 100%
      +icon-after("arrow-double-right", true)
      &:after
        color: $white
        font-size: 12px
        margin-left: 3px
      &:hover
        background: rgba($hover-bright, 0.85) !important

  // Narrow view
  .group-left,
  .group-right
    float: none
    width: 100%
  // Layout
  .group-right
    padding: 0 !important
    position: absolute
    bottom: 0

// Title on top of program list
h2.isotopify-title
  color: $text-black
  font-family: $font-sans
  font-size: 28px
  font-weight: bold
  line-height: 1.2
  margin-bottom: 18px

// Sticky compare tray
.sticky-wrapper

.compare-items
  @extend %box-shadow
  background: #f4f4f4
  max-width: 870px
  min-height: 238px
  padding: $standard-padding
  width: 100%
  position: relative
  z-index: 1
  +breakpoint(970px max-width)
    max-width: initial

  .header
    +clearfix
    // Title
    h3
      display: inline-block
      font-size: 22px
      line-height: 1.3
      margin-bottom: 26px

    .compare-button
      float: right
      input
        @extend %green-button

  // Actual item
  .compare-item
    background: $white
    display: inline-block
    float: left
    padding: 18px
    position: relative
    vertical-align: top
    width: 260px
    &:nth-of-type(odd)
      margin: 0 19px

  .compare-program-title
    font-size: 16px
    line-height: 1.2
    margin-left: 38px
    +flex-box
    -webkit-box-align-items: center
    -moz-box-align-items: center
    -ms-flexbox-align-items: center
    -webkit-flex-align-items: center
    align-items: center
    min-height: 95px
    width: 186px

  // Remove x
  .remove-item
    background: $green-light
    border-radius: 50px
    color: $white
    display: inline-block
    height: 25px
    line-height: 1.5
    position: absolute
    text-align: center
    top: 53px
    width: 25px
    &:hover
      background: $link-blue
      border: 1px $link-blue solid
      cursor: pointer
    +icon-before("plus", true)
    &:before
      display: inline-block
      padding: 5px
      transform: rotate(45deg)

// Mini program finder block for full bleed homepage

.pane-mini-program-finder
  height: 400px
  .pane-content
    overflow: hidden
    height: 615px
  .finder-image
    img
      width: 100%
    .apply-mini-finder
      position: relative
      a
        @extend %gradient-red
        color: white
        font-size: 16px
        line-height: 1.2
        padding: 16px 26px
        position: absolute
        top: -356px
        right: 89px
  .content
    float: left
    background: white
    position: relative
    top: -120px
    width: 100%
    padding: 24px 89px $standard-padding
    h4
      font-size: 34px
      font-weight: bold
      line-height: 1.2

  .mini-finder-filters
    float: right
    background: white
    position: relative
    top: -187px
    padding-right: 89px

    .form-item-program-topic,
    .isotopify-filter-daterange
      width: 230px
      position: relative
      display: inline-block

    .ms-choice
      width: 100% !important

    input#edit-submit
      @extend %green-button
      font-size: 17px
      display: inline-block

    #edit-filters
      display: inline-block
      .ms-drop.bottom
        min-width: 600px
        ul > li.multiple
          width: 170px !important
          label
            font-weight: normal

// Full time degree block in Program finder
.pane-degree-programs
  +background(image_url("gsb_program-finder_bg_01.jpg") no-repeat center center, #72bbaa)
  max-width: initial !important
  height: 300px
  .header
    font-size: 24px
    font-family: $font-demi
    line-height: 1.3
    color: $white
    width: 1170px
    margin: 0 auto
    padding-top: 35px
  .degree-programs-wrapper
    width: 1170px
    margin: 0 auto
    padding-top: 26px
    .degree-program
      @extend %bg-and-box-shadow
      padding: $standard-padding
      display: inline-block
      width: 334px
      vertical-align: top
      margin-right: 50px
      min-height: 180px
      .title
        a
          font-size: 22px
          line-height: 1.3
          font-weight: bold
      .intro
        font-size: 16px
        line-height: 1.3
        font-weight: normal
