@charset "UTF-8"

// IMPORT COMPASS AND EXTENSIONS
@import compass
@import breakpoint
@import ../../../fonts/icons/icons
@import partials/base/00-variables/all
@import partials/base/03-extend/gsb-revamp

$page-top-variable: 220px

// Program finder page hackiness
.page-node-409306
  #content
    max-width: none

  .title-wrapper,
  .breadcrumb
    display: none
  #top-content
    background: #f4f4f4
    height: $page-top-variable
  .full-header
    margin: 0 auto
    max-width: 1170px
    padding-top: $standard-padding
    position: relative
    top: -$page-top-variable
    margin-bottom: -$page-top-variable


// Page layout
.pane-program-list
  +clearfix

  // Filters wrapper
  .isotopify-filters
    margin-bottom: 100px


  // List
  .programs
    float: left
    margin-right: 50px
    max-width: 850px
    width: 100%

  // Image CTAs
  .image-ctas
    float: left
    max-width: 270px
    width: 100%
    .cta
      margin-bottom: 20px

// Exec Ed program finder filters
#isotopify-filters
  position: relative

  // Filters across top
  .form-item-filter-program-topic,
  .form-item-filter-leadership-level,
  .form-item-filter-program-location,
  .isotopify-filter-daterange,
  .form-item-search
    display: inline-block
    max-width: 230px

  // Sort filter outside of other filters
  .form-item-sort
    float: right
    margin: 0
    position: absolute
    right: 0
    top: 115px
    width: auto
    label
      display: none
    .customSelectInner
      padding: 12px 6px 6px





// Exec Ed program finder list
.isotopify.program-list

  // Program result
  .isotopify-item
    border-top: 1px $listing-divider solid
    padding: $standard-padding 35px
    width: 100%
    +breakpoint($bp-mobile-max)
      padding: 20px 0

  // Program title
  .program-title
    color: $text-black
    font-size: 24px
    font-weight: bold
    line-height: 1.3
    margin-bottom: 18px
    +breakpoint($bp-mobile-max)
      font-size: 20px

  // Program date
  .program-date
    font-family: $font-demi
    font-size: 18px
    font-weight: normal
    line-height: 1.3
    margin-bottom: 3px

  // Leadership level
  .leadership-level
    font-size: 18px
    font-weight: normal
    line-height: 1.3
    margin-bottom: 3px

  // Program format
  .program-format
    font-size: 18px
    font-weight: normal
    line-height: 1.3
    margin-bottom: 3px

  // Program teaser
  .program-teaser
    font-size: 16px
    line-height: 1.4
    margin-top: 18px

  // Program tags
  .program-topic
    font-size: 16px
    line-height: 1.3
    margin-top: 5px
