// File icons

body
  a
    &[href$=".pdf"],
    &[href$=".png"],
    &[href$=".jpg"],
    &[href$=".jpeg"],
    &[href$=".gif"],
    &[href$=".tiff"],
    &[href$=".svg"],
    &[href$=".odg"],
    &[href$=".fodg"],
    &[href$=".pptx"],
    &[href$=".ppt"],
    &[href$=".pps"],
    &[href$=".odp"],
    &[href$=".fodp"],
    &[href$=".zip"],
    &[href$=".rar"],
    &[href$=".tar"],
    &[href$=".doc"],
    &[href$=".docx"],
    &[href$=".txt"],
    &[href$=".odt"],
    &[href$=".fodt"],
    &[href$=".odf"],
    &[href$=".pages"],
    &[href$=".xls"],
    &[href$=".xlsx"],
    &[href$=".ods"],
    &[href$=".fods"]
      &:after
        @extend %doc-attached-icons

    // PDF
    &[href$=".pdf"]
      +icon-after("pdf", true)
      &:after
        content: "\f118" !important
        font-size: 16px

    // Images
    &[href$=".png"],
    &[href$=".jpg"],
    &[href$=".jpeg"],
    &[href$=".gif"],
    &[href$=".tiff"],
    &[href$=".svg"],
    &[href$=".odg"],
    &[href$=".fodg"],
      +icon-after("picture", true)
      &:after
        content: "\f119" !important

    // Presentations
    &[href$=".pptx"],
    &[href$=".ppt"],
    &[href$=".pps"],
    &[href$=".odp"],
    &[href$=".fodp"]
      +icon-after("presentation", true)
      &:after
        content: "\f11d" !important

    // Compressed files
    &[href$=".zip"],
    &[href$=".rar"],
    &[href$=".tar"]
      +icon-after("zip", true)
      &:after
        content: "\f124" !important

    // Word Documents
    &[href$=".doc"],
    &[href$=".docx"],
    &[href$=".txt"],
    &[href$=".odt"],
    &[href$=".fodt"],
    &[href$=".odf"],
    &[href$=".pages"]
      +icon-after("document-blank", true)
      &:after
        content: "\f126" !important

    // Spreadsheets
    &[href$=".xls"],
    &[href$=".xlsx"],
    &[href$=".ods"],
    &[href$=".fods"]
      +icon-after("spreadsheet", true)
      &:after
        content: "\f120" !important

//Hide old image assigned for file type
.file-icon
  display: none !important
