// Fontcustom icons

body
  a
    &[href$=".pdf"],
    &[href$=".png"],
    &[href$=".jpg"],
    &[href$=".jpeg"],
    &[href$=".gif"],
    &[href$=".tiff"],
    &[href$=".pptx"],
    &[href$=".ppt"],
    &[href$=".pps"],
    &[href$=".odp"],
    &[href$=".zip"],
    &[href$=".rar"],
    &[href$=".tar"],
    &[href$=".doc"],
    &[href$=".docx"],
    &[href$=".txt"],
    &[href$=".odt"],
    &[href$=".xls"],
    &[href$=".xlsx"],
    &[href$=".ods"]
      &:after
        @extend %doc-attached-icons

    // PDF
    &[href$=".pdf"]
      +icon-after("pdf", true)
      &:after
        content: "\f118" !important
        font-size: 16px

    // Images
    &[href$=".png"],
    &[href$=".jpg"],
    &[href$=".jpeg"],
    &[href$=".gif"],
    &[href$=".tiff"]
      +icon-after("picture", true)
      &:after
        content: "\f119" !important

    // Presentations
    &[href$=".pptx"],
    &[href$=".ppt"],
    &[href$=".pps"],
    &[href$=".odp"]
      +icon-after("presentation", true)
      &:after
        content: "\f11d" !important

    // Compressed files
    &[href$=".zip"],
    &[href$=".rar"],
    &[href$=".tar"]
      +icon-after("zip", true)
      &:after
        content: "\f124" !important

    // Documents
    &[href$=".doc"],
    &[href$=".docx"],
    &[href$=".txt"],
    &[href$=".odt"]
      +icon-after("document", true)
      &:after
        content: "\f110" !important

    // Spreadsheet
    &[href$=".xls"],
    &[href$=".xlsx"],
    &[href$=".ods"]
      +icon-after("spreadsheet", true)
      &:after
        content: "\f120" !important

//Hide old image assigned for file type
.file-icon
  display: none !important
