// Tables
// tables still need 'cellspacing="0"' in the markup

table
  @extend %constrain-to-parent
  border: 0 !important

tbody
  border-top: 0

th,
td
  border: 0
  padding: 0

caption,
th
  color: $text-black
  font-family: $font-demi
  font-weight: normal

th[scope="row"]
  font-weight: normal !important

caption
  font-size: 18px
  font-weight: normal
  line-height: 1

th,
td
  font-size: 15px
  line-height: 1.2
  vertical-align: top

// Table body
tbody
  tr
    border-top: 1px $border-grey solid

  tr:nth-of-type(even)
    background-color: $white
