//** PRINT STYLES **//

// Based heavily on the work of:
// Paul Irish & Divya Manian: http://html5boilerplate.com/
// And many others, less directly...

/* Print Defaults -------------------------------------------------------------- */
@media print
  *
    background: transparent !important
    color: $black !important
    text-shadow: none !important
    filter: none !important
    -ms-filter: none !important
    box-shadow: none !important
    -moz-box-shadow: none !important
    -webkit-box-shadow: none !important
  /* Black prints faster: h5bp.com/s */

  body
    font-family: $font-sans !important
    font-size: 12pt !important

  #{headers(all)}
    font-family: $font-sans !important

  a
    text-decoration: underline
    border-bottom: none !important
    &:visited
      text-decoration: underline
  abbr[title]:after
    content: " (" attr(title) ")"
  pre, blockquote
    border: 1px solid #999
    page-break-inside: avoid
  thead
    display: table-header-group
  /* h5bp.com/t */
  tr
    page-break-inside: avoid
  img
    page-break-inside: avoid
    max-width: 100% !important
  @page
    margin: 0.5cm

  p, h2, h3
    orphans: 3
    widows: 3
  h2, h3
    page-break-after: avoid

  #site-slogan,
  #nav-touch-wrapper,
  #footer-wrapper,
  #sidebar,
  #banner,
  .breadcrumb,
  .pager-region,
  .pane-node-field-addthis,
  .page-events #page-title,
  .page-programs #page-title
    display: none !important

  #content-wrapper:before,
  #content-wrapper:after
    box-shadow: none !important
    -moz-box-shadow: none !important
    -webkit-box-shadow: none !important

  #header-wrapper
    border: none!important
  #header
    height: 60px !important
    #logo
      margin-top: 0
      img
        display: inline-block
      &:after
        display: none

  //msx fellows
  .node-type-msx-fellows .node-msx-fellows.ds-2col > .group-left
    margin-right: 20px
  .node-type-msx-fellows .node-msx-fellows.ds-2col > .group-right,
  .node-type-msx-fellows .node-msx-fellows .field-name-field-year
    padding-left: 0

  // event details
  .node-event.view-mode-full
    .group-header
      border: none!important
    .group-left
      width: 60%!important
    .group-right
      width: 35%!important
    .event-register-link,
    .event-ical-link
      a
        font-size: 12pt!important
        padding: 0!important
    .field-name-title h2
      font-size: 24pt
      line-height: 1em
    .field-name-field-address
      font-size: 16pt
    .group-left,
    .field-name-field-target-audience
      padding: 0!important
    .group-footer,
    .group-wrapper-buttons
      margin: 0!important
