// A-Z last name filter
// Used on Faculty and MSx Listings

.views-widget-filter-gsb-az-filter
  background: $grey-f
  border-top: 1px solid $grey-c
  border-bottom: 1px solid $grey-c
  +breakpoint($bp-mobile-max)
    display: none
  +clearfix
  position: relative
  .container
    overflow: hidden
    margin: 0 52px
  ul
    display: block
    height: 50px
    margin: 0
    overflow: hidden
    padding: 0
  li
    font-family: $font-demi
    float: left
    line-height: 3.5
    margin: 0
    padding: 0
    width: 36px
    text-align: center
    +breakpoint($bp-nexus-portrait)
      width: 30px
    +breakpoint($bp-nexus-landscape)
      width: 30px
  a
    font-size: 16px
    &.active
      color: $text-black
      &:hover
        color: $link-blue
    &:hover
      color: $link-blue

  .prev-next
    -moz-user-select: none
    -webkit-user-select: none
    -ms-user-select: none
    cursor: pointer
    position: absolute
    top: 0
    width: 50px
    height: 50px
    text-align: center
    line-height: 3.8
    &:before
      color: $red
      font-size: 21px
      line-height: 0
    &:hover
      &:before
        color: $link-blue
    &.disabled
      cursor: default
      &:before
        color: $grey-c
      &:hover
        &:before
          color: $grey-c

  // Arrow icons
  .prev
    left: 8px
    +icon-before("arrow-med-left", true)
  .next
    right: 8px
    +icon-before("arrow-med-right", true)
