// Banner region

#banner
  background: $grey-e
  position: relative
  +breakpoint($bp-tablet-land-min)
    overflow: hidden
    padding: 14px 0 11px
  +breakpoint($bp-for-phone-tablet-range)
    background: $grey-hp
  +breakpoint(1199px 1000px)
    border-bottom: 1px solid $grey-db
    height: 50px
  .page-alumni &
    +breakpoint(1199px max-width)
      border-bottom: 1px solid $grey-db

// Banner title and subtitles
.banner-title,
.banner-subtitle
  color: $grey-hp-7
  a,
  a:hover,
  a:visited
    color: $grey-hp-7
  a:hover
    border-bottom: 2px solid $grey-hp-7
    text-decoration: none


.banner-title
  font-size: 30px
  font-weight: bold
  line-height: 1
  .page-programs-mba &
    a
      color: $section-blue-grey
      &:hover
        border-bottom: 2px solid $section-blue-grey
        text-decoration: none
    +breakpoint($bp-for-phone-only)
      font-size: 14px
    +breakpoint($bp-for-tablet-range)
      font-size: 18px
    +breakpoint(1000px 1199px)
      margin: 3px 0
  .page-faculty-research &
    a
      color: $grey-hp-7
      &:hover
        border-bottom: 2px solid $grey-hp-7
        text-decoration: none
    +breakpoint($bp-for-phone-only)
      font-size: 14px
    +breakpoint($bp-for-tablet-range)
      font-size: 18px
  .page-insights &
    a
      color: $text-black
      &:hover
        border-bottom: 2px solid $text-black
        text-decoration: none
    +breakpoint($bp-for-phone-only)
      font-size: 14px
    +breakpoint($bp-for-tablet-range)
      font-size: 18px
  .page-alumni &
    +breakpoint($bp-for-tablet-range)
      height: 50px
    +breakpoint($bp-tablet-land)
      height: 25px
    +breakpoint($bp-tablet-gap)
      height: 25px
    +breakpoint($bp-for-phone-only)
      height: 42px
    top: 0
    a
      color: $red
      &:hover
        border-bottom: 2px solid $red
        text-decoration: none
    +breakpoint($bp-tablet-port-max)
      line-height: 2.5
  +breakpoint($bp-tablet-port-max)
    font-size: 18px
    line-height: 0
    padding: 5px 15px
    position: relative
    top: 20px
  +breakpoint($bp-mobile-max)
    display: table-cell
    font-size: 14px
    height: 42px
    line-height: 1
    vertical-align: middle
    width: 98%
    top: 0
  +breakpoint(420px max-width)
    max-width: 210px
    line-height: 1

.banner-subtitle
  font-size: 42px
  line-height: 1.2

.banner-content
  margin: 0 auto
  max-width: $max-width
  position: relative
  +breakpoint(1210px 1000px)
    padding-left: 15px

// Section-specific styling of banner

// Programs (blue)
.page-programs
  .banner-title
    a,
    a:hover,
    a:visited
      color: $section-blue-grey
    a:hover
      border-bottom: 2px solid $section-blue-grey
      text-decoration: none
  +breakpoint(999px max-width)
    min-height: 50px

// Events (taupe)
.page-events
  .banner-title
    +breakpoint(999px max-width)
      min-height: 50px

// No banner on desktop for Stanford GSB Experience, Faculty & Research (taupe)
.page-stanford-gsb-experience,
.page-faculty-research
  #banner
    display: none
    +breakpoint($bp-tablet-port-max)
      display: block

// CIRCLE
.page-faculty-research.page-faculty-research-centers-initiatives
  #banner
    display: block
  // Hide on Centers & Research Initiatives landing desktop
  &.page-node-309826
    #banner
      display: none
      +breakpoint($bp-tablet-port-max)
        display: block

// Insights (black)
.page-insights
  #banner
    background: #dcdcdc
    height: auto
    overflow: visible
    padding: 0

// Alumni (red)
.page-alumni
  #banner
    background: $grey-e
    color: $red
    +breakpoint($bp-tablet-land)
      border-bottom: 1px solid $grey-db

// Alumni navigation in utility
#block-menu-block-32
  // Hide directory and upcoming events links
  .menu-mlid-37621,
  .menu-mlid-37626
    display: none

// Utility region for responsive Alumni menu
.page-alumni #utility
  display: none
  +breakpoint($bp-tablet-port-max)
    display: block
    margin-top: 2px
    position: absolute
    right: 0
    li
      display: inline-block
      +breakpoint($bp-for-phone-only)
        display: table-cell
    a
      color: $red-dark
      font-family: $font-demi
      font-size: 12px
      line-height: 1.2
      margin: 0 8px
      +breakpoint($bp-for-phone-only)
        font-size: 7px
        height: 10px
        padding-left: 5px
    .menu
      +breakpoint($bp-for-tablet-range)
        margin-right: 140px
        margin-top: -35px
        position: relative

// First Sidebar
#sidebar
  +breakpoint($bp-for-phone-only)
    margin-bottom: 20px
    // Alumni
    .page-alumni &
      margin-bottom: 0
  .sidebar
    h2
      display: none
    // The "All" link for only the mobile view. Hidden on the desktop
    .overview-link-mobile-only
      display: none
      +breakpoint($bp-for-phone-tablet-range)
        display: block
  +breakpoint($bp-for-tablet-range)
    width: 100%
    .menu
      display: none
    .sidebar
      .block
        h2
          font-size: 16px
          font-weight: normal
          height: 50px
          padding: 5px 16px 8px 12px
          width: 129px
  +breakpoint($bp-for-phone-only)
    .menu
      .sidebar
        h2
          max-height: 42px
          padding: 6px 15px 8px 12px
  +breakpoint($bp-for-phone-tablet-range)
    width: 100%
    .menu
      display: none
    .sidebar
      h2
        border-left: 1px solid rgba($white, 0.3)
        color: $white
        cursor: pointer
        display: block
        font-size: 12px
        font-weight: normal
        padding: 12px 15px 8px 12px
        position: absolute
        right: 0
        text-transform: capitalize
        top: 0
        width: 101px
        +breakpoint($bp-for-phone-only)
          padding: 6px 15px 8px 12px
        .svg &
          +background(image_url("icons/inThisSection-arrow-down-white.svg") no-repeat 85% 47% $grey-hp-7)
          border-left: 1px solid gainsboro
        .no-js &, .no-svg &
          +background(image_url("icons/inThisSection-arrow-down-white-@2x.png") no-repeat 11px 11px $grey-hp-7)
          border-left: 1px solid gainsboro
        // Alumni
        .page-alumni &
          background-color: $section-red
          z-index: 9
          .svg &
            +background(image_url("icons/inThisSection-arrow-down-white.svg") no-repeat 85% 47% $section-red)
          .no-js &, .no-svg &
            +background(image_url("icons/inThisSection-arrow-down-white-@2x.png") no-repeat 11px 11px $section-red)
        // MBA
        .page-programs-mba &
          .svg &
            +background(image_url("icons/inThisSection-arrow-down-white.svg") no-repeat 85% 47% $section-blue-grey)
          .no-js &, .no-svg &
            +background(image_url("icons/inThisSection-arrow-down-white-@2x.png") no-repeat 11px 11px $section-blue-grey)
        // PHD
        .page-programs-phd &
          .svg &
            +background(image_url("icons/inThisSection-arrow-down-white.svg") no-repeat 85% 47% $section-blue-grey)
          .no-js &, .no-svg &
            +background(image_url("icons/inThisSection-arrow-down-white-@2x.png") no-repeat 11px 11px $section-blue-grey)
        // Faculty
        .page-faculty-research &
          .svg &
            +background(image_url("icons/inThisSection-arrow-down-white.svg") no-repeat 85% 47% $grey-hp-7)
          .no-js &, .no-svg &
            +background(image_url("icons/inThisSection-arrow-down-white-@2x.png") no-repeat 11px 11px $grey-hp-7)
        // Exec-Ed and Seed
        .page-exec-ed &,
        .page-seed &
          .svg &
            +background(image_url("icons/inThisSection-arrow-down-white.svg") no-repeat 85% 47% $grey-hp-7)
          .no-js &, .no-svg &
            +background(image_url("icons/inThisSection-arrow-down-white-@2x.png") no-repeat 11px 11px $grey-hp-7)
        .page-exec-ed &
          border-left: 1px solid #7d7466
        // Library
        .page-library &
          .svg &
            +background(image_url("icons/inThisSection-arrow-down-white.svg") no-repeat 85% 47% $grey-hp-7)
          .no-js &, .no-svg &
            +background(image_url("icons/inThisSection-arrow-down-white-@2x.png") no-repeat 11px 11px $grey-hp-7)
        // Insights
        .page-insights &
          background-color: $text-black
    .block-menu.open,
    .block-menu-block.open
      .content
        position: absolute
        top: 50px
        width: 100%
        z-index: 12
        +breakpoint($bp-for-phone-only)
          top: 42px
        & > ul.menu
          border-left: 1px solid $grey-dc
          & > li
            padding-left: 30px
          .page-alumni &
            +breakpoint($bp-for-phone-tablet-range)
              margin-top: 18px
            +breakpoint($bp-for-phone-only)
              margin-top: 9px
            +breakpoint($bp-iphone-range-port)
              margin-top: 0
            +breakpoint($bp-tablet-gap)
              margin-top: 9px

      h2
        color: $grey-hp-7
        .svg &
          +background(image_url("icons/inThisSection-arrow-up-taupe.svg") no-repeat 85% 47% $grey-hp)
        .no-js &, .no-svg &
          +background(image_url("icons/inThisSection-arrow-up-taupe-@2x.png") no-repeat 11px 11px $grey-hp)
        .page-exec-ed &
          border-left: 1px solid gainsboro


      // Executive Education
      .page-exec-ed &,
      .page-seed &
        .content
          .menu-block-wrapper > .menu
            +breakpoint($bp-for-tablet-range)
              border-left: 1px solid $grey-dc
              float: right
              width: 60%

        h2
          color: $grey-hp-7
          .svg &
            +background(image_url("icons/inThisSection-arrow-up-taupe.svg") no-repeat 85% 47% $grey-hp)
          .no-js &, .no-svg &
            +background(image_url("icons/inThisSection-arrow-up-taupe-@2x.png") no-repeat 11px 11px $grey-hp)

      // MBA
      h2
        .page-programs-mba &
          color: $section-blue-grey
          .svg &
            +background(image_url("icons/inThisSection-arrow-up-grayblue.svg") no-repeat 85% 47% $grey-hp)
          .no-js &, .no-svg &
            +background(image_url("icons/inThisSection-arrow-up-grayblue-@2x.png") no-repeat 11px 11px $section-blue-grey)
      // MSX
      h2
        .page-programs-msx &
          color: $section-blue-grey
          .svg &
            +background(image_url("icons/inThisSection-arrow-up-grayblue.svg") no-repeat 85% 47% $grey-hp)
          .no-js &, .no-svg &
            +background(image_url("icons/inThisSection-arrow-up-grayblue-@2x.png") no-repeat 11px 11px $section-blue-grey)
      // PHD
      h2
        .page-programs-phd &
          color: $section-blue-grey
          .svg &
            +background(image_url("icons/inThisSection-arrow-up-grayblue.svg") no-repeat 85% 47% $grey-hp)
          .no-js &, .no-svg &
            +background(image_url("icons/inThisSection-arrow-up-grayblue-@2x.png") no-repeat 11px 11px $section-blue-grey)
      // Faculty and Research
      .page-faculty-research &
        .content
          top: 50px
          +breakpoint($bp-for-phone-only)
            top: 42px
        h2
          color: $grey-hp-7
          .svg &
            +background(image_url("icons/inThisSection-arrow-up-taupe.svg") no-repeat 85% 47% $grey-hp)
      // Faculty and Research
      .page-library &
        .content
          top: 50px
          +breakpoint($bp-for-phone-only)
            top: 42px
        h2
          color: $grey-hp-7
          .svg &
            +background(image_url("icons/inThisSection-arrow-up-taupe.svg") no-repeat 85% 47% $grey-hp)
      // Alumni
      .page-alumni &
        .content
          top: 42px
          +breakpoint($bp-for-phone-range)
            top: 43px
          +breakpoint($bp-for-tablet-range)
            top: 51px
          +breakpoint(1199px 1101px)
            top: 41px
          +breakpoint(1100px 1000px)
            top: 32px
          +breakpoint(999px 669px)
            top: 33px
          +breakpoint(374px 320px)
            top: 34px
        h2
          color: $section-red
          .svg &
            +background(image_url("icons/inThisSection-arrow-up-red.svg") no-repeat 85% 47% $grey-hp)
            height: 51px
      .content
        & > .menu
          +background(linear-gradient(rgba(#e7e7e7, 0.5), rgba($white, 0.5)), $white)
          border-bottom: 3px solid $black
          display: block
          padding-left: 36px
          +breakpoint($bp-for-tablet-range)
            float: right
            padding-left: 0
            width: 60%
            .menu
              width: 100%
          +breakpoint($bp-for-phone-only)
            padding-left: 0
          .menu
            background: transparent
            border-bottom: 0
      .expanded.active-trail
        .menu
          +breakpoint($bp-for-tablet-range)
            float: unset
            //padding-left: 15px // 50px in
            width:  100%
          +breakpoint($bp-for-phone-only)
            float: unset
            //padding-left: 15px // 50px in
            width:  100%
  .block-menu.open
    .expanded
      .menu
        +breakpoint($bp-for-tablet-range)
          padding-left: 0 // 75px in
        +breakpoint($bp-for-phone-only)
          padding-left: 0 // 60px in
        li
          +breakpoint($bp-for-phone-tablet-range)
            padding-left: 20px
        .menu
          +breakpoint($bp-for-tablet-range)
            padding-left: 5px // 95px in
          +breakpoint($bp-for-phone-only)
            padding-left: 0
          .menu
            +breakpoint($bp-for-tablet-range)
              padding-left: 0 // 95px in
            li
              +breakpoint($bp-for-phone-only)
                padding-left: 15px // 85px in
            li
              padding-left: 15px
  +breakpoint($bp-for-phone-tablet-range)
    .region-sidebar-first
      ul
        li
          a
            padding: 17.5px 0
          ul
            li
              a
                padding: 17.5px 0
                ul
                  li
                    a
                      padding: 17.5px 0

// Exec-ed panel page overrides
+breakpoint(1199px max-width)
  .page-exec-ed.page-exec-ed-admission.panels-layout-gsb-landing-standard-page-one
    #sidebar
      background: transparent
      border-bottom: none
