// Banner region

#banner
  // WPBQA-393, WP-1773
  +breakpoint($bp-tablet-land-min)
    overflow: hidden
    // WP-2441
    padding: 14px 0 9px
    .page-insights &
      overflow: visible
      padding: 0

// Banner title and subtitles
.banner-title,
.banner-subtitle
  color: $white
  a,
  a:hover,
  a:visited
    color: $white

.banner-title
  font-size: 26px
  font-weight: bold
  line-height: 1
  .page-alumni &
    font-size: 34px
    +breakpoint($bp-tablet-port-max)
      font-size: 26px
  +breakpoint($bp-tablet-port-max)
    font-size: 100%
    line-height: 0
    padding-left: 20px
    position: relative
    top: 28px
  +breakpoint($bp-mobile-max)
    display: table-cell
    height: 50px
    line-height: 1
    padding-left: 15px
    top: 2px
    vertical-align: middle
    width: 98%
  +breakpoint(420px max-width)
    max-width: 210px
    line-height: 1

.banner-subtitle
  font-size: 42px
  line-height: 2em

.banner-content
  margin: 0 auto
  max-width: $max-width
  position: relative
  +breakpoint($bp-content-max)
    padding-left: 20px
  .page-insights &
    +breakpoint($bp-mobile-max)
      padding-left: 0

// Banner breadcrumbs
#block-gsb-public-custom-blocks-gpcb-breadcrumbs
  color: $white
  font-size: 14px
  +breakpoint($bp-tablet-port-max)
    display: none
  .breadcrumb
    line-height: 1
    // WP-1773
    +breakpoint($bp-mobile-min)
      // WPBQA-158
      padding-bottom: 8px
    top: 0
    margin-bottom: 0
  a
    color: $white
    &:hover
      text-decoration: underline

// Page-specific styling of banner

// Events
.page-events
  #banner
    +breakpoint($bp-tablet-land-min)
      +background(image_url("bg-banner-eventcal-2015-05-26-1.png") no-repeat -70% 100%, linear-gradient(bottom, #2f2f2f, $grey-1))
      +clearfix
      +breakpoint($bp-tablet-port-max)
        height: 50px
      .banner-title
        // WP-1773
        padding-top: 18px
        font-size: 48px
    +breakpoint($bp-mobile-max)
      display: none

// Programs
.page-programs
  #banner
    +breakpoint($bp-tablet-land-min)
      +background(linear-gradient(#4c697a, $blue))
      +box-shadow(rgba($black, 0.85) 0px 2px 6px -2px inset)

// Stanford GSB Experience, Faculty & Research, Library, Newsroom, Organizations
.page-stanford-gsb-experience,
.page-faculty-research,
.page-library,
.page-newsroom,
.page-organizations
  #banner
    +background(linear-gradient(#756b5a, $grey-dark))
    +box-shadow(rgba($black, 0.85) 0px 2px 6px -2px inset)

// No banner on desktop for Stanford GSB Experience, Faculty & Research
.page-stanford-gsb-experience,
.page-faculty-research
  #banner
    display: none
    +breakpoint($bp-tablet-port-max)
      display: block

// Alumni
.page-alumni
  #banner
    background: #b00000
    +box-shadow(rgba($black, 0.85) 0px 2px 6px -2px inset)

// Alumni navigation in banner
#block-menu-menu-alumni-utility-nav
  position: absolute
  right: 0
  top: 10px
  +breakpoint($bp-tablet-port-max)
    display: none
  li
    display: inline-block
  a
    color: $white
    font-family: $font-demi
    font-size: 16px
    line-height: 1.2
    margin: 0 8px

// Alumni navigation in utility
#block-menu-block-32
  // Hide directory and upcoming events links
  .menu-mlid-37621,
  .menu-mlid-37626
    display: none

// Utility region for responsive
#utility
  display: none
  +breakpoint($bp-tablet-port-max)
    display: block
    margin-top: 15px
    position: absolute
    right: 0
    li
      display: inline-block
    a
      color: $text-black
      font-family: $font-demi
      font-size: 13px
      line-height: 1.2
      margin: 0 8px

// First Sidebar
#sidebar
  .sidebar
    h2
      display: none
  +breakpoint($bp-tablet-port-max)
    width: 100%
    .menu
      display: none
    .sidebar
      h2
        border-left: 1px solid rgba($white, 0.3)
        .page-alumni &
          border-left: 1px solid #eb0202
        color: $white
        cursor: pointer
        display: block
        font-size: 14px
        font-weight: normal
        line-height: 1
        padding: 14px 0 8px 32px
        position: absolute
        right: 0
        text-transform: capitalize
        width: 108px
        +icon-before("plus", true)
        &:before
          color: $white
          font-size: 14px
          position: absolute
          left: 7px
          top: 20px
          text-transform: none
    .block-menu.open,
    .block-menu-block.open
      .content
        margin-top: 50px
        position: absolute
        width: 100%
        z-index: 12
      h2
        +box-shadow(rgba($black, 0.75) 0px 3px 7px -3px inset)
        color: $red
        +background(linear-gradient(#e6e5e5, #f3f3f3) bottom center)
        padding-right: 73px
        +icon-before("minus", false)
        &:before
          color: $red
      .menu
        +background(linear-gradient(rgba(#e7e7e7, 0.5), rgba($white, 0.5)), $white)
        border-bottom: 10px solid $black
        display: block
        padding-left: 36px
        .menu
          background: transparent
          border-bottom: 0


// Section menu for responsive
#sidebar
  +breakpoint($bp-tablet-port-max)
    +background(linear-gradient(#756b5a, $grey-dark))
    +box-shadow(rgba($black, 0.85) 0px 2px 6px -2px inset)
    min-height: 50px
    .page-programs &
      +background(linear-gradient(#4c697a, $blue))
    .page-alumni &
      background: #b00000

// Events filters on mobile
.page-events .inner-sidebar-wrapper
  h2
    display: none
  +breakpoint($bp-mobile-max)
    width: 100%
    .gsb-views-exposed-search
      width: 100%
      label
        margin-bottom: 0
      .views-exposed-form .form-item
        float: none
    .pane-block
      background: transparent
      display: block
      border: 0
      margin: 0
      max-width: 100%
      padding: 0
    .pane-content
      display: none
      margin-top: -24px
    // Mobile menu link
    h2
      border-left: 1px solid rgba($white, 0.3)
      color: $white
      cursor: pointer
      display: inline-block
      font-size: 14px
      line-height: 1
      margin-top: -65px
      padding: 14px 11px 7px 30px
      position: absolute
      right: 0
      text-transform: uppercase
      width: 108px
      +icon-before("plus", true)
      &:before
        color: $white
        font-size: 22px
        position: absolute
        left: 6px
        top: 8px
    .panel-pane
      margin-bottom: 0
    .panel-pane.open
      +background(linear-gradient(rgba(#e7e7e7, 0.5), rgba($white, 0.5)), $white)
      border-bottom: 10px solid $black
      padding: 0 15px 15px 15px
      h2
        +box-shadow(rgba($black, 0.75) 0px 3px 7px -3px inset)
        color: $red
        +background(linear-gradient(#e6e5e5, #f3f3f3) bottom center)
        margin-top: -51px
        padding-right: 73px
        padding-bottom: 9px
        +icon-before("minus", true)
        &:before
          color: $red
      .pane-content
        display: block
        margin-top: 1px
        padding-bottom: 15px
        position: relative
        top: 15px
        width: 100%
        z-index: 1
      .views-exposed-widget
        label
          background-color: $grey-c
          +background(linear-gradient(bottom, $grey-e 20%, #fbfaf8 100%))
          border: 2px $white solid
          +box-shadow(rgba($black, 0.1) 2px 2px 2px, rgba($black, 0.1) 0 0 0 1px)
          color: $red
          display: block
          font-family: $font-demi
          font-size: 18px
          height: 44px
          margin: 1px 2px 2px 1px
          padding: 10px 0 10px 10px
        label.option
          background: none
          border: 0
          box-shadow: 0 0
          -webkit-box-shadow: 0 0
          -moz-box-shadow: 0 0
          color: $black
          display: inline
          font-family: $font-sans
          font-size: 14px
          height: auto
          margin: 0
          padding: 0
        .views-widget
          display: none
        &.open
          .views-widget
            display: block
            padding-left: 10px
            background: $grey-e
            border: 2px $white solid
            +box-shadow(rgba($black, 0.1) 2px 2px 2px, rgba($black, 0.1) 0 0 0 1px)
            border-top: 0
            margin-right: 2px
            margin-left: 1px
      #edit-search-wrapper .views-widget
        display: block
  // Additional calendars
  .pane-bundle-links .green-bar
    background: transparent
    border: 0
    padding: 0
    margin: 0
    box-shadow: 0 0
    -webkit-box-shadow: 0 0
    -moz-box-shadow: 0 0
    .field-name-field-title
      background: $grey-e
      border-top: 1px solid $grey-c
      margin: 20px -14px 0
      padding: 14px 30px
    .field-name-field-link-unlimited .field-item
      border-top: 0
      padding-left: 15px
      a
        font-weight: bold
