//////////////////
// CUSTOM CTA FPPs
//////////////////

// Get directions
.cta-get-directions
  clear: both
  display: block
  overflow: hidden
  padding-bottom: 1px
  border: 2px $white solid
  background: image_url('cta-map.png') repeat-x top left
  +breakpoint(480px 568px)
    background: image_url('cta-map-mobile.jpg') repeat-x 80% 30%
  padding: 20px
  &:hover
    display: block
    overflow: hidden
    border: 2px $white solid
  .cta-body
    padding: 13px 15px
    background: rgba(30, 82, 109, 0.9)
    color: $white
    font-size: 21px
    line-height: 1.5em
    margin-bottom: 0
  &:hover .cta-body
    background: rgba(123, 130, 1, 0.8)

// Follow Us
.pane-gsb-public-custom-blocks-gpcb-follow-us
  +background(image_url('cta-follow-us.jpg') no-repeat top left, #89c0c5)
  height: 144px
  position: relative
  // Header
  h2
    font-size: 0
    line-height: 0
  .social-title
    background: rgba($teal-dark, 0.85)
    color: $white
    display: block
    font-family: $font-demi
    font-size: 18px
    font-weight: normal
    line-height: 1.2
    padding: 12px $standard-padding
    +icon-after("arrow-double-right", true)
    &:after
      color: $white
      display: inline-block
      font-size: 12px
      margin-left: 3px
    &:hover
      background: rgba($text-blue, 0.85)
      color: $white
      text-decoration: underline

  // Social icons
  .icon-wrapper
    margin-top: $standard-padding
    max-width: 270px
    padding: 0 $standard-padding

// Conducting research
.pane-gsb-public-custom-blocks-gpcb-conducting-research
  height: 200px
  padding: $standard-padding
  +background(linear-gradient(left, rgba(#30759c, 1), rgba(#015280, 0)), image_url("bg-library-conducting-research.jpg") 100% 50% no-repeat)
  .description
    color: $white
    font-size: 32px
    .narrow-view &
      font-size: 24px
    line-height: 1.2
    margin-bottom: 20px
    +breakpoint(1000px 1050px)
      font-size: 28px
    +breakpoint(751px max-width)
      font-size: 28px
    +breakpoint(608px 568px)
      font-size: 22px
    +breakpoint($bp-mobile)
      font-size: 24px
  a
    @extend %teal-cta
    max-width: 245px
    &:hover
      &:after
        color: $white
