/////////////////
// GENERIC CTA
/////////////////

.supermenu-row
  .cta-wrapper
    margin-bottom: 16px

// General CTA styles
.cta-wrapper
  margin: 1px 1px 8px 1px
  a
    display: block
.cta-link
  padding: 14px 55px 11px $standard-padding
  font-size: 16px
  position: relative
  line-height: 1.2
  span
    margin-right: 5px
.cta-action
  line-height: 1
  vertical-align: text-top

// CTA email
.cta-red-gradient,
.cta-red,
.cta-green
  .field-item
    line-height: 1
    a[href*="mailto:"]
      padding-right: 22px
      padding-left: 55px
      position: relative
      +icon-before("email-fill", true)
      &:before
        +border-radius(50px)
        color: $white
        display: inline-block
        font-size: 12px
        height: 28px
        line-height: 2.5
        position: absolute
        left: 22px
        top: 20%
        text-align: center
        width: 28px
      &:after
        content: ""
.cta-red-gradient
  .field-item
    a[href*="mailto:"]
      &:before
        font-size: 19px
.cta-red
  .field-item
    a[href*="mailto:"]
      &:before
        background: $red
.cta-green
  .field-item
    a[href*="mailto:"]
      &:before
        background: $link-green
      &:hover
        &:before
          background: $link-blue

// CTA - Green
.cta-green
  @extend %bg-border-and-box-shadow
  .field-item
    border-bottom: 1px solid $grey-c
    border-top: 1px solid $white
    a
      color: $text-green
      position: relative
      +icon-after("arrow-double-right", true)
      &:after
        @extend %arrow-double-big
        font-weight: bold
        color: #e3e3e3
      //CTA green in mega menu
      .supermenu-pane &
        color: $text-green
    &:first-of-type
      border-top: 0
    &:last-of-type
      border-bottom: 0
    &:hover
      a
        color: $text-blue
        &:after
          color: $teal-light

// CTA - Red
.cta-red
  .field-item
    @extend %bg-border-and-box-shadow
    margin-bottom: 5px
    color: $grey-med
    a
      position: relative
      +icon-after("arrow-double-right", true)
      &:after
        @extend %arrow-double-big
        color: $grey-med
      &:hover
        &:after
          color: $teal-light

// CTA - Red gradient
.cta-red-gradient
  .field-item
    margin-bottom: 4px
    border: 0
    +box-shadow($black, 0.45, 1px 1px 1px)
    position: relative
    color: $white
  a
    color: $white
    position: relative
    font-family: $font-demi
    position: relative
    +icon-after("arrow-double-right", true)
    &:after
      @extend %arrow-double-small
      color: $white
    padding-bottom: 14px
    b
      font-weight: normal
    .front &
      +background($red-light)
    &:hover
      a:after
        color: $white
      +background(linear-gradient(#194560, #2c6180))
      .front &
        +background(linear-gradient(#194560, #2c6180))
  // Item-specific gradients
  .item-0
    +background(linear-gradient($red-dark, #8f0000))
    .front &
      +background(linear-gradient($red-dark, #8f0000))
  .item-1
    +background(linear-gradient(#900000, #9d0000))
    .front &
      +background(linear-gradient(#900000, #9d0000))
  .item-2
    +background(linear-gradient(#9e0000, #ac0000))
    .front &
      +background(linear-gradient(#9e0000, #ac0000))
  .item-3
    +background(linear-gradient(#ae0000, #bb0000))
    .front &
      +background(linear-gradient(#ae0000, #bb0000))
  .item-4
    +background(linear-gradient(#bc0000, $red-light))
    .front &
      +background(linear-gradient(#bc0000, $red-light))
