// Image CTA

.pane-bundle-image-cta
  @extend %box-shadow
  max-width: 566px
  position: relative
  bottom: 0
  // Image
  img
    display: block

  // Linked text
  .field-name-field-link-single
    line-height: 0
    a
      color: $white
      display: block
      font-family: $font-demi
      font-size: 18px
      line-height: 1.2
      padding: 12px $standard-padding
      width: 100%
      +icon-after("arrow-double-right", true)
      &:after
        color: $white
        font-size: 12px
      &:hover
        background: rgba($hover-bright, 0.85)

// Narrow view
.narrow-view .pane-bundle-image-cta
  .group-left,
  .group-right
    float: none
    width: 100%
  // Layout
  .group-right
    position: absolute
    bottom: 0
  // Colors
  .image-cta-color-blue a
    background: rgba($blue-bright, 0.85)

  .image-cta-color-lime a
    background: rgba($lime-bright, 0.85)

  .image-cta-color-pink a
    background: rgba($pink-bright, 0.85)

  .image-cta-color-purple a
    background: rgba($purple-bright, 0.85)

  .image-cta-color-teal a
    background: rgba($teal-bright, 0.85)

// Wide view
.wide-view .pane-bundle-image-cta
  +clearfix
  .field-name-field-link-single
    a
      font-size: 20px
      position: absolute
      bottom: 0
      padding-top: 25%
      width: 66.66%

  // Layout
  .group-left
    float: left
    width: 190px
  .group-right
    float: left
    display: inline-block
    margin-left: -190px
    padding-left: 190px
    width: 100%

  // Colors
  .image-cta-color-blue a
    background: $blue-bright

  .image-cta-color-lime a
    background: $lime-bright

  .image-cta-color-pink a
    background: $pink-bright

  .image-cta-color-purple a
    background: $purple-bright

  .image-cta-color-teal a
    background: $teal-bright
