// Image CTA

.pane-bundle-image-cta
  @extend %box-shadow
  max-width: 566px
  position: relative
  bottom: 0

  // Hide title
  .pane-title
    display: none

  // Image
  img
    display: block
    width: 100%

  // Colors
  .image-cta-color-blue a
    background: rgba($blue-bright, 0.85)

  .image-cta-color-lime a
    background: rgba($lime-bright, 0.85)

  .image-cta-color-pink a
    background: rgba($pink-bright, 0.85)

  .image-cta-color-purple a
    background: rgba($purple-bright, 0.85)

  .image-cta-color-teal a
    background: rgba($teal-bright, 0.85)

  // Linked text
  .field-name-field-link-single
    line-height: 0
    a
      color: $white
      display: block
      font-family: $font-demi
      font-size: 18px
      line-height: 1.2
      padding: 12px $standard-padding
      width: 100%
      +icon-after("arrow-double-right", true)
      &:after
        color: $white
        font-size: 12px
        margin-left: 3px
      &:hover
        background: rgba($hover-bright, 0.85) !important

// Narrow view
.narrow-view .pane-bundle-image-cta
  .group-left,
  .group-right
    float: none
    width: 100%
  // Layout
  .group-right
    position: absolute
    bottom: 0

// Narrow view in non-bleed layouts
.panel-display.gsb-standard-page-two,
.panel-display.gsb-event-landing,
.panel-display.gsb-landing-standard-page-one,
.panel-display.gsb-front-page,
.gsb-insights-a,
.gsb-insights-b,
.gsb-insights-c
  .narrow-view .pane-bundle-image-cta
    +breakpoint(568px 480px)
      +clearfix
      a
        font-size: 20px
        position: absolute
        bottom: 0
        padding-top: 25%
        width: 66.66%
        +breakpoint(532px 481px)
          width: 62.66%
      // Layout
      .group-left
        float: left
        width: 190px
      .group-right
        float: left
        display: inline-block
        margin-left: -190px
        padding-left: 190px
        width: 100%

// Wide view
.wide-view .pane-bundle-image-cta
  +clearfix
  .field-name-field-link-single
    line-height: 0
    a
      font-size: 20px
      position: absolute
      bottom: 0
      padding-top: 25%
      width: 66.66%
      +breakpoint(1155px 1101px)
        width: 62.66%
      +breakpoint(1100px 999px)
        font-size: 18px
        padding: 12px $standard-padding
        width: 100%
      +breakpoint(845px 569px)
        font-size: 18px
        padding: 12px $standard-padding
        width: 100%
      +breakpoint(532px 481px)
        width: 62.66%
      +breakpoint(479px max-width)
        font-size: 18px
        padding: 12px $standard-padding
        width: 100%

  // Layout
  .group-left
    float: left
    width: 190px
  .group-right
    float: left
    display: inline-block
    margin-left: -190px
    padding-left: 190px
    width: 100%
  +breakpoint(1100px 999px)
    position: relative
    bottom: 0
    .group-left,
    .group-right
      float: none
      width: 100%
    .group-right
      position: absolute
      bottom: 0
      margin: 0
      padding: 0
  +breakpoint(845px 569px)
    position: relative
    bottom: 0
    .group-left,
    .group-right
      float: none
      width: 100%
    .group-right
      position: absolute
      bottom: 0
      margin: 0
      padding: 0
  +breakpoint(479px max-width)
    position: relative
    bottom: 0
    .group-left,
    .group-right
      float: none
      width: 100%
    .group-right
      position: absolute
      bottom: 0
      margin: 0
      padding: 0
