//////////////////
// GENERAL STYLES
//////////////////

// HEADER REGION
#header-wrapper
  +breakpoint($bp-wide-min)
    border-top: 10px $red-dark solid
  #header
    +breakpoint($bp-wide-min)
      height: 152px
    margin: 0 auto
    max-width: $max-width
    .no-js &, .no-svg &
      +breakpoint($bp-mobile-max)
        min-height: 135px

// LOGO
#logo
  display: inline-block
  margin-top: 36px
  img
    display: none
  .svg &
    height: 76px
    width: 275px
    background: image_url("logo.svg") no-repeat
    background-size: 96.8%
  .no-js &, .no-svg &
    background: image_url("logo.png") no-repeat
  +breakpoint(1210px max-width)
    margin-left: 20px
  +breakpoint($bp-tablet-port-max)
    margin-top: 30px
    margin-bottom: 30px
    .svg &
      background-size: 100%
      height: 65px
      width: 230px
    .no-js &, .no-svg &
      max-width: 230px
  +breakpoint($bp-mobile-max)
    display: block
    .svg &
      height: 36px
      margin: 15px
      width: 122px
    .no-js &, .no-svg &
      margin: 21px 0 18px 15px
      max-width: 150px
  .page-insights &
    +breakpoint(596px max-width)
      float: left
      height: 30px
      margin: 10px
      width: 100px

// 404 logo
.page-not-found
  #logo
    height: 81px
    width: 287px

// SITE SLOGAN
#site-slogan
  font-size: 22px
  float: right
  line-height: 60px
  +breakpoint($bp-tablet-port)
    clear: both
    font-size: 18px
    line-height: 1
    padding-right: 20px
    padding-top: 80px
  +breakpoint(705px max-width)
    max-width: 300px
  +breakpoint($bp-mobile-max)
    display: none
  .page-insights &
    +breakpoint(768px max-width)
      display: none

// CONTENT REGION
#content-wrapper
  position: relative
  background: $white
  &:after,
  &:before
    content: "" !important
    position: absolute
    left: 0
    width: 100%
    height: 5px !important
    visibility: visible
  &:before
    +box-shadow(0 2px 2px rgba($black, 0.3) inset)
    top: 0px
  &:after
    +box-shadow(0 -2px 2px rgba($black, 0.3) inset)
    bottom: 0
    .page-insights &
      +box-shadow(0 0 0 rgba($black, 0) inset)

#content
  margin: 0 auto
  max-width: $max-width

// MAIN REGION
#main
  padding: 30px 0
  +breakpoint($bp-content-max)
    padding: 20px
  +breakpoint($bp-mobile-max)
    padding: 15px

// BOTTOM REGION
#bottom
  +clearfix
  background: $white
  padding-top: 30px
  .block-block
    vertical-align: top
  .bottom-content
    margin: 0 auto
    max-width: $max-width
    +breakpoint($bp-content-max)
      padding: 0 20px
    +breakpoint($bp-mobile-max)
      padding: 0 15px

// FOOTER REGION
#footer-wrapper
  background: $grey-f
  #footer
    margin: 0 auto
    max-width: $max-width
    +breakpoint($bp-content-max)
      padding: 0 20px
    +breakpoint($bp-mobile-max)
      padding: 0 15px

// LEGAL REGION
#legal
  +breakpoint($bp-content-max)
    padding: 0 20px
  +breakpoint($bp-mobile-max)
    padding: 0 15px
  .region
    border-top: 1px $grey-c solid
    margin: 0 auto
    max-width: $max-width
    .page-insights &
      border-top: 0

////////////////
// BACKGROUNDS
////////////////

// Front page courtyard image
.front #content-wrapper
  +breakpoint($bp-tablet-port-min)
    +background(image_url("bg-quad-home.png") top center no-repeat, linear-gradient($white, #e4e4e4))

// Inner page courtyard image
.not-front #content-wrapper
  +breakpoint($bp-tablet-port-min)
    +background(image_url("bg-quad-standard.png") bottom center no-repeat, linear-gradient($white, #f5f5f5))

// GSB Around the world
.page-stanford-gsb-experience-gsb-around-world #content-wrapper
  +breakpoint($bp-tablet-port-min)
    +background(linear-gradient(rgba(#d7e8e5, 0), rgba(#8ea9a4, 0.5)), image_url("bg-quad-standard.png") bottom center no-repeat, linear-gradient($white, #f5f5f5))

// Research and Faculty landing, faculty grid
.page-node-303566,
.page-node-300726
  #content-wrapper
    +breakpoint($bp-tablet-port-min)
      +background(image_url("bg-faculty.jpg") center top no-repeat, #f3f2f3)

// Clubs landing
.page-stanford-gsb-experience-life-stanford-activities-organizations #content-wrapper
  +breakpoint($bp-tablet-port-min)
    +background(image_url("bg-quad-standard.png") bottom center no-repeat, linear-gradient($white, #f5f5f5))

// WITL custom gradient
.page-programs-mba-student-life-week-in-the-life,
.node-type-week-in-the-life
  #content-wrapper
    +breakpoint($bp-tablet-port-min)
      +background(image_url("bg-quad-standard.png") bottom center no-repeat, linear-gradient(#f7f7f7 , #e2e2e2))

// MSx Fellows page
.page-programs-msx,
.node-type-msx-fellows
  #content-wrapper
    +breakpoint($bp-tablet-port-min)
      +background(image_url("bg-msxfellows.jpg") -290px 0 no-repeat, $white)

// Alumni
.page-alumni
  #content-wrapper
    +breakpoint($bp-tablet-port-min)
      +background(image_url("bg-alumni.jpg") center top no-repeat, $white)

// Organizations, Companies and Recruiters
.page-organizations
  #content-wrapper
    +breakpoint($bp-tablet-port-min)
      +background(image_url("bg-organizations.jpg") center top no-repeat, $white)

// Page titles

// Special color bg for landing pages with white titles
.page-node-300216,
.page-node-300436,
.page-node-300221,
.page-node-300286,
.page-node-300291,
.page-node-301056,
.page-node-301286,
.page-node-301386,
.page-faculty-research,
.page-giving
  +breakpoint($bp-tablet-port-min)
    #content-wrapper
      +background(image_url("bg-landing-whitetitlebar.jpg") center top no-repeat, $white)
    #page-title
      background: rgba($white, 0.6)
      border: 2px $white solid
      margin-bottom: 30px
      padding: 12px 26px 10px

// White background title only
// Faculty and research, alumni, organizations
.page-node-303566,
.page-alumni,
.page-organizations
  +breakpoint($bp-tablet-port-min)
    #page-title
      background: rgba($white, 0.6)
      border: 2px $white solid
      margin-bottom: 30px
      padding: 12px 26px 10px

// Links in main content
.main-content
  a
    border-bottom: 1px dashed $green-light
    color: $green-light
    &:hover
      border-bottom: 1px solid $link-blue
      color: $link-blue

// Remove links border
a.no-border
  border: 0
  &:hover
    border: 0

//////////////////
// HIDE PAGE TITLE
/////////////////

.front,
.node-type-news,
.node-type-event,
.page-events,
.node-type-week-in-the-life,
.node-type-msx-fellows,
.page-node-301121,
.page-node-301356,
.page-node-303116,
.page-node-303111,
.page-node-303121,
.page-node-303126,
.page-node-303131,
.page-node-303136,
.node-type-phd-candidate,
.page-node-306331,
.page-node-303161,
.page-node-300276,
.page-node-368466
  #page-title
    display: none

// Show page titles again for mobile
.page-events
  #page-title
    +breakpoint($bp-tablet-port-max)
      display: block

/////////////////////////
// GRADIENTS AND SHADOWS
/////////////////////////

.designed-box,
.pane-gsb-event-sidebar
  @extend %bg-border-and-box-shadow

// Green rounded button
.green-rounded-button
  @extend %green-button

.separated-box,
.pane-block
  margin-bottom: 30px

// Mapbox map width
.mapwrap
  width: 100%

.social-block-twitter
  +icon-after("twitter", true)

.social-block-youtube
  +icon-after("youtube", true)

.social-block-linkedin
  +icon-after("linkedin", true)

.social-block-facebook
  +icon-after("facebook", true)

// Social icons
.icon-wrapper
  +clearfix
  margin: 0
  padding: 0
  li
    display: block
    float: left
    &:first-of-type
      width: 22%
      .circle
        margin-left: 0
    &:nth-of-type(2n)
      width: 28%
    &:nth-of-type(3n)
      width: 28%
    &:last-of-type
      width: 22%
      .circle
        margin-right: 0

// Icon style
.circle
  @extend %circle

// Show more show less on faculty detail
.show-more-less-toggler
  border: 0 !important
  color: $text-green
  font-weight: bold
  line-height: 1
  font-size: 14px
  margin-left: 6px
  +icon-before("arrow-med-down", true)
  &:before
    color: $green-light !important
    float: left
    font-size: 12px
    position: relative
    top: 6px
  &:hover
    &:before
      color: $link-blue !important
  &.show-more-less-toggler-open
    +icon-before("arrow-med-up", false)

.show-more-less
  ul
    padding-left: 0

// Hide file size of uploaded pdfs
.file-size
  display: none

// Related links in sidebar
.pane-node-field-link-unlimited
  @extend %related-links
  background-color: $grey-e
  +background(linear-gradient(top, #e7e7e7, $grey-light))
  h2.pane-title
    +pane-title

// PR CONTACT
.view-mode-media_contact
  margin-top: 24px
  padding-top: 24px
  @extend %divider-top
  padding-bottom: 20px
  a
    color: $text-green
  // Name
  .group-wrapper-name
    // Group label
    h2
      color: $text-black
      font-size: 14px
      font-weight: normal

    .field
      margin-right: 5px
    color: $black
    font-size: 18px
    font-weight: bold

  // Email
  .field-name-field-email
    font-size: 14px
    font-weight: bold
  // Phone
  .field-name-field-phone
    color: $text-black
    font-size: 13px
    .label-inline
      margin-right: 5px
    a
      color: $text-black

// Footnotes
// Number
.field-name-field-body
  .see-footnote
    background: $link-green
    +border-radius(50%)
    color: $white
    display: inline-block
    font-size: 9px
    line-height: 1.7
    height: 14px
    position: relative
    text-align: center
    top: -3px
    width: 14px
    &:hover
      background: $link-blue
      color: $white
      cursor: pointer

  // List
  ul.footnotes
    @extend %divider-top
    padding-top: 12px
    li
      margin-bottom: 8px
      margin-left: 0
      padding: 6px 0 6px 24px
      &:before
        content: "" !important
    .footnote-label
      border-bottom: none
    // Number
    .footnote-number
      margin-left: -20px
      padding-right: 6px
    // Text
    .footnote
      font-size: 14px
      line-height: 1.2
      &:target
        background-color: rgba($teal-light, 0.3)

// Sharrre social buttons

// Twitter
.sharrre-twitter .share
  +icon-before("twitter", true)

// Facebook
.sharrre-facebook .share
  +icon-before("facebook", true)

// Linkedin
.sharrre-linkedin .share
  +icon-before("linkedin", true)

// Google Plus
.sharrre-googleplus .share
  +icon-before("google-plus", true)

.sharrre
  +clearfix
  margin-right: 12px

  // Button
  .share
    +border-radius(50%)
    background: $black
    color: $white
    display: inline-block
    font-weight: normal
    text-align: center
    overflow: hidden
    span
      visibility: hidden
    &:hover
      background: #8aa8a2

  // Counter
  .count
    color: #7d9395
    display: inline-block
    font-family: $font-demi
    font-weight: normal
    float: right
    font-weight: normal
    margin-left: 5px
    &:hover
      text-decoration: none

// Top social buttons
.field-name-social-buttons-top .sharrre
  .share
    height: 40px
    width: 40px
    &:before
      display: inline-block
      font-size: 20px
      position: relative
      top: 9px

  // Counter
  .count
    font-size: 18px

// Bottom social buttons
.field-name-social-buttons-bottom .sharrre
  .share
    height: 30px
    width: 30px
    &:before
      display: inline-block
      font-size: 12px
      position: relative
      top: 5px

  // Counter
  .count
    font-size: 16px

// Highlight and sharrre
#selectionSharerPopover-inner
  +border-radius(20px)

#selectionSharerPopunder-inner
  label
    float: left

// Button on email page
#email-mail-page-form,
#email-contact-mail-page-form
  #edit-submit
    @extend %green-button
