/////////////////////////////
// TEASER AND EXISTING NODE
/////////////////////////////

// Hide sections field in display
.field-name-field-sections
  .field-label,
  .field-items
    display: none

/////////////////
// EXISTING NODE
/////////////////
.pane-bundle-existing-node
  @extend %bg-and-box-shadow
  padding: $standard-padding
  padding-top: 0

  // Featured label - tan style for working papers and cases
  .featured-label
    @extend %taupe-border-top
    display: inline-block
    font-size: 14px
    line-height: 1.2
    margin-bottom: 16px
    padding-top: 6px

  // Date
  .field-name-field-date,
  .field-name-field-month,
  .field-name-field-pub-date-day,
  .field-name-field-year-of-publication,
  .field-name-field-date-published,
  .field-name-field-event-date
    color: $text-black
    font-size: 14px
    line-height: 1.2
    margin-bottom: 14px

  // Title
  .field-name-title,
  .field-name-field-link-single
    margin-bottom: 8px
    h2
      color: $text-black
      display: inline
      line-height: 0
      a
        font-family: $font-sans
        font-size: 24px
        font-weight: bold
        line-height: 1.2
        +breakpoint(850px max-width)
          font-size: 20px
        +breakpoint(610px max-width)
          font-size: 18px
        &[target="_blank"]
          +icon-after("arrow-external", true)
          &:after
            display: inline
            font-size: 12px
            margin-left: 3px
        &[href$=".pdf"]
          &[target="_blank"]
            &:after
              display: inline
              font-size: 14px
              margin-left: 3px

  // Document link
  .field-name-field-link-document
    font-size: 20px
    a
      font-size: 20px
      &:hover
        color: $link-blue
      +icon-after("pdf", true)
      &:after
        @extend %doc-attached-icons
        font-size: 14px

  // Hide tags labels on teasers
  .group-tags-wrapper h3
    display: none

  // Working paper title
  .group-wrapper-title
    margin-bottom: 8px

  // Working paper authors
  .gsb_field_formatter_field_collection_separator
    line-height: 0

  .field-collection-item-field-authors,
  .field-name-field-author
    font-family: $font-demi
    font-size: 16px
    font-weight: normal
    line-height: 1.2

  // Working paper publisher
  .field-name-field-publisher
    display: inline-block
    &:after
      content: "|"
      padding-right: 5px
      padding-left: 5px

  // Editorial summary, description, publisher and dek
  .field-name-field-body,
  .field-name-field-description,
  .field-name-field-publisher,
  .field-name-field-editorial-summary
    font-size: 16px
    line-height: 1.3
    margin-top: 12px
    max-width: 600px

  // Event teaser
  .node-event.view-mode-teaser
    // Event label - black like insights
    h2.insights-label.event
      background: $text-black
      color: $white
      display: inline-block
      font-family: $font-demi
      font-size: 14px
      line-height: 1.2
      margin-bottom: 18px
      padding: 6px 8px
      position: relative
      z-index: 2

    // Image
    .field-name-field-image-single-public
      margin: -46px -26px 18px -26px
      .wide-view &
        display: none
      +breakpoint($bp-mobile-max)
        display: none

    // Event address
    .field-name-field-address
      font-family: $font-demi
      font-size: 16px
      font-weight: normal
      line-height: 1.2

  // Book image
  .node-book.view-mode-teaser
    .field-name-field-image-single-public
      max-width: 150px

// Responsive book teaser

// Narrow view
.narrow-view .node-book.view-mode-teaser
  +clearfix
  // Featured label
  .featured-label
    +breakpoint($bp-mobile-max)
      display: block
      max-width: 90px

  // Image
  .field-name-field-image-single-public
    margin-bottom: 16px
    +breakpoint($bp-mobile-max)
      float: left
      margin-right: 15px
    +breakpoint($bp-mobile-480)
      float: none
      margin-right: 0
    img
      +breakpoint($bp-mobile-max)
        max-width: 85px

  // No text wrap on mobile
  .field-name-title,
  .field-name-field-authors
    display: block
    +breakpoint($bp-mobile-max)
      margin-left: 100px
    +breakpoint($bp-mobile-480)
      margin-left: 0

// Wide view
.wide-view .node-book.view-mode-teaser
  +clearfix
  // Featured label
  .featured-label
    display: block
    max-width: 90px

  // Image
  .field-name-field-image-single-public
    float: left
    margin-bottom: 0
    margin-right: 15px
    +breakpoint(768px 569px)
      float: none
      margin-bottom: 12px
      margin-right: 0
    +breakpoint($bp-mobile-480)
      float: none
      margin-bottom: 12px
      margin-right: 0
    img
      max-width: 85px
      +breakpoint(768px 569px)
        float: none
        margin-right: 0
        max-width: 150px

  // No text wrap on mobile
  .field-name-title,
  .field-name-field-authors
    display: block
    margin-left: 115px
    +breakpoint(768px 569px)
      margin-left: 0
    +breakpoint($bp-mobile-max)
      margin-left: 100px
    +breakpoint($bp-mobile-480)
      margin-left: 0

// Insights pieces
.pane-bundle-existing-node .node-idea-story.view-mode-teaser,
.pane-bundle-existing-node .node-offsite-idea-story.view-mode-teaser,
.node-school-story.view-mode-teaser,
.node-offsite-school-story.view-mode-teaser,
.node-announcement.view-mode-teaser
  position: relative
  top: 0

  // Image
  .field-name-field-image-key-image
    margin: 0 -26px 10px

  // Media icons
  .media-icon.Video
    margin-right: 8px
    position: relative
    top: -3px
    +icon-after("video", true)
    &:after
      color: #bcbcbc
      font-size: 20px
      +breakpoint(850px max-width)
        font-size: 18px

  // Audio
  .media-icon.Audio
    margin-right: 8px
    position: relative
    top: 0
    +icon-after("podcast", true)
    &:after
      color: #bcbcbc
      font-size: 20px
      +breakpoint(850px max-width)
        font-size: 18px

  // Infographic
  .media-icon.Infographic
    margin-right: 6px
    &:after
      content: "Infographic:"
      font-size: 26px
      font-weight: bold
      line-height: 1.2
      +breakpoint(850px max-width)
        font-size: 18px

  // Taxonomy
  .field-name-field-key-taxonomy
    display: block
    margin-top: 8px
    span
      &:after
        color: $text-black
        content: ","
      &:last-of-type
        &:after
          content: ""
    a
      font-size: 16px
      line-height: 1.3

body:not(.page-insights)
  // Insights teaser outside of Insights section
  .pane-bundle-existing-node .node-idea-story.view-mode-teaser,
  .pane-bundle-existing-node .node-offsite-idea-story.view-mode-teaser
    // Hide taxonomy outside of section
    .field-name-field-key-taxonomy
      display: none

// Offsite school story responsive
.node-offsite-school-story.view-mode-teaser
  +breakpoint(634px max-width)
    // Label
    .insights-label.school-news
      display: inline-block
      margin-bottom: 12px
      position: relative

    .field-name-field-link-single
      font-size: 18px

    // Hide image, dek, publication
    .field-name-field-image-key-image,
    .field-name-field-publisher,
    .field-name-field-editorial-summary
      display: none

// Four across Insight card superwide-view
.superwide-view .pane-bundle-existing-node
  +breakpoint(1171px min-width)
    max-width: 100%
    padding: 0
    .node-idea-story.view-mode-teaser,
    .node-offsite-idea-story.view-mode-teaser
      +clearfix
      position: relative
      bottom: 0

      // Image
      .field.field-name-field-image-key-image
        display: inline
        float: left
        margin: 0
        // max-width: 734px
        max-width: 62.8%
        img
          vertical-align: bottom

      // Text wrapper
      .group-wrapper-idea-story-text
        display: inline
        float: left
        max-width: 434px
        padding: 36px
        position: absolute
        bottom: 0

      // Media icons
      .media-icon.Video
        &:after
          font-size: 24px

      // Audio
      .media-icon.Audio
        &:after
          font-size: 24px

      // Infographic
      .media-icon.Infographic
        +breakpoint(1200px min-width)
          &:after
            font-size: 34px

      // Title
      .field-name-title,
      .field-name-field-link-single
        margin-bottom: 8px
        h2
          display: inline
          line-height: 0
          a
            font-family: $font-sans
            font-weight: bold
            line-height: 1.2
            +breakpoint(1200px min-width)
              font-size: 34px
      .field-name-field-link-single a
        &[target="_blank"]
          +icon-after("arrow-external", true)
          &:after
            font-size: 18px
            margin-left: 3px

      // Publisher and Dek
      .field-name-field-publisher,
      .field-name-field-editorial-summary
        font-size: 20px
        line-height: 1.3
        margin-top: 12px

// Hide  Image, Source, Dek
.node-school-story.view-mode-teaser,
.node-offsite-school-story.view-mode-teaser,
.node-announcement.view-mode-teaser
  +breakpoint(610px max-width)
    h2.insights-label
      display: inline-block
      margin-bottom: 14px
      position: relative
    .field-name-field-image-key-image,
    .field-name-field-publisher,
    .field-name-field-editorial-summary
      display: none
