/////////////////////////////
// TEASER AND EXISTING NODE
/////////////////////////////

// Hide sections field in display
.field-name-field-sections
  .field-label,
  .field-items
    display: none

/////////////////
// EXISTING NODE
/////////////////
.pane-bundle-existing-node
  @extend %bg-border-and-box-shadow
  padding: $standard-padding
  padding-top: 0

  // Date
  .field-name-field-month,
  .field-name-field-pub-date-day,
  .field-name-field-year-of-publication,
  .field-name-field-date-published,
  .field-name-field-event-date
    color: $grey-6
    font-size: 14px
    margin-bottom: 1em

  // Title
  h2
    color: $text-black
    font-family: $font-demi
    font-size: 20px
    font-weight: normal
    line-height: 1.2
    margin-bottom: 6px
    text-transform: none
    a
      color: $red
      &:hover
        color: $link-blue

  // Document link
  .field-name-field-link-document
    font-size: 20px
    a
      font-size: 20px
      &:hover
        color: $link-blue
      +icon-after("pdf", true)
      &:after
        @extend %doc-attached-icons
        font-size: 14px


  // Hide tags labels on teasers
  .group-tags-wrapper h3
    display: none

  // Book, Case and Working Paper styles

  ////////////////
  // Featured label
  ////////////////
  .featured-label
    @extend %taupe-border-top
    display: inline-block
    font-size: 14px
    line-height: 1.2
    margin-bottom: 16px
    padding-top: 6px

  // Authors
  .gsb_field_formatter_field_collection_separator
    line-height: 0

  .field-collection-item-field-authors,
  .field-name-field-author
    font-family: $font-demi
    font-size: 16px
    font-weight: normal
    line-height: 1.2

  // Book image
  .field-name-field-image-single-public
    margin-bottom: 12px
    max-width: 150px

  // Working paper title
  .group-wrapper-title
    margin-bottom: 12px
    h2
      display: inline

  // Editorial Summary or Description
  .field-name-field-editorial-summary,
  .field-name-field-body,
  .field-name-field-description
    font-size: 16px
    font-weight: normal
    line-height: 1.2
    margin-top: 12px
    max-width: 600px

///////////////////////////
// Responsive book teaser
///////////////////////////

// Narrow view
.narrow-view .node-book.view-mode-teaser
  +clearfix
  // Featured label
  .featured-label
    +breakpoint($bp-mobile-max)
      display: block
      max-width: 90px

  // Image
  .field-name-field-image-single-public
    +breakpoint($bp-mobile-max)
      float: left
      margin-right: 15px
    +breakpoint($bp-mobile-480)
      float: none
      margin-right: 0
    img
      +breakpoint($bp-mobile-max)
        max-width: 85px

  // No text wrap on mobile
  .field-name-title,
  .field-name-field-authors
    display: block
    +breakpoint($bp-mobile-max)
      margin-left: 100px
    +breakpoint($bp-mobile-480)
      margin-left: 0

// Wide view
.wide-view .node-book.view-mode-teaser
  +clearfix
  // Featured label
  .featured-label
    display: block
    max-width: 90px

  // Image
  .field-name-field-image-single-public
    float: left
    margin-bottom: 0
    margin-right: 15px
    +breakpoint(768px 569px)
      float: none
      margin-bottom: 12px
      margin-right: 0
    +breakpoint($bp-mobile-480)
      float: none
      margin-bottom: 12px
      margin-right: 0
    img
      +breakpoint(768px 569px)
        float: none
        margin-right: 0
      +breakpoint($bp-mobile-max)
        max-width: 85px

  // No text wrap on mobile
  .field-name-title,
  .field-name-field-authors
    display: block
    margin-left: 115px
    +breakpoint(768px 569px)
      margin-left: 0
    +breakpoint($bp-mobile-max)
      margin-left: 100px
    +breakpoint($bp-mobile-480)
      margin-left: 0
