/////////////////////////////
// TEASER AND EXISTING NODE
/////////////////////////////

// Hide sections field in display
.field-name-field-sections
  .field-label,
  .field-items
    display: none

/////////////////
// EXISTING NODE
/////////////////
.pane-bundle-existing-node
  @extend %bg-border-and-box-shadow
  padding: $standard-padding
  padding-top: 0
  .page-insights &
    @extend %box-shadow
    background: $white

  // Date
  .field-name-field-month,
  .field-name-field-pub-date-day,
  .field-name-field-year-of-publication,
  .field-name-field-date-published,
  .field-name-field-event-date
    color: $grey-6
    font-size: 14px
    margin-bottom: 1em

  // Title
  h2
    color: $text-black
    font-family: $font-demi
    font-size: 20px
    font-weight: normal
    line-height: 1.2
    margin-bottom: 6px
    text-transform: none
    a
      color: $red
      &:hover
        color: $link-blue

  // Document link
  .field-name-field-link-document
    font-size: 20px
    a
      font-size: 20px
      &:hover
        color: $link-blue
      +icon-after("pdf", true)
      &:after
        @extend %doc-attached-icons
        font-size: 14px


  // Hide tags labels on teasers
  .group-tags-wrapper h3
    display: none

  // Book, Case and Working Paper styles

  ////////////////
  // Featured label
  ////////////////
  .featured-label
    @extend %taupe-border-top
    display: inline-block
    font-size: 14px
    line-height: 1.2
    margin-bottom: 16px
    padding-top: 6px

  // Authors
  .gsb_field_formatter_field_collection_separator
    line-height: 0

  .field-collection-item-field-authors,
  .field-name-field-author
    font-family: $font-demi
    font-size: 16px
    font-weight: normal
    line-height: 1.2

  // Book image
  .field-name-field-image-single-public
    margin-bottom: 12px
    max-width: 150px

  // Working paper title
  .group-wrapper-title
    margin-bottom: 12px
    h2
      display: inline

  // Editorial Summary or Description
  .field-name-field-editorial-summary,
  .field-name-field-body,
  .field-name-field-description
    font-size: 16px
    font-weight: normal
    line-height: 1.3
    margin-top: 12px
    max-width: 600px

///////////////////////////
// Responsive book teaser
///////////////////////////

// Narrow view
.narrow-view .node-book.view-mode-teaser
  +clearfix
  // Featured label
  .featured-label
    +breakpoint($bp-mobile-max)
      display: block
      max-width: 90px

  // Image
  .field-name-field-image-single-public
    +breakpoint($bp-mobile-max)
      float: left
      margin-right: 15px
    +breakpoint($bp-mobile-480)
      float: none
      margin-right: 0
    img
      +breakpoint($bp-mobile-max)
        max-width: 85px

  // No text wrap on mobile
  .field-name-title,
  .field-name-field-authors
    display: block
    +breakpoint($bp-mobile-max)
      margin-left: 100px
    +breakpoint($bp-mobile-480)
      margin-left: 0

// Wide view
.wide-view .node-book.view-mode-teaser
  +clearfix
  // Featured label
  .featured-label
    display: block
    max-width: 90px

  // Image
  .field-name-field-image-single-public
    float: left
    margin-bottom: 0
    margin-right: 15px
    +breakpoint(768px 569px)
      float: none
      margin-bottom: 12px
      margin-right: 0
    +breakpoint($bp-mobile-480)
      float: none
      margin-bottom: 12px
      margin-right: 0
    img
      max-width: 85px
      +breakpoint(768px 569px)
        float: none
        margin-right: 0
        max-width: 150px

  // No text wrap on mobile
  .field-name-title,
  .field-name-field-authors
    display: block
    margin-left: 115px
    +breakpoint(768px 569px)
      margin-left: 0
    +breakpoint($bp-mobile-max)
      margin-left: 100px
    +breakpoint($bp-mobile-480)
      margin-left: 0

// Insights teaser outside of Insights section
.pane-bundle-existing-node .node-idea-story.view-mode-teaser,
.pane-bundle-existing-node .node-offsite-idea-story.view-mode-teaser
  // Hide taxonomy outside of section
  .field-name-field-key-taxonomy
    display: none


// Insights Teasers in Insights section
.page-insights .pane-bundle-existing-node
  border: 0

.pane-bundle-existing-node .node-idea-story.view-mode-teaser,
.node-offsite-idea-story.view-mode-teaser,
.node-school-story.view-mode-teaser,
.node-offsite-school-story.view-mode-teaser,
.node-announcement.view-mode-teaser
  position: relative
  top: 0

  // Image
  .field-name-field-image-key-image
    margin: 0 -26px 10px

  // Date
  .field-name-field-date
    color: $text-black
    font-size: 14px
    line-height: 1.2
    margin-bottom: 8px

  // Media icons
  .media-icon.Video
    margin-right: 8px
    position: relative
    top: -1px
    +icon-after("video", true)
    &:after
      color: #bcbcbc
      font-size: 20px
      +breakpoint(850px max-width)
        font-size: 18px

  // Audio
  .media-icon.Audio
    margin-right: 8px
    position: relative
    top: 0
    +icon-after("podcast", true)
    &:after
      color: #bcbcbc
      font-size: 20px
      +breakpoint(850px max-width)
        font-size: 18px

  // Infographic
  .media-icon.Infographic
    margin-right: 6px
    &:after
      content: "Infographic:"
      font-size: 26px
      font-weight: bold
      line-height: 1.2
      +breakpoint(850px max-width)
        font-size: 18px

  // Title
  .field-name-title,
  .field-name-field-link-single
    margin-bottom: 8px
    h2
      display: inline
      line-height: 0
      a
        font-family: $font-sans
        font-size: 26px
        font-weight: bold
        line-height: 1.2
        +breakpoint(610px max-width)
          font-size: 18px
        &[target="_blank"]
          +icon-after("arrow-external", true)
          &:after
            font-size: 12px
            margin-left: 3px
        &[href$=".pdf"]
          &[target="_blank"]
            &:after
              font-size: 14px
              margin-left: 3px

  // Publisher and Dek
  .field-name-field-publisher,
  .field-name-field-editorial-summary
    font-size: 16px
    line-height: 1.3
    margin-top: 12px

  .field-name-field-publisher
    &:after
      content: "|"
      padding-right: 5px
      padding-left: 5px

  // Taxonomy
  .field-name-field-key-taxonomy
    display: block
    margin-top: 8px
    span
      &:after
        color: $text-black
        content: ","
      &:last-of-type
        &:after
          content: ""
    a
      font-size: 16px
      line-height: 1.3
