// Faculty by academic area pane
// Styling adapted from green links fpp
.pane-faculty-filters-faculty-by-criteria

  // Content wrapper
  .pane-content
    padding-top: 12px

  // Row styling
  .views-row
    +clearfix
    border-top: 0
    padding: 10px $standard-padding

  // Faculty name
  .views-field-title
    line-height: 0
    // Link color
    a
      color: $link-green
      font-size: 16px
      font-weight: bold
      line-height: 1.2
      &:hover
        color: $link-blue

  // Rank and academic area
  .views-field-field-rank,
  .views-field-field-academic-area-single
    display: block
    float: left
    font-family: $font-demi
    font-size: 16px
    font-weight: normal
    line-height: 1.3

  // Comma separator
  .separator
    display: block
    float: left
    margin-right: 5px
