// Faculty by academic area pane
// Styling adapted from green links fpp
.pane-faculty-filters-faculty-by-criteria
  @extend %bg-border-and-box-shadow
  padding: 0 $standard-padding $standard-padding
  // Pane title
  .pane-title
    color: $text-black
    font-size: 20px
    padding: $standard-padding 0 0 0
    line-height: 1.2
  // Content wrapper
  .pane-content
    padding-top: 12px
  .views-row
    +clearfix
    margin-bottom: 9px
    &:last-of-type
      margin-bottom: 0

  // Faculty name
  .views-field-title
    line-height: 0
    a
      color: $link-green
      font-size: 16px
      line-height: 1.2
      &:hover
        color: $link-blue

  // Rank and academic area
  .views-field-field-rank,
  .views-field-field-academic-area-single
    display: block
    float: left
    font-size: 14px
    line-height: 1.2

  // Comma separator
  .separator
    display: block
    font-size: 14px
    float: left
    line-height: 1.2
    margin-right: 3px
