///////////////////////////////////
// Comma separator styling on tags
///////////////////////////////////

// Field formatter
.field-group-gsb_field_formatter_group_comma_separator
  .entity,
  .field,
  .separator
    display: inline
  .separator
    margin-right: 3px

// Field collection
.gsb_field_formatter_field_collection_separator
  .entity,
  .field,
  .separator
    display: inline

// Tags wrapper
.group-tags-wrapper
  font-size: 14px
  color: $text-black
  line-height: 0
  margin-bottom: -6px
  margin-top: 13px
  h3
    color: $text-black
    display: inline-block
    font-size: 14px
    font-weight: normal
    line-height: 1
    margin: 0 5px 0 0
    text-transform: none
  a
    font-size: 14px
    line-height: 1.2

.view-mode-teaser
  .group-tags-wrapper
    margin-top: 0

////////////////////////////////
// Comma separators on authors
////////////////////////////////

// Publications authors
// Case study authors
.field-name-field-person-fac-staff-other,
.field-name-field-person-other,
.field-name-field-person-fac-student-other
  .separator
    position: relative
    left: -4px

// Kill random field.css float for this field collection
.field-name-field-person-fac-student-ref
  .field-items
    float: none

// Authors of research paper
.field-name-field-person-fac-student-other
  .field-item
    display: inline

/////////////////
// Author names
/////////////////
.field-name-field-person-other,
.field-name-field-person-fac-student-other
  +clearfix
  color: $black
  font-size: 18px
  font-weight: bold
  line-height: 1
  .label-inline
    font-weight: bold
    margin-right: 5px
  .field-name-field-first-name
    margin-right: 5px
