// Footer

#footer
  .region-footer
    +clearfix
    padding: 40px 0
    position: relative
    top: 0
    .page-alumni &
      +breakpoint(768px max-width)
        padding-bottom: 0
    +breakpoint($bp-mobile-max)
      padding-top: 15px

#footer-wrapper
  background: #f4f4f4
  .page-insights &
    background: $white
    border-top: 0

// Follow us block
#block-gsb-public-custom-blocks-gpcb-follow-us
  clear: none
  float: left
  margin-right: -100%
  width: 23.077%
  +breakpoint(767px max-width)
    float: none
    margin: 0
    margin-bottom: 30px
    width: 100%
    border-bottom: 1px $grey-c solid
    margin-bottom: 12px
    padding-bottom: 12px
    margin-right: 0

  // Title
  h2
    @extend %divider-bottom
    font-family: $font-demi
    font-size: 20px
    font-weight: normal
    line-height: 1.3
    margin-bottom: 12px
    padding-bottom: 12px
    a
      +icon-after("arrow-double-right", true)
      &:after
        color: $grey-med
        display: inline
        font-size: 12px
        font-weight: normal
        margin-left: 3px
      &:hover
        &:after
          color: $teal-light

  // Icon wrapper
  .icon-wrapper
    display: block
    max-width: 220px

// General footer menu styles
#block-menu-menu-footer-1,
#block-menu-menu-footer-2,
#block-menu-menu-footer-alumni-section
  width: 23.077%
  a
    font-family: $font-demi
    font-size: 18px
    font-weight: normal
    line-height: 1.3
    margin-bottom: 6px
  li
    line-height: 0
    margin-bottom: 20px
    &:last-of-type
      a
        margin-bottom: 0

#block-menu-menu-footer-1,
#block-menu-menu-footer-alumni-section
  clear: none
  float: left
  margin-left: 25.642%
  margin-right: -100%
  +breakpoint(999px max-width)
    margin-left: 35%

#block-menu-menu-footer-2
  clear: none
  float: left
  margin-left: 51.28205%
  margin-right: 0
  +breakpoint(999px max-width)
    clear: left
    margin-left: 35%
    margin-right: -100%

// Email sign up
#block-gsb-public-custom-blocks-gpcb-enews-signup
  clear: right
  float: none
  margin-left: 76.92308%
  margin-right: 0
  width: 23.077%
  +breakpoint(999px max-width)
    margin-left: 68.12308%

// Title
.signup-label
  font-family: $font-demi
  font-weight: normal
  font-size: 20px
  line-height: 1.3
  margin-bottom: 3px

// Description
.signup-description
  cursor: default
  font-size: 16px
  line-height: 1.3
  margin-bottom: 20px

// Signup wrapper
.signup-wrapper
  +clearfix

// Email wrapper
.signup-email-wrapper
  margin-right: -40px
  padding-right: 40px
  width: 100%

// Email input
input.signup-email
  border: 1px $border-grey solid
  +box-shadow(none)
  +border-radius(0)
  float: left
  height: 36px
  line-height: 1
  width: 100%
  &:focus
    outline: none
    +box-shadow(none)
    border: 1px #900 solid

// Submit button
input.signup-submit
  background: $red
  border: none
  +border-radius(0 20px 20px 0)
  color: $white
  float: left
  font-size: 14px
  font-family: $font-sans
  font-weight: bold
  height: 36px
  line-height: 2.25
  margin: 0
  margin-left: -1px
  text-align: center
  text-shadow: none
  text-transform: uppercase
  width: 41px
  &:hover
    background: $link-blue


// Footer columns
#block-gsb-public-custom-blocks-gpcb-follow-us,
#block-menu-menu-footer-1,
#block-menu-menu-footer-2,
#block-gsb-public-custom-blocks-gpcb-enews-signup,
#block-menu-menu-footer-alumni-section
  +breakpoint(999px max-width)
    max-width: 350px
    width: 30%
  +breakpoint(768px max-width)
    float: none
    margin: 0
    margin-bottom: 30px
    width: 100%
#block-menu-menu-footer-1
  +breakpoint(768px max-width)
    margin-bottom: 0

// Legal and Copyright region

// Privacy menu
#block-menu-menu-footer-3
  float: right
  padding: 11px 0
  +breakpoint(800px max-width)
    float: none
    position: relative
  li
    display: inline-block
    margin-right: 26px
    &:first-of-type
      margin-left: 5px
      +breakpoint(800px max-width)
        margin-left: 0
    &:last-of-type
      margin-right: 0
    +breakpoint(800px max-width)
      display: block
      margin: 4px 0
  a
    color: $text-grey-light
    font-size: 14px

// Copyright and address
.gsb-footer-meta
  color: $text-grey-light
  font-size: 14px
  line-height: 1.5
  padding: 12px 0
  +breakpoint(800px max-width)
    float: left
    padding-top: 0
  .copyright
    font-family: $font-demi

// Insights Only - News, Alumni, Giving menus
#block-menu-menu-insights-footer-bottom-menu
  border-bottom: 1px $grey-c solid
  padding: 20px 0
  li
    display: inline-block
    font-family: $font-demi
    font-size: 18px
    font-weight: normal
    line-height: 1.3
    margin-right: 36px
    &:last-of-type
      margin-right: 0

// Second Alumni footer
#block-menu-menu-section-menu-alumni-footer-
  position: absolute
  right: 0
  bottom: 14px
  +breakpoint(768px max-width)
    bottom: 0
    position: relative
    margin: 40px 0 15px 0
  li
    display: inline-block
    &:first-of-type
      &:after
        color: $text-grey-light
        content: "|"
        margin: 0 10px 0 14px
  // Link style
  a
    font-family: $font-demi
    font-size: 14px
    font-weight: normal

// EE Footer
.page-exec-ed #footer
  .block
    max-width: 335px
  .region-footer
    +flex-box
    -webkit-box-flex-flow: row wrap
    -moz-box-flex-flow: row wrap
    -ms-flexbox-flex-flow: row wrap
    -webkit-flex-flex-flow: row wrap
    flex-flow: row wrap
    -webkit-box-justify-content: space-between
    -moz-box-justify-content: space-between
    -ms-flexbox-justify-content: space-between
    -webkit-flex-justify-content: space-between
    justify-content: space-between

// Contact info
#block-block-26
  p
    margin-bottom: 0
  h2
    color: $text-black
    font-family: $font-sans
    font-size: 20px
    font-weight: bold
    line-height: 1.3
  h3
    color: $text-black
    font-family: $font-sans
    font-size: 18px
    font-weight: normal
    line-height: 1.3

  .contact-wrapper
    margin: 12px 0 24px

  .phone
    color: $text-black
    font-size: 15px
    line-height: 1.3
    a
      color: $text-black
    .label
      font-size: 16px
  .email a
    color: $link-green
    font-size: 16px
    line-height: 1.3
    +icon-after("email-stroke", true)
    &:after
      font-size: 10px
      margin-left: 3px
    &:hover
      color: $link-blue

  // CTA
  .cta-wrapper
    @extend %bg-and-box-shadow
    color: $grey-med
    margin-bottom: 0
    a,
    a[target="_blank"]
      font-size: 16px
      padding: 14px 36px 14px 20px
      position: relative
      +icon-after("arrow-double-right", true)
      &:after
        @extend %arrow-double-big
        color: $grey-med
      &:hover
        &:after
          color: $teal-light

// Stay Informed
#block-gsb-public-custom-blocks-gpcb-stay-informed
  // Title
  .signup-label
    color: $text-black
    font-family: $font-sans
    font-size: 20px
    font-weight: bold
    line-height: 1.3
    margin-bottom: 18px

// Follow links
#block-menu-menu-executive-education-footer,
#block-menu-menu-seed-footer
  a
    display: inline-block
    font-family: $font-demi
    font-size: 18px
    font-weight: normal
    line-height: 1.3
    margin-bottom: 6px

// SEED Footer
.page-seed #footer
  .block
    max-width: 335px
  .region-footer
    +flex-box
    -webkit-box-flex-flow: row wrap
    -moz-box-flex-flow: row wrap
    -ms-flexbox-flex-flow: row wrap
    -webkit-flex-flex-flow: row wrap
    flex-flow: row wrap
    -webkit-box-justify-content: space-between
    -moz-box-justify-content: space-between
    -ms-flexbox-justify-content: space-between
    -webkit-flex-justify-content: space-between
    justify-content: space-between

// Contact block
#block-block-31

  // Logo wrapper
  .logo-wrapper
    margin-bottom: 60px
    .svg &
      .seed-logo
        background: image_url("logo-seed-2016-03-22-1.svg") no-repeat
        background-size: 100%
        display: block
        height: 90px
        &:hover
          text-decoration: none
      h2,
      p
        display: none
    .no-js &,
    .no-svg &
      h2
        color: $text-black

  // Info styling
  p
    margin-bottom: 0
  h3
    color: $text-black
    font-family: $font-sans
    font-size: 20px
    font-weight: bold
    line-height: 1.3
    margin-bottom: 8px

  .seed-wrapper
    color: $text-black
    font-size: 15px
    line-height: 1.3
    margin: 12px 0 24px

  // Address wrappers
  .contact-wrapper
    margin-bottom: 12px
