//////////
// FOOTER
//////////

#footer
  .region-footer
    padding-top: 35px
    position: relative
    top: 0
    +breakpoint($bp-mobile-max)
      padding-top: 15px

// Footer columns
#block-gsb-public-custom-blocks-gpcb-follow-us,
#block-menu-menu-footer-1,
#block-menu-menu-footer-2,
#block-gsb-public-custom-blocks-gpcb-enews-signup
  display: inline-block
  margin-right: 15px
  vertical-align: top
  width: 256px
  +breakpoint(1024px min-width)
    margin-right: 30px
    width: 270px
  +breakpoint($bp-tablet-port-max)
    margin-right: 16px
    width: 165px
  +breakpoint($bp-mobile-max)
    width: 100%

#block-menu-menu-footer-1,
#block-menu-menu-footer-2
  +breakpoint($bp-tablet-land-max)
    width: 100%
    max-width: 165px
  +breakpoint(601px 767px)
    max-width: 81px

#block-gsb-public-custom-blocks-gpcb-enews-signup
  margin-right: 0
  +breakpoint($bp-tablet-port-max)
    margin-bottom: 24px
  +breakpoint($bp-tablet-port)
    width: 171px

// General footer menu styles
#block-menu-menu-footer-1,
#block-menu-menu-footer-2
  a
    display: block
    font-weight: bold
    line-height: 1.3
    max-width: 200px
    text-transform: uppercase
    +breakpoint(895px max-width)
      font-size: 13px
  li
    margin-bottom: 20px
    &:last-of-type
      a
        margin-bottom: 0

#footer-wrapper
  border-top: 1px solid $white
  +background(linear-gradient(top, #f0efef, $white))

// Follow us block
#block-gsb-public-custom-blocks-gpcb-follow-us
  margin-right: 15px
  +breakpoint($bp-mobile-max)
    border-bottom: 1px $grey-c solid
    margin-bottom: 12px
    padding-bottom: 12px
    margin-right: 0
  // Title
  h2
    border-bottom: 1px solid $grey-c
    font-family: $font-sans
    font-size: 20px
    font-weight: bold
    line-height: 1
    margin-bottom: 12px
    padding-bottom: 12px
    a
      +icon-after("arrow-double-right", true)
      &:after
        color: $grey-med
        font-size: 12px
        font-weight: normal
        margin-left: 3px
      &:hover
        &:after
          color: $teal-light

  // Icon wrapper
  .icon-wrapper
    display: block
    max-width: 220px

// NEWSLETTER SIGNUP
.footer__signup__label
  font-weight: bold
  font-size: 16px
  margin-bottom: 3px
  line-height: 1.3

.footer__signup__description
  font-size: 15px
  line-height: 1.2
  width: 185px
  margin-bottom: 20px
  +breakpoint($bp-mobile-max)
    width: 295px

input.footer__signup__email
  border: 1px $input-border solid
  +box-shadow(none)
  +border-radius(0)
  float: left
  height: 36px
  line-height: 1
  width: 160px
  padding-left: 7px
  +breakpoint($bp-tablet-port)
    width: 130px
  +breakpoint($bp-mobile-max)
    width: 247px
  &:focus
    outline: none
    +box-shadow(none)
    border: 1px #900 solid

input.footer__signup__submit
  +background(linear-gradient(bottom, $red-light 40%, $red-dark 90%))
  border: none
  +border-radius(0 20px 20px 0)
  color: $white
  float: left
  font-size: 14px
  font-family: $font-sans
  font-weight: bold
  height: 36px
  line-height: 2.5
  margin: 0
  margin-left: -1px
  text-align: center
  text-shadow: none
  width: 41px
  &:hover
    +background(linear-gradient(#194560, #2c6180))

// Legal and Copyright region

// Privacy menu
#block-menu-menu-footer-3
  float: right
  padding: 12px 0
  +breakpoint(801px max-width)
    float: none
    position: relative
    top: 24px
    +breakpoint(714px max-width)
      top: 0
    .menu
      float: right
      +breakpoint(714px max-width)
        float: none
  li
    display: inline-block
    margin-right: 44px
    +breakpoint($bp-tablet-port)
      margin-right: 18px
    +breakpoint($bp-mobile-max)
      margin-right: 25px
    a
      font-size: 14px

// Copyright and address
.gsb-footer-meta
  color: $grey-6
  font-size: 14px
  line-height: 1.5
  padding: 12px 0
  +breakpoint($bp-mobile-max)
    float: left
    padding-top: 0
  .copyright
    font-family: $font-demi
