// Footer

#footer
  .region-footer
    +clearfix
    padding: 40px 0
    position: relative
    top: 0
    .page-alumni &
      +breakpoint(768px max-width)
        padding-bottom: 0
    +breakpoint($bp-mobile-max)
      padding: 20px 0

#footer-wrapper
  background: #f4f4f4
  .page-insights &
    background: $white
    border-top: 0

// General footer menu styles
#block-menu-menu-footer-1,
#block-menu-menu-footer-2,
#block-menu-menu-footer-alumni-section
  width: 23.077%
  a
    font-family: $font-demi
    font-size: 18px
    font-weight: normal
    line-height: 1.3
    margin-bottom: 6px
  li
    line-height: 0
    margin-bottom: 20px
    &:last-of-type
      a
        margin-bottom: 0

#block-menu-menu-footer-1,
#block-menu-menu-footer-alumni-section
  clear: none
  float: left
  margin-left: 25.642%
  margin-right: -100%
  +breakpoint(999px max-width)
    margin-left: 35%

#block-menu-menu-footer-2
  clear: none
  float: left
  margin-left: 51.28205%
  margin-right: 0
  +breakpoint(999px max-width)
    clear: left
    margin-left: 35%
    margin-right: -100%

// Email sign up
#block-gsb-public-custom-blocks-gpcb-enews-signup
  clear: right
  float: none
  margin-left: 76.92308%
  margin-right: 0
  width: 23.077%
  +breakpoint(999px max-width)
    margin-left: 68.12308%

// Title
.signup-label
  color: $text-black
  cursor: default
  font-family: $font-sans
  font-size: 20px
  font-weight: bold
  line-height: 1.3
  margin-bottom: 18px

// Description
.signup-description
  cursor: default
  font-size: 18px
  line-height: 1.3
  margin-bottom: 20px

// Signup wrapper
.signup-wrapper
  +clearfix

// Email wrapper
.signup-email-wrapper
  margin-right: -40px
  padding-right: 40px
  width: 100%

// Email input
input.signup-email
  border: 1px $border-grey solid
  +box-shadow(none)
  +border-radius(0)
  float: left
  height: 36px
  line-height: 1
  width: 100%
  &:focus
    outline: none
    +box-shadow(none)
    border: 1px #900 solid

// Submit button
input.signup-submit
  background: $red
  border: none
  +border-radius(0 20px 20px 0)
  color: $white
  float: left
  font-size: 14px
  font-family: $font-sans
  font-weight: bold
  height: 36px
  line-height: 2.25
  margin: 0
  margin-left: -1px
  text-align: center
  text-shadow: none
  text-transform: uppercase
  width: 41px
  &:hover
    background: $link-blue

// Footer columns
#block-gsb-public-custom-blocks-gpcb-follow-us,
#block-menu-menu-footer-1,
#block-menu-menu-footer-2,
#block-gsb-public-custom-blocks-gpcb-enews-signup,
#block-menu-menu-footer-alumni-section
  +breakpoint(999px max-width)
    max-width: 350px
    width: 30%
  +breakpoint(768px max-width)
    float: none
    margin: 0
    margin-bottom: 20px
    width: 100%
    &:last-of-type
      margin-bottom: 0

#block-menu-menu-footer-1
  +breakpoint(768px max-width)
    margin-bottom: 0

// Legal and Copyright region

// Copyright and address
.gsb-footer-meta
  color: $text-grey-light
  font-size: 14px
  line-height: 1.5
  padding: 12px 0
  +breakpoint(800px max-width)
    float: none
    padding-top: 0
  .copyright
    font-family: $font-demi

// EE Footer
.page-exec-ed #footer
  .block
    margin-bottom: 24px
    max-width: 335px
    &:last-of-type
      margin-bottom: 0
    +breakpoint(1205px max-width)
      width: 28%
    +breakpoint(740px max-width)
      width: 100%
  .region-footer
    +breakpoint(740px min-width)
      +flex-box
      -webkit-box-flex-flow: row wrap
      -moz-box-flex-flow: row wrap
      -ms-flexbox-flex-flow: row wrap
      -webkit-flex-flex-flow: row wrap
      flex-flow: row wrap
      -webkit-box-justify-content: space-between
      -moz-box-justify-content: space-between
      -ms-flexbox-justify-content: space-between
      -webkit-flex-justify-content: space-between
      justify-content: space-between
    #block-menu-menu-executive-education-footer .menu
      text-align: right
      +breakpoint(740px max-width)
        text-align: left

// Follow links
#block-menu-menu-executive-education-footer,
#block-menu-menu-seed-footer
  a
    display: inline-block
    font-family: $font-demi
    font-size: 18px
    font-weight: normal
    line-height: 1.3
    margin-bottom: 6px

// Seed Footer
.page-seed #footer
  .block
    margin-bottom: 24px
    max-width: 335px
  .region-footer
    +breakpoint(740px min-width)
      +flex-box
      -webkit-box-flex-flow: row wrap
      -moz-box-flex-flow: row wrap
      -ms-flexbox-flex-flow: row wrap
      -webkit-flex-flex-flow: row wrap
      flex-flow: row wrap
      -webkit-box-justify-content: space-between
      -moz-box-justify-content: space-between
      -ms-flexbox-justify-content: space-between
      -webkit-flex-justify-content: space-between
      justify-content: space-between

//New footer theming code start
#gsb-footer-one
  .region-footer-one
    padding: 60px 0px 34px 0px
    +breakpoint($bp-tablet-port-max)
      padding: 10px 0 0px 0px
      float: left
      width: 100%
      margin-top: 20px
      border-bottom: 1px solid #c4c4c4
      margin-bottom: 5px

//Footer two region
#gsb-footer-two
  +breakpoint($bp-tablet-port-max)
    display: inline-block
    width: 100%
  .region-footer-two
    +clearfix
    padding: 0
    position: relative
    top: 0
    clear: both

#gsb-footer-three
  .region-footer-three
    +clearfix
    padding: 0px 0 70px 0
    position: relative
    top: 0
    clear: both
    +breakpoint($bp-tablet-port-max)
      padding-bottom: 0px

#gsb-footer-two
  #block-block-37,
  #block-block-41
    width: 24%
    clear: none
    float: left
    +breakpoint($bp-tablet-port-max)
      width: 100%
      float: left
      padding-top: 20px
      padding-bottom: 20px

#gsb-footer-two   
  #block-menu-menu-footer-1,
  #block-menu-menu-footer-alumni-section
    width: 30%
    margin-left: 23%
    +breakpoint($bp-tablet-port-max)
      width: 100%
      float: left
      margin: 0
      padding-top: 15px
    .content
      border-right: 1px solid #c4c4c4
      padding-right: 25px
      +breakpoint($bp-tablet-port-max)
        border-right: none
        padding-right: 0px

#gsb-footer-two
  #block-menu-menu-footer-2,
  #block-menu-menu-section-menu-alumni-footer-
    margin-left: 50.28205%
    top: 0
    +breakpoint($bp-tablet-port-max)
      margin-left: 0px
      float: left
      width: 100%
      margin: 0
    .content
      border-right: 1px solid #c4c4c4
      padding-right: 25px
      +breakpoint($bp-tablet-port-max)
        border-right: none
        padding-right: 0px

#gsb-footer-two
  #block-menu-menu-footer-alumni-section
    li
      text-align: right
      +breakpoint($bp-tablet-port-max)
        text-align: left
      a
        +breakpoint($bp-tablet-port-max)
          font-size: 14px

#gsb-footer-two
  #block-menu-menu-section-menu-alumni-footer-
    li
      text-align: right
      margin-bottom: 25px
      display: block
      +breakpoint($bp-tablet-port-max)
        text-align: left
    a
      font-family: $font-demi
      font-size: 18px
      font-weight: normal
      line-height: 1.3
      +breakpoint($bp-tablet-port-max)
        font-size: 14px
    li:first-of-type:after
      content: none
      margin: 0

#gsb-footer-two
  #block-menu-menu-footer-1 li, 
  #block-menu-menu-footer-2 li
    text-align: right
    margin-bottom: 25px
    +breakpoint($bp-tablet-port-max)
      text-align: left
    a
      +breakpoint($bp-tablet-port-max)
        font-size: 14px

#gsb-footer-one
  #block-gsb-public-custom-blocks-gpcb-footer-logo
    width: 40%
    float: left
    display: inline-block
    +breakpoint($bp-tablet-port-max)
      width: 100%
      border-bottom: 1px solid #c4c4c4
      padding-bottom: 20px
      
#gsb-footer-one
  #block-gsb-public-custom-blocks-gpcb-follow-us
    width: 44%
    margin-right: -7%
    float: right
    display: inline-block
    +breakpoint($bp-tablet-port-max)
      float: left
      width: 100%
      margin-bottom: 0px
      padding-bottom: 25px
      border-bottom: none
      padding-top: 10px
    h2
      float: left
      padding-right: 45px
      border-bottom: none
      padding-top: 10px
      font-size: 18px
      +breakpoint($bp-tablet-port-max)
        width: 100%
        float: left
      a
        +breakpoint($bp-tablet-port-max)
          font-size: 14px

    .icon-wrapper
      max-width: 330px
      li:first-of-type
        width: 15%
      li:nth-of-type(2n)
        width: 20%
      li:nth-of-type(3n)
        width: 18%
      li:nth-of-type(2n)
        width: 18%
      li:last-of-type
        width: 16%
      +breakpoint($bp-tablet-port-max)
        width: 100%
        float: left
      a.social-block-twitter
        +icon-after("twitter", true)
          color: #990000
          line-height: 1.2
          &:hover
            color: #FFFFFF !important
      a.social-block-youtube
        +icon-after("youtube", true)
          color: #990000
          line-height: 1.2
          &:hover
            color: #FFFFFF !important
      a.social-block-linkedin
        +icon-after("linkedin", true)
          color: #990000
          line-height: 1.2
          &:hover
            color: #FFFFFF !important
      a.social-block-facebook
        +icon-after("facebook", true)
          color: #990000
          line-height: 1.2
          &:hover
            color: #FFFFFF !important
      .circle
        border: 2px solid #990000
        background: none
        width: 44px
        height: 44px
        &:hover
          background: $link-blue !important
          border: none !important
          &:after
            color: $white !important

#ftr-logo
  margin-top: 0px
  .svg &
    background-size: 98.8%
    height: 75px
    width: 200px
  +breakpoint($bp-tablet-port-max)
    .svg &, .no-js &, .no-svg &
      float: left
      height: 54px
      left: 0px
      position: relative
      width: 185px
    .page-insights &,
    .page-404 &
      left: 0
  +breakpoint($bp-tablet-land)
    .svg &, .no-js &, .no-svg &
      float: left
      height: 54px
      left: 0px
      position: relative
      width: 185px
    .page-insights &,
    .page-404 &
      left: 0

#block-block-41,
#block-block-37
  .gsb-footer-address
    border-left: 1px solid #c4c4c4
    .address
      color: $text-black
      font-size: 18px
      font-weight: normal
      line-height: 1.5
      padding-left: 25px
      +breakpoint($bp-tablet-port-max)
        font-size: 14px
        float: left
    +breakpoint($bp-tablet-port-max)
      border-left: none
      font-size: 14px
      float: left
      padding: 20px 0
      width: 100%

#block-menu-menu-footer-4
  +breakpoint($bp-tablet-port-max)
    width: 100%
    float: left
  li
    float: left
    font-size: 18px
    color: #990000
    +breakpoint($bp-tablet-port-max)
      font-size: 14px
  li:after
    color: #c4c4c4
    content: "|"
    margin-left: 15px
  li:nth-of-type(2n)
    padding-left: 15px
  li.last
    padding-left: 15px
    &:after
      content: none
      margin-left: 0px

#legal-new
  background-color: #990000
  +breakpoint($bp-content-max)
    padding: 0 20px
  .region-legal-new
    margin: 0 auto
    max-width: $max-width
    padding: 15px 0
    +breakpoint($bp-content-max)
      padding-bottom: 20px
    .gsb-footer-meta
      color: #c4c4c4
      font-family: $font-demi
      font-weight: normal
      font-size: 14px
    #block-menu-menu-footer-3-new
      color: #FFFFFF
      font-family: $font-demi
      font-weight: normal
      font-size: 14px
      float: right
      padding: 11px 0
      +breakpoint($bp-tablet-port-max)
        padding-top: 10px
        padding-bottom: 0px
        float: none
        position: relative
      .content
        color: #FFFFFF
        a
          color: #FFFFFF
        a:hover:after
          color: #FFFFFF
      li
        display: inline-block
        margin-right: 40px
        +breakpoint($bp-tablet-port-max)
          padding-bottom: 20px
          display: block
          margin: 4px 0
      li:first-of-type
        margin-left: 5px
      li:last-of-type
        margin-right: 0

    #block-block-46,
    #block-block-38
      +breakpoint($bp-tablet-port-max)
        padding-bottom: 20px

.footer-border
  border-top: 3px solid #990000

.page-insights
  .footer-border
    border-top: 3px solid #990000 !important

.social-block-insta
  color: #FFFFFF
  display: block
  margin: 0 auto
  width: 44px
  height: 44px
  .svg &
    background: image_url("icon-insta-active.svg") no-repeat !important
    background-size: 98% !important
  &:after
    content: none !important
  &:hover
    .svg &
      background: image_url("icon-insta-hover.svg") no-repeat !important
      background-size: 98% !important
        