// Files FPP

.pane-bundle-files

  // Pane title
  .field-name-field-title
    font-family: $font-demi
    font-size: 20px
    line-height: 1.3
    margin-bottom: 12px

  .field-name-field-file-unlimited-private,
  .field-name-field-file-unlimited-public
    div
      line-height: 0
      margin-bottom: 8px
    a
      font-family: $font-demi
      font-size: 18px
      line-height: 1.3


  // Private files
  .field-name-field-file-unlimited-private



  // Public files
  .field-name-field-file-unlimited-public


