// Featured Content FPP

.pane-bundle-featured-content

  // Pane title
  .field-name-field-title
    font-family: $font-demi
    font-size: 24px
    font-weight: normal
    line-height: 1.3

  // Layout for image
  .left.second-column
    float: left
    max-width: 65%
    +breakpoint(1212px max-width)
      max-width: 49%
    +breakpoint(999px max-width)
      max-width: 65%
    +breakpoint(825px max-width)
      max-width: 50%
    +breakpoint(768px max-width)
      max-width: 100%
  .right
    float: right
    +breakpoint(768px max-width)
      float: none

  // Hide image in narrow view
  .narrow-view &
    .left.second-column
      float: none
      max-width: 100%
    .right
      display: none

  // Featured content item
  ul
    @extend %divider-bottom
    margin: 0
  li
    margin-bottom: 18px
    &:last-of-type
      margin-bottom: 0

  .field-collection-item-field-featured-item
    @extend %divider-top


  // Superhead label
  .field-name-field-related-other-label
    @extend %superhead-black
    margin-bottom: 18px

  // Offsite source
  .field-name-field-publisher
    display: block
    margin-bottom: 8px

  // Event date
  .field-name-field-event-date
    font-size: 16px
    line-height: 1.2
    margin-bottom: 8px

  // Media icons
  .media-icon.Video,
  .media-icon.Audio,
  .media-icon.Infographic
    &:after
      font-size: 22px

  // Title
  .field-name-title,
  .field-name-field-title,
  .field-name-field-link-single
    display: inline
    margin-bottom: 12px
    h2
      display: inline
      line-height: 0
      a
        font-family: $font-sans
        font-size: 22px
        font-weight: bold
        line-height: 1.3

  // Event location
  .field-name-field-address
    font-size: 18px
    font-family: $font-demi
    line-height: 1.3
    margin: 4px 0

  // Book authors
  .gsb_field_formatter_field_collection_separator
    margin: 8px 0
  .field-name-field-authors
    font-family: $font-demi
    font-size: 18px
    line-height: 1.3
    margin-bottom: 8px

  // Description
  .field-name-field-editorial-summary
    font-size: 18px
    line-height: 1.3
    margin-top: 8px

  // Image
  .field-name-field-image-single-public
    .narrow-view &
      display: none
    +breakpoint(768px max-width)
      display: none
    img
      max-width: 150px

  // Show more show less link
  .show-more-less-toggler
    background: $teal-dark
    color: $white
    font-size: 16px
    font-weight: bold
    line-height: 2.2
    margin-left: 0
    padding: 10px 16px
    &:before
      color: $white !important
      float: none
      left: -6px
      top: -1px
    &:hover
      background: $link-blue
      text-decoration: underline
