// People FPP

// Person field style
%person-field
  color: $black
  font-size: 16px
  line-height: 1.3

.pane-bundle-people
  .wide-view &
    margin-top: 30px
    margin-bottom: 30px !important

  // Content row style
  .person-row
    @extend %divider-top
    .wide-view &
      +clearfix

  // Wrappers
  .person-wrapper-name-title,
  .person-wrapper-info
    @extend %person-field
    margin-bottom: 12px
  .person-wrapper-info
    div
      margin-bottom: 2px
      &:last-of-type
        margin-bottom: 0

  // Name
  .person-name
    font-family: $font-sans
    font-weight: bold
    margin-bottom: 3px
    a
      color: $link-green
      &:hover
        color: $link-blue

  // Position, rank and area
  .person-rank-and-area,
  .person-position,
  .person-staff-title-position-0,
  .person-staff-title-position-1,
  .person-staff-title-position-2
    margin-bottom: 3px

  // Alumni professional title
  .person-alumni-title
    font-family: $font-demi

  // Phone
  .person-phone
    font-size: 14px

  // Email
  .person-email a
    color: $link-green
    font-size: 14px
    +icon-after("email-stroke", true)
    &:hover
      color: $link-blue
    &:after
      font-size: 12px
      margin-left: 5px

  // Description
  .person-description
    @extend %person-field
    margin-bottom: 24px

// Layouts

// 1 Column layout
.person-list-view,
.person-list-view-container
  .narrow-view &
    @extend %box-shadow
    background: $white
    padding: $standard-padding

  // Pane title
  .field-name-field-title
    line-height: 1
    margin-bottom: 20px
    .wide-view &
      font-family: $font-demi
      font-size: 24px
      font-weight: normal
    .narrow-view &
      font-family: $font-sans
      font-size: 20px
      font-weight: bold

  // Image
  img
    margin-top: 2px
    .wide-view &
      float: left
      margin-bottom: 24px
      margin-right: 24px
      height: 120px
      width: 120px
    .narrow-view &
      height: 90px
      width: 90px

  // Person wrapper
  .person-fpp-wrapper
    .wide-view &
      float: left
      margin-left: -144px
      padding-left: 144px
      width: 100%

  // Name
  .person-name
    .wide-view &
      font-size: 18px
      padding-top: 12px
      a
        font-size: 20px
    .narrow-view &
      margin-top: 8px

  // Title, Role, Program field and rank field
  .person-rank-and-area,
  .person-position
    .wide-view &
      font-size: 16px
      line-height: 1.3

  // Info wrapper
  .person-wrapper-info
    .narrow-view &
      font-size: 14px
  // Phone
  .person-phone
    .wide-view &
      font-size: 15px
  // Email
  .person-email a
    .wide-view &
      font-size: 16px

// Container styling
.person-list-view-container
  @extend %box-shadow
  background: $white
  padding: $standard-padding

// 2 Column layout
.person-grid-view
  +clearfix

  .person-row
    float: left
    width: 270px
    &:nth-of-type(even)
      margin-right: 30px
    +breakpoint(1211px 1000px)
      width: 100%
      &:nth-of-type(even)
        margin-right: 0
    +breakpoint(910px max-width)
      width: 100%
      &:nth-of-type(even)
        margin-right: 0

  // Pane title
  .field-name-field-title
    font-size: 26px
    font-family: $font-demi
    font-weight: normal
    line-height: 1.3
    margin-bottom: 20px

  // Image
  img
    float: left
    margin-bottom: 24px
    margin-top: 2px
    margin-right: 16px
    height: 90px
    width: 90px

  // Person wrapper
  .person-fpp-wrapper.use-photo
    float: left
    margin-left: -106px
    padding-left: 106px
    width: 100%

  // Name
  .person-name
    padding-top: 12px

  // Info wrapper
  .person-wrapper-info
    font-size: 14px

  // Description
  .person-description
    .wide-view &
      font-size: 14px
