// Links FPP

.pane-bundle-links
  a[href*="mailto:"]
    +icon-after("email-stroke", true)
    &:after
      font-size: 12px
      margin-left: 5px

  // Black bar with red links
  .black-bar
    @extend %bg-and-box-shadow

    // Title
    .field-name-field-title
      @extend %black-border-top
      color: $text-black
      font-family: $font-demi
      font-size: 18px
      line-height: 1.3
      margin: 0 $standard-padding
      padding-top: 12px

    // Links
    .field-name-field-link-unlimited
      padding: 14px $standard-padding
      .field-item
        line-height: 0
        padding-bottom: 8px
        &:last-of-type
          padding-bottom: 0
      a
        font-family: $font-demi
        font-size: 16px
        line-height: 1.3
        &[target=_blank]
          &:after
            font-size: 10px
        &[href$=".pdf"]
          &:after
            font-size: 14px

  // Green links
  .green-bar
    +container-green-links

  // Stanford logo links
  .stanford-links
    position: relative
    padding: 6px $standard-padding 20px
    +background(linear-gradient(top, #e3dac7, #ebe5d9))
    @include filter-gradient(#ebe5d9, #e3dac7, vertical)
    min-height: 75px
    &:before
      content: ""
      width: 100%
      display: block
      height: 3px
      top: -6px
      position: relative
      background-color: $grey-med
    &:after
      content: ""
      +background(image_url("stanford_logo.png") 0 0 no-repeat)
      width: 41px
      height: 41px
      display: block
      position: absolute
      right: 25px
      top: 20px
    .field-name-field-link-unlimited
      padding-right: 30%
      padding-top: 13px
      .field-item
        line-height: 1
        padding-bottom: 9px
        &:last-of-type
          padding-bottom: 0
      a
        font-size: 16px
        font-weight: bold
        line-height: 1.3
        &[target=_blank]
          &:after
            color: #949494
            font-size: 10px
          &[href$=".pdf"]
            &:after
              font-size: 12px
    .field-name-field-title
      display: none
