// Files FPP

.pane-bundle-files

  // Pane title
  .field-name-field-title
    font-family: $font-demi
    font-size: 20px
    line-height: 1.3
    margin-bottom: 12px
    +breakpoint(400px max-width)
      font-size: 18px

  // File links
  .field-name-field-file-unlimited-private,
  .field-name-field-file-unlimited-public
    div
      line-height: 0
      margin-bottom: 8px
      &:last-of-type
        margin-bottom: 0
    a
      font-family: $font-demi
      font-size: 18px
      line-height: 1.3
      +breakpoint(400px max-width)
        font-size: 16px
        &:after
          font-size: 12px
      &:after
        font-size: 14px
      .narrow-view &
        font-size: 16px
        &:after
          font-size: 12px
  // Private file spacing
  .field-name-field-file-unlimited-private
    margin-top: 8px

  // Private files
  .field-name-field-file-unlimited-private
    .file
      +icon-before("lock", true)
      &:before
        color: #bcbcbc
        font-size: 14px
        position: relative
        top: -1px

  // Container style
  .container
    @extend %bg-border-and-box-shadow
    padding: 0 $standard-padding 20px
    // Pane title
    .field-name-field-title
      @extend %black-border-top
      margin-bottom: 12px
      padding-top: 12px
      .narrow-view &
        font-size: 18px
