// People FPP

.pane-bundle-people

  .person-field
    color: $black
    font-size: 16px
    font-weight: normal
    line-height: 1.1
    margin-top: 4px

  // Content row style
  .person-row
    border-top: 2px solid #e4e4e4
    margin-top: 12px
    .wide-view &
      +clearfix
      margin-top: 24px

  // Name
  .person-name
    font-family: $font-demi
    a
      color: $link-green
      &:hover
        color: $link-blue

  // Rank
  .person-rank-and-area
    margin-top: 4px

  // Title, Role, Program
  .person-position
    margin-top: 4px

  // Phone
  .person-phone
    font-size: 14px

  // Email
  .person-email a
    color: $link-green
    font-size: 14px
    +icon-after("email-stroke", true)
    &:hover
      color: $link-blue
    &:after
      font-size: 12px
      margin-left: 3px

  // Description
  .person-quote
    font-size: 14px
    line-height: 1.2
    margin-top: 12px

// Layouts

// List
.person-list-view
  .narrow-view &
    @extend %bg-border-and-box-shadow
    padding: $standard-padding

  // Pane Title
  .field-name-field-title
    line-height: 1
    .wide-view &
      font-family: $font-demi
      font-size: 26px
      font-weight: normal
    .narrow-view &
      font-family: $font-sans
      font-size: 20px
      font-weight: bold

  // Image
  img
    margin-top: 2px
    .wide-view &
      float: left
      margin-right: 24px
      height: 120px
      width: 120px
    .narrow-view &
      height: 90px
      width: 90px

  // Information wrapper
  .person-fpp-wrapper
    .wide-view &
      float: left
      margin-left: -144px
      padding-left: 144px
      width: 100%

  // Name
  .person-name
    .wide-view &
      padding-top: 12px
      a
        font-size: 18px
    .narrow-view &
      margin-top: 8px

// Grid
.person-grid-view
  +clearfix

  // Grid
  .person-row
    float: left
    width: 270px
    &:nth-of-type(even)
      margin-right: 30px

  // Pane title
  .field-name-field-title
    font-size: 26px
    font-family: $font-demi
    font-weight: normal
    line-height: 1.2

  // Image
  img
    float: left
    margin-top: 2px
    margin-right: 16px
    height: 90px
    width: 90px

  // Information wrapper
  .person-fpp-wrapper.use-photo
    float: left
    margin-left: -106px
    padding-left: 106px
    width: 100%

  // Name
  .person-name
    padding-top: 12px
