// Homepage image CTA

.pane-bundle-homepage-cta
  @extend %border-and-box-shadow

  // Gradient overlays
  .fieldable-panels-pane
    position: relative
  .image-cta-color-blue .group-wrapper-content
    +background(linear-gradient(top, rgba(#03659e, 1), rgba(#03659e, 0)))
  .image-cta-color-purple .group-wrapper-content
    +background(linear-gradient(top, rgba(#97185d, 1), rgba(#572440, 0)))
  .image-cta-color-lime .group-wrapper-content
    +background(linear-gradient(top, rgba(#919900, 1), rgba(#919900, 0)))
  .image-cta-color-teal .group-wrapper-content
    +background(linear-gradient(top, rgba(#009c84, 1), rgba(#009c84, 0)))
  .image-cta-color-pink .group-wrapper-content
    +background(linear-gradient(top, rgba(#e64097, 1), rgba(#e64097, 0)))

  // Image
  img
    display: block

  // Content wrapper
  .group-wrapper-content
    height: 100%
    padding: $standard-padding
    position: absolute
    top: 0
    width: 100%
    +breakpoint($bp-mobile)
      padding: 20px
    &.hover
      +background(linear-gradient(top, rgba(#014872, 1), rgba(#014872, 0)))

  // Superhead
  .field-name-field-title
    color: $white
    font-size: 16px
    line-height: 1.2
    margin-bottom: 8px

  // Title (Uses field-name-field-homepage-cta-text as the link title)
  .field-name-field-link-single
    line-height: 0
    a
      color: $white
      font-size: 40px
      line-height: 1.2
      +breakpoint(999px max-width)
        font-size: 32px
      +breakpoint(800px max-width)
        font-size: 24px
      +breakpoint(750px max-width)
        font-size: 40px
      +breakpoint(568px max-width)
        font-size: 32px
      +breakpoint(480px max-width)
        font-size: 24px
      +breakpoint($bp-mobile-max)
        font-size: 18px
      +icon-after("arrow-double-right", true)
      &:after
        color: $green-light
        font-size: 24px
        position: relative
        left: 5px
        +breakpoint(999px max-width)
          font-size: 20px
        +breakpoint(750px max-width)
          font-size: 18px
        +breakpoint($bp-mobile-max)
          font-size: 12px
      &:hover
        color: $white
        &:after
          color: $white
