///////////////////
// House Ads
// Design doc: https://docs.google.com/a/stanford.edu/document/d/1lloxvAInDIPPMjVsYZ7_eh7jPRtR8UVCX_8a8aKAb74
///////////////////

.pane-bundle-house-ads
  @extend %box-shadow
  background-color: $white
  padding: $standard-padding

  .group-left
    position: relative
    top 0

  // Superhead
  .field-name-field-superhead
    background: $text-black
    color: $white
    font-family: $font-demi
    font-weight: normal
    font-size: 14px
    line-height: 1.2
    margin-left: 26px
    padding: 6px 8px
    position: absolute
    +breakpoint(568px 321px)
      .narrow-view &
        margin-left: 52px
        top: 26px

  // Image
  .field-name-field-image-single-public
    margin-bottom: 12px
    > img
      vertical-align: top

  // Title
  .field-name-field-link-single a
    font-weight: bold
    font-size: 20px
    color: $text-black
    +icon-after("arrow-double-right", true)
    &:after
      color: $green-light
      font-size: 12px
      margin-left: 3px
    &:hover
      color: $link-blue
      &:after
        color: $teal-light

  // Description
  .field-name-field-body
    margin: 12px 0
    overflow: hidden
    p
      font-size: 16px
      line-height: 1.2
      margin-bottom: 0

  // Show more
  .show-more
    @extend %show-more-link

// Side view styling
.wide-view
  .pane-bundle-house-ads
    +clearfix
    .field-name-field-image-single-public
      float: left
      margin-right: 26px

// Narrow view styling
.narrow-view
  .pane-bundle-house-ads
    padding: 0 0 $standard-padding 0
    .field-name-field-link-single,
    .field-name-field-body
      padding: 0 $standard-padding
    .field-name-field-image-single-public,
    .field-name-field-link-single,
    .field-name-field-body
      clear: both
      +breakpoint($bp-mobile-max)
        clear: none
    .show-more
      padding-right: $standard-padding

//////////////////////
// Responsive
//////////////////////
.wide-view,
.narrow-view
  .pane-bundle-house-ads
    +breakpoint($bp-mobile-480)
      .field-name-field-body,
      .field-name-field-link-single
        clear: both
      .field-name-field-image-single-public
        margin-right: 0

// Image has padding
.wide-view
  .pane-bundle-house-ads
    +breakpoint($bp-tablet-port-max)
      .field-name-field-link-single,
      .field-name-field-body
        clear: both
    +breakpoint($bp-mobile-max)
      .field-name-field-link-single,
      .field-name-field-body
        clear: both

// Image fills container width
.narrow-view
  .pane-bundle-house-ads
    +breakpoint($bp-mobile-max)
      .field-name-field-image-single-public
        padding: $standard-padding
        padding-bottom: 0
      .field-name-field-link-single,
      .field-name-field-body
        clear: both
    +breakpoint($bp-mobile)
      width: 270px
      .field-name-field-image-single-public
        margin: 0 -26px 12px -26px
        padding-top: 0
