// Executive Education & SEED main menus
.md-megamenu.md-megamenu-seed-main-menu,
.md-megamenu.md-megamenu-executive-edu-main-menu
  background: $grey-hp-7
  border-bottom: 0
  color: $white
  .awemenu
    .awemenu-item-level-1
      border-right: 1px solid $grey-9b
      a
        color: $white
        font-family: $font-demi
        font-size: 16px
        font-weight: normal
        line-height: 1.3
        text-transform: none
        &:hover
          box-shadow: none
        +breakpoint($bp-for-phone-tablet-range)
          color: $red

  .awemenu-submenu.awemenu-megamenu
    +breakpoint($bp-for-desktop-up)
      width: 602px !important
      left: auto !important
      right: 0 !important
      top: 70px !important
    .awemenu-megamenu-wrapper
      ul
        li
          padding: 5px 0
          a
            &:hover
              box-shadow: none

.md-megamenu.md-megamenu-seed-main-menu
  +breakpoint($bp-for-desktop-up)
    .awemenu-item-1-1
      width: 103px
    .awemenu-item-1-2
      width: 133px
    .awemenu-item-1-3
      width: 133px
    .awemenu-item-1-4
      width: 130px
    .awemenu-item-1-5
      width: 104px
      span.awemenu-item-title
        line-height: 2
      a
        padding-bottom: 28px

.md-megamenu.md-megamenu-executive-edu-main-menu
  +breakpoint($bp-for-desktop-up)
    .awemenu-item-1-3,
    .awemenu-item-1-4
      span.awemenu-item-title
        line-height: 2
    .awemenu-item-1-1
      max-width: 135px
    .awemenu-item-1-2
      max-width: 129px
    .awemenu-item-1-3
      max-width: 142px
      a
        padding-bottom: 28px
    .awemenu-item-1-4
      max-width: 142px
      a
        padding-bottom: 28px

// Full width//
#block-menu-menu-executive-education-mega-me,
#block-menu-menu-mega-menu-seed
  +clearfix
  background: $grey-hp-7
  +breakpoint(1170px min-width)
    float: right
    margin-right: 60px
    overflow: visible
  .search-open &
    +breakpoint(1170px min-width)
      float: right
  li
    +breakpoint($bp-wide-min)
      border-top: $top-border-interval $red-dark solid
    font-size: 16px
    font-weight: normal
    float: left
    line-height: 1.2
    list-style-type: none
    list-style-image: none
    margin: 0
    padding: 0
    &:last-of-type
      border-right: 0
    .menu
      display: none
    a
      border-right: 1px $grey-9b solid
      color: $white
      display: block
      font-family: $font-demi
      font-size: 16px
      font-weight: normal
      margin: 0
      position: relative
      text-transform: none
      +breakpoint(1170px min-width)
        display: inline-block
        &.active,
        &.active-trail
          background: $grey-64
        &:hover,
        &.qtip-hover
          background: $text-black
      +breakpoint($bp-mobile)
        max-width: 250px

    // Mobile
    +breakpoint(1169px max-width)
      background: $white
      border: 0
      border-bottom: 1px solid $grey-d5
      display: block
      float: none
      min-height: 50px
      width: 100%
      a
        color: $red
        padding: 15px 0
        position: relative
        left: 55px
      +icon-before("plus", true)
      &:before
        color: $red
        float: left
        font-size: 14px
        position: relative
        top: 18px
        left: 20px
      &.open
        +icon-before("minus", false)
        .menu
          display: block
      li
        border-bottom: 0
        a
          font-size: 14px
          padding-left: 40px
        &:before
          content: ""
        &.open
          &:before
            content: ""



// Exec Ed Menu only
#block-menu-menu-executive-education-mega-me
  +breakpoint(1170px min-width)
    li a
      max-width: 129px
      min-height: 78px
      padding: 22px 14px 18px
    li:first-of-type
      a
        max-width: 117px

// SEED Menu only
.md-megamenu.md-megamenu-seed-main-menu
  .awemenu-submenu.awemenu-megamenu
    +breakpoint($bp-for-desktop-up)
      margin-top: 8px
      width: 603px !important
  .awemenu-container
    +breakpoint($bp-for-phone-only)
      width: 100% !important
  +breakpoint(1170px min-width)
    li a
      max-width: 133px
      min-height: 59px
      padding: 19px 16px
    li:first-of-type,
    li:last-of-type
      a
        max-width: 104px

// Executive Education Menu only
.md-megamenu.md-megamenu-executive-edu-main-menu
  .awemenu-submenu.awemenu-megamenu
    +breakpoint($bp-for-desktop-up)
      width: 550px !important
      margin-top: 8px
  +breakpoint(1170px min-width)
    li a
      min-height: 59px
      padding: 19px 16px

  // Mobile overrides
.md-mobile-style1.awemenu-mobile-standard
  .awemenu
    .awemenu-submenu
      background: $white
      .leaf
        a
          color: $text-black
    .awemenu-item.awemenu-active > a
      background-color: $grey-d8
      color: $red
      &:hover
        color: $red

.md-mobile-style1.md-megamenu-seed-main-menu.awemenu-mobile-standard
  .awemenu-item
    a
      color: $red


.md-mobile-style1.awemenu-mobile-standard .awemenu .awemenu-item.awemenu-active > a
  color: $red