// Executive Education & SEED main menus

// Full width
#block-menu-menu-executive-education-mega-me,
#block-menu-menu-mega-menu-seed
  +clearfix
  background: #7d7466
  float: left
  +breakpoint(1169px max-width)
    float: none

  li
    +breakpoint($bp-wide-min)
      border-top: $top-border-interval $red-dark solid
    font-size: 16px
    font-weight: normal
    float: left
    line-height: 1.2
    list-style-type: none
    list-style-image: none
    margin: 0
    padding: 0
    &:last-of-type
      border-right: 0
    .menu
      display: none
    a
      border-right: 1px #9b9285 solid
      color: $white
      display: block
      font-family: $font-demi
      margin: 0
      position: relative
      +breakpoint(1170px min-width)
        display: inline-block
        &.active,
        &.active-trail
          background: #645c51
        &:hover,
        &.qtip-hover
          background: $text-black
      +breakpoint($bp-mobile)
        max-width: 250px

    // Mobile
    +breakpoint(1169px max-width)
      background: $white
      border: 0
      border-bottom: 1px solid #d5d5d5
      display: block
      float: none
      min-height: 50px
      width: 100%
      a
        color: $red
        padding: 15px 0
        position: relative
        left: 55px
      +icon-before("plus", true)
      &:before
        color: $red
        float: left
        font-size: 14px
        position: relative
        top: 18px
        left: 20px
      &.open
        +icon-before("minus", false)
        .menu
          display: block
      li
        border-bottom: 0
        a
          font-size: 14px
          padding-left: 40px
        &:before
          content: ""
        &.open
          &:before
            content: ""

// Exec Ed Menu only
#block-menu-menu-executive-education-mega-me
  +breakpoint(1170px min-width)
    li a
      max-width: 129px
      min-height: 78px
      padding: 22px 14px 18px
    li:first-of-type
      a
        max-width: 110px

// SEED Menu only
#block-menu-menu-mega-menu-seed
  +breakpoint(1170px min-width)
    li a
      max-width: 133px
      min-height: 59px
      padding: 19px 16px
    li:first-of-type,
    li:last-of-type
      a
        max-width: 104px
