//////////////////
// PAGE NOT FOUND
//////////////////

.error-page
  #content a
    color: $red
    border: none
    &:hover
      color: $text-blue
  .panel-display .inner-main-wrapper
    margin-right: 0
  #content-wrapper
    background: none
  &.page-not-found #content-wrapper:before,
  &.page-not-found #content-wrapper:after,
  .pane-bundle-text
    box-shadow: none
    -webkit-box-shadow: none
    -moz-box-shadow: none
  .pane-bundle-text
    background: none
    border: none
    padding: 0
  #page-title,
  &.page-not-found #search-touch-button,
  .pane-node-field-addthis,
    display: none
  .left
    float: left
    width: 30%
  .page-title
    font-weight: normal
    line-height: normal
    font-size: 76px
    float: left
    span
      position: relative
      top: -20px
      font-size: 20px
      display: block
      line-height: normal
      text-align: center
  .error-wrapper
    overflow: hidden
    .larger-text
      font-size: 32px
    ol
      margin-bottom: 0
  .field-name-field-body
    ul li:before
      content: ""
  &.page-not-found .menu-wrapper,
  .bryant-content .pane-block,
  .bryant-content .pane-fieldable-panels-pane
    width: 32%
    float: left
    margin-right: 1%
    +breakpoint($bp-mobile-max)
      width: 100%
      margin-right: 0
    h2
      color: $grey-6
      font-size: 24px
      padding-top: 0
    a
      font-size: 16px

  &.page-not-found
    #header-wrapper #header
      +breakpoint($bp-mobile-max)
        min-height: 80px
    .error-wrapper
      margin-bottom: 40px
    .left,
    .error-wrapper
      +breakpoint($bp-mobile-max)
        clear: both
        float: none
        width: 100%
        margin-right: 0
    .menu-wrapper
      margin-bottom: 30px
