////////////////////
// PAGER
////////////////////

.item-list .pager li
  padding: 0

.pager-region
  border-top: 3px solid $text-black
  padding-left: $standard-padding
  margin-bottom: 30px
  .item-list
    display: inline-block
    margin-right: 2px
    vertical-align: top
    ul,
    ul li
      margin: 0
      padding: 0
  a
    color: $white
    font-size: 16px
    font-weight: bold
    line-height: 2.2
    &:hover
      background: $link-blue
      text-decoration: underline

// Load more link
.pager-load-more
  a
    background: $teal-dark
    padding: 12px 16px
    position: relative
    +icon-before("arrow-med-down", true)
    &:before
      font-size: 12px
      line-height: 0
      position: relative
      left: -7px
      top: -1px

// Back to top link
.additional-links a
  background: $text-black
  padding: 9px 16px 10px

// NO RESULTS TEXT
.view-empty
  font-weight: bold
  margin: 24px
