// Pagers

.item-list .pager li
  padding: 0

.pager-region
  border-top: 3px solid $text-black
  padding-left: $standard-padding
  margin-bottom: 60px
  +breakpoint(335px max-width)
    padding-left: 0
  .item-list
    display: inline-block
    margin-right: 2px
    vertical-align: top
    ul,
    ul li
      margin: 0
      padding: 0
  a
    color: $white
    font-size: 16px
    font-weight: bold
    line-height: 2.2
    padding: 10px 16px
    &:hover
      background: $link-blue
      text-decoration: underline

// Load more link
.pager-load-more
  a
    background: $teal-dark
    +icon-before("arrow-med-down", true)
    &:before
      font-size: 12px
      position: relative
      left: -7px
      top: -1px

// Back to top link
.additional-links
  overflow: hidden
  a
    background: $text-black

// NO RESULTS TEXT
.view-empty
  font-weight: bold
  margin: 24px
