// Custom select box styling

.customSelect
  @extend %border-grey
  background: $white
  color: $text-black
  font-family: $font-demi
  font-size: 14px
  +icon-after("arrow-med-down", true)
  &:after
    background-color: #f9f9f9
    border-left: 1px solid $grey-c
    color: $red
    display: inline-block
    float: right
    font-size: 14px
    line-height: 2.6
    height: 36px
    padding: 0 8px

// Input field
.customSelectInner
  padding: 6px
