// Slideshow

ul.slideshow-items
  list-style: none
  margin: 0
  padding: 0

.slick-slide
  position: relative

// Arrows
.slick-arrow
  background-image: none
  display: block
  height: 40px
  line-height: 6
  opacity: 1
  overflow: hidden
  position: absolute
  right: 0
  width: 34px
  z-index: 2
  .full-view &,
  .front &
    top: 16px
  .wide-view &
    top: 15px
  &:before,
  &:after
    position: absolute
  +icon-before("circle", true)
  &:before
    color: $green-light
    font-size: 35px
    top: 0
    left: 0
  &:after
    color: $white
    font-size: 16px
    top: 9px
  &:hover
    &:before
      color: $link-blue
    &:after
      color: $white

// Previous arrow
.flex-prev
  left: inherit
  right: 80px
  +icon-after("arrow-med-left", true)
  &:after
    left: 8px

// Next arrow
.flex-next
  left: inherit
  right: 20px
  +icon-after("arrow-med-right", true)
  &:after
    left: 11px

// Slideshow wrapper
.slideshow-wrapper
  +clearfix
  position: relative
  bottom: 0
  .front &,
  .full-view &
    height: 265px
    +breakpoint(999px max-width)
      height: 243px
    +breakpoint(690px max-width)
      height: initial
  li
    background: $white

  // Slide
  .slick-slide
    @extend %box-shadow
    .front &
      -moz-box-shadow: none
      -webkit-box-shadow: none
      box-shadow: none
      position: relative

  // Image
  .field-type-image
    .front &,
    .full-view &
      float: left
      max-width: 570px
      width: 74%
      +breakpoint(690px max-width)
        float: none
        max-width: 100%
        width: 100%
    img
      width: 100%

// Slide text wrapper
.slide-text-wrapper
  padding: 22px
  position: relative
  top: 0
  .front &,
  .full-view &
    height: 265px
    right: 0
    position: absolute
    width: 300px
    +breakpoint(999px max-width)
      height: 242px
    .inner-wrapper
      bottom: 26px
      padding-right: 20px
      position: absolute
    +breakpoint(690px max-width)
      bottom: 0
      float: none
      height: initial
      max-width: 100%
      padding: 4%
      position: relative
      width: 100%
      .inner-wrapper
        bottom: initial
        padding-right: 0
        position: initial
  .wide-view &
    +breakpoint(690px max-width)
      padding: 4%

  // Superhead - Not linked
  .field-name-field-superhead
    color: $white
    font-family: $font-demi
    font-size: 13px
    line-height: 1
    margin: 10px 0

  // Text - Not linked
  .field-name-field-text-slide
    color: $white
    font-size: 20px
    line-height: 1.2

  // Superhead - Link
  .slide-superhead
    color: $white
    font-family: $font-demi
    font-size: 13px
    line-height: 1
    margin-bottom: 10px
    &[target="_blank"]
      &:after
        content: ""

  // Text - Link
  .slide-text
    color: $white
    font-size: 20px
    line-height: 1.2
    +icon-after("arrow-double-right", true)
    &:after
      color: $green-light
      font-size: 14px
      margin-left: 3px
    &:hover
      color: $white
      border-bottom: 1px solid
      text-decoration: none
      &:after
        color: $white
        border-bottom: 0
    .field-name-field-text-slide
      display: inline

// Color styles for opaque
.pane-bundle-slideshow
  @extend %divider-bottom
  // Blue
  .slide-color-blue
    background: $blue-bright

  // Purple
  .slide-color-purple
    background: $purple-bright

  // Teal
  .slide-color-brightteal
    background: $teal-bright

  // Pink
  .slide-color-pink
    background: $pink-bright

  // Charcoal
  .slide-color-charcoal
    background: $text-black

  // White
  .slide-color-white
    background: $white
    // Superhead - Not Linked
    .field-name-field-superhead
      color: $text-black
    // Superhead - Linked
    .slide-superhead
      color: $red
      .field-name-field-superhead
        color: $red
        &:hover
          color: $link-blue
      &:hover
        border: none
        color: $link-blue
        text-decoration: underline
    // Text - not linked
    .field-name-field-text-slide
      color: $text-black
    // Text - Linked
    .slide-text
      color: $text-black
      &:hover
        border-bottom: 1px $link-blue solid
        .field-name-field-text-slide
          color: $link-blue
        &:after
          color: $teal-light

// Hero slideshow
.hero-region-slideshow-wrapper
  +breakpoint(1000px max-width)
    display: none

  // Arrows
  .arrow-wrapper
    margin: 0 auto
    max-width: 1170px
    position: relative
    top: 32px
    +breakpoint(1210px max-width)
      margin-right: 20px

  .flex-next,
  .flex-prev
    &:focus
      color: $white

  // Slide
  .slick-slide
    bottom: 0
    height: 400px

  // Image wrapper
  .field-name-field-image-single-public
    height: 100%
    overflow: hidden
    img
      -o-object-fit: cover
      object-fit: cover
      height: 52vh
      width: 100vw
  // Text wrapper
  .slide-text-wrapper
    height: 0
    margin: 0 auto
    max-width: 1170px
    padding: 0
    .inner-wrapper
      margin: 20px 0 20px 700px
      max-width: 480px
      min-height: 360px
      position: relative
      bottom: 400px
      +breakpoint(1400px max-width)
        margin-left: 600px
        max-width: initial
      +breakpoint(1205px max-width)
        margin-right: 20px
      +breakpoint(1200px max-width)
        margin-left: 500px

    .text-wrapper
      max-height: 340px
      min-width: 470px
      padding: $standard-padding
      position: absolute
      bottom: 0

  // Superhead
  .slide-superhead,
  .field-name-field-superhead
    font-size: 16px
  // Text
  .slide-text,
  .field-name-field-text-slide
    font-size: 30px
    line-height: 1.4
    &:after
      font-size: 18px

  // Color styles
  // Blue
  .slide-color-blue .inner-wrapper
    background: $blue-bright
    +background(linear-gradient(bottom, rgba($blue-bright, 0.95), rgba($blue-bright, 0.7)))

  // Purple
  .slide-color-purple .inner-wrapper
    background: $purple-bright
    +background(linear-gradient(bottom, rgba($purple-bright, 0.95), rgba($purple-bright, 0.7)))

  // Teal
  .slide-color-brightteal .inner-wrapper
    background: $teal-bright
    +background(linear-gradient(bottom, rgba($teal-bright, 0.95), rgba($teal-bright, 0.7)))

  // Pink
  .slide-color-pink .inner-wrapper
    background: $pink-bright
    +background(linear-gradient(bottom, rgba($pink-bright, 0.95), rgba($pink-bright, 0.7)))

  // Charcoal
  .slide-color-charcoal .inner-wrapper
    background: $text-black
    +background(linear-gradient(bottom, rgba($text-black, 0.95), rgba($text-black, 0.7)))

  // White
  .slide-color-white .inner-wrapper
    background: $white
    +background(linear-gradient(bottom, rgba($white, 0.95), rgba($white, 0.7)))
    // Superhead - Not Linked
    .field-name-field-superhead
      color: $text-black
    // Superhead - Linked
    a.slide-superhead
      color: $red
      .field-name-field-superhead
        color: $red
    // Text - Linked
    .slide-text
      color: $text-black
      &:hover
        color: $link-blue
        border-bottom: none
        .field-name-field-text-slide
          color: $text-blue
          border-bottom: 1px solid $text-blue
        &:after
          color: $teal-light
    // Text - not linked
    .field-name-field-text-slide
      color: $text-black
