//////////////
// Slideshows
//////////////

ul.slideshow-items
  list-style: none
  margin: 0
  padding: 0
  li
    display: none
    &:first-of-type
      display: block

// Hide pager
.flex-control-nav
  display: none

.flex-viewport
  overflow: visible !important

// SLIDESHOW ARROWS
.flex-direction-nav
  display: block
  height: 40px
  position: absolute
  right: 0
  bottom: 130px
  .front &,
  .full-view &
    +breakpoint(691px min-width)
      top: 10px
    +breakpoint(690px max-width)
      bottom: 75px
      top: initial
    +breakpoint($bp-mobile-480)
      bottom: 70px
    +breakpoint(390px max-width)
      bottom: 95px
  .wide-view &
    bottom: 75px
    +breakpoint($bp-mobile-480)
      bottom: 70px
    +breakpoint(390px max-width)
      bottom: 95px

  // Circles
  a
    background-image: none
    opacity: 1
    width: 34px
    height: 32px
    &:before, &:after
      position: absolute
      text-indent: 0
    &:hover
      &:before
        color: $link-blue
    +icon-before("circle", true)
    &:before
      color: $green-light
      font-size: 36px
      top: 0
      left: 0
    &:after
      color: $white
      font-size: 16px
      top: 8px
      left: 0

    // Arrows
    // Previous arrow
    &.flex-prev
      left: inherit
      right: 80px
      +icon-after("arrow-med-left", true)
      &:after
        left: 10px

    // Next arrow
    &.flex-next
      right: 20px
      +icon-after("arrow-med-right", true)
      &:after
        left: 12px


// SLIDESHOW WRAPPER
.slideshow-wrapper
  @extend %border-and-box-shadow
  +clearfix
  background: $white
  position: relative
  bottom: 0
  .front &,
  .full-view &
    height: 265px
    +breakpoint(999px max-width)
      height: 243px
    +breakpoint(690px max-width)
      height: initial
  li
    background: $white

  // Image
  .field-type-image
    .front &,
    .full-view &
      float: left
      max-width: 570px
      width: 66%
      +breakpoint(690px max-width)
        float: none
        max-width: 100%
        width: 100%
    img
      width: 100%

// Slide text wrapper
.slide-text-wrapper
  padding: 22px
  .front &,
  .full-view &
    position: relative
    bottom: -50px
    height: 260px
    bottom: 0
    float: left
    max-width: 300px
    right: 0
    width: 34%
    +breakpoint(999px max-width)
      height: 243px
    .inner
      bottom: 26px
      position: absolute
    +breakpoint(690px max-width)
      float: none
      height: initial
      margin-top: 33px
      max-width: 100%
      padding: 4%
      width: 100%
      .inner
        bottom: initial
        position: initial
  .wide-view &
    margin-top: 33px
    +breakpoint(690px max-width)
      padding: 4%


  // Superhead - Not linked
  .field-name-field-superhead
    font-size: 13px
    p
      color: $text-black
      font-size: 13px
      font-family: $font-demi
      line-height: 1
      margin-bottom: 10px

  // Text - Not linked
  .field-name-field-text-slide
    color: $text-black
    p
      font-size: 20px
      line-height: 1.2
      margin-bottom: 0

  // Superhead - Link
  .slide-superhead .field-name-field-superhead
    a
      font-size: 13px
    p
      color: $red
      font-size: 13px
      font-family: $font-demi
      line-height: 1
      margin-bottom: 10px
      &:hover
        color: $link-blue

  // Text - Link
  .slide-text
    +icon-after("arrow-double-right", true)
    &:after
      color: $green-light
      font-size: 16px
    &:hover
      &:after
        color: $teal-light
    .field-name-field-text-slide
      display: inline
      p
        font-size: 20px
        line-height: 1.2
        display: inline
        margin: 0
      &:hover
        color: $link-blue
