// VIDEO

$bp-video: 627px min-width

.pane-bundle-video,
.node-gsb-video
  .gsb-image-video-popup
    margin-bottom: 26px
    .wide-view &
      +breakpoint(768px min-width)
        margin-bottom: 0
  .gsb-responsive-preview
    margin-bottom: 17px
    position: relative
    .content img
      display: block
      +breakpoint(768px 569px)
        width: 100%
      +breakpoint($bp-mobile-480)
        width: 100%
  .gsb-responsive-main
    clear: both
    .content div
      margin: 0 auto

// Video fpp
.pane-bundle-video
  @extend %bg-and-box-shadow
  padding: $standard-padding
  +clearfix

  // Title
  .field-name-field-title
    color: $text-black
    font-size: 22px
    font-weight: bold
    line-height: 1.2
    margin-bottom: 12px

  // Description
  .field-name-field-body
    font-size: 16px
    line-height: 1.2
    margin: 12px 0
    max-width: 600px
    overflow: hidden

// Videos in slideshows
.full-view .slideshow-cta
  .slideshow-slide
    .gsb-image-video-popup
      a.fancybox
        &:before
          margin-left: -96px
        &:after
          margin-left: -74px

.slideshow-simple
  .slideshow-slide
    .gsb-image-video-popup
      a.fancybox
        &:before
          margin-left: -130px
          margin-top: -80px
        &:after
          margin-top: -61px
          margin-left: -108px

// Main video responsive play button and width
.gsb-image-video-popup
  margin-right: 26px
  max-width: 270px
  +breakpoint(768px 569px)
    margin-right: 0
  +breakpoint($bp-mobile-480)
    margin-right: 0
  .slideshow-slide &
    margin-right: 0px
    max-width: 627px

  a.fancybox
    max-width: 100%
    position: relative
    display: inline-block
    &:before, &:after
      position: absolute
      z-index: 50
      top: 50%
      left: 50%
      .slideshow-cta &
        +breakpoint($bp-mobile-max)
          left: 63%
        +breakpoint($bp-mobile)
          left: 73%

    +icon-before("circle", true)
    &:before
      font-size: 64px
      color: rgba(0, 0, 0, 0.5)
      margin-top: -40px
      margin-left: -32px

    +icon-after("play", true)
    &:after
      font-size: 21px
      color: $white
      margin-top: -21px
      margin-left: -10px

    &:hover
      &:before
        color: rgba(0,0,0,1)
      &:after
        color: $blue-light
  &.image
    a
      display: none
      &:before,
      &:after
        display: none

// CSS to handle the Preview and Video switching
.field-type-file
  .gsb-responsive-main .file-video
    display: none
    +breakpoint($bp-video)
      display: block
  .gsb-responsive-preview .file-video
    a
      position: relative
      display: inline-block
      &:before, &:after
        position: absolute
        top: 50%
        left: 50%
      +icon-before("circle", true)
      &:before
        font-size: 64px
        color: rgba(0, 0, 0, 0.8)
        margin-top: -40px
        margin-left: -32px
      +icon-after("play", true)
      &:after
        font-size: 21px
        color: $white
        margin-top: -21px
        margin-left: -10px
      &:hover
        &:before
          color: rgba(0,0,0,1)
        &:after
          color: $blue-light
    +breakpoint($bp-video)
      display: none

// Fix only for the landing one layout in sidebar
.narrow-view
  .field-type-file
    .gsb-responsive-main .file-video
      display: none
    .gsb-responsive-preview .file-video
      display: block

// Always hide the main video for spotlight and teaser mode of video ct, always show preview
.pane-bundle-spotlight,
.node-gsb-video.view-mode-teaser
  .gsb-responsive-main .file-video
    display: none !important
  .gsb-responsive-preview .file-video
    display: block !important
  .video-play-icon
    display: none
