// WYSIWYG Styles

// Intro copy
.intro-copy
  font-size: 24px !important
  line-height: 1.4 !important

// Captions
.caption-left
  float: left
  margin: 4px 16px 4px 0
.caption-right
  float: right
  margin: 4px 0 4px 16px

// Callout
div.callout
  float: left
  margin: 0 20px 20px 0
  max-width: 430px
  width: 60%
  color: $teal-dark
  font-size: 22px
  line-height: 28px
  .narrow-view &
    float: none
    font-size: 18px
    line-height: 28px
    margin: 0
    width: 100%

  br
    line-height: 2em
    vertical-align: top

// Footnote
.footnote
  font-size: 12px
  line-height: 1.2

// WYSIWYG body text
.format-wysiwyg,
.field-name-field-body
  ul, ol
    @extend %p
    margin: 0 0 20px 0
    padding: 0
    li
      margin-bottom: 8px
  ol
    padding-left: 36px
  ul
    position: relative
    left: 0
    li
      padding-left: 15px
      &:before
        content: "• "
        color: $text-blue
        position: absolute
        left: 0
  table
    ul, ol
      font-size: 14px
      line-height: 1.2
  a
    border-bottom: dashed 1px $link-green
    color: $link-green
    text-decoration: none
    word-wrap: break-word
    &:hover
      border-bottom: solid 1px $link-blue
      color: $link-blue
    &[href*="mailto:"]
      +icon-after("email-stroke", true)
      &:after
        font-size: 10px
        margin-left: 3px
  img
    vertical-align: top
  // Headers
  h2
    color: $text-black
    font-size: 24px
    font-weight: normal
    line-height: 1.2
    margin: 6px 0 10px
  h3
    color: $text-black
    font-family: $font-demi
    font-size: 20px
    font-weight: normal
    line-height: 1.2
    margin: 3px 0 4px
  h4
    color: $text-black
    font-family: $font-demi
    font-size: 18px
    font-weight: normal
    line-height: 1.2
    margin-bottom: 4px
  h5
    color: $text-blue
    font-size: 18px
    line-height: 1.2
    margin-bottom: 3px
  h2, h3, h4, h5
    a
      border-bottom: 0
      color: $text-black
      &:after
        color: $green-light
      &:not([target="_blank"])
        +icon-after("arrow-double-right", true)
        &:after
          font-size: 0.7em
          margin-left: 3px
      &:hover
        border: none
        text-decoration: underline
        &:after
          color: $teal-light
  p,
  ul,
  ol,
  li
    &:last-child
      margin-bottom: 0 !important

  // Tables
  table
    margin: 20px 0
    +breakpoint(768px max-width)
      margin: 0
  caption
    color: $text-blue
    font-family: $font-demi
    font-size: 18px
    font-weight: normal
    line-height: 1em
    margin-bottom: 20px
  thead
    tr th
      background: #d5e7e4
      border-top: 1px solid $teal-light
      padding: 16px 12px
  tbody
    border-bottom: 1px solid $teal-light
    tr
      background: #f5f5f5
      border-top: 1px solid $teal-light
      &:nth-of-type(odd)
        background-color: $white
    tr th
      background: $grey-d
      padding: 16px 12px
    td
      padding: 16px 12px
      a
        color: $text-green
        font-weight: bold
        border-bottom: none
      p
        font-size: 14px
        line-height: 18px

// Styles for the actual wysiwyg body
.cke_show_borders
  table
    td
      border: 1px solid $grey-c
      padding: 3px

// Caption for image fpp
.pane-bundle-image figcaption
  color: #595959
  font-size: 14px
  line-height: 1.2
  margin-top: 12px
  max-width: 650px
