/* Icon font setup: http://jaydenseric.com/blog/font-icons-like-a-boss-with-sass-and-font-custom */
@font-face {
  font-family: "icons";
  src: url("../fonts/icons/icons.eot");
  src: url("../fonts/icons/icons.eot?#iefix") format("embedded-opentype"), url("../fonts/icons/icons.woff") format("woff"), url("../fonts/icons/icons.ttf") format("truetype"), url("../fonts/icons/icons.svg#icons") format("svg");
  font-weight: normal;
  font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "icons";
    src: url("../fonts/icons/icons.svg#icons") format("svg");
  }
}
/* Font icon pseudo-element base styles */
.view-display-id-book_listing .views-exposed-form {
  border-bottom: 1px #cccccc solid;
}

.view-display-id-book_listing .views-exposed-form .form-type-select .bef-checkboxes {
  -moz-column-count: 3;
  -webkit-column-count: 3;
  column-count: 3;
}
.view-display-id-book_listing .view-content .views-row {
  border-bottom: 1px #231f20 solid;
}
.view-display-id-book_listing .view-content .views-row:last-of-type {
  border-bottom: 0;
}

.node-book.view-mode-teaser_listing {
  overflow: hidden;
  *zoom: 1;
}
.node-book.view-mode-teaser_listing .left.second-column {
  float: left;
  max-width: 70%;
}
.node-book.view-mode-teaser_listing .right {
  float: right;
}
@media (max-width: 46.875em) {
  .node-book.view-mode-teaser_listing .right {
    max-width: 85px;
  }
}
@media (min-width: 35.5625em) and (max-width: 38.9375em) {
  .node-book.view-mode-teaser_listing .right {
    max-width: 50px;
  }
}
@media (min-width: 30em) and (max-width: 35.5em) {
  .node-book.view-mode-teaser_listing .right {
    max-width: 85px;
  }
}
@media (max-width: 30em) {
  .node-book.view-mode-teaser_listing .right {
    max-width: 50px;
  }
}
.node-book.view-mode-teaser_listing .field-name-field-image-single-public {
  max-width: 100px;
}
.node-book.view-mode-teaser_listing .field-name-field-authors {
  display: inline;
}
