#gsb-cmis-download-auth .case-login a:after {
  font-size: 21px;
  font-weight: normal;
  line-height: 0;
  margin-top: -10px;
  position: absolute;
  right: 12px;
  top: 50%;
}

#gsb-cmis-download-auth .case-login {
  background: white;
}

#gsb-cmis-download-auth .case-login {
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  margin: 1px;
}

.page-gsb-cmis-gsb-cmis-download-auth .breadcrumb,
.page-gsb-cmis-gsb-cmis-download-auth .title-wrapper {
  display: none;
}

#gsb-cmis-download-auth .case-login {
  color: #c2b7a1;
  margin-bottom: 12px;
  max-width: 570px;
}
#gsb-cmis-download-auth .case-login a {
  display: block;
  font-size: 20px;
  line-height: 1.2;
  padding: 14px 55px 11px 26px;
  position: relative;
}
@media (max-width: 25em) {
  #gsb-cmis-download-auth .case-login a {
    font-size: 16px;
  }
}
#gsb-cmis-download-auth .case-login a:after {
  content: "\f101";
  display: inline;
  speak: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-transform: none;
  line-height: 1;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'icons';
}
#gsb-cmis-download-auth .case-login a:after {
  color: #c2b7a1;
}
#gsb-cmis-download-auth .case-login a:hover:after {
  color: #aac4bf;
}
