.view-display-id-case_listing .views-exposed-form {
  border-bottom: 1px #cccccc solid;
}

.view-display-id-case_listing .view-content .views-row {
  border-bottom: 1px #231f20 solid;
}
.view-display-id-case_listing .view-content .views-row:last-of-type {
  border-bottom: 0;
}
.view-display-id-case_listing .view-mode-teaser_listing .field-name-title h2 {
  display: inline;
}
.view-display-id-case_listing .views-widget-filter-secondary .form-type-select.case-availability .form-type-select {
  border-bottom: none;
  display: inline-block;
  margin-bottom: 0;
  max-width: 153px;
  padding-bottom: 0;
  padding-left: 0;
}
@media (max-width: 75.625em) {
  .view-display-id-case_listing .views-widget-filter-secondary .form-type-select.case-availability .form-type-select {
    display: block;
  }
}
.view-display-id-case_listing .views-widget-filter-secondary .form-type-select.case-availability .form-item-field-has-harvard-link-value {
  margin-left: 11px;
}
@media (max-width: 75.625em) {
  .view-display-id-case_listing .views-widget-filter-secondary .form-type-select.case-availability .form-item-field-has-harvard-link-value {
    margin-left: 0;
  }
}
.view-display-id-case_listing .views-widget-filter-secondary .form-type-select.case-availability .form-item-field-has-case-center-value {
  margin-left: 12px;
}
@media (max-width: 75.625em) {
  .view-display-id-case_listing .views-widget-filter-secondary .form-type-select.case-availability .form-item-field-has-case-center-value {
    margin-left: 0;
  }
}

.node-case.view-mode-teaser_listing .field-name-field-author {
  margin-top: 6px;
}

.case-product-icon {
  display: none;
}

.case-product-icon.Video {
  display: inline;
}
.case-product-icon.Video:before {
  content: "\f122";
  speak: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-transform: none;
  line-height: 1;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'icons';
}
.case-product-icon.Video:before {
  color: #2d6280;
  font-size: 24px;
  line-height: 0;
}
