.node-working-paper.view-mode-full .field-name-field-description,
.node-working-paper.view-mode-full .field-name-field-body,
.node-case.view-mode-full .field-name-field-description,
.node-case.view-mode-full .field-name-field-body,
.node-book.view-mode-full .field-name-field-description,
.node-book.view-mode-full .field-name-field-body,
.node-publication.view-mode-full .field-name-field-description,
.node-publication.view-mode-full .field-name-field-body {
  font-size: 18px;
  line-height: 1.4;
}
@media (max-width: 43.75em) {
  .node-working-paper.view-mode-full .field-name-field-description,
  .node-working-paper.view-mode-full .field-name-field-body,
  .node-case.view-mode-full .field-name-field-description,
  .node-case.view-mode-full .field-name-field-body,
  .node-book.view-mode-full .field-name-field-description,
  .node-book.view-mode-full .field-name-field-body,
  .node-publication.view-mode-full .field-name-field-description,
  .node-publication.view-mode-full .field-name-field-body {
    font-size: 16px;
  }
}

.node-working-paper.view-mode-full.ds-2col > .group-left .group-left-inner,
.node-case.view-mode-full.ds-2col > .group-left .group-left-inner,
.node-book.view-mode-full.ds-2col > .group-left .group-left-inner,
.node-publication.view-mode-full.ds-2col > .group-left .group-left-inner {
  border-top: 3px #231f20 solid;
}

.node-working-paper.view-mode-full.ds-2col > .group-left,
.node-case.view-mode-full.ds-2col > .group-left,
.node-book.view-mode-full.ds-2col > .group-left,
.node-publication.view-mode-full.ds-2col > .group-left {
  margin-right: -300px;
  width: 100%;
}
@media (max-width: 43.75em) {
  .node-working-paper.view-mode-full.ds-2col > .group-left,
  .node-case.view-mode-full.ds-2col > .group-left,
  .node-book.view-mode-full.ds-2col > .group-left,
  .node-publication.view-mode-full.ds-2col > .group-left {
    margin-right: 0;
    margin-bottom: 20px;
  }
}
@media (max-width: 35.5em) {
  .node-working-paper.view-mode-full.ds-2col > .group-left,
  .node-case.view-mode-full.ds-2col > .group-left,
  .node-book.view-mode-full.ds-2col > .group-left,
  .node-publication.view-mode-full.ds-2col > .group-left {
    border-top: 0;
    padding-top: 0;
  }
}
.node-working-paper.view-mode-full.ds-2col > .group-left .group-left-inner,
.node-case.view-mode-full.ds-2col > .group-left .group-left-inner,
.node-book.view-mode-full.ds-2col > .group-left .group-left-inner,
.node-publication.view-mode-full.ds-2col > .group-left .group-left-inner {
  margin-right: 300px;
  padding-top: 2px;
}
@media (max-width: 43.75em) {
  .node-working-paper.view-mode-full.ds-2col > .group-left .group-left-inner,
  .node-case.view-mode-full.ds-2col > .group-left .group-left-inner,
  .node-book.view-mode-full.ds-2col > .group-left .group-left-inner,
  .node-publication.view-mode-full.ds-2col > .group-left .group-left-inner {
    margin-right: 0;
  }
}
.node-working-paper.view-mode-full.ds-2col > .group-left img,
.node-case.view-mode-full.ds-2col > .group-left img,
.node-book.view-mode-full.ds-2col > .group-left img,
.node-publication.view-mode-full.ds-2col > .group-left img {
  display: block;
}
.node-working-paper.view-mode-full.ds-2col > .group-right,
.node-case.view-mode-full.ds-2col > .group-right,
.node-book.view-mode-full.ds-2col > .group-right,
.node-publication.view-mode-full.ds-2col > .group-right {
  float: right;
  width: 270px;
}
@media (max-width: 43.75em) {
  .node-working-paper.view-mode-full.ds-2col > .group-right,
  .node-case.view-mode-full.ds-2col > .group-right,
  .node-book.view-mode-full.ds-2col > .group-right,
  .node-publication.view-mode-full.ds-2col > .group-right {
    float: left;
    margin-left: 0;
    width: 100%;
  }
}
.node-working-paper.view-mode-full .gsb_field_formatter_field_collection_separator .label-inline,
.node-case.view-mode-full .gsb_field_formatter_field_collection_separator .label-inline,
.node-book.view-mode-full .gsb_field_formatter_field_collection_separator .label-inline,
.node-publication.view-mode-full .gsb_field_formatter_field_collection_separator .label-inline {
  font-family: "NewsGothicBT-Demi", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
}
.node-working-paper.view-mode-full .field-name-title h2,
.node-case.view-mode-full .field-name-title h2,
.node-book.view-mode-full .field-name-title h2,
.node-publication.view-mode-full .field-name-title h2 {
  color: #231f20;
  font-family: "NewsGothicBT", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 28px;
  font-weight: bold;
  line-height: 1.2;
  margin-top: 25px;
  padding-bottom: 12px;
}
.node-working-paper.view-mode-full .gsb_field_formatter_field_collection_separator,
.node-case.view-mode-full .gsb_field_formatter_field_collection_separator,
.node-book.view-mode-full .gsb_field_formatter_field_collection_separator,
.node-publication.view-mode-full .gsb_field_formatter_field_collection_separator {
  line-height: 0;
}
.node-working-paper.view-mode-full .field-name-field-author,
.node-working-paper.view-mode-full .field-name-field-authors,
.node-case.view-mode-full .field-name-field-author,
.node-case.view-mode-full .field-name-field-authors,
.node-book.view-mode-full .field-name-field-author,
.node-book.view-mode-full .field-name-field-authors,
.node-publication.view-mode-full .field-name-field-author,
.node-publication.view-mode-full .field-name-field-authors {
  font-family: "NewsGothicBT-Demi", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.2;
}
.node-working-paper.view-mode-full .field-name-field-author a,
.node-working-paper.view-mode-full .field-name-field-authors a,
.node-case.view-mode-full .field-name-field-author a,
.node-case.view-mode-full .field-name-field-authors a,
.node-book.view-mode-full .field-name-field-author a,
.node-book.view-mode-full .field-name-field-authors a,
.node-publication.view-mode-full .field-name-field-author a,
.node-publication.view-mode-full .field-name-field-authors a {
  font-weight: normal;
}
.node-working-paper.view-mode-full .field-name-field-author a:hover,
.node-working-paper.view-mode-full .field-name-field-authors a:hover,
.node-case.view-mode-full .field-name-field-author a:hover,
.node-case.view-mode-full .field-name-field-authors a:hover,
.node-book.view-mode-full .field-name-field-author a:hover,
.node-book.view-mode-full .field-name-field-authors a:hover,
.node-publication.view-mode-full .field-name-field-author a:hover,
.node-publication.view-mode-full .field-name-field-authors a:hover {
  color: #2d6280;
}
.node-working-paper.view-mode-full .group-wrapper-taxonomy,
.node-working-paper.view-mode-full .group-wrapper-topics,
.node-case.view-mode-full .group-wrapper-taxonomy,
.node-case.view-mode-full .group-wrapper-topics,
.node-book.view-mode-full .group-wrapper-taxonomy,
.node-book.view-mode-full .group-wrapper-topics,
.node-publication.view-mode-full .group-wrapper-taxonomy,
.node-publication.view-mode-full .group-wrapper-topics {
  font-size: 16px;
  line-height: 1.2;
  margin-top: 6px;
}
.node-working-paper.view-mode-full .group-wrapper-taxonomy h3,
.node-working-paper.view-mode-full .group-wrapper-topics h3,
.node-case.view-mode-full .group-wrapper-taxonomy h3,
.node-case.view-mode-full .group-wrapper-topics h3,
.node-book.view-mode-full .group-wrapper-taxonomy h3,
.node-book.view-mode-full .group-wrapper-topics h3,
.node-publication.view-mode-full .group-wrapper-taxonomy h3,
.node-publication.view-mode-full .group-wrapper-topics h3 {
  display: none;
}
.node-working-paper.view-mode-full .group-wrapper-taxonomy a,
.node-working-paper.view-mode-full .group-wrapper-topics a,
.node-case.view-mode-full .group-wrapper-taxonomy a,
.node-case.view-mode-full .group-wrapper-topics a,
.node-book.view-mode-full .group-wrapper-taxonomy a,
.node-book.view-mode-full .group-wrapper-topics a,
.node-publication.view-mode-full .group-wrapper-taxonomy a,
.node-publication.view-mode-full .group-wrapper-topics a {
  font-weight: normal;
}
.node-working-paper.view-mode-full .group-wrapper-taxonomy a:hover,
.node-working-paper.view-mode-full .group-wrapper-topics a:hover,
.node-case.view-mode-full .group-wrapper-taxonomy a:hover,
.node-case.view-mode-full .group-wrapper-topics a:hover,
.node-book.view-mode-full .group-wrapper-taxonomy a:hover,
.node-book.view-mode-full .group-wrapper-topics a:hover,
.node-publication.view-mode-full .group-wrapper-taxonomy a:hover,
.node-publication.view-mode-full .group-wrapper-topics a:hover {
  color: #2d6280;
}
.node-working-paper.view-mode-full .field-name-field-month,
.node-working-paper.view-mode-full .field-name-field-pub-date-day,
.node-working-paper.view-mode-full .field-name-field-year-of-publication,
.node-working-paper.view-mode-full .field-name-field-year,
.node-working-paper.view-mode-full .field-name-field-item-id,
.node-case.view-mode-full .field-name-field-month,
.node-case.view-mode-full .field-name-field-pub-date-day,
.node-case.view-mode-full .field-name-field-year-of-publication,
.node-case.view-mode-full .field-name-field-year,
.node-case.view-mode-full .field-name-field-item-id,
.node-book.view-mode-full .field-name-field-month,
.node-book.view-mode-full .field-name-field-pub-date-day,
.node-book.view-mode-full .field-name-field-year-of-publication,
.node-book.view-mode-full .field-name-field-year,
.node-book.view-mode-full .field-name-field-item-id,
.node-publication.view-mode-full .field-name-field-month,
.node-publication.view-mode-full .field-name-field-pub-date-day,
.node-publication.view-mode-full .field-name-field-year-of-publication,
.node-publication.view-mode-full .field-name-field-year,
.node-publication.view-mode-full .field-name-field-item-id {
  font-size: 16px;
  line-height: 1.2;
}
.node-working-paper.view-mode-full .field-name-field-description,
.node-working-paper.view-mode-full .field-name-field-body,
.node-case.view-mode-full .field-name-field-description,
.node-case.view-mode-full .field-name-field-body,
.node-book.view-mode-full .field-name-field-description,
.node-book.view-mode-full .field-name-field-body,
.node-publication.view-mode-full .field-name-field-description,
.node-publication.view-mode-full .field-name-field-body {
  margin-bottom: 26px;
  margin-top: 26px;
}
.node-working-paper.view-mode-full .faculty-author-wrapper .node,
.node-case.view-mode-full .faculty-author-wrapper .node,
.node-book.view-mode-full .faculty-author-wrapper .node,
.node-publication.view-mode-full .faculty-author-wrapper .node {
  overflow: hidden;
  *zoom: 1;
  padding: 0 26px 26px;
}
.node-working-paper.view-mode-full .faculty-author-wrapper .field-name-field-image-single-public,
.node-case.view-mode-full .faculty-author-wrapper .field-name-field-image-single-public,
.node-book.view-mode-full .faculty-author-wrapper .field-name-field-image-single-public,
.node-publication.view-mode-full .faculty-author-wrapper .field-name-field-image-single-public {
  float: left;
  margin-right: 12px;
  max-width: 40px;
}
.node-working-paper.view-mode-full .faculty-author-wrapper .group-wrapper-name,
.node-working-paper.view-mode-full .faculty-author-wrapper .field-name-title,
.node-case.view-mode-full .faculty-author-wrapper .group-wrapper-name,
.node-case.view-mode-full .faculty-author-wrapper .field-name-title,
.node-book.view-mode-full .faculty-author-wrapper .group-wrapper-name,
.node-book.view-mode-full .faculty-author-wrapper .field-name-title,
.node-publication.view-mode-full .faculty-author-wrapper .group-wrapper-name,
.node-publication.view-mode-full .faculty-author-wrapper .field-name-title {
  line-height: 0;
}
.node-working-paper.view-mode-full .faculty-author-wrapper .group-wrapper-name a,
.node-working-paper.view-mode-full .faculty-author-wrapper .field-name-title a,
.node-case.view-mode-full .faculty-author-wrapper .group-wrapper-name a,
.node-case.view-mode-full .faculty-author-wrapper .field-name-title a,
.node-book.view-mode-full .faculty-author-wrapper .group-wrapper-name a,
.node-book.view-mode-full .faculty-author-wrapper .field-name-title a,
.node-publication.view-mode-full .faculty-author-wrapper .group-wrapper-name a,
.node-publication.view-mode-full .faculty-author-wrapper .field-name-title a {
  font-family: "NewsGothicBT-Demi", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: inline-block;
  font-size: 16px;
  line-height: 1.3;
  max-width: 164px;
}
.node-working-paper.view-mode-full .faculty-author-wrapper .group-wrapper-position,
.node-working-paper.view-mode-full .faculty-author-wrapper .field-name-field-stanford-degrees-single,
.node-case.view-mode-full .faculty-author-wrapper .group-wrapper-position,
.node-case.view-mode-full .faculty-author-wrapper .field-name-field-stanford-degrees-single,
.node-book.view-mode-full .faculty-author-wrapper .group-wrapper-position,
.node-book.view-mode-full .faculty-author-wrapper .field-name-field-stanford-degrees-single,
.node-publication.view-mode-full .faculty-author-wrapper .group-wrapper-position,
.node-publication.view-mode-full .faculty-author-wrapper .field-name-field-stanford-degrees-single {
  font-size: 16px;
  line-height: 1.3;
}
.node-working-paper.view-mode-full .faculty-author-wrapper .group-wrapper-position,
.node-case.view-mode-full .faculty-author-wrapper .group-wrapper-position,
.node-book.view-mode-full .faculty-author-wrapper .group-wrapper-position,
.node-publication.view-mode-full .faculty-author-wrapper .group-wrapper-position {
  padding-left: 52px;
}
