.view-display-id-publications_listing .views-exposed-form, .view-display-id-all_research_panel_pane .views-exposed-form {
  border-bottom: 1px lightgray solid;
}

.view-display-id-publications_listing .view-content .views-row {
  border-bottom: 1px #c4c4c4 solid;
}
.view-display-id-publications_listing .view-content .views-row:last-of-type {
  border-bottom: 0;
}

.view-display-id-all_research_panel_pane .view-content .views-row {
  border-bottom: 1px #c4c4c4 solid;
}
.view-display-id-all_research_panel_pane .view-content .views-row:last-of-type {
  border-bottom: 0;
}
.view-display-id-all_research_panel_pane .view-mode-compact,
.view-display-id-all_research_panel_pane .view-mode-expanded {
  margin: 26px 0;
}
