.node-publication.view-mode-full .group-wrapper-links {
  border-top: 1px lightgray solid;
}

.node-publication.view-mode-full .group-wrapper-links {
  border-bottom: 1px lightgray solid;
}

.node-publication.view-mode-full .group-wrapper-links a {
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 0 0 1px;
  margin: 1px;
}

.node-publication.view-mode-full .group-wrapper-links a {
  border: none;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  color: white;
  font-family: "NewsGothicBT", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1;
  padding: 10px 16px;
}
.node-publication.view-mode-full .group-wrapper-links a:after {
  color: white !important;
}
.node-publication.view-mode-full .group-wrapper-links a:hover {
  background-color: #2d6280;
  border: 0;
  color: white;
}
.node-publication.view-mode-full .group-wrapper-links a:hover:after {
  color: white !important;
}

.node-publication.view-mode-full .group-wrapper-links a {
  background: #919900;
}

.node-publication.view-mode-full .group-wrapper-links a:after {
  margin-left: 3px;
  font-weight: normal;
}

.node-type-publication #page-title {
  display: none;
}

.node-publication.view-mode-full .group-wrapper-links {
  margin-top: 16px;
  padding: 26px 0;
}
.node-publication.view-mode-full .group-wrapper-links .field {
  display: inline-block;
  vertical-align: bottom;
}
.node-publication.view-mode-full .group-wrapper-links .field:first-of-type {
  margin-right: 6px;
}
.node-publication.view-mode-full .group-wrapper-links .field-name-field-link-single a:after {
  font-size: 12px;
}
.node-publication.view-mode-full .group-wrapper-links .field-name-field-file-single-public a:after {
  font-size: 14px;
}
