.pane-case-filters-panel-pane-1 .see-all a:after,
.pane-publication-filters-panel-pane-1 .see-all a:after,
.pane-working-paper-filters-working-paper-filters-pane .see-all a:after,
.pane-book-filters-book-filters-pane .see-all a:after {
  font-size: 21px;
  font-weight: normal;
  line-height: 0;
  margin-top: -10px;
  position: absolute;
  right: 12px;
  top: 50%;
}

.pane-case-filters-panel-pane-1 .see-all a:after,
.pane-publication-filters-panel-pane-1 .see-all a:after,
.pane-working-paper-filters-working-paper-filters-pane .see-all a:after,
.pane-book-filters-book-filters-pane .see-all a:after {
  font-size: 16px;
  margin-right: 14px;
  margin-top: -8px;
  right: 0;
}

.pane-case-filters-panel-pane-1 .see-all a,
.pane-publication-filters-panel-pane-1 .see-all a,
.pane-working-paper-filters-working-paper-filters-pane .see-all a,
.pane-book-filters-book-filters-pane .see-all a {
  background: #538b80;
  color: white;
  display: block;
  font-family: "NewsGothicBT-Demi", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2;
  padding: 14px 36px 11px 26px;
  position: relative;
  text-align: left;
}
.pane-case-filters-panel-pane-1 .see-all a:after,
.pane-publication-filters-panel-pane-1 .see-all a:after,
.pane-working-paper-filters-working-paper-filters-pane .see-all a:after,
.pane-book-filters-book-filters-pane .see-all a:after {
  content: "\f101";
  display: inline;
  speak: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-transform: none;
  line-height: 1;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'icons';
}
.pane-case-filters-panel-pane-1 .see-all a:after,
.pane-publication-filters-panel-pane-1 .see-all a:after,
.pane-working-paper-filters-working-paper-filters-pane .see-all a:after,
.pane-book-filters-book-filters-pane .see-all a:after {
  color: white;
}
.pane-case-filters-panel-pane-1 .see-all a:hover,
.pane-publication-filters-panel-pane-1 .see-all a:hover,
.pane-working-paper-filters-working-paper-filters-pane .see-all a:hover,
.pane-book-filters-book-filters-pane .see-all a:hover {
  background: #2d6280;
  color: white;
}
.pane-case-filters-panel-pane-1 .see-all a:hover:after,
.pane-publication-filters-panel-pane-1 .see-all a:hover:after,
.pane-working-paper-filters-working-paper-filters-pane .see-all a:hover:after,
.pane-book-filters-book-filters-pane .see-all a:hover:after {
  color: white;
}

.pane-case-filters-panel-pane-1,
.pane-publication-filters-panel-pane-1,
.pane-working-paper-filters-working-paper-filters-pane,
.pane-book-filters-book-filters-pane {
  background: -moz-linear-gradient(top, #e7e7e7, #f0f0f0);
  background: -o-linear-gradient(top, #e7e7e7, #f0f0f0);
  background: -webkit-linear-gradient(top, #e7e7e7, #f0f0f0);
  background: linear-gradient(to bottom, #e7e7e7, #f0f0f0);
}

.pane-case-filters-panel-pane-1 h2.pane-title,
.pane-publication-filters-panel-pane-1 h2.pane-title,
.pane-working-paper-filters-working-paper-filters-pane h2.pane-title,
.pane-book-filters-book-filters-pane h2.pane-title {
  border-top: 10px #c2b7a1 solid;
}

.view-mode-views_content_pane .field-name-field-link-document a:after {
  margin-left: 3px;
  font-weight: normal;
}

.view-mode-views_content_pane .group-wrapper-title {
  line-height: 1.2;
}
.view-mode-views_content_pane h2 {
  color: #231f20;
  font-size: 20px;
  font-family: "NewsGothicBT", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  line-height: 1.2;
}
@media (max-width: 20em) {
  .view-mode-views_content_pane h2 {
    font-size: 18px;
  }
}
.pane-case-filters-panel-pane-1 .view-mode-views_content_pane h2 {
  display: inline;
}
.pane-case-filters-panel-pane-1 .view-mode-views_content_pane h2 a {
  display: inline;
}
.view-mode-views_content_pane .field-name-field-link-document a {
  font-size: 16px;
}
.view-mode-views_content_pane .field-name-field-link-document a:hover {
  color: #2d6280;
}
.view-mode-views_content_pane .field-name-field-link-document a:after {
  content: "\f118";
  display: inline;
  speak: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-transform: none;
  line-height: 1;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'icons';
}
.view-mode-views_content_pane .field-name-field-link-document a:after {
  font-size: 10px;
}
.view-mode-views_content_pane .gsb_field_formatter_field_collection_separator,
.view-mode-views_content_pane .field-name-field-author {
  line-height: 0;
  margin-bottom: 6px;
  margin-top: 2px;
}
.view-mode-views_content_pane .field-name-field-author,
.view-mode-views_content_pane .field-collection-item-field-authors {
  font-family: "NewsGothicBT-Demi", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.3;
}
.view-mode-views_content_pane .field-name-field-month,
.view-mode-views_content_pane .field-name-field-pub-date-day,
.view-mode-views_content_pane .field-name-field-year-of-publication {
  display: inline-block;
  font-size: 16px;
  line-height: 1.2;
}
.view-mode-views_content_pane .field-name-field-month {
  margin-right: 3px;
}
.view-mode-views_content_pane .comma {
  margin-right: 3px;
}
.view-mode-views_content_pane .field-name-field-year,
.view-mode-views_content_pane .group-wrapper-published {
  font-size: 16px;
  line-height: 1.2;
}
.view-mode-views_content_pane .case-product-icon.Video {
  display: inline;
}
.view-mode-views_content_pane .case-product-icon.Video:before {
  font-size: 20px;
}
