.pane-case-filters-panel-pane-1,
.pane-publication-filters-panel-pane-1 {
  background: -moz-linear-gradient(top, #e7e7e7, #f0f0f0);
  background: -o-linear-gradient(top, #e7e7e7, #f0f0f0);
  background: -webkit-linear-gradient(top, #e7e7e7, #f0f0f0);
  background: linear-gradient(to bottom, #e7e7e7, #f0f0f0);
}

.pane-case-filters-panel-pane-1 h2.pane-title,
.pane-publication-filters-panel-pane-1 h2.pane-title {
  border-top: 10px #c2b7a1 solid;
}

.pane-case-filters-panel-pane-1 .see-all a,
.pane-publication-filters-panel-pane-1 .see-all a {
  background: #538b80;
  color: white;
  display: block;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.2;
  padding: 10px 17px;
  text-align: left;
  position: relative;
}
.pane-case-filters-panel-pane-1 .see-all a:after,
.pane-publication-filters-panel-pane-1 .see-all a:after {
  content: "\f101";
  display: inline;
  speak: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-transform: none;
  line-height: 1;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'icons';
}
.pane-case-filters-panel-pane-1 .see-all a:after,
.pane-publication-filters-panel-pane-1 .see-all a:after {
  color: white;
  font-size: 16px;
  font-weight: normal;
  line-height: 0;
  position: absolute;
  right: 14px;
  top: 50%;
}
.pane-case-filters-panel-pane-1 .see-all a:hover,
.pane-publication-filters-panel-pane-1 .see-all a:hover {
  background: #2d6280;
  color: white;
}
.pane-case-filters-panel-pane-1 .see-all a:hover:after,
.pane-publication-filters-panel-pane-1 .see-all a:hover:after {
  color: white;
}

.view-mode-views_content_pane .field-name-field-link-document a:after {
  margin-left: 3px;
  font-weight: normal;
}
.view-mode-views_content_pane .field-name-field-link-document a:hover:after {
  color: #2d6280;
}

.pane-case-filters-panel-pane-1,
.pane-publication-filters-panel-pane-1 {
  padding: 26px;
  padding-top: 0;
}
.pane-case-filters-panel-pane-1 h2.pane-title,
.pane-publication-filters-panel-pane-1 h2.pane-title {
  color: #231f20;
  display: block;
  font-family: "NewsGothicBT", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.2;
  padding-top: 6px;
}
.pane-case-filters-panel-pane-1 .pane-content,
.pane-publication-filters-panel-pane-1 .pane-content {
  padding-top: 24px;
}

.content-pane-listing .views-row {
  margin-bottom: 12px;
}

.view-mode-views_content_pane .group-wrapper-title {
  line-height: 1.2;
}
.view-mode-views_content_pane h2 {
  color: #231f20;
  font-size: 16px;
  font-family: "NewsGothicBT-Demi", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  line-height: 1.2;
}
.pane-case-filters-panel-pane-1 .view-mode-views_content_pane h2 {
  display: inline;
}
.view-mode-views_content_pane h2 a {
  color: #990000;
}
.pane-case-filters-panel-pane-1 .view-mode-views_content_pane h2 a {
  display: inline;
}
.view-mode-views_content_pane h2 a:hover {
  color: #2d6280;
}
.view-mode-views_content_pane .field-name-field-link-document a {
  font-size: 16px;
}
.view-mode-views_content_pane .field-name-field-link-document a:hover {
  color: #2d6280;
}
.view-mode-views_content_pane .field-name-field-link-document a:after {
  content: "\f118";
  display: inline;
  speak: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-transform: none;
  line-height: 1;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'icons';
}
.view-mode-views_content_pane .field-name-field-link-document a:after {
  font-size: 10px;
}
.view-mode-views_content_pane .gsb_field_formatter_field_collection_separator,
.view-mode-views_content_pane .field-name-field-author {
  line-height: 0;
  margin-bottom: 6px;
  margin-top: 2px;
}
.view-mode-views_content_pane .field-name-field-author,
.view-mode-views_content_pane .field-collection-item-field-authors {
  font-family: "NewsGothicBT-Demi", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2;
}
.view-mode-views_content_pane .field-name-field-year,
.view-mode-views_content_pane .group-wrapper-published {
  font-size: 14px;
  line-height: 1.2;
}

.case-product-icon.Video {
  display: inline;
}
.case-product-icon.Video:before {
  font-size: 20px;
}
