.view-mode-views_content_pane .field-name-field-link-document a:after {
  margin-left: 3px;
  font-weight: normal;
}

.view-mode-views_content_pane .group-wrapper-title {
  line-height: 1.2;
}
.view-mode-views_content_pane h2 {
  color: #231f20;
  font-size: 20px;
  font-family: "NewsGothicBT", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  line-height: 1.2;
}
.pane-case-filters-panel-pane-1 .view-mode-views_content_pane h2 {
  display: inline;
}
.pane-case-filters-panel-pane-1 .view-mode-views_content_pane h2 a {
  display: inline;
}
.view-mode-views_content_pane .field-name-field-link-document a {
  font-size: 16px;
}
.view-mode-views_content_pane .field-name-field-link-document a:hover {
  color: #2d6280;
}
.view-mode-views_content_pane .field-name-field-link-document a:after {
  content: "\f118";
  display: inline;
  speak: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-transform: none;
  line-height: 1;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'icons';
}
.view-mode-views_content_pane .field-name-field-link-document a:after {
  font-size: 10px;
}
.view-mode-views_content_pane .gsb_field_formatter_field_collection_separator,
.view-mode-views_content_pane .field-name-field-author {
  line-height: 0;
  margin-bottom: 6px;
  margin-top: 2px;
}
.view-mode-views_content_pane .field-name-field-author,
.view-mode-views_content_pane .field-collection-item-field-authors {
  font-family: "NewsGothicBT-Demi", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.3;
}
.view-mode-views_content_pane .field-name-field-month,
.view-mode-views_content_pane .field-name-field-pub-date-day,
.view-mode-views_content_pane .field-name-field-year-of-publication {
  display: inline-block;
  font-size: 16px;
  line-height: 1.2;
}
.view-mode-views_content_pane .field-name-field-pub-date-day {
  margin-left: 3px;
}
.view-mode-views_content_pane .field-name-field-year-of-publication {
  margin-left: 3px;
}
.view-mode-views_content_pane .field-name-field-year,
.view-mode-views_content_pane .group-wrapper-published {
  font-size: 16px;
  line-height: 1.2;
}
.view-mode-views_content_pane .case-product-icon.Video {
  display: inline;
}
.view-mode-views_content_pane .case-product-icon.Video:before {
  font-size: 20px;
}
