.view-display-id-working_paper_list .views-exposed-form {
  border-bottom: 1px lightgray solid;
}

.view-display-id-working_paper_list .view-content .views-row {
  border-bottom: 1px #c4c4c4 solid;
}
.view-display-id-working_paper_list .view-content .views-row:last-of-type {
  border-bottom: 0;
}
